[2021-03-29 18:53] vincentqb commented on #1409
Sorry, what I meant is that I do not know how `stft_feat` was generated :) do you have more details about this?

[2021-03-30 02:33] HuangZiliAndy commented on #1409
reconstruct_librosa = librosa.istft(stft_feat.data.cpu().numpy().squeeze(), hop_length=hop_length, win_length=win_length, window='hann', center=center, length=length)
print("reconstruct_librosa", reconstruct_librosa.shape)

reconstruct torch.Size([150016])
reconstruct_librosa (150079,)

Sorry for my late reply, I tried librosa and the output length is correct. My stft_feat is not extracted, it is

[2021-03-30 21:38] cpuhrsch commented on #1408
I'd expect this behavior, because we don't have an optimized CUDA kernel for lfilter. I don't expect it'll be easy to write one for this particular kind of computation, but I haven't done a lot of research into it.

[2021-03-31 02:29] HuangZiliAndy commented on #1409
Any ideas on this? @vincentqb Thanks a lot!

[2021-03-31 23:55] yoyololicon commented on #1375
#1400 is now merged.

[2021-03-31 23:55] #1375 closed

[2021-04-01 00:59] mthrok commented on #1406
@tyoc213 If you are still encountering this issue, can you file a new issue?

[2021-04-01 02:40] mthrok opened #1414 "Autograd tests for Transforms"
Until recent, we have been assumed that ops provided in torchaudio support autograd just because they are implemented with PyTorch. However, this assumption was not correct all the time. For example, in #704, it was pointed out that `lfitler` does not support autograd, and this was resolved in #1310 with proper unit tests by community contribution. Similarly, as a part of #1337, I have added autog

[2021-04-01 03:15] mthrok commented on #252
The new backends should not exhibit this behavior. Closing the issue.

[2021-04-01 03:15] #252 closed

[2021-04-01 05:22] nmfisher commented on #328
[VAD_demo.zip](https://github.com/pytorch/audio/files/6241180/VAD_demo.zip)

Also, torchaudio.compliance.kaldi.mfcc doesn't produce the exact output as compute-mfcc-feats when htk_compat is False.

[code]

and

[code]

but set htk_compat to false:
[code]

[code]

Also I assume the default `dither` and `energy_floor` parameters don't match either, if they're not explicitly set to 0/1 respectively,

[2021-04-01 05:45] yoyololicon commented on #1414
@mthrok
I have some experiences with spectrogram inversion before, so I would like to take on `GriffinLim`.

[2021-04-01 13:42] mthrok commented on #1414
@yoyololicon

Thanks. Let me know if you need help there.

[2021-04-01 14:55] krishnakalyan3 commented on #1414
I will be working on `MFCC`

[2021-04-01 20:01] mthrok commented on #860
This issue is replaced by #1337

[2021-04-01 20:01] #860 closed

[2021-04-02 15:39] Moh-Yakoub commented on #1414
@mthrok

I will try working with `Fade`

[2021-04-03 10:42] krishnakalyan3 commented on #1414
Working on `resample`, `SpectralCentroid` and `Fade`

[2021-04-05 21:08] mthrok opened #1427 "Unused constant attribute in `T.GriffinLim`"
`T.GriffinLim` has constant attribute `normalized`, which does not have the corresponding ctor argument.

https://github.com/pytorch/audio/blob/8d2eeb114e7f8a6659d132b98adb50d886108fb2/torchaudio/transforms.py#L158

This is issuing a warning: `/torch/jit/_recursive.py:227: UserWarning: 'normalized' was found in ScriptModule constants, but was not actually set in __init__. Consider removing it.`.

[2021-04-06 14:18] #1427 closed

[2021-04-07 02:43] yoyololicon commented on #1414
I don't think `Mulaw*coding` needs autograd cuz it quantized value to integers, right?

[2021-04-07 13:52] mthrok commented on #1414
Hi @yoyololicon
Yes, you are right. Scratching them out. Thanks for the pointer.

[2021-04-07 13:59] mthrok commented on #903
FYI: @ketanhdoshi @aelimame 24-bit support has been ported to release `0.8.1`.

[2021-04-07 18:54] astaff commented on #1348
Thanks for bringing this up, @jcaw. Apologies for a delayed response.

Current vad implementation is based on the behavior of sox and "Attempts to trim silence and quiet background sounds..." (http://sox.sourceforge.net/sox.html). Sox produces a truncated waveform, not the same-sized filled with zeros.

Since sox implementation of vad has multi-channel support, batched input is treated as multiple

[2021-04-08 11:59] hbredin opened #1442 "Pass pre-computed `info` to `torchaudio.load()` for file-like objects"
## Motivation

Support for file-like object is a great addition to the library. Thanks!
However, if one needs to call both `info` and `load` in a row, one must rewind the object between both calls:

[code]

Withoutp `fp.seek(0)`, we get this error:

[code]

I presume this happens because `torchaudio.info` consumes the first few bytes of the file to read the header and `torchaudio.load` does not kn

[2021-04-11 15:31] Khan-123-tar commented on #121
from noisy_classifier import get_model

ImportError                               Traceback (most recent call last)
<ipython-input-26-68639d50892a> in <module>
----> 1 from noisy_classifier import get_model

~\noisy_classifier.py in <module>
     10 from fastai.vision import *
     11 from fastai.metrics import error_rate
---> 12 from torchaudio.transforms import MelSpectrogram, SpectrogramToDB

[2021-04-12 11:29] hbredin commented on #1442
Thanks a lot for the very detailed answer. I now understand why this is tricky. I just merged a PR in pyannote.audio that simply [seeks back to 0](https://github.com/pyannote/pyannote-audio/commit/3c4d0a68a39893ba5a0a4fc3c40e74aaeb92f7de#diff-d94b84a909c1577a10023457a6c63f137607685fa8c0d51892a848d1627fe921R323-R324) whenever needed. This is kind of ugly (it won't work for unseekable streams) and s

[2021-04-12 11:29] #1442 closed

[2021-04-12 11:40] hbredin commented on #1072
As promised in #1442, here are my potential needs for pyannote.audio.
I don't have much experience in this area so bear with me if my answers fall flat.

I'd love to be able to expand [this streamlit demo](https://github.com/pyannote/pyannote-audio-demo) with the actual microphone of the end user. I guess with something like [streamlit-webrtc](https://github.com/whitphx/streamlit-webrtc).

None of

[2021-04-12 14:50] mthrok commented on #121
Hi @Khan-123-tar

`SpectrogramToDB` has been renamed to `AmpritudeToDB`. Please refer to https://github.com/pytorch/audio/pull/170

[2021-04-12 15:06] Khan-123-tar commented on #121
How to remove this error i have torchaudio version 0.8.1 and python 3.7.10

[2021-04-12 15:25] mthrok commented on #1348
@astaff

Thanks for the explanation.

I do not think it make sense to treat channels and samples same here. For channels, we can make some strong assumptions reasonably, such as, audio tracks in different channels share the same time axis, and they record the same event, which can justify the implementation of `F.vad`. For samples, such assumption does not apply. Especially when training a model a

[2021-04-12 16:05] mthrok commented on #121
The code is old, so you need to update the code. You can start by replacing all `SpectrogramToDB` to `AmpritudeToDB `.

[2021-04-12 16:18] Khan-123-tar commented on #121
ImportError: cannot import name 'SpectrogramToDB' from
'torchaudio.transforms. It seems that the Spectrogram ToDB is importing
from torchaudio which is a library. So you mean to instal the new version
of pytorch. How I will replace the spectrogramToDB to Amplitute ToDB?

On Mon, Apr 12, 2021 at 6:06 PM moto ***@***.***> wrote:

--
*Best Regards,*
*Ubaid Ullah*
*Department of Electronics,*
*Quaid-i

[2021-04-12 16:18] mthrok opened #1449 "Remove T.VAD from transform batch consistency test"
See https://github.com/pytorch/audio/issues/1348 for the background

`T.VAD` currently treats all the tracks in the input batch as belong to the same audio data. This means that it returns different results when samples are batched and samples are fed independently.

There is a test to ensure the consistency of operation result regardless of batched/un-bached, but `T.VAD` in this test does not mak

[2021-04-12 16:19] mthrok commented on #1348
Filed the task for removing `T.VAD` from batch consistency test https://github.com/pytorch/audio/issues/1449

[2021-04-12 16:55] mthrok commented on #121
I am not sure where the code snippet you posted comes from, but it's obsolete.
If you took it from somewhere, then you need to consult not with us but with the author of the code for updating the code.
If it's your own code, then you need to modify your source code manually.

[2021-04-13 00:42] tyoc213 commented on #1406
Indeed is another different issue I think I passed too, my solution for the moment was to install the `pip install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu111/torch_nightly.html` as said above.

Still need to try again to compile from source.

[2021-04-13 11:27] jcaw commented on #1449
I'll take this, but doesn't the test you quoted test JIT consistency, rather than batch consistency?

[2021-04-13 14:18] mthrok commented on #1449
Oops my bad. Yes, I meant the batch consistency test.

[2021-04-13 14:20] #1449 closed

[2021-04-13 15:29] #1292 closed

[2021-04-13 15:29] #1343 closed

[2021-04-13 15:30] mthrok commented on #1403
Closing in favor of #588

[2021-04-13 15:30] #1403 closed

[2021-04-13 15:40] turian opened #1452 "Sox transforms work on CUDA tensors?"
## ❓ Questions and Help

Do Sox transforms work on CUDA tensors? Or do they transfer the tensor to CPU and process there?

[2021-04-13 16:21] mthrok commented on #1452
Hi @turian

If what you mean by "Sox transforms" is the filtering functions implemented in `torchaudio.functional`, (found under the category of [`filtering` in the official doc](https://pytorch.org/audio/stable/functional.html#filtering)), then they work with CUDA. You can pass Tensors transferred to CUDA and filtering functions will perform the operation in CUDA. (however this does not necessari

[2021-04-13 18:18] vincentqb commented on #104
cc @mravanelli

[2021-04-13 18:21] vincentqb opened #1453 "Support m4a format in torchaudio"
We would like to support m4a format directly in torchaudio.
* This is the format used in the VoxCeleb2 dataset.
* It is supported by ffmpeg.

cc https://github.com/pytorch/audio/issues/104, @mravanelli

[2021-04-13 18:21] #104 closed

[2021-04-14 15:15] mthrok opened #1454 "Inconsistent default and TS-incompatible lazy behavior in MelScale"
1. All the spectrogram related transforms have default frequency bin `n_fft: int = 400`, while `MelScale` and `InverseMelScale` is `n_stft: Optional[int] = None`.

2. In `MelScale`, when `n_stft=None`, it tries to resize the buffer in `forward`, but this causes TorchScripted (and loaded from file) version fail.

https://github.com/pytorch/audio/blob/931555c1b4ebddf74bb5d439ea197dc1d1691a05/torchau

[2021-04-15 01:07] turian commented on #1452
Thanks, my question was about `torchaudio.sox_effects`. Perhaps this could be added to the docs, just to be clear?

[2021-04-15 21:13] mthrok opened #1456 "Clarify `sox_effects.apply_effects_tensor` as CPU-only"
## 📚 Documentation

`torchaudio.sox_effects.apply_effects_tensor` only works on CPU tensor and it should be mentioned in the doc.

It can be clarified in here https://github.com/pytorch/audio/blob/ad534c1139d61aa9d9f05cb311fd64e6c4708f45/torchaudio/sox_effects/sox_effects.py#L71

[2021-04-15 21:14] mthrok commented on #1452
Hi @turian

Thanks for the suggestion. I agree. this can be better explained in the doc.
I filed issue https://github.com/pytorch/audio/issues/1456. If no one picks up, I will work on it before the next release.

[2021-04-16 10:41] turian commented on #1452
Thank you

[2021-04-16 10:41] #1452 closed

[2021-04-16 15:09] dhthompson commented on #1414
I'm taking a look at `Vol`

[2021-04-16 18:12] mthrok commented on #611
Resolved via #1436 #1439

@kshitij12345 @discort sorry for not responding earlier. The test has been refactored and refined. This issue is no longer relevant.

[2021-04-16 18:12] #611 closed

[2021-04-18 14:50] rien333 commented on #1452
Any chance if sox effects ever working with CUDA, or is that unrealistic?

[2021-04-19 14:52] rien333 opened #1461 "torchaudio.so: undefined symbol: WavpackGetMode"
## 🐛 Bug

Importing torchaudio raises the following error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Obtain the [torchaudio-git](https://aur.archlinux.org/packages/python-torchaudio-git/) PKGBUILD from the AUR, and install. (If you don't run arch linux, the PKGBUILD is just a bunch of bash commands, so it's quite easy to follow along)

3. Run `import torchaudio`

## Expected b

[2021-04-19 14:55] mthrok commented on #1452
Hi @rien333

It's not impossible but it's a huge amount of work, and our engineering resource is very limited at the moment. So, yeah unfortunately it's unrealistic.

Right now, we have some filters re-implemented with PyTorch's generic Tensor operations. They are compatible with CUDA, but when tensors are moved to CUDA, operations become slower than CPU. Efficient filtering in CUDA requires imple

[2021-04-19 15:39] mthrok commented on #1461
Hi @rien333

Thanks for letting us know. Looks like this is a configuration issue when building with SoX.

In our testing environments, we do not have `wavpack`, so the build proceeded without `wavpack`.

[code]

But I think in your environment, the script detected `wavpack` and built `sox` with support for dynamically loading it, but could not resolve its library at the runtime so it ended up `un

[2021-04-19 15:50] rien333 commented on #1461
That may well be it — giving #1462 a try now. Thanks for the quick response!

[2021-04-19 16:34] mthrok commented on #1461
Merged #1462. Closing the issue. Let us know if the issue persists.

[2021-04-19 16:34] #1461 closed

[2021-04-19 21:09] mthrok opened #1464 "Remove unused module"
[`torchaudio._internal.misc_ops`](https://github.com/pytorch/audio/blob/b059f08742e70700ce4c92296a1131118f67a588/torchaudio/_internal/misc_ops.py) is a residue from refactoring of I/O features in the past releases. We can get rid of the whole module.

[2021-04-19 22:33] astaff commented on #1348
Considering your points above, @mthrok, here is the suggestion:

1. Make it an explicit expectation that VAD takes and returns tensor of the same size and shape: either `T` or `N x T` (`T` number of frames/samples, `N` - batch size) and the input is a single channel or a batch of single channels.
2. VAD returns a mask for voice activity.
3. Calling code takes care of re-shaping multi-channel input

[2021-04-19 23:54] vincentqb commented on #1348
Just to re-emphasize some of what has been said here: I agree with [comment](https://github.com/pytorch/audio/issues/1348#issuecomment-815147590) that we can disable the batch consistency test and need to make sure the docstring represents what is being done.

As to how VAD should trim when presented with a batch, I'd like to get the opinion of someone who may have used this in the wild. @faroit m

[2021-04-20 01:22] itsabhianant commented on #1464
Hi @mthrok ,

I would like to work on this issue. As per my understanding, I think we have to remove the [misc_ops.py](https://github.com/pytorch/audio/blob/b059f08742e70700ce4c92296a1131118f67a588/torchaudio/_internal/misc_ops.py) file from the project. If I got your issue correct then please do assign this issue to me or please do explain what I have to do. It will be cool if you assign me the i

[2021-04-20 01:54] mthrok commented on #1464
Hi @itsabhianant

Thanks for the signing up. Yes, your understanding is correct. It's as simple as removing `misc_ops.py`. please go ahead and make a PR and add `Closes #1464 cc @mthrok` in the description.

[2021-04-20 03:11] #1464 closed

[2021-04-20 06:21] keunwoochoi commented on #800
Thanks @antimora for the fantastic example!
One thing, that code doesn't work when there are more than one channel. And it will silently fail! That's because, the output of `miniaudio.decode` is always a 1D array and we have to interleave it manually. This can be done like this:
[code]

[2021-04-20 18:55] astaff commented on #1348
yes. this way we don't have to be opinionated about multi-channel behavior. the user code can re-shape a 3D tensor that has channels into 2D, apply the transform, and then apply a resulting mask and re-shape the output in a way that makes sense for downstream task: it could be an iterator over samples trimmed to voice activity in either channel, or elementwise multiplication, or something else.

a

[2021-04-21 02:35] turian commented on #1452
Thank you @mthrok for your wonderful work. Shinji speaks very highly of your project to me.

[2021-04-21 15:25] vincentqb opened #1468 "Voice Activity Detection"
I'd love to hear from our users what is the impact of their favorite VAD algorithm on their model's performance at both training and inference (offline, online, streaming).
- Is there one we should add in torchaudio?
- Does anyone uses [webrtc's vad](https://github.com/wiseman/py-webrtcvad) implementation mentioned in [comment](https://github.com/pytorch/audio/issues/1348#issuecomment-817904097)?

[2021-04-21 15:26] vincentqb commented on #1348
i'd note however that disabling batching is BC breaking, since we silently have been opinionated.

we are not bound by constraints and design decisions from other backends, and it is more important to be consistent in how we present the interfaces to the users. we can always show examples say in the docstring of how to replicate with other backends -- or even let tests document the mapping :)

the

[2021-04-21 15:50] PetrochukM commented on #1468
Voice Activity Detection has been important for TTS and STT. It's useful for segmenting large datasets before training. I'd love a basic VAD implementation akin to:
https://maelfabien.github.io/project/Speech_proj/#pros-and-cons

`webrtc` didn't work for me because it didn't expose enough parameters for tunning. The default version of `webrtc` didn't work well for clean datasets... It tended to ov

[2021-04-21 16:14] vincentqb commented on #1468
great response @PetrochukM, thanks a lot for the input :)

[2021-04-21 16:53] mthrok commented on #1452
@turian

Thanks for the such nice comments. I try to keep the bar high, but libraries cannot exist without users, so let's make something interesting together. :)

[2021-04-21 17:05] vincentqb commented on #1468
(quick note: some elements of [the algorithm you suggested](https://maelfabien.github.io/project/Speech_proj/#pros-and-cons) are also similar to one of the [pitch detection algorithm](https://github.com/pytorch/audio/blob/master/torchaudio/functional/functional.py#L975) we have)

[2021-04-21 19:14] PetrochukM commented on #1468
Oh. I didn't. Thanks for the tip! It looks pretty close to what I was describing :)

Also, another issue that we had with VAD was memory. For some reason, [`scipy` doesn't support `memmap`](https://dsp.stackexchange.com/questions/73937/memory-efficient-filtering-with-scipy-signal-in-python). This made it particularly difficult to work with files longer than 1 hour.

I actually tried to use the pit

[2021-04-26 15:25] ChenPaulYu commented on #1408
Hi @yoyololicon and @cpuhrsch ,

Thanks you for your reply, after doing some investigation. I realize that the run small for-loop via gpu is expensive, and may lead the performance degradation, which is happened in the current lfilter implementation.

https://github.com/rapidsai/cusignal/issues/171
https://gist.github.com/coderforlife/17bf471a519a7d092e82f95f10e8f6e4

I found useful resource in th

[2021-04-27 14:59] ChenPaulYu opened #1476 "Add batch dimension inside the computation of lfilter"
## 🚀 Feature

Add batch dimension inside the computation of lfilter to make thing fast

## Motivation

It is recently possible to integrate digital filters inside the neural network because of the backprop support for lfilter (https://github.com/pytorch/audio/pull/1310).

However, currently, the filter only supports the 1D waveform, 1D a_coefficients, 1D b_coeficient. It is not possible to include

[2021-04-28 22:51] #1456 closed

[2021-04-29 08:28] seacj opened #1478 "torchaudio.transforms.TimeMasking is inplace"
## 🐛 Bug

The function `torchaudio.transforms.TimeMasking` transforms the Tensor inline without expectation.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

expect `mask_spec = fmask(spec)` or `fmask(spec, inline=False)`

## Environment
[code]

[2021-04-29 17:48] vincentqb commented on #1478
following up on @gchanan's question, for a functional form of the transform, we also have [torchaudio.functional.mask_along_axis](https://pytorch.org/audio/stable/functional.html#mask-along-axis) and [torchaudio.functional.mask_along_axis_iid](https://pytorch.org/audio/stable/functional.html#mask-along-axis-iid). this is the functional that does the masking in the transform too, see [here](https:/

[2021-04-29 17:48] mthrok commented on #1478
Hi @seacj

Thanks for the report. I am observing something interesting here. When I run your snippet, I do get `False` for the last statement, which is not expected, but when I simplify the script by removing the `matplotlib` and `librosa` it says `True`.

[code]

[code]

[2021-04-29 18:02] mthrok commented on #1478
@seacj I could simplify the script, and indeed I see un-deterministic behavoir

[code]

[code]

[2021-04-29 18:05] mthrok commented on #1478
I do see there is a in-place operation.

https://github.com/pytorch/audio/blob/b5d802795ffb381947e9fbbc1b1da40aa6c64b5f/torchaudio/functional/functional.py#L748-L750

[2021-04-29 18:11] vincentqb commented on #1478
[This](https://github.com/pytorch/audio/blob/master/torchaudio/functional/functional.py#L790) is also changing the tensor in place

[2021-04-29 19:54] cpuhrsch commented on #1454
Here are some thoughts on this from our offline discussion.

At a minimum we should  use `__prepare_scriptable__` to throw an error when scripting when n_stft=None to make it easier to detect this issue.

From a user convenience vs correctness / consistency perspective users could mistakenly pass a waveform instead of a spectrogram with this shape inference, if n_stft isn't fixed. Then lazy evalua

[2021-04-29 21:25] vincentqb commented on #1454
Is anyone using shape inference? Is it a design principle that we would even like to follow? e.g. [internal](https://fb.workplace.com/groups/3520404147969922/permalink/4194028727274124/). I remember @ezyang was looking into shape inference. Maybe he wants to comment here :)

Did someone complain about identifiability? If the goal is correctness and identifiability: are there better solutions, say

[2021-04-29 21:37] cpuhrsch commented on #1454
My main argument against proliferation this kind of laziness is that it's not very principled. For this I'd rather see efforts such as LazyTensors pan out. It's not our place to invent those in peripheral libraries, but we should be involved in motivating those (similar to complex numbers). This is then also an argument against keeping this around. Why make a one-off exception?

[2021-04-29 22:24] vincentqb commented on #1454
Yup, I agree. The place for such initiative is not torchaudio.

[2021-04-30 01:21] carolineechen commented on #1478
@mthrok

The nondeterministic behavior is caused by the randomness in the algorithm. In your example, `spec` will always be modified in-place as long as there is any masking. The `success` comes from cases in which no columns end up being masked (when `mask_start` equals `mask_end`), and therefore `spec` stays the same.

In many cases, `reshape` will not return a copy of the tensor, so modifying `

[2021-04-30 02:44] cpuhrsch commented on #1476
cc @mthrok @yoyololicon

[2021-04-30 03:35] seacj commented on #1478
That‘s right. So `plot_spectrogram(spec[0])` helps see what happens.

[2021-04-30 03:57] yoyololicon commented on #1476
@ChenPaulYu
Awesome, I would like to see this happen.

To include batch dimension inside the CPU optimization loop, we can add one extra for-loop or use multithreading along the batch dimension.

Also, could you help me benchmark this line
[code]
compare with the following alternative implementation:
[code]
cause `einsum` may introduce some extra overhead.

[2021-04-30 04:06] yoyololicon commented on #1408
@ChenPaulYu
Have just took a brief look about the source code, seems like they wrote their own CUDA kernel.
If their license is compatible with us, maybe we can just borrow it and compiled with cpp extensions as described in https://pytorch.org/tutorials/advanced/cpp_extension.html.

[2021-04-30 07:05] Thomas-Mccabe commented on #658
Hi,

./third_party/tmp/lame-3.99.5/config.guess doesn't exist anymore but I am still getting build issues when trying to build on a tx2. What config.guess do I need to update?

[2021-04-30 12:41] adefossez commented on #425
@vincentqb if you want also support writing MP3s on Windows, I would recommend https://github.com/chrisstaite/lameenc

I have been using it for a while inside demucs, and it is amazing (in the sense that it is small, no extra dependencies, and works perfectly with just a pip install on all OSes). At the moment though it seems their build for python3.9 is broken...

[2021-04-30 19:03] vincentqb commented on #425
thanks for the input :)

[2021-05-03 14:51] mthrok commented on #658
Hi @Thomas-Mccabe

We have switched to cmake-based build so the the build intermediate files are in `ls build/temp.linux-<arch>-<version>/third_party/sox/src/mad/config.guess`, however the directory is managed by CMake and manual changes applied there would be updated by CMake. We need to update the `config.guess` files as a proper CMake build process. Particularly as [`PATCH_COMMAND`](https://cma

[2021-05-03 14:56] mthrok commented on #1408
Note: @carolineechen is adding a custom CUDA code and making changes to build/release processes. Once that part is done, adding custom CUDA kernel should be simple. Since we are not CUDA experts or do not have a decent experience there, it would be faster if someone with experience can contribute. If not I am curious to learn CUDA, so I will try to port it, but it will take some time to meet the p

[2021-05-03 16:22] mthrok commented on #658
@Thomas-Mccabe

Can you try this patch and let me know if it works?

https://github.com/pytorch/audio/pull/1484/commits/c42830b24c2c02ee294a8a9f4ed52b39f4ebd660

[2021-05-03 17:55] ezyang commented on #1454
This doesn't have anything to do with lazy tensors, it's lazy modules. You want to resize fb based on the forward argument. There's precedent for this in core PyTorch via lazy modules: https://github.com/pytorch/pytorch/pull/44538 You should apply the pattern employed there to Mel and you won't have a problem anymore.

cc @emcastillo @albanD

[2021-05-03 21:33] #1478 closed

[2021-05-04 06:08] ChenPaulYu commented on #1476
Hi @yoyololicon ,

That is sound nice for the c++ implementation idea, I will also take look at how to write c++ extension for pytorch.
Of course, I can help to benchmark the einsum.

[2021-05-05 01:26] mthrok commented on #1476
Hi @ChenPaulYu

Thanks for the suggestion. I think this is a good idea.
One simple approach in C++ to make it parallel along batch dimension is to use `at::parallel_for`, like in

https://github.com/pytorch/audio/blob/3ab521fa2b26b6dbfdb87d36739f0e4191a500a1/torchaudio/csrc/kaldi.cpp#L76-L84

but I am not sure how robust `at::parallel_for` is, so we will need to run a benchmark. (I suspect we migh

[2021-05-05 16:29] carolineechen opened #1487 "Resampling"
We are revisiting the resampling feature, the way it is implemented and intended usage. Here are the improvements we plan to make:

## Expanding resampling capabilities and quality
#### Add `rolloff` as an adjustable parameter
- Currently a fixed value of 0.99 is used, but exposing the parameter can allow for control of the degree of anti-aliasing and highest frequency allowed when resampling.
###

[2021-05-05 19:28] tangyuelm opened #1489 "Could not find a version that satisfies the requirement torchaudio"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Hello,

I want to install the torchaudio on my aws server/ I have tried
pip install torchaudio -f https://download.pytorch.org/whl/torch_stable.html
but it shows that
ERROR: Could not find a version that satisfies the requirement torchaudio (from versions: none)
ERROR: No matching di

[2021-05-05 19:55] mthrok commented on #1489
Hi @tangyuelm

Can you try `pip install torchaudio==0.4.0`?

[2021-05-05 19:57] tangyuelm commented on #1489
It still cannot work.

[2021-05-05 20:15] mthrok commented on #1489
Can you paste the followings?
1. the error you are getting
2. the result of `python -m torch.utils.collect_env`

[2021-05-05 20:26] tangyuelm commented on #1489
Thanks for your reply.
Here is the result of my error.
ubuntu@ip-172-31-44-135:~/src/dataset/audio$ pip install torchaudio==0.4.0
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f8d874f80d0>: Failed to establish a new connection: [Errno -3] Te

[2021-05-05 20:51] mthrok commented on #1489
Looking at the warnings, I think it's something about your network.

[code]

You might have a custom PyPi configuration or maybe your `pip` is very old.

Also it's `Temporary failure in name resolution')': /simple/torchaudio/` seems like the index URL is wrong. maybe something like the following might work.

`pip install --index-url=https://pypi.python.org/simple/ torchaudio==0.4.0`

I just opened

[2021-05-05 21:28] tangyuelm commented on #1489
Thanks for your attention but it still cannot work. I also tried pip3 and pip --user, but got the same error. I checked my pip version it is 20.0.2. I also tried the conda command but still failed.
 pip --version
pip 20.0.2 from /home/ubuntu/anaconda3/lib/python3.7/site-packages/pip (python 3.7)

[2021-05-05 23:02] mthrok commented on #1489
What happens with another package?
say, `pip install --ignore-installed requests`

[2021-05-05 23:25] tangyuelm commented on #1489
Oh. The same errors happen when I both try the conda or pip. It seems that my server has some problem. Thank you very much.

[2021-05-05 23:44] mthrok commented on #1489
Glad to help.

[2021-05-05 23:44] #1489 closed

[2021-05-06 04:00] mthrok opened #1493 "Inconsistent behavior of mu-law encode/decode"
The docstrings of `mu_law_encoding` and `mu_law_decoding` say the following.

https://github.com/pytorch/audio/blob/a8fbbdac1de389cf7799b0abd0684f9b77c2f675/torchaudio/functional/functional.py#L491-L492

And at the beginning of the operation, it performs conversion for non-real-float Tensor into real float.

https://github.com/pytorch/audio/blob/a8fbbdac1de389cf7799b0abd0684f9b77c2f675/torchaudio/

[2021-05-06 04:05] mthrok commented on #1487
cc @small-yellow-duck @faroit @adefossez  Please let us know if you have an opinion on resampling.

[2021-05-06 06:18] Thomas-Mccabe commented on #658
Hi,

I've copied the config.guess that ark626 linked and used
 `sudo BUILD_SOX=1 python3 setup.py install`

But there seems to be an issue with building sox. I am running ubuntu 18.04 and already have torch 1.8 installed from
https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-8-0-now-available/72048

I have attached a snippet of the error.

[output.txt](https://github.com/pytorch/a

[2021-05-06 13:59] mthrok commented on #658
Okay, looks like codecs are now built.
Regarding the error, in my experience, this happens when there are too many parallel jobs and the machine runs out of memory.
Can you set `CMAKE_BUILD_PARALLEL_LEVEL` to something smaller than what `nproc` reports?

[code]

[2021-05-06 15:23] small-yellow-duck commented on #1487
Earlier discussion here:
https://github.com/pytorch/audio/issues/908
- some discussion about how to test the module against librosa

Earlier PR here:
https://github.com/pytorch/audio/pull/911
- uses pytorch conv ops to do faster resampling
- includes Kaiser window support and handles the edge case where the audio signal is very short

[2021-05-06 18:09] mthrok commented on #1476
Note: https://github.com/pytorch/audio/pull/1483/files has been landed and now torchaudio's build process can handle CUDA code as well.

Adding the source code and listing it [here](https://github.com/pytorch/audio/blob/master/torchaudio/csrc/CMakeLists.txt#L8) should do the trick.

[2021-05-06 21:15] mthrok opened #1495 "CodeQL failing"
cc @mstfbl

CodeQL is failing due to the old version of PyTorch. For testing we should be using nightly.

https://github.com/pytorch/audio/blob/723e9a52ebde0afd542b1cc8588598ad2c893c87/.github/workflows/codeql.yml#L34

(Also Ninja should be installed along side of `cmake` via `pip`, not from `apt`)

[2021-05-08 22:22] kiri11 commented on #1414
I'm going to take a stab at `FrequencyMasking`/`TimeMasking`, the only ones left!

[2021-05-09 22:36] rien333 opened #1496 "Errors during build"
## 🐛 Bug

I get multiple errors during the build process whenever I compile from the latest commit.

## To Reproduce

Steps to reproduce the behavior:

1. Build pytorch-audio using the [PKGBUILD from aur/python-torchaudio-git](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python-torchaudio-git).

The errors in question:

[code]

[code]

[code]

Full log:
[t.log](https://github.com/pytorch

[2021-05-09 23:19] mthrok commented on #1496
HI @rien333

The master branch is not guaranteed to be compatible with the past release of PyTorch. To use master branch, please install PyTorch nightly build.

[2021-05-09 23:27] rien333 commented on #1496
Good catch, and makes sense. Sorry for the noise.

[2021-05-09 23:27] #1496 closed

[2021-05-10 12:26] madav-tech commented on #358
Could you say which?
I'm trying to look for a fix

[2021-05-11 23:35] adefossez opened #1500 "MP3 decoder add padding"
## 🐛 Bug

Many MP3 encoders add padding at the beginning / end of audio files. See for instance
https://lame.sourceforge.io/tech-FAQ.txt

That means if you take a wavefile, encode it to mp3, and load it with torchaudio, it will actually be a bit longer than the original wav. I'm not sure if there is a perfect way to handle that, and if the amount can depend on the encoder. `ffmpeg` typically remov

[2021-05-12 12:41] rbracco opened #1502 "Display filepath for `RuntimeError: Error loading audio file` in sox_io backend"
## 🚀 Feature
When user encounters the error `RuntimeError: Error loading audio file: failed to open file.` using sox_io backend, the filepath should be displayed as part of the error message at the bottom of the stack trace.

## Motivation
This is a very common error when setting up a new dataset and it would be much faster to fix if the filepath were output to the user.

## Pitch
Wrap the relevan

[2021-05-12 13:21] mthrok commented on #1502
HI @rbracco

Thanks for the suggestion. I'll take a look into it.

[2021-05-12 13:22] mthrok commented on #1500
Hi @adefossez

Thanks for the suggestion. I was aware of this but somehow thought this is a part of the specification. I will take a look into this.

[2021-05-12 15:23] mthrok opened #1503 "Add file path in error messages of I/O operations"
Ref #1502

We want to add file path in the error message when I/O operations fail.

The corresponding parts are;

https://github.com/pytorch/audio/blob/1f136671b84071a2fe1d5b762df64f3a76310c31/torchaudio/csrc/sox/io.cpp#L16-L24

https://github.com/pytorch/audio/blob/1f136671b84071a2fe1d5b762df64f3a76310c31/torchaudio/csrc/sox/io.cpp#L117-L127

https://github.com/pytorch/audio/blob/14dd917ec60fa69c

[2021-05-12 15:24] mthrok commented on #1502
Filed #1503. If no one picks it up, I will come back before the release.

[2021-05-12 15:58] rbracco commented on #1502
Awesome, thank you so much. Closing the issue.

[2021-05-12 16:00] mthrok opened #1504 "Confusing IID behavior in masking transforms."
`T.TimeMasking` and `T. FrequencyMasking ` have a parameter for changing the way mask is applied IID or not.

https://github.com/pytorch/audio/blob/1f136671b84071a2fe1d5b762df64f3a76310c31/torchaudio/transforms.py#L890-L899

https://github.com/pytorch/audio/blob/1f136671b84071a2fe1d5b762df64f3a76310c31/torchaudio/transforms.py#L905-L914

However this behavior is not automatically enforced, users h

[2021-05-12 17:51] adefossez commented on #1500
Thanks :)
It is surprising that this is not an internal details of the encoder/decoder, and it doesn't seem that well documented :(

[2021-05-12 19:26] mthrok commented on #1414
Now all the Transforms with autograd supports are properly tested. Thanks for the help!

[2021-05-12 19:26] #1414 closed

[2021-05-13 18:13] mthrok commented on #1502
@rbracco I will keep this open until the actual change is implemented.

[2021-05-13 20:36] mthrok opened #1506 "wav2vec2.0 model support in torchaudio"
# wav2vec2.0 model with TorchScript support

Following the popularity of wav2vec2.0 models, we plan to add wav2vec2.0 model in torchaudio.

## What are we going to add?

1. Model definitions in `torchaudio`, that supports TorchScript, specifically `torch.jit.script`.
2. Conversion of pretrained models from Hugging Face's `transformers` (and `fairseq`).*

\* For importing models of these libraries,

[2021-05-15 15:19] discort commented on #658
just wanted to share that I've built torchaudio==0.8.0 successfully on my Jetson AVG xavier (jetpack 4.4).
Take a look at [gist](https://github.com/dusty-nv/jetson-containers/blob/1e10908a104494a883f6855d1e9947827f2a17bc/Dockerfile.pytorch#L90-L105).

<details><summary>Full logs</summary>
<p>

[code]

</p>
</details>

[2021-05-17 16:21] mthrok commented on #658
Note that the `libsox` installed from apt at the moment is `14.4.2+git20190427-2`, which is something we do not support as it has an issue with in-memory decoding and causes un-deterministic behavior if you use file-like object for loading data.

[2021-05-17 18:23] cpuhrsch commented on #1454
Until we have a more principles approach to lazy behavior, let's go with Option 1 of Vincent's comment:
deprecating laziness in MelScale

[2021-05-17 18:57] mthrok opened #1510 "Removing lazy initialization behavior from MelScale"
As discussed in https://github.com/pytorch/audio/issues/1454, we are going to remove lazy initialization behavior from MelScale transform. This is a multi-release change. This issue tracks the changes.

## Goal

1. Remove lazy initialization behavior from `T.MelScale`
2. Set a default value that aligns with `Spectrogram`.

## Timeline

1. In release `0.9`, we issue a warning when `T.MelScale` is c

[2021-05-17 19:43] mthrok opened #1511 "Add deprecation warning to MelScale if `n_stft=0`"
See #1510 for the context of this work.

We would like to issue a warning if the weight of `T.MelScale` is uninitialized.

For setting up dev env, please refer to [CONTRIBUTING.md](https://github.com/pytorch/audio/blob/master/CONTRIBUTING.md).

## Steps
1. In the constructor of `T.MelScale`, add warning if `n_stft=0`
    https://github.com/pytorch/audio/blob/52e7bfd9d9d1db2ba339c5f72e6750c348ab381

[2021-05-18 13:40] #1495 closed

[2021-05-19 00:29] mthrok commented on #1503
Temporarily closing for internal task assignment.

[2021-05-19 00:29] #1503 closed

[2021-05-19 18:34] #1511 closed

[2021-05-19 18:37] mthrok commented on #658
@discort

If you have a extra time, can you help us and try #1484 ?
I believe this will make it work with Jetson but I do not have the hardware, so I cannot test it by myself.

[2021-05-19 22:08] kevinmchu opened #1517 "Backprop does not work for lfilter"
## 🐛 Bug

Gradients are not being backpropagated when using lfilter.
## To Reproduce

Steps to reproduce the behavior:

1. `filtered = F.lfilter(x, a, b)`

The command `list(model.parameters())[0].grad` returns `None` and the network weights are exactly the same after iterating through each batch.

Output of `list(model.parameters())[0].grad`:
None
None
None
...

Model weights:
tensor([[ 0.0322,

[2021-05-19 22:17] mthrok commented on #1517
Hi @kevinmchu

Can you provide a small snippet that shows how you are computing backward pass?
Specifically, did you register your coefficients `a` and `b` as buffer, and are you sure that `list(model.parameters())[0]` is the one you are passing to `lfilter`?

[2021-05-19 22:25] mthrok commented on #1517
This works;

[code]

[code]

[2021-05-19 22:26] kevinmchu commented on #1517
I'm writing a custom loss function that includes use of `lfilter`. `x` is a 2D tensor, and `a` and `b` are 1D tensors. I'm computing the backward pass using `loss.backward()`.

[2021-05-19 22:33] mthrok commented on #1517
@kevinmchu Please look at my script and make sure that the `requires_grad` is set to `True` (for gradient computation) and the parameter is registered with `register_parameter`, (for recognized as parameter).

[2021-05-19 22:34] #1517 closed

[2021-05-19 22:44] mthrok commented on #1517
@kevinmchu BTW autograd support to `lfilter` was added only recently. So you need nightly build of `PyTorch` and `torchaudio`. The PyTorch 1.8.1 you have does not work.

[2021-05-19 22:56] kevinmchu commented on #1517
I tried installing the nightly build, but I'm receiving messages that the requirements are already satisfied. Do you know what I'm doing wrong?

pip3 install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu112/torch_nightly.html
Looking in links: https://download.pytorch.org/whl/nightly/cu112/torch_nightly.html
Requirement already satisfied: torch in /xxx/anaconda3

[2021-05-19 23:02] mthrok commented on #1517
It's typical dependency issue. I would first uninstall the existing installation and try it again.

Also the log says
[code]

So you do need to uninstall all `torch=1.8.1`, `torchaudio=0.8.1` and `torchvision=0.8.2`.

[2021-05-19 23:11] kevinmchu commented on #1517
I installed the nightly build via
[code]

but still had issues with backprop.

[2021-05-19 23:13] mthrok commented on #1517
Can you show the relevant part of the code?

[2021-05-19 23:20] kevinmchu commented on #1517
Simplified version of class definition:

[code]

[2021-05-19 23:44] mthrok commented on #1517
To compute gradient, you need to pass the whole Tensor. You cannot compute the gradient for a part of Tensor.

You can work around the by treating each filter separately.

[code]

<details>

[code]

</details>

If you need to recover the filter in one Tensor, you can do something like `torch.cat([t for t in module.a])`. This can construct a Tensor with the corresponding filter coefficients, but th

[2021-05-20 13:33] kevinmchu commented on #1517
Is there a function in torchaudio or pytorch that would allow me to apply a bank of 8 iir filters all at once without having to write a for loop?

[2021-05-20 13:42] mthrok commented on #1517
I am not aware of one.  @yoyololicon Do you know if there is any?

Just to be clear, can you give an example of shape?
I think your input is `[batch, frame]` and filter coefficients are `[num_filter, filter_dim]`, what's your desired output shape?

[2021-05-20 13:49] kevinmchu commented on #1517
My input is `[x, num_frames]` where x is a hyperparameter and the desired output shape is `[x, num_filters, num_frames]`. I wrote a for loop to calculate the loss of each sample in the batch separately, though I just realized this is another reason autograd is not working.

[2021-05-20 13:55] mthrok commented on #1517
I do not think it's necessary to loop through samples in batch. It should be possible to pass the batch, though you still need to loop through filters registered as `ParameterList`. Despite that, I think it's a good addition to torchaudio to support general filter bank application.

[2021-05-20 14:33] yoyololicon commented on #1517
Unfortunately, for-loop is probably the only solution for now.
We do plan to support batched filter coefficients (see #1476 ), but it's a little bit different from your application.
I agree that multiple filter banks would be a good add-on feature.

[2021-05-20 21:19] mthrok commented on #1487
@small-yellow-duck So we landed #1509. We appreciate if you can try it and give us a feedback.

[2021-05-21 12:58] mthrok opened #1522 "Use of deprecated `AutoNonVariableTypeMode`."
`AutoNonVariableTypeMode` is deprecated and will be removed in PyTorch 1.10.

https://github.com/pytorch/audio/search?q=AutoNonVariableTypeMode

Migration: https://github.com/pytorch/pytorch/blob/master/docs/cpp/source/notes/inference_mode.rst#migration-guide-from-autononvariabletypemode

cc @carolineechen

[2021-05-22 20:06] discort commented on #658
@mthrok

I'm happy to help with this issue.

Please let me know if I made correct steps to reproduce this issue:
(the build command taken from https://github.com/pytorch/audio/blob/master/packaging/torchaudio/build.sh)
[code]

on master c4a17027be9060e97b7ab056a9fb00679038bf64:
Environment:
[code]

<details><summary>full logs</summary>
<p>

[code]

</p>
</details>

[2021-05-23 11:50] jonnor commented on #1090
There is now a PyTorch loader for FSDD in https://github.com/eonu/torch-fsdd

[2021-05-23 11:53] jonnor commented on #1090
There was also a pull request to add AudioMNIST, but it was closed, https://github.com/pytorch/audio/pull/84

[2021-05-24 22:40] #1502 closed

[2021-05-25 18:30] mthrok commented on #658
I merged #1484 and now torchaudio should build fine with `BUILD_SOX=1 python setup.py develop|install` on Jetson.
Closing this issue as there was multiple of build process change since the issue was opened.
If anyone encounter a build issue on Jetson or any other system, please open a new issue.

[2021-05-25 18:30] #658 closed

[2021-05-25 19:44] mthrok opened #1527 "v0.9 release checklist"
Note: This is not exhaustive list.
## Before branch cut
### Deprecation
- [x] #1535 Update deprecation warnings so that instead of saying "feature release", it says specific release version. [F.resample](https://github.com/pytorch/audio/blob/22fe802635d28b6ca5fdd15a66ac2cb871ad6881/torchaudio/functional/functional.py#L1316), [T.MelScale](https://github.com/pytorch/audio/blob/3bb3287f49e0a389bcf386

[2021-05-25 19:56] mthrok opened #1528 "Support multiple filters in lfilter"
## 🚀 Feature
It would be nice if we can apply multiple filter in `F.lfilter`

## Motivation

https://github.com/pytorch/audio/issues/1517#issuecomment-845125829

## Pitch

Allow [the `a_coeffs` and `b_coefds` parameters of `F.lfilter`](https://github.com/pytorch/audio/blob/14dd917ec60fa69ce3f7c6e3f2eaf520e67928b5/torchaudio/functional/filtering.py#L879-L883) to be 2D Tensors.

## Alternatives

Cur

[2021-05-26 22:05] mthrok commented on #1487
We can add `resmaple` parameter to `load` function.

[2021-05-29 03:50] mthrok commented on #1487
@carolineechen Could you add test cases that verifies that the resulting waveform is same when the new sampling rate is same with the original sample rate?

[2021-06-01 21:32] mthrok commented on #1506
wav2vec2.0 model is added in master branch and is scheduled to be released as part of 0.9.

[2021-06-01 21:32] #1506 closed

[2021-06-02 04:19] mthrok commented on #1527
@carolineechen I think `resample` is better suited under `Utility` category.

https://pytorch.org/audio/master/functional.html#resample

[2021-06-04 14:52] mthrok commented on #1487
@carolineechen It looks like most of the [`compliance_kaldi_test.py`](https://github.com/pytorch/audio/blob/15a7f78c4ecb007f4d1dcf70da2dc8791376d9b9/test/torchaudio_unittest/compliance_kaldi_test.py) can be safely removed. and so is [`assets/kaldi`](https://github.com/pytorch/audio/tree/15a7f78c4ecb007f4d1dcf70da2dc8791376d9b9/test/torchaudio_unittest/assets/kaldi).

When you remove `resample_wave

[2021-06-04 15:13] mthrok opened #1552 "Force GPU tests run in GPU CIs"
We use [`skipIfNoCuda`](https://github.com/pytorch/audio/blob/15a7f78c4ecb007f4d1dcf70da2dc8791376d9b9/test/torchaudio_unittest/common_utils/case_utils.py#L107) decorator to skip CUDA tests when CUDA is not available. This is nice but in CI with GPUs we should raise an error if CUDA is not available. We should update the decorator, so that we can provide further option to fail.

## Setup
Please re

[2021-06-04 17:39] salilsdesai commented on #1552
I'd like to work on this.

[2021-06-04 19:35] mthrok commented on #1552
Hi @salilsdesai

Thanks. Let me know if you need help.

[2021-06-07 15:17] vincentqb commented on #1348
@astaff and @mthrok -- I see PR #1513 merged with a mention that the PR should bring this issue to a conclusion, but there are no comments about this here. It looks like option 1 is selected through the PR. However, the warning message is missing alternative steps the user could follow to reproduce the previous behavior. This can be done in the description of the relevant issue to make it easier f

[2021-06-08 02:01] songtaoshi opened #1560 "reverb in apply_effects_tensor output -> 2 channels"
## ❓ Questions and Help

Hi, I am using apply_effects_tensor to reverb my data, but I find that the output will generate 2 channels and the two channels are not the same, Is there any explanation?

[2021-06-08 02:02] songtaoshi commented on #1560
@brianw @ezyang @swolchok @raff

[2021-06-08 02:37] mthrok commented on #1560
Hi @songtaoshi

From the `sox` documentation http://sox.sourceforge.net/sox.html

The link to [3] is found [here](https://web.archive.org/web/20051221051245/http://www.harmony-central.com/Effects/Articles/Reverb/).

I think sox is applying stereo reverb to emulate the different reverberation to each channel.

The description of `freeverb` algorithm can be found here. https://ccrma.stanford.edu/~jo

[2021-06-08 15:06] QuantScientist commented on #1000
Is there an example for reading an audio file into a torch::tensor in C++ ?

[2021-06-08 16:32] QuantScientist commented on #252
How do I do the same directly in C++/Libtorch?
Thanks

[2021-06-08 16:39] QuantScientist opened #1562 "Using the library directly from Libtorch in C++"
Hello,
How can I use this library directly from Libtorch in C++ in order to read a wave file into a torch::tensor?
I am only interested in C++, not Python.

Thanks,

[2021-06-08 22:04] vincentqb commented on #1468
@PetrochukM, have you tried the kaldi voice activity detection? also mentioned in [pytorch forum](https://discuss.pytorch.org/t/kaldi-voice-activity-detection-vad/103001)

[2021-06-09 05:29] #1560 closed

[2021-06-09 13:22] mthrok commented on #1562
Hi @QuantScientist

There is a way to use torchaudio's I/O function from C++ but it's not like the usual C++ code, where you include header file and link your application.

We use TorchScript to deploy models and data processing pipelines. To do that,
1. Write operation in Python
2. Compile the Python code with TorchScript and save the object.
3. Load the saved TorchScript object from C++ and run.

[2021-06-09 15:37] QuantScientist commented on #1562
Thanks @mthrok
I hacked this lib: https://github.com/adamstark/AudioFile to read and write wav files between and to a torch::Tensor and it works without any problems.

[2021-06-09 15:46] mthrok commented on #1562
Cool. Nice to know there is such a solution.

[2021-06-09 15:46] #1562 closed

[2021-06-09 23:51] mthrok opened #1563 "melspectrogram doc is not rendered correctly"
## 📚 Documentation

https://pytorch.org/audio/0.9.0/transforms.html#melspectrogram

[2021-06-10 01:23] #1552 closed

[2021-06-10 02:58] PetrochukM commented on #1468
Sorry, I can't be too helpful! I considered it but I decided against it during my research. I vaguely remember being overwhelmed by the complexity of it.

[2021-06-10 12:27] harishsdev opened #1564 "Add example codes for documentation"
## 📚 Documentation

I have observed that Example codes are missing from Documentation for the below mentioned Classes from torchaudio, Can I Raise PR for it

Group A

- [x] Spectrogram  PR:https://github.com/pytorch/audio/pull/1566
- [x] GriffinLim  PR:https://github.com/pytorch/audio/pull/1671/
- [ ] AmplitudeToDB
- [ ] MelScale
- [ ] InverseMelScale
- [ ] MFCC
- [x] MuLawEncoding  PR:https://git

[2021-06-10 12:47] mthrok commented on #1564
Hi @harishsdev

Yes, this will be a great addition. Feel free to add PRs. However, please split PRs for each class, (make one PR per class) so that it is easier to review.

Also, some of them are covered in tutorial, so please have a look it as well.
https://pytorch.org/tutorials/beginner/audio_preprocessing_tutorial.html#feature-extractions

[2021-06-10 12:47] mthrok commented on #1564
I will make this issue open for contribution.

[2021-06-10 12:53] mthrok opened #1565 "Windows GPU CI is not running GPU tests"
Creating this issue for the sake of keep tracking the issue and come back later to resolve it. In https://github.com/pytorch/audio/pull/1559, we tried forcing GPU tests in Windows. Turned out that GPU driver that CircleCI provides as default in `windows-gpu` executor is too old to run GPU operation from PyTorch nightly. We need to fix this.

cc @NicolasHug @malfet @seemethere

[2021-06-10 12:57] NicolasHug commented on #1565
For ref, sibling issue in torchvision: https://github.com/pytorch/vision/issues/4006

[2021-06-10 12:57] harishsdev commented on #1564
I am working on Group A

[2021-06-10 14:48] vincentqb commented on #1468
Definitely, thank you :)

[2021-06-10 22:01] #1563 closed

[2021-06-11 01:17] mthrok opened #1569 "Remove lazy behavior from MelScale"
Address https://github.com/pytorch/audio/issues/1510

In 0.9.0 we are deprecating the lazy behavior of MelScale because it can make an invalid TorchScript object and it does not align with the design of torchaudio. Now in master branch, we can remove the implementation.

See [CONTRIBUTING.md](https://github.com/pytorch/audio/blob/master/CONTRIBUTING.md) for setting up the development environment.

[2021-06-11 08:52] SaoYear opened #1570 "Using MelSpec when power=None"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Use MelSpectrogram(..., power=None)

[code]

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?
 - If you are building from source, which commit is it?
 - What does `torchaudio.__version__` print? (If applicable)

Please copy and paste the output from our
[environment collection script](

[2021-06-11 09:47] mthrok commented on #1570
Hi @SaoYear

To stretch mel spectrogram, you should be able to do `Spectrogram(power=None)` -> `TimeStretch` -> `.abs().power(power)` -> `MelScale`.

MelScale conversion, in my understanding, is simply weighted sum over different frequency bins, and it is implemented as matrix multiplication between spectrogram and frequency bin matrix. The reason why we see is frequency bin matrix is real-valued,

[2021-06-11 11:41] SaoYear commented on #1570
Thanks! I have finished the time stretching part for Mel spec.

As for the MFCC, I think a good reference might be SLP2 by J&M.
https://github.com/rain1024/slp2-pdf/blob/master/chapter-wise-pdf/%5B09%5D%20Automatic%20Speech%20Recognition.pdf
Section 9.3. For my understanding, the Mel scale is designed for approaching human hearing, which is mostly related with energy only. So, it might be somehow

[2021-06-11 13:41] Patil2099 commented on #1569
I would love to work on this @mthrok

[2021-06-11 14:35] mthrok commented on #1570
@SaoYear

Thanks for the link. Indeed the section 9.3.4 says `The result of FFT will be information about the amount of energy at each frequency band.`, so I think it's okay for us to only consider the case where `power` is not `None` for Mel scale.

@carolineechen Does this make sense to you?

[2021-06-11 18:03] carolineechen commented on #1570
@mthrok yup, I think it makes sense to only consider the case where `power` is not `None` for MelSpectrogram.

[2021-06-14 06:16] SaoYear commented on #1570
Hi mthrok,

Got one more problem that may need your advise.

I wanna do random pitch shifting to one batch of clips. Right now I'm using apply_sox_effect to do this part, but found really slow (4mins per epoch):
[code]

Then I changed the code by resample + time stretching:
[code]
where get_resampler just creates a Resample object from torchaudio.transforms.Resample. But this made the code even sl

[2021-06-14 10:52] antic11d opened #1573 "Installation on apple silicon (M1)"
## ❓ Questions and Help

Hi, is there a possibility of installing this package on the Apple M1 machine? Since the installation fails for me from both pip and conda.
Thanks!

[2021-06-14 12:42] #1570 closed

[2021-06-14 12:53] mthrok commented on #1570
@SaoYear

I do see why it is not fast, but it is not trivial to resolve it.

Couple of suggestions
- Can you move `apply_effects_tensor` and pitch shift to right after data is loaded? Probably somewhere close to DataLoader. Moving data from CUDA to CPU is expensive here.
- For the use of `Resample`, we have made `T.Resample` significantly faster in the latest release (scheduled to be released tomo

[2021-06-14 12:57] mthrok commented on #1573
Hi @antic11d

Thanks for the report. Our build process for M1 mac is unstable right now. Could you confirm that you can install PyTorch?

@seemethere @malfet could you take a look at it?

[2021-06-14 12:59] antic11d commented on #1573
Hi @mthrok,

Yes, I can install PyTorch. :)

[2021-06-14 13:08] #1058 closed

[2021-06-14 13:35] mthrok commented on #1573
@antic11d

Thanks for the confirmation. Can you try installing it from source?
https://github.com/pytorch/audio/blob/master/CONTRIBUTING.md#install-torchaudio

It might take a while for us to fix binary build, but I think there is a good chance that you can simply build it.

[2021-06-14 13:36] Joool opened #1574 "🚀 Feature Proposal: Linear Frequency Cepstral Coefficients (LFCC)"
## 🚀 Feature
Add linear frequency cepstral coefficients (think MFCC but with a liner filterbank instead of mel) as a transform.

## Motivation
I implemented linear frequency cepstral coefficients (LFCC) for a recent project based on the torchaudio MFCC implementation. If this is of interest to the project, I would happily commit them.

## Pitch
LFCCs are, for example, used in automatic speaker ver

[2021-06-14 13:50] antic11d commented on #1573
@mthrok

I gave it a try, this is the error I get:

-- Building version 0.10.0a0+c5d0390
running develop
running egg_info
writing torchaudio.egg-info/PKG-INFO
writing dependency_links to torchaudio.egg-info/dependency_links.txt
writing requirements to torchaudio.egg-info/requires.txt
writing top-level names to torchaudio.egg-info/top_level.txt
reading manifest file 'torchaudio.egg-info/SOURCES.txt

[2021-06-14 13:57] mthrok commented on #1573
@antic11d

I have never seen this error , so I do not have an definitive answer but there is a similar error reported https://github.com/numpy/numpy/issues/14165#issuecomment-571815740
Maybe installing `libopenblas` and symlink is a way to go.

This might be something specific to M1 Mac

[2021-06-14 14:02] mthrok commented on #1574
Hi @Joool

Thanks for the proposal. I think idea-wise it is a nice extension.
Couple of questions
- Is there a paper that we can learn the effect / usage of this?
- `torchaudio.transforms.MFCC` is composed of `Spectrogram`, `MelScale` and `DCT transformation`. Is LFCC simply replacing `MelScale`? or did you have to do something more to make it work with the current interface?

[2021-06-14 14:22] antic11d commented on #1573
@mthrok

Symlink definitely helped, but there is one more error...

/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -DINCLUDE_KALDI -DINCLUDE_SOX -DTORCH_API_INCLUDE_EXTENSION_H -D_torchaudio_EXPORTS -I../../ -I/Users/dimi/miniforge3/envs/compression/include/python3.9 -I../../third_party/sox/../install/include -I../../third_party/kaldi/src -I../../thi

[2021-06-14 15:08] malfet commented on #1573
@antic11d can you please run `python -m torch.utils.collect_env` and post its output here?
Also, 10.9 deployment target is too old for M1, please try building without this option.

[2021-06-14 15:41] antic11d commented on #1573
Hi @malfet, here's the output:

PyTorch version: 1.8.0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A
OS: macOS 11.4 (arm64)
GCC version: Could not collect
Clang version: 12.0.5 (clang-1205.0.22.9)
CMake version: version 3.20.2
Python version: 3.9 (64-bit runtime)
Is CUDA available: False
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nv

[2021-06-14 17:19] Joool commented on #1574
Hi,

Sorry forgot to link a paper:
http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.717.6743&rep=rep1&type=pdf

See Figure 1 for a comparison.

Yes, I basically replaced the matrix creation of MelScale to use a linear scale filter bank instead:

https://github.com/pytorch/audio/blob/c5d0390c8d9a0356d350bfced1c2152ae308e9b9/torchaudio/transforms.py#L280-L283

I would add a new function for

[2021-06-14 17:35] malfet commented on #1573
@antic11d since you've installed PyTorch-1.8.0 you need to build torchauio from https://github.com/pytorch/audio/tree/release/0.8, which can be cloned by running something like:
[code]

[2021-06-15 04:55] SaoYear commented on #1570
Thanks a lot for your recommendations!

Looking forward to the newest `Resample` since I am changing the sample rate in each batch.

Cheers!

[2021-06-15 09:20] antic11d commented on #1573
@malfet
Unfortunately, there are still errors happening...

  Protobuf cannot be found.  Depending on whether you are building Caffe2 or
  a Caffe2 dependent library, the next warning / error will give you more
  info.
Call Stack (most recent call first):
  /Users/dimi/miniforge3/envs/compression/lib/python3.9/site-packages/torch/share/cmake/Caffe2/Caffe2Config.cmake:56 (include)
  /Users/dimi/min

[2021-06-15 17:31] mthrok commented on #903
Closing the issue as 0.9 is released which concludes the migration.
Thank you for all the people who gave feedback.

[2021-06-15 17:31] #903 closed

[2021-06-15 17:32] #1527 closed

[2021-06-15 18:06] mthrok commented on #428
This now raises error with reasonable description and Python does not crash. Closing the issue.

[code]

[2021-06-15 18:06] #428 closed

[2021-06-15 18:09] mthrok commented on #30
We have added bunch of quality control parameter to resampling, Kaiser window support, rolloff etc. One can perform resampling without sever degradation.

For the comparison with librosa, please refer to
https://pytorch.org/tutorials/beginner/audio_preprocessing_tutorial.html#resampling

[2021-06-15 18:09] #30 closed

[2021-06-15 18:10] #853 closed

[2021-06-16 14:36] #1010 closed

[2021-06-16 14:52] #258 closed

[2021-06-16 14:53] mthrok commented on #236
This has been resolved via #726.

[2021-06-16 14:53] #236 closed

[2021-06-16 14:59] mthrok commented on #1570
@SaoYear

0.9 has been released and @carolineechen has added a very detailed tutorial about resampling. Please have a look https://pytorch.org/tutorials/beginner/audio_preprocessing_tutorial.html#resampling

BTW there was an attempt to add pitch shift
https://github.com/pytorch/audio/pull/445

I am wondering if it will be useful to have a native implementation in `torchaudio`. What do you think?

[2021-06-16 15:05] mthrok commented on #295
The build process has been changed to use CMake.
If anyone encounter a build issue, please open a new issue.

[2021-06-16 15:05] #295 closed

[2021-06-16 15:08] mthrok commented on #42
Closing as the build process has been changed to CMake, we have better Windows support and the issue reported here is obsolete.
If anyone encounters build error, please file a new issue.

[2021-06-16 15:08] #42 closed

[2021-06-16 15:09] #50 closed

[2021-06-16 15:09] #88 closed

[2021-06-16 15:09] #64 closed

[2021-06-16 19:58] mthrok commented on #1574
Hi @Joool

Here is my understanding of the proposal here.

1. Add `torchaudio.functional.linear_fbanks`.
1. Add `torchaudio.transforms.LFCC`
1. Rename `torchaudio.functional.create_fb_matrix` to `torchaudio.functional.melscale_fbanks`. (this will take 2 release cycles)

I think these are reasonable / good addition / row risk.

Now we need to think of interfaces of new functions / transforms.

Did

[2021-06-17 08:29] suissemaxx commented on #1573
Could you be so kind a quickly post how exactly you symlinked? I unfortunately can't get it working. Thanks in advance!

[2021-06-17 09:44] antic11d commented on #1573
Hi @suissemaxx,

As far as I remember, the command I used was

Where, of course, you should change the paths to your environment.

[2021-06-17 12:33] suissemaxx commented on #1573
@antic11d Thanks, Dimitrije! Appreciate your help! 👍

@malfet I second @antic11d's request for a solution. It would be superhelpful to be able to install torchaudio along pytorch et al. Thanks in advance for any help or hint you can give us.

[2021-06-17 13:47] malfet commented on #1573
As of PyTorch-1.9 releases TorchAudio builds should be available for both aarch64 and M1

Can you please try running
[code]
And let me know whether it works for you

[2021-06-17 13:56] antic11d commented on #1573
Hi @malfet,
Yes, it works for me!
AFAIK, this issue can be closed. Thank you!

[2021-06-17 14:07] mthrok commented on #1573
Thanks @malfet!

[2021-06-17 14:07] mthrok commented on #1573
Closing the issue. Thanks for the report @antic11d @suissemaxx

[2021-06-17 14:07] #1573 closed

[2021-06-17 14:53] suissemaxx commented on #1573
Works for me too now! Thanks a lot! 👍

[2021-06-17 16:32] astaff commented on #1348
The change in #1513 does not change the behavior, only adds a warning and it seems to be closer to no. 2 proposed above.

[2021-06-18 02:30] mthrok commented on #1348
I am not sure what you two are referring by `2` as both of you left comment with ordered list.
My understanding is that #1513 is a temporary major as this discussion is not concluded.
I think, if we want to retain the VADs we should change it to return mask, as I cannot think of a use case for the current interface. Returning mask would allow to handle batched/multi-channel input easily.

[2021-06-18 08:13] Joool commented on #1574
Hi @mthrok

I would propose a similar interface to `torchaudio.functional.create_fb_matrix` excluding the `norm` and `mel_scale` parameters. The implementation would work analogous except the mel scaling.

I think the only sensible place for `spafe` would be for testing, i.e., similarly on how `librosa` is used. However, that would be optional.

[2021-06-18 22:06] yangarbiter opened #1589 "Some tests are not skipped properly"
## 🐛 Bug

The bug is discovered in [this discussion](https://github.com/pytorch/audio/pull/1584#discussion_r654614757). These tests (kaldi_io_test.py, backend/soundfile/load_test.py, backend/soundfile/save_test.py) should be skipped if soundfile or kaldi_io are not installed. But instead these tests just Failed.

## To Reproduce

Steps to reproduce the behavior:

1. conda create -n temp -c pytorch

[2021-06-19 00:17] yangarbiter opened #1592 "soundfile save test failing"
## 🐛 Bug

I've tried to build torchaudio from the source but one test is consistently failing (backend/soundfile/save_test.py::TestFileObject::test_fileobj_flac). This happens on both my Linux and OSX machine.

## To Reproduce

Steps to reproduce the behavior:

1. `git clone https://github.com/pytorch/audio`
2. `cd audio`
3. `git submodule update --init --recursive`
4. `conda create -n temp2 -c py

[2021-06-19 03:01] mthrok commented on #1592
What will happen if you change the following line to `return None`?

https://github.com/pytorch/audio/blob/533c2d47f7c03370a26b9744f9ec2093857fc43a/torchaudio/backend/soundfile_backend.py#L286

[2021-06-19 04:29] yangarbiter commented on #1592
With this change, the test would pass in both linux and OSX.
Is this a bug or just a version issue?

[2021-06-20 13:36] antic11d opened #1594 "Cannot set audio backend Apple M1"
## 🐛 Bug

Hi, I can't seem to set audio backend, it always error even though I have installed `sox`.
## To Reproduce

Steps to reproduce the behavior:
[code]

I get the following error:

## Expected behavior

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?

 - If you are building from source, which commit is it?
 - What does `torchaudio.__version_

[2021-06-20 15:47] mthrok commented on #1594
Hi @antic11d

Thanks for the report. This means the M1 binary is not compiled with sox capability. (note that `torchaudio` does not depend on external `sox`)

@malfet I'm sorry I forgot to tell you but `BUILD_SOX=1` must be set when building packages for Linux and macOS. How can we resolve the situation for M1?

[2021-06-20 15:56] mthrok commented on #1592
It means that the reference data created in test is different from the current implementation of `torchaudi.save`.
First, we need to check which one is correct. If you have time to look into this, here is the step;

1. Get the signal generated during the test.
The audio data is saved in byte buffer at https://github.com/pytorch/audio/blob/533c2d47f7c03370a26b9744f9ec2093857fc43a/test/torchaudio_un

[2021-06-21 08:59] zpapakipos opened #1595 "Torchaudio + tensorflow + CUDA 11.0 = segfault"
## 🐛 Bug

Importing torchaudio after tensorflow-gpu while using CUDA 11.0 causes a segfault. This issue was originally reported in the AugLy repo: https://github.com/facebookresearch/AugLy/issues/28.

## To Reproduce

Steps to reproduce the behavior:

*Only happens on CUDA 11.0, so we haven't been able to reproduce this error.*

[code]

Output:

[code]

## Expected behavior

No segfault.

## Envir

[2021-06-21 09:18] mthrok commented on #1595
Hi @zpapakipos

What PyTorch version is this? `torchaudio==0.8` has no CUDA-related code, so it seems that the issue is caused by importing `torch`, like two CUDA versions are loaded.

Can you verify that it's not PyTorch?

[2021-06-21 12:51] mcanan commented on #1595
The error is happening to me as I reported in this issue: facebookresearch/AugLy#28
In my environment it can be reproduced with this commands:
[code]
Answering your question, the PyTorch version is the version installed by AugLy `torch==1.8.1`

Doing a:
[code]
The last file opened before the segfault is: `python3.8/site-packages/torchaudio/_internal/fft.py`

More information about my environment:

[2021-06-21 13:59] mthrok commented on #1595
@mcanan Thanks. Can you replace `import augly.audio as audaugs` with `import torch` and see that happens?

[2021-06-21 14:03] suissemaxx commented on #1594
I observe the same error. Any hints how to solve this issue would be very helpful. Thanks in advance. 👍

[2021-06-21 14:05] mthrok commented on #1589
for the `kaldi_io` test, the test class needs to be decorated with `skipIf`.
https://github.com/pytorch/audio/blob/533c2d47f7c03370a26b9744f9ec2093857fc43a/test/torchaudio_unittest/kaldi_io_test.py#L7

Example:

https://github.com/pytorch/audio/blob/533c2d47f7c03370a26b9744f9ec2093857fc43a/test/torchaudio_unittest/functional/librosa_compatibility_test_impl.py#L10

https://github.com/pytorch/audio/

[2021-06-21 14:09] mthrok commented on #1589
For soundfile test, the failing ones are MockedTest and it fails after the test when mock is try to recover `soundfile` name, which is not imported in case `soundfile` is not installed.

A solution will be to use magic mock to define something as `soundfile` when it's not available.

Adding something like
[code]

In the following,
https://github.com/pytorch/audio/blob/533c2d47f7c03370a26b9744f9ec2

[2021-06-21 14:23] mcanan commented on #1595
It doesn't fail:
[code]

In the other case the output is this:
[code]

[2021-06-21 15:01] mthrok commented on #1595
Oh that's interesting. Can you run `python -m 'torch.utils.collect_env'` and report the output?

[2021-06-21 15:07] mcanan commented on #1595
[code]

[2021-06-21 15:22] mthrok commented on #1595
Do you use CUDA from both TF and PyTorch?

The original issue description says `Only happens on CUDA 11.0`. (and I am interpreting this as 'it does not happen on CPU-version of PyTorch').
If you do not use PyTorch for DL-related stuff, as a workaround, it might work to replace the CUDA-enabled PyTorch with one without it.

[2021-06-21 15:35] mcanan commented on #1595
We don't use PyTorch. We use only TF for DL.
We wanted to test the new `AugLy` library to test the audio augmentations and we installed it. PyTorch is installed during the `AugLy` installation.
How can we replace the CUDA enabled PyTorch for the other one?
Should't it be done during `AugLy` installation?

[2021-06-21 15:42] mthrok commented on #1595
So first uninstall PyTorch and torchaudio `pip uninstall torch torchaudio` then install the right version of `torch` and `torchaudio`.

To install `torch`, something like `pip3 install torch==1.8.1+cpu torchaudio==0.8.1` will work but the best way to find the correct command is to go to https://pytorch.org/get-started/locally/#start-locally and choose the right configuration for you.

[2021-06-21 15:45] yangarbiter commented on #1592
I appears that soundfile is using "PCM_16" as default ([link](https://github.com/bastibe/python-soundfile/blob/744efb4b01abc72498a96b09115b42a4cabd85e4/soundfile.py#L124)) when None is passed to subtype, and the default for PCM_24 is used for torchaudio.
I think the fix is to change this line
https://github.com/pytorch/audio/blob/533c2d47f7c03370a26b9744f9ec2093857fc43a/test/torchaudio_unittest/ba

[2021-06-21 16:55] yangarbiter commented on #1589
I think adding `soundfile = MagicMock()` won't work in [load_test.py](https://github.com/pytorch/audio/blob/533c2d47f7c03370a26b9744f9ec2093857fc43a/test/torchaudio_unittest/backend/soundfile/load_test.py) since in this function https://github.com/pytorch/audio/blob/533c2d47f7c03370a26b9744f9ec2093857fc43a/test/torchaudio_unittest/backend/soundfile/load_test.py#L110

it will try to import `soundfi

[2021-06-21 18:07] mcanan commented on #1595
I installed the cpu version and I still have the same `segfault`.
I can reproduce it from scratch following these steps:
[code]
The output is:
[code]

The output of `python -m 'torch.utils.collect_env'` is:
[code]

Thank you

[2021-06-21 19:25] mthrok commented on #1595
Thanks for the report. One more thing, can you try `torch==1.9.0` and `torchaudio==0.9.0`?
It's unlikely that we can make a change to the past release (`1.8`/`0.8`), but if we can fix it on master, then we can do a minor release `0.9.1`

[2021-06-21 19:48] mcanan commented on #1595
It doesn't fail now. I followed these steps from scratch:
[code]
The only error messages I had were these during torch and torchaudio installation:
[code]

[2021-06-21 19:58] mthrok commented on #1595
@mcanan Thanks. Grad that it works.

@zpapakipos @jbitton Not sure if the version requirements should be bumped up in AugLy's `requirements.txt`, but at least this seems to work.

[2021-06-21 21:38] jbitton commented on #1595
@mthrok thank you for helping debug this issue! I'll check the unit tests for AugLy audio with torch 1.9.0 and torchaudio 0.9.0 and see if we're still getting the same expected results :)

[2021-06-22 13:42] mthrok commented on #1595
Closing this issue as it does not happen in recent release (0.9) and master branch.
The reason why it does not work with 0.8 is still unknown but we do not update the past release as-well, so we recommend users to use the 0.9.

[2021-06-22 13:42] #1595 closed

[2021-06-22 19:23] #1522 closed

[2021-06-23 08:02] trangtv57 opened #1607 "load audio with torchaudio to gpu so slow?"
hi, tks for greate repo.
I have one question about how can i decrease time for load wav audio to gpu by torchaudio.  I want to load audio to gpu for take advantage of gpu for torchaudio transform feature by gpu:
First i have function to load audio with duration:

[code]

I try to benchmark with  loading 4000 audio (range 1-3s). If I don't transfer wf to cuda ( commend line code `if torch.cuda.is_a

[2021-06-23 20:00] mthrok commented on #1607
Hi @trangtv57

Since you are loading audio and slicing, it is advantageous to give `frame_offset` and `num_frames`. That way, the function will stop decoding once enough frames are decoded. If you split loading and slicing, then the `load` function will load the whole audio.

Regarding CPU -> CUDA, loading audio and moving is the only way. If there is a library for decoding on GPU, then we can bin

[2021-06-24 04:11] trangtv57 commented on #1607
tks @mthrok , i just test phase inference for single sample pertime, so i don't using dataloader. I try to replace slicing audio using frame_offset and num_frames in torch_audio.load, but time is still don't decrease  much. anyway, tks you.

[2021-06-24 04:11] #1607 closed

[2021-06-26 13:27] malfet commented on #1594
Rebuilt the binaries and uploaded them to `https://download.pytorch.org/whl/test/cpu/torchaudio/`
Please try installing them using `pip3 install --extra-index-url https://download.pytorch.org/whl/test/cpu torchaudio` and let me know if they work as expected

[2021-06-26 13:37] antic11d commented on #1594
Hi @malfet,
I've tested the new build, and it seems like everything works fine, i.e. I can now set the `sox` backend successfully.
AFAIC, this issue can be closed. Thanks, again! 😊

[2021-06-28 06:53] #1594 closed

[2021-06-29 03:03] SoonSYJ opened #1617 "Does nightly build pytorchaudio support GPU RNNT loss?"
Dear researchers,
I have tried to pip install torchaudio-0.10.0.dev20210627-cp36-cp36m-linux_x86_64.whl. After installing the package successfully, I found the RNNT loss only have a CPU version. And move tensors from cuda to cpu really cost a lot of time. So I just ask about how can I get a GPU version isntalling.

[2021-06-29 15:13] carolineechen commented on #1617
Hi @SoonSYJ,

I don't believe the torchaudio nightly binary supports GPU RNNT loss, but it is currently supported in master, and you should be able to use it if you install torchaudio from source, as described in the [contributing doc](https://github.com/pytorch/audio/blob/master/CONTRIBUTING.md#development-installation), with the following change(s)
- RNNT loss is not supported by default, so you

[2021-06-29 22:15] mravanelli opened #1619 "Error when using Resampler on GPU with torchaudio 0.9"
Hi,
it looks like there is a small issue when using the resampler with torchaudio 0.9.
I indeed got the error below, when running the following code:

[code]

[code]
Note that everything is fine with cpu and with torchaudio 0.8.1

[2021-06-30 07:57] yoyololicon commented on #1619
@mravanelli
You didn't move your resampler to the same device.
Use `resampler = torchaudio.transforms.Resample(16000, 8000).to('cuda:0')` should fix the problem.

[2021-06-30 13:27] mravanelli commented on #1619
Hi @yoyololicon,
thank you for your reply.
The issue is that with torchaudio 0.8 the error doesn't show up and this might cause incompatibilities with pre-existing codes written with torchaudio 0.8. Isn't it reasonable to put the kernel in the same device as the input signal (as probably done before)?

[2021-06-30 13:58] yoyololicon commented on #1619
Hi @mravanelli
Yes, it was meant to be a BC-breaking change according to #1514, I'll just copy some of the statements here.

[2021-06-30 14:02] mravanelli commented on #1619
ok,
thank you for the clarification. I will change my code to make it work with
the latest version.

Best,

Mirco

On Wed, 30 Jun 2021 at 09:58, Chin-Yun Yu ***@***.***> wrote:

[2021-06-30 16:17] mthrok commented on #1619
We have added kernel cache mechanism to `transforms.Resample` in `0.9`.
The kernel is pre-computed when the transform is instantiated, and it has to be moved to the proper device. This semantic follows the regular usage of `torch.nn.Module`.

Looks like this was missing from [0.9 release note](https://github.com/pytorch/audio/releases/tag/v0.9.0), I will fix the release note.

cc @carolineechen

[2021-07-01 05:45] harishsdev commented on #1564
@mthrok please help to review

[2021-07-01 12:12] SoonSYJ commented on #1617
Hi @carolineechen,
Built the GPU version successfully, finally. Here I have got some time consumption and gpu memory usage matrics which is tested on a Telsa M40. Do you have any benchmark to be a reference, expecially the GPU usage?

B:10 T:125 U:20 V:14830 t_forward: 0.03090s t_backward:0.00570s GPU:5.94G

B: batch size
T: frames
U: number of tokens
V: vocabulary size

[2021-07-02 15:04] #1619 closed

[2021-07-02 19:39] carolineechen commented on #1617
Hi @SoonSYJ, unfortunately we do not currently have reference benchmarks for RNNT loss, as this feature is not yet finalized and not included in our release binary. We do plan on documenting some benchmarks when we release this feature though.

[2021-07-07 20:12] Mayur28 opened #1624 "Implementation of lfilter : Scipy+Librosa vs Torchaudio"
Hi,

I'm trying to use the torchaudio lfilter and I have been trying to compare the results to those produced by Librosa - Oddly, the results are quite different. If anyone could please offer any insight into this, it would be highly appreciated.

I have used the following code to experiment:

[code]

The output that I get for this specific audio sample is:
[code]
Thanks!

[2021-07-11 20:13] #1624 closed

[2021-07-12 18:03] #1592 closed

[2021-07-13 14:36] nateanl commented on #1409
I have reproduced your result. The reason is that the hop size is 320 that is a little big when n_fft is 512.
Let's see the implementation of [`torch.istft`](https://github.com/pytorch/pytorch/blob/b6024b9d12b389faada6643dd21efa194a07c231/aten/src/ATen/native/SpectralOps.cpp#L923):
[code]
The start is set to 256 since center is True in your case.
The end is set to start + lengthOpt.value() that is

[2021-07-13 19:48] xXDarkCubeXx commented on #1407
the number of frames can actually be calculated by 192*44100/512 +1 ~= 16883. I suspect the audio clip is a little less than 192 seconds and that's why he's getting a shape of (2,128,16846)

[2021-07-14 13:56] maor121 opened #1628 "Non blocking torchaudio.load()"
## 🚀 Feature
Currently, operations on tensors are mostly asynchronous. I suggest to add asynchronous **loading from disk**:

    tensor = torchaudio.load(filepath: str, non_blocking=True)  # new 'non_blocking' argument

## Motivation
Currently, one of PyTorch most powerful features is it's non blocking execution on tensors. For example. Consider the code snippet for training loop:

    for raw_dat

[2021-07-16 07:02] vivekkumar7089 commented on #1564
After following the instructions given in `contributing.md` for development and installation, when I am trying to build docs locally I am getting this error after running `make html`
[code]
@mthrok please help me out to overcome this error!

[2021-07-17 23:49] xXDarkCubeXx opened #1632 "Error while importing torchaudio"
## 🐛 Bug

I'm getting this error:
`AttributeError: module 'torchaudio._internal.module_utils' has no attribute 'requires_sox'`
while importing torchaudio

## To Reproduce
I'm using a kaggle notebook
just executed these lines:
[code]
## Environment
(collect_env.py output)
PyTorch version: 1.9.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu

[2021-07-18 07:42] nameless-akash commented on #1632
Can you please share the screenshot of the error
.

[2021-07-18 10:12] xXDarkCubeXx commented on #1632
sure,
![image](https://user-images.githubusercontent.com/41758992/126063459-5a7d13f2-16de-4f5a-a155-4b43658b6437.png)

[2021-07-18 10:29] xXDarkCubeXx commented on #1632
huh, this now is peculiar. I think I know what's wrong. in my code (after playing around for a while) I imported torchaudio and THEN upgraded it. I don't know why but it messed things up (i.e. trying to import torchaudio caused the above error)

[2021-07-18 10:34] #1632 closed

[2021-07-21 19:19] #1528 closed

[2021-07-22 01:20] #1154 closed

[2021-07-22 01:20] #1196 closed

[2021-07-22 01:58] mthrok commented on #1628
Hi @maor121

Thanks for the suggestion. This is interesting.
I asked around if there is a PyTorch API that we can use to fulfill this feature, but unfortunately this seems not possible at the moment.

Firstly, `.to(non_blocking=True)` is only effective when the data is transferred from pinned memory to CUDA, and internally, it delegates the non blocking behavior to CUDA API. The logic and related

[2021-07-22 13:52] #889 closed

[2021-07-22 13:52] #1468 closed

[2021-07-22 22:30] #851 closed

[2021-07-27 16:56] radioactive11 commented on #1564
Can I start working on Group B?

[2021-07-27 17:04] nateanl commented on #1564
Hi @radioactive11! Sure, feel free to create a PR for each class in Group B.

[2021-07-27 17:09] radioactive11 commented on #1564
@nateanl Thank you for letting me work on this issue. I am new to the repo. Should I add an example like [this one](https://pytorch.org/audio/stable/transforms.html#melspectrogram)?

[2021-07-27 17:25] nateanl commented on #1564
Yes, exactly. You can see @harishsdev's #1566 as an example.

[2021-07-29 16:13] yangarbiter opened #1651 "Move the WaveRNN inference wrapper to infer method"
As discussed in #1637, we want to support infer method for WavrRNN natively. To do so, we need to move 1. mulaw decoding, 2. batch folding, and 3. categorical sampling outside the forward method of the WaveRNNInferenceWrapper.

[2021-07-30 20:10] nateanl opened #1656 "Add Multi-channel Support and Beamforming Modules to Torchaudio"
## 🚀 Feature

## Motivation

Far-field speech recognition is a more challenging task compared to the near-field task. Multi-channel methods such as beamforming help reduce the noises and enhance the target speech. It is essential to provide multi-channel functionality support in torchaudio.
Torchaudio already supports multi-channel audio at an IO level. It’ll be more convenient to researchers if w

[2021-07-30 20:56] mthrok opened #1657 "Nightly CUDA build does not have CUDA code"
In https://github.com/pytorch/audio/pull/1497, CUDA binary was added to nightly build. However the CUDA code are not compiled in these builds thus the resulting nightly build does not have CUDA capability for [`torchaudio.prototype.rnnt_loss`](https://pytorch.org/audio/master/rnnt_loss.html#rnnt-loss).

See an user report #1617

Note: I attempted to fix them by myself in https://github.com/pytorch

[2021-08-01 14:40] aligoglos opened #1660 "module 'torchaudio' has no attribute 'models'"
## 🐛 Bug

I tried to run these lines :
[code]
but got error:
[code]

## Environment
PyTorch version: 1.9.0+cu111
Is debug build: False
CUDA used to build PyTorch: 11.1
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 10 Pro
GCC version: (GCC) 10.2.0
Clang version: Could not collect
CMake version: version 3.20.3
Libc version: N/A

Python version: 3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:

[2021-08-01 14:57] mthrok commented on #1660
Hi @aligoglos

Looks like `models` import is missing from `torchaudio.__init__.py`.
Can you try the following?

[code]

[2021-08-01 15:50] rien333 commented on #988
I can use ladspa effects just fine when I manually call my `sox` binary, and I have all the required libraries installed to build `sox`  with ladspa support (AFAIK).

Still, I get the following error whenever I apply a `ladspa` effect:

[code]

I also modified `audio/third_party/sox/CMakeLists.txt` such that ladspa support is explicitly included:

[code]

@mthrok So is ladspa support out of the qu

[2021-08-01 16:21] rien333 commented on #988
To somewhat answer my own question, it seems that sox with ladspa can only be build without `--disable-shared` (at least according to [this discussion](https://sourceforge.net/p/sox/mailman/sox-users/thread/20170710194108.GA15244%40whir/))

[2021-08-02 04:34] aligoglos commented on #1660
It works.
Thanks.

[2021-08-02 04:34] #1660 closed

[2021-08-02 13:23] mthrok commented on #988
Hi @rien333

The build process has been changed since the time of above discussion, and `ladspa` is indeed explicitly disabled. This is because now we only support static build of `libsox` and because of an issue with in-memory decoding (for file-like object support) and many binary distribution of `libsox` provided by package manager has the issue. The issue with in-memory decoding has been patch

[2021-08-02 15:24] mthrok opened #1661 "LFCC sporadically fails autograd test for some config"
The newly added LFCC is failing autograd test.
https://app.circleci.com/pipelines/github/pytorch/audio/6801/workflows/c08649af-e7cf-443d-8dc0-d60cd3e66cb2/jobs/282812

It only happens on Linux CUDA Python 3.9 environment (so far).

Looking at [the code](https://github.com/pytorch/audio/pull/1611), there is no obvious randomness used.

Needs investigation.

cc @nateanl

[2021-08-02 15:25] mthrok opened #1662 "`torchaudio.models` is not imported on top-level"
Par #1660. The following should work.

[code]

[2021-08-02 15:41] nateanl commented on #1661
Interesting. Let me dig into it.

[2021-08-02 15:43] nateanl commented on #1662
Shall we add models in ``__init__.py``?

[2021-08-02 16:44] mthrok commented on #1662
Yes!

[2021-08-03 11:26] nateanl commented on #1661
It's interesting that [MelSpectrogram](https://github.com/pytorch/audio/blob/main/test/torchaudio_unittest/transforms/autograd_test_impl.py#L87) needs a ``nondet_tol`` for gradcheck while MFCC doesn't need it.
[code]
[code]

[2021-08-03 13:14] gabolsgabs opened #1666 "`sox_effects.apply_effects_tensor` effects definition not match sox effect options and triggers `Invalid effect option:`"
## 🐛 Bug

When using `torchaudio.sox_effects.apply_effects_tensor` the effects definition does not match the sox official doc.

For instance:
[code]
works fine, however:

[code]
triggers:
[code]

It seems something global that occurs for all the effects. Here're a few examples:

### 1

[code]
[code]

### 2

[code]
[code]

### 3

[code]
[code]

Am I doing something wrong? Ideally, I'd expect to def

[2021-08-03 15:53] mthrok commented on #1666
Hi @gabolsgabs

Thanks for the report. I tried your snippet in my environment but it worked fine. I am wondering if this is something about your environment. Can you post the result of the `python -m torch.utils.collect_env` (https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)?

[2021-08-03 16:00] gabolsgabs commented on #1666
Thanks for replying @mthrok. Weird, until know I haven't had any issue with `sox` in my environment. These are the results for `python -m torch.utils.collect_env`

[code]

[2021-08-03 16:03] nateanl commented on #1660
Hi @aligoglos. #1664 should fix the models import issue. Now you can use ``torchaudio.models.Wav2Vec2Model()`` for your code.

[2021-08-03 18:16] gabolsgabs commented on #1666
Ey @mthrok I've just found the solution. The issue was that my server wasn't using `english` as default language. I just needed to set the language in my `.bash_profile` (`export LC_ALL=C`) to use it. An easy solution for a difficult catch.
Any way, thanks for having a look!

[2021-08-03 18:16] #1666 closed

[2021-08-03 19:22] mthrok commented on #1569
Resolved by #1636

[2021-08-03 19:22] #1569 closed

[2021-08-03 19:23] #1510 closed

[2021-08-03 20:01] mthrok commented on #1574
LFCC was added in #1611. Closing the issue. Feel free to re-open if that's not the case. @nateanl @Joool

Thanks!

[2021-08-03 20:01] #1574 closed

[2021-08-03 20:03] mthrok commented on #1617
Consolidating the issue. Please comment on #1657

[2021-08-03 20:03] #1617 closed

[2021-08-03 20:04] mthrok commented on #302
This is now possible. Please check out our example  https://github.com/pytorch/audio/tree/main/examples/libtorchaudio

[2021-08-03 20:04] #302 closed

[2021-08-03 20:05] mthrok commented on #1406
Please open a new issue if the problem persists.

[2021-08-03 20:05] #1406 closed

[2021-08-03 20:05] #1395 closed

[2021-08-03 20:06] #1220 closed

[2021-08-03 20:06] #1169 closed

[2021-08-03 20:09] #985 closed

[2021-08-03 20:09] #944 closed

[2021-08-03 20:13] mthrok commented on #908
Closing as this is addressed in #1487.
If you would like to provide feedback, please comment in #1487.

[2021-08-03 20:13] #908 closed

[2021-08-03 20:14] #890 closed

[2021-08-03 20:16] mthrok commented on #768
In PyTorch 1.9, complex numbers are supported in most (if not all) of the linear algebra. Thanks for the feedback!

[2021-08-03 20:16] #768 closed

[2021-08-03 20:16] #721 closed

[2021-08-03 20:18] mthrok commented on #711
Closing the issue as mechanism around I/O, preprocessing and batching are discussed and addressed in PyTorch core as a part of dataset redesign.

[2021-08-03 20:18] #711 closed

[2021-08-03 20:18] #680 closed

[2021-08-03 20:20] #495 closed

[2021-08-03 20:21] mthrok commented on #446
Closing the issue as torchaudio now has models submodule.

For adding a new model, please propose it by opening a new issue.

[2021-08-03 20:21] #446 closed

[2021-08-03 20:24] #241 closed

[2021-08-03 20:44] mthrok opened #1669 "Removing `create_fb_matrix` in v0.11"
In #1653, we have deprecated  `create_fb_matrix` in favor of `melscale_fbanks`.
After the v.10 release, we plan to remove `create_fb_matrix`.

[2021-08-03 20:47] mthrok commented on #1666
@gabolsgabs

Grad that you found the solution. :)

[2021-08-03 21:15] mthrok commented on #416
Closing the PR as
1. `torchvision`'s `RandomCrop` now accepts `torch.Tensor`
2. This needs formal specification, as many audio training has corresponding metadata, which also needs to be cropped in the same time steps.

[2021-08-03 21:15] #416 closed

[2021-08-03 22:38] mthrok commented on #1662
addressed by #1664

[2021-08-03 22:38] #1662 closed

[2021-08-04 16:06] nateanl opened #1677 "Error when making html in docs"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]
## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)? build from source
 - If you are building from source, which commit is it? ``BUILD_SOX=1 MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ python setup.py develop``
 - What does `torchaudio.__version__`

[2021-08-04 16:09] mthrok commented on #1677
Are you using the exact version of sphinx listed here?

https://github.com/pytorch/audio/blob/main/docs/requirements.txt

[2021-08-04 16:13] nateanl commented on #1677
Yes, I installed them using the command ``pip install -r requirements.txt``

[2021-08-04 17:09] mthrok commented on #1677
I cannot reproduce the issue. 🧐
Can you report your env?

[code]

[2021-08-04 17:27] mthrok opened #1678 "Use more recent version of libsox source code"
In torchaudio, we use 14.4.2 release code and patch `is_seekable` function to workaround the bug in `fstat with memory data.

The is fixed in upstream.
https://github.com/chirlu/sox/commit/bb38934e11035c8fab141f70dabda3afdd17da36
The patch we use in torchaudio uses different strategy and we should follow the upstream change.
This might cause some BC-breaking changes.

[2021-08-04 17:28] mthrok opened #1679 "New version of Vorbis is available"
Vorbis has a newer version than torchaudio uses
https://github.com/xiph/vorbis/releases

We might want to use the newer version.

[2021-08-04 17:31] mthrok commented on #185
This is fixed in the latest code.

[2021-08-04 17:31] #185 closed

[2021-08-04 17:36] mthrok commented on #438
Addressed by #1629

[2021-08-04 17:36] #438 closed

[2021-08-04 17:37] nateanl commented on #1677
Sure.
[code]

[2021-08-04 17:42] #1454 closed

[2021-08-05 19:54] rien333 commented on #988
@mthrok Thanks for your quick and detailed reply! Following your instructions, I was able to add ladspa support.

[2021-08-06 14:32] nateanl commented on #1677
This is fixed by installing ``sphinx==4.1.0``. I'm not sure why the latest sphinx throws the error though.

[2021-08-06 14:32] #1677 closed

[2021-08-06 14:57] mthrok commented on #1677
We might need to consider using 3.5.4, following the change in the core.

https://github.com/pytorch/pytorch/pull/61601

[2021-08-09 14:17] mthrok opened #1686 "SpecAugment"
## 📚 Documentation

`TimeStretch`, `TimeMasking` and `FrequencyMasking` are implementation of [SpecAugment](https://arxiv.org/abs/1904.08779), but it is not immediately clear from the documentation.

We can add
1. Reference to the paper
2. Add example images

Note: when adding images to documentation, we need to make sure that
1. documentation is still comprehensive without the image
2. the colorm

[2021-08-09 14:49] mthrok opened #1687 "Detection of libsndfile"
Currently, `torchaudio` treats `soundfile` as an optional dependency, and it assumes either `soundfile` is properly installed or it is not installed at all. However, there is a third state where `soundfile` is installed but the backing library `libsndfile` is not installed, and in this case, `import torchaudio` fails.

For regular users, the issue is easily resolved with installing `libsndfile`, b

[2021-08-09 17:55] mthrok commented on #1687
Reserving this for bootcamp task.

[2021-08-10 14:43] fakufaku opened #1691 "Python 3.9 conda build checksums are incorrect for v0.9.0"
## 🐛 Bug

I am getting `ChecksumMismatchError` when trying to install torchaudio from conda.
I have only tried the linux64 version for python 3.9 and torchaudio 0.9.0.

This  is also happening for [torchvision](https://github.com/pytorch/vision/issues/4262).

## To Reproduce

Install pytorch and torchaudio with conda, or, just to check the MD5 checksum
[code]
and compare to the declared value `722

[2021-08-10 17:27] mindaugo1 opened #1692 "`Segmentation fault (core dumped)` err while applying `apply_effects_tensor()`"
## 🐛 Bug

While applying audio effects via `apply_effects_tensor()` function, an error `Segmentation fault (core dumped)` is raised.

## To Reproduce

To reproduce an error, run a script which iterates over an audio dataset and applies effects via `apply_effects_tensor()` function. The script can be found here: [segmentation_err.py](https://gist.github.com/mindaugo1/ffd9e0d1d7a84c1436cef94e2f619c7

[2021-08-10 17:29] malfet commented on #1691
Old version of packages were deleted from the repo, and issue should be resolved now:
[code]

[2021-08-10 17:30] seemethere commented on #1691
I've gone ahead and deleted the old packages and the hash mismatch appears to have been resolved, feel free to re-open the issue if still persists, see https://github.com/pytorch/pytorch/issues/63006#issuecomment-896174963

[2021-08-10 17:30] #1691 closed

[2021-08-10 20:35] #1476 closed

[2021-08-11 01:52] yoyololicon commented on #1408
Since #1638 has merged, I think it's time to improve the running time on CUDA.

@mthrok I can also help look into it and try some CUDA code if you don't have time.

[2021-08-11 08:25] fakufaku commented on #1691
Thank you very much!!! ❤️

[2021-08-11 14:52] mthrok commented on #1692
Hi @mindaugo1

Thanks for the report. I could reproduce the issue. I will look into this.

[2021-08-11 15:16] nateanl opened #1694 "unit tests failed on linux gpu machines"
## 🐛 Bug

In the nightly build, the unit tests failed on linux gpu machines. See:
https://app.circleci.com/pipelines/github/pytorch/audio/6955/workflows/f0f275bc-6312-4297-ac96-eb00d5e68b32

It seems the jobs are core dumped before running the tests?

cc @mthrok  @malfet @seemethere

[2021-08-11 15:52] mthrok commented on #1694
This could be resulted from the re-attempt of LLVM.

https://github.com/pytorch/pytorch/issues/62754
https://github.com/pytorch/pytorch/pull/62906

[2021-08-11 17:50] #942 closed

[2021-08-11 21:25] seemethere opened #1696 "Conda package does not provide the correct version"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Install conda package for torchaudio (can be any one)
2. Attempt to run the following:

[code]

Another example during the build process:

[code]

From:
https://app.circleci.com/pipelines/github/pytorch/audio/6329/workflows/13669cd5-3c29-402f-ac91-eeeb44a237e2/jobs/238268?invite=true#step-104-129

## Expected behavior

Version should

[2021-08-11 22:09] #1696 closed

[2021-08-12 03:08] mthrok commented on #1692
Case 1.
[code]

[2021-08-12 09:04] saareliad opened #1699 "Typo in audio_preprocessing_tutorial"
## 📚 Documentation

see here:
https://pytorch.org/tutorials/beginner/audio_preprocessing_tutorial.html#performance-benchmarking
got a typo in last line,

    "upsample (8 -> 16 kHz)": [8000, 1600],

should be

    "upsample (8 -> 16 kHz)": [8000, 16000],

I was looking at the tutorial to find real-life application examples of these functions (resampling, Pitch, GrifinLim) in DL pipelines,
if you c

[2021-08-12 16:51] mthrok commented on #1692
It is reproducible on Colab as well.

https://colab.research.google.com/drive/16WIUNc-kLG3xQCe6wkk9WlkTtszdfpRO?usp=sharing

[2021-08-12 18:27] mthrok commented on #1692
The equivalent `sox` command line also segfaults.

[code]

[2021-08-12 20:42] mthrok commented on #1692
Hi @mindaugo1

This looks like a bug in libsox. I tried the equivalent of `sox` commands with various installations (`brew`, `conda`, and the `sox` command from torchaudio build artifact) and all of them exhibited the segmentation fault.

My guess is that sampling rate is mistreated at `speed` and `rate` effect. (With `pitch -139 speed 1.08360`, the sample rate is around `8000.002`, which is very

[2021-08-13 19:52] mthrok opened #1705 "InverseSpectrogram"
## 📚 Documentation

InverseSpectrogram from #1652 is missing from the nightly build doc. https://pytorch.org/audio/main

cc @nateanl

[2021-08-13 19:56] nateanl commented on #1705
Okay. will fix it in a PR.

[2021-08-14 11:20] nateanl commented on #1705
Close by #1706

[2021-08-14 11:20] #1705 closed

[2021-08-16 10:57] krishnakalyan3 commented on #1686
@mthrok I would like to work on this.

[2021-08-16 15:49] mthrok commented on #1686
Thanks @krishnakalyan3. Let me know if you need help.

[2021-08-17 04:51] yangarbiter opened #1710 "Refactor text_preprocessor into a class in Tacotron2 example"
As discussed in https://github.com/pytorch/audio/pull/1668/files#r686174534 and https://github.com/pytorch/audio/pull/1654#discussion_r689867328, we want to change the text_preprocessor into a class so that it is more readable.

[2021-08-17 17:56] yangarbiter opened #1712 "Refactor the TTS pipeline example"
Currently, the `example/pipeline_wavernn` and `example/pipeline_tacotron2` are separated but they are both part of the text-to-speech pipeline. As discussed [here](https://github.com/pytorch/audio/pull/1654#discussion_r690574838), we might want to merge them into a `example/tts` so that it is better organized.

[2021-08-17 17:58] yangarbiter opened #1713 "Refactor pipeline_tacotron2 and remove `unwrap_distributed`"
As discussed [here](https://github.com/pytorch/audio/pull/1654#discussion_r689868224), the model output from `examples/pipeline_tacotron2/train.py` is wrapped with pytorch distributed wrapper. We may want to change `train.py` so that the checkpoint it saved is already unwrapped.

[2021-08-17 21:00] carolineechen commented on #1699
Hi @saareliad, thanks for pointing this out! I have created a PR to fix this https://github.com/pytorch/tutorials/pull/1649. Resampling in DL pipelines is generally used in the preprocessing stage, to ensure that all audio waveforms (training/valid/test) have consistent sampling rates, despite potentially coming from sources that sampled at different rates. [Here](https://github.com/huggingface/tr

[2021-08-18 10:58] nateanl commented on #1699
Sure. GriffinLim aims at recovering the waveform from a magnitude-only spectrogram. The spectrogram doesn't contain the phase information. GriffinLim initializes the phase (either randomly or an all-ones matrix) and apply iSTFT on ``spectrogram * phase`` (a complex-valued matrix) to get the waveform. Then it applies STFT on the waveform to get an updated phase matrix, and so on. After several iter

[2021-08-20 15:43] #1687 closed

[2021-08-20 16:09] #789 closed

[2021-08-22 23:22] yangarbiter opened #1721 "Support WaveRNN inference with different sampling mode"
Currently, the WaveRNN pipeline supports MOLLoss but there are no pretrained weight trained with that loss yet. In the future, we want to support pretrained weight trained with MOLLoss and the corresponding sampling mode for it.

Right now, the inference function for WaveRNN only supports multinomial sampling. (#1704)

One implementation for the sampling model for MOLLoss is [here](https://github.

[2021-08-23 19:15] mthrok commented on #1661
TODO:
- double check that the input is not modified.
- compare MFCC and LFCC step by step to see where it might happen.

[2021-08-23 21:07] rbracco opened #1722 "Add support for bitrate in sox_io backend"
`soxi` shows the files bitrate, but I'm pretty sure `torchaudio.info` doesn't when using the `sox_io` backend.

## 🚀 Feature
Create functionality within `torchaudio.info` and the `AudioMetadata` object to be able to determine a files bitrate.

## Motivation

I want to be able to easily determine the bitrate within torchaudio so that I can do EDA and see if bitrate of audios has an impact on infere

[2021-08-24 04:25] nbcsm commented on #1565
@mszhanyi

[2021-08-24 06:55] mszhanyi commented on #1565
looks it's resolved.
https://github.com/pytorch/audio/pull/1708
![image](https://user-images.githubusercontent.com/16190118/130570749-417df28b-5ca0-4989-b2cc-6c277b981e65.png)

[2021-08-25 05:20] mindaugo1 commented on #1692
@mthrok Thank you for your insights. By changing `{speed:.5f}"` to `{speed:.3f}"f` solved an issue.

[2021-08-25 05:20] #1692 closed

[2021-08-25 09:36] m-ali-awan opened #1723 "Working with ".webm" files"
As fastaudio uses torchaudio, so that's why I am referring both.

I have included .webm in audio_extensions, but right now it's now working with AudioTensor.create, and also with plain torchaudio.
I have tried different backends sox_io,soundfile, but it doesn't work.

But with librosa, load, I am able to work with it.

So, kindly guide me how to use .webm audio files with torchaudio.

Thanks.

[2021-08-30 16:57] #1699 closed

[2021-08-31 11:03] stonelazy commented on #535
Dear @wanglong001 I fail to understand where exactly we would be making use of `torchaudio.transforms.SlidingWindowCmn` is it to normalize the output of STFT/MFCC at a window level ?
Would it be possible for you to explain on this ? Am not familiar with Kaldi.

[2021-08-31 11:19] stonelazy commented on #901
@StuartIanNaylor I just wanted to check whether you have solved this streaming featurizer problem ? Or if you have found any reference implementation for the same ?

[2021-08-31 22:52] yangarbiter opened #1741 "Distributed dataparallel implementation of WaveRNN training"
Here is a working version on [gist](https://gist.github.com/yangarbiter/15cc6c41ad44d34ac06f8e9d9eb5e8e2).

On a 8 GPU machine, it should be 10 times faster with batch size 256.

[2021-09-01 00:09] yangarbiter opened #1742 "There is an offset or contraction in WaveRNNInferenceWrapper during inference when batched"
See this [internal colab example](https://colab.research.google.com/drive/1d-kmdYALKDwGw-u5lTb8JAP7dyKFtWbk?usp=sharing) for more information.

[2021-09-01 09:25] nateanl commented on #1741
Thanks for the proposal! I think another refactoring direction is using PyTorch Lightning template besides the ``DistributedDataParallel``  dataloader. We can put the two refactor way into one PR.

[2021-09-01 18:45] yangarbiter commented on #1741
One thing for this gist that I would like to add is that there are some command line arguments that are not well set.
For example, [here](https://github.com/pytorch/audio/blob/main/examples/pipeline_wavernn/main.py#L164-L166) and [here](https://github.com/pytorch/audio/blob/main/examples/pipeline_wavernn/main.py#L70-L75), the default is True and using the argument also sets the variable to True, w

[2021-09-02 17:15] nateanl commented on #1409
Hi @HuangZiliAndy, I have added the padding logic to torch.stft in https://github.com/pytorch/pytorch/pull/63469. Now the issue should be resolved in the nightly version soon. However, to make sure the signal is invertible, I suggest using a different center and hop_length setting to avoid padding. Thanks.

[2021-09-02 17:15] #1409 closed

[2021-09-02 17:22] nateanl opened #1749 "[BUG] ImportError when importing torchaudio (nightly)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
- Install the nightly torchaudio
- Run:
``import torchaudio``

## Expected behavior

[code]

## Environment

PyTorch version: 1.9.0+cu111
Is debug build: False
CUDA used to build PyTorch: 11.1
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect

[2021-09-02 17:35] frank-dong-ms opened #1750 "torchaudio nightly installs rocm when cuda11 install command is used"
## 🐛 Bug

Intend to install torchaudio nightly cuda11 version but got rocm version

## To Reproduce

Steps to reproduce the behavior:

1. create new conda env: conda create -n torch-nightly python=3.7
2. activate the conda env: conda activate torch-nightly
3. install torchaudio nighly with pip: pip3 install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu111/torch_

[2021-09-02 18:27] #1750 closed

[2021-09-02 18:31] mthrok commented on #1749
Now, this should be resolved by #1751.

[2021-09-02 18:32] malfet commented on #1749
Updated nightly indicies, could you please try again?

[2021-09-02 18:40] nateanl commented on #1749
Yes it's resolved. Thanks @malfet!

[2021-09-02 18:40] #1749 closed

[2021-09-02 18:52] seemethere commented on #1750
Looks like this should be resolved now:
[code]

[2021-09-03 06:32] wanglong001 commented on #535
Yes, normalize the output of cepstral (STFT/MFCC...) at a window level,  Mainly to reduce the impact of environmental noise.

https://kaldi-asr.org/doc/apply-cmvn-sliding_8cc.html

[2021-09-04 11:06] StuartIanNaylor commented on #901
Its all there in pytorch audio if not using arm, still have dependency problems where intel mkl is enforced which is sort fo annoying

[2021-09-04 11:06] #901 closed

[2021-09-04 23:30] lewiswolf opened #1753 "Type inconsistencies when using MelSpectrogram"
_potential_ 🐛 Bug

I noticed this little type inconsistency a while back. I'm unsure whether or not I should expect `MelSpectrogram` to infer its internal types from the input type, or if the intended use is to set the global default using `torch.set_default_dtype`?

[code]

[2021-09-07 17:06] nateanl opened #1754 "Add a training recipe of ConvTasNet on LibriMix dataset and provide pre-trained weights."
## 🚀 Feature

## Motivation
In ``torchaudio.models``, we supported ConvTasNet, a convolutional network for speech separation that outperforms the ideal ratio masks. However, the pre-trained weights are missing that makes it difficult to validate the performance of the model.

Thanks to [Asteroid](https://github.com/asteroid-team/asteroid), we have plenty of speech separation models and utility fun

[2021-09-07 17:12] mthrok commented on #1753
Hi @lewiswolf

This is working as expected. `MelSpectrogram` is a stateful model building block, which inherits `torch.nn.Module`, and the idiom to use `torch.nn.Modules` is to move the parameters to the desired device and data type.

https://pytorch.org/docs/stable/notes/modules.html

Something like the following should work fine.

[code]

[2021-09-07 17:12] #1753 closed

[2021-09-07 17:14] mthrok commented on #1753
Although, now that I realize that the frequency bin is computed with `float32` precision once, so instead of moving it to `float64`, it might be better to generate the frequency bin with the higher precision.

cc @carolineechen this is a similar pattern as resampling cache mechanism.

[2021-09-09 17:36] malfet commented on #1657
It is done by https://github.com/pytorch/audio/pull/1747 among other things.

[2021-09-09 17:36] #1657 closed

[2021-09-14 02:08] mthrok commented on #1722
Hi @rbracco

Thanks for the suggestion. I looked into how `soxi` does this and learned that it simply divides the file size with the duration of audio.

[code]
- https://github.com/dmkrepo/libsox/blob/b9dd1a86e71bbd62221904e3e59dfaa9e5e72046/src/sox.c#L296-L304

[code]
- https://github.com/dmkrepo/libsox/blob/b9dd1a86e71bbd62221904e3e59dfaa9e5e72046/src/formats_i.c#L141-L147

I guess we can port t

[2021-09-14 02:18] mthrok commented on #1722
Running the following script, I got the different result from `soxi` and `file` command for `vorbis` format.
@rbracco Do you know which one is correct?

[code]

* `soxi`
[code]

* `file`
[code]

[2021-09-14 14:50] rbracco commented on #1722
Thank you so much for taking the time to look into this. Honestly I don't have a ton of knowledge of the details of bitrate and the fact that the soxi implementation was just dividing file size by duration was news to me.

That sounds like an excellent solution. It's not an issue for me if it doesn't support file-like object.

[2021-09-19 01:36] christopherhesse opened #1778 "Loading a BytesIO opus file does not seem to work"
## 🐛 Bug

Loading a BytesIO opus file does not seem to work.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

It seems like it should work as well as it does for the mpi3 case

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?
 -  pip
 - If you are building from source, which commit is it?
 - What does `torchaudio.__

[2021-09-19 02:16] mthrok commented on #1778
Hi @christopherhesse

Can you try increasing the buffer size?

`torchaudio.utils.sox_utils.set_buffer_size(16000)`

This happens because the header size of the the OPUS file is larger than the default buffer size that torchaudio uses to read the header. OPUS format is tricky and it allows arbitral size of header. The officially recommended header size is bellow 6k, and torchaudio uses 4k for defau

[2021-09-19 02:17] mthrok commented on #1778
@hwangjeff I think we can issue a warning if it fails to load opus file from byte buffer.

[2021-09-19 02:35] christopherhesse commented on #1778
Thanks @mthrok that does immediately fix the loading error, however I now get a different issue shown here:

[code]

The output of this script is:

[code]

The odd thing is that this is the same file each time, so the data shape should be the same both times.

[2021-09-27 14:57] harishsdev opened #1792 "Add dataset Device Recorded VCTK (Small subset version)"
## 🚀 Feature

VCTK audio dataset is very huge 10GB,can we add small subset version of it
Device Recorded VCTK (Small subset version)
https://datashare.ed.ac.uk/handle/10283/3038

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-09-27 20:01] #1565 closed

[2021-09-28 07:18] j4sonzhao opened #1796 "error with cmake / protobuf when installing from source"
Hi there, I am trying to install torchaudio from source, and I run into the following error:

[code]

I think I have protobuf installed because when I run ```pip install protobuf``` I get

[code]

I've tried modifying the CMAKE_PREFIX_PATH but I don't really know what I'm doing there, and I'm not sure if that's the right way to go.

Help would be appreciated! I need to install from source since th

[2021-09-28 11:24] mszhanyi opened #1798 "cuda_version can't be changed in CI. It needs to be improved."
## 🐛 Bug

In unittest_windows_gpu, there's an environment variable of CUDA_VERSION.
https://github.com/pytorch/audio/blob/ecd068f583e4e45ef80635d975ac2bf38d4e819a/.circleci/config.yml.in#L514-L520
But the value couldn't be changed in fact, because it will be revert to 10.2 by regenerate.py
https://github.com/pytorch/audio/blob/ecd068f583e4e45ef80635d975ac2bf38d4e819a/.circleci/regenerate.py#L212

[2021-09-28 13:37] nateanl commented on #1796
Thanks for the report. Could you post your conda and PyTorch information here? You can do it by copy and paste the output from [environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)

[2021-09-28 20:46] j4sonzhao commented on #1796
@nateanl

I'm running torch 1.7.1 and python 3.7. I'll post the info from running the script later tonight or tomorrow; I'm just not able to do so now.

[2021-09-28 21:21] j4sonzhao commented on #1796
Another thing to note is that I am running on a ppc64le (power 9) machine

[2021-09-29 14:28] nateanl commented on #1796
Maybe upgrading torch to 1.9 can solve the problem, but I'm not sure. I will try to reproduce it when you post the environment info.
Also could you paste the command you use for building torchaudio from source? Thanks.

[2021-09-29 14:54] mthrok commented on #1796
From the error message, I think you are building torchaudio from the main branch. This requires the latest PyTorch (nightly or source build).

With PyTorch 1.7.1, you need to use the v0.7.2 tag. https://github.com/pytorch/audio/tree/v0.7.2, which does not use cmake for building.

I am not sure about `ppc64le` environment, but if you successfully installed PyTorch 1.7.1, there is a good chance that

[2021-09-29 15:16] mthrok commented on #1798
Hi @mszhanyi

Would simply removing these conditions help?
For `CUDA_VERSION` and `CU_VERSION`, maybe we can simply merge them into `CU_VERSION`.

cc @malfet

[2021-09-29 15:18] mthrok commented on #1792
Sounds like a good addition. At the moment, we do not have engineering resource to actively work on this, but we welcome contributions.

[2021-09-29 17:30] MagedSaeed commented on #104
Thanks, @mogwai for your helpful code snippet.

[2021-09-29 17:34] MagedSaeed commented on #104
hope this will work

[code]

[2021-09-29 17:43] MagedSaeed commented on #104
In Python, I used this:

[code]

Of course, you have to have `pydub` package installed.

[2021-09-29 18:26] j4sonzhao commented on #1796
Thanks, will give this a try today!

[2021-09-29 23:08] AlexJian1086 opened #1806 "kaldi.fbank alternative in librosa?"
## ❓ Questions and Help
Hi everyone,
I would really appreciate if someone could let me know how to replicate **compliance.kaldi.fbank()** function in **librosa**? I've gone through alot of literature and forums but haven't really found a way to replicate their parameters. Any help would be appreciated.

[2021-09-30 17:20] j4sonzhao commented on #1796
@mthrok @nateanl

Thanks! Building from the above tag instead seemed to fix the error. However, it looks like I am now getting a new error when building, and it's very difficult for me to parse the error. The relevant part of the error is pasted below:

[code]

and here is the full error message:

[code]

There is a warning saying something about c++ compiler compatibility, could this be relevant

[2021-09-30 18:44] mthrok commented on #1796
The error indicates that it failed to compile `torchaudio/csrc/register.cpp`, however it does not show any message about why it failed. In my experience, this is often caused by OOM, even though other causes are still highly possible. Can you try setting `MAX_JOBS=1`?

Also since the underlying compile command is shown, can you try running the compile command directly? it's `c++ -MMD -MF ...` afte

[2021-10-01 00:02] j4sonzhao commented on #1796
@mthrok

I get a compilation error when I try to run the compile command directly:

[code]

This is the command that comes after ```[1/6]```, but I get the same errors when I run the commands that come after ```[5/6]``` and ```[6/6]```.

Could you please specify what you mean by setting ```MAX_JOBS=1```? I simply just ran ```export MAX_JOBS=1``` before running ```python setup.py install``` and got

[2021-10-01 01:40] mthrok commented on #1796
Cool, now we are making progress and know what is going on.
The error indicates that the system does not have the library Torchaudio depends on.
We have two options, building libsox as a part of Torchaudio, or use externally managed library and link dynamically.

If your OS has a package manager and if libsox is available, then you can use that. You need to do some equivalent of APT command like `

[2021-10-01 01:43] mthrok commented on #1806
Hi @AlexJian1086

We do not have a formula for that, and I am not sure if that's even possible. I think that the plausibility also depends on the specific parameters you are using for `fbank()`.

Hopefully, someone from the open source community has done that and chime-in.

[2021-10-01 02:20] j4sonzhao commented on #1796
Just ran the setup command with ```BUILD_SOX=1```, and around half of the modules managed to install, except halfway through it threw this error

[code]

I assume that this means it doesn't work for ```ppc64le```, and I have to do the installation of libsox through the command line? I will get back to you tomorrow once I do this - I currently don't have sudo permissions on this machine, so I will

[2021-10-01 13:56] Ignasinou opened #1818 "libtorchaudio C++ and transforms.MelSpectrogram"
### 🐛 Describe the bug

Hey!

By following the [libtorchaudio](https://github.com/pytorch/audio/tree/master/examples/libtorchaudio) examples I have been able to successfully build and run them on macOS.

I've modified the augmentation python script in order to compute the MelSpectrograms of an audio .wav file. Here you can find the python script (based on the main.py from the augmentation example)

[2021-10-01 14:17] mthrok commented on #1818
Hi @Ignasinou

Thanks for trying the C++ example. Regarding the error, your code is instantiating a transform object in `forward` function,  this is not TorchScript-able.

A correct way is to instantiate the transform in `__init__`, then use the transform in `forward`.

[code]

[2021-10-01 14:34] Ignasinou commented on #1818
Thanks for the quick reply.
Yes, it works now, next time I will have to pay a bit more attention.

Thanks again.
I'm closing the issue!

[2021-10-01 14:34] #1818 closed

[2021-10-01 14:35] mthrok commented on #1796
@j4sonzhao

Yes, this is what I suspected to happen. The source code of libsox is years old, so they do not detect recent CPU architectures well. ~There is still workaround for this, but I just realized that, since you are using Anaconda, there might be a sox package you can install.~ (UPDATE: this does not seems to work  https://docs.anaconda.com/anaconda/packages/py3.6_linux-ppc64le/) But still

[2021-10-02 00:20] j4sonzhao commented on #1796
@mthrok

Any thoughts on the above ```config.guess: unable to guess system type``` error? Is this something fundamental to my system, or do you think it's fixable?

If not, it looks like my other option would be to install ```sox``` and ```libsox-fmt-all``` from source. If so, would you say I should install the latest versions of each? I found sox here https://sourceforge.net/projects/sox/, but I'

[2021-10-02 01:11] kingyiusuen commented on #1792
Hey @mthrok, I would like to work on this issue!

[2021-10-02 17:48] j4sonzhao commented on #1796
@mthrok

I tried what you said above, and it seems that I am getting some sort of error where it seems that the path is misspecified? Here is the full error:

[code]

Here is what my ```third_party/patch``` directory looks like:
![image](https://user-images.githubusercontent.com/10427604/135726799-fb103ba3-09f5-477e-b7e3-2de7465611cd.png)
and I verified that the ```config.guess``` and ```config.su

[2021-10-04 10:02] fmassa opened #1820 "Use `torch.nn.init` in Tacotron2 weight initialization"
In https://github.com/pytorch/audio/blob/13b2349af91fd02810c8813919a5ae08e617919e/torchaudio/models/tacotron2.py#L1054-L1056
we can probably replace the manual weight initialization with `torch.nn.init.xavier_uniform_`. This will make the code a bit easier to understand, and will avoid using the legacy `.data` attribute in a Variable / Tensor.

[2021-10-04 19:22] j4sonzhao commented on #1796
@mthrok bumping this :)

[2021-10-04 20:48] mthrok commented on #1796
Hi @j4sonzhao

Sorry for the delay. In the PATCH command you added, Can you replace `CMAKE_CURRENT_BINARY_DIR` with `CMAKE_CURRENT_SOURCE_DIR`?

[code]

[code]

[2021-10-05 00:02] j4sonzhao commented on #1796
@mthrok

I tried that, and cam across a very similar error (I think the path is just slightly different this time, ```cp: cannot create regular file '/home/jzhao7/audio/third_party/src/lame/config.guess': No such file or directory```)

[code]

To confirm, here is what my 2 project lines look like:

[code]

[2021-10-05 01:33] mthrok commented on #1796
Some small detail was changed after 0.7. Can you try this?
- `src/mad`  -> `src/libmad`
- `src/lame` -> `src/libmp3lame`

I think if you check the content of `third_party/src` directory, you should see `libmad/config.[gusee|sub]` and `libmp3lame/config.[guess|sub]`. The `PATCH_COMMAND` should be overwriting them with the one from `patch` directory.

[code]

[code]

[2021-10-05 06:00] j4sonzhao commented on #1796
@mthrok

Thanks! It looks like these ```config.guess``` errors have been resolved. For future reference, the first line that needs to be changed in ```third_party/CMakeLists.txt```should read

[code]

instead of

[code]

I'm actually now getting a gcc related error, I think because I am running gcc version that's too high (8.3.1).

[code]

Following [this](https://stackoverflow.com/questions/16835

[2021-10-05 20:33] mthrok commented on #1796
Hi @j4sonzhao

I looked into it and indeed `grep` does not report any use of `-fforce-mem` flag. (note: `configure.ac` is not used during the build process)

[code]

The patch you linked is already incorporated. You should see the same thing in `third_party/patch/libmad.patch`, and `PATCH_COMMAND patch < ${CMAKE_CURRENT_SOURCE_DIR}/patch/libmad.patch ` is where the patch is applied. From the log m

[2021-10-06 00:22] #733 closed

[2021-10-06 12:10] j4sonzhao commented on #1796
@mthrok

To provide more information, when I type ```conda list``` I see torchaudio as

```torchaudio                0.7.0a0+a853dff          pypi_0    pypi```

torchaudio is a dependency for some repositories that I would like to install, for example [this](https://github.com/s3prl/s3prl) one. However, when I run that repository's installation procedure, which just consists of ```pip install -e .

[2021-10-07 01:59] j4sonzhao commented on #1796
thank you so much! it looks like everything is running smoothly on my end now, and I really appreciate your help walking me through this setup!

[2021-10-07 14:31] mthrok opened #1831 "Remove deprecated `F.angle`"
As the `main` branch is now bumped to `0.11`, we would like to remove some deprecated functions.

The target is `torchaudio.functional.angle`.
The detailed context can be found https://github.com/pytorch/audio/issues/1337

## Steps
1. Remove the implementation

https://github.com/pytorch/audio/blob/60aeb78ae400ee96900519ffead54de94dc6a288/torchaudio/functional/functional.py#L32
https://github.com/

[2021-10-07 21:17] clort81 opened #1837 "ERROR: Could not find a version that satisfies the requirement torchaudio (from versions: none) ERROR: No matching distribution found for torchaudio"
### 🐛 Describe the bug

ERROR: Could not find a version that satisfies the requirement torchaudio>=0.5.0 (from asteroid) (from versions: none)
ERROR: No matching distribution found for torchaudio>=0.5.0 (from asteroid)
21:40:18-root@Desktop:/pr/Neural/voicefixer_main# pip3 install torchaudio

### Versions

python collect_env.py
Traceback (most recent call last):
  File "/media/sd/Projects/Neural/v

[2021-10-07 21:37] mthrok commented on #1837
Hi @clort81

This looks like there is something wrong with the installation of PyTorch itself.
What version did you install, and how?
Also torchaudio does not have binary distribution for `Aarch64`, so the installation failure is expected.
Is it possible for you to switch to conda, install PyTorch core and build torchaudio manually?

[2021-10-09 20:07] mthrok opened #1848 "Tacotron2 does not handle batched input correctly"
When generating mel spectrogram, `Tacotron2.infer` behaves differently when there is multiple samples are in the input batch.

The cause is that the termination condition is not properly handled for batch.

https://github.com/pytorch/audio/blob/19f53cf249d69c81be3005d582d37530f0a3aef7/torchaudio/models/tacotron2.py#L970-L972

[2021-10-10 21:04] clort81 commented on #1837
Thanks for pointing me to the problem.  I'll wait for aarch64 support.

[2021-10-11 19:37] #1848 closed

[2021-10-12 11:03] Bomme opened #1858 "Parameter name `waveform` in `SlidingWindowCmn` does not match `specgram` in F.sliding_window_cmn"
### 🐛 Describe the bug

`transforms.SlidingWindowCmn` is basically a wrapper around `functional.sliding_window_cmn`.

[code]
In https://github.com/pytorch/audio/pull/1347 the parameter name for `functional.sliding_window_cmn` was changed from `waveform` to `specgram`. `transforms.SlidingWindowCmn` was not updated.

I guess, `SlidingWindowCmn` should be updated accordingly. This would be a breaking

[2021-10-12 14:00] mszhanyi opened #1860 "test_rnnt_loss_costs_and_gradients failed on Windows with CUDA 11.3"
### 🐛 Describe the bug

test_rnnt_loss_costs_and_gradients failed on Windows with CUDA 11.3

https://app.circleci.com/pipelines/github/pytorch/audio/7772/workflows/895d5432-e506-4865-bbe5-95710ed3a208/jobs/376183
[code]

But It works on Windows with CUDA 10.2
https://app.circleci.com/pipelines/github/pytorch/audio/7489/workflows/68907838-09d5-4bf9-b817-eec7665e76e4/jobs/348354.

So far, unittest_l

[2021-10-12 21:53] gkowarzyk opened #1863 "Publish an official release for torchaudio 0.8.2"
PyTorch v1.8.2 LTS has been released.

The corresponding `torchaudio` version is presumably `v0.8.2`, but there exists no such official release.
This has been an issue for us, [as commented here](https://github.com/pytorch/pytorch.github.io/issues/828#issuecomment-941370876).

Would it be possible to please:
- [x] include detailed info for LTS versions in the [compatibility matrix](https://github.

[2021-10-13 07:10] stonelazy opened #1864 "torchaudio fade transform latency"
### 🐛 Describe the bug

 🐛 Describe the bug
In `torchaudio.transforms.Fade` the fade_in and fade_out computation of the input waveform is done in CPU. When all of these torch operations moved to same device as that of input waveform's we are getting a better number interms of latency.
Torchaudio's implementation - 300ms
Modified implementation- 200ms

Code reproduced here:
https://www.kaggle.com/s

[2021-10-13 13:51] mthrok opened #1868 "Updates necessary to WaveRNN training script"
1. Get rid of `bg_iterator`
https://github.com/pytorch/audio/blob/a6f9cf8babfb096381e914e23950371478672b3e/examples/pipeline_wavernn/main.py#L13
This is known to slow down the process, and was removed from the library.
2. Replace `DataParallel` with `DistributedDataParallel`.
https://github.com/pytorch/audio/blob/a6f9cf8babfb096381e914e23950371478672b3e/examples/pipeline_wavernn/main.py#L325
`Data

[2021-10-13 13:57] mthrok opened #1869 "Moving WaveRNN padding into the model"
Currently WaveRNN's forward method expects client code to to pad the input spectrogram to the specific size (`kernel_size - 1 // 2`). This breaks the encapsulation. The WaveRNN's forward method should perform padding itself. The newly added `infer` method does this.

## General direction
1. In `forward`, add padding before upsample.
https://github.com/pytorch/audio/blob/483d8fae63f0102a31e9842a593

[2021-10-13 16:32] nateanl commented on #1868
We can replace the training recipe by using PyTorch Lightning which provides ``ddp`` as the backend. Then the two issues will be resolved.

[2021-10-13 18:34] carolineechen commented on #1860
It also looks like these tests are flaky -- they sometimes pass in CI in later PRs with cuda 11.3 for Windows https://app.circleci.com/pipelines/github/pytorch/audio/7816/workflows/5567a895-61eb-4b3e-b5e1-23925cd49db7/jobs/380064

[2021-10-13 19:22] #1864 closed, assigned to nobody

[2021-10-13 21:09] gkowarzyk commented on #1863
Thank you for the quick reply @mthrok.
I think it should be relatively easy to add to the process (since presumably those packages are being built somewhere for the conda distribution).

[2021-10-14 09:04] mszhanyi opened #1875 "conda_build.exceptions.DependencyNeedsBuildingError in CI"
### 🐛 Describe the bug

I write this issue as a memo, so anyone can know how to resolve it if it occurrs again.

In recently 2 days, binary_windows_conda_py3.6_cpu always failed with the error
`conda_build.exceptions.DependencyNeedsBuildingError: Unsatisfiable dependencies for platform win-64: {"bzip2[version='>=1.0.8,<2.0a0']", 'setuptools', 'vc=9', "vs2015_runtime[ ....`
https://app.circleci.com

[2021-10-15 21:35] mthrok opened #1883 "Deprecate data utils"
PyTorch core has download function and `torch.hub.download_url_to_file`.
Torchaudio can use it for dataset download and does not need to maintain its own `torchaudio.datasets.utils.download_url`.

In addition to that, there seems to be something wrong with `torchaudio.datasets.utils.download_url`.
It fails to download multiple of huge files. I think we should get rid of `torchaudio.datasets.utils.

[2021-10-15 21:43] mthrok opened #1884 "Remove `F.complex_norm` and `T.ComplexNorm`"
As planned in #1337, `F.complex_norm` and `T.ComplexNorm` are now deprecated, and we can remove them.

## Steps
1. Remove the implementation

https://github.com/pytorch/audio/blob/25a8adf6d642bc27b156a452bc80f20741382642/torchaudio/functional/functional.py#L719

https://github.com/pytorch/audio/blob/bf580c752754d4664376c31060bacc0edb230029/torchaudio/transforms.py#L884

2. Remove test

https://git

[2021-10-16 12:53] hihunjin opened #1889 "[Doc] Explain the effect of `length` in `Wav2Vec2Model`"
### 🚀 The feature

More specific explanation in the docs.
in [here](https://github.com/pytorch/audio/blob/e885204ea0d343b8bddd7e829b9e7b29e7c5a9bb/torchaudio/models/wav2vec2/model.py#L83-L85), I need more in-detailed explanation about ``length``. Is it a sample rate?

### Motivation, pitch

It's confusing to understand what the variable/argument behaves.

### Alternatives

_No response_

### Addit

[2021-10-16 15:41] mthrok commented on #1889
Length computation in convolution layer

https://github.com/pytorch/audio/blob/e885204ea0d343b8bddd7e829b9e7b29e7c5a9bb/torchaudio/models/wav2vec2/components.py#L62-L65

Mask computation in Transformer layer

https://github.com/pytorch/audio/blob/e885204ea0d343b8bddd7e829b9e7b29e7c5a9bb/torchaudio/models/wav2vec2/components.py#L442-L449

[2021-10-16 15:42] mthrok commented on #1889
Feel free to give us feedback on how we can improve the documentation.

[2021-10-16 15:45] hihunjin commented on #1889
Thanks a lot. I appreciate it.

[2021-10-16 15:59] mthrok commented on #1889
Glad to help.
I will keep this open until we update the doc to include the above information. Thanks for your feedback.

[2021-10-16 22:36] #1889 closed

[2021-10-19 16:00] mthrok opened #1902 "InverseMelScale does not work in inference mode"
`InverseMelScale` uses SGD inside so it does not work when the global context is `no_grad` or `inference_mode`. Or even when `requires_grad=False` would make it fail. This gives bad UX for inference.

There are couple of possible workarounds
1. Clone Tensor with `requires_grad=True` inside of `InverseMelScale`
2. Use other method such as SVD. (there was some discussion https://github.com/pytorch/a

[2021-10-19 16:05] mthrok opened #1903 "Make TextProcessor object inherit `torch.nn.Module`."
The TextProcessor object from TTS pipeline, should be able to return Tensors in specified device.

Currently the returned Tensors have to be manually moved to the target device.

[code]

Inheriting `torch.nn.Module` should make this simpler

[code]

[2021-10-20 02:42] redwankarimsony commented on #1573
Thanks lot.

[2021-10-20 10:25] nellorebhanuteja opened #1907 "Interactive ASR demo not working"
### 🐛 Describe the bug

Hi
I am trying to run the interactive ASR demo given [here](https://github.com/pytorch/audio/tree/main/examples/interactive_asr). However I am getting the following error

[code]

[2021-10-20 18:26] nateanl opened #1908 "Add training recipes for HuBERT model pre-training and ASR fine-tuning"
### 🚀 The feature

[Hidden-Unit BERT (HuBERT)](https://arxiv.org/pdf/2106.07447.pdf?fbclid=IwAR3hI4uGqc4mV5j-ob8R5yLu-BaamVoe9ncxUoVmgFLjJXsE1IevP0rdNYY), a self-supervised model for speech representations was proposed and wildly used in down-stream tasks, such as speech recognition, speech diarization, speaker identification, etc. It can achieve impressive Word Error Rate by fine-tuning on only 1

[2021-10-21 02:49] nellorebhanuteja commented on #1907
Oh
There's another interactive decoding example in [fairseq](https://github.com/pytorch/fairseq/blob/main/examples/speech_to_text/docs/librispeech_example.md#interactive-decoding) as well.
I'll try and reply.

[2021-10-21 22:12] mthrok opened #1918 "Add xfolding to tacotron2 infer pipeline"
In case of vocoding one example, by folding the input example into batch of chunks, the inference can run faster.

https://github.com/pytorch/audio/blob/31dbb7540c78fe5d176948764cf9a20f55ac80dc/examples/pipeline_wavernn/wavernn_inference_wrapper.py#L167-L177

I excluded it from the initial tacotron2 pipeline, due to the https://github.com/pytorch/audio/issues/1742 we can re-implement this while re

[2021-10-22 13:40] mthrok opened #1920 "Add pretrained weights from Voxpopuli"
[VoxPopuli](https://github.com/facebookresearch/voxpopuli) publishes pre-trained models of many different languages under [CC BY-NC 4.0](https://github.com/facebookresearch/covost/blob/main/LICENSE) license. We can add them to torchaudio.

## non-fine-tuned weights

https://github.com/facebookresearch/voxpopuli#wav2vec-20

- [ ] es - base
- [ ] es - large
- [ ] fr - base
- [ ] fr - large
- [ ] it

[2021-10-22 13:45] mthrok opened #1921 "Add CTC segmentation"
It would be interesting to add Torch-native CTC segmentation.

ref
- https://github.com/lumaku/ctc-segmentation
- https://arxiv.org/abs/2007.09127

[2021-10-23 13:56] anukaal opened #1927 "use of python 3.10"
can the latest version of python 3.10 would be used in setup.py

[2021-10-25 21:35] mthrok opened #1931 "Add HiFi-GAN"
HiFi-GAN is a popular/efficient TTS model.

https://arxiv.org/abs/2010.05646

[2021-10-26 03:38] harishsdev opened #1933 "Remove deprecated `F.magphase` function"
Remove deprecated `F.magphase` function

[2021-10-26 23:30] #1933 closed, assigned to nobody

[2021-10-27 14:05] nateanl opened #1936 "Replace _get_mat_trace when torch.linalg.trace is ready to use."
### 🚀 The feature

In ``torchaudio.transforms.MVDR`` the trace of the multi-dimensional tensor is computed via a ``_get_mat_trace`` method due to the lack of PyTorch support. There is an [ongoing PR](https://github.com/pytorch/pytorch/pull/62714) for supporting ``torch.linalg.trace`` that helps simplify the code. Once the PR is merged and built in the nightly version, the ``mat_trace`` can be repl

[2021-10-27 14:11] #1831 closed, assigned to nobody

[2021-10-28 04:15] ydaiming opened #1940 "TORCH_CUDA_ARCH_LIST format"
### 🐛 Describe the bug

At the [pytorch/Dockerfile#L48](https://github.com/pytorch/pytorch/blob/master/Dockerfile#L48), `TORCH_CUDA_ARCH_LIST` are separated by spaces, while inside the builder of `torchaudio`, I found that the parser splits the list based on `;`: https://github.com/pytorch/audio/blob/e3734feff3df2fd4c81572ba84ca7b8d52c4fab2/tools/setup_helpers/extension.py#L104

It took me a long

[2021-10-28 04:22] ydaiming opened #1941 "audio 0.10.0 AttributeError: '_Tacotron2WaveRNNCharBundle' object has no attribute 'get_text_preprocessor'"
### 🐛 Describe the bug

After installing the `torch` and `torchaudio` in a cpu container, I couldn't run the [example Text-to-speech pipeline code](https://pytorch.org/blog/pytorch-1.10-new-library-releases/#beta-text-to-speech-pipeline):
[code]

### Versions

[code]

[2021-10-30 13:21] kamo-naoyuki opened #1948 "Conda package for torchaudio=0.8.1 includes torchaudio=0.8.0a0"
### 🐛 Describe the bug

[code]

[code]

### Versions

Collecting environment information...
PyTorch version: 1.8.1
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: CentOS Linux 7 (Core) (x86_64)
GCC version: (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36)
Clang version: Could not collect
CMake version: version 2.8.12.2

Python version: 3.8 (64-bit runtime)
Is CUD

[2021-11-01 18:01] mthrok opened #1950 "Update speech recognition tutorial"
This is a reminder to update speech recognition tutorial before the release of v0.11.

We have added model surgery to pre-trained wav2vec2 model so as to remove unused dimensions at https://github.com/pytorch/audio/pull/1914.
[Speech recognition tutorial](https://github.com/pytorch/tutorials/blob/master/intermediate_source/speech_recognition_pipeline_tutorial.py) mentions the unused dimensions. We

[2021-11-01 18:07] #1884 closed

[2021-11-02 00:21] mthrok commented on #1941
The blog post has been updated.
Thanks for the report.

[2021-11-02 00:21] #1941 closed

[2021-11-04 16:26] #1487 closed

[2021-11-04 19:38] underdogliu opened #1979 "Add audio I/O support for other audio formats, such as m4a"
### 🚀 The feature

I would like to add support on I/O for other audio formats, such as m4a (primary goal. Other formats can be addressed later).

### Motivation, pitch

This is in response to a issue from speechbrain speechbrain/speechbrain#1093. Currently as described in the issue, we have to create wav files first from the m4a files, which is default of VoxCeleb2, in order to enable torchaudio p

[2021-11-04 22:50] wesbz opened #1984 "Issue with `MelScale`'s `n_fft` used in `MelSpectrogram`"
I have been working with torchaudio and the `MelSpectrogram` class. It seems like the following line is weird:
https://github.com/pytorch/audio/blob/c670898c057904cce9b5108e7ba68b862b66f779/torchaudio/transforms.py#L571
There's apparently no reason to change `n_fft`. What was the idea behind that?

[2021-11-05 00:48] rcoenen commented on #1573
this si working with PIP but not with Miniconda... which, as far as I know, is still the preferred way running Python on M1? How do we get this fixed?

[2021-11-05 04:01] mthrok commented on #1984
Hi @wesbz

It's related to `onesided` argument of `Spectrogram`.

The `Spectrogram(n_fft, onesided=True)` returns a Tensor with `n_fft // 2 + 1` bins as it drops the negative frequencies.

The implementation seems to assume that always `onesided=True` even though it exposes the parameter. (so this is technically a bug and it is supposed to be `self.n_fft // 2 + 1 if onesided else self.n_fft`)

So

[2021-11-05 04:04] mthrok commented on #1979
Hi @underdogliu

Thanks for filing a request. We are considering integrating ffmpeg for various reasons. We cannot promise anything but when we have an update we will let you know. Meanwhile, `torchvision`'s Video API can also handle audio, so it might serve your purpose. https://pytorch.org/vision/master/auto_examples/plot_video_api.html

[2021-11-05 04:16] mthrok commented on #1984
Now that I think of it, I do not think mel-scale Spectrogram is defined in negative frequency. Probably the correct fix is to remove or not to use `onesided` argument.

[2021-11-05 07:39] underdogliu commented on #1979
@mthrok Thanks for your reply! So just asking do we have a WIP PR or related issue thread for this?

[2021-11-05 12:59] wesbz commented on #1984
I never saw mel-scale Spectrogram using negative frequencies :sweat_smile:
Given the mel-scale formula, you couldn't even go below a certain negative frequency.
Real-valued signals do not need negative frequencies anyway and since the mel-scale has been built for audio signals, hence real-valued, I don't think it would make sens to try and use them from complex-valued signal, hence I don't think i

[2021-11-05 14:54] mthrok commented on #1984
`MelSpectrogram` performs `Spectrogram` and `MelScale`.
The number of bins used by Spectrogram is `n_fft // 2 + 1`, so `MelScale` has to use that value.
I do not think that other values would work. Am I missing something?

You can control the number of intermediate frequency bins indirectly with `n_fft` and output mel frequency bins with `n_mel`.

[2021-11-05 21:14] #1984 closed

[2021-11-06 07:35] ngam commented on #1573
@rcoenen yes, it's frustrating... but I think I managed to make it work: check this out, https://anaconda.org/ngam/torchaudio

Let me know if you test it and something fails --- I had to suppress a few things (e.g. the intel mlk library) in the build

[code]

[2021-11-06 07:48] ngam commented on #1573
@malfet @rcoenen

torchaudio 0.10.0 doesn't work with pip, only 0.9.1 and only when matched with torch 1.9.1 fwiw

[2021-11-06 12:45] nateanl opened #1991 "MVDR module can't work in distributed training"
### 🐛 Describe the bug

NCCL currently only supports floating point and integer dtype. (See https://github.com/pytorch/pytorch/issues/45760)
The MVDR module forces to use ``cdouble`` dtype to improve the numerical robustness, however, it will cause an runtime error when integrating it to a neural network:
[code]
To solve it, the temporary workaround is relax the dtype constraint by allowing MVDR t

[2021-11-07 14:48] mthrok commented on #1991
This makes me wonder ... Should we keep using pseudo complex type? #1337

[2021-11-07 15:23] nateanl commented on #1991
I tested ``view_as_complex``, it actually has the same functionality. But I made it work by converting the waveform to ``torch.float`` after MVDR beamforming.
So the current MVDR indeed works in distributed training, just need to convert the output to floating point precision. I'm wondering how to check the dtype of gradient in MVDR to make sure it's double instead of float?

[2021-11-07 15:59] nateanl commented on #1991
The PyTorch that works is built from source. Let me try with a stable version to see how it is like.

[2021-11-08 01:40] pzelasko opened #1994 "OPUS reading is ~3x slower compared to ffmpeg in a subprocess"
### 🐛 Describe the bug

Technically it's not a bug, but it was the most fitting category. I benchmarked torchaudio vs ffmpeg for reading a long OPUS file (> 1h long, comes from GigaSpeech). It seems that it's much faster to spawn an ffmpeg process and capture its output that to use `torchaudio.load()`. Please see the below screenshot:

<img width="1098" alt="image" src="https://user-images.githubu

[2021-11-08 10:13] nateanl opened #1995 "Add a feeze option in Wav2Vec2 and HuBERT bundles"
### 🚀 The feature

In some research cases, the Wav2Vec2 or HuBERT is expected to be frozen (i.e. make ``reuqires_grad=False`` for all params).
- Users use it as a feature extractor that generates pretty robust representations and jointly train with down-stream neural networks. In this case, people don't want to fine-tune the Wav2Vec2/HuBERT to avoid over-fitting on the downstream dataset.
- Users

[2021-11-08 10:17] nateanl opened #1996 "Wav2Vec2ASRBundle source code not found"
### 🐛 Describe the bug

When clicking the [Source] link on the [Wav2Vec2ASRBundle ](https://pytorch.org/audio/main/pipelines.html#wav2vec-2-0-hubert-fine-tuned-asr), it will show "404 not found".

### Versions

N/A

[2021-11-08 11:01] nateanl commented on #1991
I think this issue is solved in latest PyTorch. Using ``torch.cdouble`` inside MVDR works fine within distributed training. I only need to convert it to ``torch.float``after InverseSpectrogram.

After discussion with @fmassa, I'm thinking adding ``torch.cfloat`` is also a good option, if the performance is not degraded. I will verify it by using ``torch.cfloat`` in the tutorial.

[2021-11-08 13:47] kju196 commented on #1573
@ngam Could you help to build with python 3.8?

[2021-11-08 15:29] mthrok commented on #1995
cc @parmeet 
So, I gave some thoughts about this and adding the freezing feature makes sense. The question I have is where is the best place to put the feature. 

There are three possible places I can think of.
1. as utility function, like `torchaudio.models.freeze_params_(model)`.
    Pros: simple and most modular and most reusable
    Cons: if some model need special treatment, it is hard to imp

[2021-11-08 15:33] mthrok commented on #1996
oh this is a tricky one.

Jekyll by default ignores all the directory starts with `_`. So underscored modules are excluded.

We need to add `_wav2vec2` and `_tts`.
https://github.com/pytorch/audio/blob/gh-pages/_config.yml#L15

[2021-11-08 15:43] nateanl commented on #1995
``model = bundle.get_model(freeze=True)`` makes sense for me. The freeze operation only happens in pre-trained cases, while ``model.freeze()`` can be used when the model is not trained at all, which may potentially lead to an improper usage.

[2021-11-08 16:12] ngam commented on #1573
@kju196 , done! let me know if you face any errors --- i had to suppress the intel mkl library since there is no conda pakage for it for osx-arm64 (yet; may build it myself at this rate lol)

[2021-11-08 17:56] mthrok commented on #1994
Following that, I think practically what we can do (not promise at the moment) is to bind ffmpeg to provide native experience.

We get requests for streaming and other formats, which binding ffmpeg is a viable solution.

[2021-11-08 18:34] pzelasko commented on #1994
If you can properly bind ffmpeg into Python, that would be pretty amazing, and also as I imagine, a lot of effort.

Anyway, I’m not expecting a “fix” — just wanted to make sure you’re aware in case I’m doing sth obviously wrong.

[2021-11-08 18:52] malfet commented on #1573
Thank you for the reminder. M1 torchaudio builds are not yet automated, so those kinds of mishaps are unfortunate. Will post an update when new builds will become available.

[2021-11-08 19:36] parmeet commented on #1995
In principle, conditions when freeze option is meaningful are:
1) The part of model is already pre-trained
2) The pre-trained part is used in conjunction with additional layers that require some training.

Making freeze as part of builder APIs (get_model, explicit factory functions etc) would allow:
1) library maintainers to log proper warning (or error) messages when the usage is not appropriate

[2021-11-09 01:53] ydaiming commented on #1940
@malfet is there an update on this topic?

[2021-11-09 09:53] nateanl commented on #1996
Close by #1997

[2021-11-09 09:53] #1996 closed

[2021-11-09 10:12] nateanl commented on #1995
In terms of the implementation details, I'm thinking about the behaviour of ``freeze``, besides setting ``requires_grad=False``, we need to be careful about ``model.eval()`` as it changes the behaviour of Dropout and BatchNormalization.

If we use the model as a feature extractor, the gradient of the model won't be passed to other models, then it's safe to set the mode to ``eval``.

If we jointly

[2021-11-09 14:22] nateanl opened #2001 "Add a DNN beamformer training pipeline to demonstrate usage of torchaudio.transforms.MVDR"
### 🚀 The feature

Recently torchaudio supported mask-based MVDR beamforming module, which takes the multi-channel noisy STFT and the estimated Time-Frequency masks as the input, and generates the single-channel enhanced STFT as the output. Thanks to the complex tensor support of PyTorch, it can be integrated to mask-based multi-channel speech enhancement models to enable end-to-end training.

Add

[2021-11-09 16:39] mthrok commented on #1995
@parmeet @nateanl Thanks for the input. Let's proceed with option 3.

[2021-11-09 16:49] malfet commented on #1940
Hmm, standardizing sounds like a good idea as spaces as separators are specified in
https://github.com/pytorch/pytorch/blob/114ef8c5ea291ae7744c33fa7c0d23b67e75d525/torch/utils/cpp_extension.py#L896
which is part of [C++ extension](https://pytorch.org/docs/stable/cpp_extension.html) documentation
The only thing that slightly confuses me, is that fact that same semicolon separated list is used in t

[2021-11-10 04:14] parmeet commented on #1995
I guess both dropout and batch-normalization could be useful when training the task head while the encoder is freezed. So in case when only the task head is fine-tuned it probably won't hurt to leave the encoder in train mode. @abhinavarora , @hudeven what are your thoughts on this?

[2021-11-10 08:01] kan-bayashi commented on #1948
Any update?

[2021-11-10 14:17] fmassa commented on #1940
Note that if we drop support for semi-colon, a lot of downstream projects will have to be changed as well, for example detectron2 https://github.com/facebookresearch/detectron2/blob/aa8ea943411a2e5cd616e4d517215779a2ea2dad/dev/packaging/pkg_helpers.bash#L23

Also, looks like most occurrences on GitHub uses semi-colon https://github.com/search?q=TORCH_CUDA_ARCH_LIST&type=code

[2021-11-10 15:50] mthrok commented on #1940
@fmassa This is not about dropping the support, but about how to define the build customization of domain libraries. I checked the detctron2's source and it does not seem to depend on torchvision at C++ level at build time, so it won't be affected.

The semicolon version happens to work because of the logic here.

https://github.com/pytorch/pytorch/blob/6011c35a7934a1528c2db02c40752aa3822ccfa6/tor

[2021-11-10 15:58] #1669 closed

[2021-11-10 16:19] nateanl commented on #1991
Close it since MVDR works in latest PyTorch in distributed training.

[2021-11-10 16:19] #1991 closed

[2021-11-10 19:09] abhinavarora commented on #1995
I agree with @parmeet. Dropout can always be used during training regardless of the fact that we freeze the encoder or not.

[2021-11-11 11:42] nateanl opened #2005 "Error when making gallery for tutorials"
### 🐛 Describe the bug

The steps to reproduce the error
- Install torchaudio from source by ``CC=clang CXX=clang++ python setup.py develop``
- Build html by command ``BUILD_GALLERY=1 make html``

It will throw an Extension error:
[code]

When I add an empty `README.txt` under tutorials folder and build the html again, another error shows
[code]

### Versions

[code]

cc @mthrok

[2021-11-11 12:19] nateanl commented on #1995
Thanks @abhinavarora  and @parmeet. In the second case, if the pre-trained model is after the model we want to train, then using Dropout should be fine, we can just freeze the weights.

(I guess it's model-specific) I saw the Wav2Vec model in torchaudio has different behaviours between training and eval, see
https://github.com/pytorch/audio/blob/main/torchaudio/models/wav2vec2/components.py#L396
[

[2021-11-11 14:58] nateanl commented on #2005
It turns out I'm using an older version of sphinx-gallery. Updating it to `0.10.0` will solve this issue.

[2021-11-11 14:58] #2005 closed

[2021-11-11 15:35] mthrok commented on #2005
Probably it's a good idea to add the constrain to the `requirements.txt`.

[2021-11-11 15:37] nateanl commented on #2005
Sure, sounds good.

[2021-11-11 16:19] parmeet commented on #1995
It's likely I am missing the context here, so just some clarifying questions:

1) Typically my understanding so far is we freeze the lower layers (closer to input) and train higher level layers. When you say pre-trained model is after the model you are training, does this mean the higher level layers are fixed and loss is calculated using the output of pre-trained model?

2) When the model is used

[2021-11-11 16:46] nateanl commented on #1995
Exactly, we use the gradient of pre-trained model to back propagate to lower level layers (untrained).

If we use the freeze design option proposed by @mthrok, we can define specific freeze option for each model, then we can solve them case by case.

[2021-11-11 19:39] mthrok commented on #1995
@parmeet To supplement the above point, @nateanl is working on a speech enhancement (noise reduction) system, that is attached *in front of* a pre-trained speech recognition model.

[2021-11-12 00:57] mthrok commented on #1995
@nateanl I feel that if you are using pre-trained speech recognitions model as downstream of speech enhancement module, I feel like speech recognition model serves as loss function, and it should not have random behavior. (of course, the best way to find out is to run experiments though)

[2021-11-12 02:12] mthrok opened #2007 "Google Colab issue with PyTorch 1.10"
The recent PyTorch update on Google Colab is causing issue with torchaudio.

If you encounter this issue please report https://github.com/googlecolab/colabtools/issues/2417

It seems that `!pip3 install torchaudio==0.10.0 -f https://download.pytorch.org/whl/cu111/torch_stable.html` would work

[2021-11-12 03:45] tarepan commented on #2007
Same error.
I will share *latest* default Google Colab environment.

[code]

Generated by
[code]

It is apparently CUDA version issue.

[2021-11-12 03:55] parmeet commented on #1995
Thanks @nateanl  and @mthrok for providing additional context and clarification.

I think I wouldn't worry much as to where to place in the freeze options, and depending on the use case one option might suit better than other and vice-versa. What I would be careful though is to ensure the semantic meaning of freeze is preserved and be decoupled from model behavior.

Technically speaking, freezing

[2021-11-12 16:00] Pathos0925 commented on #2007
This worked for me after uninstalling torchaudio with ```!pip uninstall -y torchaudio```

[2021-11-14 13:00] zang5xixi opened #2009 "torchaudio Jetson TX2"
### 🚀 The feature

how to install torchaudio into Jetson TX2.

### Motivation, pitch

i want to run a program on Jetson TX2, and need to install torchaudio which version is 0.8.0

### Alternatives

_No response_

### Additional context

_No response_

[2021-11-15 17:59] malfet commented on #2009
You can install pytorch from jetpack as described in https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-10-now-available/72048 and then build torchaudio from source.

[2021-11-15 18:25] mthrok commented on #2009
I think it's necessary to patch libsox (`config.guess` file) to build 0.8 on Jetson.
Please refer to this discussion https://github.com/pytorch/audio/issues/1796 for how to apply.

[2021-11-16 02:14] jinggaizi opened #2011 "question about Alignment Restricted Transducer"
i saw beta version of transducer loss relies on code from Alignment Restricted Streaming Recurrent Neural Network Transducer , maybe it's has parameters the left and right buffers bl/lr, how can i use the feature of this loss?

[2021-11-16 06:49] #2009 closed

[2021-11-16 19:42] carolineechen commented on #2011
Hi @jinggaizi, the transducer loss in torchaudio was adapted from the code from the AR-RNNT paper, but the torchaudio version currently only supports a vanilla version, without the additional proposed features from the paper. We may consider adding support for these additional features in the future.

[2021-11-16 19:42] #2011 closed

[2021-11-17 06:08] zang5xixi opened #2014 "HtkHeader was not declared in this scope"
i try to install torchaudio into my Ubuntu System whose architecture is aarch64 using command 'python3 setup.py install' , and i have the following problem

` $ sudo python3 setup.py install

-- Building version 0.8.0+68ef7f4
running install
running bdist_egg
running egg_info
writing torchaudio.egg-info/PKG-INFO
writing dependency_links to torchaudio.egg-info/dependency_links.txt
writing requireme

[2021-11-17 07:21] jinggaizi commented on #2011
thanks for your quick reply

[2021-11-17 12:51] #2014 closed

[2021-11-18 08:25] c9412600 opened #2016 "Use torchaudio cause torch jit load model error,help!"
### 🐛 Describe the bug

we use pytorch version of 1.7.0+cu101 to turn torchscript，and I successfully loaded the torchscript model in torch version of 1.7.0+cu101 to inference, but when I use pytorch version of 1.8.1+cu101 to inference, there are some error
`python3 torch_test_jit_1109.py
Traceback (most recent call last): File "torch_test_jit_1109.py", line 35, in <module> main(sys.argv[1], sys.ar

[2021-11-18 12:51] underdogliu commented on #649
@vincentqb Hi I happened to met this post and I am very happy to work on this one. We can borrow some ideas from relevant established repos such as [nnAudio](https://github.com/KinWaiCheuk/nnAudio), if it is legitimate to do so.

[2021-11-18 17:05] mthrok commented on #2016
Hi @c9412600

This happens because the Python -> C++ interface has been changed between the 0.7 and 0.8.
Unfortunately, the C++ interface is not guarantee to be backward compatible across the releases.

The only easy workaround I can think of is to create the TorchScript file on 0.8.
If that's not an option for you, one work around I could think of is to
patch torchaudio 0.7 code with the same C++

[2021-11-19 19:31] mthrok commented on #2007
Now the issue is resolved and `torchaudio` is pre-installed on Google Colab.

[2021-11-19 19:31] #2007 closed

[2021-11-20 14:48] zang5xixi opened #2020 "Encountered OSError when import torchaudio on aarm64 linux"
## error log

[code]
Any advice would be appreciated.

[2021-11-20 15:01] mthrok commented on #2020
Hi @zang5xixi

Looks like the version mismatch between pytorch and torch audio. What are the versions?

Also torchaudio binary distributions are not officially tested on aarm64, so you might need to build it from source. (For the latest release we have aarm64 built on M1 Mac, but this one is not throughly tested.)

[2021-11-21 05:26] zang5xixi commented on #2020
Pytor

[2021-11-21 05:32] zang5xixi commented on #2020
Thanks for your advice.

My pytorch version is 1.8.1.
I try two different version of torchaudio (0.8.0, 0.8.1) from whl compiled by someone else, and this problem occurs with both versions.

[2021-11-21 06:15] zang5xixi commented on #2020
i am trying to build torchaudio from source ,but encounter a error:

[code]

[2021-11-21 08:44] zang5xixi commented on #2020
build torchaudio from source(the latest version), error:

[code]

[2021-11-21 12:24] zang5xixi commented on #2020
i figure this issue by
```sudo apt install sox libcurl4-openssl-dev  libsox-dev```
however, a new error occurs：
[code]

[2021-11-22 01:50] zang5xixi opened #2022 "Encountered 'HtkHeader was not declared in this scope' when building torchaudio from source"
i tried to build torchaudio(version 0.8), but encountered a failed error:
## error log

[code]

[2021-11-22 02:21] #2020 closed

[2021-11-22 06:20] zang5xixi opened #2023 "Encoutered a patch failed error when install torchaudio from source on aarch64 linux"
## error log

`sudo python3 setup.py install`

[code]

Any advice would be appreciated.

[2021-11-22 15:05] #1820 closed

[2021-11-23 02:16] #2022 closed

[2021-11-23 02:16] #2023 closed

[2021-11-23 03:49] #1860 closed

[2021-11-23 13:50] mthrok opened #2027 "Investigate the sox_effect test stuck in ThreadPoolExecutor."
https://github.com/pytorch/audio/pull/2025

[2021-11-23 22:16] mthrok commented on #1995
@parmeet  Thanks, this is very on-spot. I agree that we can separate the concerns of the model parameters and model behaviors. And I think it's better design decision for the library to support the both cases, especially since there is no universally agreed convention on model behavior when freezing.

[2021-11-24 05:55] mszhanyi commented on #1875
should be fixed by #2026

[2021-11-24 05:55] #1875 closed

[2021-11-24 23:01] krishnakalyan3 commented on #1995
In the FastAI library usually, the practice is to get all the parameters with `requires_grad = False`.  Usually, some parameters are passed to freeze/unfreeze a certain layer of the model.

[code]

https://github.com/fastai/fastai/blob/master/fastai/optimizer.py#L30

[2021-11-25 13:57] jdsgomes commented on #1493
I am happy to look at this issue

[2021-11-25 21:04] FireWizard312 opened #2035 "Can't import torchaudio?"
### 🐛 Describe the bug

I downloaded torchaudio on the M1 mac using pip, but when I try to import it in Python, I'm greeted with this error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/mliu/asdf/lib/python3.8/site-packages/torchaudio/__init__.py", line 1, in <module>
    from . import extension  # noqa: F401
  File "/Users/mliu/asdf/lib/python3.8/site-p

[2021-11-26 01:37] mthrok commented on #2035
Hi @FireWizard312

Looking at the log, something about the Python environment seems to be mixed up. There are Python ends from `/Users` and `/Applications`.
Could you tell how you installed it?

[2021-11-26 03:11] FireWizard312 commented on #2035
Never mind, I was simply using the wrong Python version on Visual Studio Code. After installing it through conda and changing my version of Python, it ran fine.

[2021-11-26 03:11] #2035 closed

[2021-11-26 04:54] KIDxiaoyuan opened #2036 "load lrw dataset error"
### 🐛 Describe the bug

`    train_data = MultiDataset(
        lrw=args.lrw,
        mode='train',
        max_v_timesteps=args.max_timesteps,
        augmentations=args.augmentations,
    )
    dataloader = DataLoader(
        train_data,
        shuffle=False if args.distributed else True,
        batch_size=args.batch_size,
        num_workers=args.workers,
        pin_memory=True,
        sam

[2021-11-26 05:00] #2036 closed

[2021-11-26 15:46] mthrok commented on #1979
Hi @underdogliu

I prototyped ffmpeg integration in https://github.com/pytorch/audio/pull/1986. C++ part is mostly feature complete but I still need to polish it (testing, packaging, build process and most importantly the user-facing API).
I will try to land it on nightly build soon and iterate on it.

[2021-11-29 02:18] crcrpar opened #2049 "Split `_TORCH_CUDA_ARCH_LIST` by either whitespace or semicolon"
### 🚀 The feature

As per title.

### Motivation, pitch

In https://github.com/pytorch/audio/blob/e3734feff3df2fd4c81572ba84ca7b8d52c4fab2/tools/setup_helpers/extension.py#L104, `_TORCH_CUDA_ARCH_LIST` is split by a semicolon.
On the other hand, in https://pytorch.org/docs/stable/cpp_extension.html?highlight=cudaextension#torch.utils.cpp_extension.CUDAExtension and https://github.com/pytorch/pytor

[2021-11-29 02:52] mthrok commented on #2049
Hi @crcrpar

Thanks for bringing this up.

@malfet I went ahead and made https://github.com/pytorch/audio/pull/2050. Could you take a look?

[2021-11-29 18:54] mthrok opened #2051 "Dropping Python 3.6 Support"
torchaudio will drop Python 3.6 support soon, following PyTorch core.

https://github.com/pytorch/pytorch/issues/69005

---

## List of work items on torchaudio
### 1. Switch stylecheck job
- [x] Move stylecheck test to newer Python. (This is already doable)
  1. Change the following code so that the job is carried out on some other Python version. (considering the next work item, I think it's oka

[2021-11-30 16:05] #2049 closed

[2021-11-30 16:16] mthrok commented on #1940
Addressed via #2050

[2021-11-30 16:16] #1940 closed

[2021-12-03 14:23] RahulBhalley opened #2058 "TorchAudio datasets does not have `transform` argument"
## 🐛 Bug

The TorchAudio datasets documentation says, "All the datasets have almost similar API. They all have two common arguments: `transform` and `target_transform` to transform the input and target respectively.." But wrong argument error is thrown when passing the `transform` to any datasets.

## To Reproduce

I need to transform the raw audio waveform into Mel spectrogram before passing it t

[2021-12-03 15:22] mthrok commented on #2058
Hi @RahulBhalley

The description was from legacy feature implementation.
Only some datasets had such feature and they were removed more than a year ago.
The documentation was not updated properly, but recently we removed the description.
Sorry about the confusion.

You can simply apply the transforms in your code.

[2021-12-04 02:53] RahulBhalley commented on #2058
Hi @mthrok

Thanks for the answer and sorry about that I opened this issue in [pytorch/pytorch](https://github.com/pytorch/pytorch) repo. But there is still a problem. If I try to load `LJSpeech` dataset and put it in `DataLoader` then I can't iterate through that `dataloader`.

[code]

I get the error saying: `RuntimeError: stack expects each tensor to be equal size, but got [1, 203933] at entry

[2021-12-04 04:07] mthrok commented on #2058
@RahulBhalley

The audio tensors have different lengths so the default collating mechanism does not work. One needs to provide custom [`collate_fn`](https://pytorch.org/docs/stable/data.html#dataloader-collate-fn) to handle the different lengths. A common way is to pad the tensors to the longest one. A simple example is https://discuss.pytorch.org/t/dataloader-for-various-length-of-data/6418/13, h

[2021-12-04 04:11] RahulBhalley commented on #2058
Awesome! Looks like `collate_fn` argument is what I need to batch inputs. Thanks for the help. 😀

[2021-12-04 04:11] #2058 closed

[2021-12-04 04:16] mthrok commented on #2058
Note: We have updated the documentation and removed the legacy description from the stable doc. https://pytorch.org/audio/stable/datasets.html

[2021-12-04 04:58] RahulBhalley commented on #2058
Yeah, saw that. Great.

Btw won't `transform` be a good way of pre-processing? Because now I am just planning to call my transform function inside collate function to keep my training loop code clean.

[2021-12-04 05:25] mthrok commented on #2058
Not necessarily. Some transforms are better applied on (or constrained to) single audio Tensor and others are better for batch audio. Also the notion of `channel` makes it more complicated, and simple `transform` argument is not powerful enough.

Recently, there is an activity to rearchitect the dataloader/dataset with `DataPipe` from `torchdata` https://github.com/pytorch/data, which is expected

[2021-12-04 05:56] RahulBhalley commented on #2058
Okay, sounds good!

[2021-12-04 10:32] RahulBhalley commented on #2058
I made progress with creating `collate_fn` that returns `(torch.Tensor, torch.Tensor, torch.Tensor)`.

The iteration through `dataloader` works fine if I set `num_workers` to `0`. But when I set it to any other positive integer, I get the following error. It says it's because of multithreading.

How can I fix this?

[code]

[code]

[2021-12-05 09:27] RahulBhalley commented on #2058
Never mind. Had that error on my MBP but doesn't matter 'cause I'm using GPU now.

[2021-12-06 10:27] #923 closed

[2021-12-06 10:28] #913 closed

[2021-12-06 10:51] SolomidHero opened #2063 "filtfilt consistency with scipy"
### 🐛 Describe the bug

Hello! I tried using created in #1681 `torchaudio.functional.filtfilt` instead of `scipy.signal.filtfilt`. In my observation there is no such combination of arguments that filtered output is numerically consistent. All differences are almost on edges.

For `a`, `b` coefficients I used highpass `scipy.signal.butter` with some simple parameters (they were same).

## Code

[co

[2021-12-08 16:53] w962402254 opened #2065 "When can torchaudio(0.10.0) adapt to Apple M1？"
### 🚀 The feature

torchaudio.pipelines cannot be called

### Motivation, pitch

torchaudio.pipelines cannot be called

### Alternatives

_No response_

### Additional context

_No response_

[2021-12-08 17:06] mthrok commented on #2065
Hi @w962402254

Thanks for the feedback. Meanwhile, you can build torchaudio based on nightly build of pytorch.

1. Install miniforge3 - arm64 https://github.com/conda-forge/miniforge#miniforge3
2. Install PyTorch nightly build - `pip3 install --pre torch -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`
3. Install build tools. `pip3 install "cmake>=3.18" ninja pkg-config`
4. Ins

[2021-12-08 17:07] mthrok commented on #2065
Note that `pipelines` had some BC-breaking change recently so if you are using  `wav2vec2`, please refer to the latest documentation.  https://pytorch.org/audio/versions.html

[2021-12-08 17:11] mthrok commented on #2063
Hi @SolomidHero

I think this is originated from the fact that `filtfilt` uses `lfilter`, which has evolved in torchaudio way. Are you performing numerical comparison against SciPy? How important is it to have the numerical parity?

[2021-12-14 06:48] unemployed-denizen opened #2070 "ISTFT Output Length Too Short"
### 🐛 Describe the bug

The input signal length is 7759248, I padded 4096 zeros to the front so now is 7763344 = 4096 + 7759248
Then, I do torch.stft and torch.istft, the reconstructed signal is 7762944 = 3696 + 7759248
The problem is 3696 < 4096. I'm not sure about how the output length is calculated, is it a bug or it's caused by wrong usage? How can I get a reconstructed signal with output leng

[2021-12-14 09:32] nateanl commented on #2070
Hi @unemployed-denizen, thanks for posting this issue.
This behaviour is expected. In the source code of [`torch.istft`](https://github.com/pytorch/pytorch/blob/bceb1db885cafa87fe8d037d8f22ae9649a1bba0/aten/src/ATen/native/SpectralOps.cpp#L957), the expected output length is:
[code]
In your case is `4096 + 1024 * 7581 = 7767040`.
Since the `center` is set to `True`, which means in `torch.stft`, th

[2021-12-14 11:40] unemployed-denizen commented on #2070
@nateanl
Thank you for your answer. My another question is how does 'center' in istft work? It works if I set it to true. However, I get an error if I set it to false in isft.
Here is the code:
[code]
The error is:
[code]

[2021-12-14 12:37] nateanl commented on #2070
The ``center`` controls whether to pad zeros on both sides of the signal. If it's False, there will be no paddings.
It looks like the `RuntimeError` is triggered by NOLA check. In order to make the signal invertible, the `n_fft`, `hop_length`, and `window` settings need to satisfy NOLA, here is the detailed explanation: https://gauss256.github.io/blog/cola.html

[2021-12-14 12:38] nateanl commented on #2070
In this case, I recommend using `center=True`, so that the signal is guaranteed to be invertible.

[2021-12-14 16:32] arshinmar commented on #1573
thank you for this modification!

[2021-12-15 02:24] #2070 closed

[2021-12-16 02:56] njusq commented on #400
We also had the same problem two days ago under the setting `subtrach_mean = False`.
We compared the results of torchaudio's fbank and kaldi's compute-fbank-feats line-by-line. The differences occured from the value of input.
It is really confusing that **the input should be float number in the range of [-32,768., 32,767.]** ( not float [-1.,1.] or int16 [-32,768, 32,767]).
We fixed the problem by

[2021-12-17 03:23] w962402254 commented on #2065
torchaudio(0.10.1) arm !!!
I finally waited
Thank you very much！

[2021-12-17 03:23] #2065 closed

[2021-12-17 18:07] asrvsn commented on #2063
I'm guessing the difference is in the explicit edge-handling (e.g. odd- or even-symmetric extensions) that `scipy` does: https://github.com/scipy/scipy/blob/v1.7.1/scipy/signal/signaltools.py#L4054

[2021-12-19 03:22] timnlupo opened #2083 "Broken Load from Bytes (with 24 bits per sample?)"
### 🐛 Describe the bug

Hi all! I'm noticing some weird behavior with `tochaudio.load` from bytes. For some samples, the sound loads as glitchy harsh noise. Sample code is below.

[code]

If I try this same code without the bytes, the sample loads fine.

[code]

Weirdly, other samples seem to load fine from bytes. I tried looking through their metadata info to identify the issue and it seems to be

[2021-12-19 17:10] mthrok commented on #2083
Hi @timnlupo

Thanks for the report. I can reproduce the issue.
I quickly looked into it and it seems that something is wrong when the data is passed from Python file-like object to underlying memory buffer in C++. I will look into it further later.

[2021-12-20 01:34] mthrok commented on #2083
Fix https://github.com/pytorch/audio/pull/2084

[2021-12-20 01:35] mthrok commented on #2083
Hi @timnlupo

Thanks to your detailed bug report, I could spot the bug. #2084 should solve it.

[2021-12-20 01:52] timnlupo commented on #2083
Awesome! Thank you for the help :)

[2021-12-20 15:34] gkowarzyk commented on #1863
Hello again,

Following up: @harishsk I still do not see the 0.8.2 tag, would it be possible to add it please?
(I only see `0.8.2-rc1`, `0.8.2-rc2`, `0.8.2-rc3`).

Thanks in advance!

[2021-12-20 18:28] harishsk commented on #1863
@malfet / @seemethere I do not have permissions to create tags. Can you please help with this?

[2021-12-23 04:00] #2083 closed

[2021-12-23 17:42] Guillaume-oso opened #2097 "Spectrogram transform with float16 precision"
### 🚀 The feature

Looks like spectrogram transform does not work with float16 precision.

versions:
python 3.8
torch 1.10.1
torchaudio 0.10.1
typing-extensions: 3.10.0.2
OS: ubuntu 20.04

My code to test if this feature works or not:
[code]

Error:
[code]

if GPU execution enabled:
[code]

### Motivation, pitch

try to reduce train and inference computation cost in an audio deep learning context.

[2021-12-23 19:14] mthrok commented on #2097
Hi @Guillaume-oso

At the moment, torchaudio's official support are limited to fp32 and fp64. The support of fp16 is our interest but looking at the stack trace, we need to get support from PyTorch core on implementing these ops. I will ask the team and see the plausibility.

[2021-12-24 01:49] TeaPoly opened #2099 "When I update `torchaudio` from 0.9.0 to 0.10.0, it raise an error `formats: amr-nb can't encode AMR-NB to 16-bit`."
### 🐛 Describe the bug

When I update `torchaudio` from 0.9.0 to 0.10.0, it raise an error `formats: amr-nb can't encode AMR-NB to 16-bit` for following code:

[code]

Is it means` amr-nb` is not support 16-bit/sample width audio now?

### Versions

Collecting environment information...
[code]

[2021-12-24 03:20] mthrok commented on #2099
Hi @TeaPoly

tl;dr It's just warning and you can ignore it. Please refer to the figure bellow for the resulting signal.

**Note** <ins>Even if the source audio is 16 bits, when it is loaded with `soundfile.read(dtype='float32')`, the data are represented with 32-bit floating point value. So the fact that source audio being 16 bits is not relevant.</ins>

The warning is issued because torchaudio's

[2021-12-24 03:45] TeaPoly commented on #2099
Thank you for your patient answer.

[2021-12-24 03:45] #2099 closed

[2021-12-26 08:52] ahmed-fau opened #2103 "Bark Filterbank for torchaudio"
### 🚀 The feature

Is there any plan/interest to enable Bark spectrogram calculation in torchaudio?

### Motivation, pitch

More flexibility to users of torchaudio especially for ML-DSP purposes

### Alternatives

_No response_

### Additional context

_No response_

[2021-12-26 13:37] mthrok commented on #2103
Hi @ahmed-fau

Thanks for the request. Extending torchaudio in DSP domain is generally our interest.
However I am new to Bark scale. Would you recommend any learning material?

After quick googling, and reading https://www.fon.hum.uva.nl/praat/manual/BarkSpectrogram.html,
it seems that the procedure looks like the following.

Waveform -> power spectrogram -> Bark scale conversion

So adding Bark F

[2021-12-26 15:03] jojonki opened #2104 "`torch.audio.functional.spectrogram` does not use `normalized` parameter correctly"
### 🐛 Describe the bug

I found `torchaudio.Spectrogram` does not use `normalized` argument correctly because the code uses hard code. Always it sets to `False`. Similar to #1007, but not griffin-lim in this case.

https://github.com/pytorch/audio/blob/main/torchaudio/functional/functional.py#L110
[code]

### Versions

[code]

[2021-12-26 16:45] ahmed-fau commented on #2103
Hi @mthrok

Exactly, it's the same interface of MelSpectrogram but with a different Psychoacoustic scale (Bark instead of Mel, so adding Bark filterbank is all that we need).

The Bark scale is recently used in efficient neural speech synthesis models such as [LPCNet](https://arxiv.org/pdf/1810.11846.pdf).

For the sake of completeness, you can also add another argument for the [ERB (equivalent re

[2021-12-26 22:49] mthrok commented on #2104
Hi @jojonki

`normalized` parameter is not passed to stft function, but used in couple of lines later.

https://github.com/pytorch/audio/blob/9397cd5b9c4389baa8b3891b3ba12aa2ae07100f/torchaudio/functional/functional.py#L117-L119

Is this not serving your purpose?

[2021-12-26 23:44] jojonki commented on #2104
Hi @mthrok . Thank you! I missed the point.

Why does the code normalize the spectrogram after `stft` function while `stft` function has `normalized` argument.
Are there any differences?

[2021-12-30 03:33] xk-777 commented on #2020
I made it！！！！
1、open kaldi/src/base/kaldi-types.h
2、follow this  on line 57
// In a theoretical case you decide compile Kaldi without the OpenFST
// comment the previous namespace statement and uncomment the following

[2021-12-30 19:56] FarhadGazi opened #2118 "how do i train the model for different language?"
hello there, I want to run this tts with Bangla language. I have the dataset on my google drive . Can you tell me if I run your model in colab where should I update?

[2021-12-31 16:04] wernerchao commented on #2051
Working on item (2).

[2022-01-04 21:51] wernerchao commented on #2051
Working on item (3)

[2022-01-05 05:05] mthrok opened #2138 "Streaming API progress overview"
1. The master PR https://github.com/pytorch/audio/pull/1986
    - The detailed [tutorial](https://525195-90321822-gh.circle-artifacts.com/0/docs/tutorials/streaming_api_tutorial.html)
1. Prototype implementation
    1. C++ code
        - [x] https://github.com/pytorch/audio/pull/2041
        - [x] https://github.com/pytorch/audio/pull/2042
        - [x] https://github.com/pytorch/audio/pull/2043

[2022-01-06 09:28] oplatek opened #2145 "Emformer pretrained model"
### 🚀 The feature

Thank you for releasing the [Emformer implementation](/fsx/home/oplatek/code/moosenet02/moosenet/emformer.py).

Do you plan to release also any pretrained model?

### Motivation, pitch

The pretrained model would increase the adoption of the code for sure :-)

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-06 09:30] Tomiinek commented on #2145
+1

[2022-01-06 13:35] miccio-dk commented on #500
@kureta perhaps I'm a bit late but I provided a simpler (maybe?) workaround in  pytorch/pytorch#62323

[2022-01-06 14:56] hwangjeff commented on #2145
Hi @oplatek and @Tomiinek — thanks for the request! We currently have one pretrained Emformer-RNNT model trained on LibriSpeech available as a prototype feature; it is accessible via [`torchaudio.prototype.pipelines.EMFORMER_RNNT_BASE_LIBRISPEECH`](https://pytorch.org/audio/main/prototype.pipelines.html#emformer-rnnt-base-librispeech).

https://github.com/pytorch/audio/tree/main/examples/asr/libri

[2022-01-06 18:00] Tomiinek commented on #2145
Thanks for your prompt reply! We will try it out :slightly_smiling_face:

[2022-01-09 18:55] chiragoel commented on #1564
Hey
Can I work on this issue?

[2022-01-12 06:48] radioactive11 commented on #1883
@mthrok can I work on this issue?

[2022-01-13 01:18] changtaoli opened #2154 "The apply_codec function does not behave normally"
### 🐛 Describe the bug

I am trying to convert an audio tensor into 'gsm' format to simulate communication process with this apply_codec function. However, beside a transformed tensor, this function also returns a string: formats: gsm can't encode GSM to 16-bit.

The version I am using is 0.10.1 and this function will not return this string when using earlier version.

### Versions

Collecting env

[2022-01-13 18:37] problemSolvingProgramming opened #2155 "UserWarning: torchaudio C++ extension is not available"
### 🐛 Describe the bug

Having just started learning Torchaudio, I got this error. I fixed the first part but even after some deep internet surfing, I can't find a fix. I use Windows 10.

https://pytorch.org/audio/stable/backend.html

### Versions

version 1

[2022-01-17 11:25] Emrys365 opened #2158 "New interface for MVDR beamforming"
### 🚀 The feature

It would be very helpful to provide the following interface for the beamforming module ([torchaudio.transforms.MVDR](https://pytorch.org/audio/master/transforms.html#torchaudio.transforms.MVDR.forward)):
[code]
and maybe add some high-level glue functions that takes the masks as input, but has only a few lines of code.

### Motivation, pitch

The current forward method of `torch

[2022-01-17 11:53] nateanl commented on #2158
@mthrok What do you think? I feel like the current `torchaudio.transforms.MVDR` can be used as the high-level module, which calls another module with PSD as input arguments in the `forward` method.

Maybe we should rename the current MVDR module to a generalized `MaskBasedBeamforming` module which accepts any kind of beamforming method, similar to [` DNN_Beamformer`](https://github.com/espnet/espn

[2022-01-17 14:05] vadimkantorov opened #2159 "[dicscussion] Batched CPU/GPU audio decoding / encoding"
### 🚀 The feature

GPU audio decoding at least for some codecs is useful for wider usage of compressed audio for training ASR models.

Maybe some neural codecs (I think Google open-sourced some neural codecs) would be more amenable to batched GPU decoding and integration into models directly.

### Motivation, pitch

N/A

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-17 14:56] mthrok commented on #2158
@nateanl Can you make a diagram of changes you propose with call graph and signatures? (see the following for an inspiration)

![](https://user-images.githubusercontent.com/855818/102725281-ae0c8e80-42e3-11eb-929f-d3848989eafb.png)

[2022-01-17 17:38] mthrok commented on #2159
Hi

I am not aware of a GPU codec library for audio. Do you know one?

[2022-01-17 17:46] vadimkantorov commented on #2159
I'm also not aware, but maybe Lyra / SoundStream / LPCnet could be implemented on GPU (except maybe entropy coding). Also, maybe just some recommended codecs / settings optimized for fast decoding with DataLoader in DDP regime would be beneficial for community (e.g. how to configure it so that there is no thread oversubscription etc)

[2022-01-18 16:37] leonmck-dsp-dev commented on #2103
hi
i can implement this let me grab a look

[2022-01-18 16:51] mthrok commented on #1883
Hi @radioactive11

Sorry for the late reply. The phase 1 is completed and we need to wait until the branch cut of v0.11 to perform the phase 2. I will update this once the branch cut happens.

[2022-01-18 16:53] mthrok commented on #1564
Hi @chiragoel

Sure go ahead.

[2022-01-18 16:53] #2051 closed

[2022-01-18 16:58] mthrok commented on #2155
Hi @problemSolvingProgramming

I cannot tell what you are referring by "the first part" or what you mean by "version 1".
That warning is issued when the installation of torchaudio does not have the extension module.
This happens, for example, when trying to use the source cloned via git, without building the extension module.
This is an expected behavior for older versions of torchaudio on Windows

[2022-01-18 16:58] #2155 closed

[2022-01-18 17:03] mthrok commented on #2118
Hi @FarhadGazi

Sorry for the late response. To train a TTS model like the Tacotron2 example, then you need to train multiple models. One for grapheme to phoneme (G2P) models, one for embedding to spectrogram (the actual Tacotron2 part).

For training tacotron2 please refer to https://github.com/pytorch/audio/tree/main/examples/pipeline_tacotron2.
For G2P models, currently torchaudio does not have

[2022-01-18 17:09] mthrok commented on #2154
Hi @changtaoli

Thanks for the report. IIRC, nothing about that function is changed, but let us look into it.

I think you can suppress the warning with the utility.
https://pytorch.org/audio/stable/utils.html#torchaudio.utils.sox_utils.set_verbosity

[2022-01-18 17:37] nateanl commented on #2158
Here is the diagram for changing the API of MVDR.
1) Move the `get_mvdr_vector` and `apply_beamforming_vector` to `torchaudio.functional`, and let the current MVDR module call the methods under `torchaudio.functional`. This aligns with ESPNet's function design.
2) Add a new module called `MVDRBeamformer` (for example). Use `specgram`, `psd_s`, `psd_n`, and `ref_mic` as the input arguments of `forw

[2022-01-19 04:19] mthrok opened #2162 "Remove multiprocessing from audio dataset tutorial"
There are couple of audio tutorials in https://github.com/pytorch/audio/tree/main/examples/tutorials.

These `audio_XXX.py` were split from one big tutorial.

Since the original tutorial was long, and the dataset portion was at the very end of the tutorial, I put dataset download run in the background. `audio_datasets_tutorial` is now a standalone, simple tutorial, which no longer benefits from do

[2022-01-19 06:49] yonMaor commented on #2162
Hey, I can probably help on this.
Can you eleborate further?
Is the code snippet that you attached the only thing that needs to be deleted?

[2022-01-19 15:34] mthrok commented on #2162
Hi @yonMaor

Thanks. It is simply removing `YESNO_DOWNLOAD_PROCESS` variable. (it occurs one more time later)

[2022-01-19 15:54] yonMaor commented on #2162
@mthrok Sounds good, I'll take care of it

[2022-01-19 16:37] yonMaor commented on #2162
Should the _download_yesno function also be removed?

[2022-01-19 16:48] mthrok commented on #2162
Yes. The resulting tutorial should be simple straight forward script, just demonstrating how to use dataset class.

[2022-01-19 18:22] yonMaor commented on #2162
Another question, I'm unfamiliar with the second part (running GALLERY_PATTERN...).
Where do I run this command?

[2022-01-19 19:07] yonMaor commented on #2162
I've made the changes, but I'm not 100% sure what I'm supposed to see in the documentation to make sure that I've made the change correctly

[2022-01-19 19:22] mthrok commented on #2162
So from `docs` directory, by running `GALLERY_PATTERN=audio_datasets_tutorial make html` (or BUILD_GALLERY=1 make html), the documentation that resembles https://pytorch.org/audio/main/ is created in `build/html`.

Check that the tutorial was run properly, like the spectrograms are plotted properly like https://pytorch.org/audio/main/tutorials/audio_datasets_tutorial.html

Alternatively, you can m

[2022-01-19 19:22] mthrok commented on #2162
`GALLERY_PATTERN=audio_datasets_tutorial make html` is a shell command.

[2022-01-20 11:37] vadimkantorov commented on #1994
It would be nice if torchaudio published some benchmarks of realistic audio decoding perf inside a DataLoader (especially in the view of improvements of https://ffcv.io)...

[2022-01-20 16:06] mthrok commented on #2159
We do not have a good recommendation for the fast loading at the moment. A part of the reason is that the primal focus of the library has been providing domain-specific features that PyTorch does not provide natively. So we were focusing on the components rather than the pipeline. However, this is changing as the library matures and user base grows, and we do acknowledge the demand complex yet eff

[2022-01-20 18:08] #2162 closed

[2022-01-21 17:53] mthrok commented on #2158
Sounds good.

- What happens to `PSD(specgram, mask)` module?
- I prefer using a prefix other than `get_`. say, for example `compute_`. Thoughts?

[2022-01-21 19:29] nateanl commented on #2158
It will be outside of the new MVDR module. When users want to apply MVDR beamforming, they need to compute the psd matrices either by PSD module with the mask, or estimate them in other ways.
We can also add a function like `compute_power_spectral_density_matrix` under `torchaudio.functional`.

Sounds good to me. Since there are three solutions to MVDR, we can make those methods names as:
- `compu

[2022-01-21 19:38] popcornell commented on #2158
for multi-frame MWF as defined in `https://arxiv.org/abs/1911.07953` I think there won't be a problem as basically the other frames are treated as other microphone channels.

I think it should be fine to have one function which can handle 90% of the use-cases out there. Might want to design it also to handle time-varying beamforming filters too. It should not be too hard.

[2022-01-23 16:17] FarhadGazi commented on #2118
thank you for your kind response.

On Tue, Jan 18, 2022 at 11:03 PM moto ***@***.***> wrote:

[2022-01-24 14:32] mthrok commented on #2097
Hi @Guillaume-oso

Please refer to the latest on half complex support pytorch/pytorch#71680 and cast your voice.

[2022-01-25 13:27] boeddeker commented on #2158
I would say, try to keep it simple and "low level" (i.e. one equation, one function). With `apply_beamforming` you get, as popcornell said, most users and maybe there is no generalization. The WPD beamformer (probably also multi-frame MWF) can be formulated, such that apply_beamforming can be used (i.e. manipulate `specgram` and stack the history to the channel dimension). Since it is essentially

[2022-01-25 14:33] nateanl commented on #2158
We can split it into these functions:
- ``compute_mvdr_vector_rtf(rtf, psd_noise, ref_channel)``
-  ``compute_rtf_power(psd_speech, psd_noise, ref_channel)``
-   ``compute_rtf_evd(psd_speech)``

On the module-based design, for example, `torchaudio.transforms.RTFMVDRBeamformer`, shall we include the computation of rtf and mvdr vector together, or shall we also use `rtf` as the argument, same as ``c

[2022-01-26 15:23] hwangjeff commented on #2145
That's right — at the moment, we don't have a pretrained model for Conformer available. That being said, we are actively working on building a LibriSpeech training recipe for it, and so we may release the corresponding pretrained model in the coming weeks.

[2022-02-02 15:24] JeromeNi opened #2194 "torchaudio v0.9.0 installation error (protobuf not found)"
Hi, after installing PyTorch 1.9.0, I tried to install torchaudio v0.9.0 (release/v0.9) from source on a ppc64le machine. However, I received an error that CMake is unable to locate protobuf. The server shows a CMake version of 3.11.4 and a ninja version of 1.10.1, and switching CMake to a higher version of 3.18.4 shows the same error.

[code]

but `pip install protobuf` gives
[code]

I saw the sa

[2022-02-03 00:14] pipichen73 opened #2196 "torchaudio.transformes.RNNTLoss"
### 🐛 Describe the bug

If I don't use the max seq length for logit length, it will cause run time error, input length mismatch.

def compute_loss(self, joiner_output: Tensor, enc_output_mask: Tensor, tgt_seq: Tensor):
        """compute rnnt loss
        Args:
            joiner_output: (Tensor): B X T X (U+1) X CLASSES
            enc_output_mask (Tensor): B X T
            tg_seq (Tensor): B X

[2022-02-03 19:24] Tomiinek opened #2200 "Emformer forward and infer output difference"
### 🐛 Describe the bug

Hello (@hwangjeff ), I noticed discrepancy between Emformer `forward` and `infer` outputs when using non-zero right context:

[code]

Ouputs something like:
[code]

I would expect having `offline_output` and `online_output` exactly the same values which is true only if `encoder_right_context_size = 0`. What am I missing or doing wrong? The difference is substantial on real

[2022-02-03 20:06] hwangjeff commented on #2200
@Tomiinek thanks for flagging! There are a few things to point out:
- `segment_length` is exclusive of `right_context_length`.
- Accordingly, the input to `infer` should contain the right context and be of length `segment_length + right_context_length`.
- Also, for `forward`, the `length` input should exclude the length of the right context, whereas for `infer` it should include it. This is admitt

[2022-02-03 21:43] Tomiinek commented on #2200
Thanks for the prompt reply! Makes sense, my fault :slightly_smiling_face:

[2022-02-03 21:43] #2200 closed

[2022-02-03 23:48] hwangjeff commented on #2200
No problem!

[2022-02-04 00:57] j4sonzhao opened #2201 "error when building torchaudio v0.9.0 from source on ppc64le (power9)"
### 🐛 Describe the bug

Hi there,

I am trying to build torchaudio v0.9.0 with pytorch 1.9 from source (looks like [this post](https://github.com/pytorch/audio/issues/2194) is trying to do the same thing), on a power9 machine. However, I am running into a cmake error when trying to build (below is error snippit; will provide full error at the end of this post):

[code]

Things I have done so far:

[2022-02-04 00:58] j4sonzhao commented on #2201
Also, tagging @mthrok since he was so helpful with a very similar previous [issue](https://github.com/pytorch/audio/issues/1796) (for 0.7.2) :)

Apologies if that's a little rude to do

[2022-02-04 07:40] mthrok commented on #2194
Hi @JeromeNi

The error suggests that there is an issue with the installation of PyTorch. How did you install PyTorch?

Looking at the following, it seems that `pytorch-base` package, which I assume is managed by your system administrator, is compiled with CUDA10.2 and protobuf 3.14.1 on Python 3.7.

[code]

Whereas the version you showed is `3.14.0`.

[code]

So I imagine that using the same vers

[2022-02-04 07:46] Tomiinek commented on #2200
If you don't mind I will just describe my reasoning, maybe it help somebody who is in a late-night debugging rage as I was, or could help to clarify the documentation :slightly_smiling_face:

In `Emformer` constructor, there are:
[code]
In the `infer` method, there are:
[code]
And returns:
[code]

From this, I deduced that `segment_length` corresponds to `T` because of the mention "length of each

[2022-02-04 07:51] mthrok commented on #2201
Hi @j4sonzhao

Welcome back. I have to say that your error report is very nicely organized so, it's fun to help you. (However note that I am traveling these days so might not be able to respond well)

Now, looking at the error log, the issue seems to be happening where CMake is examining the CUDA environment, which I suspect happens [here](https://github.com/pytorch/audio/blob/33b2469744955e2129c6

[2022-02-04 08:19] JeromeNi commented on #2201
Actually, I had this error just now when trying to fix the error again. I additionally set the Cuda architecture to 70 for V100 using
[code]

[2022-02-04 09:02] mthrok commented on #2201
@JeromeNi Can you try disabling CUDA by setting `USE_CUDA=0` environment variable? They make no difference for 0.9 release.

[2022-02-04 09:17] JeromeNi commented on #2194
I found that protobuf 3.14.0 is likely the correct version, as there isn't a version 3.14.1 for protobuf on its GitHub.

I will ask the system admin to see why there are two pytorches. I'm not sure if this is helpful to figuring out the error, but I found that I could complie torchaudio v0.7.2 in my PyTorch 1.9.0 environment (as well as another PyTorch v1.7.1 environment; also with two pytorches).

[2022-02-04 09:41] JeromeNi commented on #2201
I tried  `export USE_CUDA=0` before building but it had no effect. I then removed the `enable_language(CUDA)` and the _ieee128 error disappeared.

I'm sorry, I should have made myself clearer in the previous post. By specifying the Cuda architecture with `set(CMAKE_CUDA_ARCHITECTURES 70) ` I was able to compile further until (https://github.com/pytorch/audio/issues/2194) reappeared. Removing `enab

[2022-02-04 11:33] nateanl commented on #2196
Hi @pipichen73, thanks for posting the issue. To figure out the cause, could you paste an example that will throw the runtime error?

[2022-02-04 14:53] j4sonzhao commented on #2201
@mthrok  it looks like I'm also running into the same issue as @JeromeNi after I set `export USE_CUDA=0` before building. Specifically, I get past that error but I then get the protobuf error:

[code]

[2022-02-04 15:12] j4sonzhao commented on #2201
@mthrok actually, I just realized that I was forgetting to checkout to the `v0.9.0` tag before building everything, so I did that first.

However, it looks like I am now running into the same `__ieee128 is unidentified` error as before, even when I try `export USE_CUDA=0` or changing `CMakeLists.txt` to have the 2 lines that set `CMAKE_CUDA_ARCHITECTURES` and `CMAKE_CUDA_FLAGS`.

It seems like the

[2022-02-04 15:22] pipichen73 commented on #2196
Hi,
I found the problems.
The tensors i passed in had issues.

Thanks for your help.

Hui

On Fri, Feb 4, 2022, 03:33 nateanl ***@***.***> wrote:

[2022-02-04 15:36] j4sonzhao commented on #2201
@mthrok ah, I just realized that it's using CUDA in the main build still, not the third party. I deleted the line that includes `enable_language(CUDA)` [here](https://github.com/pytorch/audio/blob/v0.9.0/CMakeLists.txt#L64) and am once again running into the protobuf issue mentioned earlier (#2194).

It's maybe also worth mentioning that I originally had this issue when building 0.7 (#1796) but th