[2022-02-04 15:44] nateanl commented on #2196
Great that you found the cause! I'm going to close this issue, but let me know if you meet any further issue.

[2022-02-04 15:44] #2196 closed

[2022-02-04 16:19] hwangjeff commented on #2200
@Tomiinek this is very helpful — thanks! Sorry to hear about the debugging issues; I see where the confusion lies and agree that adjusting the documentation and adding some asserts would make this more usable. Will make the changes.

[2022-02-04 17:16] j4sonzhao commented on #2194
@JeromeNi  have you made any progress on this?

[2022-02-06 03:22] mthrok opened #2205 "Windows binary jobs failing with CUDA 11.5"
https://hud.pytorch.org/ci/pytorch/audio/main/

In the middle of January, many binary jobs started failing.
Most of them are now fixed. Windows binary build jobs are still failing.

cc @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @smartcat2010 @mszhanyi

[2022-02-07 14:27] mthrok commented on #2103
Hi @ahmed-fau

Sorry for the late response, but if you are still available, feel free to make a PR.

[2022-02-09 16:29] hwangjeff commented on #2200
Addressed in #2207

[2022-02-11 08:00] hbredin commented on #1442
Thanks @mthrok -- will look into it... at some point (but cannot promise any ETA).

[2022-02-15 20:43] eric-mc2 opened #2234 "Soundfile backend does not accept Path objects"
### 🐛 Describe the bug

## File
torchaudio/backend/soundfile_backend.py

## Function
info(filepath)

## Description
The type annotation is incorrect on the filepath argument. The docstring says it accepts `str` or `pathlib.Path` objects. This function calls `soundfile.info(filepath)` which does not accept Path objects. If called with a Path object, this function will throw a TypeError through the

[2022-02-16 00:44] JackRAHealth opened #2242 "Wav2vec2 output is affected by zero-padding"
### 🐛 Describe the bug

I've found that the output of the wav2vec2 pipeline model is bugged, and changes depending on the zero-padding used in batch preprocessing, a simple example Is as follows:
[code]
Which gives the output of `tensor(68.1875, grad_fn=<CopyBackwards>)`. Changing the value of N2 will change this value further. I've found the source to be the group norm layer after the first convo

[2022-02-16 00:47] JackRAHealth commented on #2242
Just to check that the `masked_group_norm` function is working, I tested the first `output1` against the new model's output prediction:
[code]

[2022-02-16 01:50] mthrok commented on #2242
Hi @JackRAHealth

Thanks for the report.et me look into it.

[2022-02-16 23:18] carolineechen commented on #2234
Hi @eric-mc2, I tried reproducing your env and followed your code, but everything ran smoothly on my end and I get identical results using both the str and the Path versions. The Soundfile dependency should be able to take accept either (see [here](https://github.com/bastibe/python-soundfile/blob/d1d125f5749780b0b068b5fcb49d8e84f7f4f045/soundfile.py#L563)).

[2022-02-20 04:54] eric-mc2 commented on #2234
Hi @carolineechen, thanks for looking into this so quickly. In the docstring you linked to, it says the "file" parameter should be str, int, or file-like. A pathlib.Path is neither of these.
[code]
Therefore it ought to throw a TypeError  [here](https://github.com/bastibe/python-soundfile/blob/d1d125f5749780b0b068b5fcb49d8e84f7f4f045/soundfile.py#L1192) after failing the explicit type checks for s

[2022-02-20 20:51] carolineechen commented on #2234
Hi @eric-mc2, I've tested this on both Mac and Linux and have still been unable to reproduce on either (I've also tried both the pip and conda versions of soundfile).

Looking a bit more closely at the soundfile source code [here](https://github.com/bastibe/python-soundfile/blob/d1d125f5749780b0b068b5fcb49d8e84f7f4f045/soundfile.py#L630), soundfile should be able to handle PathLike objects, as it

[2022-02-21 02:52] mthrok commented on #2242
The given analysis seems to be correct and the proper solution would be implement the normalization that is aware of masking.

There are tests for batch consistency but they only use the samples with the similar lengths, so this effect was not caught.

https://github.com/pytorch/audio/blob/cbf1b8392341c61ea1db9daf81556b207e2cf9eb/test/torchaudio_unittest/models/wav2vec2/model_test.py#L139-L147

We

[2022-02-21 03:21] mthrok commented on #2234
@eric-mc2 What is the version of soundfile you are using?

I also tried your code snippet and it worked fine on my MacBook Pro. The version of PySoundFile is `0.10.3`.

The call graph looks like

- `torchaudio.info`
    https://github.com/pytorch/audio/blob/6f539cf3edc4224b51798e962ca28519e5479ffb/torchaudio/backend/soundfile_backend.py

- `soundfile.info`
    https://github.com/bastibe/python-sou

[2022-02-21 03:56] mthrok commented on #2242
I am un-assigning myself, as this turned out to require more resources than I have at the moment.
If anyone is interested in resolving this, let us know.

[2022-02-21 05:13] anicolson commented on #2242
good pickup @JackRAHealth, keeping it 55th street

[2022-02-22 21:23] eric-mc2 commented on #2234
I'm going to close this thread due to lack of reproducibility. As @carolineechen points out, the `file = file.__fspath__()` line makes pathlib.Path a legal argument. After cleaning and simplifying my environment setup, I can't reproduce the original stacktrace either.

[2022-02-22 21:23] #2234 closed

[2022-02-23 21:37] mcomunita opened #2253 "torchaudio.backend.sox_io_backend does not normalize"
### 🐛 Describe the bug

Hi,

I am experiencing a bug when loading a WAV file using _sox_io_ backend where the loaded file is not normalized (i.e. fit in the range of ``[-1.0, 1.0]``).

Torchaudio version: 0.10.2

Below is the code and prints if I load the file without normalization (original file format int32):
<img width="449" alt="image" src="https://user-images.githubusercontent.com/34679334/15

[2022-02-24 01:16] mthrok commented on #2253
Hi @mcomunita

This is indeed a language problem that exists from the very beginning of the library, and persists for API compatibility reason. What it really does is to convert the values from native type to float32 type. It does not perform any actual normalization. Sorry for the confusion. Let us follow up with updating the documentation.

[2022-02-24 03:36] seemethere opened #2254 "[ci] Reduce windows GPU, windows cpu, and macOS unittest coverage to one version of python"
We should reduce the coverage for windows GPU unittest down to one version of python since running it for all version so python is expensive and probably doesn't provide good signal since the differences between the python version can be caught on a much less expensive configuration (like linux).

![image](https://user-images.githubusercontent.com/1700823/155453431-c41818d9-a28e-4974-a7e8-7b20c7e3

[2022-02-24 03:38] seemethere commented on #2254
In the same vein it's also probably not necessary to test multiple versions of python on linux GPU either

[2022-02-26 19:44] JXuann commented on #993
@gibiansky could you briefly explain what is this for? Many thanks in advance!
[code]

[2022-02-28 10:30] jdsgomes commented on #1493
@mthrok just a reminder that this needs to be deprecated now that we have the RC. I am pinging you to see if it's on your radar - I saw that the other one I work on is: https://github.com/pytorch/audio/issues/1883

[2022-03-01 18:34] abhi-glitchhg opened #2336 "ASR Inference tutorial not working"
[colab  notebook](https://colab.research.google.com/github/pytorch/audio/blob/gh-pages/main/_downloads/ade1a3c3b444796d2a34839c7ea75426/asr_inference_with_ctc_decoder_tutorial.ipynb#scrollTo=sJkOlyNIFMKj)

[Tutorial webpage](https://pytorch.org/audio/main/tutorials/asr_inference_with_ctc_decoder_tutorial.html)

It seems like there is an issue with the tutorial here and needs to be updated.
Error s

[2022-03-01 20:19] seemethere commented on #2254
Closed with #2256

[2022-03-01 20:19] #2254 closed

[2022-03-02 14:29] divideconcept commented on #1573
It seems the ngam torchaudio doesn't work.
Installing miniconda for osx-arm64 and then the packages with the following command:
`conda install -y pytorch torchvision torchaudio -c pytorch -c conda-forge -c anaconda -c ngam`
works, but then when launching python and doing a simple `import torchaudio` I get the following error:
[code]

[2022-03-02 14:33] divideconcept commented on #1573
NB: what I have in my python/lib folder is libprotobuf.30.dylib

[2022-03-02 14:36] mthrok commented on #1573
@divideconcept ngam is not our release so you need to check with the ngam package publisher. It seems that when they built torchaudio, some extra dependencies were introduced, which suggests that it was not build on the PyTorch you have in your env.

[2022-03-02 17:35] divideconcept commented on #1573
@ngam Thanks but don't worry, I'll just use the x86_64 version for now, until the PyTorch team can provide an official arm conda package.

[2022-03-03 11:59] pallgeuer opened #2268 "get_version.sh needs to be run with bash not sh"
### 🐛 Describe the bug

The `get_version.sh` script should be run with bash (see its shebang), not `sh` as called on this line:
https://github.com/pytorch/audio/blob/main/third_party/kaldi/CMakeLists.txt#L16
which is:
[code]
This results in:
[code]
Best fix would be to change the line to:
[code]
and let the script itself decide what it should be run with. I tested it.

### Versions

Not relevant

[2022-03-03 12:08] mthrok commented on #2268
Hi @pallgeuer

Thanks for pointing out. I prepared fix in #2269.

[2022-03-03 17:18] JuanFMontesinos commented on #1337
Please, before going forward with the deprecation, note that complex32 format is poorly supported on cuda.
Cannot do complex32 product, stft and istft allows power2 kernels only and a large list of drawbacks.

Had to rewrite whole code back to pseudo complex due to this.

[2022-03-04 18:36] seemethere commented on #1948
I think this might be resolved in newer versions of torchaudio, @kamo-naoyuki would you mind verifying?

[2022-03-04 22:00] mthrok commented on #1948
@seemethere I think that the point is that ESPNet maintains compatibility with multiple past versions, so it is important that version number for the past version is correctly parsed.

[2022-03-05 15:04] mthrok commented on #1337
Hi @JuanFMontesinos

Thanks for letting us know.

TorchAudio is not tested on fp16 nor complex32, and they are not part of officially supported types. So we did not realize that pseudo complex can be used for a workaround of complex32.

Unfortunately, we wrapped up the release v0.11 (scheduled to be out in about one week) and PyTorch removed complex32 type and torchaudio removed the support for ps

[2022-03-06 22:25] #2268 closed

[2022-03-08 21:56] b0noI commented on #1948
latest version installs correctly:
[code]

going to check 0.8.1

[2022-03-09 01:03] kamo-naoyuki commented on #1948
It's okay if it's your policy, but I think, you are responsible to provide old packages correctly, It doesn't mean LTS.

Sometimes, people need to use old package to reproduce past experiment. It have great meaning to provide old one.

Why don't you re-upload the conda package? It wouldn't take times.

[2022-03-09 02:23] b0noI commented on #1948
the commit e4e171a is the right release commit, you can see it on the GitHub tag v0.8.1: https://github.com/pytorch/audio/tree/v0.8.1

however if you will look on the last commit that was made there:
https://github.com/pytorch/audio/commit/e4e171a51714b2b2bd79e1aea199c3f658eddf9a it forgets to update the version here
https://github.com/pytorch/audio/blob/e4e171a51714b2b2bd79e1aea199c3f658eddf9a/se

[2022-03-09 02:46] kamo-naoyuki commented on #1948
What about the package of v0.8.1 uploaded on pypi? It seems to have the version correctly. Did you fix it at local and upload it? If so, why didn't you upload it for conda while it was uploaded for pypi?

[2022-03-11 18:19] mmdalix opened #2274 "Running lexicon decoder on GPU causes crash on notebook"
### 🐛 Describe the bug

My notebook on kaggle crashes every time I try to run lexicon decoder with emissions on GPU, and the container has to be rebooted.
No exceptions or output will be printed.

I'm using it this way:
[code]

### Versions

!pip3 install torch==1.12.0.dev20220305+cu113 torchaudio==0.12.0.dev20220305+cu113 -f https://download.pytorch.org/whl/nightly/cu113/torch_nightly.html

[2022-03-11 23:41] hwangjeff commented on #2274
Hi @mmdalix, thanks for reporting this issue. I suspect the cause of the exception is a device mismatch between the input and the `lengths` tensor that's being inferred: https://github.com/pytorch/audio/blob/4b47412e91c22d75a1d5f4ea5f71e0ceaa26efd7/torchaudio/prototype/ctc_decoder/ctc_decoder.py#L144

Here, `lengths` is placed on cpu, so when you provide an input that's placed on gpu, we observe a

[2022-03-12 00:04] mthrok commented on #2274
CTC decoder access memories directly so it expects the tensor to be contingent and on CPU.
We should perhaps add the check for CPU tensor. cc @carolineechen

[2022-03-12 08:55] mmdalix commented on #2274
I don't have any idea about how it works under the hood. but it would a lot better if it was designed to be GPU-compatible because it will take a long time when I increase the beam_size parameter

[2022-03-12 16:47] mthrok commented on #2274
I am not CUDA expert but they say that decoding in GPU is not necessarily faster than CPU because of the nature of the search algorithm. Decoding is a causal operation, which is very difficult, if not impossible, to pallalelize in a way that can take advantage of GPU pallalelism.

[2022-03-14 01:16] tand22 opened #2277 "ModuleNotFoundError: No module named 'torchaudio.prototype'"
### 🐛 Describe the bug

Having issues getting the Streamer to import. Have tried importing it like this `from torchaudio.prototype.io.streamer import Streamer` in folders independent of my cloned audio repo. In this case I had torchaudio installed as a pip dependency, however it seemed like it was possibly trying to reference my local audio repo. I was using torch 1.11.0 and torchaudio 0.11.0
Erro

[2022-03-14 01:37] mthrok commented on #2277
Hi @tand22

I think there are two issues in your environment.

The one is, like you mentioned, old version of torchaudio being picked up. This is often remedied by repeating conda uninstall and pip uninstall.

The real reason why prototype module is not found is because prototypes are not part of the versioned releases and they are only available in nightly builds. So you need to install the night

[2022-03-14 04:01] tand22 commented on #2277
You beauty, thanks that solved it.

[2022-03-14 04:01] #2277 closed

[2022-03-15 19:07] mthrok opened #2279 "Update CircleCI Ubuntu image"
CircleCI is deprecating Ubuntu 16 image. We need to update our CI in coming months.

https://circleci.com/blog/ubuntu-14-16-image-deprecation/
https://circleci.com/docs/2.0/images/linux-vm/16.04-to-20.04-migration/

[2022-03-16 16:18] nateanl opened #2280 "[Migration] TorchAudio Beamforming Module Migration"
# TorchAudio Beamforming Module Migration
## Overview

`torchaudio` supports an integrated [`MVDR`](https://pytorch.org/audio/stable/transforms.html#mvdr) module under `torchaudio.transforms`. To use it, users need to provide `ref_channel` and `solution` (options: [`ref_channel`, `evd`, `power`])  when initializing the module, and give the multi-channel complex-valued spectrum, time-frequency mask

[2022-03-20 10:48] Xiaojun27 commented on #2020
could you explain you solution in more detailed way, please.

[2022-03-23 18:52] Lokiiiiii opened #2287 "Build failure for v0.10.2 in nvidia/cuda:11.3.1-cudnn8-devel-ubuntu20.04"
## Repro Instructions:
[code]

## Issue
The following warnings are displayed on import
[code]

## Logs
[Build log ](https://pastebin.com/j76LgN4B)

[2022-03-23 19:18] mthrok commented on #2287
Hi @Lokiiiiii

Can you try `python3.8 -c 'import torchaudio'` outside of the cloned directory and see if the warning is gone?

The build log seems to be fine. I do not see any issue/failure.

Since the installation command is `pip install dist/*.whl`, the resulting binary will go into install location like `../site-packages/torchaudio/...`. However, when you do `python3.8 -c 'import torchaudio'` i

[2022-03-23 19:36] Lokiiiiii commented on #2287
Thanks, however I am still seeing an error:
[code]

[2022-03-23 19:55] mthrok commented on #2287
I see couple of issues.

`OSError: /opt/conda/lib/python3.8/site-packages/torchaudio/lib/libtorchaudio.so: undefined symbol: _ZNK5torch8autograd4Node4nameB5cxx11Ev`

In general, this error happens when PyTorch binary and torchaudio binary do not match. torchaudio needs to use the matching extension module (the module written in C++ and compiled).

However, looking at the path where the issue happe

[2022-03-23 23:34] Lokiiiiii commented on #2287
I just did a complete build from source on a fresh environment. I built torch, torch_xla, torchvision and finally torchaudio all from source. Still getting the same error:

### Environment
[code]
### Error
[code]

[2022-03-24 00:14] mthrok commented on #2287
Hmm, all the cases of this kinds of error I have seen so are basically the mismatch of the PyTorch version. If your environment has only one version of PyTorch then it does not explain.

Something interesting about the error message is it has `cxx11Ev` at the end. It might be about ABI mismatch.
(There is an interesting report about it https://github.com/linkinpark213/linkinpark213.github.io/issue

[2022-03-24 01:57] Lokiiiiii commented on #2287
[code]

Will do a fresh build of torchaudio explicitly setting ```_GLIBCXX_USE_CXX11_ABI=0```

[2022-03-24 02:03] Lokiiiiii commented on #2287
Issue persists after

[code]

[2022-03-24 02:31] mthrok commented on #2287
Okay, at least we know that the torchaudio is expecting the PyTorch library compiled with cxx11 ABI.

Can you check the build log and see if the value of `_GLIBCXX_USE_CXX11_ABI` is reflected?
The thing is that torchaudio's build process should be detecting the configuration that PyTorch was compiled.

https://github.com/pytorch/audio/blob/6f539cf3edc4224b51798e962ca28519e5479ffb/CMakeLists.txt#L1

[2022-03-24 03:15] Lokiiiiii commented on #2287
Build logs @ https://pastebin.com/d4X6WCrn indicate ```_GLIBCXX_USE_CXX11_ABI=0``` is reflected.

[2022-03-24 22:07] Lokiiiiii commented on #2287
### Repro Instructions
[code]

[2022-03-25 17:12] Lokiiiiii commented on #2287
Can confirm this only happens when ```D_GLIBCXX_USE_CXX11_ABI=0```

[2022-03-26 16:55] Mashiro009 opened #2294 "Resample can't process waveforms whose dtype=int16"
### 🐛 Describe the bug

I found that the default input for torchaudio Resample function is audio(waveforms) whose dtype=float32.
Therefore, Resample can't process waveforms whose dtype=int16.
I'm not quite sure whether this can be considered as a bug.

## To Reproduce
[code]

The following problem will be encountered, because kernel.dtype=float32, but waveform.dtype=int16
This is a type conflict w

[2022-03-26 17:13] mthrok commented on #2294
Hi @Mashiro009

The resample transform caches the kernel at the construction, and by default the cached kernel is `float32` type. To resample other types, the kernel has to be moved. i.e.

[code]

However, integer type is not supported by the underlying PyTorch features (`nn.Module` and `torch.nn.functional.conv1d`).

[code]

similarly trying with `torchaudio.functional.resample` cause an error.

[2022-03-26 17:25] Mashiro009 commented on #2294
Hi @mthrok

Thanks for your effort.

Is it possible to add codes later to limit or handle this situation, rather than letting conv1d report the error?
Of course this is just a suggestion.

[2022-03-28 05:16] mthrok commented on #2294
@carolineechen Could you follow-up on this? There is not `is_int` in PyTorch but I think we can use [`is_floating_point`](https://pytorch.org/docs/stable/generated/torch.is_floating_point.html#torch.is_floating_point). i.e. `if not t.is_floating_point(): raise an error...`.

[2022-03-29 07:45] BattashB commented on #400
Can you please share your code? it will be very useful!

[2022-03-29 14:04] dusty-nv opened #2295 "Build error, cannot fetch zlib-1.2.11.tar.gz"
### 🐛 Describe the bug

[code]

This was working fine up until a day or two ago.  Then it started to not be able to download `zlib-1.2.11.tar.gz`.  I don't believe it's a connection issue on my end because I am not experiencing other network issues.

[code]

### Versions

Note:  this build is being done in docker, whereas collect_env.py was run outside docker, so not all versions are showing appro

[2022-03-29 16:48] mthrok commented on #2295
`1.2.11` has mirror on source forge. https://sourceforge.net/projects/libpng/files/zlib/1.2.11/zlib-1.2.11.tar.gz/download

[2022-03-29 16:50] mthrok commented on #2295
Reminder: This needs to be fixed for 0.11.1 minor release, otherwise source build would not work.

[2022-03-29 17:03] mthrok commented on #400
@BattashB

Something like this

[code]

[2022-03-29 18:55] dusty-nv commented on #2295
Thanks @mthrok @nateanl for looking into this today, this worked.

[2022-03-30 16:21] coip commented on #2295
Could someone chime in on NVIDIA/NeMo#3905 when this is resolved?

[2022-03-30 17:08] mthrok commented on #2295
Hi @coip - @nateanl has landed #2297, so the build should be working now. We will follow-up on updating zlib to 1.2.12.

[2022-03-30 17:08] #2295 closed

[2022-04-01 19:29] mthrok opened #2314 "Code QL"
Since we changed the setup.py to fetch third party automatically, CodeQL reports error on all the PRs.
We do not know hot to fix it nor if it is correctly setup.
Could some help look into it?

I am not sure about the value it provides, so we will consider removing it.

cc @mstfbl

[2022-04-01 19:31] #2274 closed

[2022-04-01 19:31] mthrok commented on #2274
Now the CTC decoder code properly rejects CPU Tensors. Thanks for the report.

[2022-04-01 19:31] #2205 closed

[2022-04-01 19:32] #2138 closed

[2022-04-02 15:18] EdwinYam commented on #2277
I encounter the same issue after installing the nightly build (I have already uninstall torch and torchaudio with conda and pip first)

[2022-04-02 18:51] mthrok commented on #2277
@EdwinYam What is the error you are seeing? Also can you paste the result of `python -m torch.utils.collect_env`?

[2022-04-03 03:08] EdwinYam commented on #2277
`Collecting environment information...
PyTorch version: 1.12.0.dev20220401+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect
CMake version: version 3.21.3
Libc version: glibc-2.27

Python version: 3.8.3 | packaged by conda-forge | (default, J

[2022-04-03 03:22] mthrok commented on #2277
@EdwinYam I see. The prototype modules are not imported automatically. Thus one has to explicitly import it. It's described here https://pytorch.org/audio/main/prototype.html#torchaudio-prototype .

[2022-04-05 13:15] #2294 closed

[2022-04-07 19:36] underdogliu opened #2323 "Pre-emphasis and its variants?"
### 🚀 The feature

I would like to have or add (by myself, maybe?) pre-emphasis filtering into the audio processing step.

### Motivation, pitch

As we all know, pre-emphasis boosts the amount of energy in the high frequencies, especially for voiced segments. At least for speaker verification tasks (and I believe as well as others), it is thus beneficial.

### Alternatives

For furthering, there a

[2022-04-07 19:37] underdogliu commented on #2103
So just come across tis post - so are we talking about RASTA-related spectrogram energies since we talk about bark scaling?

[2022-04-08 05:06] mthrok commented on #2287
Hi @Lokiiiiii

Sorry for the late reply.

This does not seem to be the proper way to enable CXX11 ABI in PyTorch.
I think the proper way is to set `_GLIBCXX_USE_CXX11_ABI` environment variable.

https://github.com/pytorch/pytorch/blob/38a758e25178d70362c1a2d900e9f7c27e70af28/tools/setup_helpers/cmake.py#L243-L252

TorchAudio fetches the information of CXX11 ABI via `TORCH_CXX_FLAGS` variable in CM

[2022-04-12 21:15] mthrok opened #2332 "Support NVDEC in Streamer"
This issue is a tracker for enabling Nvidia NVDEC based decoding ("cuvid" codec variants) within Streamer API.

It will require a version of ffmpeg with NVDEC support, which is not distributable, so users will have to compile ffmpeg by themselves. It's outlined [here](https://docs.nvidia.com/video-technologies/video-codec-sdk/ffmpeg-with-nvidia-gpu/#compiling-ffmpeg).

## Minimum
- [x] #2327
Allow

[2022-04-13 03:09] chenjiasheng commented on #982
Any update fow now?

[2022-04-13 07:46] zylo117 commented on #2099
I found out this issue exists on mp3 and ogg too. This warning is so annoying, Can we remove it?

[2022-04-13 17:36] #2336 closed

[2022-04-14 19:15] Bomme opened #2338 "Memory leak when resampling audio of variable length"
### 🐛 Describe the bug

I discovered a memory leak in one of my datasets that I tracked down to resampling audio of varying length.
The following code is a minimal example to reproduce the issue and it will show a steadily increasing memory footprint.

The problem does not appear if all audios are the same length (see comment).

[code]

With the help of @trundle, we found that it might be related

[2022-04-15 22:15] carolineechen commented on #2323
Hi @underdogliu, thanks for the suggestion! We don't have objections against supporting pre-emphasis, but were wondering if you could elaborate a bit more on what you're referring to for the variants, and if there's any existing implementation/paper/references you can link regarding this?

[2022-04-18 20:44] mthrok opened #2340 "Store documentation archive in CI"
Currently, `build_docs` CI jobs uploads the built documentation as artifacts.
At the time of release, we need to update the documentation page manually from these artifacts.

CircleCI does not have a simple API to bulk download artifacts, so one needs to compose some API calls, which is tedious. We should simply add zipped documentation to CI artifact.

[2022-04-22 16:38] #2279 closed

[2022-04-23 07:10] underdogliu commented on #2323
Sorry for the late reply. Been bothered with many things in parallel.

So pre-emphasis is nothing but a time-domain FIR filter. By talking variants I mean there might be some other types of filter available in order to flatten the spectrum. But of course, we can just apply a minimal version.

One reference: https://mini.dcs.shef.ac.uk/wp-content/papercite-data/pdf/loweimi_nolisp13.pdf

[2022-04-27 20:53] carolineechen commented on #2323
@underdogliu got it, yea I think adding standard pre-emphasis to torchaudio transforms and functional (under filtering) could be a good starting point! Is this something you're interested in working on?

also quick question, would we need to add a corresponding de-emphasis function for this to be useful, or is that not necessary or already handled by torchaudio's `deemph_biquad` function?

[2022-04-28 02:51] filipmu commented on #2253
This looks like its still an issue in the docs for v0.11  .  It took a lot of debugging to find the culprit, which turned out to be torchaudio.load.  The docs state pretty clearly  and twice that it normalizes from [-1,1].

![image](https://user-images.githubusercontent.com/3823334/165666582-88fb7a5f-43cc-4f40-a948-cd2e599f4527.png)

[https://pytorch.org/audio/stable/backend.html](https://pytorch.

[2022-04-28 10:07] philgzl opened #2356 "Reading FLAC files from file-like objects is broken?"
### 🐛 Describe the bug

Calling `torchaudio.load` with a file-like object as argument to load FLAC-encoded files sometimes returns incomplete tensors. It seems to happen with non-trivial tensors after a certain length.

# Minimal sample code:
Below I conduct the following test: I write a given input tensor on the filesystem using `torchaudio.save` in FLAC format, and then load it with `torchaudio.

[2022-04-28 12:43] innarid opened #2357 "Library not loaded: libavdevice.58.dylib"
### 🐛 Describe the bug

I got an error while importing Streamer.
`from torchaudio.prototype.io import Streamer`
Torchaudio couldn't load ffmpeg library. But the files exists in `/usr/local/Cellar/ffmpeg@4/4.4.2/lib/libavdevice.58.dylib`
[code]

### Versions

PyTorch version: 1.12.0.dev20220427
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 11.6.4

[2022-04-28 13:03] nateanl commented on #2357
Hi @innarid, thanks for sharing the issue. It seems cmake didn't recognize the ffmpeg path when building torchaudio. Could you try to build torchaudio from source using:
[code]

[2022-04-28 14:31] mthrok commented on #2357
@nateanl That's build time discovery. The issue is about runtime discovery.

@innarid Is `/usr/local/Cellar/ffmpeg@4/4.4.2/lib/` set as library search path? Can you set `LD_LIBRARY_PATH=/usr/local/Cellar/ffmpeg@4/4.4.2/lib/:${LD_LIBRARY_PATH}` before starting Python, and see what happens?

[2022-04-28 14:36] innarid commented on #2357
Thak you! It helped

[2022-04-28 14:37] #2357 closed

[2022-04-29 12:02] underdogliu commented on #2323
Yeah if necessary I am happy to spend some time developing it while getting myself more familiar with how torchaudio works. Of course, such a first-order FIR filter at the time domain can be regarded as a special case (b_0=1, a_0=1, b_1=-alpha, other parameters are zero-valued) of the bi-quad function.

Speaking of that function, I also have a question that may be naive: when I was checking this f

[2022-04-29 12:59] faroit commented on #2323
@underdogliu a good start might be adopting https://github.com/csteinmetz1/auraloss/blob/main/auraloss/perceptual.py#L39

[2022-05-03 23:34] xvdp opened #2359 "Cache Resample kernel inside transform.PitchShift()"
### 🚀 The feature

Cache PitchShift Resample kernel to improve speed of this transform on second usage.

### Motivation, pitch

In porting some augmentation code from `librosa` to `torchaudio`, I noticed that `PitchShift()` and `Resample()` are slower than librosa in CPU.

In the case of `transforms.Resample()`, this changes on second run as the kernel is cached. But PitchShift does no such cachin

[2022-05-04 16:06] jeffxtang commented on #408
Thanks for your question. Yes it's confirmed. We're working on an update of the demos to simplify the iOS and Android code.

[2022-05-05 12:08] Ezraorich commented on #1220
where I can find the code for AudioFolder extension? I really need this for loading audio files as a dataset. thanks

[2022-05-05 13:51] rbracco opened #2363 "torchaudio.load() for file-like object fails for mp3 files"
### 🐛 Describe the bug

## Description

This error occurs when trying to read a file-like object that contains an MP3 audio. This error does not occur for file-like objects that contain WAV audio.

## Stack Trace
[code]

## Reproducible Snippets

**To reproduce with MP3:**
[code]

**To verify this is not an issue for WAV"**
[code]

## Relevant Documentation
These snippets copy exactly the [torchau

[2022-05-05 16:23] mthrok commented on #2359
Hi @xvdp

Thanks for the pitch. This is a good point and make sense. I think Alt.2 is somewhat better from maintaining perspective.

I will put this as help-wanted issue, as I do not have bandwidth to look into this right now. We welcome your contribution as well.

[2022-05-05 16:32] mthrok commented on #2338
Hi @Bomme

Sorry for the late response. This might be an issue with PyTorch core, but I will take a look into it. I have limited bandwidth right now, so feel free to ping/budge me for updates.

[2022-05-05 16:33] mthrok commented on #1220
See #1215

[2022-05-09 14:34] rbracco commented on #2363
Thank you!

[2022-05-09 21:37] xvdp commented on #2359
Thanks, I fixed it on my end but I have some unrelated issue on the install from source; So I cannot test it properly in its context, even if with a simple overriding the classes on _transform and functional it works. I presume you want a proper set of tests before doing pull request.

[2022-05-10 12:44] CaA23187 opened #2375 "dtype Error on torchaudio.transforms.MVDR"
### 🐛 Describe the bug

the return of torchaudio.transforms.MVDR.forward() should be _return specgram_enhanced.to(dtype)_ rather than _return specgram_enhanced_, which mght cause dtype inconsistency between input and output when the dtype of input specgram is complex64

### Versions

PyTorch version: 1.11.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/

[2022-05-10 13:02] nateanl commented on #2375
Hi @CaA23187, thanks for pointing it out. You are right, the [line](https://github.com/pytorch/audio/blob/main/torchaudio/transforms/_transforms.py#L2090) in the forward method should be `specgram_enhanced = specgram_enhanced.to(dtype)`. I will fix it now. Thanks!

[2022-05-12 07:24] nateanl commented on #2375
Hi @CaA23187, the dtype error is fixed in #2376. Feel free to create an issue when you meet other errors or have questions on the multi-channel modules, and thanks for helping improve the usability of torchaudio.

[2022-05-12 07:24] #2375 closed

[2022-05-18 04:46] 980202006 commented on #2234
![image](https://user-images.githubusercontent.com/24452502/168949513-ce5bea8d-420b-4fc8-93de-6477cb11366d.png)
I had the same problem. The same package version I compared different environments.I reinstall pathlib: pip install pathlib. Temporarily solved the problem.

[2022-05-18 12:54] NiziL commented on #982
@chenjiasheng There is actually some good news around : [pytorch/pytorch#65666](https://github.com/pytorch/pytorch/issues/65666) and [onnx/onnx#3741](https://github.com/onnx/onnx/pull/3741)

[2022-05-19 17:17] husenzhang commented on #2145
Hi @hwangjeff - do you have an quick pointer on using pre-trained pipeline with torchserve?

[2022-05-19 18:41] codeislife99 commented on #2295
Can this change be backported to v0.11.0 release as well ? If we want to keep the same version we can just make the following change. All of their URLS seem to be in /fossils now.
[code]

[2022-05-19 18:42] codeislife99 opened #2405 "v0.11.0 Source build failing because of zlib URL"
Can the URL change from this PR be backported to v0.11.0 release as well ? If we want to keep the same version we can just make the following change. All of their URLS seem to be in /fossils now.
[code]

_Originally posted by @codeislife99 in https://github.com/pytorch/audio/issues/2295#issuecomment-1132069288_

[2022-05-19 19:48] mthrok commented on #2405
Hi @codeislife99

Thanks for the comment. How are you fetching the source code?
I have pushed the change to [`release/0.11` branch](https://github.com/pytorch/audio/commits/release/0.11), but I was told that PyTorch won't have minor release for 0.11, so the change is not pushed out.

If you can simply checkout `release/0.11` branch when you build it, that will work.

[2022-05-19 20:47] codeislife99 commented on #2405
Hi I am using the `v0.11.0` tag

[2022-05-19 20:55] mthrok commented on #2405
From `git` or tarball? If you are using `git` to get the revision of the tag, then simply changing it to `git checkout release/0.11` should work.

[2022-05-24 07:57] averkij commented on #982
PR is finally merged. https://github.com/onnx/onnx/pull/3741

[2022-05-27 00:50] jyn282 commented on #2099
@zylo117  I'm so annoyed by that warning, too.  Do you find a way to turn off that warning?

[2022-05-27 01:42] xvdp opened #2414 "Resample kernel creation uses loops..."
### 🐛 Describe the bug

`torchaudio\functional\functionalpy def _get_sinc_resample_kernel()` is slower than it should be because it uses loops instead to taking advantange of torch broadcasing. A simple rewrite will make these 9x faster.

There are other issues with resampling kernels that still cause incredible slowness if the gcd of the sample rates does not reduce them. This comment does not ad

[2022-05-27 09:22] nateanl commented on #2414
hi @xvdp, thanks for sharing. The improvement looks good to me. regarding the in-place operation, @mthrok do you think grad is a potential issue? I didn't find gradient check for ``resample``.

[2022-05-27 17:46] xvdp commented on #2414
@nateanl I did do an PR but didnt add any tests. a. I figured that any existing checks would cover this. b. locally i compared both versions of the resample to ensure that under various dtype, device and from to sampling rates torch.allclose().
Im not sure how to add those tests here.
One difference between the sketch code up there is that in the PR i dindt set torch.no_grad(), because that seems

[2022-05-29 18:47] mthrok opened #2420 "Update config.guess and config.sub"
Towards the upcoming release, we should update config.guess and config.sub. @hwangjeff

[2022-05-30 14:01] SergeantChris commented on #2104
Why is the normalization performed with the `window` (e.g. `torch.hann_window` in the default) instead of the `waveform`?
The normalization currently implemented is actually exactly the same regardless of the input signal.

Shouldn't it be `spec_f /= waveform.pow(2.0).sum().sqrt()` as we want to take into account the energy of the signal and not the window function?

[2022-05-31 11:20] dykim3 opened #2424 "I get the illegal cuda error"
### 🚀 The feature

I was training enformer with my own dataset, cuda error occured

[code]
I've added some argument to change model configs..

[code]

### Motivation, pitch

.

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-01 16:14] mthrok commented on #2414
Autograd should be fine as long as the existing tests pass.
I agree with what @xvdp described about kernel being not differentiable.

[2022-06-01 19:46] mthrok opened #2432 "MacOS build issue with OpenMP"
Since around May 12th, the macOS build process stopped working on CI.

https://hud.pytorch.org/pytorch/audio/commit/f5036c7182f43e06ddf12f2b327cafaecf5763cf

Note that the couple of commits made before the issue started were Python changes, so it's unlikely that these commits broke the build process.

The cause is CMake not being able to find OpenMP. This has been working for quite a while.

In #2

[2022-06-02 10:33] RuABraun opened #2433 "Loading audiofiles with offset is broken since 0.10"
### 🚀 The feature

## Describe

Had to downgrade to 0.9 so that it would work. Tried nightly and 0.10
[code]
## Versions

[code]
(as mentioned previously working version had torchaudio>=0.10)

### Motivation, pitch

.

### Alternatives

_No response_

### Additional context

I could not create a bug report so I had to create a feature request. You probably want to fix that too.

[2022-06-02 19:48] adefossez commented on #2414
Thanks for the improvements :) Regarding grad computation I personally sur resampling on neural network outputs and in that case you must backpropagate the gradient to the network.
For the issue with slowness when the gcd is large I don't see a fix using this algorithm. The resampy one is much better in that case, but also harder to parallelize.

[2022-06-03 01:41] xvdp commented on #2414
@adefossez  larger kernels are an issue if you need exact resampling, but if you want to randomize it then one doesnt need the exact gdc... , Theres more than one way to compute an approx GCD with kernels < some reasonable max. For example

[code]
Transforms like pitch shift - or others - may require resampling, are not transparent to kernel size and do not always require exact shift. If you step

[2022-06-03 02:06] xvdp commented on #2414
Also, sure, i understand that the version using arrays instead of a loop to create the kernel is NOT the solution for creation of lots of huge kernels. But it is 9x faster than whats in torchaudio now. Broadcasting is the bulk of the speed improvement, not the inplace operations.

[2022-06-03 02:22] spyroot commented on #1902
Hi, @nateanl did you port nnls method?

[2022-06-03 17:06] mthrok commented on #2433
Hi @RuABraun

Thanks for the report, can you tell me the sample rate and the duration of your audio file?

[2022-06-03 17:09] mthrok commented on #2424
Hi @dykim3

What happens if you train the model without your modification?

[2022-06-03 17:44] mthrok commented on #2433
It works fine on my env. What seems to be peculiar to me is the fact that it is generating the effect command of `trim 10,351,280s +67,232s`, where it is supposed to generate `trim 10351280s +67232s`.

The corresponding code is here

https://github.com/pytorch/audio/blob/f0bc00c980012badea8db011f84a0e9ef33ba6c1/torchaudio/csrc/sox/io.cpp#L49-L61

which has not been changed since v0.8.

I don't hav

[2022-06-03 17:50] mthrok commented on #2433
What is your `LC_ALL` env value? What happens if it's set to `LC_ALL=C`?

[2022-06-03 19:06] RuABraun commented on #2433
Hi!
Some additional info
[code]
`LC_ALL` was unset, same result if I set it to `C`.

Interesting point about the commas. I'm not aware of anything done to iostream..

[2022-06-03 19:27] nateanl commented on #1902
Hi @spyroot , not yet. I'll work on it after the 0.12 release. Stay tuned!

[2022-06-03 21:22] thisiskofi opened #2442 "Scripting compatibility for torchaudio.compliance.kaldi.fbank"
Hi, I'm seeing some issues when I try to include `torchaudio.compliance.kaldi.fbank` preprocessing in my torchscript model:
[code]

Fixing this issue by substituting the value reveals still more issues in the scripting process. Is scripting possible with this function?

[2022-06-05 03:18] kwand opened #2445 "Build failure: audio/torchaudio/csrc/decoder/src/decoder/Utils.h:23:40: error: ‘numeric_limits’ is not a member of ‘std’"
### 🐛 Describe the bug

I encountered the following build error after cloning the master branch and attempting to build/install it using `CC=gcc-11 CXX=g++-11 python setup.py install --user`

[code]

It seems the problem is a missing `#include <limits>` import in the `Utils.h` file? I added this in and then I was able to build successfully.

### Versions

(This was collected after a successful bui

[2022-06-05 16:26] mthrok commented on #2445
Hi @kwand

Thanks for the report. [This](https://stackoverflow.com/a/4798972) might be the cause.

@carolineechen Can we add this line? It seems hurmless fix.

[2022-06-05 18:37] xvdp commented on #2414
@adefossez  you do have a point, quality does matter, but both audio resampling and shifting pitch degrade in quality quite quickly with range, I will look at float64 but I dont know if it has any effect there, it seemed to me that the result gets quantized anyway.
But on a wider context, other than band-limited interpolation, low pass filtering, do they do at the various mastering softwares?  e.g

[2022-06-06 07:06] spyroot commented on #1902
Ratio of relative diff smaller than 1.000000e-01 is 7.614522473886609e-05
Ratio of relative diff smaller than 1.000000e-03 is 0.0
Ratio of relative diff smaller than 1.000000e-05 is 0.0
Ratio of relative diff smaller than 1.000000e-10 is 0.0
Ratio of relative diff padded than 1.000000e-01 is 7.145936251617968e-05
Ratio of relative diff padded than 1.000000e-03 is 0.0
Ratio of relative diff padded

[2022-06-06 14:03] nateanl commented on #1902
Hi @spyroot, do you mean you already implemented the nnls method? Would you like to open a pull request for it? We can help review after the PR is created. Thanks!

[2022-06-06 17:10] mthrok commented on #2442
Hi @thisiskofi

Thanks for the report, `torchaudio.compliance.kaldi` is from pre-TorchScript era, so they do not support TorchScript. I am working to add a new version of Kaldi features. I'll post update when it's ready.

[2022-06-06 17:11] spyroot commented on #1902
Yes, I used LBFGS and tested on GPU crazy fast and superb abs error with the original source. I'll do a pull request next week. But I had two fixes for two bugs in LBFGS, which I need to commit together.

I have one question about the current implementation. Torch does backward pass in InverseMelScale.
So if you do that in the training loop, it is a second backward pass.

So how is it intended to

[2022-06-06 22:16] jacobkahn commented on #2445
Fixed upstream as well in https://github.com/flashlight/text/pull/5 — thanks for reporting, @kwand.

[2022-06-07 00:29] hwangjeff opened #2453 "[v0.12] Release Tracker"
We've cut a [release branch](https://github.com/pytorch/audio/tree/release/0.12) for the 0.12 release.

This issue is for tracking cherry-picks to the release branch.

[2022-06-07 16:01] #2445 closed

[2022-06-08 01:44] dykim3 commented on #2424
oh, I didn't trained the model with English. but I've figured out why the illegal cuda error happened. It was because of the cuda oom. I made spm with 32000 vocab in Korean. so it was to big for my gpus..

[2022-06-08 01:44] #2424 closed

[2022-06-08 09:27] underdogliu opened #2465 "About the source code of"
### 📚 The doc issue

I am actually trying to find the source implementation of a very simple function - cosine similarity, due to some concerns from its computation scheme.

However, when I was looking at [the website](https://pytorch.org/docs/stable/generated/torch.nn.functional.cosine_similarity.html), I cannot locate the source code. I also failed to find the function from the original GitHub r

[2022-06-08 11:00] mthrok commented on #2465
Hi @underdogliu

Many PyTorch functions are implemented in C++ and bound to Python functions in somewhat elaborated manner.
In the case of `cosine_similarity`, [searching it on `pytorch/pytorch` repo](https://github.com/pytorch/pytorch/search?l=C%2B%2B&q=cosine_similarity) led me to the following.

https://github.com/pytorch/pytorch/blob/9e137ee583c4fdb2dd3aa0c425dc9c289454cbf2/aten/src/ATen/nativ

[2022-06-09 18:41] xvdp opened #2469 "large resampling kernels slow ALSO on the forward pass"
### 🐛 Describe the bug

-- i understand i still have to respond to my PR on kernel creation speed (sorry about that!) - but I found another problem when trying to convolve 96kHz 2 sec long room impulse responses into an audio track, which probably extends to resampling: nn.functional.conv1d() crawls to a halt when using large kernels. I posted the bug in pytorch github. https://github.com/pytorch/

[2022-06-10 07:02] Aztorius opened #2470 "PyInstaller and torchaudio leads to RuntimeError on Windows"
### 🐛 Describe the bug

When running this sample on Windows :
[code]
It doesn't work on Windows after PyInstaller.
The error is :
[code]
Maybe PyInstaller execute the torchaudio decorator `@_mod_utils.requires_sox()`.
This obviously causes a crash on Windows because of the missing sox backend.

Before using PyInstaller (by running the .py file directly) it works without any issue.

### Versions

C

[2022-06-10 17:05] mthrok commented on #2470
Hi @Aztorius

I have never used PyInstaller, but I think it's related to the fact that C++ libraries is not packaged properly.

I think you need something similar to https://stackoverflow.com/a/47528057
Checkout `torchaudio/lib` directory of your installation (not source). You should see C++ library files there.
The combination of the files found there differs from distributions from distributions

[2022-06-13 00:48] spyroot commented on #1902
@nateanl thank you very much.   The reason I asked about the second case.   Imagine we are working in none GAN settings.
if you call a backward inside a loss function, that brake things a bit.

imagine a training pass. (pseudocodish)
   for batch in batches:
       loss=compute_lose(x) -> if compute_lose does inverse and it has backward()
       self.scaler.scale(loss).backward()
       self.scale

[2022-06-13 08:06] Aztorius commented on #2470
I'm running some tests. The folder `tochaudio/lib` is empty in my installation folder (pip site-packages).
I just found those warnings when running pyinstaller :
[code]
Those dlls are inside `torch/lib` folder. I'm trying to include them with hooks with no success so far.

[2022-06-13 13:51] nateanl commented on #1902
@spyroot I see. So in your implementation, `dts_inverse` doesn't require gradient optimization. This helps solve the issue that `InverseMelScale` can't work in inference mode.

Regarding the usage in training, although we don't intend to optimize the `InverseMelScale`, the differentiability of the module is important. Take speech enhancement task as an example, some methods optimize the model base

[2022-06-14 02:20] #2253 closed

[2022-06-14 06:12] Aztorius commented on #2470
Ok, so let me recap.
In my pip installed torchaudio package :
- I have both `torchaudio/lib/libtorchaudio.pyd` and `torchaudio/_torchaudio.pyd`
- I also have a lot of files and folders inside (backend, compliance, datasets, sox_effects, ...)

After using pyinstaller :
- I only have the file `torchaudio/_torchaudio.pyd`

I suppose that I am missing the torchaudio/lib/libtorchaudio.pyd. I will try t

[2022-06-14 06:15] Aztorius commented on #2470
Ok, just tried to manually copy the missing `lib/libtorchaudio.pyd` and now it is working.

[2022-06-14 06:24] Aztorius commented on #2470
One working solution is to add `torchaudio.lib.libtorchaudio` as a hidden import to pyinstaller.
It should be possible to include this in the torchaudio package for future pyinstaller users.

[2022-06-14 17:00] Dabuk commented on #2453
is there a bfloat16 support for rnntloss in this update ?

[2022-06-14 17:12] mthrok commented on #2453
Hi @Dabuk

Unfortunately no. Can you perhaps file a feature request?

[2022-06-14 17:13] mthrok commented on #2470
Grad that it helps.

[2022-06-14 17:13] #2470 closed

[2022-06-14 17:52] BriansIDP opened #2483 "Proposal for the integration of Tree-constrained Pointer Generator and Minimum Biasing Word Error (MBWE) training for contextual ASR"
### 🚀 The feature

I’d like to propose the integration of tree-constrained pointer generator (TCPGen) [1] and Minimum Biasing Word Error (MBWE) training [2] for contextual biasing into torchaudio package.

The implementation of TCPGen consists of 2 parts. The first part organises the biasing list and constructs a wordpiece-level prefix tree. The second part performs the prefix-tree search and calc

[2022-06-14 19:53] #2359 closed

[2022-06-15 01:21] #2420 closed

[2022-06-17 03:28] dykim3 opened #2499 "Emformer pretrain"
### 🚀 The feature

Is there any seperated pretraining process in Emformer implementation?
the time, frequency masking is seen in training. so can I assume there aren't any pretraining step in acoustic model?

### Motivation, pitch

^^

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-17 07:15] maxwellzh commented on #1240
Is there a plan to support the packed layout logits of RNNT loss?

Ref: Sec 3.1 https://arxiv.org/abs/1909.12415

[2022-06-17 16:54] shchhan123456 opened #2500 "Initial condition support for torchaudio.functional.lfilter"
### 🚀 The feature

scipy.signal.lfilter supports an initial condition zi. This is critical for dealing with streaming inputs where we get one sample at a time. This feature is currently missing in torchaudio.functional.lfilter.

### Motivation, pitch

Without support for initial condition, I had to maintain a large sliding window of signals and apply the filter on this entire window every time I g

[2022-06-20 03:33] yoyololicon commented on #2500
Hi, @shchhan123456. I found some difficulties to make this feature.
`scipy.signal.lfilter` uses a [direct form II transposed ](https://ccrma.stanford.edu/~jos/fp/Transposed_Direct_Forms.html)implementation, so the initial condition `zi` is simply a vector. In contrast, torchaudio uses [direct form I](https://ccrma.stanford.edu/~jos/fp/Direct_Form_I.html), so if it needs initial conditions it would

[2022-06-21 23:45] Kash2610 opened #2503 "PSD, MVDR are not found in torchaudio transforms/functional"
### 📚 The doc issue

I tried accessing the multichannel transforms from torch audio but couldn't load them. Any updates?

### Suggest a potential alternative/fix

_No response_

[2022-06-22 00:44] nateanl commented on #2503
Hi @Kash2610, `PSD` and `MVDR` modules are under `torchaudio.transforms`. You can use them by initializing the module. For example:
[code]
Could you print the versions of your PyTorch and torchaudio libraries? You can fetch them by
[code]
Thanks.

[2022-06-22 04:34] harishsdev commented on #1920
@mthrok  can you please eloborate how to approch to resolve above issues

[2022-06-22 04:40] harishsdev commented on #1920
from german how they taken
 (VOXPOPULI_ASR_BASE_10K_DE, 'de', "dabei|spielt|auch|eine|sorgfältige|berichterstattung|eine|wichtige|rolle"),

[2022-06-22 19:28] shchhan123456 commented on #2500
@yoyololicon , thanks for your reply! I don't fully understand why zi would be different from scipy implementation. Although my overall request is the support for streaming functionality. I'd be really glad if this can be supported.

[2022-06-23 17:37] xiaohui-zhang commented on #2499
Hi @dykim3 , No. the model was trained from scratch on transcribed data.
the time and frequency masking is data augmentation techniques. It's not relevant to pre-training.

[2022-06-23 17:37] #2499 closed

[2022-06-23 21:24] Kash2610 commented on #2503
Hi @nateanl thank you for your reply. So I have touchaudio 0.9.0 and torch 1.9.0+cuda11. I tried to get PSD from torch audio but the same error. the module has no attribute "PSD".  I even printed out all the attributes or functions for torchaudio functional but I could not see PSD or MVDR in the list.  Thanks for the script to get the versions.

[2022-06-23 23:08] nateanl commented on #2503
I see. It is expected since ``PSD`` and ``MVDR`` modules are added in [torchaudio 0.10](https://github.com/pytorch/audio/blob/release/0.10/torchaudio/transforms.py#L1606), thus you can't find it in [torchaudio 0.9.0](https://github.com/pytorch/audio/blob/release/0.9/torchaudio/transforms.py).

I recommend using the latest version of torchaudio. In the coming 0.12 release we have new beamforming mo

[2022-06-23 23:22] Kash2610 commented on #2503
Thanks. I will update it then. I did install it through pip3 but guess it did not install the latest one.

[2022-06-24 01:10] #2503 closed

[2022-06-24 04:37] Letmebelegend commented on #62
I've same problem and couldn't find solution how to. I just changed kernel virenv from python 3.7 to python 3.6 then magically error's gone.

[2022-06-24 06:47] stonelazy commented on #982
These signal processing operators (STFT/FFT/IFFT) are supported in opset 17.
I was trying to export the torch module to ONNX, but I was thrown an error. Does torch need to support this even after [MR is being merged](https://github.com/onnx/onnx/pull/3741) in ONNX  ?

[code]

[code]

[2022-06-24 07:07] averkij commented on #982
Operators are supported in opset 17. But **opset 17** itself is not supported by **PyTorch** yet.

[2022-06-24 07:23] stonelazy commented on #982
Thanks for the quick help, if possible could you actually show the direction on how I can actually test the working of these operators standalone (without torch) ? Am jst trying to ensure the output of `torch.fft` is the same as the one from `onnx`

[2022-06-25 05:26] alireza-hariri commented on #62
using -U option simply solved problem for me
`pip install -U torch torchaudio --no-cache-dir`

[2022-06-28 09:52] dykim3 opened #2514 "Emformer pipeline demo results."
### 🚀 The feature

Hi. I'm testing Emformer model with pipeline_demo.py after 15 epoch.

after that, I got a few questions..

1. Why do you set memory to zero in default? The implement code doesn't use memory bank in training. I've thought it is helping the chunk to remember past utterances.
2. What is the boundary effect? the original paper says left context, right context is concatenated with ce

[2022-06-29 06:38] thanhtvt commented on #2514
About your first question, I think it is already being stated in the [paper](https://arxiv.org/pdf/2010.10759.pdf) (section **3.1.1**)

[2022-06-29 14:53] divideconcept opened #2517 "torchaudio 0.12 arm cannot be installed (dependency on pytorch 1.13)"
### 🐛 Describe the bug

Installing torchaudio on a M1 mac using conda (recommended install instructions from pytorch.org) fails because torchaudio wrongly depends on pytorch 1.13 instead of pytorch 1.12.

to repro:
[code]

output:
[code]

Looking inside https://anaconda.org/pytorch/torchaudio/0.12.0/download/osx-arm64/torchaudio-0.12.0-py39_cpu.tar.bz2
info/index.json contains the following string

[2022-06-29 15:03] malfet commented on #2517
Ok, https://anaconda.org/pytorch/torchaudio/files?version=0.12.0 indeed have an incorrect dependency for M1 :(

[2022-06-29 20:04] divideconcept commented on #2517
I confirm pytorch+torchvision+torchaudio now install fine on a M1 arm environment :)

[2022-06-29 20:32] #2517 closed

[2022-06-29 20:49] atalman opened #2522 "Cleanup conda channel flags, make sure we can switch easily between pytorch-nightly, pytorch-test and pytorch"
### 🐛 Describe the bug

Cleanup conda channel flags, make sure we can switch easily between pytorch-nightly, pytorch-test and pytorch

we have following logic in torchaudio and torchtext:

https://github.com/pytorch/audio/blob/main/packaging/pkg_helpers.bash#L210

There are multiple places where CONDA_CHANNEL_FLAGS are set.
We need to cleanup this code, make sure we only use one channel: pytorch-n

[2022-06-30 07:03] sciai-ai opened #2523 "inference using wav2letter AM"
Hi, I saw that the latest release supports decoding using wav2letter but using wav2vec2 which is great. I have an acoustic model (AM) trained using wav2letter (flashlight), is it possible to do inference using w2l AM (model.bin) as well in pytorch?

[2022-06-30 18:18] iceychris opened #2524 "`torchaudio.info(file).num_frames` seems to be broken for mp3 files"
### 🐛 Describe the bug

First, download a `wav` and a `mp3` file:

[code]

Here is a short repro:

[code]

Running this results in:

[code]

Maybe this is a bug introduced with the recent switch to ffmpeg for mp3 handling.

### Versions

[code]

`ffmpeg -version`

[code]

[2022-06-30 18:32] mthrok commented on #2524
Hi @iceychris

Unfortunately this is how it is starting 0.12.

We swapped the mp3 decoder. In my understanding MP3 container does not contain this information in header and originally, libsox was reporting the number of frames by parsing the entire file, but libavformat does not perform this and reports 0. The `ffmpeg` command does extra step to estimate the duration of the input audio but not the

[2022-07-01 00:48] jacobkahn commented on #2523
@sciai-ai — unfortunately, the flashlight/wav2letter model format differs from PyTorch. Writing converters for these is not particularly difficult for many types of models, but there can sometimes be subtle differences in how computations are implemented. Waning PyTorch support for ONNX has made this tougher. While we may eventually have the ability to interoperate, this won't be for some time.

T

[2022-07-02 13:51] talhaanwarch opened #2525 "OSError: libtorch_hip.so: cannot open shared object file: No such file or directory"
### 🐛 Describe the bug

I am unable to import torchaudio.

I created a new virtual environment, install torch using following command
`pip install torch==1.10.0+cu111 torchvision==0.11.0+cu111 torchaudio==0.10.0 -f https://download.pytorch.org/whl/torch_stable.html`
But when i import torchaudio I got following error
[code]

### Versions

System: Ubuntu 20.04 focal
Python: 3.8.10

[2022-07-03 11:05] JonathanSum opened #2526 "Need more detail and tutorial on how to use the language model to decrease the word rate error."
### 📚 The doc issue

1. How do we build our own language model and add it to the language model, such as wav2vec2? However many of the solutions from the doc require using another library.

2. If 1 requires training the language model again, then It looks like we can use our own text file for the language model to form a bean search
![image](https://user-images.githubusercontent.com/21982975/17703

[2022-07-05 18:46] carolineechen commented on #2526
Hi @JonathanSum, thanks for the question.

For beam search decoding, the language model is trained externally and plays a part in the decoder scoring function, affecting the WER. We currently only support n-gram language models, which you can train from scratch using [KenLM](https://github.com/kpu/kenlm). We plan to provide support for neural network LMs and build-your-own LMs in a future release.

[2022-07-06 21:13] carolineechen commented on #2525
Hi @talhaanwarch, can you try adding the cuda version to torchaudio as well?

`pip install torch==1.10.0+cu111 torchvision==0.11.0+cu111 torchaudio==0.10.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html`

[2022-07-06 22:29] pzelasko commented on #2524
I just ran into the same issue when testing lhotse against the latest PyTorch in https://github.com/lhotse-speech/lhotse/pull/764. I don't mind handling MP3 with StreamReader as a special case. Would the duration info you mentioned be more reliable than ffmpeg estimation? And if yes, could you show an example how to fetch it?

[2022-07-07 07:20] sciai-ai commented on #2523
@jacobkahn I am using the **RASR** model. I want to be able to do inference without having the need to keep loading the model in memory for each inference request.

1. Is there anyway to do this natively in flashlight as the current binary will always load the model first.

2. I was hoping if there is a PyTorch version of RASR, i can do torch.load(model) once

[2022-07-07 08:09] faroit commented on #2524
being devils advocate for mp3: this was always an issue with mp3 encoders and they provide different paddings thus it is still a bit luck that the decoder is able to remove the padding completely. IMO its better to prepare the users with a documation hint

[2022-07-07 19:18] wolfviking0 opened #2532 "libtorchaudio.so: undefined symbol: _ZNK5torch8autograd4Node4nameEv"
### 🐛 Describe the bug

Hi, I am facing an issue with torch audio, I am recently update my linux machine to use a more recent version of cuda.

I am currently using ubuntu 20.04.4 with cuda driver 510 (11.6) and cuda toolkit 11.6.
I am building my own version of torch / torch vision / torch audio for python 3.8

When testing torch audio always failed loading with this error :
[code]

### Versions

[2022-07-07 19:34] mthrok commented on #2532
Hi @wolfviking0

If the build finished without any issue, then the error you are encountering suggests that the PyTorch you are using (linking at runtime) is different from the one you used for building. Perhaps you have the previous installation of torchaudio left in your environment?

[2022-07-07 20:03] wolfviking0 commented on #2532
@mthrok you right it's a good point but I uninstall all the python library related to torch, that what I think :)
But let me try to do a build from a docker container so I am sure I have nothing installed on it.

[2022-07-07 23:01] hwangjeff commented on #2514
Hi @dykim3 — sorry for the late reply, and thanks for the questions.

1. @thanhtvt is exactly right — this particular model configuration is meant to optimize for low-latency operation, and so the memory length is set to 0.
2. The boundary effect refers to the impact of having sharp data cutoffs at the left and right boundaries of the input segment (center context), which is remedied by including

[2022-07-07 23:36] #2145 closed

[2022-07-08 00:11] wolfviking0 commented on #2532
Unfortunately, after really cleaning everything and also trying to build from docker image I have the exact same issue :(

[2022-07-08 10:44] nicemanis commented on #2363
I'm having trouble loading mp3 even when specifying the format:
[code]

[2022-07-08 11:30] rbracco commented on #2363
My first question would be, where did "test.mp3" come from, how certain are
you it's a properly formatted MP3, and can you share it for testing?

On Fri, Jul 8, 2022 at 6:44 AM Dāvis Nicmanis ***@***.***>
wrote:

[2022-07-08 14:31] nicemanis commented on #2363
It's just a random mp3 file, I tested various files to verify that it's not the issue with the file.

[2022-07-08 15:03] mthrok commented on #2363
Starting 0.12, the MP3 decoder is switched to libavcodec. The error indicates that there is no installation of FFmpeg 4. Please install ffmpeg 4. `conda install 'ffmpeg<5'` should do in most cases.

[2022-07-08 15:18] mthrok commented on #2532
Would you be able to share the portion of Dockerfile?

[2022-07-09 02:54] #2453 closed

[2022-07-09 02:55] #2514 closed

[2022-07-09 09:24] nicemanis commented on #2363
Thank you, this solved the issue

[2022-07-09 23:59] lukasschmit commented on #2524
would it be possible if the input is an mp3 to have `torchaudio.info` internally call `torchaudio.load` the file to get its metadata?

[2022-07-10 10:53] greaber opened #2536 "Are the nightly conda builds broken?"
[code]

Tested just now on OSX

[2022-07-10 11:53] CaA23187 opened #2537 "Can torch.linalg.eig() be replaced with torch.linalg.eigh() in _get_steering_vector_evd() in MVDR"
As psd_n and psd_s are Hermitian and symmetric matrices, can torch.linalg.eig() be replaced with torch.linalg.eigh() in _get_steering_vector_evd() for  faster computes the eigenvalue decomposition?

[2022-07-10 11:53] CaA23187 opened #2538 "Can torch.linalg.eig() be replaced with torch.linalg.eigh() in _get_steering_vector_evd() in MVDR?"
As psd_n and psd_s are Hermitian and symmetric matrices, can torch.linalg.eig() be replaced with torch.linalg.eigh() in _get_steering_vector_evd() for  faster computes the eigenvalue decomposition?

[2022-07-10 11:54] #2538 closed

[2022-07-10 12:00] CaA23187 commented on #2537
Sorry, my torchaudio's version is 0.11.0, and I found it has been replaced in 0.12.0

[2022-07-10 12:00] #2537 closed

[2022-07-10 13:43] nateanl commented on #2538
Hi @CaA23187, exactly. In the 0.12 release, the RTF (or steering vector) is computed by `torch.linalg.eigh`. See the `rtf_evd` method in https://github.com/pytorch/audio/blob/main/torchaudio/functional/functional.py#L2061
[code]

[2022-07-10 19:12] ZurabDz commented on #2524
I think there should be some warning as well. I mean general use of torchaudio in my case is to grab audio lengths, num frames or/and sample rate fast, loading will definitely slow it down

[2022-07-11 15:38] leo19941227 opened #2539 "Metadata mode for torchaudio.dataset"
### 🚀 The feature

Hello,

Thanks for the handy tools for parsing the database!
I am wondering if it is possible to let the torchaudio.dataset classes have two modes:

1. Return the actual waveform
2. Return the waveform path

Others metadata like transcriptions and speaker labels can just remain the same.

### Motivation, pitch

Since usually we would like to organize a corpus into some standardi

[2022-07-11 16:41] mthrok commented on #2539
I think the proposal makes sense. Decoupling dataset traversal and audio decoding makes it flexible.

For the second part, I think that the most flexible approach is to have explicit table representation of dataset internally, and apply operations like "drop rows that do not meet this criteria" and "split the dataset into batches with similar length" on it. I get the feeling that this will also gi

[2022-07-11 17:05] leo19941227 commented on #2539
Cool!

[2022-07-12 06:45] hwangjeff commented on #2536
Hi @greaber — are you still seeing this? I tried this just now on OS X and it worked fine.

[2022-07-12 07:43] stonelazy commented on #1149
Now batching is supported using [torch.linalg.lstsq](https://pytorch.org/docs/stable/generated/torch.linalg.lstsq.html) FYI.

[2022-07-12 10:45] greaber commented on #2536
Yeah, I just tried with a fresh conda env and python 3.9, and I get the same error

[2022-07-12 10:47] greaber commented on #2536
Are you using an M1 mac?  Possibly it could be related to this

[2022-07-12 12:22] stonelazy opened #2541 "Inverse Mel-transform - Not getting original audio back"
### 🐛 Describe the bug

Trying to compute Mel-spectrogram for audio signal and do inverse operation on this output to ensure we are getting the original audio back.
`assert orig_audio == inverse_mel_spectrogram(mel_spectrogram(orig_audio))`  #Not an actual code, just for understanding.

I use standard torch's [STFT](https://pytorch.org/docs/stable/generated/torch.stft.html) and [mel-scale](https:/

[2022-07-12 14:15] stonelazy commented on #1902
Just wanted to know whether this is implemented by any chance.

[2022-07-12 16:10] taylorchu commented on #2526
@carolineechen do you know why it does not use ngram where n >= 2 in kenlm? it seems to only use unigrams in kenlm.

thanks!

[2022-07-13 05:45] stonelazy commented on #2541
Whoops ! Ok. Thanks for your quick revert on this.
Just wanted to know whether is there any alternative to this ? Is it possible that I can leverage and use the original phase of the signal (that i already have) to do this inverse mel-operation quicker using any of the existing Torch API's ?

[2022-07-13 10:18] eagomez2 opened #2545 "LFCC and MFCC for frame by frame processing"
### 📚 The doc issue

Both ``LFCC`` and ``MFCC`` documentation mention the following:

Both features need internally to compute the ``Spectrogram`` which has a ``normalized`` argument, although as of now it defaults to ``False`` and therefore, to my understanding there should be no other sources of dependence on the maximum value in the input spectrogram. Additionally, I think if ``center=True`` it

[2022-07-13 18:02] nateanl commented on #2545
Hi @eagomez2, I checked your code and try to find which line introduces the 1e-5 to 1e-7 error. In [torchaudio.transforms.LFCC](https://github.com/pytorch/audio/blob/main/torchaudio/transforms/_transforms.py#L797), the value difference between full audio solution and frame by frame solution is much less than 1e-7 until this line:
[code]
I think the 1e-5 to 1e-7 error is expected as the dtype is `t

[2022-07-13 19:20] nateanl commented on #2545
Yes, this can be verified by a simple script.
[code]
You can see although `specgram` and `specgram[0:1]` has the same maximum value, there are still errors that are larger than 1e-7 in the outputs. We can make sure the root cause is not from the max value of spectrogram, but rather from the matrix multiplication vs vector multiplication.

[2022-07-13 19:22] eagomez2 commented on #2545
Thanks a lot @nateanl,

Then it's all clear now.

[2022-07-13 19:22] #2545 closed

[2022-07-13 21:21] mthrok commented on #2536
It seems that it is related to macOS version. The recent necessary migration on CircleCI silently bumped the minimum supported version to macOS 11. We need to fix this.

[2022-07-14 18:48] JonathanSum commented on #2526
@[carolineechen](https://github.com/carolineechen)

I didn't mean lexicon file for replacing the language model. I was saying if it consists of the possible word, can we add the additional possible word without training it again?

In addition, I hope we will have a tutorial on how to link the CTC model to Pytorch language model(n-gram or others).
For the Hubert model, it was in Pytorch lighting. I

[2022-07-15 01:37] stonelazy commented on #2541
@nateanl Incase you have any pointers pls leave a comment, am closing this issue now.

[2022-07-15 01:37] #2541 closed

[2022-07-16 12:48] greaber commented on #2536
The minimum macOS version might be an issue for some people, but I don't think it is what I am seeing since I am on 12.4

[2022-07-18 16:41] carolineechen commented on #2526
@JonathanSum TorchAudio unfortunately does not support n-gram language model training, so if you want to use one, you can train one using KenLM. KenLM will output an arpa or binary file that you can then pass in to the TorchAudio decoder to decode with a language model. The lexicon file should contain the same set of words that the LM is trained on, otherwise if you add a word to the lexicon file

[2022-07-18 21:18] h-vetinari commented on #1269
Hey all

I've been trying to [package](https://github.com/conda-forge/staged-recipes/pull/17082) torchaudio for conda-forge, and one of the first things I wanted to do (based on how conda-forge does things) is reuse our own kaldi - which we have built such that we can change the BLAS implementation, in particular it should be compatible with MKL.

The problem I have is that I don't know how to pat

[2022-07-18 22:54] h-vetinari commented on #1269
Thanks for the quick response!

The libsox integration is easier, because I just needed
[code]

whereas for kaldi, it looks to me like I cannot replace https://github.com/pytorch/audio/tree/main/third_party/kaldi/src/matrix with vanilla kaldi, due to the extra pytorch integration happening there.

I'm happy to open an issue, but first I'd need to understand better what needs to be done. From what

[2022-07-18 23:13] mthrok commented on #1269
Actually, this approach incurs subtle, hard-to-debug issue. We patch libsox because the most publicly available version (14.4.2 released in 2015) has some bug when it comes to in-memory decoding. This has been fixed in upstream, but the code has been diverged, and there is no official release that includes this code. So, to completely rely on external libsox, we need to replace file-like object su

[2022-07-19 05:17] h-vetinari commented on #1269
Thanks again for the input.

I still don't understand how the situation and overall goal would be different from "move to libkaldi-feat". Could you open that issue perhaps, as you seem to have a clearer picture in mind?

Could you let me know which commits upstream are necessary to fix the issue? Conda-forge controls its entire ecosystem, so we could add that patch to our sox-builds and get the be

[2022-07-19 11:23] adefossez commented on #1500
Thanks for the update @mthrok. I am a bit sad to see the support for mp3 go away without ffmpeg installed but its good that is this solved now !

[2022-07-19 11:23] #1500 closed

[2022-07-19 15:59] mthrok commented on #2536
@greaber Can you share the result of `python -m torch.utils.collect_env`?

[2022-07-19 16:00] #2525 closed

[2022-07-19 16:21] mthrok commented on #2483
Can @xiaohui-zhang comment on this?

[2022-07-20 07:42] greaber commented on #2536
@mthrok Do you mean if I install `torch` and `torchvision` using `conda install pytorch torchvision -c pytorch-nightly`?

In that case,

[code]

[2022-07-20 13:46] pi-null-mezon opened #2555 "Please, add `load_audio_file_from_memory`"
### 🚀 The feature

It is only for C++. In torchaudio/csrc/sox/io.h we have method [load_audio_file(...)](https://github.com/pytorch/audio/blob/a2d6fee2fa71741e70130a8b83520ebcf81e95f3/torchaudio/csrc/sox/io.h#L22) that reads the contents of a file from disc to torch::Tensor. But we have no API method to load torch::Tensor from the in memory bytes.

### Motivation, pitch

For the instance. In C++ T

[2022-07-21 00:43] hajix opened #2558 "ctc_decoder with custom blank/space token"
### 🐛 Describe the bug

I tried to decode my OCR model using `ctc_decoder` from `torchaudio.models.decoder`. I noticed that the decoded string is something totally irrelevant with the given  predictions! As the decoder works fine in the [tutorial](https://pytorch.org/audio/main/tutorials/asr_inference_with_ctc_decoder_tutorial.html),  the only source that may cause the error, is the custom blank/s

[2022-07-21 16:24] GF-Huang opened #2562 "PackagesNotFoundError on Raspberry PI 4"
### 🐛 Describe the bug

[code]

### Versions

I don't know.

[2022-07-21 16:35] nateanl commented on #2562
cc @atalman could you help look into it? Thanks.

[2022-07-21 20:49] jacobkahn commented on #2558
@hajix as a starting point, can you try re-running decoding with a `ctc_decoder` created with `log_add=True`? Not doing log ops can lead to a lot of instability at decoding time.

[2022-07-21 20:59] hajix commented on #2558
Ii leads to correct answer! Now the decoded string is `a`.

```[[CTCHypothesis(tokens=tensor([1, 2, 1]), words=[], score=2.214183238519948, timesteps=tensor([0, 2, 3], dtype=torch.int32))]]```

Thanks @jacobkahn

[2022-07-21 21:50] jacobkahn commented on #2558
Glad that worked. In your case, using `log_add=True` actually changed the [smearing strategy](https://github.com/flashlight/text/blob/main/flashlight/lib/text/decoder/Trie.cpp#L86-L90) — that is, when merging hypotheses, you logadd the probabilities along their respective paths. The default strategy is with `max` smearing, which will take the maximum-probability path. You'll see that based on your

[2022-07-22 01:58] marvin-nj commented on #2154
really,  it does't works when i set log level 1.

so,  what should we do.

versions : torch 1.10.1+cu113 ,   torchaudio 0.10.1+cu113

[2022-07-22 14:08] kss2517 commented on #2242
This issue seems very serious!!! as the underlying problem comes from nn.GroupNorm of PyTorch...
Its scope goes beyond Torchaudio.

As far as I know, Huggingface's Wav2vec 2.0 model is also implemented with nn.GroupNorm.
It means that recent works might have wrongly reported their performances by using Wav2vec 2.0 model of Torchaudio or Huggingface as the baseline.

[2022-07-22 15:48] lukeellison commented on #2363
I can't seem to get it to load any mp3 files with ffmpeg version 4.4.2.
I'm not using conda but maybe I have to install it to get torchaudio v0.13.0.dev20220719 working with mp3s?
I have a feeling mp3s are just not supported because the output of `torchaudio.utils.sox_utils.list_read_formats()` does not include 'mp3' if that's relevant:
<details>
  <summary>Actual output:</summary>

[code]
</detai

[2022-07-22 15:53] mthrok commented on #2363
FFmpeg 4.4 has different ABI, so C runtime does not pick it up. Can you try 4.1 - 4.3?

[2022-07-22 17:31] mthrok commented on #2242
It means that recent works might have wrongly reported their performances by using Wav2vec 2.0 model of Torchaudio or Huggingface as the baseline.

The original fariseq implementation also uses nn.GroupNorm at the core, so this was an issue from the very beginning.
We are thinking that the adaptation of [NestedTensor](https://pytorch.org/docs/stable/nested.html) is a way to solve this.

cc @cpuhrs

[2022-07-22 17:46] cpuhrsch commented on #2242
cc @jbschlosser who is the TL for NestedTensor

[2022-07-22 18:27] lukeellison commented on #2363
Still no joy. Here's the more specific output below. This is on a mac and in a notebook if that helps.

[code]
<details>
  <summary>Output:</summary>

[code]
</details>

[code]
<details>
  <summary>Output:</summary>

[code]
</details>

[2022-07-22 18:42] mthrok commented on #2363
@lukeellison Looks like the ffmpeg binary you have is static built. TorchAudio requires the shared libraries of libavXXX, such as `libavutils.56.22.100.so`, and TorchAudio does not require ffmpeg command itself.

[2022-07-24 11:41] h-vetinari commented on #1269
Ping @mthrok - I'd be happy to fix the bugs you mention in our packaging of sox, not least because I want to (re-)use those builds for torchaudio.

[2022-07-24 12:53] h-vetinari opened #2566 "Move away from `parametrized`?"
The upstream [repo](https://github.com/wolever/parameterized) hasn't seen a public commit in 1.5 years, and from the readme it seems to me that all relevant functionality is contained in pytest these days...?

[2022-07-25 00:14] danpovey commented on #1269
I don't like to be a downer on Kaldi integration, but in my opinion this is a "tragedy of the commons" situation, where for your individual needs it would likely be convenient to use libkaldi-feat as a library, but adding one extra external code dependency to the PyTorch codebase, which (a) is already very large, and (b) many other things depend on it, is in my opinion a bad thing.  The commons be

[2022-07-25 05:13] proxyphi opened #2567 "Unexpected inconcistency with momentum parameter in transforms.GriffinLim vs. functional.griffinlim"
### 🐛 Describe the bug

The momentum parameter, as passed into transforms.GriffinLim, results in slightly different behavior than when directly calling functional.griffinlim with the same momentum parameter. This seems like a consistency issue rather than a bug.

Minimal reproducible example below:

[code]

I've traced this down to
https://github.com/pytorch/audio/blob/b1f510fa5681e92ee82bdc6b2d1e

[2022-07-25 05:45] h-vetinari commented on #1269
I agree that there are many dependencies, and that this has a cost. But the current status is that without having a kaldi installation (and the corresponding headers) torchaudio isn't installable, so it is a dependency already.

Removing that dependence is a legitimate question, but very different from what I was discussing (which was: if you're going to use kaldi, can you use it in a more standar

[2022-07-25 12:06] lukeellison commented on #2363
Right, okay.
Doesn't look like there's a particularly easy way to install ffmpeg version 4.1 - 4.3 on mac from my research other than installing the static file from here: https://evermeet.cx/ffmpeg/ . Do you know a way to install it with the dependant shared libraries?
Maybe it's time to install conda instead. Seems like a bit of a limitation of torchaudio to me though if it requires conda to run

[2022-07-25 20:54] h-vetinari commented on #1269
Found https://github.com/pytorch/audio/pull/1297 and how it solved the issue differently from the upstream [patch](https://sourceforge.net/p/sox/code/ci/bb38934e11035c8fab141f70dabda3afdd17da36/).

AFAICT, the TODO from that PR is still open:

Trying to backport this to conda-forge in https://github.com/conda-forge/sox-feedstock/pull/27.

[2022-07-25 21:43] nateanl commented on #2539
Hi @leo19941227, we can add the metadata feature under prototype. One potential solution is adding `fetch_metadata` method for each dataset. The returned item is mostly identical, only the waveform is replaced by the absolute path of the audio. Does that suit your need?

[2022-07-25 23:54] leo19941227 commented on #2539
Hello @nateanl ,

Cool! I think this is nice.

[2022-07-25 23:57] #2567 closed

[2022-07-25 23:57] mthrok commented on #2555
Hi @pi-null-mezon

Thanks for filing the feature request. There are two non-technical concerns around C++ API.

1. We do not have policy around C++ API.
Currently, C++ code are not public API. We are not committed to keep backward compatibility.
2. There is currently no frameworks for testing (and ensuring) C++ API
The surface of C++ API are pretty much same as the corresponding Python API, but we

[2022-07-26 06:39] pi-null-mezon commented on #2555
Hi @mthrok

1. I got it, thanks
2. Maybe its awkward, for the reasons you have mentioned. But in my perspective, for the sources host it should be pretty simple to add asked function. And community will be pretty satisfied with `void* data_pointer` and `size_t data_size`.

Can I find somewhere examples with `AVIOContext` and `StreamReader`?

[2022-07-26 07:35] nkuzyz commented on #1573
I use this command and this problem have been solved.
Thanks

[2022-07-26 15:04] Emrys365 opened #2577 "Add support for spatial feature extraction on multi-microphone data"
### 🚀 The feature

In addition to the readily available spectral features (https://pytorch.org/audio/stable/transforms.html#feature-extractions), I would like to propose a request for extracting spatial features from the multi-microphone (multi-channel) speech data.

There are many commonly used spatial features in the literature, including:

1. Inter-channel Phase Difference (IPD) [1]: based on t

[2022-07-26 15:35] jacobkahn commented on #2523
@sciai-ai — sorry for the delay. We don't have plans to port those models directly from Flashlight to PyTorch, but one can train an equivalent PyTorch model with a similar setup. At this point there isn't Flashlight <> PyTorch interop, but this may appear before the end of the year.

[2022-07-26 17:45] #2558 closed

[2022-07-26 17:47] nateanl commented on #2532
Closing it due to lack of response. Feel free to reopen the issue.

[2022-07-26 17:47] #2532 closed

[2022-07-26 17:54] nateanl commented on #2536
Hi @greaber, are you still encountering this issue?

[2022-07-26 17:55] #2523 closed

[2022-07-26 18:47] greaber commented on #2536
Yeah, nothing has changed.  I haven't really tried debugging this myself since I don't know where to start, and it isn't that high a priority for me, but I'm happy to try any other suggestions someone may have

[2022-07-26 19:08] mthrok commented on #2536
Looks like the M1 build job has been failing: https://github.com/pytorch/audio/actions/workflows/build-m1-binaries.yml

internal post: https://fburl.com/hknogcz7

[2022-07-26 19:39] malfet commented on #2536
Hmm, according to https://hud.pytorch.org/hud/pytorch/audio/nightly nightly builds are succeeding, but they are not getting uploaded to the channel for some reason

[2022-07-27 13:52] nateanl commented on #2577
Hi @Emrys365, the spatial feature proposal LGTM, those features are very standard for multi-channel processing.

Currently I don't have the bandwidth to work on it, but open-source contributions are welcome. We can use `setk` as the reference library for verifying the correctness. cc @funcwj

[2022-07-27 15:38] rbracco opened #2584 "All blank output from ctc_decoder"
### 🐛 Describe the bug

I am following [the torchaudio ctc_decoder tutorial](https://pytorch.org/audio/main/tutorials/asr_inference_with_ctc_decoder_tutorial.html) and getting seemingly random outputs that decode to the empty string.

Here is how I instantiate and call the decoder

[code]
`beam_search_transcript` is always the empty string.

The non-transposed probabilities (shape [1, 56, 174]) ca

[2022-07-27 16:02] ark626 commented on #659
Just in case i ever get this issue.
Just call numpy() or eval()!!
Depending on the Tensorflow version <=1.15 use eval() >1.15 use numpy()
'    x, sr = tf.audio.decode_wav(tf.io.read_file(ls[i]), 1)
    #print(x.get_shape())
    #x = x.eval(session=tf.compat.v1.Session())#.numpy()
    x = x.numpy()
    x = np.array(x).astype(dtype=np.float32)
'

This completly solves the issue.

[2022-07-27 23:53] vadimkantorov opened #2586 "torchaudio.load to optionally accept sample_rate"
### 🚀 The feature

E.g. OPUS format supports resampling as part of reading. There is no standard and uniform way of setting sample rate at decoding.

E.g. sox sets it always as 48khz: https://github.com/dmkrepo/libsox/blob/master/src/opus.c#L114 (unofficial repo)
and original opusdec itself tries to first copy it from original source sample rate stored in stream header: https://github.com/xiph/opu

[2022-07-28 13:07] vadimkantorov commented on #1994
the slowdown is interesting because both sox and ffmpeg seem to use internally libopus for decoding

[2022-07-28 13:55] divideconcept commented on #2536
@malfet I also get this issue with the main pytorch channel too. It was working fine a couple days ago.
Using M1 mac / arm miniconda. Was there any change with the main pytorch channel ?

[code]

[2022-07-28 19:19] malfet commented on #2536
Hmm, I see the same problem. Looks like something have change in the ecosystem: `conda install pytorch -c pytorch` attempts to install pytorch-1.10.2 rather than 1.11

[2022-07-28 21:14] atalman commented on #2536
Could that be due to MacOS version ? Running on M1 with MacOS 11 seems to work for
``conda install pytorch torchvision torchaudio -c pytorch
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment locat

[2022-07-29 02:09] Mddct opened #2593 "rnnt loss with fastemit will rnnt loss support fastemit？"

[2022-07-29 08:58] divideconcept commented on #2536
I don't understand why it's blocking torchaudio installation on M1/macOS 12 while it was working perfectly fine a week ago, and no files have changed on the pytorch conda repo.

Here are the different combinations have tried:
python 3.9 x86 on macOS 10.15: OK
python 3.9 x86 on macOS 12.5: OK
python 3.9 arm on macOS 12.4: FAIL
python 3.9 arm on macOS 12.5: FAIL
python 3.8 arm on macOS 12.5: FAIL

U

[2022-07-29 09:45] divideconcept commented on #2536
Can repro that too.

[2022-07-29 14:16] Kinyugo opened #2594 "`torchaudio.transforms.InverseMelScale` does not work"
### 🐛 Describe the bug

I am trying to reconstruct a waveform by composing the `InverseMelScale` transform and the `GriffinLim` transform. The operation hangs while running `InverseMelScale`. I switched to the `librosa` version `librosa.features.inverse.mel_to_audio` which ran without any problems. I have not had any success with the `InverseMelScale` transform and I have had to kill the process f

[2022-07-29 14:44] divideconcept commented on #2536
Pushing investigations further, it seems it all comes down to the channel index being broken:
https://conda.anaconda.org/pytorch/osx-arm64/current_repodata.json
No torchaudio is listed and only 2 versions of pytorch are listed for arm64, and still for some reason conda prefer to install pytorch 1.10.2 from the pkgs/main/osx-arm64 channel:
[code]

And the only reason `conda install torchvision` doe

[2022-07-29 21:24] mthrok commented on #2566
Hi @h-vetinari

parameterized is working fine and pretty stable, so I do not think no activity in upstream project is any concern.
Since we have a set of test utilities built around unittest already, unless there is a huge advantage, I do not think it's worth the efforts. There is a chance that test framework migration could introduce a bug.

[2022-07-29 21:27] #2566 closed

[2022-07-29 21:31] mthrok commented on #2562
PyTorch does not provide an official prebuilt binary for `linux-aarch64`. One needs to build from source from scratch, or use binary distributions provided by the community.

See articles like https://qengineering.eu/install-pytorch-on-raspberry-pi-4.html

[2022-07-29 21:31] #2562 closed

[2022-07-29 22:16] mthrok commented on #2555
@pi-null-mezon

Sure it is easy to add, but the lack of policy about public C++ API makes it difficult to maintain. Because this new function is not connected to any public API on Python surface, we do not have a mean to maintain it. A new developer took the maintenance work, and see that this API is not used anywhere in the library, not documented, and torchaudio does not in general have official

[2022-07-29 23:08] #2332 closed

[2022-07-29 23:08] #2314 closed

[2022-07-29 23:09] mthrok commented on #1979
This has been added in v0.12 using FFmpeg.

[2022-07-29 23:09] #1979 closed

[2022-07-29 23:10] #2016 closed

[2022-07-29 23:16] mthrok commented on #1927
Python 3.10 is now supported.

[2022-07-29 23:16] #1927 closed

[2022-07-29 23:23] mthrok commented on #1723
Starting v0.12.0, WebM data can be loaded with FFmpeg-based I/O (either sox_io backend with FFmpeg fallback or `torchaudio.io.StreamReader`)

[2022-07-29 23:23] #1723 closed

[2022-07-29 23:24] #1453 closed

[2022-07-29 23:25] mthrok commented on #1628
In v0.12.0 we added `torchaudio.io.StreamReader` class, which breaks down the loading operation into multiple steps, so users can write own async function.

[2022-07-29 23:25] #1628 closed

[2022-07-29 23:26] mthrok commented on #1679
libsox's vorbis integration has multiple of issues. We will migrate to FFmpeg for vorbis.

[2022-07-29 23:26] #1679 closed

[2022-07-29 23:26] #1407 closed

[2022-07-29 23:28] mthrok commented on #1047
closing as it's been a while since the issue is filed and we had multiple releases since then. Please try the latest one and file a new issue if it does not work.

[2022-07-29 23:28] #1047 closed

[2022-07-29 23:31] #897 closed

[2022-07-29 23:34] mthrok commented on #615
Seems the issue is resolved. `ignore_missing_imports = False` and mypy reports `Success: no issues found in 1 source file`.

[2022-07-29 23:34] #615 closed

[2022-07-30 11:46] faroit commented on #1453
@vincentqb Without having looked at the ffmpeg io module... does it support multiple streams? If no, can this be supported?

See https://github.com/faroit/stempeg

[2022-07-30 16:02] mthrok commented on #1453
It does. You can map pick/duplicates source streams into arbitral combinations of output streams.

https://pytorch.org/audio/stable/tutorials/streaming_api_tutorial.html#example

[2022-07-30 17:38] faroit commented on #1453
Oh that's cool. I can finally retire stempeg

[2022-07-31 18:04] ravimakhija commented on #1564
Hi there - it looks like Group C is still open, so I thought I'd work on that.

Also note that `FrequencyMasking` and `TimeMasking` from Group C [already have examples](https://pytorch.org/audio/stable/transforms.html), but are still unchecked in the original post of this PR.

[2022-08-01 07:38] pi-null-mezon commented on #2555
Thank you. I'll try.

[2022-08-01 17:34] carolineechen commented on #2584
Hi @rbracco, thanks for the issue. The `words` entry is only applicable when using a lexicon, in which case we store the generated word/lexicon corresponding to the generated tokens. Since you are not using a lexicon, we don't include the corresponding output `words` (but maybe it would make sense for us to include a transcription that is split by sil token in the future?). Instead, you can genera

[2022-08-01 17:36] carolineechen commented on #2593
Hi @Mddct, we are planning to add support for fastemit in our next release.

[2022-08-01 21:28] rbracco commented on #2584
Hey @carolineechen, thank you for the clarification. I have switched to using `.tokens` as suggested but the token values are still not correct. The actual text is only 46 tokens long, but the beam prediction is 475 (close to the total number of timesteps, 496). My code is the same as the above except I am now correctly referencing `.tokens` instead of `.words`, any ideas where I might be going wr

[2022-08-02 00:01] rbracco commented on #2584
I figured it out, I didn't call `torch.nn.functional.log_softmax` on the probabilities/emissions before decoding. Maybe the docs/tutorial could make this explicit as it is a common thing people trip over when doing ctc decoding? Thanks for your help @carolineechen

[2022-08-02 00:01] #2584 closed

[2022-08-02 08:13] alireza-hariri commented on #2363
It is good to show relevant error message instead of random runtime err

[2022-08-03 14:54] ravimakhija commented on #1564
I believe Group C transforms should all have examples now, with the last two pending review.

@harishsdev Just checking if you were still planning on finishing up examples for Group A. If not, I'd be happy to work on those to help nudge this issue closer to being closed. :) I will give it a week for your response before working on Group A, in case you do plan to work on them.

If my tally is corre

[2022-08-03 18:55] #1205 closed

[2022-08-04 17:20] seemethere commented on #2536
Closing this as it was resolved in https://github.com/ContinuumIO/anaconda-issues/issues/13006#issuecomment-1202563268

[2022-08-04 17:49] mthrok commented on #2536
@seemethere

I just tested now but the issue is not resolved. I am on M1 mac.

[code]

[2022-08-04 17:51] mthrok commented on #2536
The stable release is working, but the original issue of nightly is not resolved.

[code]

[2022-08-05 13:57] barabo commented on #2536
If it helps with the investigation of this issue - the `pytorch` channel *is* mirrored and served from our CDN, but the `pytorch-nightly` channel *is not*.  So, for this I think we would need to look into what's going on with anaconda.org in the `pytorch-nightly` repodata.

[2022-08-05 15:10] #2104 closed

[2022-08-05 15:10] skim0514 commented on #2104
Resolved in #2554

[2022-08-07 10:14] jinfagang opened #2610 "torchaudio doesn't get nightly aligned with pytorch and torchvsiion"
### 🐛 Describe the bug

[code]

get:

Installing collected packages: torchaudio
Successfully installed torchaudio-0.14.0.dev20220603

today is 0807, is 0603 is nightly??????

error in sue:

[code]

### Versions

torch nightly

cc @ezyang @seemethere @malfet

[2022-08-10 14:43] mthrok commented on #2610
There is no official 0.14.0. The dev branch is 0.13. It might be some third party publishing the binary, or could be supply chain attack.

[2022-08-10 14:44] mthrok commented on #2610
There is no 0.14 listed in https://download.pytorch.org/whl/nightly/torchaudio/ nor https://download.pytorch.org/whl/nightly/torchaudio_nightly/ .

[2022-08-10 14:45] mthrok commented on #2610
Actualy there is, https://download.pytorch.org/whl/nightly/torchaudio/ ... what is happening ??

[2022-08-10 14:46] mthrok commented on #2610
@seemethere @malfet @atalman Can you delete 0.14.0 binaries from https://download.pytorch.org/whl/nightly/torchaudio/??

[2022-08-10 15:16] atalman commented on #2610
@malfet I think we only have following files:
[torchaudio-0.14.0.dev20220531-cp310-cp310-macosx_11_0_arm64.whl](https://download.pytorch.org/whl/nightly/cpu/torchaudio-0.14.0.dev20220531-cp310-cp310-macosx_11_0_arm64.whl)
[torchaudio-0.14.0.dev20220531-cp38-cp38-macosx_11_0_arm64.whl](https://download.pytorch.org/whl/nightly/cpu/torchaudio-0.14.0.dev20220531-cp38-cp38-macosx_11_0_arm64.whl)
[torch

[2022-08-10 15:20] malfet commented on #2610
Deleted files and updated indicies...
@atalman can you please check other domain libraries as well? (Also, quite surprised how it happened to audio, as I did all the M1 build experiments against vision

[2022-08-10 15:24] atalman commented on #2610
Yes sounds good  will check now for vision and text

[2022-08-10 15:35] atalman commented on #2610
I think this issue was introduced by my initial commit, introducing m1 builds:
https://github.com/pytorch/audio/pull/2421

and later fixed by the following commit:
https://github.com/pytorch/audio/pull/2438

Sorry about this. Should have cleaned this up.

[2022-08-12 03:17] thanhtvt opened #2613 "Train Emformer RNN-T using provided recipe cannot converge"
### 🐛 Describe the bug

Thank you for the amazing implementation of Emformer and the [training recipe](https://github.com/pytorch/audio/tree/main/examples/asr/emformer_rnnt) of it.
But when I train from scratch using this recipe, the model cannot converge and stop improving after only about 6-7 epochs (tensorboard image below).

![tensorboard](https://user-images.githubusercontent.com/62584583/184

[2022-08-13 14:35] malfet commented on #2610
Closing, as looks like it's been fixed now. Please do not hesitate to reopen/open new issue if it happens again.

[2022-08-13 22:51] BriansIDP opened #2614 "Encountered undefined symbol: gsm_create when import torchaudio"
### 🐛 Describe the bug

I built torchaudio from source following https://github.com/pytorch/audio/blob/main/CONTRIBUTING.md. The build was successful, but when I import torchaudio in python, I got the following error:
[code]

I used GCC version 9, cuda version 11.2 and cudnn version 8.1_cuda-11.2. Packages in my conda environment are as follows:
[code]

### Versions

Collecting environment informa

[2022-08-14 16:05] ravimakhija commented on #1564
Per my last post here, I am starting work on the remaining examples for Group A, beginning with `AmplitudeToDB`.

[2022-08-14 23:45] mthrok commented on #2610
@malfet The issue still presents.

It seems that `osx-arm64` torchaudio does not exist at all https://conda.anaconda.org/pytorch-nightly/osx-arm64

[code]

[2022-08-15 14:47] nateanl commented on #2594
Hi @Kinyugo, sorry for my late response. I can reproduce the hanging issue.

I think the main cause is that there is [`max_iter`](https://github.com/pytorch/audio/blob/main/torchaudio/transforms/_transforms.py#L492-L505) parameter in `InverseMelScale` that is set to 100000 by default, if the loss value doesn't diverge to lower than `tolerance_loss` or the loss change is larger than `tolerance_chan

[2022-08-15 16:05] ahmed-fau opened #2619 "Adaptive filtering for torchaudio"
### 🚀 The feature

Hi there,
I would to ask if there is any plan to support adaptive filtering functions to torchaudio library so that they can be used in native way for training/optimizing deep learning speech/audio models.

Currently, torchaudio supports 'lfilter' function similar to scipy.signal.lfilter. However, this function isn't easy to run with adaptive filters (i.e., filters whose transfe

[2022-08-15 16:15] olliethomas opened #2620 "MacOS x86 support"
### 🐛 Describe the bug

On the PyPi page for torchaudio 0.12.1, there is no download available for Mac with an Intel CPU.
https://pypi.org/project/torchaudio/0.12.1/#files

However, there is for 0.12.0
https://pypi.org/project/torchaudio/0.12.0/#files

This is mostly a problem when using tools such as [poetry](https://python-poetry.org/) to manage dependencies as they 'see' that 0.12.1 is availabl

[2022-08-15 16:21] nateanl commented on #2620
@atalman could you help look into the missing x86_64 wheels?

[2022-08-15 19:34] seemethere commented on #2620
Looking

[2022-08-15 19:39] seemethere commented on #2620
Yup they're definitely missing, will upload these by EOD

[2022-08-15 19:45] seemethere commented on #2620
Okay should be uploaded now

[2022-08-15 22:20] mthrok commented on #2610
Looks like it's working now.

[code]

[2022-08-15 22:20] #2610 closed

[2022-08-15 22:24] mthrok commented on #2536
This looks like resolved. Yesterday, there was no torchaudio for osx-arm64 in nightly channel, but today there is. Perhaps by https://github.com/pytorch/audio/pull/2621.

[2022-08-15 22:24] #2536 closed

[2022-08-15 22:59] mthrok commented on #2614
Hi @BriansIDP

I do not have a guess for how this happens. Perhaps can you share a build log?

[2022-08-15 23:54] seemethere commented on #2620
Can confirm this is resolved, going to go ahead and close

[2022-08-15 23:54] #2620 closed

[2022-08-16 02:00] hwangjeff commented on #2469
Hi @xvdp, thanks for flagging, and sorry for the late reply. For functions that convolve inputs, I think it would be a good idea to allow users to choose whether to use time-domain-based or fft-based convolutions, perhaps via a `use_fft` bool flag. Let us know if you'd be interested in implementing this.

[2022-08-16 02:10] hwangjeff commented on #2613
Hi @thanhtvt, thanks for posting — it's great to hear that you're finding Emformer and the training recipe to be useful. We haven't tried training the model on just the 100-hour LibriSpeech training set. One thought, however, is that the model capacity may be too large relative to the amount of data you're using, which may be causing the overfitting you're observing. Perhaps you can try reducing t

[2022-08-16 06:51] BriansIDP commented on #2614
Please find the attached build log. Thank you!
[build.log](https://github.com/pytorch/audio/files/9348478/build.log)

[2022-08-16 08:36] mthrok commented on #2614
What does the following command say?

`nm /rds/project/rds-KQ4S3rlDzm8/gs534/audio/third_party/install/lib/libsox.a | grep gsm_create`

[2022-08-16 09:16] BriansIDP commented on #2614
Both output:
[code]

[2022-08-16 19:11] nateanl opened #2624 "Room Impulse Response Simulation Support in TorchAudio"
For release 2.0, we plan to add support for multi-channel room impulse response simulation methods under `torchaudio.functional`. The implementation is based on [pyroomacoustics](https://github.com/LCAV/pyroomacoustics), that supports both "image source method", and "image source + ray tracing" (hybrid) method. We will support both modes in two separate methods.

## Diagram

Here is the diagram of

[2022-08-16 19:15] nateanl commented on #2624
cc @fakufaku @mravanelli @sw005320

[2022-08-16 21:58] mthrok commented on #2614
That suggests that libsox build process is not working as expected. Can you share the following logs?

`build/temp.XXX/third_party/sox/src/sox-stamp/sox-configure.log`
`build/temp.XXX/third_party/sox/src/sox-stamp/sox-build.log`

[2022-08-16 22:03] BriansIDP commented on #2614
Please find the attached logs. Thank you!
[sox-build.log](https://github.com/pytorch/audio/files/9354946/sox-build.log)
[sox-configure.log](https://github.com/pytorch/audio/files/9354947/sox-configure.log)

[2022-08-16 22:27] mthrok commented on #2614
Thanks. The sox is configured to depend on external libgsm. I see the following line in your log,

`gsm........................yes (external)`

whereas mine says

`gsm........................yes (in-tree)`.

Perhaps possible explanation is that your environment has libgsm installed somewhere and the configuration process of libsox preferred to use that one dynamically, but when torchaudio attempts

[2022-08-16 22:28] mthrok commented on #2614
^ And when you try rebuilding, please remove the directory `third_party/install/lib` each time, just to be sure.

[2022-08-17 01:05] fakufaku commented on #2624
@nateanl thanks for starting the discussion.

Here are some initial thoughts.

## Wall characteristics

@nateanl proposes two options. Is it acceptable to have both options ?
This is what we try to do in pyroomacoustics. If the argument is a string, then we pull the material from the database. If not, we follow something similar to option 2.

Another way to have both options would be to provide a

[2022-08-17 01:28] sw005320 commented on #2624
Very cool!

I'm curious what would be the main target of this development.
Is it to provide the precise RIR as much as possible?
Is it intended as a data augmentation method?
Is it used to make the generation process of room impulse response a part of a computational graph?
Or does it try to cover everything?

Maybe, there would be other targets.

[2022-08-17 03:43] thanhtvt commented on #2613
Hi @hwangjeff , thanks for replying - I have tried to reduced size of the model like you said by modifying parameters of `emformer_rnnt_model` function. Details are below

[code]
I have also re-trained sp_model by using [this script](https://github.com/pytorch/audio/blob/main/examples/asr/emformer_rnnt/librispeech/train_spm.py), whose `vocab_size` is 500.

This time, the model is about 36M params

[2022-08-17 06:13] mthrok commented on #2624
Thanks @nateanl. The description looks good overall.

* RE: API Design

  - Can you add a description about the returned Tensor?
  - Does this support GPU?

* RE: Option 1 & 2
I see no reason why we have to have only one API for this. It sounds like we can have a core API, which is fully customizable (requires expertise and trial and errors), then somewhat easy-to-use wrapper function. I think thi

[2022-08-17 09:44] BriansIDP commented on #2614
Hi. Thank you for the suggestions. I found the ``--with-gsm`` and ``--with-gsm=yes`` produced the same result as before, and I still found the same error. However, when I tried with ``--with-dyn-default=false`` (or used together with ``--with-gsm``), the build failed with the log file attached.
[build_with_dyn_default.log](https://github.com/pytorch/audio/files/9358417/build_with_dyn_default.log)

[2022-08-17 11:42] nateanl commented on #2624
Thanks all for the discussions.

- RE: Option1 & Option 2
Regarding the options for materials, we all agree to use `float` or `Tensor` as input argument which represent the absorption coefficients. The `center frequency` can be more restricted, by setting the default values, e.g., `[ 125.  250.  500. 1000. 2000. 4000. 8000.]`. Then we can provide a helper function to lookup coefficients for a give

[2022-08-18 07:19] yzwu2017 opened #2634 "torchaudio.compliance.kaldi.fbank dither is different from kaldi"
### 🐛 Describe the bug

for the function "torchaudio.compliance.kaldi.fbank", there is an option "dither". The function calls _get_window() function, where dither leads to adding random number in strided_input:
![image](https://user-images.githubusercontent.com/24697257/185326852-4fbdd591-e394-43a5-8c06-6200ee831659.png)
Since "x.log()" and "x" here are based on the same random number, it makes "r

[2022-08-18 13:36] mthrok commented on #2614
Looking at the new log, it seems that `--with-dyn-default=false` had the opposite of the desired effect, making all plug-ins external, while I hoped it will disable the dynamic dependence of GSM.

[code]

Let's first try building without GSM. Can you add `--without-gsm` to the CMakeLists.txt and see what happens?

[2022-08-18 14:44] BriansIDP commented on #2614
I tried building without GSM. Now in the sox configuration, it says ``gsm........................no``. However, when I open python and type ``import torchaudio``, I still get the same following error:
[code]

[2022-08-18 16:56] Kinyugo commented on #2594
Hello ✋🏿 Thank you for your insights. I have made the changes and I can confirm that it works. I see that `torchaudio` took quite a different approach to the `InverseMelScale`. The `librosa` one runs quite fast, and has bearable results that are useful for debugging. Is it possible to implement the same in `torchaudio`? And do you have some pointers on how one can go about it?

[2022-08-18 21:15] nateanl commented on #2594
librosa uses the non-negative least squares (nnls) algorithm to estimate the spectrogram. there was [discussions](https://github.com/pytorch/audio/issues/2541#issuecomment-1182665291) about how to implement nnls in torchaudio.

The main blocker is the L-BFGS-B optimizer is not yet supported in PyTorch, that is the optimization algorithm in librosa's nnls.

Another workaround is using [`torch.linal

[2022-08-19 10:41] Kinyugo commented on #2594
Thank you for your time. I will stick with `GriffinLim` with a few iterations for now. I might also look into neural vocoding approaches. Feel free to reach out to me if that is something that might be of interest to the torchaudio community, I would love  to contribute.

[2022-08-19 11:10] mthrok commented on #2614
Can you delete the `third_party/install/` directory and try again? just to be sure

[2022-08-19 11:57] BriansIDP commented on #2614
I tried both with ``--with-gsm`` and ``--without-gsm`` options, but I still got the same error for both builds.

[2022-08-19 12:06] mthrok commented on #2614
`--with-gsm` wouldn't help as that's the default behavior. Seeing `undefined symbol: gsm_create` error with `--without-gsm` is strange, especially since you confirmed that the configuration is saying `gsm........................no`. So we need to eliminate the possibility that torchaudio build process uses libsox cached from the previous build. To confirm that we need to make sure that the build d

[2022-08-19 14:08] ravimakhija commented on #1564
Hi! It would be great to get feedback on the below:

We are getting close to completing all of the examples Harish originally proposed in this issue. However, there are some torchaudio transforms in the source code which are not in the original list here (perhaps some were added later). Some of these transforms also do not have examples yet, for instance: `LFCC` and `SoudenMVDR`.

Would it make se

[2022-08-19 14:25] ravimakhija commented on #2634
I can try to submit a PR for this, if it's still open.

Also @yzwu2017 `RandGauss` here is a standard normal I'm assuming? And, a link to the `kaldi` source code file referenced here would be helpful as well.

[2022-08-19 14:39] ravimakhija commented on #2634
Update: It looks like `RandGauss` here corresponds to the following, so I believe it should be a standard normal.

[code]
source: https://github.com/kaldi-asr/kaldi/blob/cbed4ff688a172a7f765493d24771c1bd57dcd20/src/base/kaldi-math.h

Also for context, it looks like the previously reference `Dither` code is from [here](https://github.com/kaldi-asr/kaldi/blob/cbed4ff688a172a7f765493d24771c1bd57dcd20

[2022-08-19 14:43] ravimakhija commented on #2634
Update: Actually, I don't think this is a bug, it might be fine as is. It looks like the `torchaudio` code creates the gaussian random variate from the uniform variate via the following:

`rand_gauss = torch.sqrt(-2 * x.log()) * torch.cos(2 * math.pi * x)`

[2022-08-19 19:07] nateanl commented on #1564
Hi @ravimakhija, thanks for working on group A. I think adding a new group for the rest of transforms modules is a good idea.

[2022-08-19 19:33] ravimakhija commented on #1564
Sounds good - I don't think I have permissions to edit the original post, so I will plan to add a new group as a new comment.

[2022-08-19 21:31] mthrok commented on #2634
It looks like the distribution is skewed due to `torch.max(epsilon, ...)`.
How about using `torch.randn` directly?

[2022-08-19 23:13] BriansIDP commented on #2614
I am pretty sure I have removed `third_party/install` and `build`, and set `--without-gsm`, I still got the same error. Here I attached the
[sox-build.log](https://github.com/pytorch/audio/files/9385745/sox-build.log)
[sox-configure.log](https://github.com/pytorch/audio/files/9385746/sox-configure.log)
sox-configure and sox-build log files.

[2022-08-20 19:03] ravimakhija commented on #2634
I see the bug now, nice catch @yzwu2017!

I would agree that using `torch.randn` would be a good solution - it should give similar results to kaldi and is also easier to understand. I can submit a PR for this.

As a side note: I don't think the distribution would be skewed, though. In particular, I think the `max(epsilon, ...)` was put there to avoid the possibility of generating a uniform variate

[2022-08-21 13:47] ravimakhija commented on #1564
Hi All-

After tallying the remaining transform examples using the main branch source code, I have the following three updates:

1) All of the examples in group A, group B, and group C except for one (`ComputeDeltas`) are now included in the main branch. Hence, they can be checked off in Harish's original post (by anyone who has the permissions to do so).
2) The `ComputeDeltas` transform is checke

[2022-08-22 03:18] thanhtvt commented on #2613
so... any updates? @hwangjeff

[2022-08-23 03:29] noahbadoa commented on #329
I also encountered torchaudio.info() being longer than the size of torchaudio.load() with version 0.11.1 on mp3s from the fma dataset. And in in version 0.12.1  torchaudio.info() returned 0.
[000002.zip](https://github.com/pytorch/audio/files/9399116/000002.zip)
.

[2022-08-23 10:57] scarecrow1123 commented on #2524
`num_frames` is 0 with opus loaded as BytesIO as well. To reproduce,

Download

[code]

Run

[code]

[2022-08-23 16:10] surak opened #2642 "On manual install, some models and datasets do not get installed/downloaded"
### 🐛 Describe the bug

When installing by hand, I try to run the examples of torch audio and I run into issues like this:

[code]

or

[code]

or

[code]

So it seems that the install is either not complete or these codes in the example folder need something more, which I am failing to see.

### Versions

This is PyTorch 0.11.0, as the institute is using PyTorch 1.11 on the A100 GPUs.

[2022-08-23 17:36] carolineechen commented on #2642
Hi @surak, thanks for this issue.
- `bg_iterator` has been deprecated as of torchaudio 0.11, which is the reason for the first ImportError. Thanks for bringing this up, I'll push out a fix for the example(s) using it.
- `download_asset` and `torchaudio.models.decoder` were only added in release 0.12, so the version of PyTorch and TorchAudio you have are not compatible with those examples.

[2022-08-23 18:17] nateanl opened #2643 "Use torch.linalg.lstsq optimizer in InverseMelScale"
### 🚀 The feature

To increase the speed of `InverseMelScale` module, the SGD optimization can be replace with ` torch.linalg.lstsq`.

### Motivation, pitch

The current `InverseMelScale` module applies SGD optimizer and estimate the spectrogram in a for loop. The speed is much slower than librosa (See https://github.com/pytorch/audio/issues/2594) which uses non-negative least squares (nnls) algor

[2022-08-23 23:04] mthrok commented on #2643
One of the aspects brought up during the introduction of `InverseMelScale` was numerical stability. https://github.com/pytorch/audio/pull/366

What's the stability of `torch.linalg.lstsq`?

[2022-08-23 23:23] nateanl commented on #2643
According to `torch.linalg.lstsq`'s doc page, it mentioned:
[code]

It should be more stable than `SVD`, which is used in `pinverse`.

[2022-08-24 02:13] hwangjeff commented on #2613
You can continue tuning the architecture and training parameters — I don't have any recommendations that are more specific than that. Also note that the relationship between validation loss and validation WER isn't direct, i.e. validation loss might increase while validation WER decreases, so it'd be worth keeping an eye on how the validation WER evolves over the course of training.

[2022-08-24 13:32] nateanl commented on #2624
To support differentiability, the output shape needs to be stable. However, `room`, `mic_array`, `source`, and `max_order` all can affect the length of the RIR signal.

To solve this issue, I think it's good to add a `output_length` argument in `simulate_rir_ism` method. If the actual rir signal is longer than `output_length`, the tail of signal is cut, or zero values are padded if the actual rir

[2022-08-26 00:30] #2642 closed

[2022-08-26 02:26] PythonDevoloper opened #2651 "Does not work torchaudio.info"
### 🐛 Describe the bug

[code]

C:\Python310\python310.exe C:/PycharmProjects/PyTorchProjects/VoiceCommandRecognition/main.py
Exception ignored from cffi callback <function SoundFile._init_virtual_io.<locals>.vio_get_filelen at 0x000001D8ACFA3640>:
Traceback (most recent call last):
  File "C:\Python310\lib\site-packages\soundfile.py", line 1280, in vio_get_filelen
    file.seek(0, SEEK_END)
io.Un

[2022-08-26 04:55] malfet commented on #2651
Moving to torchaudio repo

[2022-08-26 05:42] mthrok commented on #2651
The tutorial is written for sox_io backend, which is unfortunately not available on Windows. `sox_io` backend does not require `seek`, so it works. But soundfile seems to require seek method on file-like object.

To make this work on Windows, need to wrap the byte string with `BytesIO` so that `seek` method work, but this might be wasteful, as it requires to fetch the whole audio.

[2022-08-26 08:20] patrickvonplaten opened #2652 "Backwards breaking change for MP3 loading in 0.12"
### 🐛 Describe the bug

It is written pretty clearly in the release notes that there is a breaking change when loading MP3 files:

[code]

However I think it's a pretty extreme change that could have  been done also more over time with an option to fall back to the previous backend (or is this somehow possible?).

When running the following experiments, one can see that it's not just 0-padding tha

[2022-08-26 08:33] PythonDevoloper commented on #2651
Да ваш совет помог!
[code]

[2022-08-26 08:33] #2651 closed

[2022-08-29 04:06] iqbalfarz commented on #2338
Facing the same issue, one can please fix this issue.

[2022-08-30 14:26] nateanl commented on #2643
The issue of `torch.linalg.lstsq` is that there is no non-negative constraint, hence the generated spectrogram is not global optimal. The best solution should be implementing `L-BFGS-B` optimizer in PyTorch, which is faster than internal optimization, and it can be run in inference mode.

[2022-08-30 15:23] nateanl commented on #2500
Hi @yoyololicon and @shchhan123456. Sorry for my late response. I think swapping FIR and IIR makes sense for converting direct form I to direct form II.
@yoyololicon could you elaborate how the `zf` is generated in direct form II? If the implementation is changed from direct form I to direct form II, the format of `zi` should be the same in `scipy.signal.lfilter`, which is a vector. Is that correc

[2022-09-01 14:58] BriansIDP commented on #2614
Hi. As an update, I found the workaround using ``export LD_PRELOAD=/lib64/libgsm.so``. It seems that during the building process it does not know where to look for libgsm.

[2022-09-03 01:41] stonelazy commented on #2323
I hope we would be able to implement the pre-emphasis filtering with [torchaudio.functional.lfilter](https://pytorch.org/audio/stable/functional.html#lfilter). Can somebody pls comment on this ?

[2022-09-04 11:53] knoriy commented on #2356
Hi @mthrok, I was wondering if there has been any update on this issue.

[2022-09-08 19:59] pzelasko opened #2662 "FLAC save/load is broken with in-memory buffers and `sox_io` backend"
### 🐛 Describe the bug

[code]

The output is:

[code]

With `sox_io` backend, FLAC fails to encode or decode the whole audio from in-memory buffers such as `BytesIO`. It actually breaks silently, so unless the user validates they get the expect audio size, they will think everything is OK. I found out this issue when using Lhotse, which validates the shapes with metadata.

I can reproduce this is

[2022-09-09 02:00] cantabile-kwok opened #2665 "`torchaudio.compliance.kaldi.mfcc` seems to produce strange energy values."
### 🐛 Describe the bug

I am using torchaudio to extract Kaldi-like MFCC features for audio. I found `torchaudio.compliance.kaldi.mfcc` function which is exactly what I need. The code runs smoothly, but when I inspect the values, I found the energy produced by this function seems incorrect and very different to the results by Kaldi `compute-mfcc-feats` command.

Here is an example audio (LJ001-011

[2022-09-09 02:20] mthrok commented on #2662
Hi @pzelasko - Thanks for the report. This seems to be issue of loading side.

@pytorch/team-audio-core Can someone look into why [this test](https://github.com/pytorch/audio/blob/8a0d7b36f7821fe55175f0d4e3ca6299b3817a6c/test/torchaudio_unittest/backend/sox_io/load_test.py#L185) did not catch this?

[2022-09-09 02:20] mthrok commented on #2662
Duplicate of https://github.com/pytorch/audio/issues/2356

[2022-09-09 02:22] mthrok commented on #2356
Hi @philgzl

Sorry for the silence. I have not located why it's broken but I confirmed that new FFmpeg-based file-like object works. Libsox's file-like object support is based on hack, so I think the way forward is to switch to FFmpeg-based decoding for all file-like object support.

[2022-09-09 02:22] mthrok commented on #2662
https://github.com/pytorch/audio/issues/2356#issuecomment-1241424579

[2022-09-09 02:53] pzelasko commented on #2662
Cool, thanks, I’ll see how I can add this workaround in Lhotse.

[2022-09-10 01:52] mravanelli commented on #982
Hi, is there any news on this issue? This feature is going to be important for the [SpeechBrain](https://speechbrain.github.io/) project. Some of our contributors are working on exporting our speech processing pipelines into a microcontroller. This requires the model to be ONNX exportable/importable (@fpaissan). The main issue is that all the feature extraction relies on fft and stft.

[2022-09-10 13:32] mthrok commented on #982
This is PyTorch (MSFT) issue rather than TorchAudio.
Please check and cast voice at https://github.com/pytorch/pytorch/issues/81075
It seems the support for STFT is in motion.

[2022-09-10 21:34] drscotthawley opened #2667 "conda install on Mac requires Python <3.6.0a0? (not >=3.7, <=3.10)"
### 🐛 Describe the bug

I have python 3.8 installed; this should be compatible with the version range `>=3.7, <=3.10` listed on the torchaudio README.  But apparently `torchaudio`' s conda package allows only Python < 3.6, contradicting the above.  Installing nightly build as per pytorch main page instructions (on Mac):
[code]

### Versions

[code]

[2022-09-10 22:32] drscotthawley commented on #2667
...just repeated this in a brand-new conda environment to make sure.
Same problem persists.

[2022-09-12 18:35] leo19941227 commented on #2539
Hi @carolineechen,

Thanks, it looks good to me!

[2022-09-13 19:42] hwangjeff commented on #2665
Thanks for flagging this @cantabile-kwok. Could you also post the code you used to generate the Kaldi results?

[2022-09-14 08:45] cantabile-kwok commented on #2665
@hwangjeff  I used Kaldi command
[code]
where the mfcc.conf is a text file as follows:
[code]
Note that 256 points in 22050 Hz approximates 11.6099774 miliseconds. Actually this doesn't affect the trajectory.

You might change `data/train/wav.scp` to any scp file pointing to this wav. Then I use [kaldiio](https://github.com/nttcslab-sp/kaldiio) to open the mfcc.ark and plot the figure with the sam

[2022-09-14 19:14] carolineechen commented on #2667
Hi @drscotthawley, are you still running into this issue? I am unable to reproduce this on my Mac, both on a fresh conda environment and also after matching the relevant libraries in your env.

[2022-09-14 19:55] BriansIDP opened #2680 "RNNT Loss Accepting Log Probabilities"
### 🚀 The feature

@carolineechen The current RNNT loss takes logits as inputs. I wonder if it is possible to have a version that takes log probabilities rather than logits.

### Motivation, pitch

I am implementing the [Tree-constrained pointer generator](https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9687915) in TorchAudio. As it performs an interpolation between the model output distribut

[2022-09-14 21:41] drscotthawley commented on #2667
@carolineechen Thank you for your message.
After executing 'conda update conda' (so now at conda version 4.14.0), I am unable to reproduce the error with a fresh environment.  Yay.

Now that error seems to have been resolved, I'm closing this issue.

(Pip always worked; was just reporting the conda issue.)

/closing.

[2022-09-14 21:41] #2667 closed

[2022-09-15 00:57] hwangjeff commented on #2665
Running
[code]
gives us
[code]
i.e. the audio is formatted as 16-bit signed PCM.

By default, [`torchaudio.load`](https://pytorch.org/audio/main/backend.html#load) uses a value of `True` for parameter `normalize`. As a consequence, for a 16-bit PCM input, it actually normalizes the audio data by the maximum short value and returns the result as `float32`.

It doesn't look like Kaldi's `compute-mfc

[2022-09-15 01:30] cantabile-kwok commented on #2665
@hwangjeff  I did not notice this difference, thanks a lot! It solved my confusion now :)

[2022-09-15 01:30] #2665 closed

[2022-09-15 01:55] #2613 closed

[2022-09-15 01:57] hwangjeff commented on #2665
@cantabile-kwok no problem — glad to hear it!

[2022-09-16 09:26] Jackiexiao opened #2685 "StreamReader Failed to open the input io.BytesIO"
### 🐛 Describe the bug

StreamReader Failed to open the input io.BytesIO which is save by `torchaudio.save`
[code]

[code]

### Versions
[code]

[2022-09-16 11:39] mthrok commented on #2685
Hi

The buffer needs to be rewound before reading it again.

`buffer_.seek(0)`

[2022-09-16 12:03] nateanl opened #2686 "torchaudio.io._compat.load_audio_fileobj returns shorter waveform than torchaudio.load for certain FLAC files"
### 🐛 Describe the bug

When using the two loading methods on the same audio file, the lengths of the waveform tensors are different.

I can reproduce this issue with one audio file from LibriSpeech dataset, note that the issue only exists in some FLAC files. Here is the code to reproduce it:
[code]
The output is:
[code]

### Versions

PyTorch version: 1.13.0.dev20220812
Is debug build: False
CUDA

[2022-09-16 12:11] mthrok commented on #2686
What value does tools like `ffprove` and `soxi` report?

[2022-09-16 12:13] mthrok commented on #2686
Note that `torchaudio.io._compat.load_audio_fileobj` is not a publicly documented method, so it behavior is subject to change anytime.

[2022-09-16 12:26] nateanl commented on #2686
ffprove shows
[code]
soxi shows:
[code]

[2022-09-16 13:29] mthrok commented on #2686
Can you have `ffprobe` report the number of frames? `-count_frames`

[2022-09-16 13:53] nateanl commented on #2686
hmm, it doesn't output the exact frame count:
[code]

[2022-09-16 15:56] Jackiexiao commented on #2685
thx, my mistake

[2022-09-18 01:01] nateanl commented on #2686
Using command `ffprobe -select_streams a -show_streams 5350-205002-0014.flac` gets the following info:
[code]

[2022-09-19 12:00] maxwellzh opened #2691 "torchaudio.sox_effects.apply_effects_file failed to load from `.mp3` format"
### 🐛 Describe the bug

Directly load `.mp3` audio with `torchaudio.sox_effects.apply_effects_file` will fail:

[code]

But `torchaudio.load` could make it:

[code]

### Versions

Collecting environment information...
PyTorch version: 1.12.1
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18

[2022-09-19 16:34] mthrok commented on #2555
Adding Tensor-based in-memory support to StreamReader in #2694

[2022-09-20 05:57] Kinyugo opened #2696 "Add support for Modified Discrete Cosine Transform (MDCT)"
### 🚀 The feature

The [Modified Discrete Cosine Transform  (MDCT)](https://en.wikipedia.org/wiki/Modified_discrete_cosine_transform) is a perfectly invertible transform that can be  used for feature extraction.  It can be used as an alternative to MelSpectrograms especially where an invertible transform is desired such as audio synthesis in a more compressed space.

### Motivation, pitch

I am wo

[2022-09-20 06:48] mthrok commented on #2696
Hi @Kinyugo

Welcome to torchaudio project, and thanks for the proposal.
This sounds a good addition to torchaudio. cc @pytorch/team-audio-core

Here is the general steps to add it to torchaudio.

1. Add stateless implementation (the base function) to `torchaudio.functional`. It seems that the implementation suits in [`functional.py`](https://github.com/pytorch/audio/blob/main/torchaudio/functiona

[2022-09-20 06:50] mthrok commented on #2691
Hi @maxwellzh

This is due to the change made in v0.12. Loading MP3 is now delegated to FFmpeg in TorchAudio, but `apply_effects_file` cannot do that. As an alternative, can you load the MP3 into Tensor and call `apply_effects_tensor` on it?

[2022-09-20 06:52] mthrok commented on #2696
Also please refer to [CONTRIBUTING.md](https://github.com/pytorch/audio/blob/main/CONTRIBUTING.md) for setting up the development environment.

[2022-09-20 06:58] maxwellzh commented on #2691
@mthrok `apply_effects_tensor `  is OK, as I said in the bug description

[code]

So I think torchaudio should deprecate `apply_effects_file` function or maybe at least update the document.

[2022-09-20 07:34] Kinyugo commented on #2696
@mthrok  Thank you for the guidelines on how to contribute.

About the implementation:
1. Borrowing an idea from other implementations, I think it is possible to define the operations using 1D convolutions so that we ditch the for loops.
2. The window as a callable is a convenience to allow the user to pass either `kaiser bessel derived` or `vorbis` window functions both of which will be implement

[2022-09-20 10:28] mthrok commented on #2685
When a source object is passed to `StreamReader`, the `StreamReader` parses the metadata, so it needs at minimum header data to be available. How it parses the metadata depend on the media format. In your case, you are passing `format='f32le'`, which is headless, so in theory passing empty BytesIO could work, but it is also possible that the parsing mechanism still attempts to read some data. (thi

[2022-09-20 10:52] Jackiexiao commented on #2685
yes, read and seek is happening in the constructor of `StreamReader`
[code]

[2022-09-20 11:18] Jackiexiao commented on #2685
it looks like we can't add more data to BytesIO after initialize StreamReader
[code]
still, `RuntimeError: Failed to process a packet. (Invalid argument).`

[2022-09-20 13:12] mthrok commented on #2685
The issue with the approach is that `StreamReader` detects EOF during the construction. Since the plain `io.BytesIO` object has `seek` method, `StreamReader` uses it to detect the EOF and mark it. You write to buffer object and extend the content after that, but `StreamReader` has already seen the original EOF, any data found after that is illegal.

To feed data interactively, you need to write cu

[2022-09-20 13:19] mthrok commented on #2685
For example; this will generate infinite noise.
Similarly you should perform buffer re-filling in `read` method.
Also note the lack of `seek` method, so that the behavior is true streaming fashion. No peeking ahead, no rewinding.
See https://pytorch.org/audio/stable/tutorials/streaming_api_tutorial.html#file-like-objects

[code]

[2022-09-20 13:39] mthrok commented on #2686
I don't remember exactly but IIRC you need to explicitly instruct `ffprobe` to sum up the number of frames somehow

Perhaps try something from https://stackoverflow.com/questions/2017843/fetch-frame-count-with-ffmpeg ?

[2022-09-20 14:02] BriansIDP commented on #2680
Hi @carolineechen. That's right. Thank you!

[2022-09-24 15:05] magicse opened #2709 "mp3 load problem"
### 🐛 Describe the bug

My code
[code]
Get error
raise RuntimeError(prefix + _ffi.string(err_str).decode('utf-8', 'replace'))
RuntimeError: Error opening './123.mp3': File contains data in an unknown format.

[code]

wavs files loading without any problem.
Also info about sound file
[code]
{'AIFF': 'AIFF (Apple/SGI)', 'AU': 'AU (Sun/NeXT)', 'AVR': 'AVR (Audio Visual Research)', 'CAF': 'CAF (Apple

[2022-09-24 18:38] magicse commented on #2709
After replacing libsndfile64bit.dll  in folder C:\Python38\Lib\site-packages\_soundfile_data\ from package libsndfile-1.1.0-win64.zip
mp3 load work well.
But I gen another issue. This code give me error
[code]

Error
[code]

[2022-09-28 07:35] magicse commented on #2709
https://github.com/pytorch/audio/pull/2712

[2022-09-29 00:49] izaitsevfb opened #2726 "Nightly torchaudio load_lib failure (windows, python 3.8, cuda 11.6 and 11.7)"
### 🐛 Describe the bug

Reproduction steps:
[code]

[code]
Observed in binary validation smoke test: https://github.com/pytorch/builder/actions/runs/3144504415/jobs/5112884720
Reproduced manually on CircleCI.

cc @weiwangmeta  @atalman @malfet

### Versions

[code]

[2022-09-29 18:56] lukasschmit commented on #2363
yah confirming `conda install ffmpeg=4.3 -c conda-forge` fixed this for me

[2022-09-29 19:12] izaitsevfb commented on #2726
This is the matrix we're evaluating:
* https://gist.github.com/izaitsevfb/805e1485aebac52778d28a555fb6cda3
* [HUD link](https://hud.pytorch.org/hud/pytorch/builder/main/1?per_page=1&name_filter=Validate%20nightly%20binaries%20(all%20OS)%20%2F%20validate-nightly-binaries%20%2F%20validate-windows-binaries%20%2F%20validate-windows-binaries-conda)

The issue is specific to windows, python 3.8, cuda 11

[2022-09-30 01:24] izaitsevfb commented on #2726
The issue was narrowed down to the broken cuda-nvtx (conda, windows) by @malfet.

[2022-09-30 12:13] datumbox opened #2729 "UnsatisfiableError on nightly py3.10-macos"
### 🐛 Describe the bug

Trying to install the latest nightly I get:
[code]

### Versions

[code]

[2022-09-30 15:46] nateanl commented on #2729
I couldn't reproduce this issue from my macos machine. It looks like the file for python3.10 is in https://anaconda.org/pytorch-nightly/torchaudio/files.
The specifications of python doesn't seem correct
[code]
Is there any recent change in conda? @malfet @atalman

[2022-09-30 18:00] malfet commented on #2729
@datumbox I think you need to update your python version, as all dev packages for `pytorch.1.13.0.dev20220822` are long gone from the repository

[2022-10-01 07:54] datumbox commented on #2729
@malfet I've tried that too yesterday and got similar issues while installing it together with audio:
[code]

[2022-10-01 15:09] malfet commented on #2729
@datumbox does it reproduces in a new environment?  Conda is known for producing hard to parse dependency errors, and it might be that the actual impediment for the update is a mixture of `conda` and `conda-forge` packages in the env.

[2022-10-02 18:47] 747929791 commented on #1902
Can this issue be solved by temporarily setting [<code>torch.enable_grad</code>](https://pytorch.org/docs/stable/generated/torch.enable_grad.html) at the call site or inside the function?

[2022-10-03 02:39] nateanl commented on #1902
`torch.enable_grad` works with `torch.no_grad`, but `torch.inference_mode` is more strict which doesn't record computation in the backward graph. Therefore the optimization inside `InverseMelScale` can't be run.

[2022-10-03 03:48] yilinw92 opened #2731 "unable to load torchaudio after installing torchaudio==0.12.0"
### 🐛 Describe the bug

**Problem description:**
I am trying to setting up environment on Nvidia Jetson Xavier NX, I have successfully make cuda, pytorch working since torch.cuda.is_available() is True. The problem occurs when I am trying to import torchaudio which I have already successfully installed and I think it is with the correct version 0.12.0 for torch 1.12.0

**Device:**
Nvidia Jetson Xa

[2022-10-03 06:37] mthrok commented on #2731
Hi - We do not provide pre-built binary that works with Jetson out-of-box. Torchaudio's pre-built binary only works with official PyTorch binary distribution. So I think you need to build torchaudio from source.

[2022-10-03 09:07] datumbox commented on #2729
@malfet Hard to tell. The problem disappeared on the latest nightly. The same above command, on my existing environment, works fine now. I suspect there might have been an issue with the Core binaries for 3.10 last week which is resolved using the ones produced during the weekend. I'll close the issue and keep an eye on it in case this is comes back.

Thanks a lot for the help and suggestions to s

[2022-10-03 09:07] #2729 closed

[2022-10-03 15:10] carolineechen commented on #2680
Hi @BriansIDP, sorry for the late reply -- I think we should be able to add this feature, but it likely won't be available as of the  upcoming release, probably the one after. I can update this thread when it becomes available in our nightly build

[2022-10-03 15:38] BriansIDP commented on #2680
Hi @carolineechen. Thank you for your reply! When do you reckon the nightly build would be ready for this? Thank you!

[2022-10-03 22:51] izaitsevfb commented on #2726
Update: missing `nvToolsExt64_1.dll` affects all windows conda builds of **pytorch** (not torchaudio).

This **torchaudio** issue (`FileNotFoundError: Could not find module 'C:\Miniconda\Lib\site-packages\torchaudio\lib\libtorchaudio.pyd' (or one of its dependencies). Try using the full path with constructor syntax.
`) seems to be caused/related to another missing DDL:  cudart.

[2022-10-03 23:15] izaitsevfb commented on #2726
Confirmed, adding `cudart64_110.dll` to conda env solves this issue. Should be fixed by pytorch/builder#1156

[2022-10-04 21:59] izaitsevfb commented on #2726
For the record, the "correct" way to fix (workaround) this is the following: https://github.com/pytorch/vision/pull/4893

[2022-10-05 16:41] carolineechen commented on #2680
I would estimate we can have it ready by Nov/Dec

[2022-10-06 16:13] #2726 closed

[2022-10-07 03:09] yilinw92 commented on #2731
I have flashed my sd card, and it seems like I am able to collect the results from collect_env file.
Collecting environment information...
PyTorch version: 1.12.0a0+2c916ef.nv22.3
Is debug build: False
CUDA used to build PyTorch: 11.4
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.5 LTS (aarch64)
GCC version: (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
Clang version: Could not collect
CMake version:

[2022-10-07 17:30] hwangjeff commented on #2524
Note that #2740 addresses this by having `info` load and scan the file object to compute the frame count. It affects only mp3 files and those of formats not handled by sox. If this behavior is not desired, one can use `StreamReader` directly instead for fetching the info.

[2022-10-09 16:13] volkovwashere opened #2743 "GTZAN dataset cannot be downloaded properly"
### 🐛 Describe the bug

# The issue
When trying to download the GTZAN dataset from torchaudio, the download fails every time due to connection timeout.

Snippet:
[code]

Error msg:
`URLError: <urlopen error [Errno 110] Connection timed out>`

Whereas every other torchaudio dataset downloads just fine.
My guess would be that probably the default url: http://opihi.cs.uvic.ca/sound/genres.tar.gz  is

[2022-10-10 11:50] fszatkowski commented on #2743
I have the same problem

[2022-10-10 20:18] carolineechen commented on #2743
Hi, thanks for bringing this to our attention. The issue lies with the original dataset download link, which is outside our control. We'll keep an eye out on this to see if it is resolved anytime soon, or else we may need to find a replacement download link if there is one available, or remove the download support for this dataset.

In the meantime, I would recommend downloading the dataset from a

[2022-10-11 16:31] carolineechen opened #2752 "[v0.13] Release Tracker"
[0.13 release branch](https://github.com/pytorch/audio/tree/release/0.13) for 0.13 has been cut. The latest common commit with main is [8418790](https://github.com/pytorch/audio/commit/841879099cedbe15addb7f19f17e276cab5bf535)

This issue is for keeping track of cherry-picks to the release branch

[2022-10-11 18:03] shoang22 opened #2753 "Torchaudio.load does not return Tensor"
### 🐛 Describe the bug

I'm using torchaudio.load() to load an audio file, and instead of getting back a Tensor (ie. tensor([[ 0.1612,  0.2587,  0.2292]], device='cuda:0')), I'm getting <torch.Tensor object at 0x7fcfd7ea0950>. Does anyone know what's causing this?

### Versions

torchaudio 0.12.1

[2022-10-11 18:18] carolineechen commented on #2752
#2747: fix windows python 3.8 loading

[2022-10-12 00:55] drscotthawley commented on #2363
Is there an easy to get this without conda? e.g. conda's not on Colab by default, but pip is.  pip's ffmpeg only goes up to v1.4.  Installing via `apt` on Colab gets:

[code]
[code]
[code]

[2022-10-12 01:12] drscotthawley commented on #2363
...Follow up: Nope. Even after installing `conda` on Colab, still getting the same error.

[code]

[2022-10-12 13:30] rbracco opened #2760 "torchaudio.sox_effects.apply_effects_file broken in 0.12.1"
### 🐛 Describe the bug

I have previously used this function to load audio and apply temporal effects, but upon upgrading to torch 1.12.1 and torchaudio 0.12.1 it no longer works. I stepped through in the debugger and `ret = torch.ops.torchaudio.sox_effects_apply_effects_file(path, effects, normalize, channels_first, format)` returns None. I am 100% sure the path is correct as `torchaudio.load(pat

[2022-10-12 13:53] nateanl commented on #2752
#2716: Improve initialization of wav2vec2/hubert model for pre-training

[2022-10-12 14:07] carolineechen commented on #2752
#2751: add metadata mode for LibriMix

[2022-10-12 18:04] nateanl commented on #2752
#2744 Improve hubert recipe for pre-training and fine-tuning

[2022-10-13 00:57] nateanl commented on #2753
@shoang22  Thanks for sharing the issue. Could you add a script and the audio file you use to reproduce the issue?
You can also share your pytorch and other conda environment via this script for better investigation
[code]

[2022-10-13 01:23] mthrok commented on #2363
On Google Colab, the following should install a supported FFmpeg.

‘’’
!add-apt-repository -y ppa:savoury1/ffmpeg4
!apt-get -qq install -y ffmpeg
‘’’

[2022-10-13 11:42] qanastek opened #2765 "RuntimeError: Failed to fetch metadata from sample3.mp3 on Version 0.12.1 of TorchAudio"
### 🐛 Describe the bug

Dear maintainers,

I update to the last LTS (`0.12.1`) version of `torchaudio` and using `torchaudio.info` raise exceptions now when loading metadata for MP3 files. I downgrade to `0.11.0` and `0.10.0` and both are working well.

**The following example return the exceptions :**

[code]

[code]

**Error (`0.12.1`) :**

[code]

**Normal output (`0.11.0` and `0.10.0` ) :**

[

[2022-10-13 14:01] mthrok commented on #2752
#2764 Update tutorial author information

[2022-10-13 16:52] sudosilico opened #2768 "torchaudio no longer installing successfully on Apple Silicon via pytorch-nightly"
### 🐛 Describe the bug

Our conda environment for Apple Silicon [suddenly stopped working yesterday](https://github.com/sudosilico/sample-diffusion/issues/7), seemingly due to a dependency conflict issue caused by `torchaudio`.

It seems that even the install command on pytorch.org currently fails, even in a freshly created conda environment:

[code]

Trying to install only `torchaudio` also doesn

[2022-10-13 19:29] shoang22 commented on #2753
So it seems that my problem was loading silent audio resulting in vectors of all zeros. This works fine on loaded audio with noise.

[2022-10-13 19:29] #2753 closed

[2022-10-13 20:17] carolineechen commented on #2752
#2763 Add gtzan download note (docs)
#2762 Add custom lm example to tutorial (tutorial)

[2022-10-14 12:54] nateanl commented on #2752
Fix fading in hybrid demucs tutorial #2769

[2022-10-14 13:54] mthrok commented on #2752
#2771 Fix leaking matplotlib figure

[2022-10-14 16:32] #2634 closed

[2022-10-14 17:17] sudosilico commented on #2768
Seems to have started working again this morning (which also happened to [#2729](https://github.com/pytorch/audio/issues/2729)).

[2022-10-14 17:17] #2768 closed

[2022-10-17 08:29] mthrok commented on #2752
#2773 Update resampling tutorial

[2022-10-17 17:16] rbracco commented on #2760
Oops, looks like this is a duplicate of #2691 which remains open

[2022-10-17 17:16] #2760 closed

[2022-10-17 17:19] rbracco commented on #2691
I also experienced this and agree with @maxwellzh's solution to deprecate apply_effects_file or fix the docs as this was an
unexpected breaking change for some of us, and will cause a confusing bug for others. Thank you both for work on this issue!

[2022-10-18 14:46] nateanl commented on #2752
#2774 Update description of HDemucs pipelines

[2022-10-19 12:15] vadimkantorov commented on #2586
also, unclear if currently global backend selection should be done in worker_init_fn...

[2022-10-19 12:20] nateanl commented on #2752
#2775 Add file_name to the returned item in Snips dataset
#2776 Add notes on file structure in Voxceleb1 based datasets

[2022-10-19 19:51] vadimkantorov commented on #2586
It also seems that pysoundfile has issues of reading opus, so the problem of correct resampling is a bit more pressing: https://github.com/bastibe/python-soundfile/issues/252

[2022-10-19 20:28] vadimkantorov opened #2780 "[docs] Two audio backends are available, not four as stated in docs"
### 📚 The doc issue

![image](https://user-images.githubusercontent.com/1041752/196797184-1d6ed7e4-aa10-4a63-82fb-840441aac1e9.png)

### Suggest a potential alternative/fix

_No response_

[2022-10-19 20:39] vadimkantorov commented on #2539
If a new Dataset abstraction is implemented into torchaudio, please consider known problems of storing data/strings as native python objects: https://github.com/speechbrain/speechbrain/issues/872

[2022-10-19 20:45] carolineechen commented on #2752
#2777 Update speech commands download path
#2778 Add iemocap dataset variants

[2022-10-20 11:56] vadimkantorov commented on #2780
Regarding an ffmpeg backend, it would be rather useful, currently both sox and soundfile don't seem to be able to read webm+opus audio files

[2022-10-20 11:57] vadimkantorov commented on #2780
ffmpeg backend would be useful, even just for info function

+ a feature request: info function should have an option to demux all packets and to return latest pts_time. Certain webm+opus files may not have a duration in headers

[2022-10-20 23:14] nateanl commented on #2752
#2781 Fix doc in torchaudio.backend

[2022-10-21 10:43] vadimkantorov commented on #2780
Any comments about ffmpeg backend in general? (it would also be nice to accept an explicit backend= argument to dispatching torchaudio.load to not rely on fishy global backend variables)

[2022-10-21 13:29] ezyang opened #2783 "Git repository is very big"
### 🐛 Describe the bug

torchaudio repository is over 7GB large. What the heck?!

[code]

Running git-fatfiles, I see a tar.gz repeatedly committed in the repo:

https://stackoverflow.com/questions/1029969/why-is-my-git-repository-so-big

[code]

Please don't commit tarballs into the repo, and please figure out if you can prune these objects from the repository (if they live in a branch, this shou

[2022-10-21 13:46] ezyang opened #2784 "Cannot find mkl libraries from conda"
### 🐛 Describe the bug

I have a build on a devfair of PyTorch with MKL installed by conda:

[code]

When I build torchaudio against this, it fails to link against mkl:

[code]

Inspection shows the compile command isn't being passed an appropriate -L flag to the conda environment's lib folder, explaining why it can't be found.

I can unblock my build with

[code]

but a better solution would be a

[2022-10-21 14:28] nateanl commented on #2784
Hi @ezyang, what is your mkl version? Previously we found the newest mkl caused some issue so we pinned the version to 2020.4 in https://github.com/pytorch/audio/pull/2486
Could you try with that version to see if it works?

[2022-10-21 14:39] nateanl commented on #2783
@malfet is right. The tar file is committed into `gh-pages` branch unexpectedly. I will make a fix now.

[2022-10-21 14:48] malfet commented on #2783
@nateanl mind if I'll just nuke part of gh-pages history?

[2022-10-21 14:50] ezyang commented on #2784
[code]

I'm pretty sure mkl version doesn't matter for this though

[2022-10-21 14:52] nateanl commented on #2783
No problem. Thanks for help.

[2022-10-21 16:50] malfet commented on #2783
Wow, it has been going on for the last 5 month...

[2022-10-21 17:17] nateanl commented on #2783
Awesome. Thanks @ezyang for sharing the issue and @malfet for the quick fix. I will close the issue when the tar file is removed in the nightly job.

[2022-10-21 17:24] nateanl commented on #2780
Hi @vadimkantorov, thanks for sharing the post. Since FFMpeg is cross-platform, it is not necessary to set it as a backend, instead users can use it via `torchaudio.io` class regardless of the types of operating system.

cc @mthrok is adding pts_time in the info function doable?

[2022-10-21 17:27] nateanl commented on #2780
That's right. It is mentioned in the backend doc and has a link to the PySoundFile webpage.

<img width="847" alt="image" src="https://user-images.githubusercontent.com/8653221/197254087-9a7638e5-c8cd-4ade-b4cb-76e941b66358.png">

[2022-10-21 17:40] nateanl commented on #2765
Hi @qanastek, mp3 metadata fetch and decoding are handled by FFMpeg in version 12.1. Therefore you need to install it from conda to fetch metadata for your mp3 file.

[2022-10-21 18:03] #2783 closed, assigned to nobody

[2022-10-22 00:22] Slyne opened #2788 "ctc decoder with word piece"
### 🚀 The feature

Hi,
I saw from this [tutorial](https://pytorch.org/audio/main/tutorials/asr_inference_with_ctc_decoder_tutorial.html#sphx-glr-tutorials-asr-inference-with-ctc-decoder-tutorial-py) that ctc decoder is supported by torchaudio.

But not sure if I miss something, there's a `usewordpiece` option mentioned in flashlight [post](https://github.com/flashlight/flashlight/tree/main/flashli

[2022-10-22 12:29] vadimkantorov commented on #2780
Well, it's more

How is backend / io-function API related to cross-platformedness? both sox and soundfile are probably also cross-platform. By backend I mean having a single interface of torchaudio.load / torchaudio.save / torchaudio.info being able to work with sox/soundfile/ffmpeg, where the library ("backend") can be chosen by the user.

Regarding fetching duration from pts_time of the last pac

[2022-10-22 12:30] mthrok commented on #2780
The backend was introduced to handle the situation where libsox is not available on Windows. This attempt IMHO was unsuccessful as the pysoundfile and libsox do not provide the same coverage, it made the library stateful, and it's hard to know what project sets what backend. So I am hoping to get rid of the backend somehow (and when doing so perhaps make the current backend implementation public A

[2022-10-22 12:31] vadimkantorov commented on #2780
I agree about being stateful as a bad design decision.

As a backend I mean only having a stable / similar load/save/info API supporting different IO libraries.

[2022-10-22 12:41] mthrok commented on #2780
The thing is we need to automate the build process. For this I obtained Windows machine and learned Windows development from scratch (and succeeded to automate FFmpeg-related CI job that was necessary to include FFmpeg features in binary distributions) but Windows support of libsox is not maintained well. It does not compile on recent Visual Studio. I believe the last VS version *the official buil

[2022-10-23 09:38] Kinyugo commented on #2696
@mthrok I managed to get a working vectorized implementation of the MDCT algorithm. However, I have trouble setting up the development environment on my local machine to open a PR. How do I go about it?

[2022-10-23 18:34] drscotthawley commented on #2363
What about on systems for which we don't have root access, and environments that use a pip (not conda) install?
In such cases, I am able to use librosa and an earlier version of ffmpeg to read MP3s,  but cannot manage to install a sufficiently high version of ffmpeg to get torchaudio to read MP3 files.

[2022-10-24 02:08] mthrok commented on #2363
For such environments, the availability of pre-built FFmpeg binary depends on the system. Some package managers such as [brew on linux](https://docs.brew.sh/Homebrew-on-Linux) work without admin privilege. If that does not work for your system, the last resort is to install FFmpeg manually. You can, for example, refer to the [GPU decoding tutorial](https://pytorch.org/audio/main/hw_acceleration_tu

[2022-10-24 02:18] mthrok opened #2790 "StreamWriter missing the last frame"
Videos written with `StreamWriter` are missing the last frame.

The following code writes 10 frames but `ffprobe` reports only 9 frames.

[code]

[code]

Checking the resulting video frames, it seems that the last frame is missing, regardless how many times chunks are written.

[code]

[2022-10-24 15:33] nateanl commented on #2765
Closed the issue. Feel free to reopen it if you still meet the issue.

[2022-10-24 15:33] #2765 closed

[2022-10-24 16:02] nateanl commented on #2686
Not sure if I use the command correctly, but when I run `ffprobe -v error -select_streams a:0 -count_packets -show_entries stream=nb_read_packets -of csv=p=0 5350-205002-0014.flac` I got only 48 as the output...

[2022-10-24 19:06] pooya-mohammadi opened #2792 "torachaudio.load does not load webm bytesio or _io.BufferedReader, but loads the file from hard drive"
### 🐛 Describe the bug

I have a `websocket` that receives chunks of data in a byte format. The browser encodes the data in `audio/webm` format. The code is like the following:

[code]

Manually writing the data to `audio.wav` and then reading the file using the following code works fine with no errors:

[code]

However, reading the file as a file object does not work:

[code]

It raises the follo

[2022-10-24 23:19] forresti opened #2793 "Multiprocessing error in Device ASR tutorial"
### 🐛 Describe the bug

I've tried running several of the torchaudio tutorials, and they work for me. But, I am hitting an error in this tutorial: https://pytorch.org/audio/0.12.0/tutorials/device_asr.html

The error is:
[code]

The code (copy/pasted from the tutorial) is:

[code]

### Versions

[code]

[2022-10-25 00:33] mthrok commented on #2793
Hi @forresti

Thanks for trying the tutorials. Glad to hear that they work fine for you.

Regarding the error you encounter, it is coming from Python's `multiprocessing` module. `multiprocessing` module passes target functions to the subprocesses by pickling and un-pickling them.

The `AttributeError` means that it could not find the object called `stream` in `__main__` scope.
However, this is puz

[2022-10-25 00:36] mthrok commented on #2792
Hi @pooya-mohammadi

This issue seems to depend on the data you are handling. Is it possible to share some sample data, which do not include any PII nor copyright issue? A complete silence is fine.

[2022-10-25 05:41] pooya-mohammadi commented on #2792
Hi @mthrok
[audio.zip](https://github.com/pytorch/audio/files/9857427/audio.zip)
It's a simple file(less than 1 second) that contains a little noise to make sure the mic were functioning correctly.

[2022-10-25 07:41] mthrok commented on #2792
Hi @pooya-mohammadi

The audio you shared is not WAV format, in fact, it is WebM format.

[code]

prints the following

[code]

and `ffprove audio.wav` reports;

[code]

`torchaudio.load` first attempts to read it with libsox, but it fails as WebM is not supported, and it re-tries with FFmpeg only when the source is file path. It cannot retry when the input is file-like object, as seek method is n

[2022-10-25 07:44] #2790 closed

[2022-10-25 10:00] pooya-mohammadi commented on #2792
@mthrok
Thanks for the detailed answer. It works fine. I could solve the issue like the following code snippet. However, I created a stream over the data which is generated from another streaming tool. I think this is not the most optimized way. Are you planning to add the support to `torchaudio.load` or something with similar functionality to read the whole file-obj data which is webm format in t

[2022-10-25 12:37] mthrok commented on #2792
I think you could do chunk-by-chunk decoding, which is more efficient, but not sure if this is what you want, as I do not know what application you are building.

To do chunk-by-chunk decoding, you can wrap the `socket` object into a synchronous file-like object.

[code]

Then passing it to `StreamReader` and let `StreamReader` pull the data.

[code]

[2022-10-25 12:48] mthrok commented on #2792
Note you can read in one-go with file-like object input. The `src` argument and how decoding is done is independent.

[code]

[2022-10-25 12:49] mthrok commented on #2792
I am going to close the issue, as this is not a bug with torchaudio.

[2022-10-25 12:49] #2792 closed

[2022-10-25 14:50] jtrmal commented on #2483
Hi guys, just pinging back, would there be any progress? I can help with implementing/testing

[2022-10-25 14:59] xiaohui-zhang commented on #2483
@BriansIDP can you share you progress here? Thanks!

[2022-10-25 15:04] BriansIDP commented on #2483
Hi @jtrmal and @xiaohui-zhang. I have implemented most parts of the code in Torchaudio. However, as the current RNNT loss only accepts logits rather than log probabilities, and TCPGen requires probability interpolation, a version of RNNT loss that accepts log probabilities as input (or just probabilities, so bypassing softmax in RNNT loss) is necessary. I think this loss is under implementation an

[2022-10-25 15:30] xiaohui-zhang commented on #2483
the "log-prob as input" is being addressed by @carolineechen. @carolineechen if possible, when you start working on it, please give a more accurate ETA here. Thanks!

[2022-10-25 16:17] carolineechen commented on #2788
Hi @Slyne, thanks for question. Word piece decoding is supported by default in the flashlight text decoder, so it should already be supported in the torchaudio ctc decoder as well (although it has not been formally tested yet). To use it with word piece, you would just need to ensure that the token set consists of word pieces, and that the lexicon is defined in terms of those word pieces.

The `--

[2022-10-25 22:21] Slyne commented on #2788
Thanks for the explanation, Caroline.
I've tested it. It works!
There's one sil_token and I just set it to blank token. Hope this is right.
Another thing that is irrelevant to this issue. It would be helpful if you could help me understand this.
In the tutorial, it says *The expected format of the lexicon file is a line per word, with a word followed by its space-split tokens.* The example gives t

[2022-10-26 08:39] agonzalezd opened #2795 "transforms.MelSpectrogram returns RuntimeError when power = None"
### 🐛 Describe the bug

I was trying to compute a complex MelSpectrogram, when kwarg `power = None`, as stated in the documentation.

This is a minimal reproducible example:

[code]

This is the raised exception:
[code]

### Versions

[code]

[2022-10-26 08:50] mthrok commented on #2795
Hi - `MelSpectrogram` does not support complex Tensor as Mel-scale conversion is usually defined/performed on power spectrogram. If you are applying conversion matrix to complex spectrogram, then you need to move melscale conversion matrix (created with `torchaudio.functional.melscale_fbanks`) to complex type and apply the conversion manually. like [here](https://github.com/pytorch/audio/blob/main

[2022-10-26 18:22] forresti commented on #2793
Thanks a lot for looking into this, @mthrok!

Here's an other clue... When I prints the "AttributeError" thing, the code doesn't exit, but I think the code does eventually hang.

When I hit the "stop" button in Jupyter (basically Ctrl+C), it always seems to stop at the following place in the code:

[code]

[2022-10-26 20:07] carolineechen commented on #2696
Hi @Kinyugo, you can refer to [Contributing.md](https://github.com/pytorch/audio/blob/main/CONTRIBUTING.md) to get started with dev environment set up and process. Feel free to let us know if you encounter any errors while doing so!

[2022-10-27 15:43] carolineechen commented on #2680
Hi @BriansIDP, I created a PR to add support for this in #2798. Unit tests seem to be passing, but I haven't gotten the chance to do testing in a training environment yet (busy w/ other work so might need 1-2 weeks). Could you take a look at the PR to see if the API makes sense for what you're looking for, and happy to hear any feedback on this if you get the chance to play around with it.

cc @xi

[2022-10-27 16:05] BriansIDP commented on #2680
Hi @carolineechen. Thank you so much for the implementation! Could you please help me by pointing to which API I should be looking at since I only found changed files on that PR? Also, I'd like to confirm, I have to pull from the branch called rnntl-log-probs and do setup.py again. I will be able to actually try this feature out next Month due to my current resource limitation, but I will update y

[2022-10-27 17:38] carolineechen commented on #2788
Hi @Slyne, great to hear it's working!

For the lexicon file, I don't believe the `|` character at the end is necessary, it is more so used to ensure correct word separation/boundaries. This [section](https://github.com/flashlight/flashlight/tree/main/flashlight/app/asr#lexicon-file) of flashlight docs gives a bit more info on that.

Adding multiprocessing support in our library is likely complica

[2022-10-27 17:57] carolineechen commented on #2680
I added the API usage to the PR description, usage should be similar to before, except you can call log_softmax on the logits outside of the rnnt loss function, and then pass in `fused_log_softmax=False` to the function argument to treat the input as log probs instead of logits. [[docs from the PR](https://output.circle-artifacts.com/output/job/b8ff73a2-b5ff-48c0-b633-5ea9ddd47429/artifacts/0/docs

[2022-10-27 19:03] #2788 closed

[2022-10-27 19:27] BriansIDP commented on #2680
Great! I think that's the feature I need. Thank you very much!

[2022-10-28 17:29] Kinyugo commented on #2696
Hello @carolineechen. I followed the steps in the contributing guide but ran into some problems installing the package i.e: `python setup.py develop`. While building `sox` I am running into an error:

[code]

[2022-10-28 19:43] carolineechen commented on #2593
Hi @Mddct, just to follow up on this, we were unable to get it out in time for release 0.13 which launched today (our current loss implementation fuses the log softmax which makes fast emit more complicated to implement), but we are still looking to add it (along with other RNNT loss improvements) in release 0.14. I'll keep this thread updated!

[2022-10-28 19:48] carolineechen commented on #2696
Hi @Kinyugo, can you post the full error message, as well as your environment, so we can get a better idea of what the error is?

To get the environment versions, you can use
[code]

[2022-10-28 23:26] mthrok opened #2806 "TorchAudio 0.13 release does not detect FFmpeg"
TorchAudio 0.13 binaries seems to have FFmpeg search path hardcoded. In 0.12, FFmpeg installed via conda-forge was detected properly, but it does not work with 0.13 binary.

## Repro:

1. Make a new conda environment
2. Install torchaudio and FFmpeg
[code]

## Error:

[code]

@malfet @seemethere @osalpekar

[2022-10-28 23:36] mthrok commented on #2806
The following part should be handling the RPATH, is it possible that `if "$(uname)" == Darwin` is not triggered in the build job?

https://github.com/pytorch/audio/blob/86d596d37d0e591d34c86375d516243c21a8ce8e/packaging/ffmpeg/build.sh#L74

https://github.com/pytorch/audio/blob/86d596d37d0e591d34c86375d516243c21a8ce8e/.github/workflows/build-m1-binaries.yml#L63

[2022-10-29 02:58] adamjstewart opened #2807 "Build issue: socket.gaierror: [Errno 8] nodename nor servname provided, or not known"
### 🐛 Describe the bug

I'm trying to install TorchAudio 0.13.0 from source but I encounter the following build error:
[code]
See below for the full build log:

* [build log](https://github.com/pytorch/audio/files/9892698/spack-build-out.txt)

Has anyone seen anything like this before?

### Versions

Script doesn't run on my system (I don't have pip installed), but here are some commonly requested

[2022-10-29 03:15] mthrok commented on #2807
Looks like network issue. Can you download https://ftp.osuosl.org/pub/xiph/releases/ogg/libogg-1.3.3.tar.gz and put it in `third_party/archives/libogg-1.3.3.tar.gz`?

[2022-10-29 03:23] Kinyugo commented on #2696
**Full Error Message**
[code]

**Environment**
[code]

[2022-10-29 04:10] adamjstewart commented on #2807
Looks like it was a transient network issue, it's working fine now. Sorry for the noise!

[2022-10-29 04:10] #2807 closed

[2022-10-29 15:53] carolineechen commented on #2696
could you try downgrading mkl to version 2021.2.0, and then running
[code]

[2022-10-29 16:34] Kinyugo commented on #2696
The issue is still persistent.

[2022-10-30 10:12] henryleemr commented on #408
Hi, just following up if `torchaudio` is available on React Native now..? @mthrok @vincentqb @dkashkin Trying to do something like this:
[code]

All on a React Native app :)

[2022-10-31 04:14] jeffxtang commented on #408
@raedle may know if torchaudio is available on React Native.

Btw, both the [iOS](https://github.com/pytorch/ios-demo-app/tree/master/StreamingASR) and [Android](https://github.com/pytorch/android-demo-app/tree/master/StreamingASR) streaming ASR demo apps using PyTorch 1.12 and torchaudio 0.12 were updated in July.

[2022-10-31 04:52] raedle commented on #408
@jeffxtang it depends. Generally, if it is possible in native Android and iOS, then it is theoretically possible in React Native.

I did a quick check on the PyTorch Android/iOS demo apps but couldn't see any dependency to torchaudio in the app. How is the audio converted to tensors?

[2022-10-31 05:57] henryleemr commented on #408
Yeah, i couldn't find the part of the code where we take a stream of audio from react native, and convert it tensors, or the part that converts the raw audio streams into Mel Spectrograms, anybody got a clue?

[2022-10-31 11:52] jdariasl commented on #2103
Hi @mthrok, it's been a while since your comment about making a PR to include the Bark Spectrogram into torchaudio, and there has not been any response. I have implemented it, may I make a PR?

[2022-10-31 15:59] raedle commented on #408
@henryleemr PlayTorch doesn't support audio streaming. Do you have an end-to-end example for either iOS or Android w/o React Native?

I might be open looking into this for PlayTorch, which would enable others using audio streaming in the future

[2022-10-31 18:43] Vedaad-Shakib commented on #2363
None of the previous advice was working for me (ffmpeg=4.3, torchaudio=0.12.1). I upgrade ffmpeg to version 5.1.2, and now I can load mp3 files.

[2022-10-31 22:55] jramapuram commented on #2784
This is indeed breaking builds from source @nateanl and I agree with @ezyang that it is unrelated to the version.

MKL is found:
[code]
But fails during linkage:

[code]

[2022-11-01 00:07] seemethere commented on #2806
So issue doesn't appear related to either of those files, checked the output of `ffmpeg/build.sh` on `release/0.12` and `release/0.13` so couldn't be either of those files.

Can also verify that wheels are not affected as well.

[2022-11-01 03:03] seemethere commented on #2806
Also can't reproduce this when I build the package locally using the same script we provide so not entirely sure what the issue could potentially be.

Might be related to conda versions?

[2022-11-01 13:45] #2752 closed

[2022-11-02 04:26] henryleemr commented on #408
Ah cool! So if I were to say, use DenseNet for the spectrogram (Which is just an image), I can do something like this?

[code]

Correct me if I am wrong, once we've exported the model trained using this class into a `.ptl` model file, we can just use the usual react native methods to load the model and pass raw audio streams into this model and the Mel Spectrogram transformation logic would be app

[2022-11-02 04:41] jeffxtang commented on #408
Based on how the model that implements the melspec transform is used in the iOS & Android apps, yes that's correct.

@hwangjeff @mthrok can you please double confirm?

[2022-11-02 14:43] mthrok commented on #408
yeah, the script looks good to me.

[2022-11-02 22:06] seemethere commented on #2806
Upon further investigation I believe this might be related to otool versioning on the m1 instances themselves.

For my local otool I get the following:
[code]

For the AWS instance I get:
[code]

I've submitted https://github.com/pytorch/audio/pull/2828 which should hopefully resolve, need to monitor though

[2022-11-02 22:58] #2806 closed

[2022-11-02 23:05] mthrok commented on #2793
The error is happening at multiprocessing queue.
The error suggests it's more about environment rather than torchaudio.
Can you remove all the torchaudio code and see what happens?

Also perhaps can you try outside of Jupyter notebook?

[2022-11-03 17:13] carolineechen commented on #2696
Hi @Kinyugo, sorry for the late reply, looks like this might be related to #2784 and we have a team member looking into this, hopefully it can be resolved soon and we'll update this issue when it is.

As you already have a working version offline, if you would like, it might also be possible for you to create a draft PR anyways in the meantime [but harder to verify if tests compile/pass locally],

[2022-11-03 18:12] Kinyugo commented on #2696
Hello @carolineechen, I will look into creating a draft PR, as I would also appreciate some feedback on some design choices that I made.

Godspeed on resolving the issue. Thanks for your support.

[2022-11-04 01:01] mthrok opened #2830 "StreamWriter does not handle decimal point frame/sample rate properly"
`torchaudio.io.StreamWriter` rounds decimal point frame rate.
The following code inputs FPS: 5000 / 167 (29.94), but produces 29.

[code]

[code]

For audio it does not even handle decimal point.
Note: [`AVCodecContext.sample_rate`](https://ffmpeg.org/doxygen/4.1/structAVCodecContext.html#a8ff0b000c463361e234af48d03aadfc0) is integer, so it's not supported by FFmpeg??

[code]

[2022-11-04 12:10] NicolasHug opened #2832 "'_OpNamespace' 'torchaudio' object has no attribute 'cuda_version'"
Not sure if I'm doing something wrong, but I can't get torchaudio to run after compiling from source. The command I used is `BUILD_SOX=0 BUILD_RNNT=0 BUILD_CTC_DECODER=0 python setup.py install -v` and it finished without errors. But when importing `audio`, I'm getting the following warning and errors:

[code]

Env details:

<details>

[code]

</details>

[2022-11-04 16:52] ezyang commented on #2784
This also affects the AWS cluster, and I also noticed I needed to explicitly link against libiomp5

[code]

[2022-11-05 00:40] #2830 closed

[2022-11-07 21:54] mohame54 opened #2834 "torcaudio.functional.rnnt_loss input_length mismatch"
### 🐛 Describe the bug

def loss(self,audio_feat,feat_lens,target,target_lens):
          """
         audio_feat: mel_spectrogram,
        feat_lens :mel_length before padding
         target: target_seq
         target_lens: target sequence length before padding
         """

          x,lens = self.encoder(audio_feat,feat_lens)
          y = self.decoder(target)
          joint_out = self.joint

[2022-11-08 01:37] hwangjeff commented on #2834
Can you provide the stack trace and reproduction steps?

[2022-11-08 01:57] hwangjeff commented on #2832
@NicolasHug I suspect what's happening is that, because your current working directory is `audio`, the `torchaudio` subdirectory is given precedence when you run `import torchaudio`. But, `python setup.py install` installs torchaudio in your Conda env's site-packages directory, so none of the compiled shared object files exist in that `torchaudio` subdirectory, hence triggering that warning and er

[2022-11-08 02:14] mthrok opened #2835 "DDSP components in TorchAudio"
Differential Digital Signal Processing (DDSP) is a technique proposed by the Google Magenta team. [[repo](https://github.com/magenta/ddsp), [papers](https://github.com/magenta/ddsp/tree/main/ddsp/training/gin/papers)].

It provides powerful generative methods that take advantage of the structure of sound based on Fourier analysis.
The paper has over 200 citations and is being applied to different

[2022-11-08 06:58] mohame54 commented on #2834
I want to train a transducer model for speech recognition task first , I extract the mel spectrogram from audio signal  considering the spectrogram length in my training then I encode label using hugging face tokenizers also considering the label lengths, The encoding goes like this first I encode the label then I prepend the null token and finally padding the labels

[2022-11-08 06:59] mohame54 commented on #2834
I could show you my colab if you want

[2022-11-08 07:04] mohame54 commented on #2834
I'd like to note that my encoder network is a Conformer network that do conv sampling before applying the attention mechanism hence I reduce  the time axis or the audio feature length  during training to avoid memory crashes

[2022-11-08 10:10] wciurzynski opened #2837 "Support Python 3.11"
### 🚀 The feature

Currently Python 3.11 is not supported and cannot install torchaudio for Python 3.11.
Torch is already available for Python 3.11.

### Motivation, pitch

Python 3.11 has huge optimization and is faster. Upgrading to newest Python is not possible for some project without torchaudio compatibility.

### Alternatives

_No response_

### Additional context

_No response_

[2022-11-08 17:58] mthrok commented on #2837
Python 3.11 is not fully supported by PyTorch core yet. https://github.com/pytorch/pytorch/releases/tag/v1.13.0
Only basic functionalities work.
the core team is working to fully support it.
Once PyTorch supports 3.11, the team will add 3.11 support to torchaudio.

[2022-11-09 10:34] NicolasHug commented on #2832
Ah yes, I wanted `develop` instead of `install`. Thanks a lot @hwangjeff  !

[2022-11-09 10:34] #2832 closed

[2022-11-09 15:53] desh2608 commented on #2483
I am not super familiar with TCPGen, but my understanding was that directly using logits in the RNN-T loss (with "function merging") saves a lot of memory since you don't have to store 3 large tensors for backprop. I believe most implementations pass logits and modify the RNN-T formulation accordingly for this reason. Would going back to probs (or log-probs) mean giving up on these memory savings?

[2022-11-09 16:35] lukeellison opened #2838 "Torchaudio.datasets.COMMONVOICE loader doesn't handle quotes correctly"
### 🐛 Describe the bug

...Or rather, it handles them correctly according to how a .tsv should be handled but the file doesn't.

Basically the .tsv files for the commonvoice dataset contains sometimes unmatched quotes as a part of the sentence. The `torchaudio.datasets.COMMONVOICE` loader found here: https://pytorch.org/audio/0.7.0/datasets.html#commonvoice
takes (correctly) as a way of escaping t

[2022-11-09 17:01] carolineechen commented on #2483
@BriansIDP @xiaohui-zhang just and update that log probs support is enabled in #2798; it should be available in the nightly/source builds of torchaudio.

@desh2608 this is a good point -- the original implementation directly uses logits with function merging as mentioned in [this paper](https://github.com/pytorch/audio/pull/2798) which helps to reduce memory. This option is still the default and i

[2022-11-09 17:09] #2680 closed

[2022-11-09 19:36] BriansIDP commented on #2483
Thank you very much @carolineechen for addressing this quickly! Thank you @desh2608 for pointing this out. At the moment TCPGen has to do with probabilities rather than logits, but I will work on this in the future to see if it is possible to take function merging into consideration.

[2022-11-11 03:37] yyd19948 commented on #226
I repeat the preempsis and deempsis，but it can not recover the orignal signal.

[2022-11-12 03:05] Epiphero commented on #2154
I'm struggling with this too.  I've tried verbose(1), and I've even tried redirecting STDERR, but I can't get it to go away.  Trying to use this for augmentation leaves me with millions of these messages in my logs.  Any fix would be appreciated.

Having poked around int he source, it seems to be the saving to GSM format that's causing the problem, so a minimal piece of code to reproduce the probl

[2022-11-13 02:22] pyf98 opened #2845 "HuBERT example: 'ConvolutionalPositionalEmbedding' object has no attribute 'kernel_size'"
### 🐛 Describe the bug

I tried to pre-train the HuBERT model using the provided example, but encountered this error:

[code]

In [`_init_hubert_pretrain_model`](https://github.com/pytorch/audio/blob/main/torchaudio/models/wav2vec2/model.py#L690), `module.kernel_size` is used, but this attribute does not exist in the [`ConvolutionalPositionalEmbedding`](https://github.com/pytorch/audio/blob/main/t

[2022-11-13 02:43] nateanl commented on #2845
Hi @pyf98, thanks for reporting the issue. It was caused by #2716. I will make a fix for it.

[2022-11-13 02:47] pyf98 opened #2847 "dtype mismatch when using amp for HuBERT pre-training"
### 🐛 Describe the bug

I tried to pre-train the HuBERT model with automatic mixed precision `amp`. I made two changes to enable amp training:

First, I added a new argument in [`_parse_args`](https://github.com/pytorch/audio/blob/main/examples/hubert/train.py#L82) for precision:
[code]

Then, I passed the argument to the [`Trainer`](https://github.com/pytorch/audio/blob/main/examples/hubert/train

[2022-11-13 02:49] pyf98 commented on #2845
Thanks for the quick fix!

[2022-11-13 03:08] nateanl commented on #2847
It's very interesting that amp can't detect `mask_embedding` and auto cast the dtype.
Before we use the solution `x[mask_indices] = self.mask_embedding.to(x.dtype)`, could you try with registering `mask_embedding` in the module? something like `self.register_parameter("mask_embedding", mask_embedding)`, to see if that helps?

[2022-11-13 03:29] pyf98 commented on #2847
I changed it to the following, but still had the same error.
[code]

The PyTorch [documenation](https://pytorch.org/docs/stable/amp.html#cuda-ops-that-promote-to-the-widest-input-type) mentions this op `index_put`. I'm not very sure how this op is handled exactly.

[2022-11-13 03:32] pyf98 commented on #2847
BTW, it might be good to support `amp` training in the provided example if it does not cause numerical issues.

[2022-11-13 03:38] nateanl commented on #2838
Hi @lukeellison, in the source code (https://pytorch.org/audio/0.7.0/_modules/torchaudio/datasets/commonvoice.html#COMMONVOICE) the columns are split by `\t`, could you elaborate how the quotation will affect the transcriptions?

[2022-11-13 03:40] nateanl commented on #2838
The method `unicode_csv_reader` in 0.7 has been removed in the latest release, you can try and verify the result by using the latest torchaudio library via https://pytorch.org/get-started/locally/

[2022-11-13 18:38] nateanl commented on #2847
`amp` is supported by default in the current example (https://github.com/pytorch/audio/blob/main/examples/hubert/lightning.py#L250), I set `enabled=False` that's why I didn't notice the embedding dtype issue. I think using the pytorch lightning api is better so that users have a choice to use amp or not.

[2022-11-14 01:11] nateanl opened #2849 "cmake failure when building zlib in Windows"
### 🐛 Describe the bug

I tried to build torchaudio from source on Windows machine. The nightly pytorch is installed via pip. When running the command `call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat" && set BUILD_SOX=0 && python setup.py develop`, it throws an CMake error as follows:
[code]
Is there any library that I missed in my environment?

[2022-11-14 16:50] carolineechen commented on #2103
Added as a prototype feature in #2823 and #2843

[2022-11-15 01:10] nateanl commented on #2845
Fixed in #2846, let me know if you meet any other issue.

[2022-11-15 01:10] #2845 closed

[2022-11-16 07:44] DanTremonti opened #2855 "Limit StreamReader to use a specifed number of cores"
### 🚀 The feature

### Impact of number of cores on StreamReader's performance:

Unlike `torchaudio.load`, the time taken by `StreamReader` to load an audio files (`.opus` files specifically) varies a lot from machine-to-machine. The inference is that, this variation (in loading time) is related to the number of cores in the machine as well as the length of audio samples.

Given the high expense o

[2022-11-16 17:46] mthrok commented on #2855
Hi

Thanks for the detailed report. Could you try passing `decoder_option={"threads": "NUM_THREADS"}` to `add_XXX_stream` and see if that makes difference?

Looking at the source code of the ffmepg CLI ([`ffmpeg`](https://github.com/FFmpeg/FFmpeg/blob/822da7a31746b8a5ec92c854b52bc767e6e98e8a/fftools/ffmpeg.c#L2579-L2593), [`ffplay`](https://github.com/FFmpeg/FFmpeg/blob/822da7a31746b8a5ec92c854b52

[2022-11-17 05:11] DanTremonti commented on #2855
Thank you for the suggestion. I tried
[code]
But the CPU usage is constant (~600%) for num_threads: 1,2,4,8 in a machine with 12 cores. The time taken to load the files also did not change.

[2022-11-18 21:33] #2280 closed

[2022-11-18 21:34] nateanl commented on #2847
fixed by #2854

[2022-11-18 21:42] nateanl commented on #2686
Addressed by #2810, after changing the `buffer_size` from 4096 to 4100, the shape of the waveform is correct (`torch.Size([1, 194160])`). Will change it to 8000 in case the buffer is not large enough.

[2022-11-18 21:42] #2686 closed

[2022-11-20 03:32] ezyang commented on #2784
I got fed up with this and found a less horrible hack that fixes it https://github.com/pytorch/pytorch/pull/89359

[2022-11-21 08:52] Tungway1990 opened #2867 "read mp3 file"
### 🐛 Describe the bug

I am trying to load commonvoice mp4 files using torchaudio with below code:
[code]

I get an empty output:
[code]

I find the root cause in file soundfile_backend.py
[code]
by changing float32 to float64, the array can be generated
[code]

Attached a mp3 file for your reference
[common_voice_zh-HK_20096730.zip](https://github.com/pytorch/audio/files/10054805/common_voice_zh

[2022-11-21 08:58] #2784 closed

[2022-11-22 19:08] njb commented on #982
While we wait for native PyTorch integration, folks can checkout https://github.com/adobe-research/convmelspec which will implement (Mel)spectrograms via 1D conv layer to both ONNX and CoreML (and as a second option CoreML MIL ops).

[2022-11-22 23:16] Onyoursix opened #2870 "Floating point exception (core dumped) on torchaudio.load"
### 🐛 Describe the bug

Python is crashing when I load certain files with torchaudio. It seems to be fairly random and I'm not sure what is causing the issue. Typically, I download the files and load it from disk, however, the same issue happens with the same files when streamed. Here is a example of a file that actively crashes python.

I can download the file and it seems to be a working/playabl

[2022-11-23 18:39] Justinfungi opened #2872 "AttributeError: module 'torchaudio._internal.module_utils' has no attribute 'requires_sox'"
### 🐛 Describe the bug

I am trying to import torchaudio.

The bug "AttributeError: module 'torchaudio._internal.module_utils' has no attribute 'requires_sox'" occurs

My code
[code]

Traceback

[code]

I have use it in my another code, but same result

The method I have tried:

1.Reinstall pytorch
2. Update torchaudio

But it doesn't work

### Versions

Collecting environment information...
PyTor

[2022-11-25 02:28] bagustris commented on #877
I am supporting this feature request.

Although the conversion from stereo to mono can be done in just a few lines of code and or using other libraries, having the same pattern would make the overall audio processing workflow easier and more consistent (e.g., the type and format of output [tensor vs. array, int64 vs float32], methods of converting [mean or first channel or second channel], etc).

[2022-11-27 03:02] carolineechen commented on #2870
When I try rerunning the script with `stream=False` to debug, I end up with the following error, indicating that ffmpeg is unable to pick up on the format of the file

[2022-11-27 03:02] carolineechen commented on #2870
``

[2022-11-27 03:16] carolineechen commented on #2872
Hi @Justinfungi, what does `print(torch.__version__)` print out? Seems the environment has both `pytorch 1.7.1` and `torch 1.13.0` installed, along with `torchaudio 0.13.0`.

On my end, I don't seem to be able to reproduce this error. Could you try reinstalling torch and torchaudio on a fresh environment and trying again? Either `conda install pytorch torchaudio -c pytorch` or `pip install torch t

[2022-11-27 20:58] mthrok commented on #2872
This happens in notebooks when users update torchaudio and attempt to re-import it without restarting the notebook kernel.

https://github.com/pytorch/audio/issues/1632

[2022-11-27 21:38] mthrok commented on #2870
Floating point exception suggests there was zero-division.

Uploading the file to metadata2go.com give [the following result](https://www.metadata2go.com/result/9fe7f23c-cfef-4905-8785-177a93038b2a).

[code]

Two noteworthy points here
 - the encoding is ADPCM, not the regular PCM.
 - 41-44 bytes of the raw header are all zero, according to the [WAV format specification](https://isip.piconepress.c

[2022-11-28 03:34] Xavier-i commented on #982
very cool solution, you guys should publish it to pypi!

[2022-11-28 05:47] mthrok commented on #2855
@DanTremonti Could you show equivalent ffmpeg commands to test the threading for your OPUS decoding case? I remember reading about ffmpeg threading behavior being inconsistent across decoders. The reference 1 and almost all ffmpeg performance talks are about video processing. It's easier for me to find the right nob if there is a reference ffmpeg command.

[2022-11-29 16:21] mthrok commented on #2867
Hi @Tungway1990

Thanks for the report. This issue is originated from soundfile package.

I can reproduce this with bare soundfile.

[code]

[code]

A similar issue is already reported, and the root cause seems to be libsndfile.
https://github.com/bastibe/python-soundfile/issues/349

We could make special treatment for mp3, and load it as float64 once, then convert it to float32 if necessary.
@pyt

[2022-11-30 01:40] Tungway1990 commented on #2867
Yup, I agree with you this is the third party issue

[2022-11-30 01:58] Unlicensed-driver-ljx commented on #2022
Have you solved it? I have met

[2022-11-30 02:32] Unlicensed-driver-ljx commented on #2014
ninhaojiejuelma