[2020-03-09 14:52] peterjc123 commented on #425
@vincentqb BTW,  users can only read a file using audioread, but not write. If we want to create a new backend like `sndfile` and `sox`, we'd better choose something else.

[2020-03-09 14:59] vincentqb commented on #425
Let's list the requirements for a backend:
* Easy installation with torchaudio for the user in windows (for this PR).
* Read and write wav/mp3/flac whole files, or at specified location of a file.
* Optional: Perform well in this [benchmark](https://github.com/faroit/python_audio_loading_benchmark).

@peterjc123 -- Please do let me know if I forget anything in this list. Do you know any other back

[2020-03-09 15:08] faroit commented on #425
* ability to set seek position/ get chunk

[2020-03-09 15:18] faroit commented on #425
@vincentqb

There is no functional python/numpy interface yet [see status of minimp3](https://github.com/pyminimp3/pyminimp3), so I used the implementation [recently added to tf.io](https://github.com/tensorflow/io/pull/801). The performance looks incredible:

![benchmark_tf](https://user-images.githubusercontent.com/72940/76228163-a7af9900-6220-11ea-839d-4fcc8709c8c1.png)

(ar_ffmpeg is audioread

[2020-03-09 15:23] faroit commented on #425
@vincentqb @peterjc123

I totally agree with you. FFMPEG is going to painful. But I don't think there is any other alternative to support a large number of formats.

That's why I think we should have some fast decoder-only alternatives for a limited number of formats (useful for training). I am still in favor of removing sox and just go sndfile/minimp3 for this scenario. Then ffmpeg for writing an

[2020-03-10 10:45] faroit commented on #384
@PetrochukM Yes, maybe 32ms (fft = 512) would be a better fit with respect to performance as pointed out by @keunwoochoi

[2020-03-10 15:45] #447 closed

[2020-03-10 22:03] vincentqb commented on #458
Hi! Thanks for asking :) Yes, we are currently working on extending complex number support, see [here](https://github.com/pytorch/pytorch/issues/33152) on pytorch core repository to track the current work.

An item that is more specific to torchaudio is the replacement of sox, see [here](https://github.com/pytorch/audio/issues/260). Are there specific things you would like to see happens or even c

[2020-03-11 13:49] mpariente commented on #458
Thanks for your answer.

Thanks for the pointer, I'll be watching closely.

About sox, this is very ambitious and it sounds very nice ! :-)

[2020-03-11 14:00] vincentqb commented on #458
Great! I'll close this issue, but please feel free to re-open if you want to continue the discussion :)

[2020-03-11 14:00] #458 closed

[2020-03-12 00:56] cpuhrsch commented on #425
On ffmpeg, I'd like to add the idea that, in general, we want backends to be opt-in.

By default we should pick a light library that works for most common formats and then allow the user to switch to different backends (such as ffmpeg) for either performance or features.

Figuring out how to setup this backend dispatch mechanism could probably resolve many of the discussions here. Essentially we w

[2020-03-12 11:17] bhargavkathivarapu commented on #260
Hi , I am new to pytorch, want to contribute . I went through some Sox effects code and tried implementing them using pytorch . But i  noticed that some of existing functions in torchaudio.functional are 1000x slower than corresponding Sox effects . Below is the code i used to compare the equalizer effect (biquad)

[code]
I got below output :
[code]
Input file - https://www2.cs.uic.edu/~i101/Sound

[2020-03-12 14:19] vincentqb commented on #425
Right, although the current choice for globack runtime backend dispatch, we do not support mp3 for windows. One option is to switch default global backend to something that also supports mp3 for windows. Another is to add a file-format-dependent dispatch.

The former would favor going all-in with ffmpeg. The latter favors minimp3.

Based on feedback above from @faroit and @cpuhrsch, the latter is

[2020-03-13 15:31] vincentqb commented on #121
Since this issue is about an older version, and users appear to have fix it, I will close it. Please feel free to re-open if the issue persists.

[2020-03-13 15:31] #121 closed

[2020-03-17 17:54] vincentqb commented on #260
@bhargavkathivarapu -- Thanks for providing the comparison! Given that pytorch is a framework that provides quite a big of deep learning oriented features (e.g. gpu, autograd, jit), we need to expect a cost compared against to a pure C++ implementation. For instance, you can also see another experiment [here](https://github.com/pytorch/audio/pull/290). That being said, once we have the desired fea

[2020-03-19 21:08] mthrok opened #466 "Refactor tests into small test suits"
## 🚀 Refactor tests into small test suits.

As suggested/discussed in some [PR](https://github.com/pytorch/audio/pull/448#discussion_r385953906), I would like to clean up how unit tests are organized, parameterized and ran.

## Motivation

Functionalities in `torchaudio` have many common test patterns, such as, comparison against `librosa`, jit-ability and batch consistency. So if a function has n

[2020-03-20 09:34] tomassosorio commented on #466
I had the same problem, even in my first PR I missed some tests, and some transformations are missing some tests. Also when looking at how the methods work, is also difficult to understand since test are sometimes all mixed up (especially when comparing with librosa).

coverage tests would be also useful and documentation tests such as using for example pydocstyle.

Due the extensity of tests that

[2020-03-20 10:01] brianc118 opened #467 "Reverb effect - Error in `python': corrupted double-linked list"
## 🐛 Bug

Getting "Error in `python': corrupted double-linked list" error.

I can't find example usages of the reverb effect elsewhere but this I believe this is the right usage (otherwise SoX should throw an error).

## To Reproduce

Steps to reproduce the behavior:

[code]

Backtrace: https://gist.github.com/brianc118/05519d0242286fdddfbebe28c722bd06

## Environment

[code]

[2020-03-24 04:39] tuxzz opened #471 "`torchaudio.functional.istft` is even slower than IDFT implemented by ConvTranspose1d"
## 🐛 Bug

Current implemention of `torchaudio.functional.istft` has two `(in_channel=n_fft, out_channel=1, kernel_size=n_fft,)` identity ConvTranspose1d, and 1 ifft for each frame.
A simple real IDFT implemention using ConvTranspose1d only uses single (in_channel=2 * n_bin, out_channel=1, kernel_size=win_size,) ConvTranspose1d, which has less than 0.5x computational complexity compared to `torchau

[2020-03-24 06:28] tuxzz commented on #471
Possible solution: replace identity `ConvTranspose1d` with `torch.nn.function.fold`
Example:
[code]

[2020-03-24 14:44] mthrok commented on #471
Hi @tuxzz

Thank you for raising the issue and PR.

I added my benchmark [here](https://github.com/pytorch/audio/pull/472#issuecomment-603279991).
If you would like to add comment, please do so.

[2020-03-24 17:25] vincentqb commented on #466
I'm leaning for organizing by type of test. As mentioned by @cpuhrsch offline, some type of tests can essentially be generated automatically.

[2020-03-24 17:31] vincentqb commented on #466
Also, for now, since most of our tests are based on unittest and pytorch uses unittest, I'd lean for unittest over pytest.

[2020-03-24 17:35] vincentqb commented on #466
My dream would be to use `black` on all files, but that will lead to quite some merge conflicts :) and it'll make the code somewhat harder to git blame.

I'd consider cleaning with `flake8` a good first step. By the way, fbcode complains of some `flake8` violation that we should address eventually, see [internal](https://our.internmc.facebook.com/intern/diff/D20011052/) :)

[2020-03-24 18:05] vincentqb commented on #471
Closed by #472

[2020-03-24 18:05] #471 closed

[2020-03-24 18:11] vincentqb commented on #467
I can't reproduce the same error, but I do get a segmentation fault and/or an error.

[code]

[code]

[2020-03-24 18:15] vincentqb commented on #467
Do you have the corresponding command in sox that works?

[2020-03-24 22:18] tomassosorio commented on #467
I just tried running your code @vincentqb and it did not occur any error to me.

Using:
macos: Mojave 10.14.6
sox: 14.4.2_3
torchaudio:  0.4.0

[2020-03-24 22:29] tomassosorio commented on #467
Trying to replicate the error running the snipped from @vincentqb, it produced the effect correctly.

Using:
macos: Mojave 10.14.6
torchaudio: 0.4.0
sox: 14.4.2_3

[2020-03-25 00:27] aconneau commented on #252
I still have the same issue in version 0.4.0. Any update on this?

[2020-03-25 22:09] vincentqb commented on #252
The issue still exists on master.
[code]
[code]

A workaround that does not reproduce exactly the original signal is to use `torch.clamp` and set `precision` when saving.

[code]

[code]

![Figure_1](https://user-images.githubusercontent.com/3047868/77590225-a5f20080-6ec3-11ea-85ea-114b8c5f4a84.png)
![Figure_2](https://user-images.githubusercontent.com/3047868/77590227-a68a9700-6ec3-11ea-9ce9-eb86

[2020-03-25 22:21] vincentqb commented on #310
This issue should be resolved by #314. I will close this issue, but please feel free to re-open if this is not the case.

[2020-03-25 22:21] #310 closed

[2020-03-26 01:48] cpuhrsch commented on #466
As a word of caution on code formatting: git blame can be very useful in quickly figuring out why something went wrong. Therefore, I would not just apply some formatter to all files and commit it for the sake of code formatting. Instead, we could setup a system that forces formatting on *new lines* or at the very least new files. In general, it makes sense to set a code formatting standard through

[2020-03-26 04:42] brianc118 commented on #467
@vincentqb I'm not sure what your second snippet is trying to do since you don't call `set_input_file()`.

I can reproduce the same segfault with `sinewave.wav`. However it seems to be dependent on wav file. For example, if the file is steam-train-whistle-daniel_simon.wav then there is no segfault.

[code]

Runs fine. However if we set it to sinewave.wav we get the following segfault

[code]

[2020-03-26 04:52] brianc118 commented on #467
`sox sinewave.wav out.wav reverb 50`

[2020-03-26 14:03] vincentqb commented on #466
Offline discussion with @mthrok. There are a few things that could be done:
1. `flake8`
1. `black`
1. replace things like `assert` by `torch.assert`
1. rewrite a few tests to make their intentions clearer (e.g. batching)
1. switch all to `pytest`, or all to `unittest`
1. move tests

About `flake8`, there are a small number of minor errors reported by fbcode. These should be fixed, but otherwise th

[2020-03-26 22:11] vincentqb opened #476 "Fix optional test with fairseq"
- [x] As seen [here](https://travis-ci.org/github/pytorch/audio/jobs/667465577?utm_medium=notification&utm_source=github_status), we need to bump the python version used in example test in travis to at least 3.6.
- [x] Fix test
- [x] ~~Disable test~~

[internal doc](https://fb.quip.com/TxAbAzyVBt7t)

[2020-03-27 14:47] tomassosorio commented on #476
Looking at for example:
[pytorch text](https://github.com/pytorch/text/tree/master/examples/text_classification), we can see that this show with pytorch and torchtext how to build a text classification, however I do not see the point of this example in the scope of torchaudio since basically just uses the `fairseq`, which already have examples in its repository.

I think would be beneficial to do

[2020-03-30 16:21] vincentqb opened #477 "Python 2 Deprecated"
The 0.4.0 release of torchaudio was the last one supporting python 2, and master no longer officially supports python 2. We're looking to strip the code of python 2 references.
- [x] No longer use package `six` and `backports` for cross-compatibility
- [x] Convert to inline type hinting
- [x] No `__future__` import
- [x] ~~Change string formatting style~~
- [ ] Remove mention of python 2.7 in `set

[2020-03-30 19:47] vincentqb commented on #476
Thanks for the feedback :) This example was a partnership, and was helpful during the hacktackon last summer.

I agree with you that it'd be nice to have reference pipelines for researchers that also showcase torchaudio's ability more specifically. What kind of example would you suggest with SpeechCommands?

[2020-03-30 20:28] mthrok commented on #466
@vincentqb I created PR #480, which re-organize tests based on category in a small scope (only `test_functional` module).
Once we can agree on pros-and-cons of the re-org, I will proceed with the rest of the test module.

Regarding, `git blame`, it is true that the information of the original author will be lost from the latest commit, but if the intention of test is correctly documented (either a

[2020-03-30 21:12] tomassosorio commented on #477
I can take care of type hinting tomorrow :)

[2020-03-30 21:20] tomassosorio commented on #476
Currently, tensorflow has a [tutorial](https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md), maybe would be better to use yesno dataset and create a simple classification, as a beginner tutorial, and then for an intermediary tutorial a simple ASR example, using pytorch implemented CTC and SpeechCommands.

[2020-03-30 22:00] vincentqb commented on #467
Thanks for pointing out the typo, I corrected the example above :)

[2020-03-30 22:03] vincentqb commented on #467
Do you know if there's a previous version of torchaudio for which it ever worked?

[2020-03-31 08:41] tomassosorio commented on #467
It works with macos, I tried in the other day with the snipped that you provided @vincentqb

[2020-03-31 15:04] HsuanYang-Wang opened #483 "VCTK missing txt file for 'p315'"
## 🐛 Bug
The 'p315' text is missing from the VCTK Corpus. This leads to "FileNotFoundError" error when accessing './VCTK-Corpus/txt/p315'

- https://datashare.is.ed.ac.uk/handle/10283/3443

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior
[code]
## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?
pip
 - If you are buildin

[2020-03-31 18:36] tomassosorio commented on #483
I will PR a fix to this issue

[2020-03-31 19:17] vincentqb commented on #483
This brings an interesting question. How should a user navigate a dataset with partially missing data?
1. We report the error when encountering such case. (current)
1. We report the error if accessing the item directly through `__getitem__` but skip with/out a warning when iterating with `__iter__` or `__next__`.
1. We offer a mechanism to skip selected items. This can take the form of a toggle, a

[2020-03-31 19:20] vincentqb commented on #483
For reference: #24915.

[2020-04-01 15:00] cpuhrsch commented on #483
If "missing data" is a bug, as is here, because a textfile or other is missing it should throw a hard error, because the user isn't getting what is expected. The error is an output like any other. It's potentially very misleading to get, for example, a test dataset that is missing datapoints, which could yield very wrong results.

If the "missing data" is part of the dataset (semi-supervised or di

[2020-04-01 16:20] vincentqb opened #488 "Windows build failing in CircleCI"
As seen for instance [here](https://app.circleci.com/pipelines/github/pytorch/audio/1170/workflows/08c1fb48-7aad-4d9d-a3a7-ee89622e3491/jobs/32311), the windows build in CircleCI has been failing.
[code]

The error appeared first when committing #472 though the PR is seemingly unrelated. As of #419, I would expect even the tests to be green.

We don't yet officially support windows (#425), so, eve

[2020-04-01 16:31] peterjc123 commented on #488
@vincentqb It seems that it is picking a CUDA version of binary, which is not able to be imported on a CPU only machine.

[2020-04-01 17:00] #488 closed

[2020-04-01 17:35] klyukinds commented on #427
Hi, everyone!
@vincentqb
@PetrochukM
I've encountered that kind of problem either and decided to check librosa's output. The code works fine.
`
n_fft = 16
hop_length = 4
win_length = n_fft
num_frames = 32

signal_np = np.random.randn(hop_length * num_frames)

# Create a spectrogram that aligns with the signal
spectrogram_np = librosa.core.stft(
    np.pad(signal_np, ((n_fft - hop_length) // 2, (n_

[2020-04-01 20:26] vincentqb commented on #483
Good point about the distinction. The original issue reported here is an issue where somehow the data has not been properly downloaded/extracted but is in the original dataset. And so I do agree that this should raise an error.

[code]

That being said, the dataset itself is also missing data intrinsically.

[code]
As mentioned in [the dataset documention](https://datashare.is.ed.ac.uk/handle/1028

[2020-04-01 21:00] cpuhrsch commented on #483
Further, to avoid incorrectly downloaded data we can look into making use of md5 checksums.

[2020-04-01 21:12] vincentqb opened #492 "Add checksum to datasets"
All datasets that download an archive should have a checksum when downloading from the default address, see [comment](https://github.com/pytorch/audio/issues/483#issuecomment-607487378).

md5 would be enough for capturing obvious archive corruption.

- [x] VCTK: `45e8dede780278ef5541fde0b82ac292`
- [x] YesNo:
- [x] LibriSpeech:
- [x] SpeechCommands:
- [x] LJSpeech:
- [ ] CommonVoice:

[2020-04-02 17:02] tomassosorio commented on #492
speech_commands_v0.02 -> `6b74f3901214cb2c2934e98196829835`

[2020-04-02 17:26] mthrok opened #494 "Flake8 should not ignore F821 and F841"
The current flake8 configuration is too relaxed. Especially F821 (undefined name) and F841 (local variable is assigned to but never used).

Ignoring F841 caused accidental introductions of unused arguments in function signatures (like reported in https://github.com/pytorch/audio/pull/482#issue-396361603) and fixing this involves breaking backward compatibility. F841 should never be ignored.

Simil

[2020-04-02 17:47] vincentqb commented on #494
For reference (only), pytorch has both of them, see [here](https://github.com/pytorch/pytorch/blob/master/.flake8).

[2020-04-02 17:47] vincentqb commented on #494
We should also catch the ones picked up [internally](https://our.internmc.facebook.com/intern/diff/D20011052/).

[2020-04-02 17:49] #483 closed

[2020-04-02 17:51] vincentqb opened #495 "Skip data points with missing values"
As mentioned in [here](https://github.com/pytorch/audio/issues/483#issuecomment-607472252), we decided to skip data points with data that's missing as part of the dataset. This has been done for VCTK in #484, but we need to validate this does not happen for the others.

[2020-04-03 12:34] yuzhms opened #500 "Support custum padding in istft"
## 🚀 Feature
Current version of istft force check NOLA thus some kind of padding (e.g. asymmetrical padding or #427 ) will raise asseration error. I would like to see there is a way to supprt custum padding. maybe just give a choice to manually disable NOLA check.

[2020-04-03 15:26] vincentqb commented on #500
In [comment](https://github.com/pytorch/audio/issues/427#issuecomment-586383140), I suggested disabling NOLA. You can return python without assertion checks. If you do so, do you get what you expect?

[2020-04-03 22:13] vincentqb opened #510 "Fix TimeStretch Test"
As noted [here](https://github.com/pytorch/audio/pull/508#issuecomment-608675896), torchscript test for `TimeStretch` is failing on GPU.

[2020-04-03 22:21] vincentqb commented on #510
[code]

makes the test green:
[code]

[2020-04-03 22:27] vincentqb commented on #510
This is failing on 0.5.0 branch too.
[code]

[2020-04-03 22:36] vincentqb commented on #510
Have you encountered this error @mthrok ?

[2020-04-04 16:41] dav-ell commented on #62
Interested in the solution to this problem as well.

[2020-04-04 19:50] mthrok commented on #510
No, I did not see this and I cannot reproduce this. The test passes in my environment.

[2020-04-04 21:09] #494 closed

[2020-04-05 03:48] yuzhms commented on #500
I found it is more usful to get what I want by adding two additional parameters `start` and `end` and modify [this line](https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L205) as

[code]

After this modification, I can get what I want.

Here is the test case:

[code]

[2020-04-05 22:33] zakajd opened #512 "Add CMU_ARCTIC datasets"
## 🚀 Feature
As for now, there is no such dataset in torchaudio.datasets.
More information about it can be found on http://www.festvox.org/cmu_arctic/packed/

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-04-06 19:45] mthrok opened #515 "Making test code device aware."
Currently, test code does not have a standard way to handle device, which led to CUDA tests added disorganized ways, such as [1](https://github.com/pytorch/audio/blob/5f5df1d649de8504c68ec532195ab1ba3fb54680/test/test_functional_filtering.py#L36-L41), [2](https://github.com/pytorch/audio/blob/5f5df1d649de8504c68ec532195ab1ba3fb54680/test/test_functional_filtering.py#L90-L99) and [3](https://github

[2020-04-06 19:46] mthrok commented on #515
I also noticed that in [1](https://github.com/pytorch/audio/blob/master/test/test_functional_filtering.py#L36-L41), the test result looks like it passes when it was actually skipped.

[2020-04-06 22:10] vincentqb commented on #515
* I would be in favor of deprecating Travis CI in favor of CircleCI only, e.g. #493.
* We should also add GPU testing in CircleCI.

[2020-04-06 22:40] mthrok commented on #260
FYI: Regarding the speed, I did simple profiling with the following script and it tells that the most time consuming part is [the iteration in `lfilter`](https://github.com/pytorch/audio/blob/f37d37d628f507003eee7564facbf28e0bb9536d/torchaudio/functional.py#L746-L751)

<Details><Summary>Script</Summary>

[code]

</Details>

<Details><Summary>Most time consuming parts</Summary>

[code]

</Details>

[2020-04-07 12:33] ahmed-fau opened #518 "cuda runtime error (3) when defining an instance of torchaudio.transforms.MelSpectrogram"
Hi,
I am trying to use the _MelSpectrogram_ module of torchaudio 0.4.0  with Pytorch 1.4.0 to calculate mel spectrograms for audio signals during the training. When I run the code on a _Tesla P100 SXM2 - 16GB_ machine, I get the error shown in the following image.

![image](https://user-images.githubusercontent.com/39087983/78669017-e302bd80-78db-11ea-96c2-832172c00242.png)

This error occurs at t

[2020-04-07 13:38] vincentqb commented on #518
First, can you provide us with a minimal yet complete example that reproduces this error?

The [comment](https://github.com/pytorch/pytorch/issues/3491#issuecomment-341950865) talks of multiprocessing. Are you doing so?

Have you also tried running your code with the latest master version compiled from source?

[2020-04-07 14:19] ahmed-fau commented on #518
Actually, the code works properly on my local machine with is support with an nvidia rtx 2080 GPU, while in case of running the code on a cluster of Tesla machine, I get this cuda initialization error for only this line of code I have already provided.

Yes, I am already running with `torch.multiprocessing.set_start_method('spawn)` . I also tried to set `force=True` but this didn't solve the issue

[2020-04-07 14:50] mthrok commented on #515
The choice of CI is adjacent and we should discuss down the road. (though I have no objection to the migration to CircleCI)

The followings are what I think needs to be sorted out for the next steps.

(here I consider only CPU and CUDA for device option.)

1. Add CUDA test
   1.1 Define a standard way to add device name to tests (or add CUDA test).
     - The bottom line is that device name (if no

[2020-04-07 15:01] #518 closed

[2020-04-07 15:03] ahmed-fau commented on #518
I tried running with disabling this line related to melspectrogram and the error still there. Sorry for confusion.

[2020-04-07 17:13] mthrok commented on #515
#520 is my initial attempt to make CPU/GPU distinguish clear and parameterize device for a set of tests.

[2020-04-07 22:01] vincentqb commented on #510
Ok, thanks for confirming.

[2020-04-07 22:01] #510 closed

[2020-04-08 14:57] vincentqb commented on #500
@mthrok -- do you want to look into this?

[2020-04-08 23:59] james-mchugh commented on #477
Do you need an extra hand with this or is everything covered?

[2020-04-10 09:05] HudsonHuang commented on #358
Did this problem solved? I got same error with ".amr" file, how could we fix this?
Version:
torch=1.4.0
torchaudio=0.4.0
sox=14.4.1

[2020-04-10 21:41] mthrok opened #533 "Test requires proper SoX initialization/shutdown."
## 🐛 Bug

SoX backend initialization and shutdown has to be performed on per test or per execution.
Currently `test/test_dataloader.py` has [initialization/shutdown](https://github.com/pytorch/audio/blob/60a5b27308989e5ccd2bd4154b583f233d348d71/test/test_dataloader.py#L39-L45) and if another test suite is run on the same `pytest` invocation, it results in Segmentation Fault.

**Note**

This does n

[2020-04-12 13:59] cHemingway opened #534 "Add Free Universal Sound Separation (FUSS) Dataset"
## 🚀 Feature
Add the [FUSS dataset](https://github.com/google-research/sound-separation/blob/master/datasets/fuss/FUSS_license_doc/README.md) to `pytorch.datasets`.

## Motivation
While Pytorch Audio contains a variety of clean speech datasets, it does not contain any noise samples or room impulse response samples, making the setup of problems in speech or audio separation (or simply training reco

[2020-04-12 14:09] wanglong001 opened #535 "KALDI：apply-cmvn-sliding"
## 🚀 Feature
Apply sliding-window cepstral mean (and optionally variance)
normalization per utterance.

## Motivation
Acoustic features are extracted based on Kaldi. I want to use torchaudio instead, but there is no cmvn， I wrote a torch version of cmvn according to[ Kaldi](https://github.com/kaldi-asr/kaldi/blob/1ff668adbec7987a8b9f91932a786ad8c4b75d86/src/feat/feature-functions.cc#L250)

[2020-04-13 06:09] bhargavkathivarapu opened #536 "Unable to run tests on Mac OS due to soundfile module dependency"
## 🐛 Bug
I have installed torchaudio for source in develop mode.
I am unable to run test/test_functional_filtering.py due to soundfile dependency
I have sox installed.
I am getting below "ModuleNotFoundError: No module named 'soundfile' "
Previously (around 2 weeks back ) it used to work  fine.

[code]

Is "soundfile" module needed for Mac if Sox is available?

## To Reproduce

Steps to reproduce

[2020-04-13 16:51] mthrok commented on #536
I can reproduce this in my Ubuntu env too.

[2020-04-13 17:22] #536 closed

[2020-04-14 15:58] vincentqb commented on #477
For completeness, I did a quick grep through files, and I see the following reference to python 2.

[code]

In here, also a reference to python less than 3.5 which is no longer supported on master, see [here](https://github.com/pytorch/audio/pull/538#issuecomment-613468667).

[2020-04-14 18:27] yxdr opened #543 "ImportError"
An error occurs when I run the following commands:

conda create -n py36eap python=3.6
conda activate py36eap
conda install -c pytorch pytorch
conda install -c anaconda cudatoolkit=9.2
conda install -c conda-forge sox
conda install -c pytorch torchaudio
python

The error is
ImportError: /home/lst/anaconda3/envs/py36eap/lib/python3.6/site-packages/_torch_sox.cpython-36m-x86_64-linux-gnu.so: undefin

[2020-04-14 18:48] yxdr commented on #543
I found that this error is caused by installing cudatoolkit from the channel anaconda. If I install cudatoolkit by "conda install -c pytorch cudatoolkit=9.2", this error will not occur.

[2020-04-14 18:48] #543 closed

[2020-04-14 20:59] vincentqb opened #545 "Nightly installation fails"
As reported by @cpuhrsch, when following [readme](https://github.com/pytorch/audio/blob/master/README.md) for nightlies,
[code]

[code]

cc @seemethere #306

[2020-04-14 22:57] seemethere commented on #545
You should actually be installing `torchaudio` instead of `torchaudio_nightly`

[2020-04-14 23:07] vincentqb commented on #545
Oops :) We do need to update the readme.

[2020-04-14 23:20] vincentqb opened #549 "Backend functions not in documentation"
Even though the documentation was updated for [0.4.0](https://github.com/pytorch/audio/releases/tag/v0.4.0), functions such as `set_audio_backend` do not appear in the [doc](pytorch.org/audio).

[2020-04-14 23:42] vincentqb opened #550 "Which datasets should torchaudio have?"
Which new datasets should we offer and prioritize in torchaudio?

I want to follow-up on #31 and a few of the recent PRs. Instead of aiming to have an exhaustive list of datasets, we should focus on a few important/common/representative dataset that can serve as templates for users to easily implement datasets of their choosing. All datasets should already be free/accessible/online/common with lic

[2020-04-14 23:43] vincentqb commented on #512
Thanks for suggesting this! Let's take a little bit of time to discuss choice of datasets that would be good to add: #550. Thoughts?

[2020-04-14 23:43] vincentqb commented on #534
Thanks for suggesting this! Let's take a little bit of time to discuss choice of datasets that would be good to add: #550. Thoughts?

[2020-04-15 00:54] brianc118 commented on #467
I'm not aware of any version that worked. I've only started using torchaudio recently.

[2020-04-15 11:24] cyrta commented on #550
I would recommend to review list:
- https://github.com/JRMeyer/open-speech-corpora
- https://github.com/jim-schwoebel/voice_datasets
- https://wiki.inria.fr/rosp/Datasets
 - https://www.ismir.net/resources/datasets/
 - http://www.audiocontentanalysis.org/data-sets/

My suggestion are
- TED-LIUM 1-3 http://www.openslr.org/51/
- Spoken Wikipedia Corpus https://nats.gitlab.io/swc/
- CHiME 5 http://sp

[2020-04-15 13:56] mthrok commented on #545
Reopening as `--pre` is still missing. See [here](https://github.com/pytorch/audio/pull/547#issuecomment-613741627)

[2020-04-15 14:30] #545 closed

[2020-04-15 21:25] cHemingway commented on #550
For Noise, some thoughts:

- [NOIZEUS](https://ecs.utdallas.edu/loizou/speech/noizeus/) is already noisy speech, ideally a "pure" noise dataset should be used instead? However it is very popular, so possibly worth including for that reason.

- MUSAN looks good, has proper licensing, and is well cited, but I am unsure if it is sufficiently "varied", there is not much description of the contents of

[2020-04-15 21:26] cHemingway commented on #534
Agree this should be decided in general, will close this.

[2020-04-16 04:32] cpuhrsch opened #554 "_audio_backends platform independent"
## 🐛 Bug

The constant [_audio_backends](https://github.com/pytorch/audio/blob/c29598d54185d73b4ed04103330573e190bbdb69/torchaudio/_backend.py#L12) is referenced by [BACKENDS](https://github.com/pytorch/audio/blob/0e5581cb2a9616205a00cbabf4c9a30613a1037f/test/common_utils.py#L10) in the common utilities of the test folder. [test_batch_mfcc](https://github.com/pytorch/audio/blob/0e5581cb2a9616205a0

[2020-04-16 09:57] Ektoplasmakugel opened #555 "iid_masks in Frequency and Time Masking"
## 📚 Documentation of iid_masks Parameter in AxisMasking

Description of Problem
------
The Docstring and Documentation of Frequency and Axis Masking state the following for the 'iid_masks' Paramter:

            the examples/channels in the batch. (Default: False)_

This explanation would let me conclude, that the default is using __different__ masks for all spectral representations in the batch.

[2020-04-16 14:39] jmlemercier commented on #62
Really intersted in this solution as well: I have the same problem with Virtual AND Base environments, both with `torchaudio=0.4.0` and `torchaudio=0.4.1`. I use `pytorch=1.4.0`

- Tried installing torchaudio with **pip** and **conda** but I get the same issue.

- Also tried to downgrade pytorch, but does not solve the issue, just adding new conflicts.

Would be very much appreciated if we re-open

[2020-04-16 15:40] ccoulombe commented on #62
This issue was fixed in pytorch ~1.0.0 but I can re-trace the steps and provide more details when building from source.

Did you follow : https://github.com/pytorch/audio/issues/62#issuecomment-462396095

[2020-04-16 19:36] #98 closed

[2020-04-16 21:02] mthrok opened #557 "Small clean up `test_sox_compatibility.py`"
Among the formatting issues in [`test_sox_compatibility.py`](https://github.com/pytorch/audio/blob/master/test/test_sox_compatibility.py#L122), there are two that can be immediately fixed.
 - local variables somehow all capitalized such as [`CENTRAL_FREQ`](https://github.com/pytorch/audio/blob/master/test/test_sox_compatibility.py#L122) and [`Q`](https://github.com/pytorch/audio/blob/master/test/t

[2020-04-17 15:23] #535 closed

[2020-04-17 16:28] #557 closed

[2020-04-17 17:41] vincentqb commented on #554
A simple fix would be to make `_audio_backends` also depend on platform [here](https://github.com/pytorch/audio/blob/master/torchaudio/_backend.py#L12).

#561 fixed the particular error you saw.

[2020-04-17 20:57] mthrok commented on #554
It would be nice if it can detect which backend is available at run time.

Also we need to document which one is the default backend.
`soundfile` seems to be a good default as it's available on Windows too, but looking at [setup.py](https://github.com/pytorch/audio/blob/master/setup.py#L37-L53), it expects SoX.

[2020-04-17 21:19] vincentqb commented on #554
Yes. In some sense and depending on the definition of run time, this is already the case, see [here](https://github.com/pytorch/audio/blob/master/torchaudio/_backend.py) and [here](https://github.com/pytorch/audio/blob/master/test/common_utils.py#L86).

There's also a partial discussion of backend dispatch in #425.

The default backend for torchaudio has been sox. torchaudio only officially suppor

[2020-04-17 21:24] mthrok commented on #555
Hi @Ektoplasmakugel

Thanks for submitting issue.

It indeed is confusing.

Looking at the code, I think you are right and I suspect that the docstring for `mask_along_axis_iid` was copy-pasted from `mask_along_axis` but the part `All examples will have the same mask interval.` should have been removed.

I guess you talking about [here](https://github.com/pytorch/audio/blob/master/torchaudio/trans

[2020-04-17 21:46] #515 closed

[2020-04-17 23:16] mthrok commented on #400
I looked into this and took a while to figure out why.

When you use `fbank` function, you need to normalize the audio and for that you need to use `torchaudio.load_wav` function instead of `torchaudio.load`.

See my [test](https://github.com/mthrok/audio/commit/594edf72b144dc13fbad0feeaa7a1076aa49943b) or [existing test](https://github.com/pytorch/audio/blob/master/test/test_compliance_kaldi.py#L

[2020-04-19 04:52] CarolinGao opened #563 "any specific usage for Windows"
Hi!
I have browsed all issues about windows support, but I am still confused about how to use it.
Can you add some specific instructions on Read me?
Thank you very much!

[2020-04-22 10:16] jmlemercier commented on #68
I have the same issue here:

Was working on Ubuntu 18.04, `torchaudio =0.4.0` and `torch = 1.4.1`. Solved the problem by downgrading to  `torchaudio =0.3.1` and `torch = 1.3.0`.

However, when working on CentOS 7 (Core), I had the same issue with  `torchaudio =0.4.0` and `torch = 1.4.1` , so I tried to downgrade to  `torchaudio =0.3.1` and `torch = 1.3.0` as well, but that didn't solve anything. I

[2020-04-22 14:13] #533 closed

[2020-04-22 20:14] vincentqb opened #571 "Use reshape instead of view"
Following #409, view is used instead of reshape. When running the [tutorial](https://github.com/pytorch/tutorials/blob/master/beginner_source/audio_preprocessing_tutorial.py), the following error occurs as mentioned [here](https://app.circleci.com/pipelines/github/pytorch/tutorials/1788/workflows/47f00fbd-88ed-486e-9edb-7de32bfb1058/jobs/30647):
[code]

Workaround:
* add `specgram = specgram.conti

[2020-04-22 20:36] vincentqb commented on #571
cc @cpuhrsch for [comment](https://github.com/pytorch/audio/pull/391#discussion_r366004960)

[2020-04-22 20:56] vincentqb commented on #563
We do not yet officially support windows, see #425. If you would like to help extend the support, you can try compiling torchaudio from source, though we do not have instructions yet.

@cpuhrsch -- could you describe how you've compiled torchaudio from source on windows?

[2020-04-22 21:13] vincentqb commented on #534
Since we do not yet have too many datasets, I'll say that, if you are willing to open a pull request implementing this dataset following our current templates, I'll be happy to review it. :)

I'll re-open this issue in case you would like to work on this. Would you be interested in doing so?

[2020-04-22 21:13] vincentqb commented on #512
Since we do not yet have too many datasets, I'll say that, if you are willing to open a pull request implementing this dataset following our current templates, I'll be happy to review it. :)

[2020-04-23 07:42] zakajd commented on #512
Yes, I'll do it on this weekend.

[2020-04-23 13:12] dros1986 opened #574 "Randomness in torch.compliance.kaldi.fbanks"
## 🐛 Bug

Fbanks computed on same waveform change from one run to another.

**SOLVED**:  My bad, I didn't know that the dither parameter, if different from zero, introduces noise. Thank you for your help.

## To Reproduce

Steps to reproduce the behavior:

Compute the filterbanks on same waveform multiple times and observe the absolute difference.

[code]
returns:

[code]

## Expected behavior

Th

[2020-04-23 13:20] #574 closed, assigned to nobody

[2020-04-23 13:39] mthrok commented on #574
Using `test/assets/kaldi_file_8000.wav`, I got the following result.

[code]

I assume you resolved this somehow.

[2020-04-23 13:49] dros1986 commented on #574
My bad, I didn't know that the dither parameter, if different from zero, introduces noise. Thank you for answering.

[2020-04-24 15:50] #554 closed

[2020-04-25 14:38] bhargavkathivarapu commented on #260
- **stat/stats**

This function in sox just prints some stats regarding input file
Terminal command : ```sox  StarWars60.wav  -n stat```
<img width="248" alt="Screenshot 2020-04-25 at 7 36 44 PM" src="https://user-images.githubusercontent.com/12258823/80281919-1e9ae580-872c-11ea-9aeb-2f492cd2dfce.png">

Terminal command : ```sox  StarWars60.wav  -n stats```
<img width="167" alt="Screenshot 2020-04

[2020-04-26 20:33] vincentqb opened #588 "Constant Q-Transform"
We would like to have in torchaudio
- [ ] constant q-transform, as [librosa](https://librosa.github.io/librosa/generated/librosa.core.cqt.html)
- [ ] inverse constant q-transform, as [librosa](https://librosa.github.io/librosa/generated/librosa.core.griffinlim_cqt.html)

[2020-04-27 18:02] Ektoplasmakugel commented on #555
I have not done this before, but give me some time and I will have a look and try to do that.

[2020-04-29 02:24] cpuhrsch commented on #467
@brianc118 - I was able to reproduce this with an earlier install of torchaudio on Mac, but your snippet succeeded after I updated to our most recent version. Here is the exact code I executed

[code]

Please let me know if this is still an issue after the update.

[2020-04-29 04:01] cpuhrsch commented on #400
@mthrok - should we add documentation about this or otherwise try to prevent this issue coming up again in the future? I'm surprised we have a need for a separate load_wav to begin with.

[2020-04-29 05:18] vincentqb commented on #571
Closed by #594

[2020-04-29 05:18] #571 closed

[2020-04-29 05:22] vincentqb commented on #400
I second @cpuhrsch: I'm also surprised that we `torchaudio.load` does not work here.

[2020-04-29 08:18] r9y9 opened #596 "lfilter: clamp in [-1, 1] to be optional"
## 🚀 Feature

Make clamp [-1, 1] behavior to be optional by adding an optional argument `clamp=False or True` to `torchaudio.functional.lfilter`.

## Motivation

I want to apply filters for non-waveform signals, which have values outside [-1, 1].
## Pitch

It seems that the input and output are assumed to be *waveform* ([-1, 1]). However, we can apply filters on arbitrary signals, which may not be

[2020-04-29 20:11] vincentqb opened #597 "Migrate Kaldi tests"
We used to test kaldi against a saved kaldi output [here](https://github.com/pytorch/audio/blob/master/test/test_compliance_kaldi.py), but we now have an infrastructure to run kaldi in our test environment [here](https://github.com/pytorch/audio/blob/master/test/test_kaldi_compatibility.py).

We would like to migrate the tests from ["saved kaldi"](https://github.com/pytorch/audio/blob/master/test/

[2020-04-29 21:46] vincentqb commented on #596
Some of the transform may assume the input is in the range `[-1,1]` even without clamp, so removing clamp doesn't mean that the transform does what one would want :)

I agree with the idea nonetheless. This also gives the freedom to the user to decide how to keep the waveform within the range.

Either we add a toggle to disable `clamp` or we deprecate it altogether. Even in the latter case, we sho

[2020-04-29 23:37] cpuhrsch commented on #596
I think this assumption of signals being within range [-1, 1] is something that is a bit larger than this particular ask. If various operations make this assumptions they should be clearly flagged as such as we might want to consider some kind of dtype dependent standardization around this.

In my experience [-1, 1] is used for conversions of audio signals into float32, whereas for integers the fu

[2020-04-30 02:00] brianc118 commented on #467
@cpuhrsch I'm still getting this on linux (CentOS) after updating to version 0.5.0, running the exact code you listed.

[2020-04-30 15:00] r9y9 commented on #596
I am not quite familiar with other transforms which may or may not assume signals being in the range [-1, 1]. Let me first fix this for the particular `lfilter` case. I will open a PR for adding a toggle.

For your information, my real use-case is that I wanted to apply digital filters on a fundamental frequency sequence of speech. In speech synthesis, there are also other cases where we want to a

[2020-04-30 15:57] #596 closed

[2020-04-30 17:58] PetrochukM commented on #452
@f0k Thanks for looking into this! Also, I was totally wrong with the maximum difference, thanks for correcting me!

It sounds like there is a little bit of room for improvement. It also sounds like there is still room in replicating `librosa` and `scripy`'s behavior.

[2020-05-01 16:57] #466 closed

[2020-05-01 21:59] vincentqb commented on #400
I don't believe we should rely on `load_wav` to fix this issue.

[2020-05-02 07:36] peterjc123 commented on #563
Well, you don't really need to compile. There isn't any C/C++ extensions so you could just do `python setup.py install` or just setting `PYTHONPATH` to the path of this repo.

[2020-05-04 10:09] praesc opened #606 "Torchaudio for aarch64?"
## 🚀 Feature

Is there a realease for aarch64?
## Motivation
It'd be great to be able to deploy a pytorch module on a RPI for speech recognition

## Pitch

## Alternatives

## Additional context

[2020-05-05 01:49] vincentqb commented on #606
Since pytorch doesn't officially support aarch64 (see [here](https://discuss.pytorch.org/t/how-to-install-to-pytorch-1-1-stable-without-cuda-in-arm64-aarch64/65909/4?u=vincentqb)), we also don't officially. That being said, if you do succeed in making it work. Please feel free to details the step here :)

[2020-05-05 02:05] vincentqb commented on #260
Thanks for the input!

I agree with don't need these two, and marked them as such in the description.

This is indeed very specific, but I wouldn't object if someone is interested in offering a PR for it. Thoughts?

[2020-05-05 08:38] praesc commented on #606
thanks for the quick reply vincent. I tried to build the last version from source and got some issues while compiling on the Jetson Nano. However, version 0.3.0 worked out smoothly without out-of-the-box. Nvidia provides some pre-compiled wheels for their platforms, so it's straight forward to install pytorch on them. Hence, would be nice to have torchaudio as well

[2020-05-05 15:59] vincentqb commented on #446
@tomassosorio -- thanks again for merging wav2letter! Which other ones do you believe would be a good idea to request help to implement?

- [x] Wav2Letter
- [ ] DeepSpeech
- [ ] DeepSpeech2

[2020-05-05 16:06] tomassosorio commented on #446
Yes, I fell both of them would be good alternatives, such as the [Wav2Letter++](https://github.com/facebookresearch/wav2letter/tree/master/recipes/models), in this link there is also some other models that could be interesting to implement :)

[2020-05-05 18:11] mthrok opened #610 "Clean up helper function of batch consistency test."
Batch consistency test checks whether a function produces consistent outputs when an input tensors contain multiple of samples.
The helper function [_test_batch_consistency](https://github.com/pytorch/audio/blob/b4998409224f53d9f04c84c2d5a445f35f49d30f/test/test_batch_consistency.py#L12-L23) takes a function and a single sample. Then check if the output produced from the single sample and the outp

[2020-05-05 18:44] kunalb6 commented on #610
I can work on this.

[2020-05-05 21:57] mthrok opened #611 "Fix `amplitude_to_DB` numerical instability"
Recently we discovered that `torch.log10` behaves differently on different CPUs when the input tensor is float32. https://github.com/pytorch/pytorch/issues/37833 **Note**: This is not a random behavior.

Due to this, we have some tests that passes on some machines but fail on other machines.
A proposed fix for this is to use `float64` type before passing the tensor to `torch.log10` [here](https://

[2020-05-05 23:25] Micheladar commented on #611
I'll work on it.

[2020-05-06 07:31] csukuangfj opened #613 "torchaudio.compliance.kaldi.fbank does NOT support GPU"
The readme.md says

**However**, `strong GPU acceleration` is not available for  `torchaudio.compliance.kaldi.fbank`.

-------

The following test code

[code]

produces the following error:

[code]

pytorchaudito is installed using
[code]

[code]
produces

[code]

[2020-05-06 15:59] vincentqb commented on #597
We should also have CI catch errors like #613

[2020-05-06 16:05] #555 closed

[2020-05-06 23:37] #610 closed

[2020-05-07 02:33] mthrok commented on #613
I could reproduce it with `'/scratch/moto/torchaudio/test/assets/kaldi_file_8000.wav'`.

<Details><Summary>Env</Summary>
[code]
</Details>

It happens both on CUDA 9.2 and CUDA 10.1.

It happens on torchaudio master. Something is definitely wrong on either torchaudio  or pytorch. I will take a look at torchaudio side.

[2020-05-07 08:15] csukuangfj opened #615 "missing type hints for mypy"
For the following test code (hello.py)

[code]

`mypy hello.py` produces

[code]

**Note that** there are no errors for `import torch` !

<details open>
<summary> Env </summary>

`python -m torch.utils.collect_env`

[code]
</details>

[2020-05-08 03:07] mthrok commented on #613
Hi @csukuangfj

So it turned out that `fbank` was never GPU-compatible. Sorry about that.
I am working on fixing this issue and so far I have a fix for `fbank`.
If you have a list of functions from `torchaudio.compliance.kaldi` you intend to use, can you give me that?
I will also fix them.

[2020-05-08 03:17] csukuangfj commented on #613
I changed torch audio locally to support GPU.

I only need `torchaudio.compliance.kaldi.fbank`. It would be great if

- the window function and the melbank matrix are **NOT** recomputed every time `fbank` is called
- an interface of computing fbank for a batch of audio files
- a similar interface `FBank` as the following `MFCC` is implemented
https://github.com/pytorch/audio/blob/7a0d4192f06565f09

[2020-05-08 03:44] csukuangfj commented on #371
Kaldi uses `1` as the default dither value. It is fine for Kaldi because waveform in kaldi
has a range [-32768, 32767].  `1` is relatively small compared to the maximum value 32767.

However, in torchaudio,

[code]

returns a tensor with values in the range [-1, 1]. So if you still use the default value `1` from
Kaldi, you will distort the audio signal.

[2020-05-08 15:05] faroit opened #618 "Info length and rate returns different values for different backends"
## 🐛 Bug

`torchaudio.info` returns the info objects directly from the respective backend. Due to same property naming, users might forget to check how the metadata is calculated. This results in metadata being reported differently depending on which backend is reported.
E.g. sox calculates the `length` summed across channels whereas `soundfile` does this per channel (correct)

I would propose to

[2020-05-08 16:06] tomassosorio commented on #615
if you try with any other libraries such as: `torchvision`, `torchtext` or `torchserve` for example the same happens.

So I would suggest using a [mypy config](https://github.com/pytorch/audio/blob/master/mypy.ini) and enable `ignore_missing_imports = True`

[2020-05-08 20:00] vincentqb commented on #476
@tomassosorio -- We would indeed welcome new tutorials that uses pytorch, torchaudio, and freely available datasets :) We could add it [here](https://pytorch.org/tutorials/) in https://github.com/pytorch/tutorials. Is that of interest to you?

[2020-05-08 20:05] vincentqb commented on #618
Relates to #236?

[2020-05-08 20:06] vincentqb commented on #618
I agree that both backend should return the same values. We need to make sure we document the change of either so that users are aware of any changes. Thoughts?

[2020-05-08 20:20] tomassosorio commented on #476
Absolutely, I will start working on that!

[2020-05-08 21:05] vincentqb commented on #476
Awesome! you can open a pull request https://github.com/pytorch/tutorials and ping me on it :)

[2020-05-08 21:54] tbright17 opened #624 "Configurable "power" of Spectrogram inside MelSpectrogram"
## 🚀 Feature
Right now the Spectrogram inside MelSpectrogram uses power 2 by default and this can't be modified when instantiating MelSpectrogram. Can we make it configurable as an argument of MelSpectrogram?

## Motivation
Some implementations of MelSpectrogram use power 1 (for example the VGGish code) while some use power 2. It's better to make it configurable when replicating others work.

## P

[2020-05-08 23:08] mthrok commented on #613
That is a very valid point. I think a simple approach for torch audio to support that is
 - have a version of `fbank` where user can provide precomputed melbank and window function
 - then put them in a Transform.

[2020-05-08 23:28] mthrok commented on #618
I could reproduce this;

<Details><Summary>code</Summary>

[code]

</Details>

[code]

[2020-05-08 23:36] mthrok commented on #618
I checked #236, and it does not fix the issue.
I think it's more appropriate to handle it on Python side, as suggested.
(Copy data from sox backend C++ struct to `SignalInfo` Python class and apply the fix there.)
That way, `info` function returns the same class regardless of backend.

[2020-05-09 09:17] faroit commented on #618
we had already used the sox backend in production (before soundfile was merge in), so we made the modifications to info in our code (should have reported earlier!). If we change the info results now this might cause unexpected results for users. I would rather solve this by

* clarify documentation on  `torchaudio.info(...)`, stating that this returns the __native__ info object of each backend and

[2020-05-09 13:30] csukuangfj commented on #615
thanks, I am currently using this approach as a workaround.

It would be great if `touchaudio` does a **better** job than `torchvision`, `torchtext`,
`torchserve` or other `torch*` in this aspect.

[2020-05-11 09:49] csukuangfj commented on #613
Are there any plans to implement the items listed above?

[2020-05-11 14:03] vincentqb commented on #618
You mean that you adjusted your code for sox, soundfile, or both?

[2020-05-11 17:32] faroit commented on #618
I had `nb_samples = si.length // si.channels` calculated for sox. With the introduction of the soundfile backend, I was required to correct this.

I looked into the unit tests of the `torchaudio.info` and I guess the error was not caught since the unit tests only [covers mono signals]https://github.com/pytorch/audio/blob/master/test/test_io.py#L247) (where the correction is correct). Can we add a

[2020-05-11 20:13] vincentqb commented on #476
btw, feel free to open an issue over [there](https://github.com/vincentqb/audio-tutorial/blob/master/PipelineTrain.ipynb) to discuss how we should turn this into a reference implementation

[2020-05-12 09:02] csukuangfj opened #628 "multiple definitions of `SoxEffect`."
`SoxEffect` is defined both in

https://github.com/pytorch/audio/blob/00d38203e401b8d9472a8f8394a10e2c309be02c/torchaudio/torch_sox.h#L50-L54

and

https://github.com/pytorch/audio/blob/00d38203e401b8d9472a8f8394a10e2c309be02c/torchaudio/torch_sox.cpp#L73-L77

-----

-----

`torch_sox.h` can be included into `torch_sox.cpp` so that `SoxEffect` needs to be defined
only once in the header.

[2020-05-12 14:44] bhargavkathivarapu commented on #597
@vincentqb , For below kaldi  compliance tests, Do we need to write a compatibility test cases for each saved files configurations(function args in filenames)  in test/kaldi or one test configuration is enough for each
- test_spectorgram
- test_fbank ( one configuration already there in compatibility tests )
- test_mfcc
- test_resample_waveform

For remaining tests , they are not dependent on the

[2020-05-12 18:15] LearnedVector opened #631 "Support for Raspberry pi?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hello, is support for raspberry pi planned?

[2020-05-12 21:20] vincentqb commented on #597
The tests should cover the same cases. Is that what you meant?

[2020-05-12 21:21] vincentqb commented on #631
Since linux is supported on raspberry pi, have you tried compiling from source or installing using pip?

[2020-05-12 21:23] vincentqb commented on #628
Good catch. Do you want to open a PR for this?

[2020-05-12 21:24] vincentqb commented on #624
Good idea. Do you want to open a PR to expose the power parameter with a default value of 2?

[2020-05-12 21:26] LearnedVector commented on #631
hello @vincentqb, yes i tried installing from source but running into this error `RuntimeError: fft: ATen not compiled with MKL support` when using using `torchaudio.transforms.MFCC`. Seems to be an MKL issue? Since the pi does not have an intel processor, is there anyway around this?

here is the entire stacktrace for reference

[code]

[2020-05-12 21:32] tbright17 commented on #624
Glad to do that!

[2020-05-12 21:40] vincentqb commented on #631
I see, so pytorch doesn't support it. This means torchaudio can't either. I'll close this since this is a duplicate of #408.

[2020-05-12 21:40] #631 closed

[2020-05-12 21:42] #613 closed

[2020-05-13 02:40] mthrok commented on #613
No, we do not have resource for that at this moment, but we welcome contributions.

[2020-05-13 14:14] bhargavkathivarapu commented on #597
@vincentqb yes , Like for test_fbank there are 97 kaldi files , each file name is variation of kaldi  fbank function arguments

[code]
So we need to keep all these 97 configurations( function argument variations)  in a text file ,
In the test we read this text file, and for each configuration we  generate kaldi output on the fly and compare with torch output
Like this right ?  (or instead of all 9

[2020-05-13 14:37] keunwoochoi opened #638 "ComputeDeltas equation is not rendered"
https://pytorch.org/audio/functional.html#compute-deltas

A closing parenthesis `}` is missing, but I'm not entirely sure what it is supposed to be so instead of making a PR I'm reporting this.

[2020-05-13 14:48] mthrok commented on #638
Thanks for reporting. I will take a look at it.

[2020-05-13 14:53] mthrok commented on #618
@faroit Sure. We should add the test. Let us know if you would like to open a PR. If you are busy I will add it to my backlog.

[2020-05-13 18:09] #628 closed

[2020-05-13 18:13] #624 closed

[2020-05-13 20:26] ahmed-fau commented on #287
Hi,
I am using the MelSpectrogram module of torchaudio v0.4 to define a spectral loss function for training my model. Although it converges properly and the output signal gets improves towards the target one, there are subtle tonal artifacts that cannot be removed with further optimization. Could this normalization technique be a solution for that? (i.e. to use area normalization as in librosa ins

[2020-05-13 21:19] vincentqb commented on #618
There are two issues here.
* "When doing torchaudio.info() on a multi channel audio file, the length is multiplied by however many channels there are." as in #236.
* sox and soundfile backend return similar object, but with different values.

For the first, I'm concerned about such change for backward compatibility for sox. I would recommend instead adding a key `nb_samples = si.length // si.chann

[2020-05-13 21:22] vincentqb commented on #597
Yes, that is what is meant. We need to maintain the same coverage.

[2020-05-13 22:26] ahmed-fau commented on #287
@jongwook  Could you please share this notebook again? As the current shared one doesn't work. Or instead provide the linear fucnction to change the normalization style of the torchaudio mel filterbank.

Many thanks in advance

[2020-05-13 22:52] vincentqb commented on #287
This is implemented in #589.

[2020-05-14 20:27] #287 closed

[2020-05-15 04:01] koukyo1994 commented on #446
How about [PANNs](https://github.com/qiuqiangkong/audioset_tagging_cnn)? It has rich collections of pre-trained audio models.

[2020-05-15 09:39] faroit commented on #618
Regarding the first issue, this is probably a very old issue in audio vocabulary and maybe it would be good to make a formal distinction between __frames__ and __samples__ as it's done in [libsndfile](http://www.mega-nerd.com/libsndfile/api.html). Over there:

and

which makes totally sense to me (also soundfile is the defacto standard when it comes to proper handling of audio i/o. However this wo

[2020-05-15 13:57] limazix commented on #446
Hi guys, I'd like to help with this task. Where can I start?

[2020-05-16 01:18] peterjc123 commented on #425
@vincentqb I saw a [post](https://discuss.pytorch.org/t/problem-installing-torch-audio-on-windows-10-conda/38204/9) that describes how to compile torchaudio with Sox. Will try that later.

[2020-05-18 00:31] WangHelin1997 opened #649 "For Gammatone filters"
Hi.
Could you please update the code for Gammatone filters in the future?
Thanks a lot.

[2020-05-18 04:34] peterjc123 commented on #425
Torchaudio with Sox: https://github.com/pytorch/audio/pull/648

[2020-05-22 07:37] thelou1s commented on #363
self.mixer = torchaudio.transforms.DownmixMono()

Hello, do you know how to use torch.mean instead of DownmixMono, in my code above? thx

[2020-05-25 15:20] bhargavkathivarapu opened #657 "torchaudio Installation issue"
## 🐛 Bug

Unable to install torchaudio from git clone  . Getting below error .

[code]

## To Reproduce

Steps to reproduce the behavior:

1. git clone https://github.com/pytorch/audio.git
2. python setup.py develop

## Expected behavior

Torchaudio module should be installed

## Environment

 Collecting environment information...
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorc

[2020-05-25 16:14] mthrok commented on #657
Hi @bhargavkathivarapu

The `sox.h` referred in torch `audio/csrc/sox.h` is one from official SoX `torchaudio` depends on. I am on the same page when it comes to dependency resolution that it should be automatically handled and the current one is confusing for no benefit. I am resolving this in #625, but before this lands you can do the following on Linux-based environment

[code]

This way, the t

[2020-05-26 00:47] ark626 commented on #657
/tmp/torchaudio-deps/lame-3.99.5 /tmp/torchaudio-deps ~/MelGAN/audio
+ ./configure --disable-shared --enable-static --prefix=/home/ark626/MelGAN/audio/third_party/lame CFLAGS=-fPIC CXXFLAGS=-fPIC --with-pic --disable-debug --disable-dependency-tracking --enable-nasm
checking build system type... ./config.guess: unable to guess system type

This script, last modified 2003-07-02, has failed to recog

[2020-05-26 00:54] ark626 commented on #606
Would also love to see it running on aarch64 since torch is now running there already.
#657 ive also already commented, seems like the installation of the prequisites is the issue?

Installing via pyton3 setup.py install ran trough fine

But running ./packaging/build_from_source.sh $PW runs into issues.

[2020-05-26 03:07] ark626 commented on #606
Okay got it installed by working myself around.

=> Run the Script once until it fails
Then alter the Parts like this (so libmad and lame are not overwritten)

Then replace those two config.guess files with this version:
=> https://svn.osgeo.org/grass/grass/tags/release_20150712_grass_6_4_5/config.guess

/tmp/torchaudio-deps/lame-3.99.5/config.guess
/tmp/torchaudio-deps/libmad-0.15.1b/config.guess

[2020-05-26 03:09] mthrok commented on #657
Hi @ark626

Your issue is different from what this issue is tracking, so can you open a new issue?
The `./packaging/build_from_source.sh` does not support your environment and unfortunately we do not have resource for actively expanding support for `aarch64` at the moment. The best way to bring `aarch64` support to `torchaudio` is external contribution.

The starting point is to install just SoX.

[2020-05-26 03:28] ark626 opened #658 "Torchaudio Installation Jetson Aarch System"
## 🐛 Bug

For the Jetson Series there is already Torch available but Torchaudio isnt.

## To Reproduce
Try install from source to an Jetson Device.
Steps to reproduce the behavior:

1. Clone repository
2. sudo packaging/build_from_source.sh
=> Crash of the sh script.

## Workaround
This crash is a result of the libraries config.guess that doesnt know the aarch architecture.
This can be bypassed by

[2020-05-26 03:56] ark626 opened #659 "tf.audio.decode_wav not working properly?"
## 🐛 Bug

x, sr = tf.audio.decode_wav(tf.io.read_file(ls[i]) doesnt return the proper values.

## To Reproduce

A function like below is giving me wrong values to work with.
[code]

The print part gives out a really odd tensor here:
Tensor("DecodeWav:0", shape=(?, 1), dtype=float32)
## Expected behavior
The print(str(x)) operation should give something like below.

...
 [ 0.0000000e+00]
 [ 0.00000

[2020-05-26 14:34] mthrok commented on #659
Hi @ark626

Looks like your snippet is `Tensorflow`. Are you using `torchaudio`?

[2020-05-26 14:48] mthrok commented on #658
Hi @ark626

Thanks for opening the issue and sharing the workaround.
I am open to update the dependency installation script to support `aarch64`, however, CI system we use (CircleCI) does not seem to provide `aarch64` environment so we cannot guarantee the successful build all the time. (Although if the issue happens only in dependency it should work)
Therefore I will keep this issue open as refer

[2020-05-26 14:51] ark626 commented on #659
@mthrok  yes sadly this script is using both, torch and tensorflow.
The original code you can see here: https://github.com/marcoppasini/MelGAN-VC/blob/master/MelGAN_VC.ipynb

[2020-05-26 14:56] mthrok commented on #659
@ark626

Well, since the snippet you posted concerns Tensorflow and not torchaudio, please ask it in Tensorflow's support.

[2020-05-26 15:39] bhargavkathivarapu commented on #657
I am able to install torchaudio successfully after following the above steps .

[2020-05-26 16:01] bhargavkathivarapu commented on #657
@mthrok , I think we should keep this issue open until the fix is merged into master , so that others can the find the temporary fix . Otherwise we can close it .

[2020-05-26 21:06] mthrok commented on #657
Sounds good to me. We can keep this open.

[2020-05-26 22:09] vincentqb commented on #638
The bracket is missing for the upper bound in the final sum :) Feel free to open a PR for this!
[code]

[2020-05-26 22:18] vincentqb commented on #659
Based on previous comment by @mthrok, I will close this issue. Please feel free to re-open if this relates to torchaudio.

[2020-05-26 22:18] #659 closed

[2020-05-26 22:20] vincentqb commented on #649
Thanks for posting! I'm assuming you mean that you would like to see gammatone filter banks implemented in torchaudio? If so, would you like to work on this and open a pull request?

[2020-05-27 19:45] mmxgn commented on #550
Hello,

Regarding GTZAN, I just finished a Dataset class, linted and with the unit tests and all. I needed for personal use but I went the extra mile to bring it to format because why not. Is it ok to submit a PR for this? I understand that there might be issues regarding download traffic and GTZAN is already very popular. If its not, is it ok when called with download=True to instead give a warni

[2020-05-27 23:27] mthrok commented on #657
#625 is merged. Just `python setup.py develop` should work now.

[2020-05-27 23:27] #657 closed

[2020-05-28 21:33] mmxgn opened #666 "Undefined references when building `liblame`"
## 🐛 Bug

Hello all,
Thanks for maintaining torchaudio.

When trying to do `python setup.py install` from within anaconda it fails with error code 2 at the stage when building `liblame`. `make.log` in `third_party/tmp/lame-3.99.5` show errors similar to:
```undefined reference to `tgetnum'```
 (see below for full list).

## To Reproduce

Steps to reproduce the behavior:

1. Activate anaconda3 envi

[2020-05-28 22:20] mthrok commented on #666
Hi @mmxgn

Thanks for reporting. Seems like this is specific to `Arch Linux`, on which we do not regularly test `torchaudio`.
Since the fix is very small, would you like to open a PR?
If this change does not break the rest of the build, we can incorporate it.

[2020-05-28 22:28] mmxgn commented on #666
Hi,

Sure, I will do that. I was unsure whether it was specific to `Arch Linux`. I currently ran on another issue with `SoX` not finding the locally-built `flac`. I will try to fix this as well and will open a new issue if that's ok.

[2020-05-28 23:18] mthrok commented on #666
Yes, we would love hear the fix too.

BTW if the installation was working previously, by adding `.use_external_sox` at the root directory of the repo and depend on the externally managed sox too. I recently flipped the behavior to build own codecs by default. If this causes too much trouble, I will also consider reverting to the original default behavior.

[2020-05-29 09:40] mmxgn commented on #666
Hello,
Adding `.use_external_sox` at the root directory of the repo fixes that issue for me. Should I open a new issue and comment that there?

[2020-05-29 11:46] mmxgn commented on #666
Also, copying another workaround here for #666:

Apparently the problem is when using the bundled anaconda `ncurses` and is fixed when using `ncurses 6-1` from `conda-forge` with:

[code]
In this case my change is not needed.

I don't know if that is specific to `Arch Linux` or not but I am happy to continue working on it with this manual fix. Might I suggest getting it into a FAQ or TROUBLESHOOTI

[2020-05-29 14:36] breznak commented on #49
I have the same problem with (py)torch compiled from source for tag v1.5.0

[2020-05-29 16:55] vincentqb commented on #363
If you have a `waveform` with shape `[2, 100]`, you can do
[code]
and `waveform_mono` will have shape `[1, 100]`.

[2020-05-29 20:39] mthrok commented on #657
cc @bhargavkathivarapu I am reverting the behavior of codecs build since it caused issues elsewhere
https://github.com/pytorch/audio/pull/669
The new behavior to build SoX/codecs will be `BUILD_SOX= python setup.py develop`.

[2020-06-01 09:42] KiAlexander opened #673 "AttributeError: type object 'BuildExtension' has no attribute 'with_options'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
install torchaudio sucessfully

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?
from source
python setup/py. install
 - If you are building from source, which commit is it?
[6c3cc16](https://github.com/pytorch/audio/commit/6c3cc16ddb2e5dd5da1dcc5bceec6b1e10e9

[2020-06-01 15:20] jimchen90 opened #674 "Torchaudio Compilation Error"
## 🐛 Bug

When trying to compile torchaudio from source after  `python setup.py install` within anaconda,  it fails with an error that `configure: error: cannot find flac`  (see below for full information).

## To Reproduce

Steps to reproduce the behavior:
1. Compile PyTorch from source in conda
2. Compile Torchaudio from source in conda

See code as below:

[code]
Error message:

After python `s

[2020-06-01 15:41] mthrok commented on #674
@jimchen90 Can you paste the result of `python -m torch.utils.collect_env`?

[2020-06-01 18:05] cpuhrsch commented on #363
There even is a ["keepdim" keyword argument](https://pytorch.org/docs/master/tensors.html#torch.Tensor.mean) that folds the unsqueeze into mean.

[2020-06-01 18:06] cpuhrsch commented on #657
Are there docs we might need to update for this new flag?

[2020-06-01 18:13] mthrok commented on #657
README has been updated.

[2020-06-01 20:14] mthrok commented on #673
Hi @KiAlexander

To use master branch of torchaudio, the latest PyTorch is required. Please upgrade your PyTorch.

[2020-06-01 21:03] saurabh-kataria opened #675 "support batching for kaldi compliant feature extraction functions"
## 🚀 Feature
batch dimension should be supported for kaldi complaint functions, for example, in torchaudio.compliance.kaldi.fbank

## Motivation
Computation on GPU and use batches is essential

[2020-06-01 21:34] mthrok commented on #675
Hi @saurabh-kataria

Thanks for submitting the feature request. This sounds reasonable request, but requires careful design.
As a starting point, can you describe how you would feed batched tensor?
like shape of the input tensor (what dimensions they represent) and how the function signature would change (if change is required).

[2020-06-01 21:47] vincentqb commented on #363
Good point :)
[code]

[2020-06-02 01:14] jimchen90 commented on #674
Hi @mthrok , I paste the result of `python -m torch.utils.collect_env` in Additional Context. Thanks.

[2020-06-02 09:02] mmxgn commented on #674
Hi,

As @mthrok  wrote also in #666 adding
`.use_external_sox `
As a file when building torchaudio to the root directory (where `setup.py` is) should fix the problem:

[code]

It is my mistake for not opening a new issue about that.

[2020-06-02 16:55] jimchen90 opened #676 "lfilter function numerical stability"
## 🐛 Bug

When using `lfilter` function in `torchaudio/functional.py`, I input two groups of biquad coefficient parameters (one group is normalized by a0, and the other is unnormalized). The maximum error between two output waveforms is 6e-4.
## To Reproduce

Steps to reproduce the behavior:

I have a group of coefficients calculated from the bass biquad filter:

[code]

After normalization by a0:

[2020-06-02 19:08] cpuhrsch commented on #676
sox [might be using doubles](https://github.com/chirlu/sox/blob/4927023d0978615c74e8a511ce981cf4c29031f1/src/biquads.c) - so this won't match the performance. However, float32 is used more widely and can get us better performance.

[2020-06-02 19:14] cpuhrsch commented on #676
Should we consider returning normalized coefficients by default? If yes, how do we choose the normalization coefficient? What are the most common downstream tasks these coefficients are used for and do those dependent on the relative or absolute size of the coefficients?

[2020-06-02 19:17] cpuhrsch commented on #674
Maybe try installing flac with ```apt-get install flac```

[2020-06-02 19:30] vincentqb commented on #673
To be more specific, the master branch of torchaudio depends on the master branch of pytorch.

I will close this issue, but please feel free to re-open if the issue persists with a compiled version of the lastest pytorch master.

[2020-06-02 19:30] #673 closed

[2020-06-03 10:50] mmxgn commented on #666
Hi,

I am closing this since the workaround worked and `README.md` has been updated :)

[2020-06-03 10:50] #666 closed

[2020-06-03 14:38] mthrok opened #679 "Revise parameters for Kaldi fbank compatibility test"
Test parameters for Kaldi fbank were generated using [this script](https://github.com/pytorch/audio/blob/8a03087ede7d5b58e6562e4d2ac78dc904303b56/test/compliance/generate_fbank_data.py#L15-L20), but this does not necessarily generate values in valid range, so we need to revise them.

First, we need to test the parity of default values.
<Details></Details>

Second, we should cover values found in K

[2020-06-03 15:31] sw005320 commented on #679
This is very cool.
[espnet](https://github.com/espnet/espnet) also basically supports most of these examples, and this effort can be aligned with our interest as well.

One only comment is that Callhome is used for diarization, not for ASR.
Also, another suggestion is to consider the pitch feature, which is effective not only for tonal languages but for the other languages.

[2020-06-03 16:37] vincentqb opened #680 "Use pytorch testing framework"
As mentioned in [comment](https://github.com/pytorch/audio/pull/616#issuecomment-626840318), torchaudio should align with pytorch for testing.
- [x] Replace pytest with unittest
- [ ] Replace `torch.assert_allclose` with `assertEqual` from pytorch test framework.

I'm opening this issue since there are still a few instances remaining:
[code]

[2020-06-03 18:29] mthrok commented on #680
For getting rid of `pytest.mark.parametrize`, we can use [`parameterized`](https://pypi.org/project/parameterized/) as a drop-in replacement for now. Once PyTorch settled with parameterization, https://github.com/pytorch/pytorch/issues/11578, we can change that too.

[2020-06-03 18:52] #171 closed

[2020-06-03 18:56] mthrok opened #682 "[Nightly Build]"
This issue is to be pinned and will give quick access to nightly build.

PR: https://github.com/pytorch/audio/pull/306
CCI: https://app.circleci.com/pipelines/github/pytorch/audio?branch=nightly

[2020-06-03 18:57] #682 closed

[2020-06-03 20:21] mthrok commented on #679
Hi @sw005320

Thanks for the comment.

Noted. will reflect it.

Do you mean adding an equivalent implementation of `compute-kaldi-pitch-feats` to `torchaudio`?

[2020-06-03 20:32] sw005320 commented on #679
Yes, exactly.
That would be very cool, but it should not be a very high priority though.

We found that the pitch feature always improved the performance for several tonal languages (e.g., Chinese), and did not degrade the performance for the other languages.
So, espnet1 decided to use log Mel filterbank + pitch features as default.
However, the pitch feature extraction is rather complicated, and

[2020-06-03 20:44] mthrok opened #684 "flanger incompatible with GPU"
flanger torchscript test is failing on CUDA master branch.

See: https://app.circleci.com/pipelines/github/pytorch/audio?branch=master
Device mismatch happening at: https://github.com/pytorch/audio/pull/651/files#diff-292a2ef33b3ecf4c40cda1a4afe58760R1486

cc @bhargavkathivarapu

[2020-06-04 01:21] mthrok commented on #680
Related PRs

#640
#643
#646
#650
#652

[2020-06-04 01:37] mthrok opened #686 "🚀 Feature Request: Add Kaldi Pitch Feature"
## 🚀 Feature

Add feature that is equivalent to Kaldi's `compute-kaldi-pitch-feats`.

## Motivation

From https://github.com/pytorch/audio/issues/679#issuecomment-638446056

So, espnet1 decided to use log Mel filterbank + pitch features as default.
However, the pitch feature extraction is rather complicated, and we had some difficulties in making this pitch feature extraction fully written by torc

[2020-06-04 01:37] mthrok commented on #679
I see. I created the issue https://github.com/pytorch/audio/issues/686 to track this.

[2020-06-04 01:39] mthrok commented on #686
@sw005320 For the reference, could you give me the pointer to ESPNet1's implementation of pitch?

[2020-06-04 01:40] sw005320 commented on #686
We simply call Kaldi pitch extraction. We don't have our own pitch extraction.

[2020-06-04 01:42] mthrok commented on #686
I see, thanks!

[2020-06-04 08:54] zhukovaes opened #688 "🚀 Feature Request: Opus audio format support"
## 🚀 Feature

Add opus format
## Motivation

Opus is a good and popular lossy audio coding format. A lot of audio files are stored in opus format but it's impossible to use it with torchaudio.load().
## Pitch

Please, make possible to do
audio = torchaudio.load("my_audio.opus")

[2020-06-04 11:41] mthrok commented on #688
Hi @zhukovaes

Thanks for bringing up the request.
How are you installing `torchaudio` and which backend are you using?
I see two possible solutions;
1. If you have `sox` with `opus` support in your system, building `torchaudio`'s C++ extension from source and making it depend on external `libsox` should allow you to use `opus` file.
2. Similarly, if you have `libsndfile` with `opus` support in yo

[2020-06-04 13:13] mthrok commented on #679
@sw005320

If spent has similar testing, could you give me the pointer to it??

[2020-06-04 13:15] mthrok opened #689 "Revise parameters for Kaldi mfcc compatibility test"
Similar to #679

We should also revise the parameters for mfcc test.

See also #681

[2020-06-04 16:21] nairbv commented on #267
More ideas:

* Functions to convert time series to Gramian Angular Fields, for applying vision models to time series data:
        https://www.aaai.org/ocs/index.php/WS/AAAIW15/paper/viewFile/10179/10251
        http://www.ieee-jas.org/article/doi/10.1109/JAS.2020.1003132?pageType=en
* Functions to convert duration or date/time to positional encodings (for attention models).

[2020-06-04 20:00] mthrok commented on #477
https://github.com/pytorch/audio/pull/625 addressed `setup.py`.

[2020-06-04 20:01] vincentqb commented on #477
Not [this one](https://github.com/pytorch/audio/blob/master/setup.py#L77) :)

[2020-06-05 00:53] #649 closed

[2020-06-07 16:03] FBMachine opened #704 "Backprop support for lfilter"
## 🚀 Feature
It is currently not possible to backpropagate gradients through an lfilter because of this inplace operation:
https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L661

## Motivation
It's not worth the pytorch overhead to even use lfilter without backprop support (it's much faster when implemented using e.g. numba). When I saw that this was implemented here, I was hop

[2020-06-08 16:03] #684 closed

[2020-06-09 13:31] kureta commented on #500
I am trying to perfectly align an orignal  signal with `istft(stft(signal))` in pytorch. I am able to do it like this in librosa:

[code]

When I plot and compare random sections from `y` and `y_hat` this is the result in librosa:
[y and y_hat](https://i.imgur.com/5FWXPJK.png)

If I pad my signal the same way and use pytorch's `stft` and `istft` functions I get this error:

[code]

I couldn't get

[2020-06-09 13:42] kureta commented on #500
Assuming pytorch will add `n_fft // 2` padding at both ends, thus increase the signal length by `n_fft`, right padding the signal like this `y = np.pad(y, (0, end_pad(len(y)+n_fft)), mode='reflect')` and setting `center=True` solved the alignment problem.

[2020-06-09 15:35] mthrok commented on #704
Hi @FBMachine

Can you provide a snippet that demonstrates `lfilter` not supporting backward?

I was trying to reproduce the issue but putting `lfilter` into `nn.Module` and backprobagating through it seems to work fine, but I might be doing something wrong.

Or, are you saying that you would like to compute gradient for coefficients for `lfilter`?

[code]

[code]

[2020-06-09 18:59] vincentqb opened #711 "Automatic batching and torchaudio datasets"
We need to investigate how we could extend automatic batching for datasets in torchaudio (or vice versa).

For instance

[code]

[code]

One workaround is to explicitly define a collate function:

[code]

[2020-06-09 22:56] sw005320 commented on #679
Sorry, I did not notice it. We did not specifically check the feature extraction compatibility test. But we’ll also use torchaudio features and will have make such a test in the near future.

[2020-06-11 15:39] mthrok opened #713 "Fix integer division in test"
Integer division started to fail.

https://app.circleci.com/pipelines/github/pytorch/audio/2197/workflows/6b973b19-99bf-4479-9ba3-369e0631b353/jobs/56963/steps

[2020-06-11 18:02] mthrok opened #715 "Backend is not deterministic in test"
When I work on backend management logics, some tests that depends on specific I/O starts to fail.

In the following case, Kaldi compatibility test starts to fail when backend is somehow changed to soundfile.
(This also suggests that `load_wav` produces different results between sox backend and soundfile backend.)

https://app.circleci.com/pipelines/github/pytorch/audio/2114/workflows/e00835a3-c9bd

[2020-06-11 18:06] #713 closed

[2020-06-11 21:39] vincentqb opened #717 "Add third_party to .gitignore"
We should add `third_party` folder to `.gitignore` file.

[2020-06-11 22:54] vincentqb commented on #704
Do we know that the derivative is correct though? A check we can do is with [gradcheck](https://pytorch.org/docs/stable/autograd.html#torch.autograd.gradcheck).

[2020-06-12 02:27] mthrok commented on #715
Another one from #698
https://app.circleci.com/pipelines/github/pytorch/audio/2220/workflows/7c9a50ec-2878-4a18-82c2-6e4ebcb102fc

[2020-06-15 15:53] mthrok commented on #686
Some thoughts on spec:

**Interface**
[code]

**Implementation**
 - https://github.com/kaldi-asr/kaldi/blob/75872d8548b10501d73ebebbc8dfeddfc13a175d/src/featbin/compute-kaldi-pitch-feats.cc#L97
    -> https://github.com/kaldi-asr/kaldi/blob/75872d8548b10501d73ebebbc8dfeddfc13a175d/src/feat/pitch-functions.h#L411-L419
    -> https://github.com/kaldi-asr/kaldi/blob/75872d8548b10501d73ebebbc8dfeddfc1

[2020-06-15 22:15] jimchen90 opened #721 "Naming conventions in torchaudio models"
## 🚀 Feature
For size names, add naming conventions `n_*` in torchaudio models

## Motivation

As mentioned in [torchaudio conventions](https://github.com/pytorch/audio#conventions), "For size names, the prefix `n_` is used (e.g. "a tensor of size (`n_freq`, `n_mel`)") whereas dimension names do not have this prefix (e.g. "a tensor of dimension (channel, time)")"

How about we change the size name

[2020-06-16 00:48] mthrok commented on #674
I looked into this and the cause was that `libogg` present in the system when compiling `flac`, but not compiling `sox`.

In my case, `libogg` was present in `/usr/lib/x86_64-linux-gnu`

[code]

and when building with `BUILD_SOX=1 python setup.py develop`, `flac` finds it and enables it with wrong directory.

<details><summary><code>third_party/tmp/flac-1.3.2/config.log</code></summary>

[code]
</

[2020-06-16 00:50] mthrok commented on #674
Adding `--disable-ogg` in [`build_flac`](https://github.com/pytorch/audio/blob/87a761d676181af19feeb94f8436683503ed3c31/build_tools/setup_helpers/build_third_party_helper.sh#L127-L129) function resolved this.

[2020-06-16 00:59] mthrok commented on #674
The above solution led to another issue with

[code]

This was caused by the fact `opusfile` found in `/usr/include/opus` / `/usr/lib/libopusfile`.

[code]

Similarly, adding `--with-opus=no` to [`build_sox`](https://github.com/pytorch/audio/blob/87a761d676181af19feeb94f8436683503ed3c31/build_tools/setup_helpers/build_third_party_helper.sh#L208-L212) function resolved this.

[2020-06-16 14:15] vincentqb commented on #721
Good idea. Since wav2letter has not been part of a release yet, we can go ahead and modify the interface without being BC-breaking.

[2020-06-18 14:51] #715 closed

[2020-06-18 17:39] pplantinga opened #729 "torchaudio.transforms.GriffinLim does not allow backpropagation"
## 🐛 Bug

I cannot backpropagate through GriffinLim due to in-place operations being used.

## To Reproduce

Minimal example:
[code]
Results in:
[code]
When using the suggested `torch.autograd.set_detect_anomaly(True)`, the last few items on the call stack:
[code]

## Expected behavior

Should allow backprop. Removing in-place ops in line 373 of `functional.py` seems to do the trick:

[code]

## E

[2020-06-18 21:48] #729 closed

[2020-06-18 23:18] mthrok commented on #618
@faroit

I am working on a new backend with sox and along the way, I addressed most of the issues with the existing sox backend.
https://github.com/pytorch/audio/pull/726
https://github.com/pytorch/audio/pull/728
Unfortunately the new backend is not compatible with the existing one due to TorchScript's technical limitation and design choice, but you may want to check out once it lands.

[2020-06-19 21:03] vincentqb opened #733 "doc for bg_iterator et al"
The [documentation](https://pytorch.org/audio/datasets.html) for torchaudio does not include `bg_iterator` and `disk_cache_iterator` from [code](https://github.com/pytorch/audio/blob/master/torchaudio/datasets/utils.py). Thanks to [comment](https://discuss.pytorch.org/t/audio-dataset-load-large-file-into-memory-in-background/85943) to point this out :)

[2020-06-22 15:42] astaff opened #736 "Label tracking meta-issue (edit me to get automatically CC'ed on issues! cc bot)"
This issue is used by [pytorch-probot](https://github.com/pytorch/pytorch-probot) to manage subscriptions to labels.  To subscribe yourself to a label, add a line `* label @yourusername`, or add your username to an existing line (space separated) in the body of this issue. **DO NOT COMMENT, COMMENTS ARE NOT RESPECTED BY THE BOT.**

As a courtesy to others, please do not edit the subscriptions of u

[2020-06-23 02:15] lbjcom opened #740 "Very slow speed in complex_norm() function."
## 🐛 Bug

When I call `spectrogram()` in torchaudio 0.5.0 my training script runs very slow. I downgraded to pytorch 1.4 and torchaudio 0.4.0 then the script runs fast. So I compared the difference betweeen 0.4.0 and 0.5.0 and found that the complex_norm() is the root cause of the slow speed:

https://github.com/pytorch/audio/blob/bc1df4882b967d55d8544e572ef16abeee9f45b5/torchaudio/functional.py#L

[2020-06-23 16:57] jimchen90 opened #741 "Test error in unittest_windows"
## 🐛 Bug

There are test errors (as shown below) in PR #738. I also saw it in my PR #735 .

## To Reproduce
This is the [error message.](https://app.circleci.com/pipelines/github/pytorch/audio/2421/workflows/670c901e-48cf-4ea4-8ae6-38c3ee8dd22a/jobs/63894/steps)
[code]

## Expected behavior
Test passed.

## Environment

## Additional context

[2020-06-23 19:17] peterjc123 commented on #741
The workground is pin scipy to 1.4.1.
Related: https://github.com/scipy/scipy/issues/12400 https://github.com/pytorch/pytorch/issues/40366

[2020-06-23 21:40] vincentqb commented on #741
Relates to #742

[2020-06-23 21:55] vincentqb commented on #740
Thanks for helping debug this! Can you try with either of the following?

[code]

[code]

[code]

[2020-06-24 00:00] lbjcom commented on #740
=> OK.

=> SLOW

=> SLOW

<img width="673" alt="image" src="https://user-images.githubusercontent.com/3222990/85479238-c2075a00-b5f8-11ea-9b94-8a433ef837ba.png">

Looks like `torch.norm()` has some problems. And as I mentioned in the body when `spectrogram()` is called in the main process there's no problem. This only happens when `spectrogram()` is called in a forked process.

[2020-06-24 05:17] PetrochukM commented on #740
I think this is an issue I posted about in `torch/audio`: https://github.com/pytorch/audio/issues/455.

[2020-06-24 15:41] vincentqb commented on #740
This does look like the same problem. While this is being fixed, let's replace `complex_norm` [here](https://github.com/pytorch/audio/blob/bc1df4882b967d55d8544e572ef16abeee9f45b5/torchaudio/functional.py#L490) by
[code]
Do you want to open a pull request for this?

[2020-06-24 20:36] lbjcom commented on #740
Looks like you checked the speed in CPU. When I tested my script I ran the script on CPU because `cuda()` can not be used in  a forked process. When `torch.norm()` is called in GPU tensors there's no problem.

[2020-06-24 22:54] vincentqb commented on #741
Closed by #743

[2020-06-24 22:54] #741 closed

[2020-06-26 14:56] vincentqb commented on #740
Closed by #747

[2020-06-26 14:56] #740 closed

[2020-06-27 21:41] Edresson commented on #446
@vincentqb  I think it would be interesting to implement [Jasper](https://arxiv.org/pdf/1904.03288.pdf) too, as it reported state of the art on LibreSpeech :).

It is available on [OpenSeq2Seq](https://github.com/NVIDIA/OpenSeq2Seq)

What do you think about converting the checkpoints of these models to pytorch and using them in the initialization of model weights?

[2020-06-30 18:09] vincentqb commented on #733
Example usage with any iterator:
[code]
In particular with `data_loader`:
[code]

[2020-07-01 10:23] liuyuyuil opened #754 "Add support for file-like object"
## 🚀 Feature

Add support to directly read file-like object for torchaudio.load , e.g. BytesIO.

[2020-07-01 19:59] astaff opened #757 "[don't delete] testing probot"
cc @astaff

[2020-07-01 20:45] mthrok commented on #754
Hi @liuyuyuil

What type of data do you expect to be in the file-like object?
Is it raw samples or decoded/compressed?

[2020-07-01 23:41] #688 closed

[2020-07-02 14:05] mthrok opened #764 "Remove insignificant test assets"
@astaff had introduced guideline for test assets in https://github.com/pytorch/audio/pull/759 and we can get rid of the following existing assets.

 - [ ] `100Hz_44100Hz_16bit_05sec.wav` sine wave, should be replaced by on-the-fly generation.
 - [ ] `440Hz_44100Hz_16bit_05sec.wav` sine wave, should be replaced by on-the-fly generation.
 - [ ] `CommonVoice/cv-corpus-4-2019-12-10/tt/clips/common_voi

[2020-07-02 14:09] mthrok commented on #674
fixed by #750 and #755

[2020-07-02 14:09] #674 closed

[2020-07-05 13:28] jiwidi opened #765 "Add TED-LIUM 3 dataset"
## 🚀 Feature
Hi! I saw torchaudio is missing the TED-LIUM dataset from https://arxiv.org/abs/1805.04699, https://www.openslr.org/51/ which is commonly used in ASR benchmarks and I would like to propose the addition of it to the list of avaliable datasets (And propose myself to code and contribute for it! :) )

## Motivation

TED-LIUM is a very common dataset in ASR benchmarking tasks and we should

[2020-07-06 07:02] liuyuyuil commented on #754
It is just the same as current `torchaudio.load` function supports. Right now, the first parameter of `load `function is `filepath`, which can only be the audio file path from the disk, currently I want to load audio from cloud-storage, such as S3 on AWS and OSS on AlibabaCloud, I have to download my audio files from remote into temporary files before loading.

Can we access the audio file like th

[2020-07-06 13:36] mthrok commented on #754
That's very broad. In such case, loading audio data involves detection of audio format then decoding process, which we do not implement by ourselves but rely on widely used external C++ libraries (such as `libsox` and `libsndfile`). We cannot pass `BytesIO` directly to them.

If you know that your files are wav format, then you can use [`scipy.io.wavfile.read`](https://docs.scipy.org/doc/scipy/ref

[2020-07-06 15:27] mthrok commented on #688
Opus support has been added. Nightly build and coming 0.6.0 should support it.

[2020-07-06 17:14] faraazn opened #767 "Error installing torchaudio from source"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `python setup.py build`

[code]

## Expected behavior

Expected to run building / installation without error.

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?
Build from source: `python setup.py build`
 - If you are building from source, which commit is it?
commit 4b583eab6afbd98af9c0

[2020-07-06 19:24] mthrok commented on #767
Hi @faraazn

At a glance, it seems that your compiler is not able to parse C++. Is your build environment correctly setup?
Is your `gcc` able to compile C++ code? What happens if you use `c++` or `g++` if that's available?

That does not seem to be relevant here, because compiler cannot parse C++ source code.

[2020-07-06 19:26] mthrok commented on #767
In my environment (Ubuntu), I see compilation commands like the following and I do not see `gcc` as compilation command.

[code]

[2020-07-06 19:29] boeddeker opened #768 "Basic linear algebra for complex numbers"
## 🚀 Feature

Support basic linear algebra for complex numbers.

## Motivation

I talked with @sw005320 about https://github.com/nttcslab-sp/dnn_wpe and it turns out, that the matrix inversion implemented with real numbers is unstable. In a beamforming example @Emrys365 observed a performance difference of 5 dB in a signal to distortion ratio (SDR) where he replaced the inversion with numpy code (

[2020-07-06 19:35] sw005320 commented on #768
@vincentqb and @mthrok,
This is one of the most serious issues when we try to use pytorch to some speech and audio processing during the JSALT workshop activities, as I mentioned before. Now, with the investigation from @boeddeker and @Emrys365, this problem becomes more serious, and also what we need is more clear. Of course, it's better to be supported by PyTorch for these basic operations in th

[2020-07-06 19:44] vincentqb commented on #768
cc @anjali411

[2020-07-06 21:02] anjali411 commented on #768
Hi @boeddeker thanks for creating this issue! `torch.matmul` is already supported for complex on cuda on master ([#40431](https://github.com/pytorch/pytorch/pull/40431)). I will add `torch.matmul` for complex numbers on CPU once the the TH to ATen port is complete ([#40927](https://github.com/pytorch/pytorch/pull/40927)).

For the expected autograd behavior for complex, checkout this doc note (to

[2020-07-06 21:37] boeddeker commented on #768
Hi @anjali411, thanks for the feedback. Good to hear, that matmul is supported on the GPU.
Is `torch.solve` also planned to be implemented on the GPU?

How do I figure out, if a gradient is already implemented?
In https://github.com/pytorch/pytorch/issues/33152 are no gradients mentioned (except gradient check).
Since the gradient `torch.solve` currently fails, I expect, that it uses the real grad

[2020-07-07 00:39] anjali411 commented on #768
Here's a list of the functions for which backward is supported and tested: https://github.com/pytorch/pytorch/blob/dac63a13cbe105c81db4539147687d593704fe83/test/test_autograd.py#L4336

The autograd support for complex numbers is still in the prototype stage but we follow the [JAX's](https://jax.readthedocs.io/en/latest/notebooks/autodiff_cookbook.html#Complex-numbers-and-differentiation) conventio

[2020-07-07 18:12] faraazn commented on #767
Thanks for your reply @mthrok , here's what I get when I run using c++ / g++:

[code]

[code]

[code]

[code]

I'm not very familiar with C++ so I appreciate the help.

[2020-07-07 19:42] nsarwar89 commented on #767
Any updates on the issues? I am getting the same error

`In file included from /Work19/2019/nabil/envs/audio-master/torchaudio/csrc/typedefs.cpp:
/Work19/2019/nabil/envs/audio-master/torchaudio/csrc/typedefs.h:7:46: error: expected cl{’ token
 struct SignalInfo : torch::CustomClassHolder {
                                              ^
error: command 'gcc' failed with exit status 1
`

Here is my

[2020-07-07 19:58] boeddeker commented on #768
Hi @anjali411, I forgot to say, thank you for pushing complex support in pytorch.

Sure, I opened an issue in pytorch.

Currently, the exception `RuntimeError: _th_addmm_out not supported on CPUType for ComplexDouble` blocks me to do further test (On my notebook I have no GPU to do the tests on the GPU).

In the long term it would be nice to have the eigenvalue decomposition implemented with gradi

[2020-07-07 20:17] faroit opened #770 "allow to change stft default parameters from `functional.spectrogram`"
Torchaudio spectrogram sets default parameters that are passed to `torch.stft`. Users may want to change these defaults.

## `functional.spectrogram` passing defaults to `torch.stft`

According to

https://github.com/pytorch/audio/blob/ad7f43fed2b85cdbe0713d25c6eb804e9cf98b69/torchaudio/functional.py#L162

the following defaults are passed to `torch.stft`:

* `center=True`
* `normalized=False`
* `

[2020-07-07 20:20] faroit commented on #770
I usually set `center=False` for training of spectrogram models and `center=True` at test time. Maybe bringing in @keunwoochoi @f0k @adefossez @bmcfee for discussion to understand if this something that is used more widely.

[2020-07-07 21:48] vincentqb commented on #770
It seems very reasonable to me to expose those options so they can be changed. The simplest way is probably just to have them as extra parameters with the current default value. I'd be happy to review a pull request for this. Thoughts?

[2020-07-07 22:24] vincentqb commented on #765
Sounds good to me, and you can open a PR for this! Please make sure to follow the current dataset code organization when doing so :)

[2020-07-08 08:08] jiwidi commented on #765
Nice! Will do :)

[2020-07-08 10:54] bmcfee commented on #770
Enabling or disabling `center` makes a lot of sense, especially if your function may be used in a block streaming context, where the padding induced by centering would create artifacts at the block boundaries.

[2020-07-08 14:56] anjali411 commented on #768
@sw005320 @boeddeker can you links to some functions/code blocks from the ESPnet repository that use complex numbers for a reference point? That would help in avoiding any last minute surprises for some functionalities that are not yet supported for complex numbers (for eg. `torch.clamp` etc) but we can prioritize them if we know about them ahead of time.

Also, I will we working on writing a tuto

[2020-07-08 15:25] boeddeker commented on #768
@anjali411 sure, I can give you two pointers.
 - https://github.com/fgnt/nara_wpe/pull/46 is an example for a dereverberation algorithm (WPE) implemented with torch.
   The algorithm works in the STFT domain. I tested the code with real numbers, so I expect it should also work with complex numbers, when the support for the operations is available.
    - Application: Speedup the computation by usin

[2020-07-08 18:08] mthrok opened #771 "🐛 Bug: SoxEffectsChain returns wrong result for float32 wav"
## 🐛 Bug

**UPDATE**: `SoxEffectsChain` has been marked as deprecated. Please use the new `apply_effects_tensor` or `apply_effects_file` functions.

`SoxEffectsChain` returns wrong result for 32 bit floating point WAV format.

**TOP** Input wav
**MIDDLE** Output from `SoxEffectsChain` with `lowpass -1 300`
**BOTTOM** Output from `sox` command with `lowpass -1 300`

<img width="1663" alt="Screen Sh

[2020-07-08 21:01] faraazn commented on #767
@mthrok I ended up downloading a zip of a previous version torchaudio (version 0.4.0a0), and that worked for me. I no longer need this issue resolved, but it suggests that there is a bug in the codebase rather than an issue with my compiler.

[2020-07-08 22:40] mthrok commented on #767
Please note that `torchaudio` master is developed on PyTorch nightly build and we do not intend to keep the compatibility with the older PyTorch releases.

@nsarwar89 In your case your PyTorch version is too old. Please use PyTorch 1.5

@faraazn This could also apply to you too. I was looking at the release note of PyTorch 1.5 and TorchScript Custom class is only added at 1.5. I thought 1.4 works

[2020-07-09 13:11] GolferChen commented on #328
I also encountered the same problem. Even though using the same parameters, mfcc produced by kaldi and torchaudio.compliance.kaldi.mfcc are very different, especially for the log energy.

[2020-07-09 17:42] faraazn commented on #767
@mthrok Ah I assumed the nightly build would be backwards compatible and it makes sense why that wouldn't be a good assumption to make. Thanks!

[2020-07-09 18:03] nsarwar89 commented on #767
@mthrok I can only use pytorch version 9.0 as I am using a cluster with older driver :( `The NVIDIA driver on your system is too old (found version 8000).` That is why I am trying to compile from source. It says that I need a G++ compiler instead of C++, but I tried installing all the variants from conda/pip, i.e. `gcc_linux-64, gxx_linux-64, conda make, conda cmake` - nothing seems to work. I am

[2020-07-09 18:10] mthrok commented on #767
@nsarwar89 Which feature of `torchaudio` do you intend to use? If you do not need sox-based features (load/save function based on `libsox` or `sox effects` filters), then you can use it without compiling the extensions. However, at this moment there is no way to install `torchaudio` while disabling extension building (unless on Windows) without modifying the code. If you need such feature I can ad

[2020-07-09 19:26] nsarwar89 commented on #767
@mthrok I am actually trying to run some codes from here: [https://github.com/JusperLee/Dual-Path-RNN-Pytorch/tree/master/data_loader], I am not sure what features I need yet - any workaround to get the code running for now would be great. Thanks a lot for your support :)

[2020-07-09 19:42] mthrok commented on #767
@nsarwar89 It seems that they only use `load` and `save` functions, in that case, you can use `torchaudio` without compiling the extension. Here are your options (from the easiest to more complicated)

1. Use binary distribution. `conda install -c pytorch torchaudio==0.4.0` or `0.5.0` depending on your `torch` version.
2. Install the master version without extension. This requires you to modify co

[2020-07-09 19:44] mthrok commented on #767
@faraazn If you have time, can you try with `PyTorch==1.5.0` ??

[2020-07-09 20:01] nsarwar89 commented on #767
@mthrok It did not work.. it seems I also need _torch_sox `  File "/Work19/2019/nabil/envs/env_d/lib/python3.7/site-packages/torchaudio/__init__.py", line 5, in <module>
    import _torch_sox
ImportError: /Work19/2019/nabil/envs/env_d/lib/python3.7/site-packages/_torch_sox.cpython-37m-x86_64-linux-gnu.so: undefined symbol: `_ZN6caffe26detail37_typeMetaDataInstance_preallocated_29E``

[2020-07-09 21:28] mthrok commented on #767
@nsarwar89 That error indicates that it could not find a symbol which
should be defined in libtorch. That means the version of torchaudio you
tried does not match the version of PyTorch in your system. Try another
version or, try the approach 2 I mentioned earlier.

Moto 🛵

On Thu, Jul 9, 2020, 16:01 nsarwar89 <notifications@github.com> wrote:

[2020-07-10 00:25] anjali411 commented on #768
which functions in this PR need to work with complex numbers? do all the functions also need `autograd` support?

This is actually helpful for referencing which functions are required for complex tensors. We already support many of these functions. I would encourage you to check out the complex support for these functions and give feedback!

For example, I would also like to draw your attention to

[2020-07-10 12:13] boeddeker commented on #768
The first argument of the function `wpe_v6`in nara_wpe is complex valued. So most functions have to work with complex numbers.
Currently, the code fails with missing support for `matmul`.

When combining WPE with a NN the `inverse_power` will be estimated from an NN. So gradient support for mul, matmul, conj, transpose/permute, getitem, sub and solve would be necessary (I hope I didn't forget a fu

[2020-07-10 13:24] mthrok commented on #768
@anjali411 @boeddeker I will coordinate the meeting then.

[2020-07-10 16:49] engineerchuan commented on #764
I would like to work on this.  Would we prefer doing this in one PR or okay to split across a 2-3 PR?

[2020-07-10 17:44] mthrok commented on #764
Hi @engineerchuan

Thanks for signing up.

It is preferable to split PRs into ones simple enough to review and each PR works on one single aspect. For example

- deleting all the unused files is simple enough to be in one PR.
- replacing `mp3` with `wav` is different nature so it would be easier to review if it's one single PR.
- Replacing `kaldi_file.wav` is under specified at this moment, so we

[2020-07-10 21:49] #757 closed

[2020-07-11 16:54] engineerchuan commented on #764
Couple of comments:

From this [test run](https://app.circleci.com/pipelines/github/pytorch/audio/2710/workflows/724b2b85-4fba-4d01-accf-aa743b54cc3f/jobs/73107/steps), I learned:

1. `torchaudio/datasets/gtzan.py` probably uses `genres/noise/noise.0000.wav`  so we shouldn't remove that.  I can't find a reference in the code though but the other files are put under `genres`.  How does this work?
2

[2020-07-11 16:55] engineerchuan commented on #764
Are we sure we can remove `steam-train-whistle-daniel_simon.mp3 `?

In file `torchaudio/test/test_io.py`, it seems to use this file to test MP3 reading IO.

[2020-07-11 20:47] mthrok commented on #764
Let me get back on this one.

This is my overlook. Thanks for pointing this out.

We want to replace this with `wav` format. The reason is loading `mp3` file as Tensor is a bit complicated with 3rd party libraries (the tests for non-I/O functionalities should not be using `torchauiod.load`), and as far as I checked, the tests that use `steam-train-whistle-daniel_simon.mp3` do not have requirement

[2020-07-11 22:38] engineerchuan commented on #764
I did a grep for the mp3 file
[code]
I found the mp3 file in 3 places, but not in `test_librosa_compatibility`.  For the 3 places I found the test, `test_io` and `test_dataloader` both seem to be "IO" tests so I will not touch them.  I will remove it from `test_sox_effects`.

Second issue, I looked for `test.wav` accidentally checked in and did not find it.

[2020-07-12 02:24] mthrok commented on #764
Hi @engineerchuan

I am sorry I replied you in very rushed manner and I gave you a wrong description which ended up confusing you.

Yes, that makes sense.

Yes, you are right. I updated the list.

Thanks for checking the details I missed.

[2020-07-14 19:39] engineerchuan commented on #689
I would like to work on this.

[2020-07-14 21:46] mthrok commented on #689
Hi @engineerchuan

Thanks. Do you know what are good parameters for `mfcc`? I am not expert but we can consult with our collaborators.

[2020-07-14 22:34] mthrok commented on #764
@engineerchuan

I looked at this one and found out that `GTZAN` dataset just traverse all the `wav` file under the `test/assets`. I see two issues here.
1. `GTZAN` dataset should not be traversing other files in `test/assets`
2. `GTZAN` dataset does not have the list of files that corresponds to the entire dataset. Since `GTZAN` has a fixed number of samples, it should not be traversing all the au

[2020-07-15 10:48] mmxgn commented on #764
Hello,

GTZAN indeed has a fixed number of samples but there are cases that paper change that. Some times people use e.g. different training-testing splits. Other times, papers remove some of the songs or move them to different genres to compensate to some of GTZAN's shortcomings. Of course now that you mention it there shouldn't be different genres, else it's not GTZAN anymore.

What I could do i

[2020-07-15 12:21] engineerchuan commented on #689
Not off top of my head.  Let me study it first for a day and come up with a proposal.

[2020-07-15 17:03] mthrok commented on #764
HI @mmxgn

Thanks for response.

This sounds a reasonable approach. Let me know if you have time and would like to work on it, if you are busy I will file an issue and try to get help.

One followup question: I downloaded `genres.tar.gz` and checked the contents and I see `rock`, `reggae`, `pop`, `metal`, `jazz`, `hiphop`, `disco`, `country`, `classical` and `blues`, but I do not see `noise` like

[2020-07-15 18:45] mthrok opened #786 "Issues with documentation generations"
`make html` command issues the following warnings;

[code]

[2020-07-16 09:02] v-goncharenko opened #789 "🚀 Feature Request: Add Filtfilt (scipy.signal.filtfilt equivalent)"
## 🚀 Feature

Add utility `filtfilt` to `torchaudio.functional`. This utility applies `lfilt` twice: in forward and backward direction, so phase of resulting signal is preserved. This function exist for example in `scipy` (see [their docs](https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.filtfilt.html)) and is frequently used in signal processing.

## Motivation

I frequently need

[2020-07-16 11:37] engineerchuan commented on #689
Hi @mthrok,

I would like to follow this approach with some questions:

1. For testing `compute-fbank-feats` and `compute-mfcc-feats`, first extract the default argument values.
2. As suggested in https://github.com/pytorch/audio/issues/679, use example datasets to augment more examples of "valid" kaldi parameters both for fbank and mfcc.

Question 1: How should we store and keep the default value

[2020-07-16 11:38] engineerchuan commented on #679
@mthrok  since this is so related to https://github.com/pytorch/audio/issues/689, I would like to work on this as well.

[2020-07-16 14:24] mthrok commented on #789
Hi @v-goncharenko

Thanks for the suggestion. I do not have anything against adding this to `torchaudio`, especially if it's well tested. @vincentqb your thoughts?

If your existing code is publicly available, can I take a look at it?
Adding code to `torchaudio` will likely to have different requirements for testing. You can read about it [here](https://github.com/pytorch/audio/tree/master/test#to

[2020-07-16 14:25] mthrok commented on #789
Question: the `spicy` doc says

What's your take on this one? I am not familiar with these functions so would like to hear your opinion.

[2020-07-16 14:59] vincentqb commented on #789
Yup, I'm ok with having this in torchaudio too @mthrok :) As usual, testing will need to ensure that the implementation support batch, torchscript, and correctness. It may be a good idea to have some testing around numerical stability given @mthrok's observation.

@v-goncharenko, please feel free to open a pull request for this!

[2020-07-16 18:46] mthrok commented on #689
I am not quite sure what you mean by cache, but in terms of JSON data, I think providing empty arguments `{}`, would result in default parameters in both Kaldi CLI and `torchaudio`'s implementation. That way if Kaldi changes default values, I think we can notice. Then we can add arguments with the current default values `{"allow_downsample": false, "allow_upsample": false, ... }`. I think the late

[2020-07-16 18:47] mthrok commented on #679
Sure! Thanks for signing up!

[2020-07-16 18:58] mthrok commented on #638
It's unbalanced curly bracket. Will be fixed in #788.

[2020-07-16 21:25] mthrok commented on #764
I made an example PR to generate dataset on-the-fly for YESNO dataset. https://github.com/pytorch/audio/pull/792

[2020-07-16 23:15] mthrok opened #794 "Dataset traversal cannot be deterministic"
[Many dataset implementations use `walk_files` function](https://github.com/pytorch/audio/search?q=walk_files&unscoped_q=walk_files) which uses `os.walk` which does not give us choice to make directory traversal in deterministic order.

This makes it harder to test dataset and causes issue on reproducibility. Dataset should have an option to be deterministic.

[2020-07-17 01:37] antimora opened #795 "Cannot load OGG file"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. open an OGG file
waveform, samplerate = torchaudio.load('common_voice_en_20603299.ogg', normalization=True)

[common_voice_en_20603299.zip](https://github.com/pytorch/audio/files/4935255/common_voice_en_20603299.zip)

[code]
## Expected behavior

Should open OGG as it is stated in README file without any additional dependency.

## Env

[2020-07-17 02:00] mthrok commented on #795
Hi @antimora

Ogg support has been added to the master branch recently so you need to use nightly build for that.

[2020-07-17 02:00] #795 closed

[2020-07-17 11:59] v-goncharenko commented on #789
My tests aimed to check scipy compatibility. And of course I'm ready to write some more if needed.

Well, this requires `sosfilt` to be implemented, but now we have only `lfilter`, so this is topic for another issue and PR.

Sure! Hope I'll have some time during this weekend.

[2020-07-17 13:02] arnasRad opened #796 "fft: ATen not compiled with MKL support on ARM processors"
## 🐛 Bug

`fft: ATen not compiled with MKL support` RuntimeError thrown when trying to compute Spectrogram on Jetson Nano that uses ARM64 processor.

## To Reproduce

Steps to reproduce the behavior:

Code sample:
[code]

Stack trace:
[code]

## Expected behavior

Spectrogram from waveform created

## Environment

Commands used to install PyTorch:
[code]

Commands used to install torchaudio:
sox:

[2020-07-17 14:26] mthrok commented on #796
Looks like this is PyTorch issue (`torch.functional.stft`). I will move this issue to Torch.

[2020-07-19 20:26] antimora opened #800 "🚀 Feature Request: Loading audio data from BytesIO or memory"
## 🚀 Feature
The load API does not support loading audio bytes from the memory. It would a great addition to be able to load file like object, e.g. BytesIO. This is would be similar to SoundFile's read function (https://github.com/bastibe/SoundFile/blob/master/soundfile.py#L170)

## Motivation
This addition will support a use case for reading audio as blobs directly from DB instead writing the fil

[2020-07-20 21:34] mthrok commented on #800
Hi @antimora  (and @faroit ) cc @vincentqb

Thanks for bring this up. I gave some thoughts to this and did quick research. Let me start with stating where we stand.

- `torchaudio` does not implement encode/decode, instead it uses external libraries for this.

We use `libsox` or `PySoundFile` for this.

- We cannot pass file object to `libsox`.

I do not see a way to pass file object (`FILE*`) to

[2020-07-20 23:36] #786 closed

[2020-07-21 06:27] antimora commented on #800
@mthrok , thank you very much for you detailed quick response. This is very helpful.

I agree with you regarding the challenges and limitations of currently used back-ends.

After you have mentioned miniaudio library, I have checked out and I can confirm it perfectly satisfies my use case. Not only I can load MP3 data from memory but I can also down-sample (from 44100 to 16000) on the fly. Also th

[2020-07-21 14:51] vincentqb commented on #800
How about [minimp3](https://github.com/lieff/minimp3) mentioned [here](https://github.com/pytorch/audio/issues/425#issuecomment-598212604)? Would that do what you want? (unless minimp3 and miniaudio are in fact related?)

[2020-07-21 17:40] mthrok commented on #800
@antimora

I am glad that it worked well for your needs, and thank you for the code snippet. This is useful for the whole torchaudio user base.

`miniaudio` seems to have a lot of ideal features. I see that it can be used as argumentation (applying codec to degrade the data) as well, so I will definitely look into it.

[2020-07-21 18:19] antimora commented on #800
Thanks, @vincentqb . I think minimp3 could be another good candidate for torchaudio's backend. Unfortunately, a python project with minimp3 binding seems to unmaintained and unreleased: https://github.com/pyminimp3/pyminimp3. So I cannot immediately use it.

It looks like miniaudio uses dr_libs for its decoders:
https://github.com/mackron/dr_libs. And its mp3 decoder is apparently based off minimp

[2020-07-21 19:29] sw005320 commented on #800
I compared several resampling methods in some speech recognition tasks a long time ago, but we did not find a large impact. With feature extraction, normalization, and re-training, such difference can be ignored. (it might be a problem if we cannot re-train a model).

[2020-07-22 22:32] mthrok opened #815 "walk_files's prefix=False parameter does not make sense"
When there are files spread across nested directories, giving `prefix=False` would return file names without intermediate directory structures. The caller of the `walk_files` know the path to the root directory and receives filenames without intermediate files. This is not useful.

## Example

[code]

[code]

What users can do with returned value of `'f9.txt'`??

## Proposal

Change the parameter

[2020-07-22 22:43] mthrok commented on #815
oops I missed `prefix=True` parameter.

[2020-07-23 05:56] antimora commented on #800
UPDATE:

I have discovered `decode` function in `pyminiaudio` has serious memory leak, unfortunately. Memory usage blows up during training.

I have filed a bug with pyminiaudio about this: https://github.com/irmen/pyminiaudio/issues/19

I will do more debugging to see if there is a workaround. But currently I am back where I started.

[2020-07-23 18:52] #794 closed

[2020-07-23 18:59] mthrok opened #821 "Improve tests for Dataset"
`torchaudio` had minimalistic test for dataset implementations. See [here](https://github.com/pytorch/audio/blob/master/test/datasets/datasets_test.py)

Recently we have improved our test utilities and now we can generate synthetic data which emulates a subset of dataset. See examples [YesNo](https://github.com/pytorch/audio/blob/master/test/datasets/yesno_test.py) and [GTZAN](https://github.com/p

[2020-07-23 19:33] esqu1 commented on #821
I'll take a stab at the `SpeechCommands` dataset 😄

[2020-07-23 19:47] edwardhdlu commented on #821
I'll take a look at LibriSpeech

[2020-07-23 19:59] lawrencechen98 commented on #821
I'll check out the LJSpeech dataset

[2020-07-23 20:40] VictorBeraldo opened #823 "🚀 Feature Request: Audio mix and degrader"
## 🚀 Feature

Add mixing feature to torchaudio with an desirable SNR
## Motivation
This feature wil be usefull for audio data augmentation by adding noise to the audio signal.

## Alternatives
There are a lot of python packages that contains this features, but it will be very useful if we have it inside torchaudio

## Additional context

[2020-07-23 20:47] suraj813 commented on #821
I'll have a go at CMUArctic

[2020-07-23 20:50] mthrok commented on #823
Hi @VictorBeraldo

I love this idea and I was actually thinking about a new augmentation (degradation) module [here](https://github.com/pytorch/audio/issues/800#issuecomment-662005956) (although it turned `miniaudio` leaks memory, so we cannot do it right away).

Do you have an idea of interface or an inspiration from existing packages? It would help to discuss requirements, pros and cons.

[2020-07-23 20:52] mthrok commented on #800
@antimora

Thanks for sharing your finding. That's very unfortunate.

[2020-07-23 21:21] mthrok commented on #815
I looked into this and most of the dataset implementation uses `prefix=False`, this means they expect single level directory structure, so there is no need to use `os.walk`. `os.listdir` suffices.

Only `speechcommands` uses `prefix=True`, but this one seemingly requires only intermediate path.

[code]

[2020-07-23 21:32] antimora commented on #800
@mthrok and others.

I found a workaround for the memory leak that I described a comment of the bug I have reported: https://github.com/irmen/pyminiaudio/issues/19#issuecomment-663178015. The solution still uses miniaudio's functionality but calls different function. The memory leak appears in pyminiaudio's implementation of decode* functions, which do not release memory.

For those wishing to use

[2020-07-23 22:43] YazhiGao commented on #821
I'll take a look at CommonVoice dataset.

[2020-07-24 00:44] VictorBeraldo commented on #823
Hello @mthrok!
I find two of them here: https://github.com/emilio-molina/audio_degrader and https://github.com/sleekEagle/audio_processing.
The first is more complete with a lot of complex features and the second uses what exactly what i want to have in torchaudio.

[2020-07-24 01:36] mthrok commented on #800
Hi @antimora

That's wonderful! I am glad that it's working again for you and thanks for sharing the resolution 😀

[2020-07-24 18:49] mpariente commented on #768
I should have seen this earlier. Did the meeting happen? What were the conclusions?

I currently use [this method](https://hal.inria.fr/ensl-00125369/) to emulate complex tensors in pytorch and I see now that this is what is done in `torch_complex` as well.

I think `svd` and  `pinverse` would be very good to have as well as it's more robust than `inverse`.

[2020-07-25 07:02] faroit commented on #733
I evaluated the use of `bg_iterator` in my pipeline and got almost no speed up regardless which loading backend I used.

@vincentqb Can you share your experience when to expect an improvement using it especially in combination with the number of workers?

[2020-07-27 16:38] mthrok opened #828 "🐛 Bug: Recursive traversal causes OSError in most of dataset implementations"
## 🐛 Bug

As noted in https://github.com/pytorch/audio/issues/815, `walk_files` with `prefix=False` traverses directories recursively but only returns filenames. Therefore, having audio files in nested directory in the dataset directory causes Dataset implementation to fail. This affects VCTK, LibriSpeech, YesNo, LibriTTS.

## To Reproduce

Run the following script.

[code]

[code]

## Expected be

[2020-07-27 17:22] mthrok commented on #823
Hi @VictorBeraldo

Thanks for the links. I skimmed through them and here is my thoughts
 - *audio_degrader*

[2020-07-27 17:36] mthrok commented on #823
Hi @VictorBeraldo

Thanks for the links. I skimmed through them and here is my thoughts

- **audio_degrader**
    - **sox**
        torchaudio has direct binding to `libsox` where you can run most of sox effects [directly on a Tensor](https://github.com/pytorch/audio/blob/577796ba112228a7965c3b1ffc277c692e7b8ce9/torchaudio/sox_effects/sox_effects.py#L61) or [on a file](https://github.com/pytorch/a

[2020-07-27 18:43] mthrok commented on #768
Hi @mpariente

Thanks for your comment.

The meeting has happened and we followed the discussion above and narrowed down the requirements from ESPNet to the followings

* Gradient support for
  - mul
  - matmul
  - conj
  - transpose / permute
  - getitem
  - sub
  - solve
  - symeig / eigh
  - exp

We are interested in hearing complex number use cases and we are also interested in your work of as

[2020-07-27 19:00] vincentqb commented on #828
This seems to be due to how the path is regenerated when accessing a file, right?

To make this more precise, my impression would be that the dataset should silently accommodate modified datasets, and we should define how the abstraction would behave when presented with modifications.

I'm expecting users to do modifications to their datasets. Based this comment, are you advocating that the datase

[2020-07-27 21:07] vincentqb commented on #815
LGTM.

[2020-07-28 07:01] mpariente commented on #768
Hi, thanks for your answer.

This would already be great to have !
I guess `z.abs()` would be `z * z.conj()` so there is no need to explicitly require the gradients?
How about log?

Yes, we could set up a meeting. I'm tagging @popcornell and @faroit here as they could also be interested.

[2020-07-28 11:32] popcornell commented on #768
Second this, it is essential for integrating standard DSP techniques (e.g. beamforming) in a simple way for E2E training.
Regarding instability of matrix inversion, I tried in the past to do E2E training through operations that required matrix inversion (on real numbers only) and using double precision does make a huge difference, i don't know however if it is your case.

[2020-07-28 13:30] dstrube1 commented on #408
When I try to import torchaudio into my Android project's app build.gradle file like so:
`implementation 'org.pytorch:pytorch_android_torchaudio:1.5.0'`

I get this error:
**Could not find org.pytorch:pytorch_android_torchaudio:1.5.0.**

Is this the same issue as what's reported above?

[2020-07-28 13:51] mthrok commented on #408
@dstrube1

There is no android package dedicated for `torchaudio`. You build your model or pipeline in Python, then dump it as a Torchscript file, then load it from your app and run it with Torchscript runtime. Please refer to the following.

https://pytorch.org/mobile/home/
https://pytorch.org/tutorials/beginner/Intro_to_TorchScript_tutorial.html

[2020-07-28 22:04] vadimkantorov commented on #800
Just for information, I'm working on a pure-C ffmpeg audio reading bindings for PyTorch (currently C-side allocates gives back a DLPack tensor): https://github.com/vadimkantorov/readaudio

I'm planning to also support filter graphs (for augmentation) and decoding from byte array.

Of course it's not mature or tested, but if using ffmpeg directly works from perf point of view, this simple approach

[2020-07-28 22:45] antimora commented on #800
@vadimkantorov Thanks for the information and your effort.

I started using miniaudio API to decode which is very fast compared to other python converted. However, when I used resampy or torchaudio's resampling, the conversation ended up being extremely slow (see my previous comment. Luckily miniaudio has resample function which is fast. Uses linear algorithm (https://miniaud.io/docs/manual/index.

[2020-07-28 22:55] mthrok commented on #800
@vadimkantorov FYI torchvision has FFmpeg binding which can decode video and audio. One proposal we got is to adopt it to torchaudio once they clean up the installation process.

@antimora If you want a fast resampling, you can also do `torchaudio.sox_effects.apply_effects_tensor(effects=["rate", "16000"])` too. (you need master build though)

[2020-07-29 02:46] apeguero1 opened #834 "Performance drop after switch to torch istft"
## 🐛 Bug

There seems to be a significant performance drop after switching from using the torchaudio istft to torch istft (which itself was migrated from torchaudio).

istft switch from torchaudio to torch here [#523](https://github.com/pytorch/audio/pull/523)
migration here [#34827](https://github.com/pytorch/pytorch/pull/34827)

I made a corresponding issue in pytorch [#42213](https://github.com

[2020-07-29 11:30] mthrok commented on #834
Hi @apeguero1

Thanks for bringing the up.
 - Can you share the number you are talking about?
 - Can you clarify the version you are comparing and fix your issue statement? (there is no torchaudio 1.6.0 and I think you mean pytorch 1.6.0 but just to make sure).

[2020-07-29 11:35] mthrok commented on #834
Closing this to continue discussion in https://github.com/pytorch/pytorch/issues/42213

[2020-07-29 11:35] #834 closed

[2020-07-29 17:32] vincentqb opened #837 "soundfile backend missing"
After installing torchaudio through conda on linux:
[code]

cc @mthrok

[2020-07-29 17:54] mthrok commented on #837
Soundfile is optional dependency so not installed automatically. Please run `conda install pysoundfile -c conda-forge`.

[2020-07-29 17:54] #837 closed

[2020-07-29 18:04] vincentqb commented on #837
indeed, oops :)

[2020-07-29 22:59] mthrok opened #839 "Remove istft wrapper"
`istft` has been moved to `torch`.

For the backward compatibility we kept the `torchaudio.functional.istft` interface, but it has been deprecated in `0.6.0` release.

We can now remove the interface itself.

1. Delete the function definition https://github.com/pytorch/audio/blob/1ecbc249b5eed3a2e0e765ac0046e2bf9c231884/torchaudio/functional.py#L48-L118
2. Delete the tests https://github.com/pytor

[2020-07-29 23:19] j3remych3n commented on #839
will work on this

[2020-07-29 23:59] j3remych3n commented on #839
opened pr https://github.com/pytorch/audio/pull/841

[2020-07-30 19:16] #839 closed

[2020-07-31 20:22] mthrok commented on #768
Hi @mpariente, @popcornell

Thanks for the response. @dongreenberg will coordinate the meeting.

[2020-08-03 09:33] dataprowl commented on #823
Hello, @VictorBeraldo

The links that you've provided are great resources. I went through them and I found that I'm working on something very similar. So, I thought to give it my side of the effort to contribute to it.

Please do check out the [PR](https://github.com/pytorch/audio/pull/848) for this request. It is a simple utility that is designed to degrade the audio Tensor with noise at a specif

[2020-08-04 08:03] duvtedudug opened #851 "Blank zeroed rows in Mel spectrograms"
## 🐛 Bug

Mel spectrogram have some random rows that are all zeros. Normal spectrograms are fine.

## To Reproduce

Steps to reproduce the behavior:

1. `mel = torchaudio.transforms.MelSpectrogram()(waveform)`

or

1. `spec = torchaudio.transforms.Spectrogram()(waveform)`
1. `mel = torchaudio.transforms.MelScale()(spec)`

Both give something like this (white lines are zero valued)

<img width="917

[2020-08-04 16:13] vincentqb opened #852 "Re-align GTZAN with other datasets"
The update done in #791 removed `walk_files` from GTZAN, and added pattern recognition. We'll need to re-align GTZAN with the other dataset.

~I suggest we simply add a filter after `walk_files` instead of updating `walk_files`, as done in [SPEECHCOMMANDS](https://github.com/pytorch/audio/blob/master/torchaudio/datasets/speechcommands.py#L74).~ As suggested by @mthrok below, let's instead iterate

[2020-08-04 17:00] vincentqb opened #853 "Move computation code from kaldi implementation into functional"
Functions in `torchaudio.compliance.kaldi` should only provide a kaldi-compatible interface to `torchaudio.functional`.

- [ ] [resample waveform](https://github.com/pytorch/audio/blob/master/torchaudio/compliance/kaldi.py#L892)

Suggestion on approaching other functions in `torchaudio.compliance.kaldi`?

[2020-08-04 21:56] vincentqb opened #856 "Linting and formatting"
Thoughts on running `black` and `isort` on all files within torchaudio? I am suggesting we do so manually (and not automatically through a post-commit hook).

* (+) contributors can simply run `black`/`isort` to ensure the formatting is standardized.
* (-) git blame will show most files modified by the same PR (assuming the change is done in one PR)
* (+) contributors were already correcting lint/

[2020-08-05 15:42] mthrok opened #858 "Nightly smoke test discrepancy with use case scenario"
Past couple of days, the nightly smoke tests of linux conda are failing with "segmentation fault", however when I perform the same operation (`python -c "import torchaudio"`) with a distributed nightly built in a fresh environment, it works.

<Details><Summary>install</Summary>

[code]

</Details>
<Details><Summary>env info</Summary>

[code]

</Details>
<Details><Summary>smoke test</Summary>

[cod

[2020-08-05 16:06] mmxgn commented on #852
Hi,

That PR addressed the comment on #764 that with `walk_files` we could introduce extra files.

[code]

I could still change it to use `walk_files` and do the pattern recognition with `filter` if that's ok?

[2020-08-05 16:11] seemethere commented on #858
For smoke tests it should be unnecessary to actually upload the built binary. I think in reality the ideal way to do these tests is to smoke test first and upload only after the smoke test is actually done.

Did some digging, the actual cause of the segmentation fault is that the smoke test is not actually installing the nightly version but installing the latest version on `pytorch-test`, I'll hav

[2020-08-05 18:56] #858 closed

[2020-08-05 19:04] vincentqb commented on #852
That would be great, thanks!

[2020-08-05 19:20] mthrok commented on #852
I do not think it's a good idea to keep using `walk_files`. The utility is solving the problem that Dataset does not have. Once the root directory of each dataset is located, then there is no need to do directory traversal recursively. It's better to have a new utility function that does exactly what is needed by Dataset requirements, that is iterate the audio files in the list of subdirectories i

[2020-08-05 19:30] vincentqb commented on #852
I'm ok with your suggestion. I updated the description to reflect it. That being said, I'd leave this issue open until all the datasets use the same structure :)

[2020-08-06 18:53] anjali411 opened #860 "Migrate TorchAudio to use complex tensors in place of real tensors of shape `(..., 2)`"
Complex Tensors were released in `1.6 release` of torch. The progress of complex numbers support in torch can be tracked [here](https://github.com/pytorch/pytorch/issues/33152). This issue is meant to outline the tasks that need to be completed to migrate torchaudio API to use these newly added complex tensors.

The general plan for this migration, would be to add a local `USE_COMPLEX` flag to avo

[2020-08-06 20:19] mthrok commented on #851
Hi @duvtedudug

Thanks for reporting the issue. Can you provide us how you load audio file? Also, do you know a publicly accessible audio data that causes the same issue, or can you share your data?

[2020-08-06 20:24] mthrok commented on #856
I do not think there is an automatic way to perform formatting/linting as commit hook has to be installed manually by each user.
Also I found commit hook not helpful, because it prevents from pushing WIP, which I have no intention to format.

If you want an automatic way, you need a pusher job that does formatting and commit to master branch.

[2020-08-06 20:27] mthrok commented on #852
An approach better than `walk_files` is to delegate the responsibility of finding directories where audio files are found to Dataset, and the responsibility to traverse audio files in the directories in fixed order to a utility function.

[2020-08-06 21:13] mthrok commented on #860
Thanks @anjali411.

Do we have an estimate on completion of this migration?
(By the completion of the migration, I mean we will only support complex dtype.)
I assume after all the implementation is completed, we want to have certain release cycles where users can opt-in for complex dtype, and make sure that some major downstream users migrate too.

[2020-08-06 21:18] vincentqb commented on #856
As I mention in the description, I did not mean "automatic" in the sense of post-hook commits, and I would not want that. :) I meant "automatic" in the sense of encouraging people to use black when they want. This is not possible right now just because of all the side effects that would happen.

That being said, we do check for flake8, so that is probably enough for my taste :)

[2020-08-06 21:20] vincentqb commented on #856
I'm happy enough for now with enforcing flake8. Let's keep it as it is then :) I'm closing the issue, but feel free to re-open if you'd actually like to use black/etc applied to all files.

[2020-08-06 21:20] #856 closed

[2020-08-06 21:43] JianwuXu commented on #821
I'm taking the VCTK dataset

[2020-08-06 22:48] ksanjeevan opened #862 "dither with noise_shaping=True not working on cuda input"
## 🐛 Bug

When using the functional `dither` with noise shaping, line https://github.com/pytorch/audio/blob/e808225f1859fbf47e778b73c64e82669d1c1e94/torchaudio/functional.py#L1660 doesn't get the device from the input waveform.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

Dither should work with both `cpu` and `cuda` input.

## Environment

 - What commands did

[2020-08-07 14:32] vincentqb commented on #852
This is similar to having a deterministic `walk_files` to detect audio files and a filter to preserve only files matching a certain pattern, no?

[2020-08-07 15:13] mthrok commented on #852
No it is not. That approach does not delegate the responsibility of designating the directories to be looked at. That way no one is responsible at finding the correct directories that each Dataset implementation expects.

[2020-08-07 16:05] vincentqb commented on #852
Ah, I see what you mean now: the objection is that `os_walk` is currently used  to detect the folders containing the audio files, and would also recurse sub-folders with more audio files.

Let's clarify what we want from our datasets:

1. The first installation/download of dataset produces a standard representation of the dataset.
1. The order of data points is deterministic for all users.
1. A si

[2020-08-07 18:52] mthrok commented on #852
I am against adding this as requirement. This makes the requirements for torchaudio's library Dataset implementation too vague and open, without us not knowing if it is really valuable. Also if the Dataset implementation is easy to port (by 6), then why does this have to be a requirements of the library Dataset?

I do not think `Datasets have similar implementations` should be a requirement and I

[2020-08-07 20:06] mthrok commented on #862
Hi @ksanjeevan

Thanks for reporting this issue. I made a PR to fix this #865

[2020-08-07 20:10] mthrok commented on #821
@JianwuXu Thanks, please be aware that VCTK dataset has been moved on upstream, and we are discussing the update to the Dataset implementation. https://github.com/pytorch/audio/pull/812

This is strange, but when we use mocked datasets in test, the loose specification of VCTK should work with the previous implementation, you can write the test for the new dataset found at https://datashare.is.ed.a

[2020-08-07 20:44] vincentqb commented on #852
Thanks for the feedback :)

That's fair objection. What I understand from what you are saying is that the goal of replacing `os_walk` isn't 4 above. Is that correct? I'm ok not having this as a requirement.

Just to clarify the comment above: are you saying instead that we should return errors as soon as the dataset structure differs from the intended application? say someone removes a whole data

[2020-08-07 21:24] jiwidi opened #867 "Installing audio in develop mode macOS"
## ❓ Trouble installing audio in editable mode and running test
Hi, I'm working in a contribution to add TEDLIUM dataset https://github.com/pytorch/audio/issues/765 and I'm having trouble making my local installation of torchaudio to work in editable mode.

Initially I didnt find any instructions on how to locally compile the code to run in editable mode but I the main contributing instructions fr

[2020-08-07 21:42] mthrok commented on #867
Hi @jiwidi

It is highly recommended to use nightly build of PyTorch.

[code]

I just tested this with my macbook (master branch) and it worked fine. I often also see the warning about the compiler but so far it works.

[2020-08-07 21:51] jiwidi commented on #867
This fixed my issue thanks! In case it comes handy in the future I found the way to force setup.py to compile with clang

run
[code]

[2020-08-07 21:51] #867 closed

[2020-08-07 22:02] JianwuXu commented on #821
@mthrok the vctk.py code is expected to change?

[2020-08-07 22:50] #862 closed

[2020-08-09 10:08] Abhi011999 commented on #821
@JianwuXu for updated dataset, yes.

[2020-08-09 14:05] JianwuXu commented on #821
@mthrok @Abhi011999 thanks for info. I will create the testing based on #812

[2020-08-09 18:30] jiwidi opened #868 "Loading sph audio files"
## Can audio.load load NIST sphere format (SPH) files?

Hi!

So I have tried to load sph files from tedlium dataset with simply:

[code]
The load was successful but when saving it to a .wav file to check if the torchaudio read correctly the audio then I realized it was not working.

My question then is if this type of audio files is currently supported by torchaudio and if so, could you provide so

[2020-08-10 11:57] jonashaag opened #869 "istft does not support batching"
## 🐛 Bug

`torch.istft` documentation says:

BUT the output of `torch.stft()` may also have an additional batch dimension that is not supported:

And if you stick `stft()` output into `istft()`, indeed you get an error that says `istft()` does only support 3 or 4 dimensions.

[2020-08-10 16:58] sidwa opened #870 "building torchaudio on armv6"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
As specified in the installation instruction to build from source I installed the apt

[2020-08-10 17:03] mthrok commented on #870
Hi @sidwa

Look very similar to https://github.com/pytorch/audio/issues/767.
What is the version of PyTorch you are using? When you build torchaudio from master, It has to use the master build of PyTorch.
Please run `python -m torch.utils.collect_env` and paste the result.

[2020-08-10 17:15] mthrok commented on #868
Hi @jiwidi

Thanks for reporting this.

Could you share the following things?
 - Your environment: the output of `python -m torch.utils.collect_env`
 - code snippet you used to save audio

The correctness of the `save` function in [`"sox"` backend](https://pytorch.org/audio/backend.html#backend) is never tested with `"sph"` format. We are moving away from "sox" backend but we do not support `"sph"

[2020-08-10 17:42] sidwa commented on #870
Hi @mthrok ,
Here's what I got:
[code]

[2020-08-10 18:20] mthrok commented on #870
Thanks.

So, as suspected, the version of PyTorch is too old.
`1.1.0` does not have Torchscript C++ extensions, thus the error you get.

Please use nightly-build (most preferred way but may not be available for your platform), master source build, or `1.6.0`.
Please checkout the official instruction for the installation. https://pytorch.org

`pip` installation should work too if conda is not avail

[2020-08-10 18:37] sidwa commented on #870
Building pytorch on raspberry pi-0 easily takes about 4 days. Which is not possible for me to do as of now. So I have to rely on the pre-built torch version 1.1.0. Do you think any of the torchaudio versions would be compatible with pytorch version that I currently have?

[2020-08-10 18:49] mthrok commented on #870
I do not know which version of torchaudio work with 1.1.0, so you might want to try them one by one.

Another thing you can try is to disable C++ extension. If you change the following `get_ext_modules` function to return `None`, it will not compile C++ extension. The downside is that you cannot use functions based off of `libsox`. (such as sox effects and audio I/O. You need to install soundfile

[2020-08-10 22:38] jiwidi commented on #868
Yes @mthrok!

Environment on my macbook:
[code]

The code (with the first sample from the link in first message):
[code]
I checked if the sample returned from the loading was the same specified as in the sph (44100) and they match.
I try open the wav file and its now a 2hour snoring version

[2020-08-10 23:09] mthrok commented on #868
@jiwidi Thanks, and you are working on `torchaudio` master branch, right?

I added support for `sph` format in `"sox_io"` backend.
Can you try my branch mthrok/sph or cherry pick this commit https://github.com/mthrok/audio/commit/f78ebf9556cf237de9e2fb8b3b156dca90769435
 and try `"sox_io"` backend?

[code]

I believe this works, and if you can confirm I will merge it to master branch.

[2020-08-10 23:47] sidwa commented on #870
I tried to search but effects are present in Sox effects? I definitely don't need audio I/O

[2020-08-11 10:49] jiwidi commented on #868
@mthrok I can confirm it works :+1: Thank you very much for the quick PR!

[2020-08-11 13:55] mthrok commented on #870
Sox effects is the module found [here](https://github.com/pytorch/audio/blob/master/torchaudio/sox_effects/sox_effects.py), which allows to apply the same effects as `sox` CLI on tensors.

If all you do not need either sox effects or sox-based I/O, then you can skip the C++ extension build, and you should be able to use (most of) the rest of functions. The master version is tested against PyTorch

[2020-08-11 13:58] mthrok commented on #868
@jiwidi Thanks for confirming. I merged the commit to master.

[2020-08-11 13:58] #868 closed

[2020-08-11 15:55] sidwa commented on #870
Turns out version 0.2.0 has all the functionality I need and is compatible with torch 1.1.0. Thank you for the help @mthrok  :grin: . No need to go through the Sox effects code.. Phew

[2020-08-11 15:55] #870 closed

[2020-08-11 16:54] JianwuXu commented on #821
@mthrok PR for VCTK is created. https://github.com/pytorch/audio/pull/875

[2020-08-12 09:01] jiapei100 opened #876 "Where is version.py if I insist on building from source?"
When I tried to install by `pip setup.py build`, I obtained the following **ERROR** message:

[code]

It looks **version.py** is missing.

Cheers

[2020-08-12 10:41] mthrok commented on #876
Hi @jiapei100

The error is not about version.py missing, but about wrong type being given to built-in 'open' function. What is your version of Python? It's confirmed to work on supported versions, 3.6, 3.7 or 3.9.

Also, our setup.py is not fully compatible with pip, so please use 'python setup.py <SUBCOMMAND>'.

[2020-08-12 16:52] RemonComputer opened #877 "Add Stereo to Mono Convertions"
## 🚀 Feature

Make mono to stereo or stereo to mono conversion

## Motivation

You Guys have made an amazing job, but stereo to mono and vice versa is simple, it seems that you missed it,
I think it might be done with simple mean in the channel dim

## Pitch

This should be a Simple Transform like ToMono(channel_first=True) which will be in Torchaudio.Transforms

[2020-08-13 03:16] zyn2609530 opened #878 "torchaudio import error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Python 3.7.4 (default, Aug 13 2019, 20:35:49)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/storage/liuzuozhen/tools/anaconda/anaconda3/lib/python3.7/site-packages/torchaudio/__init__.py", lin

[2020-08-13 08:00] duvtedudug commented on #851
After more exploration the cause was having not enough `n_fft` bins in the spectrogram to get the default 128 Mel bins.

I was following the code in the [tutorial](https://pytorch.org/tutorials/beginner/audio_preprocessing_tutorial.html)

Here's my code...

[code]

Just adding more resolution to the spectrogram seems to give the Mel conversion what it needs!

My only suggestion is to change the de

[2020-08-13 13:17] RemonComputer commented on #877
Attached a small Implementation of Mine
[transformations.py.txt](https://github.com/pytorch/audio/files/5069233/transformations.py.txt)

[2020-08-13 13:45] mthrok commented on #878
Hi @zyn2609530

Your PyTorch version is too old. Please checkout [README](https://github.com/pytorch/audio#dependencies) for the corresponding PyTorch / torchaudio versions.

[2020-08-13 13:45] #878 closed

[2020-08-14 11:40] jiwidi opened #879 "How to index subsegments of audio tensor based on time"
## How to select a subsegment from a tensor

Hello!

This may be a very noobie question but I can't get to solve it on my own.

Lets say I want to select the first 10 seconds of an audio sample that I have loaded into a torch tensor with torchaudio, how should I determine the indexes of the tensor that correspond to the 10sec sample?

I have done some playing with audio files with different sample

[2020-08-14 14:17] mthrok commented on #879
Hi @jiwidi

Sample rate represents the number of samples per second per channel. So you can simply multiply the duration you want in second and sample rate. `int(sample_rate * duration)`, (btw this is also called `frame` in the context where they do not want to consider the number of channels).

For example if you want to get 10 seconds of audio data, with 44.1k [Hz], `tensor[:, :10 * 44100]` will

[2020-08-14 14:52] jiwidi commented on #879
That was just a miswriting of me, I didn't end the sentence that was supposed to be:  (600000 elements of all channels) doesn't return the same length in different audios with different sample rate

For example if you want to get 10 seconds of audio data, with 44.1k [Hz], tensor[:, :10 * 44100] will do. This slicing operation should be no-op because there should be no memory copy.

This made it ve

[2020-08-14 15:55] mthrok commented on #879
Does the original tensor contain more than 600000 elements?
Slicing operation works similar way as Python list, so it does not fail even when there is not enough elements.

[2020-08-14 16:41] jiwidi commented on #879
Yes, but both tensors had different sample rate so once converted to wav again didnt had same duration. But I have it clear now why this happens thanks to you

[2020-08-14 19:12] #879 closed

[2020-08-14 20:30] mthrok commented on #877
Hi @RemonComputer

Thanks for the suggestion.

I think this problem is underspecified. I am not sure if there is one and only one way to convert stereo to monaural. Taking average is the simplest way, but adjusting the power level of each signal before mixing them is also popular approach. So I imagine there will be a wide variety of opinion what "stereo to monaural conversion" should do.

Adding

[2020-08-14 20:31] #876 closed

[2020-08-16 07:58] RemonComputer commented on #877
@mthrok Ok, If I can help in anything please let me know

[2020-08-17 01:25] mthrok commented on #686
@sw005320 I am looking at Kaldi implementation and wondering if we can limit the number of parameters to expose.
For example, I do not think we need parameters for online feature extractions. Do you have a set of parameters you think will be changing?

https://kaldi-asr.org/doc/pitch-functions_8h_source.html#l00042

[2020-08-19 21:56] vincentqb opened #883 "No module named 'torch.testing._internal' on master"
Master is seeing [errors](https://github.com/pytorch/audio/runs/1004390401) after landing #812 though it does not seem related.
[code]
Flaky?

cc @mthrok

[2020-08-20 14:34] faroit commented on #618
@mthrok

has this been addressed in #761 and can be closed?

[2020-08-20 16:37] mthrok commented on #618
Hi @faroit
#761 is for the new "sox_io" backend and the original "sox" backend is not affected. We plan to deprecate and decommission "sox" backend in the future, by replacing the default backend with the new "sox_io" backend. I was thinking that we can close this issue when we decommission the "sox" backend.

[2020-08-20 16:39] mthrok commented on #821
Thanks for the help!

[2020-08-21 07:19] faroit commented on #618
@mthrok

does `sox_io` match the metadata format of soundfile then? If not, I would still propose to unify the defintion of samples, and frames with respect to the duration of a file.

[2020-08-21 09:55] bfeeny opened #884 "RuntimeError: Error reading audio file: unknown length"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. download and uncompress attached file XC313679.mp3.zip
2. try to load it:
[code]
3.

`RuntimeError: Error reading audio file: unknown length
`
## Expected behavior

In other utilities and libraries such as librosa, this loads fine.

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?
torc

[2020-08-23 18:10] #884 closed

[2020-08-24 07:53] LaplaceFourior opened #887 "“torchaudio C++ extension is not available”"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-08-24 16:13] sw005320 commented on #686
Sorry for my late response...
We usually only change the sampling frequency (yes, it is necessary), and keep the other parameters default, but it's robustly working on various ASR tasks.

Also, I did not try the online pitch feature and I could not mention this part...

[2020-08-25 00:29] cpuhrsch commented on #887
Hello @LaplaceFourior - could you add some more detail to this question please? Do you have a code snipped that reproduces this issue? Could you post some information about your environment (please see the instructions in the issue templates when creating a new issue).?

[2020-08-26 06:57] LaplaceFourior commented on #887
@cpuhrsch Ok.I'am sorry for my  incorrect question format.I'll withdraw my question and upload the questions with the right format later.Thank you for your suggestion.

[2020-08-26 06:57] #887 closed

[2020-08-26 14:52] vincentqb opened #889 "Compose sox_effects and torchaudio.transforms"
I'd like to suggest a way of composing `sox_effects` with `torchaudio.transforms`. The latter is made of `torch.nn.Module` so they can be composed using `torch.nn.Sequential`. This would also follow the design pattern we established in torchaudio with transforms/functionals.

[code]

Would it be valuable to offer something like `SoxEffectsTransform` directly in torchaudio? It is currently in the [

[2020-08-26 15:34] vincentqb opened #890 "updating silent integer division"
pytorch is changing its behavior with respect to integer division, e.g. #888. Has any other instances occurred?

Once the error below has been resolved, we can close this issue if no other occurrence is raised.

[code]

[2020-08-26 15:44] vincentqb opened #891 "float sample_rate"
torchaudio currently treats sample_rate as an integer. In #890, it was discuss that float would be more appropriate.

- Librairies we use for saving/loading may not support float sample_rate.
- C++ extensions currently use int.
- torchaudio signatures use int.

Thoughts?

[2020-08-26 16:09] faroit commented on #891
ping @f0k @bmcfee @justinsalamon @nils-werner to get some more dsp guys on board here...

[2020-08-26 16:27] bmcfee commented on #891
:100: for floating point.  There's no good reason to require integer sampling rates, and any interoperability requirements (eg C++ extensions) should have an explicit cast so it's clear what's going on.

[2020-08-26 17:03] psmaragdis commented on #891
Floating point.  How would you decimate 44,100 by a factor of 8 otherwise?!

[2020-08-26 19:10] vincentqb commented on #550
cc tedlium #765

[2020-08-26 19:18] justinsalamon commented on #891
Looks like there's no need for further comments :)

[2020-08-27 11:24] faroit commented on #891
any comment by @psmaragdis should indeed taken seriously :-D

Here is a list of how some popular audio packages handle sample rate types

* __[soxr](https://github.com/WavX/soxr/blob/master/src/soxr.h#L101):__ `double`
* __[libsndfile](https://github.com/erikd/libsndfile/search?p=3&q=samplerate&unscoped_q=samplerate):__ not consistent, mostly int
* __[ffmpeg](https://github.com/FFmpeg/FFmpeg/searc

[2020-08-27 21:00] vincentqb commented on #891
@faroit -- just to make sure I understand: your point is that because of other libraries, int should be the used, right?

Let's say someone resamples a float 44100 hz waveform to 441000/8 hz = 5512.5 hz as suggested above. :) What would be the expected behavior when saving the signal in a file format or i/o library that only supports `int`?  Should an error be raised because the sample rate is not

[2020-08-27 21:10] faroit commented on #891
i am just saying that its more common. Actually why don't we take int and floats for the resample function and use int everywhere else?

Interesting ;-) I had no idea, so I tried this and resampled a 44.1k file using sox and ffmpeg

[code]

* sox didn't complain but saved the file as with 5512.0 Hz
* ffmpeg complaint that `Expected int64 for ar but found 5512.9`

[2020-08-27 21:21] psmaragdis commented on #891
I wouldn't limit this software based on what I/O libraries do.  We don't use 16bit samples in our algorithms because some formats only support that, right?  It shouldn't be the same for the sample rate.

Keep in mind that some audio people work at very different scales (e.g. infrasound or ultrasound).  Rounding a fractional sample rate for them can completely ruin their algorithms.

@faroit textbo

[2020-08-27 21:22] psmaragdis commented on #891
Of course the real hot question is whether the sample rate should be complex valued :)

[2020-08-28 16:41] mthrok opened #897 "Adding Conv-TasNet"
This issue is for tracking the PRs for Conv-TasNet training pipeline.

**PRs for prototype**
- [x] ~#893~ -> #920 Model
- [x] ~#894~ Metrics
- [x] ~#895~ wsj0mix dataset
- [x] ~#896~ training script

**Follow up**
- [ ] Update citation https://github.com/pytorch/audio/pull/894#discussion_r500926586
- [ ] Add pretrained model
    - [ ] Retrain the model
    - [ ] Upload pre-trained model
    - [ ]

[2020-08-28 16:47] mthrok commented on #897
FYI: Initial training result

Best evaluation SI_SNR: 11.22 (Epoch: 54)

Some separation result

<img width="1680" alt="Screen Shot 2020-08-28 at 12 41 43" src="https://user-images.githubusercontent.com/855818/91592028-e4d12a00-e92b-11ea-9bc9-bf9dc6129bdd.png">

<details><summary>log</summary>

[code]

</details>

[2020-08-28 20:46] vincentqb commented on #897
Training on an open dataset like LibriMix would allow for more users to experiment with the dataset

[2020-09-01 18:23] vincentqb commented on #897
What metric are you using to know how good this value is?

[2020-09-02 20:12] vincentqb commented on #891
offline discussion with @sw005320 who votes for integer, though I'll let him chime in if he wants to elaborate :)

[2020-09-03 07:51] leocances commented on #550
Hello, For my Ph.D. I am using the following datasets. I am more and more following a *PyTorch* like implementation for my Dataset class and it would be better to contribute to *torchaudio* with my implementation of these datasets.

- UrbanSound8k
- ESC-10 / 50 / US
- SpeechCommand
- GTZAN

However, my UrbanSound8k and ESC implementation need some modification to be compliant with the *PyTorch* co

[2020-09-03 14:29] leocances opened #899 "Add ESC-10 / 50 / US dataset"
## 🚀 Feature
The ESC-10/50 dataset is widely used and no yet available in torchaudio.datasets.
[More Information](dx.doi.org/10.7910/DVN/YDEPUT)

## Motivation
- This dataset is often used as a reference in the same way as its computer vision equivalent: CIFAR or MNIST
- It can be useful for tutorial purposes.
- Its 'US' variant makes it suitable for semi-supervised, self-supervised, and unsupervi

[2020-09-05 23:12] leocances commented on #889
Hello,
That would be an elegant solution to mix both `sox_effects` and `torchaudio.transforms`. I am particularly interested since I deal with waveforms of different lengths and sampling rates. Until now, I was pre-processing my dataset by re-sampling all audio files to the desired waveform and padding / cropping them to the desired length.

To start, I just tried to make your `SoxEffectsTransform

[2020-09-06 12:04] mthrok commented on #889
Hi @leocances

Which OS and version of torchaudio are you using? sox-related functionalities are only available in Linux/macOS distribution. Windows is not supported.

[2020-09-06 12:09] mthrok commented on #889
I do not think adding it to transforms provide value for the maintenance cost. It is just a pass-through to the function form, which users can do as a part of their own transform easily.

[2020-09-06 12:14] mthrok commented on #889
@leocances FYI: I am adding on-the-fly sample rate conversion here https://github.com/pytorch/audio/pull/816. Please give a +1 if you think this is useful.

[2020-09-06 12:14] leocances commented on #889
Hi @mthrok
I'm using Ubuntu 20.04.1 LTS.
I have created a dedicated environment for testing the current version of torchaudio, cloned the repo, and build it locally. So I should have the latest version available of torchaudio.

I am new to the PyTorch source code in general, and I may have missed something.

[2020-09-06 12:43] mthrok commented on #889
@leocances
Hmm, that should work.
Could you try `BUILD_SOX=1 python setup.py clean install (or develop)`
If that does not help can you create a separate issue and follow the instruction to report your environment, thanks?

[2020-09-06 13:39] leocances commented on #889
`BUILD_SOX=1 python setup.py clean install` did not work at once.
I had to run the `build` command manually before

So, this did the trick.
[code]

Thank a lot

[2020-09-06 17:29] f0k commented on #891
I'm leaning towards float -- it seems a bit arbitrary to require an even number of samples in a second. If we're afraid of rounding errors, we could optionally support `fractions.Fraction`.

Taking this from the other side, what are the obstacles we can expect with non-integer sample rates? Are there serious problems? Would be curious to hear @sw005320's arguments!

[2020-09-07 19:46] sw005320 commented on #891
After I read through the discussion, I agree with the other people's consensus, which is float. I was thinking that we could always cast it to float internally if needed, and we can keep the original integer representation when we load the WAV file, but it would be tricky. I think we should just use float.

[2020-09-09 14:32] StuartIanNaylor opened #901 "Any new 1.60 Keyword spotting examples out there now we have torchaudio?"
I posted on the forum and @ptrblck on the pytorch forum suggested I post here and shout out for @vincentqb

https://discuss.pytorch.org/t/any-new-1-60-keyword-spotting-examples-out-there-now-we-have-torchaudio/95146

Its sort of in the Above but yeah it would be amazing if we could get some examples using pytorchaudio as a streaming KWS now libs like librosa are not needed.

I posted the Linto HMG

[2020-09-09 19:40] timlod opened #902 "Backend inconsistency with torch.load"
## 🐛 Bug

`sox` and `soundfile` backends use the parameter `normalization`, whereas `sox_io` uses `normalize`.
Code defaulting on one and falling back on another therefore will throw errors due to a wrong keyword argument.
Similarly, `sox_io` uses `frame_offset` instead of `offset`.

## To Reproduce

Steps to reproduce the behavior:

1. `torchaudio.set_audio_backend("sox_io")`
2. `torchaudio.load(

[2020-09-09 19:48] timlod commented on #902
I also found that `sox_io` does not currently support `pathlib` Paths for loading, where other backends do.

[2020-09-09 19:50] timlod commented on #902
And I reread the warning note and find that it does advise the changed signature :)
I would still suggest accepting `pathlib` Paths for the `filepath` argument.

[2020-09-09 19:50] #902 closed

[2020-09-10 15:30] vincentqb commented on #899
@leocances -- yes, please feel free to open a pull request for this! it was also mentioned [here](https://github.com/pytorch/audio/issues/550#issuecomment-613980126) :)

[2020-09-10 20:24] mthrok commented on #897
@mpariente @sw005320

In your frameworks, did you get similar number as mentioned in the paper?

I am getting the following numbers
https://github.com/mthrok/audio/tree/conv-tasnet/examples/source_separation/conv_tasnet#evaluation
I am not sure which exact type of WSJ0-mix dataset the paper (or in general) follows. (the total hours of the dataset described in the paper does not match with what I g

[2020-09-10 23:12] mthrok opened #903 "[Announcement] Improving I/O for correct and consistent experience"
**tl;dr: how to migrate to new backend/interface in `0.7`**

* If you are using `torchaudio` in Linux/macOS environments, please use `torchaudio.set_audio_backend("sox_io")` to adopt to the upcoming changes.

* If you are in Windows environment, please set `torchaudio.USE_SOUNDFILE_LEGACY_INTERFACE = False` and reload backend to use the new interface.

* Note that this ships with some bug-fixes fo

[2020-09-10 23:21] mthrok commented on #902
Hi @timlod

Thanks for the report. I am also feeing the need to make "sox_io" backend compatible with `"pathlib.Path"` type. If you would like to make a PR, let me know, else I will work on it some time.

[2020-09-11 08:33] mpariente commented on #897
The paper reports 15.2 dB improvement, we get 16.2dB with our best ConvTasNet model.

The only version, which is generated with the file available on [this page](https://www.merl.com/demos/deep-clustering).

What are those numbers in your case?

-  Only the first 4sec are used for each examples right? I think you will improve if you select random 4s segments instead.
- I don't see a mention of the

[2020-09-11 12:29] timlod commented on #902
I'll have a look on Sunday, and will probably submit a PR then (I don't think it should be a lot of work?)!

[2020-09-11 15:04] mthrok commented on #897
@mpariente

Thanks for the reply.

Nice 👍

I mean, there are `min` and `max` mixture strategies. I am using them separately, but should I use both of them?

The following is the directories and total audio files / durations I get when I ran the MERL script. Conv-TasNet paper says the following but none of the directory has the corresponding total hours.

<details><summary>wsj-mix dataset</summary>

[2020-09-11 15:31] mthrok commented on #902
@timlod

Thanks.
Yes, I think it's just changing the type annotation and adding `path=str(path)` to convert it to string internally before passing it to C++ code.

[2020-09-11 15:42] mpariente commented on #897
- `min` and `max` are the same mixtures, the `min` truncates the mixture when the one of both utterance has ended, `max` waits until both ended. We usually train with `min` only.

- In the `min` version, there is 30h of training, 7h of validation.. this is looks right. By the way, the output you generated is super cool ! Would you mind sharing the command for that? That would be amazing! :motor_sc

[2020-09-11 16:21] mthrok commented on #897
@mpariente

Thanks for the quick reply.

Thanks, this is very informative and a good learning opportunity..

The output is a manual combination of `tree` and `soxi -Td` commands.

Interesting. Now that I realize that the paper has no mention of the batch size and I blindly used 32. I will try 12 too.

[2020-09-11 23:26] #309 closed

[2020-09-11 23:30] vincentqb commented on #883
Those errors are gone.

[2020-09-11 23:30] #883 closed

[2020-09-11 23:42] vincentqb commented on #901
Hi, thanks for reaching out! Let me know if I missed something in your comments. :)

* For hotword detection, you can train the wav2letter pipeline with SpeechCommands. The current [example](https://github.com/pytorch/audio/pull/632) uses LibriSpeech.
* We could discuss other type of voice activity detection that we could add to torchaudio. Beyond the implementation from sox, you can also look at

[2020-09-14 04:04] StuartIanNaylor commented on #901
Hi,

In a lot of opensource VoiceAI projects a really good lite KWS is still missing where the process power on likely targets such as Raspberry Pi Cortex A53 is probably going to be high load for a full ASR such as wav2letter.
Generally with Keyword spotting the model is much simpler than a phonetic based ASR which makes creating custom models of more accuracy much easier also.

Generally along t

[2020-09-14 06:16] echocatzh commented on #675
I also encountered this problem. I hope torchaudio can add batch processing operations, such as limiting the input dimension to 3 dimensions, [batch, channel, samples], or adding a batch_first option, because when working on asr or kws, the batchsize is usually very Large, if only one audio can be processed at a time, will the efficiency be reduced?

[2020-09-14 20:29] small-yellow-duck opened #908 "more efficient resample module"
The resampling function in Kaldi that pytorchaudio is currently using has some inefficient for loops and padding steps. I've put together efficient module and evaluated the performance in this notebook:
https://www.kaggle.com/smallyellowduck/fast-audio-resampling-layer-in-pytorch (code is in the the notebook)

edit to make two separate comparisons of the resampling time without the file load time:

[2020-09-14 20:58] mthrok commented on #908
Hi @small-yellow-duck

Thanks for the suggestion and the code. This is very cool, and I am very happy to replacing the existing resampling code which we are having difficult time testing.

I looked at the test code of the implementation and it seems it's parity with `librosa`. Do the additional filter types also give the same results as `librosa`? (This is a question out of curiosity, not the requ

[2020-09-14 21:05] small-yellow-duck commented on #908
Ooh, I agree, it would be smart to check that librosa and the new resampler are giving the same results. I will check that out.

My understanding is that window=hann and num_zeros=6 should reproduce the behaviour of the current torchaudio resample module, but I haven't actually made sure of that either. Let me report back. :-)

[2020-09-15 00:06] small-yellow-duck commented on #908
I've updated the [notebook](https://www.kaggle.com/smallyellowduck/fast-audio-resampling-layer-in-pytorch) to make a comparison of the signals generated by the existing torchaudio resample operation and the efficient torch implementation.... and I have to admit that I'm not totally sure what level of agreement I'm expecting to see....

On a signal with an rmse of 0.0088, the mean difference betwee

[2020-09-15 19:01] mthrok commented on #908
I do not have a strong opinion as to reflect the outcome of the discussion (wait till the discussion concludes), and one way to do is just add this new resampling and change sampling rate in a separate work. Or we can just bet that `float` type wins and use `float` from the beginning. However, I saw in the original implementation requires integer type as sample rate. Can your implementation handle

[2020-09-15 19:13] vincentqb opened #910 "Better structure dataset implementations"
The suggestion is to adjust all the datasets (e.g. [speechcommands](https://github.com/pytorch/audio/blob/master/torchaudio/datasets/speechcommands.py)) to follow some changes done in [tedlium](https://github.com/pytorch/audio/blob/master/torchaudio/datasets/tedlium.py), see [example below](https://github.com/pytorch/audio/issues/910#issuecomment-708643874).

- [ ] Add a `_parse_filesystem` method

[2020-09-15 19:31] vincentqb commented on #908
@small-yellow-duck -- This is exciting! Thanks for opening this discussion :)

I expect the discussion around float/integer to have minimal impact on this pull request. My expectations is that the new algorithm also only works for integer -- is that correct? If so, then let's just continue assuming integers.

We currently assume integers everywhere. If and when we decide to move to float, we'll ha

[2020-09-15 21:58] mthrok commented on #910
Note iterator here is NOT a Python generator expression. None of the datasets require iterable, and requiring it to be itrable adds no benefit yet constraints.

What problem does this solve? I do not see the benefit of explicitly aligning the name of internal attributes.

The important thing about this is that the arguments to `_load_item` are sufficient information to locate a sample in the datas

[2020-09-15 22:02] mthrok commented on #910
Note that consistency is a tool to achieve a good user/developer experience, the consistency itself is not a goal. The consistency for the sake of consistency is a invalid choice. When talking about the consistency, it should be always clear what benefit does that consistency brings.

[2020-09-15 22:17] vincentqb commented on #910
cc @cpuhrsch for generator discussion. do we have a document about these prior discussions?

I personally like generator approach as it mimics linux piping. However, none of the data loader infrastructure and jit really support generator. Most important to me though is that we find a "simple" design that we can replicate. Bonus points for a dataset that is easily convertible from map-style to iter

[2020-09-15 23:47] small-yellow-duck commented on #908
Made a PR: https://github.com/pytorch/audio/pull/911

I think I should be able to get better agreement with the librosa resample function, but librosa relies on the resample routine in the resampy package which has some pre-generated filters (and no way to know for sure how they were generated - see https://github.com/bmcfee/resampy/blob/ccb85575403663e17697bcde8e25765b022a9e0f/resampy/filters.py#

[2020-09-16 17:38] mthrok commented on #910
Making the dataset into iterable is different topic. The point is that current datasets all materialize and consumes the generator right after it is instantiated for the sake of `__len__`. Making it generator expression when listing files are not helpful here. Converting datasets into generator is outside the scope of this issue.

I do not think that's practical for a list. For methods like `_load

[2020-09-16 17:54] mthrok commented on #910
For example, we can define a base class for dataset class and use `abc.abstractmethod` to enforce the implementation of `_load_item`, `_load_audio` methods. This will force the developer of the new dataset classes to separate the different perspectives of what Dataset implementation do.

In my opinion, the current Dataset implementations do the following three things.
1. parse filesystem
2. given

[2020-09-16 19:23] vincentqb commented on #852
Superseded by #910.

[2020-09-16 19:23] #852 closed

[2020-09-16 19:24] vincentqb commented on #910
I like the three steps you mentioned: parse filesystem, identify sample given key, load sample. And it could be a good idea to use abstractmethod to enforce the steps, though we haven't used that in the codebase yet.

I also agree that the generator-based approach may be cute but adds constraint that we shouldn't worry about now.

I've updated the list with this. Thoughts?

[2020-09-17 06:30] nils-werner commented on #891
Just a sidenote: for type hints, [`int` is included in `float`](https://www.python.org/dev/peps/pep-0484/#the-numeric-tower), so people can continue using `int`s as before, and only switch to `float`s if needed.

[2020-09-17 08:29] leocances commented on #899
Hello,
Sorry for the late reply, I had something else on hand and I had to fix some error.

It is indeed the reference paper

- ESC-10 is a small dataset with a limited amount of classes. Training on it is fast and allows quick experimentation.
- ESC-50 is still a small dataset but with much fewer examples for each class (only 40 samples). It is therefore a more challenging dataset.
- ESC-US is a

[2020-09-17 14:31] vincentqb commented on #563
As of torchaudio 0.6, torchaudio can be installed in torchaudio in windows. I'm closing this issue, but please feel free to re-open if this does not address it :)

[2020-09-17 14:31] #563 closed

[2020-09-18 14:18] leocances commented on #910
Hello, I agree that the current state of the datasets needs some guidelines to follow.

I am going to work now with the GTZAN and SpeechCommand datasets that are already present on Torchaudio. I can take care of "aligning" them.

- _load_item

I think it is a good idea.

Putting the `_load_item` method inside the class is more flexible for the end-user who needs to do specific processing or doesn'

[2020-09-18 14:41] vincentqb opened #913 "Low WER training pipeline in torchaudio with wav2letter"
torchaudio is targeting speech recognition as full audio application ([internal](https://docs.google.com/document/d/1mygzn6vf6Jl4e_0fzJSciRGRmb8dj8NwibwBG-tyUj8/edit?ts=5ef3580b#bookmark=id.7evu2kt47eiz)). Along this line, we implemented [wav2letter pipeline](https://github.com/pytorch/audio/pull/632) to obtain a low character error rate (CER). We want to expand on this and showcase a new pipeline

[2020-09-18 16:30] mthrok commented on #910
Hi @leocances

Thanks for you input.

Sure I did not spend any extra second for coming up with a good name, so I am totally open to change it. Just to note, since this is an internal method, it should be named in the way that developers (not end-users) can intuitively understand what logic they should put in there.

I agree with your point, putting the transform into loading part might give us an

[2020-09-18 16:33] mthrok commented on #910
That cache decorator is cool. 👍

[2020-09-19 01:11] scarecrow1123 commented on #913
Hey @vincentqb these planned additions look great and useful! Can you clarify on the below points please?

1. Are these open for community contributions since there are a bunch of internal links you've linked to the description above?

2. For things like transducer loss and token decoder, are you planning on linking other libraries (like fairseq, warp-transducer, etc.) as dependencies to the examp

[2020-09-20 06:51] dhgrs commented on #588
Hi, I'm interested in implementing CQT and I have questions about it.

- After LibROSA 0.8, the links in your post are outdated. Maybe [cqt](https://librosa.org/doc/latest/generated/librosa.cqt.html) and [griffinlim_cqt](https://librosa.org/doc/latest/generated/librosa.griffinlim_cqt.html), right?
- LibROSA has some variants of CQT. If we test the code by comparing the results with LibROSA, these

[2020-09-22 11:53] aliutkus commented on #891
float, and round if needed, possibly issuing a warning ?

[2020-09-22 17:22] vincentqb commented on #913
Hey, thanks for commenting :)

1. For now, we are looking for high level feedback on the plan. This has not yet been taskyfied for the community :)

1. We are aiming at keeping the implementations self-contained in torchaudio as much as possible.

Thoughts?

[2020-09-24 16:11] adrienchaton opened #919 "Parallelization of torchaudio.functional operators"
Hello,

Is there any way of using the torchaudio.functional operators in a parallelized way, for instance considering torchaudio.functional.lowpass_biquad:
_ waveform [batch,length]
_ cutoff_freq [batch,1]
And have a whole minibatch of waveforms low-pass filtered with their individual cutoff frequency.

Right now I use some operations derived from the DDSP library, for example making batches of si

[2020-09-25 15:08] vincentqb commented on #919
The pytorch `DataLoader` loads and transforms data in async in parallel, e.g. [here](https://github.com/pytorch/audio/blob/master/examples/pipeline_wav2letter/main.py#L542). The `num_workers` option specifies the number of workers that can load the data (the default case 0 means main process loads the data and wait).

If you combine that with transforms as part of the dataset, then the workers are

[2020-09-25 15:33] vincentqb commented on #891
Alrighty, I'm convinced: we'll go ahead with float for sample rate :)

We'll start with handling sample rate on the python side.
- [ ] as a first step, we'll take the integer part of a sample_rate before sending it to any backend for saving or C++ extensions for processing. and load sample rate as an int and convert to float afterwards.
- [ ] we'll add a note to inform the user on top of the relea

[2020-09-25 16:13] vincentqb opened #921 "soundfile available as a backend even though libsndfile1 not available."
If libsndfile1 is not available but somehow soundfile is, torchaudio cannot be imported. This can be traced back to how soundfile is detected, see [here](https://github.com/pytorch/audio/blob/master/torchaudio/_internal/module_utils.py).

If instead we tried to import, we'd get an error immediately that we can catch. Thoughts?

cc T76394271

[2020-09-25 16:19] adrienchaton commented on #919
Thank you for the tip.

Although, it is not for use as a preprocessing function.
It is for using at the network output, with filtering parameters such as cutoff_freq being predicted by the model and used in the model generation process.

On a side note, the biquad filters are pretty clean on audio with enough length but on short windows (e.g. 1024 samples or less) they create artifacts, as well as

[2020-09-27 12:24] Edresson commented on #913
@vincentqb  Wouldn't it be interesting to create a torchaudio_ASR repository?

Support various things, an independent preprocess of features that saves the features in .pt so we can extract any feature from torchaudio and make an easy support to features from fairseq (like wav2vec).

I feel that ASR lacks a repository with torchaudio and is modular enough to accept new features. And that it is sim

[2020-09-28 14:35] vincentqb commented on #913
My first step is to understand what would be missing in torchaudio to serve the ASR community best :) Can you provide some examples?

`torch.save` can save any `nn.Module` and tensors. Is that what you meant?

Are there models you would like to contribute to torchaudio? :)

[2020-09-28 14:44] vincentqb opened #923 "dataset transform and target_transform"
This is a spin-off discussion from [comment](https://github.com/pytorch/audio/issues/910#issuecomment-694896126) about the addition of `transform` and `target_transform` parameter to dataset (cc @fmassa for torchvision mentioned in comment). They were removed in #303 to simplify the interface.

What are options?

- `transform` and `target_transform` for every supervised dataset, and `transform` fo

[2020-09-28 14:45] vincentqb commented on #910
Let's indeed move that discussion to #923.

[2020-09-28 14:53] vincentqb commented on #919
Thanks for being active in the community :)

Could you open a separate issue for this? It would also be useful to have a short example code so that we can reproduce on our side. In particular, we'd like to see if this is also occurring with sox. Can you provide such code?

Again, it would be great to have a separate issue for this with a sample code so that we can reproduce precisely your issue. W

[2020-09-28 14:55] Edresson commented on #913
@vincentqb  I would support the Jasper model. Right now I'm out of time so maybe soon I can send a PR :).

If that list of things has been added to torchaudio it will be very good for ASR :). It will be even simpler to build a great pipeline using only torchaudio :).

My initial suggestion is to keep external notebooks. Why not make a torchaudio_ASR repository? So some things would not need to be

[2020-09-28 15:04] vincentqb commented on #913
Great! Feel free to ping me when you do :)

We currently offer training examples such as [wav2letter](https://github.com/pytorch/audio/tree/master/examples/pipeline_wav2letter) using torchaudio. The example I link shows one way of doing preprocessing. Does that help?

Our goal with torchaudio is to provide flexible building blocks for audio-related fields, such as ASR. As such, we want to make sur

[2020-09-28 15:19] Edresson commented on #913
I had not seen this very good example :)

Now that I've seen the example. Do you think about supporting [Wav2vec]( https://github.com/pytorch/fairseq/tree/master/examples/wav2vec)?

The easiest way to do this support that I see is to change the example, separating the feature extraction (MFFC / waveform) from the model training. Basically a preprocess.py that extracts the characteristics and saves

[2020-09-28 15:28] vincentqb commented on #446
Thanks for suggesting jasper here, and [there](https://github.com/pytorch/audio/issues/913#issuecomment-700059647) :) Do ping me when you open a pull request for it :)

We do plan on offering some pre-trained models for those we offer. Is that what you mean?

[2020-09-28 15:29] vincentqb commented on #446
@Edresson -- thanks also for suggestion [wav2vec](https://github.com/pytorch/audio/issues/913#issuecomment-700075153) -- it is on our radar, and we would love to have example pipeline such as [wav2letter](https://github.com/pytorch/audio/tree/master/examples/pipeline_wav2letter) for it :) we can talk more about this if this is of interest to you

[2020-09-28 15:32] vincentqb commented on #913
Adding an example workflow with wav2vec would be a great addition! I see you have already mentioned jasper in [comment](https://github.com/pytorch/audio/issues/446#issuecomment-650634109) so let's move the discussion there :)

We currently don't have a pipeline with wav2vec included, but this would be a great addition. torchaudio is made to be modular and uses standard pytorch operations, so using

[2020-09-28 16:07] Edresson commented on #446
Yes, I thought about maybe converting the openseq2seq checkpoints. But training and providing a checkpoint may be a better option.

[2020-09-28 16:17] Edresson commented on #913
Do you have any idea how this support would do?
Do you intend to add fairseq as a dependency on the torchaudio or example in question?

Or do you want to try to make it independent of the fairseq structure and just create a class with Wav2vec architecture and load it at the checkpoint?

[2020-09-29 11:58] dvisockas opened #924 "A Law encoding"
## 🚀 Feature
I would like to propose adding of [A-Law](https://en.wikipedia.org/wiki/A-law_algorithm) to `torchaudio.transforms`

## Motivation

A-law is a companding algorithm similar to mu-law (that is already in `torchaudio`. It is used in European 8-bit PCM systems. By convention, A-law is used for an international connection if at least one country uses it. With these transforms `torchaudio`

[2020-09-29 20:44] vincentqb opened #926 "Add CONTRIB.md"
We should add a CONTRIB.md file to empower users in contributing more.

cc [comment](https://github.com/pytorch/audio/pull/566#pullrequestreview-397433345), T57210445

[2020-09-29 20:49] vincentqb commented on #926
It should

- point to [the README for tests](https://github.com/pytorch/audio/tree/master/test/torchaudio_unittest),
- remind to test for correctness against librosa/sox/scipy/kaldi/etc, torchscriptability, batchable
- add documentation

Thoughts?

[2020-09-29 20:54] vincentqb commented on #924
Yes, this would be a good addition :)

To verify correctness, do you have a reference implementation to test and compare against? I'm adding a few pointers to make sure we cover all that needs to be covered [here](https://github.com/pytorch/audio/issues/926#issuecomment-700978174) for a new transform to be added. If you have any questions about them before opening a pull request, please feel free

[2020-09-29 22:49] prashantserai commented on #666
I am facing the same issue but the workaround(s) don't help. I tried installing ncurses with the provided conda install command as well as the hacky approach:
-trying to delete third_party/*
-there doesn't exist a file anymore that looks like build_tools/setup_helpers/build_third_party_helper.sh , so I couldn't hack it as mentioned above.

Plus, deleting third_party/* makes it complain that third_

[2020-09-29 23:37] vincentqb opened #928 "tedlium test failing in windows on gpu in CircleCI"
tedlium test failing in windows on gpu, see [here](https://app.circleci.com/pipelines/github/pytorch/audio/3455/workflows/dda668b7-25c3-48e9-bccc-d8a2c7fd6338/jobs/100751) from [here](https://app.circleci.com/pipelines/github/pytorch/audio/3455/workflows/dda668b7-25c3-48e9-bccc-d8a2c7fd6338). This may have been obscured by #929.

[code]

Thoughts?

[2020-09-29 23:41] vincentqb opened #929 "CircleCI failing"
We are experiencing CircleCI errors on master that look flaky, e.g. [here](https://app.circleci.com/pipelines/github/pytorch/audio/3455/workflows/dda668b7-25c3-48e9-bccc-d8a2c7fd6338). Thoughts on resolving them? I'm opening this issue so we can keep track of them.

[2020-09-30 07:04] dvisockas commented on #924
Haven't found a reference implementation, but will look for it :)

[2020-09-30 07:27] dvisockas commented on #924
Does the TODO in PR #930 look good?

[2020-09-30 08:56] acids-ircam commented on #919
Hi Vincent,

I made a code snippet, generating a sawtooth

Low-pass filtering 3 times in series on the full-length audio with torchaudio biquad.
The waveform plot shows that it's not symmetrical and that it gets emphasized filtering after filtering.
And the spectrogram plot shows that indeed the cutoff appears stronger (as expected) filtering after filtering.

Then I do the same on separate signal

[2020-09-30 09:01] adrienchaton commented on #919
Hi Vincent,

I made a code snippet, generating a sawtoothLow-pass filtering 3 times in series on the full-length audio with torchaudio biquad.

The waveform plot shows that it's not symmetrical and that it gets emphasized filtering after filtering.
And the spectrogram plot shows that indeed the cutoff appears stronger (as expected) filtering after filtering.

Then I do the same on separate signal

[2020-09-30 09:07] adrienchaton commented on #919
if that's more convenient, you can dl the code here
https://github.com/adrienchaton/misc/blob/master/check_torchaudio_biquad.py

[2020-10-02 21:05] prashantserai opened #936 "tgetnum issue workaround doesn't help"
## 🐛 Bug

I'm getting an "Undefined reference to `tgetnum' when using `BUILD_SOX`"

## To Reproduce

Steps to reproduce the behavior:

In a conda environment with Python 3.7 on RHEL 6

# Install Pytorch from Source
1. git clone --recursive https://github.com/pytorch/pytorch
2. cd pytorch
3. git submodule sync
4. git submodule update --init --recursive
5. BLAS=OpenBLAS python setup.py install

#Ins

[2020-10-02 22:50] vincentqb commented on #765
Closed by #882 -- please feel free to re-open if this is not the case :)

[2020-10-02 22:50] #765 closed

[2020-10-02 22:52] mthrok commented on #936
Hi @prashantserai

Looks like the error message suggests you hit the same error as [this](https://sourceforge.net/p/lame/mailman/message/32754132/).

To fix this, linker needs to be told to link against `tinfo` explicitly.
Since I do not have the same environment as you, I cannot give the exact direction,
but here is the gist of what I think could work.

`torchaudio` uses CMake to build the third

[2020-10-06 04:26] AngledLuffa opened #938 "Out of date link to librosa"
https://pytorch.org/audio/transforms.html

There is a link in the description of AmplitudeToDB

https://librosa.github.io/librosa/_modules/librosa/core/spectrum.html

This link no longer works

[2020-10-06 17:20] mthrok commented on #938
@AngledLuffa

Thanks for reporting this. We will address this, but if you are interested in contributing, we welcome you to make a PR for the fix. I think this is the new link. https://librosa.org/doc/latest/generated/librosa.amplitude_to_db.html

[2020-10-06 19:54] AngledLuffa commented on #938
Thank you for the offer, but I would be happy just to see it fixed!

[2020-10-07 17:06] prashantserai commented on #936
I think this workaround was successful, thanks so much!

[2020-10-07 17:06] #936 closed

[2020-10-07 23:11] vincentqb commented on #924
I've updated the [comment](https://github.com/pytorch/audio/issues/926#issuecomment-700978174) to make it clearer what's entailed :)

[2020-10-09 10:07] dvisockas opened #942 "InverseSpectrogram transform"
## 🚀 Feature
I'd like to propose adding of `InverseSpectrogram` transform to `torchaudio`

## Motivation
`istft` is already present in `torchaudio.functional` and if users want to build a cepstrum, they have to wrap the functional method into a torch module themselves.

## Pitch

Adding a wrapper for `functinal.istft`, similar to how `Spectrogram` transform wraps `F.spectrogram`

## Additional con

[2020-10-09 10:14] dvisockas opened #943 "Custom spectrogram filterbanks"
## 🚀 Feature
It would be great to have an ability to create non-mel and not linear filterbanking.

## Motivation
Even though mel-scale ceptstral coefficients are (probably) the most popular, there exists many other ways to filterbank the frequencies of spectra - CQCC, Opus filterbanks, BFCC, etc. I was thinking that it would be nice if the `Spectrogram` transform would accept a filterbank argument

[2020-10-09 15:15] vincentqb opened #944 "audioop"
The standard python library has audio operations [here](https://docs.python.org/3/library/audioop.html), e.g. a-law mentioned in [comment](https://github.com/pytorch/audio/pull/930#issuecomment-705403643). Which ones would be valuable in torchaudio working on tensors? A quick pass would suggest:

- [ ] adpcm2lin
- [ ] alaw2lin
- [ ] byteswap
- [ ] lin2adpcm
- [ ] lin2alaw
- [ ] lin2lin
- [x] lin2u

[2020-10-09 17:30] #928 closed

[2020-10-09 18:06] #938 closed

[2020-10-09 20:20] mthrok commented on #942
Hi @dvisockas

Thanks for the proposal. Could you help me understand your proposal? The proposal is about Transform of Inverse of Spectrogram and which uses `istft`. Is that correct? I am asking this because `istft` was moved to PyTorch core and the one in `torchaudio` has been removed in master branch.

I think this is a good addition. Having a set of functionalities that can achieve roundtrip be

[2020-10-10 09:18] dvisockas commented on #942
Precisely that. Basically a transform that wraps `torch.istft`.

The ability to make an easy roundrip between time and frequency is the main thing why I am proposing this.

[2020-10-12 18:44] cpuhrsch commented on #910
I'm in favor of writing datasets that are easily copy-paste-editable. They should be very simple and easily modifiable for the user, who has advanced usecases (e.g. randomized slicing). We can in turn provide them with a few tools that are typically difficult to write (e.g. highly efficient load function that also allows to read subsets) and really focus on that. The code of a dataset in essence b

[2020-10-13 17:20] anjali411 commented on #860
to detect if the input is complex and if we should use the code for complex case (instead of the (..., 2) style float tensors. It also ensures we don't break autograd support in torchaudio (since it relies on torch for autograd correctness).

[2020-10-13 20:29] vincentqb opened #950 "Add pathlib.Path support all io"
Since pathlib is the standard python library for handling paths since python 3.4, let's add explicit support for pathlib in i/o operations.

- [x] `sox_io`
- [ ] ~~`sox` (won't update)~~
- [x] "new" `soundfile`
- [ ] ~~legacy `sox` (won't update)~~
- [ ] ~~`apply_effects_file`, [here](https://github.com/pytorch/audio/blob/master/torchaudio/sox_effects/sox_effects.py#L163), jit does not support uni

[2020-10-13 20:57] vincentqb commented on #860
Right, so the concern is that we could be passing a real tensor, which we want to treat as complex with zero imaginary for instance. In that case, we no longer need to detect whether the tensor is real or complex, right? We can just go through the complex path. Is that right?

[2020-10-13 22:32] vincentqb commented on #942
Thanks for the idea :) Can you explain how the algorithm differ from [Griffin-Lim](https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L102)?

[2020-10-13 22:38] vincentqb commented on #943
Thanks for the suggestion :) This relates to [comment](https://github.com/pytorch/audio/pull/593#discussion_r417068529). Thoughts? Would #593 meet your needs?

[2020-10-13 23:21] vincentqb commented on #919
Thanks a lot for the detailed code! Why do you expect the signal to be symmetrical, or why do you not expect artefacts? It looks like torchaudio does match sox. Indeed, you can replace the torchaudio transform by the following, and you should get the same results.
[code]
These will call sox directly instead of using torchaudio, which is what torchaudio compares against.

[2020-10-13 23:27] vincentqb commented on #919
As for the artifacts, they seem to come from the views in the code below.

[code]

There's `audio.view(bs,window_size)` and `filtered_audio_1.view(-1).numpy()` which are incompatible in the sense that the plot will straddle many batches, leading to artifacts.

[2020-10-14 08:28] dvisockas commented on #942
Griffin-Lim takes a magnitude-only spectrogram and tries to recover the phase. `istft` takes both magnitude and phase tensor as an input. If you want to go into the frequency domain without discarding the phase you can pass `power=None` to the `Spectrogram` transform and you will get a magnitude-phase tensor. If you then do some transforms and want to go back to the time domain, you could pass onl

[2020-10-14 08:36] adrienchaton commented on #919
Thank you for checking.

Regarding the artefacts from filtering in batches of audio chunks, these would be caused by phase inconsistency between filter outputs ? The input chunks are aligned in phase but the filtering pass would create phase jumps at the concatenated edges ?

For the waveform shape, if it follows the reference sox behaviour, I guess I don't have an argument about it, I just wonder

[2020-10-14 08:45] dvisockas commented on #943
#593 is related to mel filter_banks as `create_fb_matrix` calculates mel filterbanks. I was thinking that it would be nice to somehow have an API that would enable users to create non_mel spectrograms. It is a simple operation of `spectrogram * filter_bank`, but implementing non-mel filterbanks is rather tedious because one has to recreate `F.create_fb_matrix` themselves

[2020-10-14 14:54] vincentqb commented on #942
Good point :) Yes, that sounds like a good addition.

To test, how close are the original waveform and the reconstructed waveform? Since stft and istft are close, I would expect Spectrogram and InverseSpectrogram to be close. Is that correct? Otherwise, do you have a reference to match? I don't see it in librosa.

[2020-10-14 15:30] vincentqb commented on #919
Yeah, the artifacts are edge effects between each chunks of audio. You can see less of them of course by doing:
[code]

[2020-10-14 15:34] vincentqb commented on #943
Yes, that would be useful, thanks for suggesting :) How about something similar to [AmplitudeToDB](https://github.com/pytorch/audio/blob/master/torchaudio/transforms.py#L173) then?

[2020-10-14 15:56] vincentqb commented on #851
Thanks for the suggestion :) There was also a discussion in #384 about using powers of 2 instead. (I'm also noting that the default was changed in #83.)

If you use master, do you now get a warning about zero Mel filters if you don't specify `n_fft`? The warning was introduced in #914.

[2020-10-14 16:30] vincentqb commented on #929
I see two errors on windows that are not the usual dependency mismatch on [master](https://app.circleci.com/pipelines/github/pytorch/audio), see [here](https://app.circleci.com/pipelines/github/pytorch/audio/3574/workflows/e67bc63a-8ed6-4aa9-aa54-c6539264e9cb/jobs/105253) and [here](https://app.circleci.com/pipelines/github/pytorch/audio/3574/workflows/e67bc63a-8ed6-4aa9-aa54-c6539264e9cb/jobs/105

[2020-10-14 17:26] vincentqb commented on #913
Those are great questions, and thanks for sharing your thoughts :)

We do not want torchaudio to depend on fairseq, no. For the example implementation, we also aim to avoid such dependencies as much as possible.

I would aim instead for fairseq to use torchaudio building blocks in some places.

What I meant above about the checkpoint was really just that torchaudio uses standard pytorch, so a user

[2020-10-14 17:43] Edresson commented on #913
I believe so :). We could, for example, preprocess the dataset with torchaudio after extracting the features of these audios with wav2vec and save with torch.save. After going back to torchaudio and using the torchaudio ASR models. I think of saving with torch.save because extracting features at all times with wav2vec can be too slow, so the extraction is done only once. That makes sense?

[2020-10-14 18:56] vincentqb commented on #929
@mthrok -- I see the same errors on `release/0.7` branch [here](https://github.com/pytorch/audio/commits/release/0.7). Thoughts?

[2020-10-14 19:06] mthrok commented on #929
The link you posted is not pointing any CI job, so I do not know which one you are mentioning. When I checked `release/0.7` yesterday, the only failing jobs were macOS unittests.

[2020-10-14 19:11] vincentqb commented on #929
Oops, the release indeed looks fine, thanks for giving a second pair of eyes @mthrok :) Since I don't see the error in the release and the original issue reported above is fixed, I'll close this issue.

[2020-10-14 19:11] #929 closed

[2020-10-14 19:44] vincentqb commented on #913
great!

yup, does to me :)

[2020-10-14 20:31] vincentqb commented on #910
To summarize the discussion above, the current suggestion is really just adjusting all the datasets (e.g. [speechcommands](https://github.com/pytorch/audio/blob/master/torchaudio/datasets/speechcommands.py)) to follow some changes done in [tedlium](https://github.com/pytorch/audio/blob/master/torchaudio/datasets/tedlium.py).

[code]

See also [top comment](https://github.com/pytorch/audio/issues/9