[2017-05-07 18:38] felixkreuk opened #1 "Exception at 'import torchaudio'"
Hi,
I am trying to use torchaudio on Ubuntu and get the following exception:
[code]
All dependencies are met and up-to-date:
[code]
Also, install process seems ok, no errors or warnings:
[code]
Any idea what went wrong?

Thanks!

[2017-05-07 18:53] soumith commented on #1
you installed torchaudio, but you are running python from a folder where there is a subfolder called torchaudio, so that is being picked up instead.you can change your folder and try again.

cd ..
python
import torchaudio

[2017-05-07 18:59] felixkreuk commented on #1
changed folders, exception changed to:
[code]

[2017-05-07 19:02] soumith commented on #1
I'll check in a bit, but here's a workaround.

pip uninstall torchaudio
# go to audio source
python setup.py build develop

I think that should work

[2017-05-08 08:25] felixkreuk commented on #1
Still:
[code]

[2017-05-26 07:43] ekshaks commented on #1
In torchaudio/_ext/th_sox/__init__.py
modifying line
 ._th_sox import lib as _lib, ffi as _ffi
to
from .._th_sox import lib as _lib, ffi as _ffi

will get it to work.
Not sure what overwrites the line back when you run python setup.py.

[2017-05-27 07:55] sanyam5 opened #2 "Need API for saving to file."
Currently we only have a load function. But after training the network it would be great if we can save the generated tensor to a file.

@soumith I think we can reuse a lot of code from this repo https://github.com/MattVitelli/GRUV

[2017-06-01 17:05] SeanNaren commented on #2
Added the ability in the PR #3, check the branch if you want to start loading audio till its merged!

[2017-06-01 17:06] #2 closed

[2017-06-12 15:21] dhpollack commented on #1
Was this ever solved? The solutions don't seem to work for me

[2017-06-18 15:05] dlmacedo opened #5 "Python 3: Last Commit BREAKS usage of DeepSpeech.PyTorch with PyTorch Audio"
The last commit **BREAKS** using PyTorch Audio with Python 3.

https://github.com/pytorch/audio/commit/f80d6e37386122da2cb3983afad8a5a229571814

[code]

[2017-06-18 15:07] dlmacedo commented on #5
https://github.com/pytorch/audio/commit/f80d6e37386122da2cb3983afad8a5a229571814

[2017-06-18 15:12] dlmacedo commented on #5
https://github.com/SeanNaren/deepspeech.pytorch/issues/93

[2017-06-18 15:15] dlmacedo commented on #5
We need to figure out if we should change Pytorch Audio or DeepSpeeach.Pytorch.

[2017-06-20 12:34] SeanNaren commented on #5
This can be closed, been fixed on the deepspeech repo.

[2017-06-20 12:51] #5 closed

[2017-07-12 17:33] nikhilxb opened #7 "On test example -- TypeError: initializer for ctype 'char *' must be a bytes or list or tuple, not str"
For the test script:
[code]

I get the output:
[code]

Any idea what's going on?

For reference, the `.wav` file is saved in float32 format; it seems like sox is configured to read it in int16 format, hence the large numbers. But I feel like that's not the problem, but rather the string used in the `save` method.

[2017-07-20 21:17] braingineer opened #8 "weird case w/ torchaudio / yaafe / jupyter crashes kernel, not sure where to start"
Hi!

I am getting a super weird bug and I have no idea where to start (so I'm here).

As of right now, this is only happening in the following scenario:

Inside a jupyter notebook,

[code]

I get an invalid pointer. Partial trace at bottom.

If i reverse the import orders

[code]

It doesn't happen.

If I don't run in a jupyter notebook, it doesn't happen.

partial stack trace (can put rest.. just

[2017-07-20 21:20] soumith commented on #8
here's your moneyshot: /home/brian/anaconda3/envs/py3torch/lib/python3.6/site-packages/zmq/backend/cython/../../../../.././libstdc++.so.6

For some reason, i think it's loading some custom `libstdc++`, maybe, which is giving side-effects?

[2017-08-12 12:31] dhpollack commented on #7
you just need to wrap the extension in a bytes() function.  I fixed this in pull #11

[2017-08-13 20:02] dhpollack opened #12 "different library for loading audio files"
I read that PyTorch doesn't want to add complex number tensor types.  A lot of audio processing requires fourier transforms, specifically into MEL spectrograms.  It would be nice to use a library that already handles a lot of these transformations in numpy.  The most popular one seems to be [librosa](http://librosa.github.io/), which uses numpy arrays for easy conversion to torch tensors.

Is ther

[2017-08-14 05:21] soumith commented on #12
The reason that I started this library over librosa is because @jfsantos gave me feedback that there's no efficient way to load audio into a Tensor/ndarray in the python ecosystem. Almost all currently existing libraries (apparently) invoke a subprocess to `ffmpeg` or other equivalents and read/write through unix pipes, which is too heavy, when loading lots of small files in particular.

I'm happy

[2017-08-18 14:08] dhpollack commented on #12
That makes a lot of sense.  My point is there seems to be a trade-off between efficiency and usability that is out of whack with this lib.  Using libsox directly makes the library more efficient, but because people get strange errors like #7 and #1 nobody really uses the library.

[2017-08-19 10:22] dhpollack commented on #12
After I wrote my last comment I realized a lot of my gripes were due to errors that could easily be fixed by adding some checks in the load and save functions. Also, you are right, these functions load audio orders of magnitude faster than librosa.

I'll go ahead and add some error checking to those functions instead of whining about it. :-)

[2017-08-21 09:22] dhpollack opened #14 "Saving stereo files causes fatal error if re-loading generated file"
Saving stereo files does not properly add the length info to the saved file.  Thus you cannot reload these files with torchaudio, although they are playable in most audio programs.  Below is a test case.

[code]

[2017-08-25 12:01] #12 closed

[2017-08-25 12:01] soumith commented on #8
I'm fixing this with new pytorch binaries. Incoming soon.

[2017-08-25 12:04] #7 closed

[2017-09-03 13:29] soumith commented on #8
this is fixed with the new binaries. reinstalling pytorch from instructions on pytorch.org fixes this.

[2017-09-03 13:29] #8 closed

[2017-09-07 23:42] braingineer commented on #8
Awesome, thanks!

[2017-10-07 03:55] marikgoldstein commented on #14
Confirming that this is still a problem. Any thoughts? Is this an issue in th_sox.c or in what is being passed to it from python?

[2017-10-07 09:38] dhpollack commented on #14
@marikgoldstein, I looked a little more into this.  It has to do with how the save function saves certain file types and specifically, something to do with the file length.  You can try saving to other file types and see if they work.  This is all to say, I think it's what's getting passed to th_sox.c and not th_sox.c itself.

[2017-10-09 17:41] greaber opened #18 "libGOMP not found"
I had an error similar to that reported here on trying to load torchaudio: https://github.com/pytorch/pytorch/issues/643

I found that there were two independent things that would each lead to the error.  One was compiling with an older version of gcc (4.8.something instead of 5.4.0).  The other was importing torch before torchaudio.

[2017-10-23 15:33] greaber commented on #18
Actually, I just encountered this libGOMP problem again even though I compiled torchaudio with gcc 5.4.0 and imported torchaudio before torch.

[2017-11-06 19:36] drscotthawley commented on #18
I see similar behavior:

$ python
Python 3.5.2 |Anaconda custom (64-bit)| (default, Jul  2 2016, 17:53:06)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/anaconda/envs/py35/lib/python3.5/site-packages/torchaudio-0.1-py3.5-linux-x86_64.egg/to

[2017-11-28 15:59] naba89 opened #20 "Unable to install"
Hi,

I am unable to install torchaudio. Getting the following error when I try to install. The dependencies mentioned in the installation instructions have been installed. Any idea why this might be happening?

running install
running bdist_egg
running egg_info
writing torchaudio.egg-info/PKG-INFO
writing dependency_links to torchaudio.egg-info/dependency_links.txt
writing requirements to torchaud

[2017-11-28 16:33] naba89 commented on #20
Seems like some problem with my Anaconda install. Reinstalling Anaconda fixed the problem. Closing the issue.

[2017-11-28 16:33] #20 closed

[2018-01-08 20:49] poppingtonic commented on #1
changing folders helped

[2018-01-21 02:42] chbrian opened #24 "transforms.py: hann_window does not included in torch"
I got the following error when running the transforms.py:
`AttributeError: module 'torch' has no attribute 'hann_window'`

[2018-01-22 04:18] saisrinivas047 opened #25 "Error while importing torchaudio"
Hi
I am getting this error while importing torchaudio. can someone please help me solve this.
Python 2.7.14 |Anaconda custom (64-bit)| (default, Oct 16 2017, 17:29:19)
[GCC 7.2.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

import torchaudio
Traceback (most recent call last):
File "", line 1, in
File "build/bdist.linux-x86_64/egg/torchaudio/init.py", line 11,

[2018-01-22 04:40] saisrinivas047 opened #26 "trouble while installing torchaudio"
Hi I am having trouble installing torchaudio. Can someone please tell me how to install it.

[2018-01-22 04:41] saisrinivas047 commented on #24
Hi getting the same error. Post it here if you find a solution ?

[2018-01-22 04:43] ryanleary commented on #26
Was #24 and #25 not enough?

[2018-01-22 04:43] ryanleary commented on #24
I see you already filed an issue on github.com/pytorch/audio. This appears to be an issue with that package. Try installing a previous version until that is resolved.

[2018-01-23 04:51] crazyoscarchang commented on #25
I get the same error too!

[2018-01-23 04:56] srinivas047 commented on #25
I got it fixed by reinstalling both anaconda and torchaudio

[2018-01-23 05:17] soumith commented on #26
fixed via https://github.com/pytorch/audio/pull/27

[2018-01-23 05:17] #26 closed

[2018-01-23 05:17] soumith commented on #24
fixed via https://github.com/pytorch/audio/pull/27

[2018-01-23 05:17] #24 closed

[2018-01-23 05:18] soumith commented on #25
fixed via https://github.com/pytorch/audio/pull/27

[2018-01-23 05:18] #25 closed

[2018-01-23 05:20] crazyoscarchang commented on #25
wait did you just fix it?

(i don't use anaconda)

[2018-01-23 05:21] crazyoscarchang commented on #25
Ah cool it works for me now thank you!

[2018-01-25 00:06] bchamand opened #29 "Consistency between torchvision/torchaudio"
When we load a sound file with torchaudio, we get an output Tensor of size (L x C) (L the number of audio frames and C the number of channels).
It's not a better idea to get a Tensor of shape (C x L) ?

Because, with torchvision, when I load an image and I use the function _ToTensor_, the dimension of the output tensor is (C x H x W) with the channel in first dimension. Is not it more coherent if

[2018-02-17 11:44] faroit opened #30 "reduce aliasing in downsampling"
Currently the VCTK dataset loader does [implement](https://github.com/pytorch/audio/blob/master/torchaudio/datasets/vctk.py#L42) downsampling without low-pass filtering (=decimation). This results in severe aliasing artifacts and [should be avoided](https://en.wikipedia.org/wiki/Decimation_(signal_processing)).

I would propose to add [resampy](https://github.com/bmcfee/resampy) as a dependency an

[2018-02-19 20:15] 0x00b1 opened #31 "Music Information Retrieval Evaluation Exchange (MIREX) datasets"
Each year the [Music Information Retrieval Evaluation Exchange](http://www.music-ir.org/mirex/wiki/MIREX_HOME) (MIREX) sponsors a number of noteworthy competitions for problems like chord, key change, and tempo estimation. Many of the competitions have longstanding (sometimes 10+ years) training and test sets. If torchaudio provided these datasets in a standard format (similar to VCTK or something

[2018-02-19 20:18] 0x00b1 opened #32 "Additional spectral feature transformations"
While torchaudio provides a Mel-scaled spectrogram transformation (`torchaudio.transforms.MEL`), there’re a few additional spectral feature transformations that are extremely useful for pre-processing and data augmentation. For example, two feature transformations that I’d love to see in torchaudio are [Mel-frequency cepstral coefficients](https://en.wikipedia.org/wiki/Mel-frequency_cepstrum) (MFC

[2018-02-19 20:21] 0x00b1 commented on #30
@faroit 👍 However, I’d say go even further and make librosa a dependency. What do you think?

[2018-02-19 20:25] 0x00b1 commented on #29
I have mixed feelings about this.

On one hand, consistency is good and a possible future of many signal processing problems is decomposing into multi-channel two-dimensional images (e.g. spectrograms) and relying on computer vision infrastructure (e.g. standard CNNs like ResNet or VGG) for classification. On the other hand, (channels × frames) is—_just like (channels × r × c) with vision_—inconsi

[2018-02-19 21:29] faroit commented on #31
👍

I am currently converting a few of my dataset loaders for pytorch and will successively open pull requests for some of them.
However, for many datasets (espescially those in mirex) an automatic way of using and downloading is not possible. I would therefore suggest only to add those that are released under a CC (or similar license) and have sustainable file location (ideally zenodo).

On my 2do

[2018-02-19 21:39] faroit commented on #30
I think it depends on what the future of torchaudio should be.
For many basic transforms like STFT it would be possible and favorable to implement them purely in pytorch so that users would benefit from a gpu speedup (See [https://github.com/keunwoochoi/kapre](kapre) from @keunwoochoi). But then, for many advanced operations or data augmentations, users would still use librosa or muda anyway and I

[2018-03-15 11:24] cyrta commented on #31
I am going to do

- [ ]  GTZAN genre collection.
- [ ]  GTZAN music/speech collection.

[2018-03-15 12:18] cyrta opened #35 "category audio on discuss.pytorch.org"
Hi,
I am just curious why there is no category *audio* on pytorch discussion forum.
There seems to be _vision_, _nlp_ but no _audio_.
I feel that are some greater number of post
https://discuss.pytorch.org/search?q=audio

@apaszke  @soumith  what do you think? Can you introduce that ?

[2018-03-15 12:36] apaszke commented on #35
Good idea. I've just created it

[2018-03-15 12:36] #35 closed

[2018-03-16 01:47] bjuncek commented on #32
I might take a stab at MFCCs after my finals (approx a month from now) if you fancy waiting that long :)

[2018-03-16 02:09] bjuncek opened #36 "No handler for .mp4 format."
When I try to read an audio track from .mp4 file (Kinetics dataset),
I get the following error:
`formats: no handler for file extension 'mp4'`
with the full stack trace:

[code]

I take it it has something to do with my SoX install, but for the life of me can't figure out what I'm missing. Any ideas?

[2018-03-16 09:44] faroit commented on #36
on linux you may have luck installing `libsox-fmt-ffmpeg`, but I think this where we hit the limits of libsox....

[2018-03-16 17:00] bjuncek commented on #36
Is there a compile-it-from-source installation? The only thing I see are `.deb` packages and I have neither debian nor sudo access for package installation.

[2018-04-17 22:12] rivaud commented on #14
The bug is apparently still happening.
It seems that there are problem when saving stereo files.
Mono files seems to work fine.
However the bug seems not to happen all the time.

Do you have any update on this issue ?

[2018-04-26 14:34] dhpollack commented on #31
It would be great if there were more datasets.  However, not all of the dataset owners want to be included in a popular library like PyTorch.  For example, I talked to the person running openslr.org and he said the hosting costs were already pretty high.  He preferred that the larger datasets were not included in the library, so we decided to add the yesno toy dataset.

[2018-04-26 16:46] faroit commented on #31
@dhpollack @soumith this is a very good point. We should be careful then....
Many of the sets like LibriSpeech are under CC license that means they can also easily uploaded to zenodo as they support direct downloading.

[2018-04-26 18:48] cyrta commented on #31
I strongly encourage to use zenodo. It can then be versioned.  Shall we do it ?

[2018-04-26 19:37] faroit commented on #31
I think this should be done by the authors of OpenSLR. Also Zenodo has 50GB limits per dataset so maybe that is an issue here....

[2018-04-26 19:38] faroit commented on #31
@0x00b1 I suggest you rename this issue as we are out of the MIR scope now ;-)

[2018-04-27 18:17] danpovey commented on #31
Person who hosts Librispeech here.   I am definitely OK with you guys redistributing it. (That is the preferred solution because PyTorch is widely used and a data loader would drive up our hosting costs).

For all these speech datasets, bear in mind that they won't necessarily have a common format so you can make them all look identical after loading.  E.g. some may have transcripts per segment an

[2018-04-27 19:06] faroit commented on #31
@danpovey thats good news. I think this should be coordinated to have a consistent experience, so maybe one does all the uploads. Maybe also it would be great to create a [zenodo community](https://zenodo.org/communities/) to put all openslr datasets under the same umbrella.

[2018-04-27 19:26] danpovey commented on #31
This is the first I heard of zenodo but it does look like a good option for the future.  We'd have to upload our data there first which would involve a certain amount of human effort but it would reduce our hosting costs.

[2018-04-28 17:55] drscotthawley opened #41 "ModuleNotFoundError: No module named 'torchaudio._ext.th_sox._th_sox'"
Hi. Even though I've got sox installed, I get a 'module not found' error.
This is on Mac, with Anaconda & Python 3.6...
[code]
This is after following installation instructions.
Any suggestions?  Thanks.

Install log follows below...

[code]

Further poking around:
[code]

...I don't see how this is supposed to import other modules from the `th_sox` directory if there's nothing else in there:

[co

[2018-05-01 10:18] HugoGranstrom opened #42 "Can't compile on Windows (MinGW)"
I tried installing torchaudio with the command `python setup.py install` using the MinGW64 gcc compiler and got this error:
[code]

[2018-05-02 06:52] Aditay opened #43 "module 'torch' has no attribute 'hann_window' when importing torchaudio"
I have installed torchaudio on top of pytorch 0.3.1 for python3.5.
But When I try to import torchaudioI get the following error:

AttributeError: module 'torch' has no attribute 'hann_window'

Please help.

[2018-05-02 14:33] soumith commented on #43
torchaudio now requires `torch >= 0.4`. I'll update torchaudio's requirements to reflect that.

[2018-05-02 14:33] #43 closed

[2018-05-03 10:02] pfriesch opened #44 "MEL2 gives incorrect output for n_mels=80"
The MEL2 transform seems to work fine for `n_mels=40`, howver `n_mels=80` gives artifacts.
#### `n_mels=40`
![mel_40](https://user-images.githubusercontent.com/3247619/39570632-3112e462-4ec9-11e8-85ab-d55283b9b869.png)
#### `n_mels=80`
![mel_80](https://user-images.githubusercontent.com/3247619/39570633-312e191c-4ec9-11e8-972a-0ae1780ebb7d.png)

[code]

[2018-05-07 05:00] Aditay commented on #43
@soumith You mean pytorch >= 0.4 ?

[2018-05-07 05:13] soumith commented on #43
yes, i meant `torch` in the `pip install torch` sense.

[2018-05-07 14:15] Rikorose commented on #44
This is expected behavior, there is no fft bin for this mel band. See [here](https://electronics.stackexchange.com/questions/12407/what-is-the-relation-between-fft-length-and-frequency-resolution#12412).

You could for instance increase the window size, eg. `ws=1024`.

[2018-05-07 14:25] #44 closed

[2018-05-09 13:52] ahmed-fau opened #48 "error: ‘for’ loop initial declarations are only allowed in C99 or C11 mode"
The following error occurred when running  'setup.py'
[code]

[2018-05-10 14:26] vsd550 opened #49 "No module named 'torch.utils.cpp_extension'"
I am getting this error when I run python setup.py install

Please help
Thnx

[2018-05-10 18:46] soumith commented on #49
@vsd550 upgrade your PyTorch to be atleast 0.4 version

[2018-05-14 14:18] sshkhr opened #50 "Windows support"
Now that PyTorch 0.4.0 supports Windows does torchaudio support Windows ? If yes could the installation instructions for the dependencies for Windows be added to the README. Thanks

[2018-05-17 08:18] miguelvr opened #51 "tag for torch==0.3.X"
I'm trying to install a repo that still uses `torchaudio` as a dependency and since the new pytorch 0.4 update, it's not possible to do a clean install from a new user point of view.

I guess I won't be the only one having this problem. Is it possible to make a tag on the last commit compatible with torch v0.3?

Thanks,
Miguel

[2018-05-18 16:51] MuzzleTheWolf commented on #32
bjuncek, could you confirm that you are working on the MFCC? I would be willing to work on this if your plans have changed. Thanks

[2018-05-18 22:18] mit2nil commented on #49
Ran into same error. Can be worked around for now by switching to commit https://github.com/pytorch/audio/commit/0fe0305a54d84161008d84492268d279279fb3bb

`git checkout 0fe0305a54d84161008d84492268d279279fb3bb` before doing `python3 setup.py install`

This is purely based on the fact that pytorch 0.4.0 was released on April 24th (https://github.com/pytorch/pytorch/releases). This is the last commi

[2018-05-18 22:18] mit2nil commented on #51
Ran into same error. Can be worked around for now by switching to commit https://github.com/pytorch/audio/commit/0fe0305a54d84161008d84492268d279279fb3bb

`git checkout 0fe0305a54d84161008d84492268d279279fb3bb` before doing `python setup.py install`

This is purely based on the fact that pytorch 0.4.0 was released on April 24th (https://github.com/pytorch/pytorch/releases). This is the last commit

[2018-05-19 14:42] bjuncek commented on #32
@MuzzleTheWolf I'm working on it but the progress is slowed down by graduation requirements.
If you can get it done before June, it's all yours.

[2018-05-23 22:42] rivaud commented on #41
Was it the same problem as this issue #1
You may be trying to import torchaudio in a folder that already contains a folder named torchaudio.
Try changing folder.

[2018-06-12 06:58] iariav commented on #50
+1 for that request please

[2018-06-23 08:33] 3210jr opened #52 "Unable to install on OSX - fatal error: 'atomic' file not found #include <atomic>"
$ python setup.py install
[code]

This is after installing sox and cloning the repo. Is there something I am missing?
I also tried upgrading my g++ to g++-8, but with no luck.

Any help appreciated!

[2018-06-23 15:19] soumith commented on #52
can you try:

`MACOSX_DEPLOYMENT_TARGET=10.10 CC=clang CXX=clang++  python setup.py install`

[2018-06-23 17:23] #52 closed

[2018-07-03 09:06] sizhky opened #53 ""fatal error: sox.h: No such file or directory" during installation"
When I try to install the module on " CentOS Linux release 7.2.1511 (Core)", I get the above error. I've done `yum install sox` and `yum install sox-devel`. I'm not sure what else I'm missing...

[2018-07-03 12:01] sizhky opened #54 "Segmentation fault (core dumped)"
I'm unable to load any file after first time installation. I faced an issue https://github.com/pytorch/audio/issues/53 which I somehow resolved by modifying setup.py file, but am not sure if it is the correct way...
OS: " CentOS Linux release 7.2.1511 (Core)"

[code]
[code]

[2018-07-03 12:22] sizhky commented on #53
I could resolve the issue using `include_dirs=['/usr/include/sox"]` as part of `CppExtension` in the setup.py file, but I'm obtaining a segmentation fault - as I raised in https://github.com/pytorch/audio/issues/54 - when I run torchaudio.load(<file>)

[2018-07-10 08:08] JiveyGuy commented on #50
This would be VERY VERY much appreciated.

[2018-07-13 01:47] soumith commented on #50
@JiveyGuy the library shouldn't need the gcc compiler to be installed.

[2018-07-13 01:47] soumith commented on #50
let me quickly check. @goldsborough @peterjc123 do cpp-extensions work on Windows?

[2018-07-13 02:07] goldsborough commented on #50
Yes @peterjc123 made it work

[2018-07-13 04:54] peterjc123 commented on #50
@soumith I guess the problem is on libsox. According to this [post](https://sourceforge.net/p/sox/mailman/message/32638200/), it seems that building libsox as a static library is broken. As for cpp-extensions, it should no problem for that.

[2018-07-13 11:14] peterjc123 commented on #50
@soumith Now I tried to compile it for x64, but it seems that there's some inline assembly code in `flac`, a dependency of `libsox`, which is prohibited by MSVC. Is it possible that we change to another one that has better support for Windows?

[2018-07-14 11:49] soumith commented on #50
@peterjc123 isn't it optional dependency of `libsox`?

I couldn't find any good ones.

[2018-07-14 16:20] peterjc123 commented on #50
Oh, what a sad story. I'll try to build without `flac`, but I guess it can hardly work on Windows as a static library.

[2018-07-20 07:27] npkk opened #56 "Build failed"
I ran this command

[code]

and saw this error log

[code]

I thought that the build command

[code]

should be following...

[code]

[2018-07-23 14:11] stihl1210 commented on #56
@npkk
 i had similar issue, I used this command with clang and solved problems

`MACOSX_DEPLOYMENT_TARGET=10.10 CC=clang CXX=clang++ python setup.py install`

[2018-07-26 18:36] npkk commented on #56
thanks for answer.
and i should have see below...
https://github.com/pytorch/audio/issues/52

and i also tried this command and succeeded build.
i had installed gcc using homebrew.
[code]

[2018-07-26 18:36] #56 closed

[2018-07-27 05:15] soumith commented on #54
@sizhky seeing a stack-trace would be super helpful.

Can you do this under gdb:

[code]

In gdb console:

[code]

[2018-07-28 16:03] sizhky commented on #54
@soumith Here's the full stack-trace.

[code]

[2018-08-01 17:01] jinserk commented on #53
by changing `#include <sox.h>` to `#include <sox/sox.h>` in `torchaudio/torch_sox.cpp`, I could install and run without error. But it's just a workaround and we need some general solution for this issue.

[2018-08-04 21:45] dendisuhubdy opened #57 "MacOS X 10.13 Installation Issue"
[code]
So I tried using `clang` instead, still the same error

[code]

but if I use the latest gcc-8

[code]

[2018-08-04 22:05] soumith commented on #57
try:

[code]

[2018-08-06 07:50] shuieryin commented on #54
I encountered Segmentation fault 11 on OSX when installed torch 0.4.1 and was resolved after rollbacked to 0.4.0. Hope this helps.

[2018-08-06 08:15] sizhky commented on #54
I'm using 0.4 on CentOS

[2018-08-07 13:55] #57 closed

[2018-08-07 19:11] soumith commented on #57
if you have anaconda python, it's a thing you have to specify. I'll update the README now.

[2018-08-11 03:08] Zhongdao commented on #54
@sizhky  You are using gcc 4.8, it seems that gcc 4.8 is not compatible with this package. I solved this problem by installing gcc 4.9+.

[2018-08-21 13:18] zenetio commented on #42
I am facing a similar issue. The compilation goes fine until the building 'torch._C' extension phase where gcc succeed with 10 files, generating the respective .o file. Then I just get a gcc failed with exit status 1.
What I could see is that in this last compiler command line the string has double backslash. For instance,
in the correct compiled lines I can see
C:\tools\myfiles\...\gcc.exe
then i

[2018-09-03 18:54] dhpollack commented on #14
I believe this problem has been resolved.  Still need to do a few more tests, but if anyone is still experiencing this issue let me know.

[2018-09-08 15:58] mojesty commented on #53
Try installing packages `sox libcurl4-openssl-dev clang libopencv-dev libsox-dev`, it helped me. However, they require about 650M of disk space.

[2018-09-21 02:05] thommiano commented on #14
I'm experiencing this issue.

[2018-09-21 12:45] YihengJiang opened #61 "it can not calculate on GPU"
I try to make it on GPU,but it can not run, I want to know whether it can work on GPU if I try to revise code?

thank you,author!!!

[2018-09-29 06:49] luckmoon commented on #53
Here is my solution, referencing [this](https://github.com/hltcoe/vaporengine/blob/master/README.md)
`sudo  ln -s /usr/include/sox/sox.h /usr/include/sox.h`

[2018-10-03 16:00] ccoulombe opened #62 "undefined symbol when importing torchaudio with pytorch 0.4.1"
Hi,
When importing torchaudio with pytorch 0.4.1 I get an undefined symbol. It does however work with v0.4.0. audio version: 7314b36

[code]

Thanks

[2018-10-11 08:54] nsrikanth548 opened #63 "cannot download libsox-dev and libsox-fmt-all"
I work in a network of linux clusters and cant use sudo command: **sudo apt-get install sox libsox-dev libsox-fmt-all**
howelse can I install libsox-dev and libsox-fmt-all ?
I tried all  ways but getting stuck with some error occuring while building '_torch_sox' extension.
Any help would be appreciated.

[2018-10-22 21:05] keunwoochoi opened #64 "Change in `F2M`; more docstrings including examples"
Hi, I think I could work on these if they seem useful for users/maintainers.

* in [transforms.F2M](https://github.com/pytorch/audio/blob/master/torchaudio/transforms.py#L233),
  - The computation of filterbanks (`fb`) can be move to `init()` to remove its redundancy.

* Would more docstrings be useful?

* Seems like there could be potential `-inf` or `NaN` during applying `_tlog10()` ([Example](h

[2018-10-30 18:01] XilunWu commented on #62
Same problem. When I use virtual environment in conda, it occurs while it doesn't occur in the base environment.

[2018-11-08 17:40] darkspring2015 commented on #62
How to install the package into existing virtual environment with Anaconda3?
I can not change to use the 'base' environment, because the Conda environment have installed so many packages

[2018-11-08 17:46] darkspring2015 commented on #62
To be Use the 'base' environment may cause some unkown errors,how to fix this bug?
ox.cpython-37m-x86_64-linux-gnu.so
	linux-vdso.so.1 (0x00007ffefa331000)
	libsox.so.3 => /usr/lib/x86_64-linux-gnu/libsox.so.3 (0x00007f15ce295000)
	libstdc++.so.6 => /home/**/.conda/envs/PyTorch/lib/libstdc++.so.6 (0x00007f15ce5c8000)
	libm.so.6 => /lib/x86_64-linux-gnu/libm.so.6 (0x00007f15cdef7000)
	libgcc_s.so.1

[2018-11-09 01:45] keunhong opened #65 "Trying to load corrupt file segfaults instead of raising exception."
# The problem
Trying to load an invalid file segfaults and crashes the entire process instead of raising an exception.

# Steps to reproduce

[code]

# GDB Backtrace

[code]

[2018-11-09 01:48] keunhong commented on #65
Actually this seems like a duplicate of #54. I'll close this and move it over tehre.

[2018-11-09 01:48] #65 closed

[2018-11-09 01:48] keunhong commented on #54
This seems to happen with invalid or corrupt files. Trying to load an invalid file segfaults and crashes the entire process instead of raising an exception.

# Steps to reproduce

[code]

# GDB Backtrace

[code]

[2018-11-09 04:06] darkspring2015 opened #66 "can not import torchaudio"
Hi,
I am trying to use torchaudio on Ubuntu and get the following exception:
'''shell
lib/python3.7/site-packages/torchaudio-0.1-py3.7-linux-x86_64.egg/_torch_sox.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZN2at5ErrorC1ENS_14SourceLocationENSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEE
'''
ldd the so ,get the following:
'''
 ldd _torch_sox.cpython-37m-x86_64-linux-gnu.so
	linux-vdso

[2018-11-09 04:10] darkspring2015 commented on #66
how to fix this bug ? PyTorch 0.41 install with Anaconda5.3.1 on the Ubuntu18.04.
Anaconda3 is installed on the /opt/anaconda3,the envs is on the /home/uname/.conda/envs/

[2018-11-09 10:52] darkspring2015 commented on #66
i have fix the bug ! do not need to install the packages on conda base environment .This bug be caused by some packages conlits, so :
1. create new environment
`conda create -n someEnv python=37`
2. follow the officesite guide  https://pytorch.org/
`conda install pytorch torchvision -c pytorch`
3.install the wheel follow the guide,
just so ,it works!
Notice: To install tensorbroad  with conda comm

[2018-11-09 10:59] darkspring2015 commented on #66
but those bug occurs :段错误 (核心已转储)

[2018-11-20 18:54] kureta opened #68 "ImportError when using pytorch compiled from the master branch with CUDA 10"
I have compiled pytorch from the master branch using Python 3.7.1 and CUDA 10. Everything except pytorch-audio works. I receive this error when trying to import.

[code]

I can provide additional information if necessary.

[2018-11-28 16:32] mvankeirsbilck commented on #68
I have the same issue (Python 3.6, PyTorch 0.4.1, CUDA 10.0, Ubuntu 16.04)

[2018-12-10 17:15] pltrdy commented on #68
FYI I has similar issue, I solved it by updating `torchaudio` from the repo (i.e. cloning and `python setup.py install`).

Update from pip (`pip install --upgrade torchaudio`) was unsuccessful.

[2018-12-10 19:25] bjuncek commented on #36
Edit - closing this issue, as that is out of scope - support for this would have to come from SoX

[2018-12-10 19:25] #36 closed

[2018-12-10 19:29] bjuncek commented on #63
You can compile them from source -> https://github.com/jacksonh/sox/blob/master/INSTALL

[2018-12-10 20:40] kureta commented on #68
@pltrdy I was already doing something similar (building `.whl` file from source and installing that.). Tried your way, unfortunately didn't change anything.

[2018-12-11 17:35] francois-wellenreiter opened #69 "Weird build warning about ABI compatibility"
Hi there,

when trying to build torchaudio from a Dockerfile, I obtain this warning, I suspect it to provoke pip installation failures afterwards. How can I fix it ?
At a first glance the installed versions of gcc and libstdc++ are correct.

François

Step 11/15 : RUN git clone --recursive https://github.com/pytorch/audio.git
 ---> Running in 1c0152e3a375
Cloning into 'audio'...
Removing intermedi

[2018-12-17 03:10] UdonDa opened #70 "Why do you not allow for installation using pip or conda?"
There are many installation error issues.

[2018-12-26 11:42] rajeevbaalwan opened #71 "python setup.py install failed"
running install
running bdist_egg
running egg_info
writing torchaudio.egg-info/PKG-INFO
writing top-level names to torchaudio.egg-info/top_level.txt
writing dependency_links to torchaudio.egg-info/dependency_links.txt
reading manifest file 'torchaudio.egg-info/SOURCES.txt'
writing manifest file 'torchaudio.egg-info/SOURCES.txt'
installing library code to build/bdist.linux-x86_64/egg
running instal

[2018-12-26 12:36] kuangdi1992 commented on #71
same issue

[2018-12-26 16:49] soumith commented on #71
you are on an older version of PyTorch. upgrade to 1.0.0 or more. You can check the PyTorch version with `print(torch.__version__)`

[2018-12-27 01:53] yanring commented on #71
If you do not want upgrade PyTorch to 1.0.0, check out previous commit would solve the problem.

[2019-01-04 10:31] dhpollack commented on #68
@kureta @pltrdy are you guys still having problems with this?

[2019-01-04 10:53] pltrdy commented on #68
@dhpollack the fix (see my last commit) did it for me.

[2019-01-07 13:58] dhpollack commented on #64
@keunwoochoi sorry, I didn't see this.  I recently made a change to F2M that's in master.  Perhaps you could take a look at it for me and tell me what you think.

[2019-01-07 14:03] #14 closed

[2019-01-23 05:54] jybaek commented on #71
When using torch version 0.4 on MacOS, the above branch(301e2e9) is not helpful. Is not there another way?

[code]

[2019-01-23 06:32] jybaek commented on #71
If you use non-APPLE code, it works well. good!
[code]

[2019-02-03 18:37] jph00 commented on #29
It would be nice to have it internally consistent. Currently `MEL()` assumes `CxL` but loading gives `LxC`.

(FWIW I do agree with @bchamand that being inconsistent with pytorch is confusing and inefficient. All the pytorch conv functions expect channel first. Since this project is part of the pytorch gh org, it seems like it should follow the same specs as the pytorch project, which has already m

[2019-02-03 18:54] jph00 commented on #29
Ah also just discovered that the input and output dim order for `MEL2` and `MEL` are inconsistent, as are the output formats (`MEL2` scales to DB, but `MEL` doesn't).

I just did a `%timeit` check for a 16k frame audio file, and `MEL2` was `654 µs`, whereas `MEL` was `2.42 ms` (this is on a V100, single precision). Since it's quite a bit faster, perhaps you can remove the "maybe it's faster" from

[2019-02-05 00:31] jph00 commented on #29
Sorry a correction - the above timing is for CPU, not GPU. I just submitted #77 to make it work on GPU. On GPU the timing is 949 µs.

[2019-02-05 19:10] ksanjeevan opened #79 "Making Spectrogram as a layer"
Having the spectrogram transform be a layer for a custom model has big benefits (GPU computation, no need to store the transforms, etc.). Similar to [kapre](https://github.com/keunwoochoi/kapre) (more in [this paper](https://arxiv.org/abs/1706.05781)). Making a few modifications to the *SPECTROGRAM* class would allow for such usage (subclassing *nn.Module*, using *nn.Paramater* instead of *autogra

[2019-02-05 19:16] faroit commented on #79
Indeed. Actually @keunwoochoi and me discussed this already offline. We were actually working on a proposal that would require some major API change for torch audio. Maybe we can collaborate on this proposal?

[2019-02-05 20:12] ksanjeevan commented on #79
Gotcha. Sounds great @faroit, let me know.

[2019-02-10 00:10] PCerles commented on #32
Hey did this get anywhere? I'll look into implementing too if not.

[2019-02-10 18:07] PCerles opened #80 "Which library is torchaudio consistent against?"
Hi, I'm currently updating my torch codebase from using librosa to torchaudio for transforms, to take advantage of the (much) faster stft torch implementation on the GPU. However, running into several occasions where the output from Spectrogram vs. librosa.core._spectrogram, MelSpectrogram vs. librosa.melspectrogram have different results. Does this repo ensure consistency with another python audi

[2019-02-10 20:01] faroit commented on #80
@PCerles great effort and this is really relevant, I agree. The problem is that even among other stft implementations,  its hard to get consistent results.  E.g. see [librosa vs. scipy](https://gist.github.com/bmcfee/746e572232be36f3bd462749fb1796da)

[2019-02-10 20:11] PCerles commented on #80
Thanks! The torch.stft implementation is consistent with librosa defaults if you use the same window type, I tested that first.
[code]
I was more interested in the function signatures being consistent and any transforms being visible/configurable (e.g. the spectrogram normalization), but didn't know if these functions were modeled off some library. Personally, I think it makes sense to mirror libr

[2019-02-11 06:00] soumith commented on #80
totally open to a PR for this.
cc; @dhpollack

[2019-02-11 06:06] soumith commented on #32
I dont think anyone made progress. PRs definitely welcome :)

[2019-02-11 07:12] dhpollack commented on #80
First off, I'm open to a PR as well.

Secondly, the MEL function converts the spectrogram to the DB scale because I felt that was a bit more intuitive than the log scale. There is also the choice of a power spectrogram vs the amplitude spectrogram. I played with a lot of that but in the end, I wasn't sure it was worth mucking things up with more options.

I'm a believer in the paradox of choice th

[2019-02-11 15:55] dhpollack commented on #79
I'd be open to major API changes.  Either create an issue here or get in touch with me on the pytorch slack.  :+1:

[2019-02-11 16:34] ccoulombe commented on #62
With torch 1.0.0, I monkey patched this issue. It is caused by an issue in torch where is does not detect correctly the ABI of the wheel and forces to add `-D_GLIBCXX_USE_CXX11_ABI=0` when it was compiled with `-D_GLIBCXX_USE_CXX11_ABI=1`.

Make sure `torchaudio` is compiled with `-D_GLIBCXX_USE_CXX11_ABI=1` if `torch` was build with CXX11_ABI.

[2019-02-11 16:34] #62 closed

[2019-02-11 22:19] PCerles commented on #80
Alright thanks guys, PR'd here:
https://github.com/pytorch/audio/pull/83

[2019-02-11 23:42] PCerles commented on #32
https://github.com/pytorch/audio/pull/83

[2019-02-14 16:31] f0k commented on #79
@faroit I'd be interested to join the discussion.

[2019-02-15 05:30] soumith commented on #79
i added everyone here to slack. feel free to discuss in #audio

[2019-02-24 17:15] prajwalkr commented on #62
@ccoulombe How do I make sure that torchaudio is compiled with that specific flag?

[2019-03-08 15:15] EgorLakomkin commented on #79
I started hacking on making spectrogram as a layer for my own experiments - curious if there was any progress on this here?

[2019-03-09 09:44] tsauri commented on #79
Any progress so far,
and how to join pytorch slack

[2019-03-09 09:46] tsauri opened #87 "Best way to calculate delta and delta-delta for MelSpectrogram?"
Any plans to do this?

[2019-03-09 09:49] dhpollack commented on #79
Nope, the last big discussion was about making torchaudio more like librosa. It's been fairly quiet since then.

To get into Pytorch slack, you need to contact soumith.

[2019-03-09 14:23] faroit commented on #79
@keunwoochoi @ksanjeevan and me were working a proposal that we will make public in a separate repo for discussion in a few days.

@tsauri @f0k @EgorLakomkin @dhpollack Happy to get you all on board then, to make torchaudio awesome ;-)

@soumith can you add me to the slack channel, please?

[2019-03-09 17:21] soumith commented on #79
@faroit done. join #audio once inside.

[2019-03-09 20:49] EgorLakomkin commented on #79
@soumith can I also join, please?

[2019-03-10 20:31] keunwoochoi opened #88 "torchaudio-contrib"
Hi all, the [torchaudio-contrib](https://github.com/keunwoochoi/torchaudio-contrib) repo became public just now. We (@faroit, @ksanjeevan and myself @keunwoochoi) have been working on it so far and there are lots of things to discuss.
Everyone's invited :) let's talk!

[2019-03-10 20:34] keunwoochoi commented on #88
(note - It's also related to #79)

[2019-03-11 16:23] faroit commented on #54
it also segfaults when a non supported format is opened and `formats: no handler for file extension `mp4' is raised.

[2019-03-13 13:04] tsauri commented on #79
@soumith  can I join the slack channel? Thanks in advance

[2019-03-14 14:43] marc-moreaux opened #89 "docstring should be worded for audio"
I guess _'takes in an PIL image'_ should be changed to something like _'takes in raw audio'_

https://github.com/pytorch/audio/blob/7212f245ab738b2f65f398f8da92ba2cc43858e2/torchaudio/datasets/vctk.py#L83

https://github.com/pytorch/audio/blob/7212f245ab738b2f65f398f8da92ba2cc43858e2/torchaudio/datasets/yesno.py#L20

[2019-03-20 16:02] soumith commented on #89
closed via #90

[2019-03-20 16:02] #89 closed

[2019-03-20 16:09] lezasantaizi opened #91 "len(audios)==1000"
download code is crash in VCTK

[2019-03-22 15:09] marc-moreaux opened #92 "Envnet model and related transforms"
Hey,

I'm implementing EnvNet with ESC50 dataset with pytorch, it works great, but I would like to pull it into torchaudio.
So far I'm using the utils from [bc_learning](https://github.com/mil-tokyo/bc_learning_sound/blob/master/utils.py) , what would be the best way to put this utils in torch audio ? should I rewrite the utils to be full pytorch or leave it in numpy (as in torchvision, the PIL Im

[2019-03-26 21:27] drscotthawley commented on #88
Re.

I'm writing to request an invitation.  It looks like certain email addresses can add themselves to PyTorch slack, but my .edu address is not on the approved list.

[2019-03-28 20:52] ptrblck opened #93 "DownmixMono channels_first wrong default value"
While the [docs](https://pytorch.org/audio/transforms.html#torchaudio.transforms.DownmixMono) state the default value for `channels_dim` is `True`, it seems to be set to `None` instead as shown [here](https://pytorch.org/audio/_modules/torchaudio/transforms.html#DownmixMono).

This would yield to the default channel dimension as dim1:
[code]

Reported in the forum [here](https://discuss.pytorch.or

[2019-04-04 20:59] cpuhrsch commented on #49
Hello @vsd550 - Is this issue still current? I'm going to close this for now as it appears resolved, but please feel encouraged to reopen.

[2019-04-04 20:59] #49 closed

[2019-04-04 21:00] cpuhrsch commented on #68
@kureta - Is this issue still current? Based on the recent comments it appears resolved. I'm going to close this for now, but please feel encouraged to reopen it, if it's indeed not yet resolved.

[2019-04-04 21:00] #68 closed

[2019-04-04 21:02] cpuhrsch commented on #70
Hello @UdonDa - Thank you for reporting this issue. This is something we're currently actively looking into it.

[2019-04-04 21:07] cpuhrsch commented on #51
@miguelvr - Is this issue still current? Based on the comments and due to our recent releases I am assuming it is not and am closing it for now. Please feel encouraged to reopen this issue at any point, if this is not the case.

[2019-04-04 21:07] #51 closed

[2019-04-05 02:37] UdonDa commented on #70
I hope it will be realized.
Thanks

[2019-04-05 02:37] #70 closed

[2019-04-11 05:55] ClearOneXu opened #96 "No module named '_torch_sox'"
In __init__.py, no _torch_sox module can be found, even though I run setup.py successfully.

[2019-04-15 15:25] lorenlugosch opened #97 ""speed" effect does not work"
To reproduce:
[code]

```x.shape``` will be the same for both.

The "tempo" effect does work, though. Weird, because these two effects have the same interface in SoX.

[2019-04-19 19:57] ailzhang opened #98 "Wrong info about amplitude range for torchaudio.load"
Copied from https://github.com/pytorch/pytorch/issues/19507 by @f90
Documentation for torchaudio.load says that the resulting audio is normalized to [0,1] range. However, simply loading an audio signal and looking at the output of torch.min(signal) reveals it's actually normalized to [-1,1], so the documentation should be fixed.

[2019-05-02 17:28] hajix opened #99 "ImportError: undefined symbol"
importing torchaudio thrown import  error:

    ImportError                               Traceback (most recent call last)
    <ipython-input-1-4cf0a64f61c0> in <module>()
    ----> 1 import torchaudio
    ~/repo/audio/torchaudio/__init__.py in <module>()
          3
          4 import torch
    ----> 5 import _torch_sox
          6
          7 from torchaudio import transforms, datasets, sox_eff

[2019-05-02 20:19] soumith commented on #99
this means you have an old / mismatched version of PyTorch since torchaudio was compiled. Recompile / reinstall torchaudio, or fix your pytorch install.

[2019-05-02 20:19] #99 closed

[2019-05-04 11:10] hagenw opened #101 "test_dataloader.py fails"
Under Ubuntu 18.04 I did the following:
[code]

It also fails for Python 3.5 unedr Ubuntu Xenial on travis, see #100.

[2019-05-04 11:25] hagenw opened #102 "Allow for pytest"
`unittest` is a great starting point for checking the implementation, but I would prefer to allow [`pytest`](https://pytest.readthedocs.io/en/latest/) for testing as well. It allows an easier way to write heavily parametrized tests. See also the discussion at https://github.com/pytorch/pytorch/issues/11578.

It will perfectly fine [work together with `unittest`](https://docs.pytest.org/en/4.4.1/un

[2019-05-04 14:32] soumith commented on #102
pytest in torchaudio sounds fine to me

[2019-05-04 19:33] keunwoochoi opened #103 "Which version pytorch/audio is (and will be) supporting?"
Regarding making a new PR in the future (https://github.com/keunwoochoi/torchaudio-contrib/issues/41), I'd like to know which version we'll be officially supporting. It's tempting to drop 2.7 for me (+many of you), but pytorch supporting it implies should we do the same?

[2019-05-09 10:42] harirajeev commented on #96
how to solve this, me too got the same error ?

[2019-05-16 10:48] mogwai opened #104 ".m4a support"
Working with the [VoxCeleb2 Dataset](http://www.robots.ox.ac.uk/~vgg/data/voxceleb/vox2.html) which encodes audio in the [m4a format](https://en.wikipedia.org/wiki/MPEG-4_Part_14) I've not been able to use the library to load the files.

[code]

I tried using ffpemg to convert to a aac file `ffmpeg -i in.m4a -c:a copy out.aac` and got the same error

[code]

[2019-05-16 10:55] hagenw commented on #104
At the moment you need to convert them to WAV, e.g.
[code]

[2019-05-16 16:25] mogwai commented on #104
A script to do this for all files in the directory recursively

[code]

[2019-05-20 23:27] xuhdev opened #109 "Install from PyPI"
Is this package available on PyPI? If so, can you add instructions to README?

[2019-05-21 00:25] keunwoochoi opened #110 "Merging plan from torchaudio-contrib"
Hi all,
I think it's good timing to discuss a potential merging plan from [torchaudio-contrib](https://github.com/keunwoochoi/torchaudio-contrib) to here, especially because there's going to be new features and changes by @jamarshon @cpuhrsch.

## Main idea
A lot of things are well summarized in https://github.com/keunwoochoi/torchaudio-contrib. In short, we wanted to re-design torch-based audio p

[2019-05-21 02:52] ksanjeevan commented on #110
Just making sure it's clear: as it currently stands, our `MelFilterbank` is a wrapper around the `create_mel_filter` functional and merely creates the filterbank tensor (either htk or Slaney or even custom). Then we have `ApplyFilterbank` taking it in and using `apply_filterbank` functional to actually apply it to the stft.

:+1: :+1:

A bit verbose?

A couple of things that come to mind I think w

[2019-05-21 06:58] hagenw commented on #110
### 2. Wouldn't need these

I think it is a little bit restrictive to force everything to be a layer and don't allow for composing transforms, which still might be useful during training.

[2019-05-21 11:11] keunwoochoi commented on #110
@hagenw Right, actually I was confused Compose with torchvision’s transform. I’ll probably edit it later, Compose is fairly simple and be able to do something that nn.Sequential() can’t, hence probably no need to remove it.
One thing is - it’d be nicer to a suggestion on when to use nn.Sequential() or Compose(). For example, imo, if every component is Layer, a better practice would be to use nn.Se

[2019-05-21 18:22] cpuhrsch commented on #109
Hey @xuhdev - we're currently working on adding better release engineering support for this library. This should also include pip.

[2019-05-21 22:34] cpuhrsch commented on #110
Thanks for writing this up @keunwoochoi!

**To me there are three categories of features for the sake of this discussion**

1) Entirely new standalone features. We can merge those right away.
2) Feature extensions. We can also merge those right away after a bit of discussion on a case-by-case basis to prevent featuritis.
3) Redoing existing torchaudio features. Here it would be good to merge them

[2019-05-23 09:36] keunwoochoi commented on #110
Sounds good, then let's keep discussing here, probably then the provisional PR would be after the API freezing, i.e., after ver 0.0.2.

[2019-05-23 14:11] cpuhrsch commented on #110
If there is orthogonal functionality in torchaudio-contrib, we can move it into torchaudio immediately. I understood the endgoal to be a full merge of torchaudio-contrib into torchaudio. This could be a first phase, which we can start right away.

Your original sentence reads

What I meant is, that I don't think it's a good idea to return (as in, return from the forward() function) an instance of

[2019-05-23 14:36] ksanjeevan commented on #110
Just a quick clarification: in `torchaudio_contrib`, `Melspectrogram` and `Spectrogram` are not classes but functions that return an `nn.Sequential` around the appropriate modules, i.e.:

[code]
And it's the `STFT`, `ComplexNorm`, etc. that inherit from `nn.Module`.

So maybe our current design is closer to your original comment:

Since `Spectrogram`, `Melspectrogram` probably shouldn't be in `lay

[2019-05-23 14:46] cpuhrsch commented on #110
@ksanjeevan - Is there an advantage for them to be functions that return an nn.Sequential as opposed to being layers that separate out the compute into a functional? That is, for Melspectrogram there will be a melspectrogram function that calls into the (possibly also to-be-created) functionals for stft, complexnorm and applyfilterbank?

[2019-05-23 15:13] ksanjeevan commented on #110
Them being functions I think just reflected the fact that this was a useful/popular combination of the modules. As far as having the composition of the modules instead of a call to a functional that does the composition, users may want to add additional intermediate layers like for example a time stretched melspectrogram:
[code]
Having `Melspectrogram` simply chain the layers means that doing time

[2019-05-23 15:33] dhpollack commented on #110
on the `LC2CL` stuff, generally, people from the ML world like to have `(channels, length)`  because it's similar to how image channels are normally presented in pytorch and Librosa defaults to channels first for multi-channel audio.  However, people from the signal processing world tend to like `(length, channels)` because that's traditionally how signals are represented and it's often how the au

[2019-05-23 16:10] cpuhrsch commented on #110
@ksanjeevan - for modification purposes it's better, in my opinion, to provide an easily copy-paste-editable example that users can modify for something simple like this.

For example a class with forward
[code]

I personally prefer this way of writing operators as a sequence of python functions. It also makes it easy to mix in various other functions with the outputs, whereas nn.Sequential is res

[2019-05-23 16:28] keunwoochoi commented on #110
Particularly on Melspectrogram, one of the reasons for not having a Functional for it was so that it doesn't compute linear-to-mel matrix every time. This can be addressed by optionally passing the filterbank.

To keep `nn.Module`-sanity, again, a Functional of melspectrograms can be implemented, resuing other Functionals like `stft`. In such a way we reuse the codes, which is nice. For more flexi

[2019-05-23 16:37] cpuhrsch commented on #110
@keunwoochoi - What do you think about my proposal of writing it as a sequence of python statements and provide it as an easily copy-paste-editable example and maybe also a highly efficient functional?

[2019-05-23 16:40] cpuhrsch commented on #110
@dhpollack - Since we're creating building blocks in support of PyTorch users we should then probably standardize on the ML convention and transpose for functions that require `(length, channels)`. We also recently did this for nn.LSTM via the batch_first flag, which simply triggers a transpose, since the efficient cudnn implementations require the second dimension to be the batch.

[2019-05-23 17:49] cpuhrsch commented on #103
@keunwoochoi - since we're thinking about this library as building blocks for PyTorch users we must also support all of the platforms or at least throw exceptions if we can't. We yet have to add in CI support to test this.

[2019-05-24 08:50] hagenw opened #116 "Data set discussion"
We released an [audio for PyTorch](https://github.com/audeering/audtorch) package, that contains a few audio data sets that might be worth integrating here: [Mozilla Common Voice](https://audtorch.readthedocs.io/en/0.1.1/api-datasets.html#mozillacommonvoice), [AudioSet](https://audtorch.readthedocs.io/en/0.1.1/api-datasets.html#audioset), [VoxCeleb1](https://audtorch.readthedocs.io/en/0.1.1/api-da

[2019-05-25 01:59] mlaugharn commented on #96
same here

[2019-05-27 19:12] keunwoochoi commented on #110
@cpuhrsch Sounds good to me overall.

Just to clarify, you mean doing the same for the implementation of the Functional `melspectrogram`? Yeah, good. Although, in such a case, wouldn't it be better to have a `melspectrogram()` functional that does it and let `Melspectrogram()` layer simply call `melspectrogram()`? (melspectrogram might be an exception though due to the filter bank generation but I

[2019-05-29 17:29] cpuhrsch commented on #116
Hello @hagenw,

Thank you for opening this issue. I can't quite give you a good reply to this just yet, because dataset abstractions are a topic we might need to revisit at a grand scale. I'll read through this in detail soon, but I want to signal you're heard via this reply.

Thanks,
Christian

[2019-05-29 19:59] hagenw commented on #116
Thanks for replying. There is no need to rush. The topic is indeed not trivial and it might be a good idea to make the right decisions at the beginning.

[2019-06-02 17:04] thomasbrandon commented on #54
I'm not sure kenhuong's issue is the same as the original one here (the stack traces look different), but as the other issue is closed I'll put this here. I'm also experiencing the issue kenhuong has, triggering at the same location (`sox_close`), though here from a call to `torchaudio.info` not `load` (though it's not resolving that in this dump).
I debugged it and entering sox_close, before a SI

[2019-06-05 15:04] cpuhrsch commented on #110
@keunwoochoi - yes I think the approach of splitting the compute out into highly efficient functionals and then having the layers call into those functionals should yield a good separation and is in tune with pytorch's approach to this topic.

[2019-06-06 22:00] marc-moreaux commented on #96
Does running this help ?
```python setup.py build_ext --inplace```

source: https://pytestguide.readthedocs.io/en/latest/pytestGuide/

[2019-06-07 14:56] adrienchaton opened #120 "error: $MACOSX_DEPLOYMENT_TARGET mismatch: now "10.9" but "10.11" during configure"
Hi !

I did brew install sox, which worked good apparently.
Then I tried
MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ python3 setup.py install
and got the following error:
error: $MACOSX_DEPLOYMENT_TARGET mismatch: now "10.9" but "10.11" during configure

Did anyone have the same issue ? Any fix ?

I run pytorch 1.0 on OSX 10.12.6 with python 3.7.3.

[2019-06-07 15:53] f90 opened #121 "Cannot import torchaudio with torch 1.1"
I am trying to use torchaudio with torch 1.1.
It compiled successfully with Python 3.6, but when I want to import the torchaudio package, I get this error:

[code]
It ran fine on torch 1.0 - maybe some problem with differing source code between torch 1.0 and 1.1?

[2019-06-09 06:56] zqs01 commented on #121
the same question.

[2019-06-09 12:29] jamarshon commented on #121
Yes this is a known issue. We are currently working on a fix and will update this when resolved

[2019-06-11 09:47] siida36 opened #123 "torch.jit.frontend.UnsupportedNodeError: ListComp aren't supported"
Hi, I’m trying to use torchaudio with Python 3.6, torch 1.0.0 and CUDA-10.0.
I followed the README, but I get the error below:

[code]

How can I work it?

[2019-06-11 12:18] RJ722 commented on #121
Hey, I've a dependency in my code [torch-baidu-ctc](https://pypi.org/project/torch-baidu-ctc/) which requires `torch>1.0` - so, I can't  downgrade to 1.0. What should I do?

[2019-06-11 15:56] jamarshon commented on #123
This is probably the same issue as https://github.com/pytorch/audio/issues/121. A fix should be created soon but you could build from commit d92de5b97fc6204db4b1e3ed20c03ac06f5d53f0 until then.

[2019-06-12 10:26] 9bow commented on #123
I uninstalled and reinstall from commit as d92de5b as @jamarshon mentioned.
It works fine, and those who related in # 121 would like to refer to this.
Thanks, @jamarshon

[2019-06-12 13:24] siida36 commented on #123
@jamarshon
Thank you for reply!
I made a new docker container and retry, but I have same error...
My commands are below:

[code]

@9bow
Would you like tell me your environment?

[2019-06-12 23:52] 9bow commented on #123
@siida36
First of all, I was experiencing an error related to #121, not the error you mentioned.

My environment is basically based on Deep Learning AMI for AWS EC2.
Specifically PyTorch 1.1, Cuda 10.0, Python 3.6.5, and Ubuntu 18.04 (LTS).
If there are any differences from the commands you provided, I used `git checkout`, uninstalled torchaudio and then reinstalled.

I hope this helps you.

[2019-06-13 06:33] siida36 commented on #123
@jamarshon, @9bow
I'm ashamed to forget `--hard` option of `git reset` command.
It works fine! Thank you!

[2019-06-13 06:33] #123 closed

[2019-06-16 03:40] tobyclh commented on #121
same issue, working after I check out d92de5b97fc6204db4b1e3ed20c03ac06f5d53f0

[2019-06-21 16:54] rfalcon100 commented on #53
I am having this issue on OSX. I installed sox with  `brew install sox` , and the sox installation is located in directory `~/Homebrew/bin/sox`.

I managed to get pass the first error `fatal error: sox.h: No such file or directory`, by adding `include_dirs=['~/Homebrew/opt/sox/include/]` to the `CppExtension `. However, now i am getting:

`ld: library not found for -lsox
clang: error: linker comma

[2019-06-26 16:50] MNCTTY commented on #121
Same issue.
I downgrade pytorch to version 1.0.0
and then install audio as `pip3 install git+https://github.com/pytorch/audio@d92de5b`
it has been built successfully, but when I tried to import, I recieved this error:
![image](https://user-images.githubusercontent.com/37251686/60198302-eac00c80-9849-11e9-9948-d4db8d9992c3.png)
I couldn't google anything (all mentions by the error was about maskrcn

[2019-06-26 20:38] jamarshon commented on #121
@MNCTTY For your first issue about UndefinedTensorImp, it is mentioned here https://discuss.pytorch.org/t/torchaudio-import-error/48367 where you have to upgrade your pytorch version (e.g 1.1.0)

For your second issue, you did not checkout the specific commit. You can do this by running
`git clone --branch v0.2.0 https://github.com/pytorch/audio.git`
or if you already cloned it you can do
` git ch

[2019-06-27 17:53] jamarshon commented on #120
@adrienchaton How did you install pytorch 1.0? If you built it from source, you have to run the command
[code]
and then try installing torchaudio

[2019-07-05 10:22] m-d-hasan commented on #121
Same Issue.

[2019-07-08 12:28] thetimeofblack commented on #121
Is there any other way for me to use pytorch audio, I tries many other way to install it but it always fails

[2019-07-08 14:59] jamarshon commented on #121
@thetimeofblack @m-d-hasan can you confirm that you have pytorch > 1.1.0 installed? e.g
[code]
can you also confirm that you checkout the correct torchaudio branch/commit (v0.2.0 or d92de5b)?

If that does not work, please comment with your setup (i.e. copy and paste the output of [collect_env.py](https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py), as well as the commands u

[2019-07-09 02:58] XingwXiong commented on #121
Thanks a lot @jamarshon , I solved this error by
`pip uninstall torchaudio; git checkout d92de5b; python setup.py install`.

[2019-07-10 08:10] thetimeofblack commented on #121
@jamarshon
I am confirmed the version of torch is 1.1.0

1.1.0
and
this is my collect_env.py

# This script outputs relevant system environment info
# Run it with `python collect_env.py`.
from __future__ import absolute_import, division, print_function, unicode_literals
import re
import subprocess
import sys
import os
from collections import namedtuple

try:
    import torch
    TORCH_AVAILABLE =

[2019-07-10 08:16] tobyclh commented on #121
You need to run the script and post the output, not the script itself.
it should look something like this.

Collecting environment information...
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.10.2

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.0

[2019-07-11 18:05] jamarshon commented on #121
@thetimeofblack there seems to be an error in the collect environment script when trying to [get_cudnn_version](https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py#L132). a quick hack would be to put this
[code]
or you could print out ``cudnn_cmd`` and see if it matches/runs on your platform (win32, darwin, etc.) and further see why that command fails

[2019-07-16 14:08] rbracco opened #139 "Call to .info for non-existent file causes crash (Jupyter kernel dies)"

[2019-07-16 14:13] rbracco commented on #139
A call to `torchaudio.info(path)` for a path that doesn't exist causes the kernel to die in Jupyter. It likely just needs to be wrapped in a check for the file's existence before handing it off to sox. Low priority as user can just wrap with their own check, but quite annoying because when Jupyter's kernel dies it doesn't display output from print statements or debug so it is hard to trace.

[2019-07-16 15:49] vincentqb opened #141 "Torch Audio repository description"
The repository's description is "simple audio I/O for pytorch". We should change that to something like "Data manipulation and transformation for audio signal processing, powered by PyTorch."

See [torch text](https://github.com/pytorch/vision), [torch vision](https://github.com/pytorch/vision) and [doc](https://pytorch.org/docs/stable/torchvision/index.html), [pytorch](https://github.com/pytorch/

[2019-07-16 18:45] vincentqb opened #143 "Error when loading VCTK"
I'm getting an error from SOX when loading VCTK.

[code]

[2019-07-16 19:34] vincentqb opened #144 "Scale transform does not fail on non-integers"
Since `Scale` assumes integer-valued float-typed signal, giving a float-valued float-typed signal results is not what one would expect for a float-valued float-typed signal. We could either
* update `Scale` to take float-valued float-typed,
* give a warning if float-valued are detected happens,
* we could rename the transform to IntegerScale, and introduce another FloatScale for this, with a depre

[2019-07-16 20:33] jamarshon opened #146 "Support JIT and cuda on transforms.py and functional.py"
Similar to https://github.com/pytorch/audio/pull/118, we want to adjust the transforms to be able to use JIT and cuda for the new features added.

[2019-07-16 21:16] #143 closed

[2019-07-16 21:17] #101 closed

[2019-07-17 06:10] soumith commented on #141
done

[2019-07-17 06:10] #141 closed

[2019-07-17 12:50] vincentqb opened #147 "Batch support"
Many (all?) of the transformers do not currently support batches, and operate on only one non-batched tensor  at a time. This can be fixed as part while setting a convention on the meaning of the indices across torchaudio.

Since signals don't necessarily have the same lengths unless pre-processing is done (i.e. padding, truncating, etc), we should wait on nested tensors.

[2019-07-18 18:20] vincentqb opened #153 "Resample supports only one channel"
torchaudio.transforms.Resample appears to only apply to single channels.

[code]

Since we are in the process of standardizing #152, would it make sense to apply the resample on the last dimension, assumed to be time?

[2019-07-18 18:22] vincentqb commented on #153
@jamarshon -- thoughts?

[2019-07-19 12:31] deepwilson opened #155 "DownmixMono "channels_first" kwarg is unexpected keyword"
[code]

Hash : d92de5b

[2019-07-19 13:22] jamarshon commented on #155
Hmm that's strange. It works for me
[code]
and it should work since it is in the code:
https://github.com/pytorch/audio/blob/d92de5b/torchaudio/transforms.py#L108
and it was added a while [back](https://github.com/pytorch/audio/pull/60).

Could you run [test_transforms.py](https://github.com/pytorch/audio/blob/d92de5b97fc6204db4b1e3ed20c03ac06f5d53f0/test/test_transforms.py#L70) and see if an erro

[2019-07-19 13:47] deepwilson commented on #155
Running:
`python -m unittest test/test_transforms.py`
gives me
`RuntimeError: Failed to parse the argument list of a type annotation: name 'Optional' is not defined`

[2019-07-19 19:49] vincentqb opened #157 "torchaudio.compliance.kaldi.spectrogram is very different from torchaudio.transforms.spectrogram"
Does `torchaudio.compliance.kaldi.spectrogram` only currently support vectors?

When feeding a tensor of shape `torch.Size([2, 276858])` the result is not what's expected, yet there is no error. I would expect a "train pattern" to be visible, as in the second figure below.

This is what kaldi gives
![download (1)](https://user-images.githubusercontent.com/3047868/61561315-a553c100-aa3c-11e9-8ad8-e

[2019-07-19 20:24] vincentqb commented on #157
Code to generate the two figures below. Sound file [here](https://github.com/vincentqb/audio-tutorial/blob/master/assets/steam-train-whistle-daniel_simon-converted-from-mp3.wav).

[code]

[2019-07-19 21:02] vincentqb commented on #157
I get similar result with
[code]

[2019-07-19 21:04] vincentqb commented on #157
Note also that I had to feed the tensor with shape `torch.Size([1, 276858])` and not `torch.Size([276858])`.

[2019-07-19 21:46] vincentqb commented on #157
The main issue is that the result from kaldi looks like noise, and the fact that the train pattern is not visible in the spectrogram is unexpected.

[2019-07-20 02:56] ericlearning commented on #120
Just changing the target to 10.11 worked for me.

[2019-07-20 10:49] #69 closed

[2019-07-22 11:06] deepwilson commented on #155
What would be the proper method to install torchaudio on colab?
@jamarshon please help.

[2019-07-22 13:58] jamarshon commented on #155
@deepwilson I ran this on a Python3 colab and it worked. Let me know if it does 😄, although you may have to adjust the pytorch installation depending on desired Python and Cuda versions.
[code]

[2019-07-22 15:14] deepwilson commented on #155
Thank you so much @jamarshon !
I ran the following code which was wrong:
[code]

**Correct code/procedure to follow as per your instructions:**
[code]

[code]

[code]

Go to [the following link and check for links corresponding to your python and CUDA versions](https://pytorch.org/get-started/locally/)
![image](https://user-images.githubusercontent.com/25292456/61643300-2d95c880-acc0-11e9-9c17-136

[2019-07-22 15:15] #155 closed

[2019-07-22 15:17] jamarshon commented on #155
@deepwilson Glad to hear it worked 😄

[2019-07-22 16:29] cpuhrsch commented on #157
Try smaller inputs, zeros, ones, arange, etc. ; but in general we want to standardize on kaldi and whatever they produce is what we produce.

[2019-07-22 17:14] jamarshon commented on #157
@vincentqb I could investigate the flags more [kaldi.spectrogram](https://pytorch.org/audio/compliance.kaldi.html#torchaudio.compliance.kaldi.spectrogram) to get a more closer result but is this more similar to what you would expect?
[code]
Spec1:
![spec1](https://user-images.githubusercontent.com/10252970/61650721-4da69700-ac82-11e9-94eb-2ced8c8a3be1.png)
Spec2:
![spec2](https://user-images.githu

[2019-07-22 18:27] vincentqb commented on #157
Great, that's good enough. Thanks!

[2019-07-22 18:27] #157 closed

[2019-07-22 20:19] jamarshon commented on #153
Fixed in #154

[2019-07-22 20:19] #153 closed

[2019-07-24 16:07] jamarshon commented on #102
Using pytest now https://github.com/pytorch/audio/pull/131

[2019-07-24 16:07] #102 closed

[2019-07-24 18:09] jamarshon commented on #144
Removed Scale in https://github.com/pytorch/audio/pull/152

[2019-07-24 18:09] #144 closed

[2019-07-24 18:10] jamarshon commented on #93
Removed DownmixMono here https://github.com/pytorch/audio/pull/152

[2019-07-24 18:10] #93 closed

[2019-07-24 22:49] #79 closed

[2019-07-25 20:19] jamarshon opened #165 "Remove _docs.py"
In https://github.com/pytorch/audio/pull/166, we add _docs.py because we can't get the doc string of a class in a `@torch.jit.script_method` without creating an instance (e.g using the syntax `Class.method.__doc__`).
So the workaround is to have _docs.py
[code]
This creates an instance to expose the docstring to sphinx.
An issue has been made for the pytorch jit https://github.com/pytorch/pytorch/

[2019-07-26 18:58] jamarshon opened #171 "undefined symbol: _ZN2at19NonVariableTypeMode10is_enabledEv"
If you have torch=1.1.0 and you install torchaudio>v0.2.0, you get
[code]
which means you have to upgrade torch>1.1.0 because Optional was added to jit after 1.1.0.

After you install an upgraded torch, and you finish installation of torchaudio it will not overwrite _torch_sox.cpython-36m-x86_64-linux-gnu.so. Thus it will not do the full compilation with the new torch. The indication of a full com

[2019-07-26 20:04] tarekmaketechno opened #172 "Cannot find modules after install"
After successful installation of torchaudio in conda environment, I am able to import the module `import torchaudio`, but I am unable to import any submodules (i.e. `import torchaudio.transforms as t` )

This seems like a very promising project... sorry to see that there are so many installation issues. Let me know if any further information is needed to reproduce the error.

Thank you for your ef

[2019-07-26 20:16] jamarshon commented on #172
@tarekmaketechno What command did you use to install torchaudio? Also what is the error message when trying to import the submodules?

[2019-07-26 21:10] tarekmaketechno commented on #172
@jamarshon I think I fixed the issue - I had run setup using sudo (to work around a dependency issue)...  this seems to have caused all sorts of other dependency problems. I've gotten it working now by redoing the entire install in a fresh conda environment.

Thanks just the same though!

[2019-07-26 21:10] #172 closed

[2019-07-29 15:59] ezyang commented on #54
Thanks to @thomasbrandon , this has been fixed on master. I'm not sure we fixed all of the occurrences of segfault reported here, but we definitely fixed the `sox_close` one. Please open a new issue if you're still affected on master.

[2019-07-29 15:59] #54 closed

[2019-07-29 19:48] ezyang opened #177 "Build sox with mad in binary packaging"
Our binary build of torchaudio is unable to decode mp3 because our static copy of sox is not built with mp3 decoding support. This is different from lame (which is a encoder). We need to also build and install mad. cc @soumith

[2019-07-29 19:56] soumith commented on #177
I thought `mad` is the encoder and `lame` is the decoder. " unable to decode mp3 " ???

[2019-07-29 19:58] ezyang commented on #177
Other way around. (In fact, I made that mistake when I wrote this post initially)

[code]

[2019-07-29 20:11] #177 closed

[2019-07-30 19:26] ezyang commented on #171
I've run into this error myself :)

[2019-07-30 19:28] ezyang opened #185 "Segfault in sox_find_format when running test suite under pytest"
On 2d82a1ea7a9f0b31a6c6a098664dc47652b8efea

[code]

It crashes during `test_legacy` with

[code]

This seems to only happen when you run multiple tests together. I'm working on a minimal reproducer.

[2019-07-30 20:20] ezyang commented on #185
According to @jamarshon this is expected behavior, tests need to be run in separate processes. @jamarshon would you mind elaborating here? :)

[2019-07-30 20:26] jamarshon commented on #185
In https://github.com/pytorch/audio/pull/117 where the tests were fixed, it was show that if all the test are run on the same process, it will call `torchaudio.initialize_sox()` and `torchaudio.shutdown_sox()` repeatedly which is not allowed. Those functions can only be called once per process.

[2019-07-31 02:36] ezyang commented on #185
That doesn't sound very user friendly! Under what circumstances do people want to explicitly `shutdown_sox()`? Can we just make this happen at process exit time?

[2019-07-31 13:22] jamarshon commented on #185
I think a solution for initialize_sox() is have a flag to see if it is already initialized and do nothing if it already is. For shutdown_sox, I was thinking we just remove that function and never call it as when a process ends, it will automatically cleanup the used memory.  @cpuhrsch thoughts?

[2019-07-31 13:56] ezyang commented on #185
Yeah, I support just making normal process shutdown handle this.

[2019-07-31 15:39] ezyang opened #189 "Make it possible to use torchaudio conda package without conda-forge"
The current packaging scripts depend on 'sox' and 'librosa' which are provided by 'conda-forge'.  However, not all users necessarily want to use conda-forge, as it supersedes many basic packages that are provided by Anaconda that they may want to use. Is torchaudio without conda-forge a use case we want to support?

cc @jamarshon @soumith

[2019-07-31 15:45] ezyang commented on #189
To add insult to injury, conda-forge sox doesn't support mp3: https://github.com/conda-forge/sox-feedstock/issues/9

[2019-08-01 18:09] ezyang commented on #171
Another case where you can end up this situation, is if you accidentally have both `torch` and `torch_nightly` installed. AFAICT, `torch` is preferentially picked up.

[2019-08-01 20:08] ezyang opened #200 "CI for Python 2"
torchaudio is currently broken on Python 2 with

[code]

I'll fix this error, but we need to turn on Py2 CI to catch occurrences of this in the future. (Or officially drop support for Py2)

[2019-08-01 20:23] ezyang opened #202 "TemporaryDirectory is not Python 2 compatible"
[code]

[2019-08-02 14:13] rfalcon100 commented on #143
Is this fix present in the stable version? I just installed the latest release, and I am still getting the same error:

[code]

My environment:
[code]

[2019-08-02 14:24] jamarshon commented on #143
@rfalcon100 looks like you have v0.2.0 installed, you can check by printing `torchaudio.__version`. The fix is in v0.3.0.

[2019-08-02 15:22] rfalcon100 commented on #143
Oh, so the master branch is still v0.2.0 ?  To update I have to manually install v0.3.0 ?

[2019-08-02 15:35] jamarshon commented on #143
what does torchaudio.__version print?

[2019-08-02 16:08] rfalcon100 commented on #143
I do have 0.2.0.

[code]

[2019-08-02 16:36] jamarshon commented on #143
@rfalcon100 Okay so you can either wait for 0.3.0 binaries to come out or build from source (master or v0.3.0 as they are almost identical at this point of time). Let us know if you run into any issues

[2019-08-02 22:55] ezyang commented on #202
Fixed in a424509dda5b57c932fa8b5b780de93e60ed7ee2

[2019-08-02 22:55] #202 closed

[2019-08-02 22:55] ezyang commented on #200
fixed in a424509dda5b57c932fa8b5b780de93e60ed7ee2

[2019-08-02 22:55] #200 closed

[2019-08-02 22:55] ezyang commented on #189
Fixed in a9bee3ed3c8f798c0f2c31d4290758069b7dcd35

[2019-08-02 22:55] #189 closed

[2019-08-10 06:48] AppleHolic opened #226 "Request preemphasis and deemphasis modules"
## 🚀 Feature
I request Preemphasis / Deemphasis modules. [wiki](https://en.wikipedia.org/wiki/Preemphasis_improvement) In several sound related deep-learning tasks, These module are often used to help sound quality.

## Motivation

In my speech enhancement case, that model usually generate high frequency noises without preemphasis. With this method, it brings many helps to enhance enhancement qual

[2019-08-12 13:44] ahmed-fau opened #227 "LPC analysis for speech signals"
Hi,
Is there any plan to provide torchaudio with a new feature of calculating the LPC analysis parameters for speech signals? Or at least converting MFCC to LPC?

[2019-08-12 17:02] cpuhrsch commented on #227
@ahmed-fau, I assume by this you mean features such as "Perceptual Linear Predictive (PLP) Analysis of Speech"?

[2019-08-12 17:55] vadimkantorov opened #230 "[feature request] In-memory tensor as input to SoX effects pipeline"
As far as I understand, currently [SoxEffects.set_input_file](https://github.com/pytorch/audio/blob/master/torchaudio/torch_sox.cpp#L207) accepts file names as input. It would be nice (and allow for more flexible usage in mixed pipelines) if it supported using PCM16 or float tensors as input as well.

My usecase: I have an existing data reading pipeline for speech recognition and I wanted to use S

[2019-08-12 18:29] cpuhrsch commented on #230
Hello @vadimkantorov, as a workaround for now, have you tried using named tempfiles in /dev/shm?

[2019-08-12 18:32] vadimkantorov commented on #230
Thanks for the suggestion, I might try that. Alternatively, I'm thinking of reworking the data reading the pipeline to use an alternative sox path if audio is augmented.

[2019-08-12 18:34] vadimkantorov commented on #230
E.g. pitch_shift and time_stretch have much worse quality in librosa compared to sox / rubberband.

[2019-08-12 18:51] cpuhrsch commented on #230
Ideally pitch_shift and time_stretch will be easy enough to implement from our transforms and can become examples or convenience utilities. We can then look at librosa, sox or rubberband to see how their implementations differ and what tradeoffs they chose etc.

[2019-08-12 18:53] vadimkantorov commented on #230
I mean it would be nice to have some final sound quality (sth like psnr for images) measures as well (or at least providing samples): at least for some cases of speech and music.

[2019-08-13 09:40] ahmed-fau commented on #227
@cpuhrsch  PLP is an advanced version of LPC which incorporates perceptual modeling for linear prediction. LPC is simpler as you estimate the analysis filter parameters from the auto-correlation matrix of a speech frame. This is already provided in Python via [AudioLazy](https://pythonhosted.org/audiolazy/lazy_lpc.html?highlight=lpc ). So it could be interfaced with torchaudio to provide LPC analy

[2019-08-13 21:14] jamarshon opened #233 "Re-add Python 3.7 testing when conda fixes their python 3.7.4 issue"
Conda has an issue for python 3.7.4 which causes torchaudio's testing to fail
https://github.com/ContinuumIO/anaconda-issues/issues/11195

When this issue is resolved, we should revert https://github.com/pytorch/audio/pull/232

[2019-08-14 14:27] vadimkantorov opened #234 "[docs] Strange default window argument wording in MelSpectrogram"
https://pytorch.org/audio/transforms.html?highlight=melspectrogram#torchaudio.transforms.MelSpectrogram:
[code]

Very strange wording: `<built-in method hann_window of type object>`

[2019-08-14 15:13] YapengTian opened #235 "How to make the data precision loaded by torchaudio.load be consistent with the data loaded by the librosa.load"
I found that data precision loaded by torchaudio.load is much lower than librosa. Is there a way to improve data precision?

[2019-08-14 17:37] Mistobaan commented on #234
I think this is an artifact from the auto-doc-conversion script. The field documentation is explicit:
[code]

[2019-08-14 22:53] kevinbird15 opened #236 "Length Inaccurate on Multi-Channel Audio Files"
## 🐛 Bug

When doing `torchaudio.info()` on a multi channel audio file, the length is multiplied by however many channels there are.

## To Reproduce

Steps to reproduce the behavior:

1. `torchaudio.load(dual_channel_path)` Look at the shape
1. `torchaudio.info(dual_channel_path)` Look at the length
1. It will be length of a single channel * # of channels

## Expected behavior

I would expect the

[2019-08-15 14:07] jamarshon commented on #236
Left a comment on the PR 😄
https://github.com/pytorch/audio/pull/237#issuecomment-521653116

[2019-08-15 18:25] jamarshon commented on #233
https://github.com/pytorch/audio/pull/238

[2019-08-15 18:25] #233 closed

[2019-08-15 21:26] cpuhrsch commented on #227
@ahmed-fau - and presumably also used as a building block for PLP?

Adding @vincentqb

[2019-08-16 04:04] HiranCser commented on #42
Hi, Any update on this issue? We are need pytorch version 1.10 compiled using MinGW. We are facing same issue where compilation fails with following error for 'torch._C' extension

Copying extension caffe2.python.caffe2_pybind11_state
Copying caffe2.python.caffe2_pybind11_state from torch\Lib\site-packages\caffe2\python\caffe2_pybind11_state.cp36-win_amd64.pyd to E:\GitHub\pytorch\build\lib.win-am

[2019-08-16 07:20] arijit17 opened #239 "import torchaudio error"
Thanks for introducing torchaudio.
However, I'm getting an error on Linux, Python 3.5, CUDA 10.
Works OK on Linux, Python 3.5, and CUDA 9.2

Here is the error
[code]

[2019-08-16 10:40] ws-choi opened #240 "Suggestion: The device-aware declaration of variable 'window' in istft function"
Hello. I'm implementing an end-to-end model for speech enhancement.
During the implementation, I encountered the error caused by the conflict between cuda-cpu variables.
I think the variable window should be declared with the device of the given input (i.e. stft_matrix).
After fixing that [line](https://github.com/ws-choi/audio/blob/ws-choi-patch-1/torchaudio/functional.py#L117), my code is runnin

[2019-08-16 11:22] scarecrow1123 opened #241 "Segfault in `torchaudio.transforms.Spectrogram` with a multi-GPU setup"
## 🐛 Bug
`torchaudio.transforms.Spectrogram` consistently gets into a segfault when used in a multi-GPU DataParallel setup. However I can confirm that it works consistently well when run on a single GPU.

Below is the gdb trace:

[code]

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?
pip
 - If you are building from source, which commit is it?
NA

[2019-08-16 14:14] ahmed-fau commented on #227
In principle: PLP applies linear prediction within its estimation pipeline. However, I am not sure whether a toolkit like Kaldi provides linear prediction in a direct fashion for that purpose. If so, then I think all that we need would be to get a plain interface through torchaudio to that functionality.

[2019-08-16 14:22] ahmed-fau commented on #227
@cpuhrsch  if checked the [original PLP paper](https://pdfs.semanticscholar.org/b578/.pdf) at Fig.1, you can find that linear prediction is a dedicated functionality during the estimation process. The last block in the diagram (solution for auto-regressive coefficients) is exactly what I am speaking about. When you apply this processing block to raw speech waveform (i.e., without all the preceding

[2019-08-16 14:23] jamarshon commented on #239
@arijit17 what is your torch version?

[2019-08-16 14:27] arijit17 commented on #239
@jamarshon latest n'  greatest PyTorch 1.2
Installed with (Stable 1.2, Linux, Pip, Python 3.6, CUDA 10):
pip3 install torch torchvision

[2019-08-16 14:35] jamarshon commented on #239
@arijit17 hmm what is your torchaudio version? is this issue only seen when you change from cuda 9.2 to 10?

[2019-08-16 14:43] arijit17 commented on #239
It should be the latest n' greatest torchaudio 0.3, installed yesterday.

I don't know, I have two different machines.
One with Python 3.6 and CUDA 9.2, where is works!
The other with Python 3.5 and CUDA 10, where is complains with error shown above.

Could these errors be related to some sox stuff?

[2019-08-16 14:46] jamarshon commented on #239
@arijit17 I don't think it's related to sox. I suspect your torch version isn't 1.2.0 because I look here
https://github.com/pytorch/pytorch/blob/cef0443464a4ff5e3fd2e3b6eca0ee76c5c428ce/torch/_jit_internal.py#L306
and it's basically complaining about Optional[int] which is a jit feature that was added pytorch 1.2.0. Could you double check this on your CUDA 10 machine?
[code]

[2019-08-16 14:52] arijit17 commented on #239
@jamarshon
[code]

[2019-08-16 15:44] jamarshon commented on #239
Hmm that's very strange. I tried a new conda Python 3.5 environment on Linux with CUDA 10 and it seems to work okay

[code]

[2019-08-16 15:46] vincentqb commented on #240
Good point. We should also consider inheriting the `dtype` from `stft_matrix`.

[2019-08-16 16:21] arijit17 commented on #239
@jamarshon thanks.
I’ll look into it when I’m at work on Monday.

I didn’t use conda.
I created virtual env, and then installed with pip.

[2019-08-16 17:01] #240 closed

[2019-08-18 11:25] zh217 opened #245 "Lazy initialization of MelScale.fb throws when loading module"
Lazy initialization refers to [the declaration here](https://github.com/pytorch/audio/blob/a424509dda5b57c932fa8b5b780de93e60ed7ee2/torchaudio/transforms.py#L135) and [the initialization here](https://github.com/pytorch/audio/blob/a424509dda5b57c932fa8b5b780de93e60ed7ee2/torchaudio/transforms.py#L146-L150). When loading saved model (saved with torch.save()), this causes problem:

[code]

The probl

[2019-08-19 09:25] arijit17 commented on #239
Hi @jamarshon I tried it.
Very interesting that everything works in the conda environment as you suggested.

I installed latest anaconda.

Then did:
$ conda create --name env3.5 python=3.5
$ conda activate env3.5

Then
pip3 install torch torchvision
pip3 install torchaudio

And everything works with CUDA10, Python 3.5!
So, closing the issue .... but maybe there is still something fishy for you to

[2019-08-19 09:25] #239 closed

[2019-08-19 14:28] jamarshon commented on #245
@zh217 can we have small code snippet of the load/save?

[2019-08-19 14:32] zh217 commented on #245
Sure.

[code]

[2019-08-19 15:03] jamarshon commented on #245
Thanks for the snippet 😄!  Yes I am not sure why that is that way:
https://github.com/pytorch/audio/pull/72/files#diff-a3428ec41790ed12faea36fcc6dd8f06R228
The PR says that they do not want to reconstruct the fb matrix every time `__call__` is used so they initialize it in `__init__` or for the first input.

We can remove lazy initialization by forcing `n_fft` to be required so that the fb matrix

[2019-08-19 15:12] zh217 commented on #245
Making `n_fft` required sounds reasonable to me. I can't think of a use case where I need `n_fft` to be dynamically determined at runtime. Even if there were such a use case, the current implementation doesn't work with changing `n_fft` anyway.

[2019-08-19 15:28] jamarshon commented on #245
The `MelSpectrogram` could derive `n_stft` from `n_fft`
https://github.com/pytorch/audio/blob/master/torchaudio/transforms.py#L202
[code]
which would make your code snippet run correctly
[code]
We could keep also `n_stft` optional for loading/saving by specifying the shape of the destination module (`ms2`) for `MelScale`
[code]

[2019-08-19 19:31] vincentqb commented on #245
The lazy evaluation means that we do not have to specify any dimensions when defining MelScale, and they are then inferred at evaluation time against the matrix used, is that right? This would seem like a nice feature to have for MelScale.

However, for MelSpectrogram, we already know the size of the matrix at initialization, and so we could infer the size at that time. Is that correct? If this is

[2019-08-19 20:56] jamarshon commented on #109
Closing as we now have binaries on [conda](https://anaconda.org/pytorch/torchaudio), [pip](https://pypi.org/project/torchaudio/), and [nightlies](https://github.com/pytorch/audio#binaries)

[2019-08-19 20:56] #109 closed

[2019-08-20 14:06] jamarshon commented on #241
@scarecrow1123 could we have a small code snippet where this error would occur?

[2019-08-20 20:13] jamarshon commented on #185
Another benefit of just running one process is we can get code coverage via `pytest-cov`

[2019-08-20 20:50] jamarshon commented on #139
@rbracco What is the expected/desired behaviour for a file does not exist? Currently it throws a RuntimeError
[code]
since in torch_sox.cpp's get_info, it says
[code]
I think that throwing an error is acceptable here as the user can do
[code]
with the output
[code]

[2019-08-20 23:01] yzhang123 opened #249 "MFCC gives wrong sequence length"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. take input tensor of size `torch.Size([64, 276978])`
2. forward pass with
[code]
3. you get `[64, 40, 1385]`

## Expected behavior

however i expect `[64, 40, 1732]`
since if i forward pass same input through
[code]
gives `[64, 40, 1732]`

[2019-08-20 23:13] rbracco commented on #139
Sorry about this, I actually thought I'd already closed it. I was running an older version of torchaudio in which this was a problem, I believe it has been fixed. Thank you for the reply and info.

[2019-08-20 23:13] #139 closed

[2019-08-21 11:47] ttaoREtw opened #250 "Spectrogram calculation issue with power=1"
## 🐛 Bug

https://github.com/pytorch/audio/blob/42a705d51eeea34242ec54e902a90728e0d10e72/torchaudio/functional.py#L209

While this is true when `power=2`,
it is summing up real part and imaginary part when `power=1`.

[2019-08-21 13:33] vadimkantorov opened #251 "Save signal with AMR-NB format"
Conversion with `sox input.wav -r 8k ouptut.amr-nb` command works fine, `libsox-fmt-all` is installed.

[code]

[2019-08-21 14:30] jamarshon commented on #245
Going to close this as from #246, we can now load from state_dict for MelSpectrogram in this code snippet https://github.com/pytorch/audio/issues/245#issuecomment-522602035

Also, we can load from state_dict for MelScale (see [test_melscale_load_save](https://github.com/pytorch/audio/blob/42a705d51eeea34242ec54e902a90728e0d10e72/test/test_transforms.py#L53) and [test_melspectrogram_load_save](http

[2019-08-21 14:30] #245 closed

[2019-08-21 14:33] vadimkantorov commented on #251
It seems that somehow AMR-NB was not present at torchaudio compile-time

[2019-08-21 14:50] jamarshon commented on #249
[code]

@yzhang123 Can you explain why this is incorrect?
https://pytorch.org/audio/transforms.html#torchaudio.transforms.MFCC
torch.Size([64, 40, 1385]) is (channel, n_mfcc, time)
You have 64 channels from the waveform, 40 n_mfcc because you pass in n_mfcc=40, and the time is a function of the length of your waveform, n_fft, and hop_length

https://pytorch.org/audio/transforms.html#torchaudio.tra

[2019-08-21 14:59] jamarshon commented on #250
https://pytorch.org/audio/transforms.html#torchaudio.transforms.Spectrogram
The definition provided here is:
[code]
@ttaoREtw What do you think is the expected behaviour for `power=1`, `power=0`, etc.?

[2019-08-21 15:17] ttaoREtw commented on #250
For a complex number c = x+jy, the magnitude of c is |c| = (x^2 + y^2).sqrt().
Thus, it seems to me that for `power=1`, it should be
[code]

[2019-08-22 02:20] hiromis opened #252 "Saving and loading the downsampled audio results in a tensor with zeros."
## 🐛 Bug

I was using this particular audio file that I downloaded from https://www.lynxstudio.com/ to experiment with 6 channel audio. When I downsample this from 44.1kHz 8kHz, everything seems fine and I am able to play the audio. However, if I were to save the downsampled file and load it again, the tensor I get back have all zeros in it.

[code]
[code]

## To Reproduce

Steps to reproduce the

[2019-08-22 15:36] vincentqb commented on #250
So, if `power` is specified, you'd return the power of the magnitude of the complex number via `spec_f = spec_f.pow(2).sum(-1).sqrt().pow(power)` ?

The code currently behaves very closely to L^p norms: `(sum_i |x_i|^p)^{1/p}` even for non-integers. This should have been the original intention.
* For the case p=2, we recover the standard magnitude of a complex number, as you mentioned.
* For p=1,

[2019-08-22 15:42] vincentqb commented on #235
Can you provide code snippets to compare?

[2019-08-22 16:42] Mistobaan commented on #121
Installing pytorch 1.2 solves most of the above problems.
[code]
Now seems that the torch_sox is missing lib-alsa on linux?

[2019-08-22 17:09] vincentqb commented on #1
Since this appears to have been resolved, I will close this issue. Please feel free to reopen or create a new one it if it is not the case.

[2019-08-22 17:09] #1 closed

[2019-08-22 17:11] jamarshon commented on #252
I don't think this is related to resampling. I think it's related to the save/load which has a wide variety of configurations (`precision`, `normalization`, and scaling). The signal starts off as a 24 bits per sample and after loaded it is a float32 (32 bits per sample) which is resampled and then saved to file.

`down_sampled.abs().max() == 1.0006` which is greater than 1.0 so it is not scaled an

[2019-08-22 17:15] vincentqb commented on #18
Since pytorch/pytorch#643 has been closed, I will close this issue. Please feel free to re-open or create a [new bug report](https://github.com/pytorch/audio/issues/new?template=bug-report.md) while providing the information given in the template..

[2019-08-22 17:15] #18 closed

[2019-08-22 17:20] vincentqb commented on #29
Thank you for the feedback. We introduced changes around the standardization that should have addressed the initial topic: please see the [release notes](https://github.com/pytorch/audio/releases) or #152. I will close this issue, but please feel free to re-open if appropriate or create a new issue to discuss follow-ups.

[2019-08-22 17:20] #29 closed

[2019-08-22 17:32] vincentqb commented on #30
As you pointed out, we currently use sox within VCTK, though we are trying to reduce the dependency on sox. Similarly, we should avoid such large dependencies such as librosa if possible. In fact, we now have a `Resample`, see #134 and [release notes](https://github.com/pytorch/audio/releases), which we should leverage in this case.

I'm also linking pytorch/pytorch#24915 since we are also plannin

[2019-08-22 17:54] Mistobaan commented on #121
I managed to fix it: #254

[2019-08-22 18:37] ttaoREtw commented on #250
I think that power for the L^p norm is fine.
I agree with you that it's weird using `normalized` by ` window.pow(2).sum().sqrt()` with other power, and there should be no `normalized` option provided as you mentioned.

Thank you all!

[2019-08-22 19:03] vincentqb commented on #250
I'd say that the code should keep `normalized` as normalizing by the L2 norm is a fairly standard thing. In addition, I see the following possibilities:
1. Deprecate `power` which can be misleading. Users can easily derive the current behavior afterwards.
2. Use `power` also in norm when `normalized=True`, with default value 2 when normalizing but no power is specified.
3. Add absolute value in `s

[2019-08-22 19:16] ttaoREtw commented on #250
I found out that Librosa did the thing as I think.
https://github.com/librosa/librosa/blob/master/librosa/core/spectrum.py#L2524
They use `power` standing for the power of the magnitude.

[2019-08-22 19:28] vincentqb commented on #250
I see, so librosa does `spec_f = spec_f.power(2).sum(-1).sqrt().pow(power)` or, using the new syntax, `spec_f = complex_norm(spec_f, power=power)`. We should also check how Kaldi is doing it to make sure we wouldn't break the compliance interface.

[2019-08-22 19:38] vincentqb commented on #41
I can't reproduce.

[code]

You can also try to install sox via `conda`, see [here](https://github.com/pytorch/audio/blob/master/README.md#Dependencies). Please feel free to reopen if you still have this issue.

[2019-08-22 19:38] #41 closed

[2019-08-22 19:41] vincentqb commented on #50
For reference: pytorch/pytorch#24859

[2019-08-22 19:46] jamarshon commented on #41
@vincentqb Maybe we should encourage people to use the pre-built torchaudio binaries instead of building from source unless they need the newest features 😄. [pip](https://pypi.org/project/torchaudio/),  [conda](https://anaconda.org/pytorch/torchaudio) and [nightlies](https://github.com/pytorch/audio#binaries)

[2019-08-22 19:48] vincentqb commented on #48
If you still have this issue, please feel free to file a [new issue](https://github.com/pytorch/audio/issues/new?template=bug-report.md). There are instructions given so you can provide information about your environment. Please also add the commands you use to set up your environment. Current set up instructions are given in the [README](https://github.com/pytorch/audio).

[2019-08-22 19:48] #48 closed

[2019-08-22 19:52] ttaoREtw commented on #250
I didn't find any use of `torchaudio.functional.spectrogram` or `torchaudio.transforms.Spectrogram` in `torchaudio.compliance.kaldi.py`.

[2019-08-22 19:58] vincentqb commented on #61
You can find the current instructions to install pytorch with GPU support [here](https://pytorch.org/). Please feel free to re-open the issue or [create a new one](https://github.com/pytorch/audio/issues/new?template=bug-report.md) if you are still having it, and provide the information requested in the new issue template. You can also [visit the forum](https://discuss.pytorch.org/).

[2019-08-22 19:58] #61 closed

[2019-08-22 20:20] vincentqb commented on #53
We now have binaries that can be install directly from `pip` and `conda`, see [here](https://github.com/pytorch/audio#Installation).

Since the original author has not expressed further issue, I will close this. Please feel free to re-open and provide the information given [here](https://github.com/pytorch/audio/issues/new?template=bug-report.md) if this is still happening.

@rfalcon100 -- Please

[2019-08-22 20:20] #53 closed

[2019-08-22 20:26] vincentqb commented on #63
We now have pre-compiled binaries that you can install using `pip` and `conda`, see [here](https://github.com/pytorch/audio/blob/master/README.md#Installation). You can also install sox using `conda`. Please feel free to re-open this issue if this does not address your use-case. Feel free to also visit [the forum](https://discuss.pytorch.org/).

[2019-08-22 20:26] #63 closed

[2019-08-22 21:55] jph00 commented on #29
Many thanks for the followup @vincentqb

[2019-08-23 01:00] hiromis commented on #252
Thank you for very detailed explanation and resources, @jamarshon!

The key seems to be the if statement you pointed out:
https://github.com/pytorch/audio/blob/a424509dda5b57c932fa8b5b780de93e60ed7ee2/torchaudio/__init__.py#L191

I tried different sample rates, and 8000 is the only one that goes over the threshold of 1.0 by 0.0005977153... (hence being considered "unnormalized" and taking a differ

[2019-08-23 03:27] YapengTian commented on #235
Here are code snippets:

        a1 =time.time()
        audio, rate = librosa.load(path, sr=None, mono=False)
        a2 = time.time()
        print("librosa loading time: {}".format(a2-a1))
        print(np.min(audio), np.max(audio))

        b1 = time.time()
        audio, rate = torchaudio.load(path)
        b2 = time.time()
        print("torchaudio loading time: {}".format(b2 - b1))

[2019-08-24 05:22] Mistobaan commented on #110
Is dropping sox library still the plan? I was about to open an issue to propose to add a bunch of functions for sox like [carlthome/python-audio-effects/pysndfx/dsp.py](https://github.com/carlthome/python-audio-effects/blob/master/pysndfx/dsp.py) and a SoxContextLib so you don't have to manually initialize the library. I personally think having sox in the library is a good army swiss knife to have

[2019-08-24 08:28] vadimkantorov opened #255 "Double free or memory corruption in SoxEffectsChain"
I've started using SoxEffectsChain for doing audio data augmentation within the data loader:
[code]

After training for ~1k iteration I've received:
[code]
and the app is crashed because `RuntimeError: DataLoader worker (pid 66) is killed by signal: Aborted`.
My Docker container is running with `--ipc=host` and there's enough memory (it's p3.8xlarge). Without augmentations / SoxEffectsChain it wor

[2019-08-24 09:27] vadimkantorov commented on #255
How do I properly call `initialize_sox` and `shutdown_sox` in the DataLoader context? `initialize_sox` at worker_init_fn? but there is no worker_teardown_fn for `shutdown_sox`

[2019-08-24 10:21] vadimkantorov commented on #255
Unfortunately I was unable to get a stack trace using just gdb and MALLOC_CHECK_. Valgrind is probably needed and I don't have experience with valgrind, so can't do it right away.

I confirmed that the double free goes away if SoxEffectsChain is not used

[2019-08-24 10:22] vadimkantorov commented on #255
Having just "rate" and "channel" is enough to trigger it.

[2019-08-24 10:28] vadimkantorov commented on #255
I'm currently calling `initialize_sox()` in worker_init_fn and not doing `shutdown_sox()` at all

[2019-08-24 12:13] vadimkantorov opened #271 "free(): invalid pointer | data loader + torchaudio + SoxEffectsChain"
I'm experiencing various memory ussues: `free(): invalid pointer`, `double free or corruption (!prev)`
getting printed seemingly from DataLoader, causing training crash. I'm using multithreaded data-loading with [torchaudio sox pipeline](https://github.com/pytorch/audio/issues/255) on AWS p3.8xlarge machine.

If I run the training script under gdb, the crash produces "no stack". However by setting

[2019-08-26 02:15] keunwoochoi commented on #110
I'm not sure what's the current plan.
They are definitely useful, but I don't think it's best hosted in the part of torchaudio. The installation (= dependency) issue will be always there and add maintenance cost and potential risks. I also hardly imagine their operations can benefit from GPUs. Due to these issues, I would avoid using sox as a part of a system if it requires some reliability and ef

[2019-08-26 02:59] Mistobaan commented on #110
If we can replace the functionalities of sox in pure torch style then definitely is the way to go.
We can make a list of the sox utilities, rank them, and add a help-wanted tag. Once we have enough of them we could drop support for sox.

[2019-08-27 13:40] arijit17 opened #256 "torchaudio python 3.7"
## 🐛 Bug

I have installed latest Pytorch on Linux using conda:
[code]

After installing torch torchvision on Python 3.7 if I try to install torchaudio, it seems to be again re-installing torch torchvision.
Looks like it's installing some Python 3.5 version??

Ultimately, everything works, but I don't understand why torch and torchvision are again installed.

[2019-08-27 20:08] faroit commented on #110
@vincentqb We had a long discussion about this in https://github.com/keunwoochoi/torchaudio-contrib/issues/31. I think many people agree that fast audio loading is really important and for many users of torchaudio the load functionality is probably the only place where they touch the sox lib. Therefore it would make a lot of since if only load and save would be replaced by native torch code (proba

[2019-08-27 22:27] vincentqb opened #257 "Fundamental Frequency"
## 🚀 Feature

We want to implement a fundamental frequency feature such as [kaldi's pitch-functions.cc](https://github.com/kaldi-asr/kaldi/blob/master/src/feat/pitch-functions.cc). We could also add a Kaldi compliance interface.

## Additional context

[Paper](https://www.danielpovey.com/files/2014_icassp_pitch.pdf) documenting the implementation in Kaldi

[2019-08-28 06:19] vadimkantorov commented on #255
Just rate does it too

Le mer. 28 août 2019 à 01:03, Vincent QB <notifications@github.com> a
écrit :

--
Vadim Kantorov
+33 6 03 29 27 69

[2019-08-28 07:10] peterhsu2018 opened #258 "Error for installation using pip on win10"
I followed the instruction as below:
`pip install torchaudio -f https://download.pytorch.org/whl/torch_stable.html`
or
`pip install torchaudio`

but got the error:
<pre>
Looking in links: https://download.pytorch.org/whl/torch_stable.html
Collecting torchaudio
  ERROR: Could not find a version that satisfies the requirement torchaudio (from versions: none)
ERROR: No matching distribution found for

[2019-08-28 09:19] arijit17 commented on #256
Hi @vincentqb Thanks.

All right, I was using pip3 install torchaudio.
Using as you say: conda install torchaudio -c pytorch works fine!

[2019-08-28 09:19] #256 closed

[2019-08-28 15:51] vincentqb opened #259 "Merging items torchaudio-contrib that are not yet in torchaudio"
When looking into [torchaudio-contrib](https://github.com/keunwoochoi/torchaudio-contrib/tree/master/torchaudio_contrib), I see the following items that are not into torchaudio:
- [ ] [Harmonic-Percussive Source Separation](https://github.com/keunwoochoi/torchaudio-contrib/blob/master/torchaudio_contrib/beta_hpss.py)
- [ ] DB to Amplitude [functional](https://github.com/keunwoochoi/torchaudio-cont

[2019-08-28 17:11] vincentqb opened #260 "torch transforms inspired by sox effects"
## 🚀 Feature

Convert [sox effects](http://sox.sourceforge.net/sox.html#EFFECTS) into transforms. Ideally, we provide enough building blocks to make those transforms easy to assemble.

- [x] allpass (with biquad)
- [x] band (with biquad)
- [x] bandpass/bandreject (with biquad)
- [x] bass (with biquad)
- [x] treble (with biquad)
- [ ] bend
- [x] biquad
- [x] ~channels (we already decided downmix, e

[2019-08-28 21:19] keunwoochoi commented on #259
Right that’s how we planed. But I guess we can be more flexible though? At the moment I don’t have a strong opinion about doing it here first :)

[2019-08-28 21:52] vincentqb commented on #252
FYI: We are currently discussing standardizing the data loading in pytorch/pytorch#24915, and make any post-processing more transparent.

[2019-08-30 02:10] peterjc123 commented on #258
See https://github.com/pytorch/audio/issues/50 for details.

[2019-08-30 18:56] vincentqb commented on #259
We're also flexible here, and want to be compatible with your workflow. We're really excited about your work, so we want to make sure you can have as much impact as you want :)

[2019-08-30 20:25] ksanjeevan commented on #259
@vincentqb great! So I'll make a pull request with the four above and we can all have a discussion in the the context of the PR for changes like where to put them, pitch shift stuff, etc. 👍

[2019-08-30 20:34] keunwoochoi commented on #259
@ksanjeevan Perfect, that'd be great! One thing, for a few reasons (we might need to make some changes and etc just to make sure), HPSS would fit with me better. I'd happily do it :)

[2019-08-30 20:37] keunwoochoi commented on #110
Recently we had a chat with Matt Larson in Nvidia with some other Spotifier. I begged them for some low-level implementation of wav file loader (and even mp3 decoder). Hmm.. @faroit would you be still able to spend some time on a fast wav loader? What's our plan at the moment?

[2019-09-03 18:22] mcollins42 opened #262 "Commit d26e112d8b2171ceb78f4c2566245c977b2ff7d1 appears to have broken the build"
## 🐛 Bug

The changes in commit d26e112d8b2171ceb78f4c2566245c977b2ff7d1 to move away from the deprecated torch type `at::DeprecatedTypeProperties` seems to have broken the build: https://travis-ci.org/pytorch/audio/builds/578519920

[code]

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?

Fails on travis and when building/installing with:

`pip i

[2019-09-03 18:33] speechbrain opened #263 "Some issues with Kaldi MFCCs features"
Hi,
I'm trying to do some experiments with the kaldi-compliant MFCCs, but I run into some possible issues:

1- When I run the following code

[code]

The mfccs are different every time I run the script:

run 1
[code]
run 2
[code]

This is due to the dithering, that is a type of noise. The problem can be easily solved by setting a manual_seed before executing the code. To avoid issues, the users sh

[2019-09-03 19:49] vincentqb commented on #262
Thanks for pointing this out. Reverting in #264.

[2019-09-03 20:56] vincentqb commented on #262
Thanks for reporting! Fixed with #265. Please feel free to-reopen or open a new PR if the issue persists.

[2019-09-03 20:56] #262 closed

[2019-09-03 22:35] vincentqb commented on #249
Please feel free to re-open the issue if this does not address your issue.

[2019-09-03 22:35] #249 closed

[2019-09-04 16:48] vincentqb commented on #260
[sox effects](http://sox.sourceforge.net/sox.html#EFFECTS):

- [ ] band
- [ ] bandpass/bandreject
- [ ] bass/treble
- [ ] bend
- [ ] biquad
- [ ] ~channels~
- [ ] chorus
- [ ] compand/mcompand
- [ ] contrast
- [ ] dcshift
- [ ] deemph
- [ ] delay
- [ ] dither
- [x] downsample/upsample
- [ ] earwax
- [ ] echo/echos
- [ ] equalizer
- [ ] fade
- [ ] fir
- [ ] flanger
- [ ] gain
- [ ] highpass/lowpass

[2019-09-04 17:30] cyrta commented on #260
I can help.  Which should I take as first ?

[2019-09-05 13:47] vincentqb opened #267 "Time series"
I'd like to reflect upon what functions would be desired (that could live within torchaudio or outside) in order to offer preliminary support for time series.

* Time series data format (e.g. many channels compared to audio)
* Missing data imputing
* Interaction with calendar information
* Conversion to other formats, say to audio waveform
* Option on transformations to respect time direction
* St

[2019-09-05 14:56] vincentqb commented on #260
The space is open right now :) are you interested in any in particular?

[2019-09-05 21:09] vincentqb commented on #263
Let's start with 1. I don't see the fluctuations that you mention. I'm using [this file](https://github.com/pytorch/audio/blob/master/examples/interactive_asr/data/sample.wav).

[code]

I get the same output after each call `mfcc(waveform)`.
[code]

[2019-09-05 21:20] vincentqb commented on #263
For 3, can you give a more complete code snippet? It looks like a variable (e.g. `epsilon` or `strided_input`) has not been moved to the GPU, see for example [here](https://github.com/huggingface/pytorch-transformers/issues/227#issuecomment-457614031) and [here](https://github.com/Cadene/pretrained-models.pytorch/issues/135#issuecomment-468702845):
[code]

[2019-09-05 21:22] vincentqb commented on #263
For 5, I'm assuming you mean performance=runtime. Can you provide comparison/measurement? Maybe even code snippet for this?

[2019-09-05 21:26] vincentqb commented on #226
This is relevant for #260 :)

[2019-09-09 18:09] SsnL commented on #271
Try using atexit.register in worker_init_fn to do sox shutdown and see if
it solves your problem.

On Mon, Sep 9, 2019 at 13:03 Vadim Kantorov <notifications@github.com>
wrote:

[2019-09-13 12:55] vadimkantorov opened #278 "[docs] Function arguments in function signature are missing for many functions"
https://pytorch.org/audio/functional.html

Many functions like `mu_law_encoding` are listed as `torchaudio.functional.mu_law_encoding()` with no arguments (unlike the `istft` function that has them in the signature). Arguments are still specified below in the Parameters section, but it is confusing.

[2019-09-16 15:54] jeffreyksmithjr opened #281 "Compliance should be named compatibility (or similar)"
This bug is purely about naming.  Currently, there is a layer with features equivalent to Kaldi implementations named `compliance`. I would argue that this is an error in diction. The definition of the word compliance I looked up is, "the state or fact of according with or meeting rules or standards." Kaldi is not a rule or standard; it's a specific technology. I believe the more accepted diction

[2019-09-16 17:15] gchanan commented on #281
I believe this is a known issue, although I don't think it's been documented externally before.

[2019-09-17 16:41] engineerchuan commented on #97
Hi Loren,

Can you try adding "rate" as well at the very end?

[code]

I believe sox command line as a convenience layer that automatically adds the rate, but this is not in the C interface.  This should be a workaround.

[2019-09-17 17:44] vincentqb commented on #97
This resolves the issue on our end, and so I will close this issue. Please feel free to re-open if this does not fix it.

[2019-09-18 00:58] jongwook opened #287 "amplitude normalization in create_fb_matrix"
## 🐛 Not necessarily a Bug

Not exactly a bug, but I think it makes more sense if the triangular Mel filterbanks are area-normalized, as opposed to the current behavior where they are height-normalized.

## To Reproduce / Expected behavior

Steps to reproduce the behavior:

[code]

![image](https://user-images.githubusercontent.com/266841/65094873-abe6b200-d973-11e9-9464-fd652f3a5faa.png)

The for

[2019-09-18 15:33] vincentqb commented on #267
@sergulaydore -- for reference

[2019-09-18 15:50] vadimkantorov opened #288 "create_fb_matrix should specify frequency format"
From the code it's clear it expects f_min and f_max in hertz (and not some angular frequency), but this is not mentioned in documentation: https://pytorch.org/audio/functional.html#torchaudio.functional.create_fb_matrix

[2019-09-18 23:09] engineerchuan commented on #260
We have implemented biquad, lowpass_biquad, highpass_biquad as part of the https://github.com/pytorch/audio/commit/8273c3f4500ac9c01e95f1d78fa3f5752aafdca7

[2019-09-20 16:15] vincentqb commented on #278
The problem comes from the fact that those functions are decorated with `@torch.jit.script`. The forward looking solution is probably to remove the decorator (still test that they can be decorated).

PS In the same vein, transforms should probably also be transferred from `torch.jit.ScriptModule` to `nn.Module`.

[2019-09-20 22:46] jongwook opened #292 "Incorrect mel filterbank when f_max != sample_rate // 2"
## 🐛 Bug

`MelScale` and thus `MelSpectrogram` will not use the correct filterbank when `f_max` is not equal to `sample_rate // 2`.

## To Reproduce

Steps to reproduce the behavior:

The following should give the same filterbank matrix:

[code]

## Expected behavior

Librosa's Mel filterbank stops at certain frequency bin, since `f_max` is lower than the Nyquist frequency.

![image](https://user-

[2019-09-22 03:05] engineerchuan commented on #292
Hi,

I was able to confirm this issue.  I have created a pull request to fix this.  I ran the following comparison code on the PR and see similar results.

[code]

Thanks,

Chuan

[2019-09-23 06:47] dwgoon opened #295 "Compilation error in ppc64le"
I am trying to install in IBM PowerAI (ppc64le).
But I faced the following compile errors.
Is there any idea to solve this?

[code]

[2019-09-23 17:19] vincentqb commented on #295
* Do you use the latest stable pytorch? torchaudio is not yet compatible with pytorch's master branch.
* Do you have CUDA installed? Have you tried `NO_CUDA=1 python setup.py install` when compiling?

[2019-09-25 03:49] dwgoon commented on #295
@vincentqb Hello! Thanks for your attention on this problem.

- The version of PyTorch I use is 1.1.0 on Python 3.6.8 Anaconda (GCC 7.3.0).
- CUDA 10.0 is installed in my system (IBM PowerAI, Ubuntu 16.04 ppc64le), and setting NO_CUDA=1 didn't work (the same as the above errors).

[2019-09-25 13:26] vincentqb commented on #295
Can you try the latest release, PyTorch 1.2.0?

[2019-09-25 19:37] vincentqb commented on #292
Thanks for reporting this! #292 should have fixed this. If this is not the case, please feel free to re-open the issue.

[2019-09-25 19:37] #292 closed

[2019-09-25 19:42] vincentqb commented on #288
Thanks for reporting this! This is fixed in #294, and so will be pushed in the documentation at a later time. I will therefore close this issue, but please feel free to re-open it if this doesn't address it.

[2019-09-25 19:42] #288 closed

[2019-09-26 19:04] harritaylor opened #299 "fft: ATen not compiled with MKL support error when trying to calculate Spectrogram"
## 🐛 Bug

`fft: ATen not compiled with MKL support` error when trying to calculate Spectrogram on MacOS. Sox is installed correctly.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Spectrogram matrix output

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?
`pip`
 - What does `torchaudio.__version__` print? (If appl

[2019-09-26 19:14] harritaylor commented on #299
I just found this discussion. For anyone who comes across this error: **Use conda, not pip**. The Intel MKL library isn't installed when installing `torchaudio` via pip. Conda deals with all the headaches for you.

https://discuss.pytorch.org/t/error-using-fft-runtimeerror-fft-aten-not-compiled-with-mkl-support/21671/2

[2019-09-26 19:14] #299 closed

[2019-09-26 20:08] vgoklani opened #300 "Best way to calculate the MelSpectrogram on mini-batches"
From the documentation, it looks like the MelSpectrogram only operates on one waveform at a time. How do we run this on a mini-batch of data?  Thank you!

[2019-09-26 20:24] vgoklani commented on #147
why was this closed?

[2019-09-26 21:40] vincentqb commented on #147
Thanks for pointing this out: it should have remained open :)

[2019-09-27 15:25] vgoklani opened #301 "RuntimeError: Error(s) in loading state_dict - size mismatch for mel_spectrogram.mel_scale.fb: copying a param with shape torch.Size([1025, 128]) from checkpoint, the shape in current model is torch.Size([0])."
Not sure what's going on here, but I've submitted a code example:

	import torch
	import torchaudio

	class Example(torch.nn.Module):
		def __init__(self, time_seconds: int = 1, sr: int = 16000,
			n_mels: int = 2**7, n_fft: int = 2**11, top_db: int = 80):
			super().__init__()

			self._time_seconds = time_seconds
			self._sr = sr
			self._n_mels = n_mels
			self._n_fft = n_fft
			self._top_db =

[2019-09-27 19:42] engineerchuan commented on #301
Hi. Are you using the latest master?  We recently pushed some code related to filter bank.

[2019-09-27 19:49] vgoklani commented on #301
Hi @engineerchuan thanks for the response. I don't think it's that, but instead, related to https://github.com/pytorch/audio/issues/245

[2019-09-30 02:51] mlinxiang opened #302 "does audio lib has c++ interface, i want to use it for pytorch model online deployment?"
Does audio lib has C++ interface? I want to use it for pytorch model online deployment.

[2019-10-03 22:58] lorenlugosch commented on #97
Thanks @engineerchuan --- unfortunately now I get this error after `x,sr = effect.sox_build_flow_effects()`:

[code]

[2019-10-04 14:53] vincentqb commented on #300
Currently, batch can be down through loops. For reference: #147.

[2019-10-04 14:58] vincentqb commented on #301
Thanks for reporting this, and providing a code snippet! I can reproduce on the last release, but on master the issue has been fixed and I get `<All keys loaded successfully>`. I'll close this issue, but please feel free to re-open if this continues on master.

[2019-10-04 14:58] #301 closed

[2019-10-04 15:00] vincentqb commented on #302
Thanks for the request. We do not have an C++ interface. I'm closing this issue, but please feel free to ask further help on the forum as needed.

[2019-10-04 15:28] vincentqb commented on #97
On both the last release and master with python 3.7.4, this is successful
[code]
However, not this:
[code]

[2019-10-04 15:31] vincentqb commented on #97
I cannot reproduce the original issue. If this continue, please feel free to re-open or create new [issue](https://github.com/pytorch/audio/issues/new?template=bug-report.md). In any case, please provide copy and paste the output from our [environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py). You can get the script and run it with:
[co

[2019-10-04 15:38] lorenlugosch commented on #97
Hi @vincentqb, if you look at your first code block, `x.shape` is the same for both; it should be half in the second case. That was the original issue. The issue now is your second code block: using @engineerchuan 's workaround causes this error.

I'll try to use your script, though.

[2019-10-04 15:39] vincentqb commented on #97
Indeed, good point :)

[2019-10-04 15:50] vincentqb commented on #97
I at least don't get the segmentation fault when doubling the sample rate in the second part. This also reproduces the original code example.
[code]

[2019-10-09 17:55] ezyang opened #304 "Apply "Adopt native-Python code generation convention" to this repo"
https://github.com/pytorch/vision/pull/1321 wasn't applied to this repo

[2019-10-09 19:43] SethHWeidman opened #307 "import torchaudio causes error with latest version of PyTorch"
## 🐛 Bug

`import torchaudio` with latest version of PyTorch built from source causes error:

[code]

## Expected behavior

Nothing.

## Environment

[code]

[2019-10-10 14:53] vincentqb commented on #307
I confirm I can reproduce this
[code]

[2019-10-10 15:21] vincentqb commented on #307
I can reproduce this when compiling pytorch and torchaudio.
[code]

[2019-10-10 15:26] vincentqb commented on #307
I know @ezyang has been regenerating the binaries, so I'm waiting to see the output of pytorch/tutorials#687.

The error may be related to [this comment](https://github.com/pytorch/audio/pull/308#issuecomment-540639134)?

[2019-10-10 23:56] vincentqb commented on #307
Successful locally
[code]

[2019-10-11 00:33] vincentqb commented on #307
@SethHWeidman -- can you try the above on your laptop?

[2019-10-12 00:04] gully commented on #267
Here are some perspectives on timeseries from the astronomy data perspective.

The [astropy project](https://www.astropy.org/) had a discussion on tradeoffs surrounding a TimeSeries class for astronomical applications in their [ongoing Proposal for Enhancement](https://github.com/astropy/astropy-APEs/pull/12).  There are some subtle discussions distinguishing two types of time series:
- **sampled

[2019-10-15 00:28] yashnv opened #309 "GPU support for Interactive ASR example"
## 🐛 Bug

In the [Interactive ASR Run Section](https://github.com/pytorch/audio/tree/master/examples/interactive_asr#run) for the file and microphone examples to run, [source in utils.py](https://github.com/pytorch/audio/blob/master/examples/interactive_asr/utils.py#L107) needs to be changes to `source.cuda()` for GPU support.
However the testcase works well as it is, and gives error when `source`

[2019-10-16 19:25] vincentqb commented on #307
Linking [comment](https://github.com/pytorch/tutorials/pull/687#issuecomment-542843567) in pytorch/tutorials#687

[2019-10-18 08:40] by2101 opened #310 "Problems when using GPU"
When I use kaldi compliance lib, I found that if the wave is in GPU, much device mismatch exsits.
For example, when I use fbank function, it will report

Expected object of backend CUDA but got backend CPU for argument #2 'other'

It is caused by the functions in kaldi.py. Some newly constructed tensors are built on CPU.
I have fixed some. And we expect  an officially fix.

Thank you.

[2019-10-18 18:59] rfalcon100 commented on #310
I am getting a similar error when using ```transforms.MelSpectrogram``` and running on GPU. Maybe this is related?. This is from the release version 0.3.

[code]

And torchaudio version:
[code]

[2019-10-19 13:13] rfalcon100 commented on #310
I think I found a solution, based on [this](https://github.com/Cadene/pretrained-models.pytorch/issues/135#issuecomment-468702845) and #263.

In short, I created a `nn.Sequential` model/block with a few transforms, including `torchaudio.transforms.MelSpectrogram`.  But then, on my main code, I moved the input tensors to GPU but not this model.

To fix it, I added a `to.("cuda")`to the model, and n

[2019-10-22 12:38] by2101 commented on #310
I added some device checking codes in the .py files. For example,

log_energy = torch.max(strided_input.pow(2).sum(1), epsilon).log().to(strided_input.device)

I don't know whether pytorch optimize some functions on GPU, such as fft. If the codes are fast on GPU, I think it is better to put the model on GPU.

[2019-10-22 19:27] vincentqb commented on #260
VCTK depends on four transforms: gain, channels, rate, gain, dither. (Channels doesn't need its own transform, and its debatable for gain. We already have rate as `Resample`.)

From [here](https://github.com/pytorch/audio/blob/b8203182704c59303c62ccfd0a810b6e4060ba14/torchaudio/datasets/vctk.py#L45):
[code]

[2019-10-22 21:24] vincentqb commented on #260
sox uses biquad for other transforms too, see [bottom here](https://sourceforge.net/p/sox/code/ci/master/tree/src/biquads.c).

[2019-10-23 18:01] vincentqb commented on #310
Thanks for reporting this! Can you provide a minimal example to show the issue you are running into?

[2019-10-23 18:33] vincentqb commented on #307
As mentioned in #308, the new binaries need to be uploaded to pypi and conda. The former is done, but not the latter.

[2019-10-24 17:28] vincentqb commented on #307
Uploading the new version fixed the issue on my side. Please feel free to re-open if it is not fixed on yours.

[code]

[2019-10-24 17:28] #307 closed

[2019-10-25 18:26] vincentqb commented on #147
In the meantime, a workaround is to convert `(batch, channel, time)`-waveform into `(batch*channel, time)`-waveform, apply the transform, and then convert back.

[2019-10-25 18:26] vincentqb commented on #300
Closing, since this is a duplicate of #147.

[2019-10-25 18:26] #300 closed

[2019-10-25 22:46] mcollins42 opened #317 "Conflicts installing torchaudio-cpu through conda"
## 🐛 Bug

Installing torchaudio-cpu through conda (python 3.7) fails with conflicts.

## To Reproduce

Steps to reproduce the behavior:
1. start clean continuumio/anaconda3 container with docker.

`docker run --rm -i -t continuumio/anaconda3 /bin/bash`

2. Inside the container, attempt to install torchaudio-cpu

[code]

## Expected behavior

Expect torchaudio-cpu to install without conflicts and t

[2019-10-27 22:16] develooper1994 commented on #258
I am getting same error.

[2019-10-28 07:11] LeeYongHyeok opened #318 "formats: no handler for file extension 'mp4'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. python `3.7.3`
2. last version of `torchaudio`, `PyTorch`
3. load `mp4` format

## Expected behavior
`import torchaudio`
`data, sr = torchaudio.load('mp4File.mp4')`

`formats: no handler for file extension 'mp4'`
`Traceback (most recent call last):`

## Environment

 - What commands did you used to install torchaudio (conda/pip/build

[2019-10-28 07:25] faroit commented on #318
sox does not support mp4 files

[2019-10-28 07:41] LeeYongHyeok commented on #318
but in README, I can find torchaudio supports `aiff, au, amr, mp2, mp4, ac3, avi, wmv,` extension.

[2019-10-28 18:55] vincentqb commented on #317
Thanks for pointing this out. I can reproduce this on linux:
[code]

The new build for `torchaudio-cpu` needs to be published [here](https://anaconda.org/pytorch/repo), #308.

[2019-10-28 19:04] vincentqb commented on #317
But `pytorch-cpu` has not been updated either.

[2019-10-28 19:16] vincentqb commented on #317
I see that @ezyang uploaded the last torchaudio-cpu, and @soumith uploaded the last pytorch-cpu.

@ezyang -- Do you have the instructions for the conda binary package for cpu only?

[2019-10-28 19:19] mcollins42 commented on #317
I'm not sure if it's relevant, but the PyTorch getting started page lists two different conda commands for installing CPU-only. The one under [start locally](https://pytorch.org/get-started/locally/#start-locally) is:

`conda install pytorch torchvision cpuonly -c pytorch`

While the one further down the page under [Anaconda/No CUDA](https://pytorch.org/get-started/locally/#no-cuda) is:

`conda in

[2019-10-28 22:05] soumith commented on #317
the `start locally` is the correct one. I'll work on removing the Anaconda / No CUDA ones, they are outdated.

[2019-10-29 00:29] soumith commented on #317
fixed via https://github.com/pytorch/pytorch.github.io/commit/667f3d966ce937c3aed480bd35bfd8e7da9f39e5

[2019-10-29 00:29] #317 closed

[2019-10-29 01:38] soumith commented on #318
the `sox` that you installed should support all relevant codecs. sometimes `sox` does not get installed with all codecs. We should change README i think

[2019-10-29 04:12] mcollins42 commented on #317
For clarification on the torchaudio side, if I add torchaudio to the correct install line for pytorch No CUDA, will the version of torchaudio be appropriate for a No CUDA environment?  This is what a dry run of the conda install says. pytorch and torchvision indicate that the CPU versions will be installed, torchaudio doesn't have any clear indication.

[code]

[2019-10-29 17:43] vincentqb commented on #318
The README currently says "Load the following formats into a torch Tensor using sox".

@LeeYongHyeok -- please feel free to open a pull request and suggest a phrasing that would clarify this.

[2019-10-30 05:43] #318 closed

[2019-10-30 13:56] #257 closed

[2019-10-31 22:05] mcollins42 commented on #317
@ezyang Can you confirm that torchaudio-cpu is no longer needed/supported and the regular torchaudio package is appropriate for No CUDA environments?

[2019-10-31 22:10] vincentqb opened #325 "mfcc not in torchaudio.compliance.kaldi"
## 🐛 Bug

When installing using conda:
[code]

The error does not occur when building from source.

## Environment

From conda:
[code]

From source:
[code]

[2019-10-31 22:15] vincentqb commented on #325
From binaries:
[code]

From source:
[code]

[2019-11-01 14:07] ezyang commented on #317
Yes, the regular torchaudio should work with both CPU and CUDA builds of PyTorch. If this is not the case, please let us know.

[2019-11-04 12:15] FeliMe commented on #239
I have the same issue with:

Python 3.5.2
CUDA Version: 10.1
torch==1.3.0,
torchaudio=0.3.1

`$ python3
Python 3.5.2 (default, Jul 10 2019, 11:58:48)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

'1.3.0'

True

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/meissen/venv/lib/python3.5/site-packages/torch

[2019-11-04 21:45] vincentqb commented on #325
[This](https://github.com/pytorch/audio/pull/308#issuecomment-546020394) is how the conda binaries were made.

[2019-11-04 21:53] vincentqb commented on #325
Indeed, "torchaudio.compliance.kaldi" in [0.3.1](https://anaconda.org/pytorch/torchaudio/files) does not have mfcc included.

[2019-11-04 22:01] vincentqb commented on #325
This also happens when using pip:
[code]

[2019-11-04 22:07] vincentqb commented on #325
CC @ezyang

[2019-11-04 23:27] mravanelli commented on #325
Thank you!
I had the same problem with MFCC implemented in torchaudio/transforms.py. Did you solve the problem as well?

Best,

Mirco

[2019-11-04 23:50] mravanelli opened #328 "Problems with Kaldi MFCCs"
Hi,
thank you very much for this very useful project.

I started doing some speech recognition experiments with the MFCC features implemented in torchaudio. In particular, I tried the librosa ones implemented in torchaudio/transorms.py and the kaldi-ones implemented in torchaudio/compliance/kaldi.py.

- The librosa features are computed very efficiently and I can achieve results similar to that of

[2019-11-05 10:44] SamG97 opened #329 "Inconsistent length between info() and load() for MP3 files"
## 🐛 Bug

For single channel MP3 files, the length returned when calling torchaudio.info() is slightly longer than torchaudio.load(). For files with a sample rate of 16KHz the length provided by info is always 576 longer and for a sample rate of 48KHz the length is 1152 longer.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The above code should output identical

[2019-11-05 14:24] ezyang commented on #325
I don't see what the problem is. 0.3.1 branch doesn't have mfcc in torchaudio.compliance.kaldi (https://github.com/pytorch/audio/blob/master/torchaudio/compliance/kaldi.py). If you want this feature in 0.3 series you'll have to backport the patch. Kaldi mfcc was added in a450cf81c11d206983f209586f38db06e8df2801 (Aug 16), branch cut for 0.3.0 was Jul 30.

[2019-11-05 15:37] vincentqb commented on #325
Indeed. I was convinced it had been part of the release. Thanks! I'm closing this issue then.

[2019-11-05 15:37] #325 closed

[2019-11-06 17:23] vincentqb commented on #328
Thanks for the input!

If I understand, you are comparing four versions of mfcc:
1. mfcc from `torchaudio/transforms.py`
1. mfcc from librosa
1. mfcc from `torchaudio/compliance/kaldi.py`
1. mfcc from kaldi

You are saying that
* 1 and 4 are performing well and agree,
* 3 does not converge and is very different from 4.
Is that correct?

Do you have a minimal code I could take a look at ?

[2019-11-06 17:51] vincentqb commented on #329
Thanks for reporting. Can you provide an example file and a minimal code? I cannot reproduce.

With [this file](https://github.com/pytorch/audio/blob/master/test/assets/whitenoise_1min.mp3):
[code]

With [this file](https://github.com/pytorch/audio/blob/master/test/assets/commonvoice/clips/common_voice_tt_00000000.mp3) from CommonVoice:
[code]

[2019-11-06 18:05] yjw123456 opened #332 "The spectrogram computed by "torchaudio.compliance.kaldi.spectrogram" and "compute-spectrogram-feats" are different"
Dear Sir or Madam,

I compared the spectrogram generated by "torchaudio.compliance.kaldi.spectrogram" and "compute-spectrogram-feats" using default settings,  however the outputs are different.

# The code for torchaudio is:
wav, sample_rate = torchaudio.load('wav/1.wav')

spectrum=torchaudio.compliance.kaldi.spectrogram(wav, blackman_coeff=0.42, channel=-1, dither=1.0, energy_floor=0.0, frame_len

[2019-11-07 10:34] SamG97 commented on #329
That file behaves correctly for me but every file in the train set from the EN version of Common Voice doesn't work. Here's an example to avoid having to download the entire ~30GB dataset.
[common_voice_en_100000.zip](https://github.com/pytorch/audio/files/3819087/common_voice_en_100000.zip)

For this file, running the same script as before gives:
[code]

[2019-11-07 16:17] vincentqb commented on #329
I can reproduce with this file.

[code]

[2019-11-07 17:02] vincentqb commented on #329
The backend of torchaudio uses sox's load and info libraries. The discrepancy is coming from there.

The number of samples reported by sox is the same as that of the waveform.
[code]
The number of samples reported by soxi is the same as that of info.
[code]

[2019-11-10 00:31] mravanelli opened #336 "Problems with compute_deltas"
Hi,
I found some weird behaviour in the compute_deltas function when adding multiple channels. I'm not sure it is a bug, maybe I just expect this function to work in a way different to the actual one.
As you can see from the minimal example below, the derivatives are different when I switch from 1 to 2 channels. I think the channels should be processed independently, while here there is a kind of

[2019-11-12 00:39] vincentqb commented on #329
Since this is an upstream issue, I will close this. Please feel free to re-open.

[2019-11-12 00:39] #329 closed

[2019-11-12 20:42] vadimkantorov opened #338 "pip install forces install of old torch 1.3.0"
I have torch 1.3.1 installed

`pip install torchaudio -f https://download.pytorch.org/whl/torch_stable.html` forces collecting of torch 1.3.0 even though a newer version is installed

This is an official installation way from README. If pip is mis-behaving, maybe a conda install should be recommended too

[2019-11-13 05:54] wuqiangch commented on #332
@yjw123456 I have the same problem.

[2019-11-13 06:01] wuqiangch commented on #332
@yjw123456 I have the same problem.

[2019-11-17 00:55] calclavia commented on #98
I'm able to replicate this same issue. Is it a documentation issue or a bug in the code?

[2019-11-18 16:44] vincentqb commented on #338
Thanks for pointing this out. I can replicate.

[2019-11-18 16:50] vincentqb commented on #336
Thanks for pointing this out! This will be fixed as part of #337.

[2019-11-18 22:12] vincentqb commented on #332
The parameter given for `sample_frequency` to `torchaudio.compliance.kaldi.spectrogram` must be the sample rate for the audio file, `sample_rate`. Can you confirm that `sample_rate` is 16000 ?

Can you provide the whole code for kaldi so I can reproduce?

Here's an [audio file](https://github.com/pytorch/audio/blob/master/test/assets/440Hz_44100Hz_16bit_05sec.wav) to try with.

[2019-11-18 22:17] vincentqb commented on #338
#308

[2019-11-18 22:19] vadimkantorov commented on #338
Is it technically possible to make it so that torchaudio has greater-or-equals dependency on torch version? so that this doesn't bite again

[2019-11-18 22:21] vincentqb commented on #338
cc @ezyang

[2019-11-18 22:25] vincentqb commented on #338
We'll need to update the `requirements.txt` file :) https://github.com/pytorch/audio/blob/master/requirements.txt

[2019-11-18 22:35] vadimkantorov commented on #338
There is also maybe a potential problem with libtorch / binary compat if torchaudio is installed from a binary package. In that case exact major version match can be important, but then this should be clearly explained in README (e.g. I had to do `pip install git+https://... --no-deps`)

[2019-11-18 22:41] vincentqb commented on #338
For reference:

[code]

[2019-11-18 22:52] vincentqb commented on #309
Thanks for reporting this! Please feel free to submit a pull request for this :)

[2019-11-18 22:57] vincentqb commented on #287
Thanks for pointing this out :) Do we have a comparison with kaldi for this graph?

[2019-11-18 22:58] vincentqb commented on #287
I can still reproduce this PR after #292.

[2019-11-18 23:01] vincentqb commented on #287
This would be breaking backward compatibility of course, so we'd need strong demand to change this.

* Is there a simple way to convert from one to the other as a post-processing?
* I'd be open to having an option to switch too. Please feel free to open a pull request for this :)

[2019-11-18 23:03] #336 closed

[2019-11-19 15:52] ezyang commented on #338
@vincentqb did you do a point release of torchaudio when torch 1.3.1 was released? This needs to be done.

[2019-11-19 20:10] jongwook commented on #287
To answer the first, I was able to convert from one to the other by adding a linear function of Mel frequency, with minimal numerical differences.

I haven't used Kaldi, but I agree that breaking backward compatibility is a bad idea. I think it'd still be helpful to the community if we can make the output exactly match librosa's outputs, as it is very popular for Music processing in Python, and [a

[2019-11-19 20:32] vincentqb commented on #338
Indeed, the last point release for torchaudio was 0.3.1 and was done when pytorch 1.3.0 was released, not 1.3.1.

[2019-11-19 20:48] vincentqb commented on #287
If this is a general transformation that can be used elsewhere, it could be a solution. Otherwise, offering a toggle/switch is more appropriate.

Thanks! That would be great :)

[2019-11-21 22:15] #165 closed

[2019-11-24 02:17] huckiyang commented on #121
if you use conda and open to degrade, this works to me.
`conda install pytorch==1.1.0 torchvision==0.3.0 cudatoolkit=10.0 torchaudio=0.2.0 -c pytorch`

[2019-11-24 03:17] eely22 commented on #295
I am also seeing this error. I am trying to run the pytorch DeepSpeech2 project here: https://github.com/SeanNaren/deepspeech.pytorch

I am running this on an AWS EC2 g4dn.xlarge machine. I installed the nvidia drivers on the host and then followed the steps to install nvidia-docker here: https://github.com/NVIDIA/nvidia-docker

I then try and build the deepspeech docker file, which installs pytor

[2019-11-25 11:13] jaeyeun97 opened #351 "Reverse MelScale, Griffin-Lim transformation"
## 🚀 Feature

I have implemented PyTorch versions of `librosa`'s ` mel_to_stft` and `griffinlim`, which I believe would be useful for any generation task using mel-spectrograms. You can see it as a part of my Melnet implementation here: https://github.com/jaeyeun97/MelNet/blob/master/audio.py. While it currently does not conform to the standards of this repo with a little touch here and there I th

[2019-11-26 07:58] jafarOlamide opened #356 "INSTALLATION ON COLAB"
Hello, I am trying to install torchaudio on colab and I have the following errors,  what could have gone wrong

[code]

I used the following code:
`!pip install git+git://github.com/pytorch/audio`
after installing all dependencies on colab.
Thanks

[2019-11-26 15:47] maximecb opened #357 "torchaudio.load() with mp3 file floods the console"
Loading mp3 files with torchaudio.load() causes a lot of output in the console, eg:

[code]

I'm on ubuntu 18.04 and using torchaudio 0.3.1. I would like to know if there is a known fix to quiet the console logging. If not, such a fix should probably be implemented.

[2019-11-27 07:24] yjw123456 commented on #332
Hi, vincentqb,

Sorry for the late reply.

I found the answer of this problem.
The waveform loaded by torchaudio is transformed into float type. While kaldi  directly uses integers to calculate the spectrogram.

So if I do:
wav, sample_rate = torchaudio.load('tmp.wav')
wav = wav*2**15
Then the outputs will be exactly the same.

The whole code in kaldi is:
compute-spectrogram-feats  --blackman_coef

[2019-11-27 16:58] vincentqb commented on #357
Can you provide steps to reproduce this, with a sample file (or say [this one](https://github.com/pytorch/audio/blob/master/test/assets/whitenoise_1min.mp3))?

[2019-11-27 17:26] maximecb commented on #357
Not able to reproduce it with the file you provided, but I can reproduce it with this mp3:
 http://www.mixotic.site/mixes/050_-_DJ_Kirill_Sergeew_-_Modern_Classiques_Vol_3/Mixotic_050_-_DJ_Kirill_Sergeew_-_Modern_Classiques_Vol_3_2006-09-25.mp3

When loading from an offset:

[code]

Running the script produces unwanted console output:
[code]

This may not seem that bad, but if you're loading chunk

[2019-11-27 22:52] vincentqb commented on #357
Something is misread with this audio file using sox. In particular, it is not being read properly in between 63000 and 64000.

[code]

We are discussing an option to change backend, see #355.

[2019-11-29 10:55] Oktai15 commented on #302
@vincentqb what about  certain functions? https://discuss.pytorch.org/t/torchaudio-load-in-c/62400

[2019-11-30 00:47] Oktai15 opened #358 "torchaudio.load() doesn't work on simple ogg example"
## 🐛 Bug

torchaudio.load() doesn't work on simple ogg example from `librosa`

## To Reproduce

[code]

## Expected and real behavior

Should be successful loaded, but I got the following error:

[code]

In the same time, everything is okay with `librosa`:
[code]
## Environment

 - What commands did you used to install torchaudio? conda
 - What does `torchaudio.__version__` print? 0.3.0+120f693

[2019-11-30 08:49] Oktai15 commented on #358
Related with another problem.

[2019-11-30 08:49] #358 closed

[2019-12-02 18:54] maximecb commented on #351
This would be useful to me :+1:

[2019-12-03 20:07] vincentqb commented on #351
Yes, that sounds like good additions. Please feel free to open pull requests.

[2019-12-04 01:46] momag commented on #338
I am still having this issue. Brand new install on a laptop of ubuntu 19; anaconda, pytorch-gpu installed without issue; gpu is nvidia rtx2080 and works without issue. Attempt to

conda install -c pytorch torchaudio
leads me to

The following packages will be DOWNGRADED:

  pytorch-gpu                                       1.3.1-0 --> 1.2.0-0

Where do I install from without downgrading my prior t

[2019-12-04 01:57] vadimkantorov commented on #338
A workaround is to install from sources with —no-deps...

[2019-12-04 05:39] akalmbach commented on #356
FWIW if you can live with what's in pypi `!pip install torchaudio` seems to work. If you need something from master I can confirm I see this error as well.

[2019-12-07 11:42] keunwoochoi commented on #287
+1 for this!

[2019-12-09 05:56] HsunGong commented on #263
The results in `torchaudio.transform` remain the same, however, results in `torchaudio.compliance.kaldi` changes after different executions. The problem is due to https://github.com/pytorch/audio/issues/263#issue-488758214

[2019-12-09 05:59] HsunGong commented on #263
https://github.com/pytorch/audio/pull/228#issue-306506253 maybe have some problems.

[2019-12-09 06:00] HsunGong commented on #328
Quote to similar question https://github.com/pytorch/audio/issues/263#issue-488758214

[2019-12-09 06:16] HsunGong commented on #328
Here is my example of `3` and `4`:

[code]

[code]

**Kaldi** are tensor `1`
**torch.kaldi** are tensor `2`
**torch.kaldi again** are tensor `3`

All different

[2019-12-09 12:50] HsunGong commented on #263
[code]

Find out: if set `dither == 0.`, then the results fixed.

Comment closed!

[2019-12-10 05:18] aiscientist opened #363 "What would be the alternative of torchaudio.transforms.DownmixMono() module?"
## ❓ Questions and Help

Hi, I am curious about **torchaudio.transforms.DownmixMono()** features which is not available in a current version of application.

What would be the reason this feature is disappeared? Or Is there a alternative module that makes stereo channels to mono channel?

Thanks

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a s

[2019-12-11 16:28] jaeyeun97 commented on #351
Cool, had a look into the test codes--I'll open a pull request soon.

[2019-12-13 14:45] jaeyeun97 commented on #351
@vincentqb Would you like these as separate pull requests or as one?

[2019-12-13 17:01] vincentqb commented on #351
I usually separate, but please do what's convenient for you for this :)

[2019-12-14 00:24] vincentqb commented on #363
As mentioned in the [release notes](https://github.com/pytorch/audio/releases), we removed DownmixMono since we can simply use `torch.mean` instead.

[2019-12-14 00:24] #363 closed

[2019-12-14 01:05] vincentqb commented on #356
The command `pip install git+git://github.com/pytorch/audio` fails on mac. This is not currently supported.

Since I am able to install on colab using `!pip install torchaudio`, I will close this issue. Please feel free to re-open if you do need master instead of the latest release.

[2019-12-14 01:05] #356 closed

[2019-12-15 17:12] mahmoodn commented on #157
@vincentqb
Can you upload the wav file again. I can not find it. The link is broken.

[2019-12-16 17:36] emil2099 commented on #239
Hi @jamarshon - not sure if you investigated this at all?

Reporting the same issue as @FeliMe, everything installed with virtualenv in a fresh environment:

Ubuntu 16.04 LTS
Python==3.5.2
CUDA==10.2
torch==1.3.0
torchaudio=0.3.1

[2019-12-17 16:56] vincentqb commented on #157
The file can still be accessed [here](https://raw.githubusercontent.com/vincentqb/audio-tutorial/90371e6ab64ad04f1930fa079a816630145c89d2/assets/steam-train-whistle-daniel_simon-converted-from-mp3.wav).

[2019-12-18 08:59] Oktai15 opened #371 "Dithering constant"
Why do `torchaudio.compliance.kaldi.fbank` and `torchaudio.compliance.kaldi.spectrogram` have so large `dither` default parameter (=1.0)? It very often just noises full output.

It's common to use dither around 0, e.g 0.00001 in QuartzNet, Jasper -- near to SOTA ASR models (https://github.com/NVIDIA/NeMo/blob/master/examples/asr/configs/quartznet15x5.yaml).

I want to notice that even in torchaudi

[2019-12-19 20:28] HsunGong opened #375 "CUDA used error in transform.MFCC()"
## 🐛 Bug

  File
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

Shown as above.
MFCC only available on CPU.

## Environment

conda-py37
[code]

[2019-12-23 16:36] vincentqb commented on #371
Can you provide an example of code with noisy output using default value?

Can you provide Kaldi's or other software's default value?

[2019-12-23 18:58] vincentqb commented on #375
Thanks for reporting this. This should have been fixed on master with #369. Please feel free to re-open if this still happens.

[2019-12-23 18:58] #375 closed

[2019-12-23 19:03] vincentqb commented on #310
Feel free to open a pull request to suggest those changes. Thanks!

[2019-12-23 19:08] vincentqb commented on #50
@peterjc123 -- Following #355, torchaudio now loads sox lazily only when used, and the backend can be switched to libsndfile. Would that help building a version of torchaudio without sox and relying only on libsndfile instead?

[2019-12-23 21:50] Oktai15 commented on #371
About example: as I already mentioned, check this your issue https://github.com/pytorch/audio/issues/157

[2019-12-24 03:13] peterjc123 commented on #50
I'll try when I have time.

[2019-12-26 14:59] vincentqb commented on #157
For reference, this is enough to produce reasonable spectrogram.
[code]

[2019-12-26 15:01] vincentqb commented on #371
Thanks for pointing this out. Yes, I agree. Let's use `dither=0.` as default then, unless we have a stronger contender.

[2019-12-27 15:03] vincentqb commented on #328
Have you tried setting `dither=0.` in mfcc's call? See #371.

[2019-12-27 15:10] vincentqb commented on #371
Addresses part of #263

[2019-12-27 15:17] vincentqb commented on #147
Fixed with #337

[2019-12-27 15:17] #147 closed

[2019-12-27 15:18] vincentqb commented on #50
For reference pytorch/pytorch#24859

[2019-12-27 18:22] rvdmaazen opened #379 "Out of memory error when using torchaudio.transforms.MelSpectrogram"
## 🐛 Bug

I am trying to train a pytorch model on audio samples using Google Colab, to load these samples I am using the following dataloader:

[code]

When training my model the amount of RAM used stays constant at the start, however after around 120 batches starts to suddenly increase. This continues to around 170 batches, after which memory usage is at 100% and Google Colab crashes/disconnects

[2019-12-27 19:41] kostmo opened #381 "Ceiling of integer division (Python 2 compatibility)"
In the `_compute_nccf` function, there are two computations which take `math.ceil` of the result of an integer division.  It seems that either the `math.ceil` function is unnecessary, or the division should be performed on floating point arguments (which in Python 2 is not necessarily the case with the single-slash (`/`) division operator.

[Here](https://github.com/pytorch/audio/blob/805d7922e012

[2019-12-27 20:39] kostmo opened #382 "Avoid intermittent test failures with manual_seed()"
My [Travis tests failed](https://travis-ci.org/pytorch/audio/jobs/630111792?utm_medium=notification&utm_source=github_status) for reasons ostensibly not related to [my code change](https://github.com/pytorch/audio/pull/378):
[code]

Adding calls to `manual_seed()` in `test_functional.py` should make these tests deterministic, no?

[2019-12-27 22:46] #304 closed

[2019-12-29 18:03] keunwoochoi opened #383 "Is batching-for-transform done?"
Hi, I assumed it's done by #337 (which is great!), but at least `transforms.MFCC` is not. What's the current state?
Also related, the docstrings of `transforms` need to be updated. The current version reads like it only deals with a single audio signal.

[2019-12-29 18:11] keunwoochoi opened #384 "Why n_fft=400 by default in Transforms?"
In `MelSpectrogram`, `Spectrogram`, `GriffinLim`, `n_fft` defaults to 400. Is there a reason for not setting it with a power of 2?

[2019-12-29 18:33] faroit commented on #384
I guess this is coming from old days of speech processing where the sample rate is 8kHz and 50ms are considered to be a good window size. Since 512 is a
lso common, changing the default could indeed make sense...

[2019-12-30 22:44] vincentqb commented on #383
Thanks for pointing this out. The intention is to have all supported, and so MFCC should indeed be updated. Let me know if you notice another one that doesn't support it.

Which docstring is not updated?

[2019-12-31 01:25] kostmo commented on #382
Identical failure observed in this build: https://travis-ci.org/pytorch/audio/jobs/631146315

Given that I've observed this error at least twice over just a handful of CI runs, this seems like a pretty flaky test.

[2019-12-31 01:30] kostmo opened #387 "Fix Python 2 Travis builds"
The [last release supporting Python 2](https://github.com/pytorch/audio/pull/380#pullrequestreview-336862170) is coming soon, but it would be nice to finish off with fully-green builds.  PR #380 fixed a number of Python 2 build bugs, and the last issue remaining is [compatibility with `subTest()`](https://python.readthedocs.io/en/latest/library/unittest.html#unittest.TestCase.subTest).

[2019-12-31 12:49] keunwoochoi commented on #383
Sorry I didn't make it clear - The docstrings of `functionals` are updated for example
[code]
, but the corresponding `transforms` are not, for example, [here](https://github.com/pytorch/audio/blob/master/torchaudio/transforms.py#L65),
[code]

[2019-12-31 13:02] keunwoochoi opened #389 "'Power' in spectrogram"
In `functional.spectrogram`, the docstring says
[code]
which is implemented as ([link](https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L268))
[code]

If I'm not missing something, I think the right implementation is i) convert complex to magnitude ii) then apply the power on it, i.e.,
[code]

Or equivalently, using `complex_norm`..
[code]

Any thought?

[2020-01-02 16:17] #382 closed

[2020-01-02 16:19] #387 closed

[2020-01-02 18:39] vincentqb commented on #381
Can you clarify which command in `_compute_nccf` would behave differently in python 2?

PS. [Here](https://github.com/vincentqb/audio-tutorial/blob/master/pitch.ipynb)'s a notebook to experiment with this.

[2020-01-02 19:17] vincentqb commented on #379
Thanks for reporting this. Can you try running the `spectrogram` functional directly without passing by the transform and see if this still happens?

[2020-01-02 19:56] vincentqb commented on #389
`Spectrogram` is meant to be consistent with librosa, e.g. [docstring](https://librosa.github.io/librosa/generated/librosa.feature.melspectrogram.html#librosa.feature.melspectrogram), [internal test](https://github.com/pytorch/audio/blob/master/test/test_transforms.py#L223). However, the librosa implementation indeed uses `numpy.abs` which is our `complex_norm` as you mention.

Thanks for reportin

[2020-01-02 20:33] vincentqb commented on #384
The current value has been around for a while, and hasn't changed since this would be BC-breaking. I'd be ok changing it, if there is a strong reason to do so. Thoughts?

[2020-01-02 20:58] kostmo commented on #381
OK, I have disproved my theory of the "empirical calibration offset" being obsolete with Python 3/floating-point-division-inside-ceil.  Removing the `+1` calibration offset, even with floating point division, causes the tests to fail.

[2020-01-02 21:37] vincentqb commented on #381
Thanks for investigating! Based on your response, I will close this issue.

[2020-01-02 21:37] #381 closed

[2020-01-02 23:06] keunwoochoi commented on #384
I see. I have no benchmark data, but thought the backed fft operation could be more efficient with `n_fft=2**N. But I don't have a strong opinion now - after googling I realized non-power-of-two fft could be efficient too :)

[2020-01-02 23:06] keunwoochoi commented on #389
thanks!

[2020-01-02 23:07] keunwoochoi commented on #383
how could you fix everything in one day? 👍👍

[2020-01-03 16:49] vincentqb commented on #384
Quick run, and I don't see significant differences :)

[code]

[2020-01-03 18:58] rvdmaazen commented on #379
Running the spectrogram functional (`torchaudio.functional.spectrogram`) directly does not increase the amount of memory used. Analyzing it further, the issue seems related to jit since removing `torch.jit.ScriptModule` and `@torch.jit.script_method` from the (mel)spectrogram class and using this custom class to generate the spectrogram stops the increase in memory used.

The issue should be fixed

[2020-01-03 20:27] vincentqb commented on #379
This may be worth opening an issue on pytorch. In particular, could this be related to pytorch/pytorch#30049?

Glad to know this will be fixed with the upcoming releases :) I will close this issue then.

[2020-01-03 20:27] #379 closed

[2020-01-03 20:33] vincentqb commented on #384
I will close this issue for now. Please feel free to re-open if there are more elements you would like to add to the discussion :)

[2020-01-03 20:33] #384 closed

[2020-01-10 15:28] jooan84 opened #400 "Fbank features are different from Kaldi Fbank"
## 🐛 Bug

The output of the fbank feature calculations differs from that of kaldi.

## To Reproduce

Steps to reproduce the behavior:

using the following or even the defaults parameters:
[code]

produce this output:
[code]

with compute_fbank_feats of Kaldi
[code]

[2020-01-13 16:34] #389 closed

[2020-01-13 16:58] vincentqb commented on #400
* Can you provide the kaldi command you used?
* Can you provide a sample file so we can reproduce?
* Note that you are using `dither=1.0` which adds dither.
* See also #332.

[2020-01-13 20:38] #383 closed

[2020-01-14 02:37] xipi702 commented on #49
Hi, I think in the new version(torch 1.3.1), this problem still exists, env(ubuntu18.04, x86, cuda10.1,python3.6), use pip3 install. I also check the installed directory(~/.local/lib/python3.6/site-packages/torch/utils/), there is no cpp_extension, does anyone know how to solve it ?

[2020-01-14 02:43] xipi702 commented on #49
Could you reopen this issue? I still have trouble with it.

[2020-01-14 03:16] xipi702 commented on #49
Hi, I think in the new version(torch 1.3.1), this problem still exists, env(ubuntu18.04, x86, cuda10.1,python3.6), use pip3 install. I also check the installed directory(~/.local/lib/python3.6/site-packages/torch/utils/), there is a cpp_extension.py, does anyone know how to solve it ?

[2020-01-14 08:57] DenisYarullin opened #405 "TorchScript format"
If I have pytorch model which use torchaudio. Then I want to save model to TorchScript. Can I load that TorchScript model in C++?

[2020-01-14 19:11] dkashkin opened #408 "torchaudio mobile?"
## 🚀 Feature
torchaudio should work on Android and iOS platforms

## Motivation

Mobile apps need a fast way to preprocess audio (i.e. generate spectrograms).

## Pitch

I would love to see a lightweight interface that provides access to all torchaudio functions from Java and ObjectiveC. Heavy logic like FFT should be optimized for performance (i.e. pushed to GPU whenever available).

## Alternati

[2020-01-14 22:20] LearnedVector commented on #239
Same issue. Can we keep this open? Seems to not work in a non conda environment

[2020-01-16 16:37] vincentqb commented on #405
Yes, you can, see [tutorial](https://pytorch.org/tutorials/advanced/cpp_export.html) :) I'll close this issue, but if this doesn't answer it, please feel free to re-open or use the [forum](https://discuss.pytorch.org/).

[2020-01-16 16:37] #405 closed

[2020-01-16 16:40] vincentqb commented on #408
Transforms and functionals are now jitable. Have you tried exporting your model using jit and then importing on mobile? see [mobile page](https://pytorch.org/mobile/home/) Is that what you are trying to do?

[2020-01-16 18:50] dkashkin commented on #408
Wow this sounds great! I have not noticed this in the docs and assumed that heavy stuff like FFT is not supported yet. I'll test it out over the next couple of days and share my results here.

[2020-01-16 21:36] haideraltahan opened #416 "[Feature] RandomCrop for Audio"
## 🚀 Feature
Similar to RandomCrop in torchvision but implemented for audio.

## Motivation
Often we have a model with fixed input but the dataset has variable audio length. One approach to remedy this problem would be to randomly crop the audio to a fixed length. Thereby, allowing us to feed to our model. I would've used RandomCrop in torchvision, however, it only takes PIL Image instead of a Ten

[2020-01-17 16:44] vincentqb commented on #416
Thanks for bringing this up! This may be relevant to pytorch/vision#1375 for torchvision to migrate away from PIL. Let's see if they have interest in having something like this. @fmassa

We had removed deterministic pad and trim since they already existed in pytorch, see #160. This is slightly different since it also adds randomness.

Opening an issue is usually a good idea, since this allows you

[2020-01-17 18:10] haideraltahan commented on #416
Thank you, in #403 I have utilized the pytorch version of pad.

[2020-01-17 18:34] haideraltahan opened #418 "[Feature] batch save audio util function"
## 🚀 Feature

Save a given batch of tensors into audio files.

## Motivation

For a util high-level function, it would be useful to have a function that can save sampled audio tensor from a model into an audio file(s). Similar to [torchvision](https://pytorch.org/docs/stable/torchvision/utils.html), save_image util function.

## Pitch

I often work with generative models that generate audio. Acros

[2020-01-17 21:00] dkashkin commented on #408
@vincentqb I just traced the simplest possible module (with just a single torchaudio.transforms.MelSpectrogram) and attempted to run it in the demo app (github.com/pytorch/android-demo-app with org.pytorch:pytorch_android:1.4.0.1).
Unfortunately, the forward method crashes on Android:
[code]
Can you please confirm whether pytorch mobile runtime is indeed supposed to support the STFT transform?

[2020-01-17 21:28] vincentqb commented on #408
Indeed, fft is not currently supported on pytorch mobile, as mentioned [here](https://github.com/pytorch/pytorch/issues/29796#issuecomment-554567624).

[2020-01-17 21:38] dkashkin commented on #408
Ouch :( Do you think this will resolved soon? If not, I would highly recommend improving the PyTorch Mobile documentation to specify which transforms are supported versus not. Also, I hope this feature request will stay open until all torchaudio features start working on mobile.

[2020-01-17 21:54] nairbv commented on #267
For non-audio applications (e.g. in finance) I could imagine a number of useful features/functions.

I'm not familiar with audio time series requirements, but similar to what @gully describes above, there are a number of ways time series of financial data can be represented that may be broadly applicable:

* In raw trade or tick data, each data point discretely represents a trade or price change.

[2020-01-21 16:47] vincentqb commented on #408
@dreiss @supriyar -- do you have some information to share about the functions that are supported within mobile, or the ones that would welcome contributions from the community?

[2020-01-21 17:46] vincentqb commented on #418
Can you elaborate on how this differs from `torchaudio.save`? see [here](https://pytorch.org/audio/#torchaudio.save)

[2020-01-21 18:17] haideraltahan commented on #418
I apologize, I was not aware of such a function. However, we could improve on it by incorporating batch Tensors into a folder.

[2020-01-21 18:25] vincentqb commented on #418
This could be interesting to have. I will flag this as shared dataset functionality to discuss in the context of pytorch/pytorch#24915.

[2020-01-21 18:43] haideraltahan commented on #418
Further, we could also have an option to save all batches in one audio file, going sequentially from first to the last batch.

[2020-01-21 19:25] haideraltahan commented on #260
`repeat` ([Pad with replicate option](https://pytorch.org/docs/stable/nn.functional.html?highlight=pad#torch.nn.functional.pad)) can be done with current PyTorch operation?

[2020-01-21 20:24] vincentqb commented on #260
Indeed, it could even be done with `tensor.repeat`.

[2020-01-21 21:02] vincentqb commented on #31
@jacobkahn for [libri-light](https://github.com/facebookresearch/libri-light)

[2020-01-22 19:13] vincentqb commented on #42
This is closed by #394. If this still happens, please feel free to re-open.

[2020-01-24 19:23] vincentqb commented on #250
Closed by #389

[2020-01-24 19:23] #250 closed

[2020-01-24 19:24] vincentqb commented on #250
#250

[2020-01-29 15:45] ye2020 commented on #408
I'am working on an iOS project and hitting this error:

[code]

Although Apple has the `vDSP` framework could do this kind of processing, I would like to stick to the torch solution due to the simplicity and consistency.

I hope we could have `fft` support in mobile since it's a very basic building block in audio processing and would be needed in many speech related models.

[2020-01-29 18:26] dreiss commented on #408
We enable every forward CPU op on mobile.  I think the issue here is that this particular op doesn't have a portable implementation.  We would be interested in a PR added one.  Another option would be to do the fft before feeding the data to your model.

[2020-01-29 19:07] vincentqb commented on #408
Is there a PR we could link to indicating which operations we would welcome contributions for?

[2020-01-29 19:33] dreiss commented on #408
I don't have a list because we haven't tested out every niche op, but if there is any op that doesn't have a non-Intel implementation, I'd be open to seeing a PR.

[2020-01-30 00:22] PCerles commented on #408
+1 on this, would be great to have fft on iOS for on-device speech processing.

[2020-02-01 22:09] jacobkahn commented on #31
Regarding Libri-Light, redistribution is fine. We can conceivably host a compatible version in the same place where we host the existing dataset (S3) if that's needed.

cc @eugene-kharitonov @Molugan for PyTorch loaders for Libri-Light.

[2020-02-04 14:40] vincentqb opened #425 "Windows Support"
To bring Windows support with mp3 support, we need

- [x] Activate build for wheels and conda package on CircleCI for Windows without SoX, see #394
- [x] Activate SoX tests only when SoX available, see #419
- [x] Fix `kaldi_io` NameError for Windows in [comment](https://github.com/pytorch/audio/pull/394#issuecomment-571413640).
- [x] Activate CircleCI tests on Windows (e.g. #493)
- [ ] Implement p

[2020-02-04 21:57] delip commented on #287
@jongwook do you have a gist for this?

[2020-02-04 22:36] jongwook commented on #287
@delip I did, and unfortunately I no longer have access to it.

I'm feeling bad about not getting my hands on this over the break, but I should be able to soon. I will keep you posted!

[2020-02-05 04:16] peterjc123 commented on #425
The `kaldi_io` test is passing on Windows now. BTW, I think it's hard to compile Sox on Windows. Other things sound reasonable to me.

[2020-02-05 11:25] jongwook commented on #287
https://gist.github.com/jongwook/d6fdf57a6fd06d56a2bfd6b505e7804c

The notebook above demonstrates that Torchaudio mel spectrogram and librosa mel spectrogram differ by a linear function of Mel frequency, when `htk=True` is specified in librosa.

I'm thinking of adding a keyword argument `normalized=False` to `MelScale` and `MelSpectrogram`, and use librosa-style filterbank when `normalized=True`

[2020-02-05 16:20] vincentqb commented on #425
Thanks for the input. Can you share the output of CircleCI where the kaldi_io tests are passing?

If SoX is not possible to compile on Windows, we'll need to identify an alternative backend that offers similar file support on Windows: mp3, flac, wav, at least. soundfile unfortunately doesn't support mp3.

[2020-02-06 06:02] PetrochukM opened #427 "Understanding ISTFT alignment"
## 🐛 Bug

In a project that I am working on, I need to keep the spectrogram and the signal aligned. I provided a small script below.

The issues that I am running into:
1) At the moment, the `length` variable in `istft` has no constraints; therefore, it can extend into the padding.
2) The `istft` function errors with custom padding.

## To Reproduce

[code]

[code]

## Potential Solution

I can ge

[2020-02-06 07:29] PetrochukM opened #428 "Floating point exception: 8"
## 🐛 Bug

I managed to crash Python using `torchaudio` with a zero tensor.

## To Reproduce

[code]

[code]

[2020-02-06 10:56] taras-sereda opened #429 "Adding LJ Speech dataset"
## 🚀 Feature
Adding publicly available [LJ Speech](https://keithito.com/LJ-Speech-Dataset/) dataset, widely used for TTS tasks.

## Motivation

It will be convenient for researchers in speech synthesis (and speech processing in general) to get directly to model development and spend less time on building custom pipelines for loading datasets. Also LJ Speech is considered as a benchmark dataset and

[2020-02-06 13:38] peterjc123 commented on #425
Sure. It was posted here: https://github.com/pytorch/audio/pull/419#issuecomment-582231987.

I know. But I don't have a chance to find a good alternative.

[2020-02-06 16:25] vincentqb commented on #418
I've discussed with @fmassa about the functionality from torchvision.

As you point out in the description, [`torchvision.save`](https://pytorch.org/docs/stable/torchvision/utils.html#torchvision.utils.save_image) has an option to save many images into a grid, which can be convenient to have with images. This type of API could be interesting to have for `torchaudio.save`. However, we'd need to dec

[2020-02-06 19:48] haideraltahan commented on #428
This should fix it:

`torchaudio.compliance.kaldi.resample_waveform(torch.randn(1, 34440), 24000 * 4, 24000)`

[torch.randn()](https://pytorch.org/docs/stable/torch.html#torch.randn) expect the size of the random tensor as parameters, hence, 0 in the first dimension, would not work.

[2020-02-06 19:55] PetrochukM commented on #428
@haideraltahan Yes. I know how to fix it as well; however, it's a bug that Python crashed that should never happen. There should be some reasonable stack trace.

[2020-02-06 20:57] vincentqb commented on #425
[aubio](https://github.com/aubio/aubio) seems to perform better than librosa, according to [this](https://github.com/faroit/python_audio_loading_benchmark), and supports more format than audioread. Thoughts?

[2020-02-06 21:13] vincentqb commented on #428
What would you expect the output to be for such an empty tensor? e.g.
* We could raise an assertion error.
* We could return empty tensor with the expected length.

Would you be interested in offering a pull request for this?

[2020-02-06 21:14] PetrochukM commented on #428
I think if I were to put more time into this issue, I'd probably investigate which of the tensor operations fails. Then, I'd submit an issue to PyTorch. That seems initially the right approach.

[2020-02-06 21:25] vincentqb commented on #427
Have you tried specifying the length of the signal? See the [documentation](https://pytorch.org/audio/functional.html#torchaudio.functional.istft)

"The n_frame, hop_length, win_length are all the same which prevents the calculation of right padding. These additional values could be zeros or a reflection of the signal so providing length could be useful. If length is None then padding will be aggr

[2020-02-06 21:40] haideraltahan commented on #428
@PetrochukM I will look more into it and see which op is responsible.

@vincentqb Can we say that returning an empty tensor sounds for a more sensible approach given that randn generate one without an assertion?

[2020-02-06 22:19] vincentqb commented on #338
Closed by #354. Please feel free to re-open if the problem persists.

[2020-02-06 22:19] #338 closed

[2020-02-06 22:24] vadimkantorov commented on #338
For understanding: if a new version of PyTorch is released and torchaudio isn't released for some time, will a similar issue pop up? (i.e. when PyTorch 1.5.0 is released, will installation of torchaudio downgrade it to 1.4.0?) In other words, does PyTorch Audio require a specific version of PyTorch or just greater-equals?

Asking because that PR is named "0.3.2 point release", so it's not clear if

[2020-02-06 22:29] vincentqb commented on #338
Yes, when a new version of PyTorch is released, point releases of the libraries (torchaudio, torchtext, torchvision) need to be made to point to the new version.

[2020-02-06 22:39] vadimkantorov commented on #338
I may not understand what "point to the new version" means. If a 0.5.0 release of torchaudio comes some time after torch 1.5.0 is released, will a similar issue pop up?

This is quite unfortunate, since sattelite projects such as torchvision, torchaudio have much maintainer teams and releases may lag with some time (like it was the case in this issue).
So it means issues like this can pop up from

[2020-02-06 23:23] haideraltahan commented on #428
This problem is being generated from `torch.nn.functional.conv1d` function.

Can be tested using this line of code:
`torch.nn.functional.conv1d(torch.randn(1, 0, 34486), torch.randn(0, 1, 49), stride=4, groups=0)`
This only occurs when `groups=0`. Otherwise, it would return this error:
'Given groups=1, expected weight to be at least 1 at dimension 0, but got weight of size 0 1 49 instead'

[2020-02-07 01:25] PetrochukM commented on #427
@vincentqb Yes. The issue is that the `length` argument is left-aligned (which is not documented). The padding was applied to both sides equally.

[2020-02-07 04:56] peterjc123 commented on #425
Well, it looks good to me except its package on pypi is a source package. However, if we use the C/C++ part then we should be okay.

[2020-02-07 17:44] vincentqb commented on #428
Since `torch.nn.functional.conv1d` is producing an error, I would lean toward following their lead and also provide an error.

A simple assert protecting the function `resample_waveform` would work in the short term with a link to this PR. Could you also open an issue for `torch.nn.functional.conv1d`?

[2020-02-07 17:48] vincentqb commented on #427
I'm assuming you also experimented with `pad_mode` and `onesided`, right? Can you confirm your case is not covered by our [unit tests](https://github.com/pytorch/audio/blob/master/test/test_functional.py#L181)?

[2020-02-07 17:54] PetrochukM commented on #427
Yes.

- The `pad_mode` option is with regard to the type of padding while I am changing how much padding is applied.
- The `onesided` option doesn't have anything to do with padding, from my understanding. It instead controls the number of frequency bins to output.

The unit tests do not cover the above use case. The critical line is `torch.nn.functional.pad(signal, ((n_fft - hop_length) // 2, (n_

[2020-02-08 20:30] PetrochukM opened #430 "Save / Load Bugs"
## 🐛 Bug

The process of saving and loading a file causes it to change significantly up to the 1st decimal point.

## To Reproduce

[code]

Example output:
[code]

Notice that the mean and standard deviation of the signal has significantly changed.

## Expected behavior

The WAV format should save and load without any loss in precision.

[2020-02-08 20:46] PetrochukM commented on #430
Another issue that I found is that if you load a 16-bit PCM file with the load function returns a `torch.Float32` which does not match the `dtype` of the file.

[2020-02-10 19:21] ezyang commented on #338
If we are doing our job as release maintainers right, torchaudio/torchvision should have releases every time we do a main release of PyTorch.

As for not causing a downgrade, I'm not sure. I feel like you have to explicitly specify the version desired for PyTorch, and then the depsolver will tell you unsat (or pick an older version of the domain library)

[2020-02-10 19:38] vincentqb commented on #427
Do you mean changing the definition of `half_n_fft` on [this line](https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L200)? Doing so breaks compatibility with librosa though. Have you been able to do the same in librosa or scipy?

The assertion that is failing comes from the fact that your modified signal `torch.nn.functional.pad(signal, ((n_fft - hop_length) // 2, (n_fft - hop

[2020-02-10 21:02] PetrochukM commented on #427
Yes. The definition for `half_n_fft` assumes that there was `n_fft // 2` padding applied to both ends. In the example above, I only applied `(n_fft - hop_length) // 2` padding to both ends.

The padding that I provided above via `torch.nn.functional.pad` is critical to making `assert spectrogram.shape[1] == num_frames` work.

[2020-02-11 00:26] vadimkantorov commented on #338
@ezyang A new version hasn’t always been released unfortunately immediately. I think this situation requires some testing. I read somewhere that pip behavior changed in 9th version - maybe that’s the reason.

At very least this should be clear in README and maybe default installation - downgrade with default installation command is a very nasty user experience

[2020-02-11 13:57] ahmed-fau opened #431 "Resample Batch of Waveforms"
Hello,
I would like to use the `Resample` class for up/down sampling the learned features during the training. Exactly the same way as `F.interpolate`. However, the batch dimension is not accepted by the `Resample` class so that I need to reshape the tensor to have only the channel and temporal dimensions.

Any help on how to resample a batch of waveforms/multi-channel features without any need to

[2020-02-11 18:52] leoniloris commented on #295
@eely22 did you manage to make it work? I'm facing the same issue

[2020-02-11 19:09] leoniloris commented on #295
So for me this issue was solved by updating pytorch manually.

[2020-02-12 10:09] dhgrs opened #432 "Can't run `torch.jit.ScriptModule` based transforms like `AmplitudeToDB` with multi GPUs"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Run
[code]

## Expected behavior

When I run the code with single GPU, I get
[code]
and this is expected behavior but when I run with multi GPUs, I get like below.
[code]

## Environment
[code]

## Additional context

AmplitudeToDB is based on `torch.jit.ScriptModule` and maybe that's why the error occurs.

[2020-02-13 11:01] pablomainar commented on #328
Hi, I also have problems with the MFCCs. When I compare the MFCCs generated by Kaldi with the ones generated by PyTorch, I get very similar results for all the coefficients except for the first one. For some reason, there is a difference between the kaldi and pytorch first coefficient of about 100. Still the pattern is the same, so I suspect that there is some kind of energy normalization going on

[2020-02-13 15:32] pablomainar commented on #328
Update: I have gone back to the spectrogram level trying to find the bug. If I set the flag subtract_mean to true in both kaldi and pytorch, the resulting spectrogram is (almost) the same. But if I set is as false (which is default), the results are different: they have the same pattern but the mean is different.

Kaldi code to generate spectrograms **with mean subtraction**:
`~/kaldi/src/featbin/

[2020-02-14 11:07] tomassosorio opened #434 "Adding Speech Command Dataset"
## 🚀 Feature
Adding to the possible datasets to use the Speech Command Dataset
https://arxiv.org/abs/1804.03209

## Motivation
As a beginner steps into audio manipulation using the Speech Command Dataset is a must since it is simple and allows us to use it as a classification problem or end-to-end Automatic Speech Recognition.

## Pitch
Allowing beginner to have a starting point to a dataset that

[2020-02-14 16:13] vincentqb commented on #429
Yes, we would welcome this dataset. In general, we try to keep the available datasets to the most popular and requested.

Please keep in mind that we keep the structure of the code very close to the ones currently available, see for instance [librispeech](https://github.com/pytorch/audio/blob/master/torchaudio/datasets/librispeech.py).

[2020-02-14 16:37] vincentqb commented on #434
Since this dataset is very recent, I am not inclined to consider adding it at this time. Do you have references for such successful model? Have you considered LibriSpeech or CommonVoice?

[2020-02-14 16:45] vincentqb commented on #432
@mrshenli -- Can you comment on this issue?

[code]

[code]
[code]
[code]

[2020-02-14 16:57] vincentqb commented on #431
Thanks for pointing this out: I've opened a pull request to address this.

[2020-02-14 17:17] vincentqb commented on #427
Suppressing the NOLA assertion in `istft` as such
[code]
yields:
[code]
Can you provide the code that works with librosa?

[2020-02-14 17:29] vincentqb commented on #430
This appears to be a problem with sox. Changing the backend to `soundfile` fixes the problem
[code]

[2020-02-14 17:36] tomassosorio commented on #434
It is a dataset that would be an easy start for a beginner to start touching with ASR since it does not necessitate many moving parts and does not need that many parameters to a model to have good performances with.

Sure, but if you want to detect, a phone number or something similar this dataset would be much simpler than training with Librispeech or CommonVoice.

repo using this dataset: https:

[2020-02-14 19:00] #431 closed

[2020-02-14 21:02] vincentqb commented on #425
What is the implication of a source package?

[2020-02-14 23:31] vincentqb commented on #434
Nice example, and good to see that the dataset appeared on [kaggle](https://www.kaggle.com/c/tensorflow-speech-recognition-challenge/data) :) Alright, we would welcome this dataset. In general, we try to keep the available datasets to the most popular and requested. Would you be interested in opening a pull request for it?

Please keep in mind that we keep the structure of the code very close to t

[2020-02-15 01:21] ahmed-fau commented on #431
Thanks, @vincentqb  for taking care of this. I should then let you know that the same behavior occurs when using other transform modules like `Spectrogram` and `MelSpectrogram`. The modules cannot accept three-dimensional tensors (batch, channel, time). Only two-dimensional tensors (channel, time) are supported so that the batch dimension is dealt as the cannel one, while the remaining dimensions

[2020-02-15 05:16] peterjc123 commented on #425
As you can see from https://pypi.org/project/aubio/#files, only the file ends with `.tar,gz` is available.

[2020-02-15 19:26] tomassosorio commented on #434
Yes, I am totally interested in doing the PR! Thanks!!

Sure, I will take into account that!

[2020-02-16 05:37] dachosen1 opened #436 "No matching distribution found for torchaudio"
## ❓ Questions and Help

I currently have PyTorch installed, I tried to install torchaudio and got the following error.

[code]

[code]

 - PyTorch Version (e.g., 1.0): 1.4
 - OS (e.g., Linux):  Window
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version: 3.7
 - CUDA/cuDNN version: 10.2
 - GPU models and configuration:

[2020-02-18 18:09] vincentqb commented on #431
Can you provide an example for these? Which version are you using? These should support batching since #391.

[2020-02-18 18:22] vincentqb commented on #425
Both seems good then. Let's go for audioread then, since it appears to be faster than librosa.

I've updated the description above to reflect the choice of audioread over sox for windows.

[2020-02-18 22:57] haideraltahan commented on #436
Windows is currently not supported (#425).

[2020-02-19 00:06] dachosen1 commented on #425
Have you looked into pydub?  https://github.com/jiaaro/pydub

I've been using it on windows, and it works great for mp3 and wav files. The installation is a bit involved since it requires the user to add ffmpeg to the environment path?

[2020-02-19 10:47] faroit commented on #425
@vincentqb Just some small remarks...

For the various use cases of audio i/o there are two scenarios where loading is used within torchaudio:

1. Training

Here, loading and decoding performance is crucial and easily becomes the bottleneck of dataloaders that deal with raw audio. Typically this expensive compression formats should be avoided at simple formats such as wav, flac and mp3 should be u

[2020-02-19 14:56] ahmed-fau commented on #431
Sorry for the confusion. I tried this on a previous version. Batching for spectrograms works fine with version 0.4

[2020-02-19 22:36] dachosen1 commented on #436
I see. Thanks

[2020-02-19 22:36] #436 closed

[2020-02-20 14:19] tomassosorio opened #438 "Pitch Shift"
## 🚀 Feature
Shift the pitch of a waveform by n_steps semitones.

## Motivation

Common data augmentation used for training in ASR

[2020-02-20 19:47] #429 closed

[2020-02-21 21:53] tomassosorio commented on #260
Hey! I will try to remove the pitch dependency of sox.

[2020-02-22 22:47] #434 closed

[2020-02-24 15:54] vincentqb commented on #260
Thanks! Looking forward to it :)

[2020-02-24 16:13] vincentqb commented on #438
Relates to #260

[2020-02-24 16:44] vincentqb commented on #87
Implemented in #268

[2020-02-24 16:44] #87 closed

[2020-02-24 16:47] vincentqb commented on #146
Implemented in #326

[2020-02-24 16:47] #146 closed

[2020-02-25 16:11] mthrok opened #443 "Add sox allpass implementation"
I will try to work on all pass sox effects from https://github.com/pytorch/audio/issues/260

[2020-02-25 22:11] mthrok commented on #260
During the work of #444 I noticed that currently `highpass_biquad` / `lowpass_biaquad` only supports Q factor as width argument, whereas sox supports other formats such as hertz and octaves.
I made `allpass_biquad` follow the same way and it expects Q value for width parameter.

If the other forms of width is useful/required, then we could add conversion between hertz/octave/Q factor and extend th

[2020-02-25 22:37] #443 closed

[2020-02-26 13:56] tomassosorio opened #446 "Adding Module Models"
## 🚀 Feature
Similar to [torchvision](https://pytorch.org/docs/stable/torchvision/models.html) would be interesting to have the architecture of the most important models available, such as Wav2Letter, DeepSpeech, DeepSpeech2 between others...

## Motivation
When trying to train a model it is already available most features needed such as Datasets, Data Transformations, however it is not available

[2020-02-26 14:12] tomassosorio opened #447 "Add Fade"
#260 Working on add fade into transformations

[2020-02-28 23:33] vincentqb commented on #351
Thanks again for working on this @jaeyeun97! #448 merged the second request made in this issue.

[2020-02-28 23:33] #351 closed

[2020-02-29 22:48] popcornell commented on #371
Second this, the default right now makes the whole `torchaudio.compliace.kaldi` features totally unusable out-of-the-box.
I spent one hour looking at possible bugs on labels only to find out that basically my model was fed noise because of the dither default value.

[2020-03-01 00:02] Oktai15 commented on #371
@popcornell I know that feel bro (the same problem I had had and after that I created this issue)

[2020-03-02 16:27] vincentqb commented on #371
@popcornell @Oktai15 -- We're looking at what would be a good value to use. What would you say would be a reasonable nonzero value? What values do other packages use, and that you like?

@cpuhrsch -- I would have used 0. by default but the implementation says explicitly to specify `energy_floor` in that case, see [here](https://github.com/pytorch/audio/pull/119/files#r386478033). Do you have more

[2020-03-02 20:28] vincentqb commented on #446
This is a good idea. Would you like to contribute some?

[2020-03-02 20:39] Nouraaaawwad opened #451 "When try to run with Speech2text example : AttributeError: module 'torchaudio' has no attribute 'legacy'"
## 🐛 Bug

I try the speech to text example in openNMT
→ python preprocess.py -data_type audio -src_dir data/speech/an4_dataset -train_src data/speech/src-train.txt -train_tgt data/speech/tgt-train.txt -valid_src data/speech/src-val.txt -valid_tgt data/speech/tgt-val.txt -shard_size 300 -save_data data/speech/demo

the error is :
**[2020-03-02 20:21:17,427 INFO] Extracting features...
[2020-03-02 2

[2020-03-02 20:53] tomassosorio commented on #446
Sure!

I will inspire into torchvision structure and add at first Wav2Letter.

At the time I cannot offer the model with the trained weights, but I can talk with my company to see if we could offer this to torchaudio in the future.

[2020-03-02 21:05] tomassosorio commented on #451
Hey, I would install a later version like for example:
[v0.2.0](https://github.com/pytorch/audio/tree/v0.2.0/torchaudio)

Still as legacy.

[2020-03-02 21:27] tomassosorio commented on #451
look into [v0.2.0](https://github.com/pytorch/audio/blob/v0.2.0/torchaudio/legacy.py) legacy is only to load the files.

in [line 64](https://github.com/OpenNMT/OpenNMT-py/blob/master/onmt/inputters/audio_dataset.py) where the error occurs, you could just change from `torchaudio.legacy.load` to `torchaudio.load`

and probably do a PR to correct that :)

[2020-03-02 21:40] Nouraaaawwad commented on #451
yeeeees thank you so much. you solve the problem.

but i got this error :
[2020-03-02 21:37:40,822 INFO] Extracting features...
[2020-03-02 21:37:40,822 INFO]  * number of source features: 0.
[2020-03-02 21:37:40,823 INFO]  * number of target features: 0.
[2020-03-02 21:37:40,823 INFO] Building `Fields` object...
[2020-03-02 21:37:40,823 INFO] Building & saving training data...
[2020-03-02 21:37:4

[2020-03-02 22:44] tomassosorio commented on #451
Okey, so that is because the sample rate from your files are 48000 and they want 16000 so you have to resample the audio, this could be done in a couple of ways, [using transform resample](https://pytorch.org/audio/transforms.html#torchaudio.transforms.Resample) or using [librosa](https://librosa.github.io/librosa/generated/librosa.core.resample.html?highlight=resample#librosa.core.resample)

For

[2020-03-03 15:41] Nouraaaawwad commented on #451
thank you soo much tomassosorio, you are genius

[2020-03-03 15:41] #451 closed

[2020-03-03 16:44] PetrochukM opened #452 "`hann_window` does not obey COLA; therefore, it cannot be used with `istft`"
## 🐛 Bug

https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.check_COLA.html

Learn more: https://ccrma.stanford.edu/~jos/sasp/Mathematical_Definition_STFT.html#19930

## To Reproduce

[code]

## Expected behavior

The expected behavior is that the hann window is implemented such that it is useable with `istft`.

[2020-03-03 18:19] PetrochukM commented on #452
While it looks like the windows are mostly similar after visualization, it does look like the PyTorch window is off `scipy` on the third decimal...

[code]

[code]

The `scipy` window is the one Librosa uses under the hood: https://librosa.github.io/librosa/_modules/librosa/filters.html#get_window

[2020-03-03 18:55] PetrochukM commented on #384
@faroit What would you consider a better window size today? In the recent Tacotron paper, they also used a 50-millisecond frame size; however, the Kaldi spectrogram recommends a 25-millisecond frame size. From my online readings, it sounds like 20 - 30 milliseconds is recommended for a text-to-speech application with a 50% hop length.

[2020-03-03 19:38] vincentqb commented on #371
Based on [this discussion](https://github.com/pytorch/audio/pull/119/files#r386545216), we'll simply set `dither` to 0 and `energy_floor` to 1 by default. This also seems to behave very closely to a small value of dither, see below.
[code]

[2020-03-04 23:13] vincentqb opened #454 "Migrate TimeStretch and AmplitudeToDB to torch.nn.Module"
As mentioned in #314, now that python 2 has been deprecated, `TimeStretch` and `AmplitudeToDB` need to be migrated from `torch.jit.ScriptModule` to `torch.nn.Module`.

[2020-03-04 23:20] vincentqb commented on #446
Let's start with just the model class, untrained. Hosting trained models (and datasets) is a separate discussion :)

[2020-03-05 00:39] PetrochukM opened #455 "`torch.norm` is 113x slower than `torch.sqrt(a**2 + b**2)`"
## 🐛 Bug

This is mostly a PyTorch bug but it has a significant impact on the performance of computing a magnitude spectrogram.

## To Reproduce

[code]

[code]

## Expected behavior

The performance should be similar...

## Environment

[code]

[2020-03-05 00:43] PetrochukM commented on #455
Posted on PyTorch: https://github.com/pytorch/pytorch/issues/34279

[2020-03-05 13:15] gabrieldernbach commented on #432
I just ran into pickle problems saving transforms because of the jit script subclassing, too.

Why is it a jit.script in the first place?
As I understood the objective of jit.script is mostly for deploying torch in non python environments.

[2020-03-05 16:32] vincentqb commented on #432
This was due to python 2 support, see #454.

[2020-03-05 16:46] #454 closed

[2020-03-05 16:54] vincentqb commented on #432
Fixed by #456: `AmplitudeToDB` is now a `torch.nn.Module`, 

[2020-03-05 16:54] #432 closed

[2020-03-05 16:56] vincentqb commented on #455
Thanks for posting on the main pytorch repository. I'll close this one here.

[2020-03-05 16:56] #455 closed

[2020-03-05 16:59] vincentqb commented on #452
What do you get if you use that window in `istft`? :)

[2020-03-05 17:07] PetrochukM commented on #452
Perfect reconstruction is not possible and aliasing occurs.

Sources:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.check_COLA.html
https://www.dsprelated.com/freebooks/sasp/Constant_Overlap_Add_COLA_Cases.html
https://www.dsprelated.com/freebooks/sasp/Dual_Constant_Overlap_Add.html

[2020-03-05 17:46] vincentqb commented on #452
I meant: does torchaudio silently computes the wrong quantity, gives an error, returns NaNs, etc?

[2020-03-05 17:48] PetrochukM commented on #452
Uhm. Sorry. There is no explicit error or problem with iSTFT. The problem is that the window prevents STFT -> ISTFT from giving a perfect reconstruction and causes aliasing.

[2020-03-05 19:08] vincentqb commented on #452
I see. How should the window be modified to satisfy the COLA condition? Which windows support COLA and not in torchaudio?

[2020-03-05 19:31] faroit commented on #452
@PetrochukM Interesting

* Are you sure this has an impact in practice?
* have you checked to lower the tolerance of the COLA test? If it doesn't pass because the default tolerance is 1^-10, I think this can be avoided.
* I got an RMS of 10^-9 for random signals with a half-overlap hann window [in this test scripts](https://github.com/faroit/stft-istft-experiments/blob/master/test_torch.py)

[2020-03-05 20:07] vincentqb commented on #416
By the way, when loading an audio file, torchaudio support reading only the segment provided. This avoids having to read a whole audio file when only a segment is of interest.

[2020-03-06 00:51] PetrochukM commented on #452
@vincentqb I wish you'd read my initial comment more carefully because your questions were already covered in my initial comment... Sorry if it wasn't clear enough.

To answer your question... `scipy.signal.hann(1024, sym=False)` satisfies the COLA condition which is also used by `librosa`. I used it above as a test case.

@faroit In practice, this means that I can't get the same result as `libros

[2020-03-06 14:41] #371 closed

[2020-03-06 14:57] vincentqb commented on #452
Sorry for the misunderstandings, and thanks again for your contributions :) What I meant with the first question is: would you be willing to open a draft pull request in torch with the goal of highlighting the exact changes that need to be done to make the hann window satisfy the COLA condition? If I'm missing your message with this information, please do link it so I can see the diff, thanks agai

[2020-03-07 13:34] noorkhokhar99 commented on #121
Easy to install with pip.
 pip install torchaudio==0.4.0

[2020-03-07 19:30] mpariente opened #458 "Roadmap"
First, thanks for the package, that's pretty cool !

What are the current priorities?
Is making a backpropagable complex tensor on of them?

I'm starting to develop support for complex numbers in [asteroid](https://github.com/mpariente/asteroid) where I have a different convention for complex numbers. Depending of the goals of torchaudio, I would completely rely on your code, or I'd keep on in the

[2020-03-07 23:35] vincentqb commented on #425
@faroit -- Have you run your [benchmark](https://github.com/faroit/python_audio_loading_benchmark) with minimp3? I'd love to see how it compares.

You are suggesting having a mix of backend for different format? That could be an option, yes. However, the context of this particular pull request is to make torchaudio available on Windows with the same features as the other OSs supported, and so this

[2020-03-09 03:37] peterjc123 commented on #425
@vincentqb Actually both audioread and aubio relies on ffmpeg.

[2020-03-09 14:42] vincentqb commented on #425
Ah, good point. Has any of you faced any challenges such as [this](https://github.com/pytorch/audio/issues/425#issuecomment-587967169) installing audioread? If not, I'd say we move forward anyway.

@cpuhrsch -- You voiced not being in favor of ffmpeg in the past. Any comments?

[2020-03-09 14:48] peterjc123 commented on #425
@vincentqb It will be easy for conda users because they can simply do `conda install -c conda-forge ffmpeg`. To make it convenient for the other users, we may just distribute the DLLs for them.