[2020-10-14 20:47] mthrok commented on #929
@vincentqb Where did you look at? I am having hard time finding CI jobs for release branch.

[2020-10-14 21:18] vincentqb commented on #929
I was really just looking at the last time they ran in the list of commits from the release [here](https://github.com/pytorch/audio/commits/release/0.7). The last they ran was for #896.

[2020-10-15 07:27] dvisockas commented on #942
You're correct that they should be close. The question is how close. Will open a PR an we can see there how close they are.

[2020-10-15 12:11] leocances commented on #910
Hello,

As I said, I am currently working with some of the datasets that are already implemented in Torchaudio such as gtzan and speechcommand.

By the end of the next week, I should be able to work on these two to make the adjustment needed.

[2020-10-19 15:12] vincentqb commented on #921
Discussion moved to T76394271

[2020-10-19 15:12] #921 closed

[2020-10-22 06:03] snakers4 commented on #903
Just a quick question, does it mean that since 0.7 or 0.8 we can include `torchaudio.load` **inside** of our jit-traced modules? Are you planning to support only Linux, or will you also have a list of binaries for some other platforms (i.e. mobile, raspberry pi)? With `soundfile` backend?

[2020-10-22 19:39] mthrok commented on #903
Hi @snakers4

Yes. Technically, you can do it already with 0.6, however, the corresponding library is not available in any form yet, so you cannot run it outside Python application.
I have a prototype C++ app in [my branch](https://github.com/mthrok/audio/tree/libtorchaudio-cpp-example) which depends on refactored [torchaudio](https://github.com/mthrok/audio/tree/libtorchaudio). The model I used c

[2020-10-23 13:36] lawlict opened #982 "Exporting the operator stft to ONNX opset version 9 is not supported."
Hi, I try exporting the process of feature extraction to onnx:
[code]
and get:
[code]
So will torchaudio add supports operators used in ```torchaudio.transforms``` module in the future? You see that exporting the process of feature extraction and the neural network together will be very convenient.

Thanks!

[2020-10-23 15:14] vincentqb commented on #856
cc #854

[2020-10-23 23:11] waszee opened #983 "How should I do Audio Decoding from RF and Morse Code using Pytorch"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-10-23 23:28] waszee commented on #983
I am looking for advise on how to process audio signals from a HAM radio, especially morse code patterns.  I want to try applying an AI decoding solution.   I am new to Python, PyTorch, and especially TorchAudio and have been using the Deep Learning and PyTorch textbook for learning and meanwhile writing some code to create spectrograms and make synthetic morse code audio patterns.  A discussion o

[2020-10-24 00:18] vincentqb commented on #982
Thanks for opening an issue for this :) This is an issue upstream with pytorch directly, see pytorch#31317. @houseroad, do you know the status of STFT support with ONNX?

We can keep this issue open since this does affect torchaudio.

[2020-10-24 00:34] vincentqb commented on #983
Thanks for opening an issue on torchaudio! However, the best way to get help for these topics is to open a question on the pytorch forum [linked above](https://discuss.pytorch.org/). Have you tried this?

This looks like a "speech recognition problem" were the "speech" are the "beeps" and "language" is the "dash-dot". This models well as a sequence-to-sequence problem. In fact, there's a tutorial

[2020-10-24 00:34] #983 closed

[2020-10-24 00:55] vincentqb opened #984 "sox from conda-forge is not detected by torchaudio?"
On macos, I am unable to compile torchaudio with sox from conda-forge.

[code]

Unsuccessful:
[code]

Successful:
[code]

@mthrok -- have you ran into either of these?

[2020-10-24 00:57] vincentqb commented on #984
[code]

[2020-10-24 12:52] snakers4 commented on #903
Nice!  This is probably months from becoming actually useful by end users like us, but this increases the value of pytorch ecosystem quite a bit

Btw,  currently a vad in torch audio seems to be a port of some energy based algorithm

We are planning to make a public general torch-scriptable noise / voise / music VAD pre-trained on large voice / noise / music corpora

Guess we could collaborate on

[2020-10-24 19:22] waszee commented on #983
Thank you  for the advice.  I am too new at this to have seen anything and will follow up the suggested items. I did not even know where I should post the need some help question.  I saw the title Questions/Help in torchaudio and thought this might be a place to start.

Waszee

From: Vincent QB <notifications@github.com>
Sent: Friday, October 23, 2020 8:35 PM
To: pytorch/audio <audio@noreply.githu

[2020-10-26 12:10] turian commented on #704
@mthrok Here is a small code example showing that you cannot backprop through an `lfilter` parameter:

[code]

gives

[code]

[2020-10-26 14:54] mthrok commented on #704
Hi @turian

Thanks for the snippet. I confirm that I am seeing the same error.

I updated my previous snippet to use the `lowpass_biquad` and realized that even the forward function does not work.

[code]

[code]

[2020-10-26 17:56] mthrok commented on #982
Hi @lawlict

We are hearing the increased number of support requests for `stft/istft` in ONNX. The core of the problem is `stft/istft` **not defined** in ONNX. So we passed down the user voices to the proper channel to see what we can do. At this moment, we do not have a concrete action plan. Meanwhile one workaround you can do is to mock the `stft` function in a similar way as https://github.com/

[2020-10-26 18:12] vincentqb opened #985 "[DRAFT] 1 to 1 match between functionals and transforms?"
The [transforms](https://github.com/pytorch/audio/blob/master/torchaudio/transforms.py) are meant to be a convenient interface subclassed from `nn.Module` to [functionals](https://github.com/pytorch/audio/blob/master/torchaudio/functional.py) who then do the computations needed.

- Why is dividing the code into transforms/functionals a good idea in the first place? The computation part isolated in

[2020-10-26 20:36] mthrok commented on #903
@snakers4

Ah, that's very optimistic view, although that's what I am aiming for. I am working on a RFC with example usage, so that community can respond. Then we will finalize the interface and will start working on the implementation.

Thanks, that's a nice reaction to have. One of the things we struggle is to get a signal from the community, so feedback like that is really helpful. (and motivat

[2020-10-27 01:48] mthrok commented on #985
Before posing the constraint of 1 on 1 match, I suggest to clarify why 1 on 1 matching is a good constraint, what problem it solves or who benefits from that constraints. If you come up with a good reason for that, then I think it will naturally narrow down the path for reducing the maintenance cost, but if you do not come up with a good reason, you can just abandon such constraint, and move on.

[2020-10-27 01:56] mthrok commented on #950
Can you provide the road map for this?

Note that `"sox_io"` backend and the new interface of `"soundfile"` backend support `path lib.Path` already, so no need to change the implementation.

Since we are getting rid of `"sox"` backend and the legacy interface of `"soundfile"` backend, I would not put them on a high priority, rather I would leave them as is.

[2020-10-27 02:10] lawlict commented on #982
Hi @mthrok
Thank you for your nice help, and I will have a try on pytorch/pytorch#31317 (comment) later. So should I close the issue now?

[2020-10-27 05:29] snakers4 commented on #903
the current state of audio is that there are no go-to tools / components, that would work on all platforms
there is record.js for browsers, but porting models to js is a pain now (looks like the only decent option is re-implementing from scratch in tf.js, onnx.js has very poor layer support)
ofc, you can go low-level and compile everything for each platform, but usually you care about your algorit

[2020-10-27 16:01] vincentqb commented on #950
Agree.

The datasets, and `apply_effects_file` are the other places were files are being used. That's all I can think of. Some/All may already support, we should just double check :) Any others?

[2020-10-27 16:15] mthrok commented on #950
Can you clarify on what **actions** are needed for each component?

`apply_effects_file` makes sense and I was not aware so thanks for listing up, however, it is not immediately clear to me why dataset implementations are on the list. They are not responsible for I/O, nor they receive path from client code.

[2020-10-27 17:57] vincentqb commented on #985
I meant this mostly as a note to think and talk about this. That being said, I'm not advocating for this, and so will close the issue.

[2020-10-27 18:43] vincentqb commented on #950
I'm referring to the parameters in the constructor, .e.g [`root`](https://github.com/pytorch/audio/blob/master/torchaudio/datasets/cmuarctic.py#L101) which is a string, but really a path.

[2020-10-27 21:57] vincentqb opened #988 "Add noisered and ladspa in sox_effects"
noisered and ladspa from [here](http://sox.sourceforge.net/sox.html) are not listed as an effect. Not picked up due to its interface?

[code]

It affects facebookresearch/WavAugment#16.

[2020-10-28 18:48] waszee commented on #983
fyi - posted a query on the discuss.pytorch topic as you suggested.  The cracking morse code article is interesting but assumes you have the dit dah pattern and that is easily handled in python using a dictionary as many others have shown.  The real problem is getting the pattern isolated from the radio audio signal or from a RF band pass depending on the type of receiver you have as well as how t

[2020-10-28 20:28] mthrok commented on #982
@lawlict

Let's keep the issue. This is a very unique issue and torchaudio does not have an official stance on this one, so until we hear the update and decide the stance we can keep this issue open and use it as a point of contact.

[2020-10-28 20:53] saurabh-kataria opened #989 ""sox_io" does not handle SPH format compressed with 'shorten' algorithm"
Some SPHERE files (.sph) cannot be opened by torchaudio.info. I get the following error on some file
"formats: can't open input file `filename.sph': sph: unsupported coding `ulaw,embedded-shorten-v2.00'"
I cannot share the file although.
Such files are easily handled by special package like:
https://pypi.org/project/sphfile/

There is some tool called NIST's sph2pipe which might help:
http://www.c

[2020-10-28 21:03] faroit commented on #982
@lawlict just as a quick fix you can try [nnaudio](https://github.com/KinWaiCheuk/nnAudio), [torch-stft](https://github.com/pseeth/torch-stft) or asteroids `stftfb`

I managed to export asteroids stft to onnx without problems.

[2020-10-29 06:10] qute012 opened #990 "[JIT] scripting torchaudio.transforms.MFCC() error"
Hi. I face problem when i use torchaudio.transforms.MFCC() as preprocessing on android app. Help ME

---version---
pytorch::1.7.0
torchaudio::0.7.0

gradle dependencies

[code]

scripting from nn.Module
[code]

When Module implements on android's java code, it doesn't work, Module forward function don't recognize forward in script.
errors:
[code]

[2020-10-29 06:11] qute012 opened #991 "[JIT] scripting torchaudio.transforms.MFCC() error"
Hi. I face problem when i use torchaudio.transforms.MFCC() as preprocessing on android app. Help ME

---version---
pytorch::1.7.0
torchaudio::0.7.0

Add gradle dependencies

[code]

scripting from nn.Module
[code]

When Module implements on android's java code, it doesn't work, Module forward function don't recognize forward in script.
errors:
[code]

[2020-10-29 06:12] #990 closed

[2020-10-29 12:09] mthrok commented on #989
Hi @saurabh-kataria

Thanks for the report. Can you tell us which backend/interface you are using?
Are you on Linux/macOS/Windows?

[2020-10-29 15:28] gibiansky opened #993 "torchaudio.transforms.Spectrogram with power=1 can easily NaN"
## 🐛 Bug

If you use STFT through Spectrogram, with power=1, you can easily get a NaN. If your spectrogram square magnitude underflows to zero, you end up taking backprop of sqrt(0), which leads to a NaN.

## To Reproduce

Steps to reproduce the behavior:

1. Use torchaudio.transforms.Spectrogram, set power=1, do a backward pass.

## Expected behavior

There should be a configurable epsilon to cla

[2020-10-29 16:28] mthrok commented on #993
Hi @gibiansky

Thanks for the report. I think I got the gist, but could you illustrate the fix?

Is it here?

https://github.com/pytorch/audio/blob/0076ab073d1ee6160efbc239e075196b35ed850b/torchaudio/functional.py#L95

[2020-10-29 16:29] mthrok commented on #990
Hi @qute012

Can we assume that you found the fix?

[2020-10-29 16:39] Stehsegler commented on #985
@vincentqb Well, from my user's perspective, it's indeed not quite comprehensible why for some functionals, a corresponding transform is provided and for others, it's not. Based on which criteria was this decision made for the existing transforms?

For users of the library, it would of course be nice to be able to use all functionality directly in a transform chain without having to write more-or-

[2020-10-29 17:06] saurabh-kataria commented on #989
It is sox_io since it fails on Line 25 `sinfo = torch.ops.torchaudio.sox_io_get_info(filepath)` of `.../python3.8/site-packages/torchaudio/backend/sox_io_backend.py`. OS is Debian/linux.

[2020-10-29 17:18] Stehsegler opened #994 "transforms.AmplitudeToDB does not handle cut-off correctly for multi-channel or batched data"
## 🐛 Bug

From my understanding (based on e.g. #337), all transforms should be able to operate on tensors with dimensions `(batch, channels, ...)` or `(channels, ...)`, with `...` being dependent on the type of data being processed, e.g.`time` for waveform data and `freq, time` for spectrograms. In this way, we can pass multiple chunks of data (waveforms, spectrograms…) at once and expect to get t

[2020-10-29 18:30] mthrok commented on #989
Reading [the sox's documentation](http://sox.sourceforge.net/soxformat.html), `libsox` does not support `shorten` format.

Reading the description from [here](https://github.com/robd003/sph2pipe), looks like commonly used code for `shorten` format is [copy-protected](https://github.com/robd003/sph2pipe/blob/master/shorten_x.c#L1-L23), which I guess is why sox does not adopt it.

I am not sure how

[2020-10-29 19:08] saurabh-kataria commented on #989
Thanks for looking into it. Meanwhile, I have been using NIST reader sphfile https://pypi.org/project/sphfile/ successfully to numpy arrays.

[2020-10-29 20:39] mthrok commented on #989
I will close the issue as there is no immediate action torchaudio can take on this. Thanks again for reporting it though.

[2020-10-29 20:39] #989 closed

[2020-10-29 20:43] mthrok commented on #991
Hi @qute012

Is this specific to MFCC? What happens if you use other transforms?

[2020-10-29 23:35] vincentqb commented on #985
@Stehsegler -- thanks for commenting! I'll re-open to keep conversation going :)

[2020-10-30 03:06] qute012 commented on #991
Hi @mthrok

When i use Spectrogram,
[code]

The error is below.
[code]

[2020-10-30 04:07] Honghe opened #995 "pipeline_wav2letter: UnboundLocalError: local variable 'loss' referenced before assignment"
## 🐛 Bug
pipeline_wav2letter training error: UnboundLocalError: local variable 'loss' referenced before assignment

## To Reproduce

Steps to reproduce the behavior:

[code]
Log & error:
[code]
## Expected behavior

Normal training.

## Environment

[code]

[2020-10-31 07:53] bhargavkathivarapu commented on #926
@vincentqb , I would like to help with this . How do you want to organize this ?
I am thinking of below organization. thoughts ?
1. Basic setups & installations
2. Some resources to understand pytorch tensors
3. A generic workflow from raise issue , code change , code linting , submitting PR , merging
4. Then some different ways of contributing and details,checklist specific to each type of contri

[2020-11-01 10:45] KinWaiCheuk commented on #588
I have implemented the librosa CQT in my project, I hope it would be useful for you guys.
[https://github.com/KinWaiCheuk/nnAudio/blob/master/Installation/nnAudio/Spectrogram.py#L990](https://github.com/KinWaiCheuk/nnAudio/blob/master/Installation/nnAudio/Spectrogram.py#L990)

Several improvements can be made:
1. The `for` loop at line [1223](https://github.com/KinWaiCheuk/nnAudio/blob/master/Inst

[2020-11-02 17:55] vincentqb commented on #994
Thanks for opening the issue :) Are you referring to the use of `x_db.max()` on [this line](https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L238) when `top_db is not None`? Do you have an example that would give an incorrect result?

[2020-11-03 16:52] mthrok opened #1000 "RFC: Fast Audio Loading (from file)"
## Background
Fast audio loading is critical to audio application, and this is more so for the case of music data because of the following properties which are different from speech applications.
- Higher sampling rate such as 44.1k and 48k. (8k and 16k are typical choices in speech)
- Long duration, like 5 mins. (utterance in speech is only a few seconds)
- Training with random seeks is a de-fact

[2020-11-03 17:41] Stehsegler commented on #994
Exactly.

Sure. Using a batch of two 2*2 example "spectrograms":

[code]

The key point is that results for individual items should be the same regardless whether they are processed individually or in a batch.

[2020-11-03 19:51] mthrok commented on #991
@qute012

Looks like that setup is not correct. The JIT object is generated in the environment where the underlying implementation is MKL-based and the Android environment does not have MKL. I do not work on Android so I am not sure how this can be fixed, but I guess either using PyTorch without MKL or using an Android binary with MKL would be the right direction.

[2020-11-03 20:42] mthrok opened #1002 "📚 Documentation issue reports and fix offers"
This issue is for reporting the error on documentation and offering the update.
If you find an error on documentation or contents hard to understand, feel free to add a comment. (Adding a suggestion would make it easier for the contributor to work on)

If you would like to work on the fix, feel free to open a PR and attach the screenshot of the documentation.
See examples: https://github.com/pytor

[2020-11-03 20:44] mthrok commented on #1002
Issue in [`apply_effects_file`](https://github.com/pytorch/audio/blob/b7c17f80b8f8f5cd25a167dc1589ada4c5b0c7cc/torchaudio/sox_effects/sox_effects.py#L226): `self.rng` should be a random generator.

[2020-11-03 20:47] mthrok commented on #1002
Issue in [`datasets.rst`](https://github.com/pytorch/audio/blob/master/docs/source/datasets.rst):

`__len__` is not the requirement of subclassing `torch.utils.data.Datset`. It should be something like,

All datasets are subclasses of :class:`torch.utils.data.Dataset`, **and** they have ``__getitem__`` and ``__len__`` methods implemented.

[2020-11-03 20:54] mthrok commented on #771
`SoxEffectsChain` was removed in #977

[2020-11-03 20:54] #771 closed

[2020-11-03 20:55] #767 closed

[2020-11-03 20:56] vincentqb commented on #995
Thanks for reporting this! A fix is in #997. Please feel free to try it and provide feedback :)

[2020-11-03 21:00] mthrok commented on #467
closing the issue as `SoxEffectsChain` has been removed from torchaudio in #977.

[2020-11-03 21:00] #467 closed

[2020-11-03 21:03] mthrok commented on #430
I am closing the issue, as in #978, we switched the default backend to `"sox_io"` backend, which does not exhibit this bug.

(The deprecated `"sox"` backend still exhibit this bug but it is scheduled to be removed from the codebase in 0.9.0 release.)

[2020-11-03 21:03] #430 closed

[2020-11-03 21:13] vincentqb commented on #425
mp3 for windows without sox in #1000

[2020-11-03 21:15] mthrok commented on #357
@maximecb

Do you still experience the issue? With the latest torchaudio, I cannot reproduce the issue.
I will close the issue but feel free to reopen if you are still facing the issue.

[2020-11-03 21:15] #357 closed

[2020-11-03 21:17] mthrok commented on #278
Closing the issue as they look fine in the latest documentation. https://pytorch.org/audio/0.7/functional.html

[2020-11-03 21:17] #278 closed

[2020-11-03 21:19] mthrok commented on #271
`SoxEffectsChain` has been removed from torchaudio with the replacement implementation.

Closing the issue.

[2020-11-03 21:19] #271 closed

[2020-11-03 21:22] mthrok commented on #255
Closing the issue as `SoxEffectsChain` has been removed in #977 .

[2020-11-03 21:22] #255 closed

[2020-11-03 21:24] mthrok commented on #230
In 0.7.0 release, we have added sox effects what work on tensor directly https://pytorch.org/audio/0.7/sox_effects.html#applying-effects-on-tensor. They should produce the same result as `sox` command line.

[2020-11-03 21:24] #230 closed

[2020-11-03 21:32] mthrok commented on #97
The `SoxEffectChain` implementation is removed from torchaudio in #977 and the replacement implementation can handle this in the similar manner. (you still need to add `"rate"`, but it is documented clearly https://pytorch.org/audio/0.7/sox_effects.html#applying-effects-on-tensor

[code]

[code]

I am closing this issue, but @lorenlugosch if you are still experiencing the error with the latest tor

[2020-11-03 21:32] #97 closed

[2020-11-04 00:21] mthrok commented on #1002
Issue in [functional.py](https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L1242):

The link is invalid. Remove it or maybe replace it with web archive?

[2020-11-04 00:24] mthrok commented on #1002
Issues in `functional.py` https://github.com/pytorch/audio/blob/b7c17f80b8f8f5cd25a167dc1589ada4c5b0c7cc/torchaudio/functional.py#L723-L725

The syntax of references are not correct, they should be something like

https://github.com/pytorch/audio/blob/b7c17f80b8f8f5cd25a167dc1589ada4c5b0c7cc/torchaudio/models/conv_tasnet.py#L25-L30

[2020-11-04 00:27] mthrok commented on #1002
Issue in [functional.rst](https://github.com/pytorch/audio/blob/master/docs/source/functional.rst).

`DB_to_amplitude` is missing

[2020-11-04 15:02] mthrok commented on #764
Replacing the `kaldi_file.wav`, which has only 20 samples while sampling rate is 16k Hz, to `kaldi_file_8000.wav`, which has 8000 samples (16kHz), makes most of kaldi compatibility tests fail.

`406 failed, 218 passed, 2 warnings in 37.35s`

https://gist.github.com/mthrok/b44af36d7724def6a27811f48f01d42f

[2020-11-04 16:29] mthrok commented on #618
In 0.7.0 release, we introduced the new interface for `soundfile` backend and in https://github.com/pytorch/audio/pull/978 we switched the default backends which report the number of samples correctly. This will be a part of 0.8.0 release.
The legacy backends are scheduled to be removed in 0.9.0.

[2020-11-04 16:34] gibiansky commented on #993
Not quite.

Here is the issue. Using torchaudio.transforms.Spectrogram with power=1 is equivalent to:

[code]

Let's suppose your waveform is zero, and so your norm_sq is zero. Then you take the square root of that, and you get zero. _However_, during the backward pass, the sqrt of zero is mathematically undefined at one, and torch.sqrt gradient is NaN.

I want to be able to do this:

[code]

This

[2020-11-04 16:41] gibiansky commented on #993
In fact, the issue is caused by the line [below the one you linked](https://github.com/pytorch/audio/blob/0076ab073d1ee6160efbc239e075196b35ed850b/torchaudio/functional.py#L97), @mthrok. Due to the [`torch.norm` bug linked in the code](https://github.com/pytorch/pytorch/issues/34279), you implemented `complex_norm`, but complex_norm uses sqrt directly, and so it has poor backward pass behaviour (N

[2020-11-04 18:19] vincentqb commented on #1000
Can you clarify how resampling at load time mentioned in the interface relates to fast loading? I'm assuming the implicit advantage is that the resampling is done "streaming-style" while loading in memory by the backend, is that correct?

A side effect is that the resampling algorithm would depend on the backend.

[2020-11-04 18:31] mthrok commented on #993
@gibiansky Thanks for the detailed explanation.

@anjali411 If we migrate to ComplexTensor type, can the backward pass of `abs()` handle zero <-> NaN issue mentioned above??

[2020-11-04 19:29] anjali411 commented on #993
yeah here's a sample code to show that:
[code]

[2020-11-04 19:47] mthrok commented on #993
@anjali411 Thanks!

@gibiansky Do you think this approach is sufficient for the issue you are facing?

[2020-11-04 20:02] gibiansky commented on #993
I am unfortunately somewhat new to PyTorch (I have been using it for all of three days at this point) so I may be missing subtleties, but at least on the surface level it seems like this would solve my issue neatly.

[2020-11-04 21:21] mthrok commented on #1002
Issue:

https://github.com/pytorch/audio/blob/b7c17f80b8f8f5cd25a167dc1589ada4c5b0c7cc/torchaudio/utils/sox_utils.py#L27-L32

The list is not properly rendered https://pytorch.org/audio/0.7/utils.html#torchaudio.utils.sox_utils.set_verbosity

[2020-11-05 16:20] tbazin commented on #903
This is great news, this will definitely improve trust and adoption of torchaudio 🙂 !

[2020-11-05 18:47] mthrok commented on #1002
Issue: `griffinlim` is missing from [functional.rst](https://github.com/pytorch/audio/blob/master/docs/source/functional.rst)

[2020-11-05 18:57] mthrok opened #1007 "`normalized` argument in griffinlim is not used"
## 🐛 Bug

`F.griffinlim`'s `normalized` func arg is not used. It should be removed or used.
If removing it, it should also be removed from `T.GriffinLim`.

[2020-11-05 19:00] mthrok opened #1008 "`noise_down_time` is not correctly passed in T.Vad"
## 🐛 Bug

`noise_down_time` argument in `T.Vad` is not passed to `F.vad`

https://github.com/pytorch/audio/blob/076052f12eef6c2c64be85ca9c89054167cc1f24/torchaudio/transforms.py#L1005

[2020-11-05 19:07] mthrok commented on #1008
also

https://github.com/pytorch/audio/blob/076052f12eef6c2c64be85ca9c89054167cc1f24/torchaudio/transforms.py#L1030

[2020-11-05 19:08] mthrok commented on #950
ah make sense. Thanks for the clarification.

[2020-11-05 23:10] vincentqb opened #1010 "1D tensor not supported in "sox_io" and new "soundfile" by save"
`torchaudio.save` does not support 1D tensor with `sox_io` and the new `soundfile`. The error message is also inconsistent across backends.

- If we desire this restriction, let's document it in #903 and the docstring. However, this will become BC breaking once the default backend is changed.
- Otherwise, we could simply detect and `unsqueeze(0)` for 1D tensor.

Here's a code snippet to reproduce:

[2020-11-06 06:31] Glaciohound opened #1011 "Should extract_archive when download=False in LIBRISPEECH.__init__()"
## 🐛 Bug

Maybe we guys should move `extract_archive(archive)` (and even the checksum part) out of `if download` judgment. Otherwise, pre-downloaded archives could not be loaded.

## To Reproduce

Steps to reproduce the behavior:

1. download the test-clean.tar.gz file
2. dataset = LIBRISPEECH('./', url='test-clean', download=False)
3. print(len(dataset))

## Expected behavior

should be positive,

[2020-11-06 15:33] mthrok commented on #993
@gibiansky I made a PR #1013 . Could you take a look at the test to see if it is solving the issue? I checked that the test fails before applying the patch, but passes after.

[2020-11-06 16:06] gibiansky commented on #993
Yes, I believe that is correct. Thank you!

[2020-11-06 17:35] #995 closed

[2020-11-06 18:10] vincentqb commented on #1000
(I would also flag the choice of `namedtensor` for further discussion.)

[2020-11-07 13:44] Honghe opened #1016 "pipeline_wav2letter: CER still 1.0 after 23 epochs."
## 🐛 Bug
CER still 1.0 after 23 epochs.

## To Reproduce

Steps to reproduce the behavior:

[code]
Log & error:
[code]
## Expected behavior

Normal training.

## Environment

[code]

[2020-11-07 15:26] lawlict commented on #982
Frustrating news is that the speed becomes much slower when replacing FFT with Fourier matrix...

[2020-11-07 15:39] mthrok commented on #982
Sorry to hear that. I'll follow up with the team.

[2020-11-09 19:18] andfoy commented on #1000
Just passing by on this discussion, we've already enabled FFmpeg support (also packaging) for FFmpeg on torchvision for all operating systems. Let us know if we can help you here

cc @fmassa

[2020-11-10 00:32] vincentqb commented on #1007
I'd suggest we add a warning if it is changed from the default value, and we can remove it in a subsequent version.

[2020-11-10 00:44] vincentqb commented on #1011
If you keep, `download=True`, the file is not downloaded, and the dataset is built correctly, right? As you point out, the current behavior of `download` is to set up the dataset by downloading and extracting the files. The documentation could be updated if this is not clear.

The dataset should raise an error as it is, since the dataset was not properly rendered. A simple check would be to see if

[2020-11-10 01:07] vincentqb commented on #994
That's a very good catch, thanks! This should be replaced by a min/max, e.g. [here](https://github.com/pytorch/pytorch/issues/2793#issuecomment-428784713). Do you want to open a pull request for this?

[2020-11-10 07:56] Stehsegler commented on #994
Thanks for your feedback!

As I'm not familiar with the Torch (Audio) Codebase and especially test infrastructure, I'm afraid I won't be able to open a pull request myself.

[2020-11-10 15:21] #1008 closed

[2020-11-11 00:40] vincentqb commented on #1016
Thanks for opening the issue :) The convergence depends on the hyperparameters and the dataset. In particular, the parameters listed in the readme work with `--dataset-train train-clean-100 train-clean-360 train-other-500` and not `--dataset-train train-clean-100`. I agree it would be a good idea to add parameters compatible with `--dataset-train train-clean-100` as well.

[2020-11-11 15:48] vincentqb commented on #1016
(for reference, see a sample output [here](https://github.com/pytorch/audio/pull/632#issuecomment-725499109))

[2020-11-11 16:06] mthrok commented on #1000
@andfoy Thanks for the offer. Yes, this RFC is at the moment for defining the goal. When I get to the detail of the implementation detail, I will ask for the help there.

[2020-11-11 16:41] pzelasko opened #1019 "Inconsistent SoX speed behaviour compared to WavAugment"
## 🐛 Bug

With the following effect chain:
[code]

being applied to a tensor of 16000 samples (with a sampling rate of 16000) I am receiving an output that has a different number of samples than the input. This behavior is inconsistent with what WavAugment does - the shapes are always identical.

This is tested in Lhotse [here for WavAugment](https://github.com/lhotse-speech/lhotse/pull/124/files#

[2020-11-11 17:23] mthrok commented on #1019
Hi @pzelasko

How off are they each other?

My initial thought is that this is not a bug but the way WavAugment handles speed is different.
Second thought is that based on the `libsox` being used, it generates a slightly different results. I noticed this when I was writing tests for the sox effects. (sox command installed via OS utility vs the one cmake builds as a part of torchaudio build process

[2020-11-11 17:37] pzelasko commented on #1019
Yeah, bug might not be the best description - sorry.

I don't think it's actually the `speed` behaviour, seems like the difference is in how the `rate` effect is being applied. Consider the following:

[code]

That last effect chain in WavAugment would have returned a tensor of shape [1, 16000]. Now that I think of it, it's reasonable that the number of samples would have changed... I'll need to c

[2020-11-11 17:49] pzelasko commented on #1019
OK I think I understand it now. When the output length description is specified in their effect chain invocation, they are truncating or zero-padding the signal (I see that here: https://github.com/facebookresearch/WavAugment/blob/master/augment/speech_augment.h#L120). Sorry for the false alarm! 😉

[2020-11-11 17:50] #1019 closed

[2020-11-11 18:17] mthrok commented on #988
The effects that are not tensor manipulation are explicitly not supported. We do not plan to support them.
`ladspa` is not explicitly excluded but probably the plugin is not available on your system.

https://github.com/pytorch/audio/blob/0e1d814b76725f50b76d938b474b616a15009b45/torchaudio/csrc/sox_utils.h#L50-L51

[2020-11-11 18:17] #988 closed

[2020-11-11 19:00] mthrok commented on #1019
Glad you figured. :)

[2020-11-12 01:06] mthrok commented on #982
So I was told that there is no plan to add stft/istft functions to ONNX at the moment.
The best way would be to write a proposal following their [guide](https://github.com/onnx/onnx/blob/f1311e74ec8a91cbf86094cd6f10157cbf00c536/docs/AddNewOp.md)
This seems to require significant amount of efforts.
Due to my workload, I cannot take an initiative on this one though I think this is very valuable work

[2020-11-12 16:17] pzelasko opened #1021 "SoX effect "rate" crashing or hanging in multiprocessing"
## 🐛 Bug

This time I'm pretty sure it's a bug :P

When running torchaudio speed + rate SoX effect chain inside of a `ProcessPoolExecutor` on the CLSP grid, the subprocess experiences segmentation fault inside the `apply_effects_tensor` function. I managed to make the subprocess wait and attached gdb to it, and this is the native stack trace I got:

[code]

The same test seems to be hanging in Lho

[2020-11-12 18:35] ghost opened #1023 "Generating good quality spectrograms for analysis using torchaudio"
Hi,

I am highly interested in generating spectrograms in GPU, However, the spectrograms generated using torch audio do not seem to be of that good quality compared to the spectrograms generated by Librosa. However, Librosa doesn't run on GPU.

To make it more clear please find the attached spectrograms.

For torchaudio:
![torchaudio](https://user-images.githubusercontent.com/74375933/98981406-cd1

[2020-11-12 18:53] cpuhrsch commented on #1023
Hello @romanshrestha17-iv,

Thank you for posting this issue!

[2020-11-12 19:07] romanshrestha17-iv commented on #1023
Hi @cpuhrsch ,

Thank you for your prompt response. Yes, I tried to generate spectrograms for some of the files from the kaggle dataset to just test out how the spectrograms would look.

Now we are moving onto a confidential dataset soon, but if its able to generate spectrograms that look as good as Librosa that would be great. Please find the link to dataset below.

https://www.kaggle.com/monogen

[2020-11-12 21:50] mthrok commented on #1021
Hi @pzelasko

I confirm I could reproduce the issue. I will take a look into it.

<details><summary>error</summary>

[code]

</details>

<details><summary>env</summary>

[code]
</details>

[2020-11-12 23:28] mthrok commented on #1021
@pzelasko

Could you check what initialization method is used to launch subprocess?
One possible cause is how subprocess is launched. https://github.com/pytorch/pytorch/issues/46409#issuecomment-712298214

If I modify the test and change it to `exec_type(1, mp_context=multiprocessing.get_context('spawn'))`. It worked.
If this is the case, the root cause might be same as https://github.com/pytorch/

[2020-11-13 00:15] vincentqb commented on #1023
I'm getting very similar MelSpectrogram [here](https://colab.research.google.com/drive/1Tw8ua9PXg_ZpRMpaDAFoAZxv46-b8hA0?usp=sharing) with that dataset, do you have a code so we can reproduce?

[2020-11-13 01:15] mthrok commented on #638
Fixed by #788

https://pytorch.org/audio/0.7/functional.html#compute-deltas

[2020-11-13 01:15] #638 closed

[2020-11-13 01:41] keunwoochoi commented on #1023
@romanshrestha17-iv If it's a manual inspection, I'd say you should just stick with librosa which has many default values set up nicely. Otherwise, check out options like i) using mel-spectrogram instead of STFT ii) use decibel scaling iii) clamp the input of decibel scaling (check out how librosa does), or similarly, do `linear_to_decibel(1 + abs(melspectrogram))`.

[2020-11-13 02:27] pzelasko commented on #1021
Thanks @mthrok, that is a valid work-around that un-blocks Lhotse :)

FYI you mentioned in that other thread that libsox was not built with OpenMP, but the three top frames from the call stack I reported suggest otherwise. Note that it broke [at line 190 in update_fft_cache](https://github.com/dmkrepo/libsox/blob/b9dd1a86e71bbd62221904e3e59dfaa9e5e72046/src/effects_i_dsp.c#L190), that calls a macr

[2020-11-13 03:42] mthrok commented on #1021
Glad it helped.

In https://github.com/pytorch/pytorch/issues/46409, the issue was focusing on macOS environment, and the binary distributions of torchaudio for macOS does not include OpenMP. The binary distributions for Linux have them.

I was not sure why there was MKL on the stack trace you shared, but that makes sense. Thanks for letting me know.
I guess that the cause of the issue is `fork` v

[2020-11-13 04:20] mthrok commented on #1021
I will add the workaround to the documentation.
I think this will be a pitfall potentially many people will fall in.

[2020-11-13 10:49] krishnakalyan3 commented on #1007
I would like to work on this. Would something like the below be okay?

[code]

[2020-11-13 10:55] romanshrestha17-iv commented on #1023
@keunwoochoi Thanks for the suggestion. I've tried all of them out and still there is not much difference with torch audio spectrograms. I'm using librosa at the moment. I'm particularly interested in torchaudio because GPU's could help accelerate the spectrogram generation process.

[2020-11-13 10:57] romanshrestha17-iv commented on #1023
Thank you for investigating this issue Vincent. a snippet of the code used to generate log-mel spectrogram from librosa is here:

def scale_minmax(X, min=0.0, max=1.0):
    X_std = (X - X.min()) / (X.max() - X.min())
    X_scaled = X_std * (max - min) + min
    return X_scaled

def spectrogram_image(y, sr, out, hop_length, n_mels):
    # use log-melspectrogram
    mels = lr.feature.melspectrogram(

[2020-11-13 11:01] kshitij12345 commented on #611
@Micheladar Hi, are you working on it?

[2020-11-13 11:15] krishnakalyan3 commented on #764
[code]

Do we just rename all occurrences of this file to above? (sox_compatibility_test.py, transforms_test.py, batch_consistency_test.py, io_test.py, README.md)

[2020-11-13 14:37] mthrok commented on #1021
On Ubuntu, disabling OpenMP support for libsox seems to resolve the issue.
https://github.com/pytorch/audio/pull/1026

[2020-11-13 17:37] cpuhrsch commented on #1023
@romanshrestha17-iv Could you also please post the code you used to generate the torchaudio image?

[2020-11-13 17:49] cpuhrsch commented on #1021
As a first step you could try [OMP_NUM_THREADS=1](https://gcc.gnu.org/onlinedocs/libgomp/Environment-Variables.html) and see if this still causes the segfault. This will disable any openmp parallelization.

[2020-11-13 17:53] cpuhrsch commented on #1021
Another thing we should make sure is that torchaudio's sox is using PyTorch's openmp (PyTorch statically links openmp and ships with it). Or maybe we decide to disable openmp for sox entirely, but let's do some perf investigation before we do that.

[2020-11-13 18:12] mthrok commented on #1021
@cpuhrsch I tested with `OMP_NUM_THREADS=1` but it is still causing segmentation fault. What do you think this implies?

[2020-11-14 17:03] jcaw commented on #994
I've got a local patch for this, didn't realize there was already a ticket open. Would you like me to open a PR?

[2020-11-14 23:50] jcaw commented on #994
I think in order to upstream I think I need to clarify some things:

1. My understanding is that the objective here is to retain the clamping behaviour, but apply a separate clamp per-spectrogram. Is this correct?
2. What input shape should `amplitude_to_DB` expect? Is it always a spectrogram with N channels, requiring batches to be packed? Should it be capable of receiving an unpacked batch (with

[2020-11-15 09:11] forest1988 opened #1030 "Correct notation fluctuation in README.md"
## 📚 Documentation

I've just started using this project, and while I was reading the README, I noticed that PyTorch and Pytorch are not written consistently.

If this is a deliberate change, I apologize for my misunderstanding.
However, If my understanding is correct, I would like to suggest changing the notation from Pytorch to PyTorch, just in case.

Excuse me for my sudden PR https://github.co

[2020-11-15 15:38] romanshrestha17-iv commented on #1023
@cpuhrsch the code use to generate torchaudio image is the similar to what @vincentqb has shared in his notebook [here](https://colab.research.google.com/drive/1Tw8ua9PXg_ZpRMpaDAFoAZxv46-b8hA0?usp=sharing)

[2020-11-15 16:24] mattip opened #1031 "CI: Nightly build is not running build_docs"
PR gh-1006 added `build_docs` and `upload_docs` jobs, the former is meant to run on every PR, merge, and nightly run, and the latter on nightly and tags. But the `build_docs` does not [run on nightly](https://app.circleci.com/pipelines/github/pytorch/audio/3868/workflows/b30f6af1-3252-4eaf-b81c-a8d6b230c43b) since it [requires `binary_linux_wheel_py3.8`](https://github.com/pytorch/audio/pull/1006/

[2020-11-16 16:05] vincentqb commented on #1030
Thanks for opening a PR for this :) The CLA instructions are linked directly in the PR: [comment](https://github.com/pytorch/audio/pull/1029#issuecomment-727538189).

[2020-11-16 16:10] vincentqb commented on #1016
Based on the answers above, I'll close the issue. Please feel free to re-open if the issue continues for you.

[2020-11-16 16:10] #1016 closed

[2020-11-16 16:30] vincentqb commented on #994
That would great :)

Yes, we should retain the clamping behavior.

That's an interesting point: per channel or spectrogram? Reading at the code, I'd say the intended behavior is likely to have been per spectrogram, since the batching came later. So let's keep this behavior.

Batches and channels were packed together to add batching support, so this does need to be fixed. In particular, this means

[2020-11-16 16:52] forest1988 commented on #1030
Thank you for your kind comment!
I've just signed the CLA. I'll write about that in the PR, too.

[2020-11-16 17:35] #1030 closed

[2020-11-16 18:36] vincentqb commented on #1007
We should give one release of warning. We've just released 0.7, so this message will be visible in 0.8. We can then remove in 0.9 :)

Let's put the warning at the beginning of the function call, [here](https://github.com/pytorch/audio/blob/master/torchaudio/functional/functional.py#L141). And we should also provide instructions on how to suppress the warning. I suggest something like this:

[code]

[2020-11-16 19:42] vincentqb commented on #476
This test is no longer ran as part of CircleCI.

[2020-11-16 19:42] #476 closed

[2020-11-16 21:54] vincentqb opened #1035 "Use torchbinds to bind libsndfile in place of pysoundfile"
Bind libsndfile directly using torchbinds instead of relying on pysoundfile.

[2020-11-16 23:34] mthrok commented on #1021
I talked with @malfet, and it is most like that Intel's OpenMP and GNU Open MP are conflicting.

[2020-11-17 00:16] mthrok commented on #1031
Closing as this is addressed in  #1033 and #1034.

[2020-11-17 00:16] #1031 closed

[2020-11-17 13:01] orlando-labs opened #1040 "libsox does not detect mp3 when extension is missing"
## 🐛 Bug

Sox IO backend doesn't allow to load file with explicit filetype while doesn't offer auto detection.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Expected an autodetect feature or allowance to pass an explicit format argument

## Environment

torch/torchaudio build from source. master of v0.7.0 affected

[2020-11-17 16:18] mthrok commented on #1040
Hi @orlando-labs

Thanks for the feedback. I will look into it.

[2020-11-17 20:40] mthrok commented on #1040
Looks like this happens on specific formats, like `mp3`, but not on `wav` or `flac`.

[2020-11-18 14:44] mthrok commented on #1040
Hi @orlando-labs

Do you use other formats than `mp3` that I should be looking into?

[2020-11-18 14:58] mthrok commented on #1040
Investigation Note:

On torchaudio side, error happens [here](https://github.com/pytorch/audio/blob/f3b9208f8ab970ce8bcf16b6137ade282053c4b1/torchaudio/csrc/sox_utils.cpp#L97), which was called [here](https://github.com/pytorch/audio/blob/f3b9208f8ab970ce8bcf16b6137ade282053c4b1/torchaudio/csrc/sox_effects.cpp#L103)

This happens because [`sox_open_read`](https://github.com/dmkrepo/libsox/blob/b9d

[2020-11-18 15:22] orlando-labs commented on #1040
Hi, currently mp3 only

[2020-11-18 19:48] #1007 closed

[2020-11-18 19:55] amiguelartiaga opened #1047 "torchaudio with RTX 3090"
I have followed the nightly build install instructions recommended for the new GPU: RTX 3090, shown in:

[https://github.com/PyTorchLightning/pytorch-lightning/issues/4587](https://github.com/PyTorchLightning/pytorch-lightning/issues/4587)
[https://github.com/pytorch/pytorch/issues/45028](https://github.com/pytorch/pytorch/issues/45028)

 `pip install --pre torch torchvision -f https://download.py

[2020-11-18 20:05] vincentqb commented on #1047
Thanks for opening the issue! Can you provide the output of each command and how the installation is failing? In particular, can you provide the error message when you try to run the following?
[code]
Similarly for conda.

[2020-11-18 20:52] amiguelartiaga commented on #1047
Thank you,
I have tried as you suggest:
`pip install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html
Looking in links: https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html
Collecting torch
  Using cached https://download.pytorch.org/whl/nightly/cu110/torch-1.8.0.dev20201118%2Bcu110-cp38-cp38-linux_x86_64.whl (1210.5 MB)
Collectin

[2020-11-19 06:46] qute012 commented on #991
@mthrok
Thank you for response.

[2020-11-19 06:46] #991 closed

[2020-11-19 15:21] vincentqb commented on #1047
thanks for adding information @amiguelartiaga!

@seemethere -- are the packages for cuda 11 also available through some other mean?

[2020-11-19 15:30] vincentqb commented on #950
Thanks for the contributions! I'll mark this as done now :)

[2020-11-19 15:30] #950 closed

[2020-11-19 18:02] vincentqb commented on #1040
(flagging this as potentially BC-breaking since sox_io is planned to become the default in 0.8)

[2020-11-19 18:03] vincentqb commented on #1010
(potentially BC-breaking if sox_io becomes the default)

[2020-11-19 20:15] vincentqb opened #1051 "Use glob in datasets instead of walk_files"
Replace walk_files+filter in datasets by globing,
- [x] librispeech
- [x] libritts
- [x] speechcommands
- [x] ~~tedlium~~
- [x] vctk
- [x] yesno

Example (noted in [discussion](https://github.com/pytorch/audio/pull/1069#discussion_r542765428)):
[code]

- [x] Once this is done, we can deprecate `torchaudio.datasets.utils.walk_files`.

cc #910

[2020-11-19 21:50] faroit commented on #1051
Shouldn't the globs be sorted for reproducibility reasons?

[2020-11-20 15:09] vincentqb commented on #1051
Yes, tests should catch if the order is not consistent, see also [comment](https://github.com/pytorch/audio/pull/966#discussion_r512372561).

[2020-11-20 16:16] mthrok opened #1053 "Merge flake8 configurations"
Currently we have `tox.ini` with only flake8-related configuration and `.flake8`.
In the workflow of torchaudio development we do not use `tox`.
I do not know the origin of them but we should merge these into `.flake8`.
PyTorch repo does not have `tox.ini` either so it's simpler for us to do the same thing.

[2020-11-20 17:03] mthrok commented on #1021
@pzelasko I have disabled the OpenMP support for `libsox`, which is the suspected cause. It will be available as nightly tomorrow, and we are adding the change to the `0.7.1` minor release, which happens expected in early December. If you have time, can you try the nightly and see things work without using `"spawn"` ?

[2020-11-20 20:12] jcaw commented on #994
Awesome!

This also matches [librosa's](https://github.com/librosa/librosa/blob/a53fa56bdb6695a994008d5b6ccd0100870a6036/librosa/core/spectrum.py#L1565) behavior.

[2020-11-20 20:15] jcaw commented on #994
Working through this now - I need to clarify the intended structure.

The current [test](https://github.com/pytorch/audio/blob/master/test/torchaudio_unittest/functional/functional_cpu_test.py#L84) expects `amplitude_to_DB` to work on both waves and spectrograms. This means we can't infer the indexes of the input tensor unless we either assume the data is always batched, or always a spectrogram. W

[2020-11-22 02:07] shanesyy-1992 commented on #613
Hello, I got the same issue here. Because of some environment problems, I need to stick on using torch 1.5.1, so the corresponding torchaudio version is 0.5.1. However, I found that only the versions start from 0.6.0 have the fix. I wonder is that possible that the changes here can be updated into the 0.5.1 released version? Many Thanks!

[2020-11-22 03:23] mthrok commented on #613
Hi @shanesyy-1992

Unfortunately, we do not have a plan to update the past releases. Since the code is pure Python, the best you can do is to create a patch file, then apply it to your installation.

[2020-11-22 07:02] bhargavkathivarapu commented on #1053
@mthrok  Along with flake8 configurations can we include precommit hooks , so that style issues , imports ordering ,unused imports etc  won't come into commits. It seems Pytorch already has  a pre commit setup( https://github.com/pytorch/pytorch/blob/master/tools/git-pre-commit ) . May be we can extended that for this repo or use configuarations like [isort](https://github.com/PyCQA/isort) , [pre-

[2020-11-22 09:41] shanesyy-1992 commented on #613
Got it. Thanks a lot for the reply!

[2020-11-23 14:51] rbracco commented on #800
@antimora Thank you for your work. If you have time can you please share the final code using miniaudio for resampling and decoding? Thank you!

[2020-11-25 23:29] jcaw commented on #994
@vincentqb any thoughts? I have the PR ready to go, I just need to know the structure. I'm thinking following the lead of `mask_along_axis` and having two methods is most sensible (although I don't understand the `iid` naming convention).

[2020-11-26 11:42] adefossez opened #1057 "Torchaudio resampling could be faster and simpler"
## 🐛 Bug

I have been implementing a few DSP algorithms lately, including sinc based resampling.
The following implementation could simplify the code in torchaudio and is also faster (single call to conv1d, instead of multiple calls to conv1d and conv_transpose1d). I'll be happy to open a pull requests if you are interested.

https://github.com/adefossez/julius/blob/main/julius/resample.py

## To

[2020-11-26 11:43] adefossez commented on #1057
See https://github.com/adefossez/julius/issues/4 for context.

[2020-11-26 19:30] SolomidHero opened #1058 "MelSpectrogram inconsistency with librosa melspectrogram"
Hello! I am excited with this framework a lot and its ability to make transformations on gpu.

**Problem:**
`transforms.Spectrogram` (with power 1.) (which is real) output equals to absolute value of `librosa.stft` (which is complex) with equal parameters.

Here is spectrograms for my example audio (really close results):
<img width="686" alt="Screenshot 2020-11-26 at 22 23 12" src="https://user-i

[2020-11-27 00:07] eldrin commented on #1058
Hi! I also happened to have a similar issue with MFCC. After some digging, I found librosa use `slaney` normalization for the mel-filterbank creation as the default, while torchaudio is no normalization by default. (no option to feed normalization setup at the `MelSpec`/`MelSpectrogram` construction.

https://github.com/pytorch/audio/blob/fb3ef9ba427acd7db3084f988ab55169fab14854/torchaudio/transfo

[2020-11-27 19:45] turian opened #1059 "SpectralCentroid transform"
## 🚀 Feature

torchaudio.transforms.SpectralCentroid

## Motivation

This is a common audio transform, included in Librosa.

## Pitch

A differentiable SpectralCentroid would be useful for audio neural networks.

## Alternatives

Here is the [librosa implementation](https://librosa.org/doc/0.8.0/_modules/librosa/feature/spectral.html#spectral_centroid).

## Additional context

Here is a simplified

[2020-11-30 15:31] mthrok commented on #994
HI @jcaw

You can go ahead and open a PR.
I would like to update our test infrastructure to catch this kind of bugs, so let me think of a way.

[2020-11-30 15:58] vincentqb commented on #1057
That's great :) Yes, faster resampling is of interest to us, e.g. #908 and #911.

[2020-11-30 16:04] vincentqb commented on #1057
In terms of testing, you can look at [the testing readme](https://github.com/pytorch/audio/tree/master/test/torchaudio_unittest), but tests should catch support for batching and torchscript among a few things.

Grepping shows:
[code]

Do you have any thoughts on showing correctness?

[2020-11-30 16:24] adefossez commented on #1057
I'm usually testing against `resampy`, although the default `resampy` filters uses a different window than Hann, so with the default config, the delta is around 1%. I can look into what config to give it to have it use Hann window, so that the test is really robust.
This adds an external dependency for testing, but the advantage is cleaning up the torchaudio codebase.

[2020-11-30 16:44] jcaw commented on #994
Great, will do.

[2020-11-30 17:33] vincentqb commented on #1057
I'm ok with an external dependency for testing. Knowing how well the current implementation in torchaudio match a library like this would be good to know.

[2020-11-30 22:22] faroit commented on #733
furthermore together with torch 1.7 I now get deadlocks when using `bg_iterator`... simular to [this report](https://discuss.pytorch.org/t/possible-deadlock-training-example-gets-stuck/94221). Is there anything that could have caused this?

[2020-12-01 20:23] mthrok commented on #1053
@bhargavkathivarapu

Thanks for the suggestion. However, in my experience, this kind of pre-commit hook is more counter-productive than helpful. I often push my WIP branch for the purpose of backup, because my development workflow sometimes involve multiple machines on network. I polish my changes only before publishing a PR and pre-commit hook only helps in those occasions.

Also one has to insta

[2020-12-01 21:27] mogwai commented on #1057
I'm not an expert in resampling by any means but I created a quick benchmark for speed and compared Log Spectral Distance and the Noise Ratio between slower more high quality methods in a [notebook](

[2020-12-02 17:42] SolomidHero commented on #1058
But another problem is confusing use of power argument.

[2020-12-02 17:48] mthrok commented on #1058
@SolomidHero
Can you elaborate this one? I think I have a similar opinion on the `power` used in complex values in torchaudio. I am thinking if a way to improve it while I work on the migration of native complex type.

[2020-12-02 19:38] SolomidHero commented on #1058
Sure!

Let's see a common transformation: **input (wav)** -> **melspectrogram** -> **output (same wav)** done with librosa and with torch:
[code]
Let' assume our `power` is x, that we want use in between (x is `1.` or `2.` commonly)
[code]

It is clear power is applied only to absolute value of spectrogram, and it is understandable, in my opinion, to have such parameter in `librosa.inverse.mel_to_

[2020-12-04 02:28] turian commented on #704
@FBMachine what is the inplace operation in the latest master?

https://github.com/pytorch/audio/blob/5e54c770b41bbdb7b228fe511b364f3f2aa96a88/torchaudio/functional/__init__.py

Can you please copy and paste the offending lines here?

[2020-12-04 18:17] #251 closed

[2020-12-05 17:43] turian commented on #704
@FBMachine It appears nnAudio has a lowpass filter that is differentiable:

[code]

[2020-12-08 00:29] mthrok commented on #1040
@orlando-labs

I landed #1042, which adds header-based mp3 detection.
It will become available starting from tomorrow's nightly build (which happens at around 7:30 AM in Eastern Time)
I believe it works as long as the mp3 file is well-formatted, but can you try and tell if it works?

[2020-12-08 00:38] mthrok commented on #1040
@vincentqb

Oops I accidentally deleted the comment, but switching to sox_io *IS* BC-breaking so no need to flag something additionally.

[2020-12-08 00:46] mthrok commented on #733
@vincentqb Do you want to look into this?

[2020-12-08 02:24] mthrok opened #1072 "RFC: Streaming Inference / Application"
Torchaudio team is looking for a way to support streaming applications. We are trying to define the problem space and scope the challenge we tackle. For this purpose, we would like to learn your thoughts and experience in streaming applications. If you have a thought, please let us know by leaving a comment.

Questions include, but not limited to
- How are you feeding your input stream to your sys

[2020-12-09 02:50] mthrok opened #1077 "Update on CommonVoice"
For master branch;

- [x] ~#1079~ Revert #1018
- [x] ~#1080~ Disallow `download=True` (cherry-pick ~#1076~)
- [x] #1082 Remove execution paths for `download=True` and clean up the code
- ~#1083~ Superseded by updated #1082
    - ~Deprecate `download` and `url` argument~
    - ~Introduce `language` argument.~
    ~The introduction of `language` argument should come with the team's agreement.~
- ~Up

[2020-12-09 15:56] mthrok opened #1081 "Remove redundant dataset utilities"
Some utilities in `torchaudio.datasets.utils` are no longer needed and we should get rid of them.

* [`unicode_csv_reader`](https://github.com/pytorch/audio/blob/a2085b85f04d693222297bf614a5e5b34de04986/torchaudio/datasets/utils.py#L21-L48)

* [`makedir_exist_ok`](https://github.com/pytorch/audio/blob/a2085b85f04d693222297bf614a5e5b34de04986/torchaudio/datasets/utils.py#L51-L61) (also mentioned in

[2020-12-09 20:23] mthrok commented on #1000
@andfoy I just realized that if torchaudio binds ffmpeg and ship static binary, then the version that torchvision ships and torchaudio ships might collide, so if torchaudio decides to add ffmpeg binding, we definitely work together.

[2020-12-09 22:18] andfoy commented on #1000
@mthrok, the last point shouldn't be a problem once https://github.com/pytorch/vision/pull/2818 is merged, that PR relocates FFmpeg always in torchvision in order to prevent collisions

[2020-12-11 16:33] fmassa commented on #1000
Hi,

Chiming in with some background on what we did for torchvision.

In the 0.4.0 release, [we introduced an API for reading video / audio](https://github.com/pytorch/vision/blob/0963ff715001a2bd27d235fd0f80df38a48eacf1/torchvision/io/video.py#L248) which is very similar to the API you proposed, where the API is
[code]
One difference was that we didn't expose any resampling method for changing th

[2020-12-14 10:24] expectopatronum commented on #903
This might be a stupid question, but should the warning `UserWarning: "sox" backend is being deprecated. The default backend will be changed to "sox_io" backend in 0.8.0 and "sox" backend will be removed in 0.9.0. Please migrate to "sox_io" backend. Please refer to https://github.com/pytorch/audio/issues/903 for the detail.` disappear after setting the backend?

I import `torchaudio` in the follow

[2020-12-14 12:56] adefossez commented on #1057
I did a first pull request. As I adapted my code so that the resampling parameters match exactly those used before, I did not change the unit tests (which are comparing the resampling of one audio file to Kaldi original implementation). If you think it is worth it @vincentqb I can add extra unit tests to compare against resampy.

[2020-12-14 13:27] mthrok commented on #903
Hi @expectopatronum

The warning is issued at the time `import torchaudio` is executed, where the default backend is set. I get that it's annoying and sorry for the confusion, but I really needed to raise a strong awareness as the sox backend was not handling data correctly.

[2020-12-14 13:34] mthrok commented on #903
@expectopatronum

If you use nightly builds, then the default backend is already changed to the new one, and you won't see the warning.

[2020-12-14 14:19] expectopatronum commented on #903
No worries, I just wanted to make sure I am doing it right! Thanks for the quick reply!

[2020-12-14 15:53] harsh244 opened #1088 "torchaudio error while loading CommonVoice"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `import torchaudio`
2. `train_dataset = torchaudio.datasets.COMMONVOICE("./data", url='english', download=True)`

[code]
## Expected behavior
It seems that there should be folder like
`./data/CommonVoice/cv-corpus-4-2019-12-10/en/`
in the .`/data` directory, but below are the actual contents of the data directory
[code]
It seems that

[2020-12-14 15:53] harsh244 commented on #1088
Please let me know incase I am missing something

[2020-12-14 17:50] mthrok commented on #1088
Hi @harsh244

Thanks for reporting, I found the same bug and the code is wrong in the first place.
Can you move the data from `./data` to `./data/CommonVoice/cv-corpus-4-2019-12-10/en`?

[2020-12-15 06:37] harsh244 commented on #1088
yeah, that's what i did and it works that way, but I was hoping that the code would automatically take care of creating the required directories.

[2020-12-15 11:12] faroit opened #1090 "Add spoken digit dataset and baseline model"
## 🚀 Feature
Given that there is a lack of small and comprehensive audio tasks, I would propose to add a speech MNIST dataset to torch audio.

## Motivation

In the audio domain, we often lack small toy scenarios that would be a good equivalent to the ubiqous MNIST task.
A spoken digit dataset and model could help to sketch and try audio ML ideas.

## Pitch

add either of the two:

* [FSDD](https:

[2020-12-15 15:30] vincentqb commented on #267
pytorch/pytorch#49338

[2020-12-15 22:17] cpuhrsch commented on #1000
Some thoughs

## Sample rate

I'm wondering whether we should return sample_rate alongside the wav form by default? Why not use torch.info or such?

a) User wants sample rate under current proposal
[code]
b) User wants sample rate using torch.info
[code]
c) User doesn't want sample rate under current proposal
[code]
or
[code]
d) User doesn't want sample rate using torch.info
[code]

I claim that w

[2020-12-15 22:33] cpuhrsch commented on #1000
On a general note, I'd propose narrowing the scope of this RFC to even just fast audio loading from paths unless we broaden it and also include io Buffers and streams. That is in favor of having something very specific like torchaudio.io.read_audio_from_path and then adding a mechanism to torch.load that'll choose the right factory function.

To derisk an ill-designed grab bag of file location spe

[2020-12-15 22:42] mthrok commented on #1002
Issues in [`sox_io_backend.py`](https://github.com/pytorch/audio/blob/d25a4ddff30095270032bda0cbcf4f61e65e531f/torchaudio/backend/sox_io_backend.py#L97-L101) and [`_soundfile_backend.py`](https://github.com/pytorch/audio/blob/d25a4ddff30095270032bda0cbcf4f61e65e531f/torchaudio/backend/_soundfile_backend.py#L103-L107)

The return types of `load` functions are tuple of `[Tensor, int]`. [The legacy b

[2020-12-15 22:52] mthrok commented on #1002
Issue:

https://github.com/pytorch/audio/blob/d25a4ddff30095270032bda0cbcf4f61e65e531f/torchaudio/backend/_soundfile_backend.py#L103-L107

The return types of `load` functions should be tuple of `[Tensor, int]`. [The legacy backends](https://github.com/pytorch/audio/blob/d25a4ddff30095270032bda0cbcf4f61e65e531f/torchaudio/backend/common.py#L113-L117) have the accurate description.

[2020-12-16 00:59] mthrok commented on #1088
Yeah

Yeah, that's the expectation but there was an oversight, sorry about that.
There is another development on CommonVoice.
For legal reasons, we are removing the download feature, so unfortunately we do not have an opportunity to make this right in the way originally, expected.
Once the #1082 is merged, we ask users to download and extract the archive manually, then provide the directory where

[2020-12-16 01:00] mthrok commented on #1088
Closing as the work-around is confirmed and we cannot fix it anymore.

[2020-12-16 01:00] #1088 closed

[2020-12-16 09:47] harsh244 commented on #1088
thanks for the info

[2020-12-16 11:50] taketakeseijin commented on #984
You should not import torchaudio in the build directory.
I mean,

[code]

[2020-12-16 15:21] vincentqb commented on #984
Thanks for the response :) I've clarified the issue above to highlight that the issue occurs before I run `python -c "import torchaudio"`.

[2020-12-16 16:30] vincentqb commented on #984
Closing the issue since the appropriate developer tool were not installed on the machine.

[2020-12-16 16:30] #984 closed

[2020-12-16 21:52] RimaOlson opened #1094 "SignalInfo in new AudioMetaData"
Hi,
We're using `sox_io` backend for torchaudio. New version of the `AudioMetaData` class returned by the `info` method doesn't have all the data I need for analysis.
` info` method in the deprecated `sox` backend used to return `sox_signalinfo_t` and `sox_encodinginfo_t` that had much more detailed information about encoding, bit depth etc.
What should I use to get the info about audio file's enc

[2020-12-16 23:14] vincentqb commented on #1094
(since this is part of the BC-breaking change discussed in #903, cc @mthrok)

[2020-12-17 00:20] mruberry opened #1095 "torch.stft calls need to be updated to set the return_complex kwarg"
torch.stft (https://pytorch.org/docs/master/generated/torch.stft.html?highlight=stft#torch.stft) has deprecated not setting the return_complex kwarg, and we want to make passing return_complex required before the PyTorch 1.8 release. To avoid torchaudio breaking with PyTorch nightlies or PyTorch 1.8 it needs to update its torch.stft calls to pass the return_complex argument.

[2020-12-17 00:43] mthrok commented on #1094
Hi @RimaOlson

Currently there is no way to get the other information using "sox_io" backend.
We made this decision because, exposing the internal of `libsox` makes it very difficult to maintain the backends across the different OS.

Having said that, could you give information of what type of attributes you are using as a form of feature request?
From there I can come up with a way to make it ava

[2020-12-17 01:00] RimaOlson commented on #1094
@mthrok we use following attributes to ensure proper encoding of audio files before feeding them into our models:

[code]

[2020-12-17 01:12] mthrok commented on #1094
Thanks @RimaOlson

1. Could you tell, which value do you use for `encoding`?
    For the available values of `encoding`, you can see https://fossies.org/dox/sox-14.4.2/sox_8h.html#ab0a659b0258d1989c751ba5415e6a4cd

2. `length` is the number of samples (across channels) so you should be able to get the number with `num_channels * num_frames`. Let me know if this is not the case.

[2020-12-17 01:17] RimaOlson commented on #1094
1. `encoding-> 1 (SOX_ENCODING_SIGN2) `and `encoding-> 9 (SOX_ENCODING_ULAW )`
2. So `num_frames` is the same as `sox_signalinfo_t.length` for `mono` files?

[2020-12-17 01:57] mthrok commented on #1094
@RimaOlson

Thanks

Yes.

[2020-12-17 03:51] vincentqb commented on #1090
The two datasets sound great :) and the example you mention would make for a nice tutorial, e.g. #1204, thoughts?

[2020-12-17 04:04] #1095 closed

[2020-12-17 08:11] faroit commented on #1090
@vincentqb I expect a lot of overlap with a possible baseline for the speechcommand dataset. Is there a simple and lightweight ASR model that we can use for a tutorial?

[2020-12-17 17:50] mthrok commented on #1040
@orlando-labs

Did you have a chance to try out the nightly build?

[2020-12-17 17:52] orlando-labs commented on #1040
I'll try it in a day

[2020-12-17 17:53] mthrok commented on #618
Closing the issue as the new backends handle this properly.

[2020-12-17 17:53] #618 closed

[2020-12-17 18:15] orlando-labs commented on #1040
tried master torchaudio==0.8.0a0+3616961
and nightly torchaudio==0.8.0a0+cc04bbb
unfortunately, with no positive effect

`Python 3.8.3 (default, Aug 31 2020, 16:03:14)
[GCC 8.3.1 20191121 (Red Hat 8.3.1-5)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: load() got an unexpected key

[2020-12-17 18:18] orlando-labs commented on #1040
MP3 files I try were produced by default FFMPEG encoder

[2020-12-17 18:38] mthrok commented on #1040
Can you provide the command used to generate/convert the file?

[2020-12-17 19:04] orlando-labs commented on #1040
Sure, i can clearly reproduce the issue with just sine wave being generated with
[code]

[2020-12-17 19:12] mthrok commented on #1040
Thanks, confirmed the issue. I will come back with the solution.

[2020-12-17 19:22] mthrok commented on #1094
@RimaOlson One more question about encoding. What formats (extensions) does your application expect?
I think there are formats other than WAV that are mapped to `SOX_ENCODING_SIGN2`, and would like to get a clearer vision if possible.

[2020-12-17 19:30] RimaOlson commented on #1094
@mthrok we use wav files

[2020-12-17 19:58] faroit commented on #903
@mthrok I have a problem getting int16 saving to work on `0.7.2`. What is the recommended procedure for this?

Furthermore, you mentioned above:

just converting a `[-1, 1]` `to(torch.int16)` wouldn't create a valid PCM 16bit wav file since it still has to be denormalized. Is this supposed to be done by the user?

[2020-12-17 20:03] mthrok commented on #903
@faroit

Yeah, one needs to denormalize the Tensor, that's what I meant there. I will update the description.

[2020-12-17 21:38] faroit commented on #903
@mthrok

thanks. Give that by far the most likely use-case for audio-to-audio models are:

[code]

and I don't think users should write out 32bit float except for they really want to (its twice the file-size). As such, it would be nice if the denormalization is builtin in to make int16 as simple to use as possible.

[2020-12-18 11:38] csukuangfj opened #1102 "inconsistent parameter name in `load` for different backends"
`normalize` vs `normalization`.

It makes it difficult to switch to different backends because of the different parameter name.

See the code below.

## no_backend

https://github.com/pytorch/audio/blob/80c97e6a78b6f1ead85d04c40badaa1014d8a24d/torchaudio/backend/no_backend.py#L13

## soundfile

https://github.com/pytorch/audio/blob/80c97e6a78b6f1ead85d04c40badaa1014d8a24d/torchaudio/backend/soundf

[2020-12-18 11:56] csukuangfj commented on #1102
BTW: some parameters are even missing in ``load`` within ``sox_io``. E.g., the ``out`` parameter.

I was expecting that ``load`` in all backends has the same interface.

[2020-12-18 12:42] csukuangfj commented on #1102
Furthermore, the value ``0`` of the parameter ``num_frames``in ``load`` has a **different** meaning in different backends.

[2020-12-18 13:49] mthrok commented on #1102
Hi @csukuangfj

Please refer to the documentation and #903 for the migration guide. We are intentionally introducing the BC breaking changes to achieve consistent behavior and interface across backends.

"sox" and "soundfile (legacy interface)" are the ones deprecated and "sox_io" and "soundfile (new interface)" are the replacement for the deprecated ones. "no_backend" is not intended for external

[2020-12-18 14:41] csukuangfj commented on #1102
@mthrok
Thanks for pointing to the link. I will read it.

---

In `soundfile_backend.py`, `num_frames == 0` is equivalent to `num_frames == -1`:
https://github.com/pytorch/audio/blob/80c97e6a78b6f1ead85d04c40badaa1014d8a24d/torchaudio/backend/soundfile_backend.py#L54-L55

However, in `sox_io` backend, it is a runtime error to set `num_frames` to 0. See the code

https://github.com/pytorch/audio/bl

[2020-12-18 15:47] mthrok commented on #903
@faroit

You are bringing up a very good point. Do you have a suggestion for API change?
The followings are the things we want to keep in mind;

* Correct (if saving float32, the same information should be recoverable up to the precision)
* No subtlety/surprise (conversion that involves potential data loss should be explicit)
* Convenient

I think adding a new argument of target dtype and default

[2020-12-18 16:01] mthrok commented on #1102
@csukuangfj

The `soundfile_backend.py` belongs to the legacy backend and `sox_io.cpp` belongs to the new backend. So, the behavioral discrepancy between them is intentional. When I was working on `sox_io` backend, I did not think it makes sense to interpret `num_frames==0` for loading all the frames.

But this makes me think that we should change the parameter type to `num_frames: Optional[int]`

[2020-12-18 16:02] jcaw opened #1103 "`compute_deltas` raising "CUDA error: invalid configuration argument" on large inputs"
## 🐛 Bug

`torchaudio.functional.compute_deltas` is raising a `CUDA error: invalid configuration argument` when the batch size is too large.

## To Reproduce

Steps to reproduce the behavior:

1. On my GTX 970, calling `compute_deltas` with a large enough spectrogram and batch size triggers this error, e.g. `compute_deltas(torch.rand([64, 2, 1000, 1000], device="cuda"))`.

Googling the other trigg

[2020-12-18 16:06] mthrok commented on #1103
Hi @jcaw

Thanks for the report and the detailed description. Looks like the fix should be applied in PyTorch, I will move the issue to PyTorch.

[2020-12-18 18:24] mthrok commented on #1040
Adding `filetype` argument in #1104

[2020-12-18 19:33] #1077 closed

[2020-12-18 19:37] mthrok commented on #1094
Note to self: this is the corresponding encoding + bit depth part in PySoundFile

https://github.com/bastibe/python-soundfile/blob/744efb4b01abc72498a96b09115b42a4cabd85e4/soundfile.py#L38-L94

[2020-12-19 17:42] mthrok commented on #1102
Closing the issue to consolidate the issue/discussion. Please comment on #903.

[2020-12-19 17:42] #1102 closed

[2020-12-19 17:45] mthrok opened #1109 "Remove `walk_files`"
Thanks to @krishnakalyan3, all the dataset implementations no longer uses `walk_files`. We can remove this by removing the following codes.

After removing, the following test should pass.

[code]

https://github.com/pytorch/audio/blob/7a3e15bc54d42081699da186e58d76143a30fae9/torchaudio/datasets/utils.py#L250-L283

https://github.com/pytorch/audio/blob/7a3e15bc54d42081699da186e58d76143a30fae9/test

[2020-12-19 17:50] mthrok commented on #1021
@pzelasko Can we close the issue? I believe now it works fine on "folk" method too.

[2020-12-19 18:31] pzelasko commented on #1021
Yes. Thanks!

[2020-12-19 18:50] #1021 closed

[2020-12-19 21:01] #1081 closed

[2020-12-20 04:13] 1nF0rmed commented on #1109
Hey!, I would like to work on this

[2020-12-20 05:19] 1nF0rmed commented on #1109
I've made a PR #1112

[2020-12-21 00:46] mthrok opened #1115 "Support in-memory encoding/decoding"
Add support for file-like object in I/O operations (info/load/save/sox_effects).

* [x] #1158 load
* [x] #1108 info
* [x] #1166 sox_effect
* [x] #1141 save func
* [x] #1165 smoke test
* (Optionally) Change argument name from `filepath` to `src`.

[2020-12-21 06:52] snakers4 commented on #903
@mthrok

Hi again,

Regarding this discussion

Basically we have released the bare-bones version here:
- https://github.com/snakers4/silero-vad

We are planning to add a couple of network "heads", finish the docs and then submit to Torch hub:

- Number detector (sometimes especially in enterprise people want to make data anonymous, and personal data is basically name + some numbers)
- Spoken langu

[2020-12-21 19:42] vincentqb commented on #1109
- Closing this issue will close #1051.
- Let's flag this as BC-breaking (even though I'd guess the risk low).

[2020-12-21 20:12] mthrok commented on #754
I have found a way to pass file-like object to libsox. #1108

[2020-12-21 22:04] mthrok commented on #1109
@1nF0rmed There was another PR submitted by @AzizCode92, slightly earlier than yours so I merged it. Sorry about that, but still thanks for the contribution.

[2020-12-21 22:04] #1109 closed

[2020-12-22 00:43] vincentqb commented on #1051
Closed by #1109

[2020-12-22 00:43] #1051 closed

[2020-12-22 18:39] #1040 closed

[2020-12-22 18:40] mthrok commented on #1040
@orlando-labs

I merged #1104, which adds `format` argument, which should resolve the situation.
Can you try the nightly build (starting tomorrow) and see if it works?

[2020-12-22 18:41] orlando-labs commented on #1040
Hi, @mthrok. Sure, I'll try it tomorrow.

[2020-12-22 18:49] mthrok commented on #910
@krishnakalyan3

If you are interested in, you can take a look into this. The overall direction is described above but it's not perfectly clarified so there are some perspectives that need to be figured out.

I think YesNo dataset can be a good starting point, as it is simple.

[2020-12-22 18:56] mthrok opened #1118 "Remove deprecated transform from Dataset"
VCTK and YesNo dataset have `transform` and `target_transform` arguments which have been deprecated over  AFAIK at least two releases, so we can get rid of them.

* (If you are interested in working on, please leave a comment so that other people will not do duplicated work.)
* When you make a PR, please, set title `[BC-Breaking] ...`
* Once the code is updated, the following test should pass.

[c

[2020-12-22 20:00] aadarsh10c commented on #1118
Hey @mthrok , i am ready to work on this issue...
I  will only have to remove line 95-100 from vctk.py  and line 58-63 from yesno.py ,

Also i am not familiar with ML and its packages , will i have to perform the tests as well.

[2020-12-22 20:25] mthrok commented on #1118
Hi @aadarsh10c

Thanks for the help.

well, you need to remove the corresponding arguments from the class constructor, and the logic that uses these arguments too.

This task does not require any ML specific knowledge, just a regular software engineering stuff.
That is;
  - instaling Python environment and dependencies (PyTorch)
  - cloning torchaudio (for this specific task, you should be able to

[2020-12-22 20:34] mthrok opened #1119 "[Doc] the return type for load functions are wrong"
## 📚 Documentation

The return type of `load` functions (`"sox_io"` backend and `"soundfile"` backend) are wrong.

https://github.com/pytorch/audio/blob/be442561a538b1ecc73394eeba610c8a7e2b7f4a/torchaudio/backend/sox_io_backend.py#L110-L113

https://github.com/pytorch/audio/blob/be442561a538b1ecc73394eeba610c8a7e2b7f4a/torchaudio/backend/_soundfile_backend.py#L107-L110

They should be `tuple of to

[2020-12-22 20:39] AzizCode92 commented on #1118
I can work on this issue.

[2020-12-22 22:09] mthrok commented on #828
Resolved by #1109

[2020-12-22 22:09] #828 closed

[2020-12-22 22:10] mthrok commented on #815
Resolved by #1109

[2020-12-22 22:10] #815 closed

[2020-12-22 22:14] mthrok commented on #1118
@aadarsh10c

@AzizCode92 has created the PR #1120 however, since you raised hand first, I would like to honor your efforts too. Would you still want to work on this?

@AzizCode92

Thanks for the contribution but but let me wait for @aadarsh10c first.

[2020-12-22 22:39] AzizCode92 commented on #1118
@mthrok
Sure, no problems.

[2020-12-22 22:45] AzizCode92 commented on #1119
I can work on this issue.

[2020-12-22 23:15] mthrok commented on #1119
@AzizCode92

Sure, thanks. Let me know if you need help in building documentation.
This is very high-impact fix.

[2020-12-22 23:57] AzizCode92 commented on #1119
Hi @mthrok, I made the change inside the documentation of the methods, did the steps as described here #1002.
But I got always the old documentation displayed in my browser.
I did the following change
[code]

[2020-12-23 04:58] aadarsh10c commented on #1118
I saw #1122 , I think I still require some knowledge before I work on this type o issues, anyways thanks for consideration, if there is any other way I can help let me know. 😀

[2020-12-23 14:50] mthrok commented on #1118
@aadarsh10c

I see, then I will proceed with @AzizCode92 PR #1122.

If you are new to GitHub open source contribution workflow, there is a bunch of tutorials like this https://www.dataschool.io/how-to-contribute-on-github/

[2020-12-23 14:51] #1118 closed

[2020-12-23 14:59] mthrok commented on #1119
Hi @AzizCode92

Probably you have a pip/conda package installation of torchaudio somewhere in your system and when you do `make html`, the changes you added to the repo is not picked up.

If that's the case, you can do either
1. remove the package installation
2. at the beginning of `docs/source/conf.py` before `import torchaudio`, modify `sys.path` list object and insert the repository root at th

[2020-12-23 16:28] AzizCode92 commented on #1119
Hi, @mthrok, is it ok?
<img width="731" alt="Screen Shot 2020-12-23 at 17 25 01" src="https://user-images.githubusercontent.com/19540527/103017556-135eba80-4544-11eb-9945-7562af929a52.png">

[2020-12-23 18:15] mthrok commented on #1119
Hi @AzizCode92

Look good, but please change description of `int:` from `sample_rate` something else like `Sample rate of the audio`.

[2020-12-23 18:54] AzizCode92 commented on #1119
Hi @mthrok, done.
I have created a PR (#1122), please review it.
thank you.

[2020-12-23 20:51] vincentqb commented on #1090
oops, I updated the link in my previous message to the [new audio classification tutorial](https://pytorch.org/tutorials/intermediate/speech_command_recognition_with_torchaudio.html) we have for audio. Is that what you meant?

[2020-12-23 22:08] #1119 closed

[2020-12-24 09:56] jeremyfix opened #1125 "CommonVoice, missing extension when loading an audio clip"
## 🐛 Bug

When accessing the first element of the commonvoice dataset, it fails with :

[code]

Indead, the clip exists, but it seams to me the extension ".mp3" is missing. The filename provided to "torchaudio.load" does not contain the extension since the train.tsv file does not contain the extension.

One workaround is to edit  commonvoice.py:L93, and changing :

[code]

## To Reproduce

Steps t

[2020-12-24 13:18] AzizCode92 commented on #1125
Hi @jeremyfix, I have created a PR #1126 in response to your issue.
Could you please try my fix locally and tell me if it solves your issue?
thanks

[2020-12-24 13:53] jeremyfix commented on #1125
Hi @AzizCode92 , thanks for opening a PR, I tested and replied directly in the PR #1126

[2020-12-25 17:05] mthrok commented on #910
Looking at #1127 (thanks @krishnakalyan3 ), the `folder_in_archive` should be deprecated and removed, from all the Dataset implementation.

It does not provide consistent behavior with `download` + `extract` behavior and, in the first place, directory structure being changed is not something library should be expecting and conforming. If user has changed the directory structure, that's on the user

[2020-12-25 17:05] mthrok commented on #910
Also `_ext_audio` should be deprecated and removed too.

[2020-12-25 18:57] krishnakalyan3 commented on #910
@mthrok
1. removing `_ext_audio ` -> I will replace it with a string.
2. deprecating and removing folder_in_archive -> I am also in favor of this, It can also simplify the dataset module in the future.
3. What about deprecating and removing `url`? -> As a user, I would rarely specify my own URL unless I know exactly what I am doing. Since the extraction process is highly dependent on the dataset.

[2020-12-27 01:51] mthrok commented on #733
@AzizCode92 found a bug in `bg_iterator`. It hangs when loading fails. https://github.com/pytorch/audio/pull/1126#issuecomment-751279803

So the `bg_iterator` is
1. no speed up
2. not documented
3. buggy

I do not think this utility is providing any value, and this is a pure technical debt. I suggest we remove it from the library.

[2020-12-27 02:02] mthrok commented on #910
@krishnakalyan3

Thanks for the feedback. Do you have any other thoughts while working on #1127?

Do you mean string "constant"? I think that makes sense, especially for ".wav" formats.

Yes. We had to do this with CommonVoice recently, and the resulting code became much simple.

For `url`, even though it is rarely used, there are multiple potential scenarios where the source becomes unavailable a

[2020-12-27 03:56] mthrok opened #1128 "`format` arg missing in new soundfile backend."
In #1104, the new `format` argument was added to `load` and `info` function of `sox_io` and `soundfile (new interface)` backend.

But #1104 forgot to add the same argument to the `info` function of `soundfile (new interface)`.

For the consistency of backends, `format` argument has to be present in `soundfile (new interface)` too.

1. Add `format: Optional[str] = None,` to https://github.com/pytor

[2020-12-27 16:48] AzizCode92 commented on #1128
@mthrok, I can work on this.

[2020-12-27 17:43] #1125 closed

[2020-12-27 17:45] mthrok commented on #1128
Closed via #1129

[2020-12-27 17:45] #1128 closed

[2020-12-27 23:48] SolomidHero commented on #1058
So, will we have an option for filter bank normalization or it is not quite necessary thing to have? Also the same question for a whole db to amplitude transformation

[2020-12-28 10:29] krishnakalyan3 commented on #910
I have also observed that the dataset (`TEDLIUM`, )  has `release` as a parameter in `__init__`. For the sake of consistency should we remove it?.

[2020-12-28 19:20] mthrok opened #1130 "Improve Dataset utility test"
There are couple of improvements we can make for dataset utility test.

https://github.com/pytorch/audio/blob/71214b48548b1dcb6ebd581dd36a9d0e60af6837/test/torchaudio_unittest/datasets/utils_test.py#L12-L36

1. Use temporary directory for cache
    `test_disckcache_iterator` creates cache directory at working directory which does not get cleaned up. To improve this, one should use temporary direct

[2020-12-28 19:35] mthrok opened #1131 "Improve Dataset test maintainability/readability"
In #821, we improved the dataset tests to work on mocked files. In these changes, we applied the pattern to create mock dataset in `setUpClass`. As we keep improving the test for dataset, the `setUpClass` gets cluttered and became harder to grasp what's going on, so we should refactor the pattern.

In #1126 we extracted the dataset mocking part into a separate function. We can apply the same patte

[2020-12-28 23:06] AzizCode92 commented on #1130
I can work on this.

[2020-12-29 14:42] AzizCode92 commented on #1131
Hi @mthrok , a PR is created for this issue, started by fixing the Commonvoice dataset.

[2020-12-30 19:46] #1130 closed

[2020-12-31 06:18] tongjinle123 commented on #1072
1、grpc
2、onnx，torchscript
3、deployment
4、speech recognition
5、～

[2021-01-01 04:33] mthrok opened #1146 "RFC: Applying codecs as data augmentation"
In #1108 and #1141, I am adding in-memory decoding and encoding. This allows us to apply codecs to audio Tensor, like the following way.

[code]

Which practically gives the same result as

[code]

I am thinking of adding this codecs application as part of torchaudio’s feature. Before starting working on API specification and engineering load map, I would like to hear from the community what kind

[2021-01-01 05:04] danpovey commented on #1146
I have heard people say they do this (encode+decode for augmentation), and that it was helpful when applied to data that had been through codecs, but I don't recall that any of them were published.
My suspicion is that mp3 coding, being relatively high quality, probably preserves the short-time spectrum well enough that that it wouldn't have much effect.  Typically these would be mobile-phone code

[2021-01-01 19:15] pzelasko commented on #1146
I agree with Dan’s point that mobile phone codecs would probably be the most useful. I also know of some cases where the companies stored telephone recordings in mp3...

As a side note, mp3 has been used as a defense method against adversarial attacks (not necessarily a very strong one though). The point is there could be other applications for codecs beyond training data augmentation.

[2021-01-01 19:30] mravanelli commented on #1146
Hi Moto,
I think this functionality is useful. There are already some papers using
codec augmentation successfully (e.g, https://arxiv.org/pdf/2005.07143.pdf).
Of course, more diversity in terms of different codecs  would be a plus.
Personally, I like the idea of having this functionality
"on-the-fly" without  the need of saving audio files on disk.

On Fri, 1 Jan 2021 at 14:15, Piotr Żelasko <not

[2021-01-03 18:50] jacobjwebber opened #1149 "Issues with transforms.InverseMelScale"
Hi!
I have had some issues using InverseMelScale

Firstly, I used the transform on a Spectrogram, without taking the log or using AmplitudeToDB on the spectrogram. This resulted in very poor computational performance, taking ~3.5 mins to run on CPU (Core i5 desktop) and ~1.5 mins to run on GPU (NVIDIA gtx 970).

[code]
I think one problem is that the default value for `tolerance_loss` in InverseMe

[2021-01-03 20:55] mthrok commented on #1146
Thanks for your comments.

In the past, I used https://github.com/idiap/acoustic-simulator for training telephony model with clean dataset. It worked great. The codecs used there [[list](https://github.com/idiap/acoustic-simulator/blob/master/README-codecs.txt)] include telephone codecs from ITU, which is available at https://github.com/openitu/STL. We might be able to add that as additional codec

[2021-01-04 11:31] jacobjwebber commented on #1149
mentioning https://github.com/pytorch/audio/pull/448

[2021-01-04 19:07] sw005320 commented on #1146
Sorry for my late response.
I have not tried such techniques by myself, but it should be a very practical technique.
I'm looking forward to this implementation!

My colleagues also told me that the opus compression seems to have very high compression, and used in https://openslr.org/94/

[2021-01-04 21:15] mthrok commented on #1146
Note: According to https://en.wikipedia.org/wiki/FFmpeg, `ffmpeg` contains codecs from ITU-T, so binding `ffmpeg` like torchvision does will be the easiest in both legal and technical perspective.

[2021-01-04 21:37] RuABraun commented on #400
@mthrok normalising audio does not help for me, code:
[code]
    output
[code]

    Also in my opinion if this is an important requirement then the function should check that the max is equal to 1 and warn otherwise.

[2021-01-05 11:34] faroit commented on #903
I would be in favor of defaulting (and converting) to 16bit PCM except for when users would set a different dtype.

if someone wants a "correct" - and recoverable - output, `torch.save` exist and is convenient to use also for audio tensors. Which is why i think `torchaudio.save` should be more closer to what is used in the audio domain.

[2021-01-05 13:03] jacobjwebber commented on #1059
Hi,
I would use this if it existed! It would also be useful if it could be limited to a specific range of frequencies so that I could choose a specific (e.g. voiced) region of the spectrogram.
This could be done with f_min and f_max params which could default to 0 and sr/2 respectively. S could then be cropped to bins that correspond to frequencies within this range.

Jacob

[2021-01-05 15:23] mthrok commented on #400
Hi @RuABraun

As you figured out, normalization here means dtype conversion, that is `float` (with value range [-1, 1]) to `int16` (with value range [-32,768, 32,767].

According to my recent talk with @cpuhrsch, this fbank feature is not intended for precise match with the Kaldi's implementation.

Then I found that our test suite for this function which I thought was covering it was not enough an

[2021-01-05 15:33] #1131 closed

[2021-01-05 15:40] mthrok commented on #1131
@AzizCode92 and @krishnakalyan3 Thank you for working on this.

[2021-01-05 16:02] mthrok commented on #1149
Hi @jacobjwebber

So I worked on #448, but it was my onboarding task and I just followed the previous PR #336.

Is the inverse approach you mentioned covered in #336?

In the discussion of #336, the SVD approach could lead to a poor result, so it was removed from the consideration. However, since there is no clear winning approach, I think we can have a discussion here with your expertise, and rec

[2021-01-05 16:04] mthrok commented on #1149
Another option will be to have two implementations available.

[2021-01-05 16:06] mthrok commented on #1072
@tongjinle123 Thanks for the comment. Is your production environment Python or C++?

[2021-01-05 16:08] mthrok commented on #1059
Hi @turian @jacobjwebber

Yes, looks like this is a good addition. Is either of you (or anyone reading this) interested in working this?

[2021-01-05 17:40] RuABraun commented on #400
Thank you for the explanation! :)

[2021-01-05 18:36] mthrok opened #1154 "Sharing My Projects 2021 H1"
For the purpose of the visibility, better communication with the community and getting feedback from you, I am sharing the projects I am working on for this half of 2021.

The next release of PyTorch / torchaudio is scheduled around the first week of March. Things landed on master branch before the middle of February could go into this release.

## I/O
### Backend update
Continuing from the previo

[2021-01-06 12:52] jacobjwebber commented on #1149
Hi! Is #336  the correct issue? It seems to be about delta features.
Yes, my suspicion was that a pseudo inverse might be unstable (even compared to the torch.lstsq optimization approach), but it works surprisingly well. See plots from below. There is noise at the very top of the spectrum, which is where there is no information retained in the mel.
![approx_s](https://user-images.githubusercontent

[2021-01-06 14:28] RuABraun opened #1155 "Expose `center` argument of Spectrogram and derivative transforms"
## 🚀 Feature

At the moment `center=True` is hardcoded inside `torchaudio.transforms.Spectrogram`. I think it would be nice to expose this as a parameter.

## Motivation

If one is doing anything where frame alignment matters the current default can mess things up. Doing the change would be very easy so I don't see why not. I'd be willing to do it.

## Pitch

Add `center` parameter to `Spectrogram

[2021-01-06 15:32] mthrok opened #1156 "Replace pytest's paremeterization with parameterized"
If you are interested working on this, please leave a comment here (so that other people will not do a duplicated work), then create a PR and tag @mthrok.

---

For historical and technical reasons, torchaudio's test suite cannot use `pytest` as a module. (we still use it as a runner in CircleCI, which is fine.)

There are couple of pytest utilities used in torchaudio's test code.

https://github.

[2021-01-06 16:13] #993 closed

[2021-01-06 17:31] krishnakalyan3 commented on #1156
@mthrok I would be happy to work on this.

[2021-01-06 17:49] mthrok commented on #1156
@krishnakalyan3 sure. thanks!

[2021-01-07 09:57] NicolasHug commented on #1059
I'll give this a shot!

[2021-01-07 18:38] jacobjwebber commented on #1059
Me too! happy to help, @NicolasHug

[2021-01-07 21:43] mthrok commented on #800
file-like object support has been added in #1158

[2021-01-07 21:43] #800 closed

[2021-01-07 21:43] mthrok commented on #754
Support for file-like object has been added in #1158

[2021-01-07 21:43] #754 closed

[2021-01-08 00:36] vincentqb opened #1163 "Roadmap Ahead"
In the last six months, torchaudio has seen exciting work released as part of two major releases and a new [audio command recognition tutorial](https://pytorch.org/tutorials/intermediate/speech_command_recognition_with_torchaudio.html).

* [torchaudio 0.7.0](https://github.com/pytorch/audio/releases/tag/v0.7.0) and [0.7.2](https://github.com/pytorch/audio/releases/tag/v0.7.2) expand its support fo

[2021-01-08 00:46] #1163 closed

[2021-01-08 04:28] krishnakalyan3 commented on #1053
@mthrok, I would like to take a stab at this.

From what I understand
https://github.com/pytorch/audio/blob/master/.flake8
https://github.com/pytorch/audio/blob/master/tox.ini

should be merged to `.flake8` and `tox.ini` removed. Is this understanding correct?.
Is there a way to test this locally in my system?.

[2021-01-08 14:40] #1156 closed

[2021-01-08 20:02] vincentqb opened #1169 "The Wavelet Transform"
The wavelet transform is used often on time series in a way similar to the Fourier transform. Would there be interest in having it in torchaudio? Do you have use case where it would be beneficial?

(It is also used in domains like vision, so pytorch may be more appropriate.)

[2021-01-09 14:41] mthrok opened #1173 "Add `bits_per_sample` to `info`"
The legacy sox backend exposed libsox's structures (`sox_signalinfo_t` and `sox_encodinginfo_t`) and that allowed to access most of audio metadata. In the transition to the new backends, these structures were abstracted away and introduced `AudioMetaData` which only contain very basic information.

Now we would like to add some metadata, in this time, with more consistent behaviors across the back

[2021-01-09 14:43] #1002 closed

[2021-01-09 14:56] mthrok commented on #1094
Note2: It is ideal that the mapping we create from [sox_encoding_t](https://fossies.org/dox/sox-14.4.2/sox_8h.html#ab0a659b0258d1989c751ba5415e6a4cd) to our custom type is generic enough to handle ffmpeg's ffmpeg's [AVCodecID enum](https://libav.org/documentation/doxygen/master/group__lavc__core.html#gaadca229ad2c20e060a14fec08a5cc7ce).

[2021-01-11 17:48] mthrok commented on #1059
Hi @jacobjwebber

Please checkout #1167 for the `SpectralCentroid` implementation. For your suggestion on `f_min` and `f_max`, we decided to do it in separately so it will not be included in #1167. That way it's easier to see the changes from the base implementation.

[2021-01-12 13:22] NicolasHug commented on #1173
I'll take a stab at this

[2021-01-12 22:48] #1053 closed

[2021-01-13 00:59] QHenry1990 opened #1178 "support on windows"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. I use wheel pip in windows when I install torchaudio,but load mp3 file is failed, unsupported format. version torchaudio 0.7.0
1.
1.

## Expected behavior

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)?
 - If you are building from source, which commit is it?
 - What does `torchaudio.

[2021-01-13 01:14] QHenry1990 commented on #1178
it is rewrited#394

[2021-01-13 02:22] mthrok commented on #1178
Hi @QHenry1990

Currently mp3 is not supported on Windows. We plan to add support for mp3 on Windows, but it will take some time. If you are simply loading then you can use other libraries like [miniaudio](https://pypi.org/project/miniaudio/) to load audio into NumPy array, then convert it to PyTorch tensor. `torch.from_numpy`. If you are trying to load TED-LIUM dataset, then you need to overwrite

[2021-01-13 10:43] jacobjwebber commented on #1059
Excellent, thanks @mthrok

I will make a new merge request with optional frequency limiting, probably this weekend.

[2021-01-13 16:47] mthrok commented on #1094
Hi @RimaOlson

Can you illustrate what your `if` statement looks like when you use `sox_encodinginfo_t.encoding`?
I am wondering what the new data structure should look like. Strongly typed ENUM type or just string would do.

[2021-01-14 00:26] vincentqb commented on #549
Closed since `torchaudio.set_audio_backend` is [here](https://pytorch.org/audio/stable/torchaudio.html#torchaudio.set_audio_backend).

[2021-01-14 00:26] #549 closed

[2021-01-14 02:51] vincentqb commented on #1178
Thanks for reporting this :) As pointed out above, mp3 is not yet available. Since we already have #425 opened, I'll close this, but feel free to re-open if this doesn't address your concern.

[2021-01-14 02:51] #1178 closed

[2021-01-14 03:55] mthrok commented on #1094
@RimaOlson

Thanks. Suppose, the type of format does not seem to matter. I will most likely pass as string.

I am not an audio expert so I am not sure if I understand the question correctly, but assuming "transcode to linear" means something like Linear PCM, I think the answer is yes.

`libsox` internally decode audio samples into 32bit signed integer [[doc](https://fossies.org/dox/sox-14.4.2/sox_

[2021-01-14 14:24] cocolacre opened #1179 "Error building torchaudio: /torchaudio/csrc/sox/register.cpp:5:23: error: expected constructor, destructor, or type conversion before ‘(’ token"
Setup: windows 10, WSL
Command: python3 -m pip install git+https://github.com/pytorch/audio
Error:
    /tmp/pip-req-build-8whigxa0/torchaudio/csrc/sox/register.cpp:5:23: error: expected constructor, destructor, or type conversion before ‘(’ token
     TORCH_LIBRARY_FRAGMENT(torchaudio, m) {
                           ^
    error: command 'x86_64-linux-gnu-gcc' failed with exit status 1
Thank you

[2021-01-14 15:25] mthrok commented on #1179
Hi @cocolacre

Which version of PyTorch are you using? `TORCH_LIBRARY_FRAGMENT` was added kind of recent, so you need the latest PyTorch. (I think 1.7 at minimum.)
(Torchaudio's C++ extension is not supported on Windows, but I assume it works on WSL)

[2021-01-15 11:36] Rikorose opened #1180 "pip nightly requires torch stable (1.7.1)"
## 🐛 Bug

torchaudio nightly (via pip) strictly requires the stable version from torch.

## To Reproduce

Steps to reproduce the behavior:

1. Try to install torch and torch audio via pip as stated on the torch website.

[code]

pip install first torch nightly. When installing torchaudio, pip uninstall torch nightly and installs torch 1.7.1.

## Expected behavior

torchaudio allows torch nightly a

[2021-01-15 12:31] mthrok commented on #1180
Hi @Rikorose

Thank you for reporting.

@seemethere Could you take a look at this please?

[2021-01-15 21:56] #717 closed

[2021-01-16 05:07] RimaOlson commented on #1094
@mthrok thank you.
Yes, I did mean transcoding to Linear PCM from the original encoding. I'll take a look at `libsox`

[2021-01-16 10:47] yoyololicon commented on #704
Hi folks~ I also encounter this issue recently and I want to share my solution.
The approach I chose is to implement a custom autograd function  for `lfilter`.

Here's my implementation :

[code]
The filter form I choose is Direct-Form-II.
I just wrap `torchaudio.functional.lfilter` inside the custom function, no extra dependency is needed.

Some comparisons between simple for-loop approach and gr

[2021-01-16 14:16] jaeyeun97 commented on #1149
Hey, checkout out the original issue #366 and the gist mentioned there to see the difference between the SVD implementation and the SGD one. For higher freq. resolution SVD seems to degrade in performance significantly.

[2021-01-17 20:13] jacobjwebber commented on #1059
Just had a look again --- Think it would be much easier to wait until #1167  is merged then do a completely separate one after with f_min / f_max cropping

[2021-01-18 15:56] Aditya3107 commented on #1146
@mravanelli @sw005320 @pzelasko @faroit @mpariente @danpovey
Dear all,

I read some previous comments and your discussion and I think, my project SpecAugment vs CodecAugement can be useful to you. I am working on similar research, to decide if we can use audio compression as a data augmentation or not. I have used OPUS audio codec as it is open source and royalty-free and checked at which bitrates

[2021-01-18 17:52] mthrok opened #1183 "Codec-based augmentation"
With the support for file-like object in I/O function, torchaudio can apply codecs as a form of augmentation.
There are two components required to add such feature to torchaudio.

1. Python frontend
    The user-facing function.
2. Extend format for `save` function.
    Currently the audio format that "sox_io" save function supports is limited to certain formats. (wave, mp3, flac, opus, amb, amr-n

[2021-01-18 18:35] mthrok opened #1184 "Return `encoding` attribute from `info` for `sox_io` backend"
The legacy sox backend exposed libsox's structures (`sox_signalinfo_t` and `sox_encodinginfo_t`) and that allowed to access most of audio metadata. In the transition to the new backends, these structures were abstracted away and we introduced `AudioMetaData` which only contain very basic information.  Now we would like to add some metadata, in this time, with more consistent behaviors across the b

[2021-01-18 19:42] AzizCode92 commented on #1183
Hi @mthrok : I would like to start working on part 1.

[2021-01-19 04:13] danpovey commented on #1146
Cool.  Would be nice to see effects on ASR accuracy if someone does the experiment.

[2021-01-19 06:37] Aditya3107 commented on #1146
Yes, we are also working on ASR with CodecAugment and it shows the better results too, but the research paper is not published yet and that project is not mine, so can't share many details. But in near future, there can be a publication.

[2021-01-19 13:09] krishnakalyan3 commented on #910
@vincentqb @mthrok, could you please advise if everything looks okay. I am a little worried about keeping PRs open for a long time as things tend to get stale.

[2021-01-19 15:02] mthrok commented on #1094
@RimaOlson

FYI: For bit depth, we are adding `bits_per_sample` attribute in #1177.

[2021-01-19 15:36] mthrok commented on #908
Hi @small-yellow-duck

We merged #1087, which makes the resampling faster. The original implementation was mostly verbatim translate of Kaldi's C++ source code, which performs a lot of element-wise Tensor access with indexing (like `tensor[i]`). This was not a good fit with how PyTorch works. So #1087 vectorized the internals and simplified the resampling operation to a convolution operation. This

[2021-01-19 15:37] mthrok commented on #1183
@AzizCode92 Thank you! Let me know if you need a help.

[2021-01-19 15:58] mthrok commented on #1179
Closing as I assume this is about the mismatched PyTorch version. Feel free to re-open if that's not the case.

[2021-01-19 15:58] #1179 closed

[2021-01-19 16:42] aturahc13 commented on #903
I have a question about migrating to 'sox_io' backend from 'sox'.
I used `>>> torchaudio.set_audio_backend("sox_io")` after `$ python3`.
It shows no error.
However, it seems that the backend is not to be changed.
For example, after `exit()` and doing `python3` again, the warning message(The default backend will be changed to "sox_io" backend in 0.8.0) still comes out.
How can I migrate correctly?

[2021-01-19 16:59] mthrok commented on #903
Hi @aturahc13

That's the correct way to set the backend for **the active session**. For example, `help(torchaudio.load)` should display the different help message before and after the `set_audio_backend` call. The thing is that we did not ship a way to persist the configuration, so the next time the Python is launched, it goes back to the default backend.

[2021-01-19 19:01] RimaOlson commented on #1094
@mthrok Sounds good, thank you.

[2021-01-19 21:21] seemethere commented on #1180
The reason why this bug is manifesting itself is because `torchaudio` specifically depends on the `+cpu` version of the torch nightly which leads it to fall back to installing the pypi default version of torchaudio (0.8.2) which itself relies on the pypi default version of torch (1.7.1).

I've submitted #1185 to remove the dependency on the `+cpu` specific version and to instead rely on just the b

[2021-01-19 22:42] mthrok commented on #1180
@Rikorose

I have updated the nightly build following #1185. Could you try it and see if it works?

[2021-01-19 23:30] aturahc13 commented on #903
Thank you. So should I do `set_audio_backend` every time when I use `$ python3` ?
Or should I wait for the update?
Actually, all I want to do is "not showing the warning message for 'sox will be deprecated...'". I know there is a way to hidden warning messages themselves. But if there is a way to migrate the backend by hand, I will try it and ask this question. Thank you.

[2021-01-19 23:32] AzizCode92 opened #1186 "Building from source is failing for MacOS"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Steps inside the documentation as described in the [README.md](https://github.com/pytorch/audio#from-source)

**Error Message:**
[code]

## Expected behavior
Successful build from source

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)? from source
 - If you are building from source, whic

[2021-01-19 23:38] mthrok commented on #1186
Hi @AzizCode92

Can you check if `ninja` is installed? You can install it with `pip install ninja`.
Also your PyTorch version 1.6.0 is very old, and I do not think it works with the latest commit.

[2021-01-20 08:34] Rikorose commented on #1180
Hm does not seem to work. Maybe the nightly is not updated yet?

[code]

[2021-01-20 09:05] AzizCode92 commented on #1186
Hi @mthrok.
I installed pytorch 1.7.1 and did `pip install ninja`.
Still the build is failing for me.

[code]

[2021-01-20 12:35] mthrok commented on #1186
@AzizCode92 Please try the nightly build of PyTorch. See pytorch.org for the installation.

[2021-01-20 12:40] mthrok commented on #1180
The nightly is updated. Looking at the log, the latest versions are fetched, but somehow older nightly builds are also fetched, and in the end, the oldest version from the cache is picked up. Very strange.

What happens if you clear the cache?

[2021-01-20 12:53] Rikorose commented on #1180
Then, all the cached pytorchaudio wheels are getting downloaded with the overall same result of pytorch 1.7.1 getting pulled as well.

[2021-01-20 14:36] mthrok commented on #1180
I see. Thanks for trying.
@seemethere do you have an insight on why this happens?

[2021-01-20 16:01] #477 closed

[2021-01-20 17:24] seemethere commented on #1180
You tried it out before the nightly wheels had been uploaded, seems to be working fine now.

[code]

[2021-01-20 17:30] mthrok commented on #1180
@Rikorose Looks like the manual nightly build I performed yesterday did not update the nightly build. sorry about that. Can you try again?

[2021-01-20 19:20] Rikorose commented on #1180
Can confirm works now

[2021-01-20 19:20] #1180 closed

[2021-01-20 22:35] AzizCode92 commented on #1186
@mthrok thanks, that fixed the issue.

[2021-01-20 22:35] #1186 closed

[2021-01-21 15:48] mthrok commented on #1184
Gave some thoughts on the mapping part and it was somewhat more complicated, so I am holding off asking for help. Will resume once I come up with a mapping scheme.

[2021-01-22 16:10] f0k commented on #903
Sorry I'm late to the party, I'm not using `torchaudio` yet, but interested in using it, and came here because of the backend deprecation warning.

As a non-user, I would expect that this normalizes the waveform based on the maximum amplitude value. I would also be unsurprised if it actually just converts from integers to floats.
Reading the current docstring for `sox_io`, it says that sample valu

[2021-01-22 19:51] mthrok commented on #903
Hi @f0k

Thanks for the comment. Those are very good points.

Let me first tell you the context. The design principle for the new I/O modules are

1. Correct
Since I/O is the first part of data processing, these I/O modules must be returning the data as accurate (close to that in file format) as possible.
2. Easy to use
We want our library to be easy to use. In this case, since it's common practic

[2021-01-22 19:52] mthrok commented on #903
Hi @aturahc13

In the next release, (expected early March) the default backend will be switched to `"sox_io"`, so you will not need to do anything once you update to it. Until then sorry but you need to do `set_audio_backend` all the time.

[2021-01-22 20:37] mthrok commented on #903
Hi @snakers4

Sorry for the late reply and thanks for the update. This is very cool. I have questions on mobile I/O situation. How are you feeding the audio in your use case? Did you work on real-time application?

[2021-01-23 05:05] snakers4 commented on #903
When we started writing our audio pipelines we essentially used just scipy wavread and pysoundfile reading just integers to avoid any bias inside of audio libraries. And there were some gotchas and insights that may seem relevant in this context:

- While **in general** for DL it may hardly matter if you normalize to say `1 / abs(max(wav))` or to `1 / (2 ** 15 - 1)` (NNs can even work better becau

[2021-01-23 05:06] snakers4 commented on #903
@mthrok
Hi,

The VAD itself can work with whole files and in a real-time / streaming application. Other heads (number detector, language classifier) work only with whole "files" (which are essentially just [-1, 1] normalized streams of floats), but the are meant as a downstream heads after the VAD.

Our VAD is a neural network in PyTorch (JIT / ONNX), and obviously it benefits from batching. This

[2021-01-23 05:11] snakers4 commented on #903
Also I hope that our `torch.hub` [submission](https://github.com/pytorch/hub/pull/182) of the VAD gets approved soon!

Also also I understand that we may be kind of leaking in our [validation](https://github.com/snakers4/silero-vad#vad-quality-metrics) metrics and that our validation approach may be too drastic (in real speech, web RTC usually has issues on speech start / end and it is difficult t

[2021-01-25 08:40] #1059 closed

[2021-01-25 15:37] #1173 closed

[2021-01-25 17:56] vincentqb opened #1196 "Roadmap ahead for torchaudio"
There are many exciting work elements that are planned for torchaudio.

* Provide support for large scale training.
    * Support a large-scale training reference task using wav2vec on librivox, and offer a pre-trained version of the model.
    * Support the emergence of audio specific transformer models by exploring abstractions would be beneficial to provide.
* Extend support for speech recognit

[2021-01-25 18:14] vincentqb commented on #1057
Thanks again for working on this :) I see #1087 as closing this issue. If this is not the case, please feel free to re-open, or if there are follow-ups, to open new issues.

[2021-01-25 18:14] #1057 closed

[2021-01-25 18:21] mthrok opened #1197 "Adding target `dtype` argument to `save` function"
In `"sox_io"` backend and `"soundfile"` backend with new interface, when saving a Tensor to file with`save` function, it is expected to that client code converts the Tensor to the dtype with desired precision. It was pointed out that this is somewhat inconvenient and `save` function should handle type conversion for improved UX. (See #903)

To address this, we would like to add a new parameter `dt

[2021-01-25 18:27] mthrok commented on #903
@faroit

I made a plan for adding `dtype` in `save` function. https://github.com/pytorch/audio/issues/1197 I appreciate it if you can take a look at it.

[2021-01-25 22:21] mthrok commented on #1059
@jacobjwebber #1167 is merged. Feel free to open an issue or PR for the `f_min` / `f_max` cropping

[2021-01-25 22:37] mthrok commented on #1094
Hi @RimaOlson

Here is the mapping I am thinking to add. Let me know if this might not work for you.

SoX Representation | torchaudio Representation
-- | --
SOX_ENCODING_UNKNOWN | `"UNKNOWN"`
SOX_ENCODING_SIGN2 | `"PCM_S"`
SOX_ENCODING_UNSIGNED | `"PCM_U"`
SOX_ENCODING_FLOAT | `"PCM_F"`
SOX_ENCODING_ULAW | `"ULAW"`
SOX_ENCODING_ALAW | `"ALAW"`
SOX_ENCODING_MP3 | `"MP3"`
SOX_ENCODING_VORBIS | `"VOR

[2021-01-26 16:29] carolineechen commented on #1197
@mthrok I can work on this

[2021-01-26 19:38] mthrok commented on #1197
@carolineechen Thanks. Let me know if you need help.

[2021-01-26 21:43] mthrok commented on #1155
HI @RuABraun

Sorry for the late response.
This sounds like a valid proposal.
I am not sure what `also add to derivatives` means, but please open a PR.
(and let me know if you no longer have time for that, I will find someone else who can work on it.)

[2021-01-26 22:03] mthrok commented on #1058
Hi @SolomidHero @eldrin

I looked into the difference of MelSpectrogram. As [the documentation](https://pytorch.org/audio/stable/transforms.html#torchaudio.transforms.MelSpectrogram) says, the origin of the code is from some notebooks, and it seems that there is no test to check the output values of this transform. This makes it difficult to tell if the current implementation is correct or define

[2021-01-26 22:24] mthrok commented on #1155
Actually #892 seems to resolve this. Let me merge that one.

[2021-01-26 22:59] mthrok commented on #1155
Closed via #892

[2021-01-26 22:59] #1155 closed

[2021-01-27 00:04] mthrok opened #1201 "Par file registration"
Currently torchaudio's functions related to `libsox` are bound via `TORCH_LIBRARY_FRAGMENT` macro in [`torchaudio/csrc/sox/register.cpp`](https://github.com/pytorch/audio/blob/22e7e877f1b50355e3e6f55e14d06f6574c4b951/torchaudio/csrc/sox/register.cpp#L5).

Towards the support for mobile deployment, we would like to change the library structure better suited for selective build. To prepare for this,

[2021-01-27 09:13] ydcjeff opened #1202 "[docs] use `versionadded`, `versionchanged` and `deprecated` directive"
## 📚 Documentation

Use `.. versionadded::`, `.. versionchanged::` and `.. deprecated::` directive, so that user knows which features are added / changed / deprecated in which version and they can navigate the docs easily without changing the docs from version to version.

Ref: https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded

[2021-01-27 15:54] mthrok commented on #903
I believe I share the similar view with you. The only concern is that the normalization should be following the standard approach so that model works with other audio sources and libraries, even though, as you pointed out, the impact would not be huge.

I believe your request is approved. The team has invited us to work on these approval process so in the future hopefully your experience will be s

[2021-01-27 16:43] prabhat00155 commented on #1201
I can work on this.

[2021-01-27 16:59] mthrok commented on #1201
Hi @prabhat00155

Thanks, let me know if you have an issue working on this.

[2021-01-27 20:13] mthrok commented on #1197
## An alternative approach

Following the offline discussion with @carolineechen, I noticed that we do not need custom un-normalization function. We can just change the part sox converts the internal representation (int32_t) to target encoding.

## Steps
1. Add target `dtype` to
    - [`save`](https://github.com/pytorch/audio/blob/47d97e30c36d6b5baef166664cbfb057470c39fd/torchaudio/backend/sox_io_

[2021-01-27 22:16] prabhat00155 commented on #1201
I just cloned the repository and tried building it using: `BUILD_SOX=1 python setup.py develop`. I get the following error:
[code]
I am using macOS Catalina 10.15 and Python 3.7(not using Conda).
[code]
I have also tried running `BUILD_SOX=1 MACOSX_DEPLOYMENT_TARGET=10.15 CC=clang CXX=clang++ python setup.py install`.

[2021-01-27 22:29] mthrok commented on #1201
@prabhat00155 I suspect that the version of your PyTorch is not compatible with the master torchaudio. Can you install the nightly build?

[code]

[2021-01-27 22:32] mthrok commented on #1201
Also if you do `python setup.py install`, the installed package will shadow your cloned repository, so later you will have an issue running test. Please make sure that you do not have a torchaudio installation. (keep doing `pip uninstall torchaudio` until `python -c 'import torchaudio'` reports `ImportError`)

[2021-01-27 22:34] mthrok commented on #1202
Locking the conversation to consolidate the discussion to https://github.com/pytorch/text/issues/1130
I will not close the issue as this is very useful suggestion.

[2021-01-27 22:42] mthrok opened #1203 "Expose stft arguments to MelSpectorgram"
In #892, arguments for `stft` have been added to `torchaudio.transform.Spectrogram` constructor. We can further extend it to `MelSpectrogram`, which simply reuses `torchaudio.transform.Spectrogram`.

## Steps

1. Update the [`MelSpectrogram.__init__`](https://github.com/pytorch/audio/blob/47d97e30c36d6b5baef166664cbfb057470c39fd/torchaudio/transforms.py#L421-L433)
  * Add the arguments [[src](http

[2021-01-27 23:25] prabhat00155 commented on #1201
Thanks, this solved the issue. I had `torch==1.7.1` installed previously.

[2021-01-28 05:31] RimaOlson commented on #1094
@mthrok above list looks good, thank you.

[2021-01-28 05:38] snakers4 commented on #903
We used a lot of noise (we collected a proprietary database from a number of sources) when training our models as augmentation
Nasa samples are noisy and low SNR
We had to tweak 2 probabilities for Nasa though, but they are documented and their meaning is obvious

[2021-01-28 06:11] PetrochukM opened #1205 "Add ITU-R BS.1770-4 Loudness"
## 🚀 Feature

Implement a standard algorithm for computing audio loudness, like ITU-R BS.1770-4.

## Motivation

Audio loudness is an important feature for representing audio. For example, it's used in this popular library: https://github.com/magenta/ddsp

## Pitch

Here is a `numpy` implementation of ITU-R BS.1770-4. It'd be helpful to have this translated to PyTorch and included in this library:

[2021-01-28 18:49] mthrok commented on #1205
Hi @PetrochukM

Sounds good idea. Couple of clarification questions;
1. What are the differences between the csteinmetz1 implementation and BrechtDeMan?
2. Are these implementations work for float dtype within the range of [-1.0, 1.0] or do they expect integer type?
3. What is the equivalent found in DDSP? Is the API there good to follow?

[2021-01-28 23:23] mthrok opened #1207 "Expose normalization method to Mel transforms"
`create_fb_matrix` function supports Slaney normalization. [[doc](https://github.com/pytorch/audio/blob/674a71d1a239fd6bf48d5797053590f593efff08/torchaudio/functional/functional.py#L300-L301)]

There are three transforms that uses this function, [`MelScale`](https://github.com/pytorch/audio/blob/674a71d1a239fd6bf48d5797053590f593efff08/torchaudio/transforms.py#L238-L270), [`InverseMelScale`](https

[2021-01-29 00:16] jieruan02 commented on #1203
I was trying this task and did the step1, but wasn't familiar about how smoke test should be written.

do I add some additional checks in test_melspectrogram_load_save()? or
should I do something similar to the class SmokeTest() as in https://github.com/pytorch/audio/blob/3250d3df168c956389bd16956aa458ce111570d0/test/torchaudio_unittest/sox_io_backend/smoke_test.py?

[2021-01-29 06:24] pratik-99 commented on #1207
Can I help out here?, what do I need do accomplish?

[2021-01-29 10:13] danpovey commented on #1146
From this conversation: https://groups.google.com/d/msgid/kaldi-help/0814d308-9150-475d-9163-398f54c6140en%40googlegroups.com
[code]

[2021-01-29 14:41] jieruan02 commented on #1203
I can work on this. but I am not familiar with how smoke test should be written, do you add test inside the test_transform or do  I need to do a SmokeTest class as in https://github.com/pytorch/audio/blob/3250d3df168c956389bd16956aa458ce111570d0/test/torchaudio_unittest/sox_io_backend/smoke_test.py?

[2021-01-29 15:41] mthrok commented on #1203
Hi @jieruan02

You can add classes `MelSpectrogramTest` and `SpectrogramTest` in [`transforms_test.py`](https://github.com/pytorch/audio/blob/master/test/torchaudio_unittest/transforms_test.py) and add method like `smoke_test` in each of them.

[2021-01-29 15:44] mthrok commented on #1207
Hi @pratik-99

Thanks. You can make a PR with the changes described above and ping me.

[2021-01-29 16:52] #1184 closed

[2021-01-29 17:45] mthrok commented on #1094
@RimaOlson I have merged #1206, which adds `encoding` attribute to `AudioMetaData` class. This will become available in tomorrow's nightly build. Please try it out and let me know if this works.

[2021-01-29 17:46] #1115 closed

[2021-01-29 17:53] pratik-99 commented on #1207
hey @mthrok I'm new here can you explain me what do I exactly need to do I don't no the specifications of this project, can you help me out?

[2021-01-29 19:31] jieruan02 commented on #1203
Hi @mthrok, thank you for the hint! Also is there any local test we should run before making a PR instead of letting the ci do all the checks after submission?

[2021-01-29 19:33] jieruan02 commented on #1207
Hi @pratik-99~ do you mind if I try this issue as well? I happen to need to complete some bootcamp task and this is one of them. Thank you!

[2021-01-29 20:38] jieruan02 commented on #1203
There were some minor issues and I figured them out. now it should be correct, let me know what you think~ Thank you!

[2021-01-30 00:09] #1203 closed

[2021-01-31 20:09] eldrin commented on #1058
Hi @mthrok @SolomidHero

sorry for the late response.

I am afraid not. I was digging in a bit for the issue and I found it's both from the `slaney` normalization and `mel filter bank`.

`F.create_fb_matrix` function generates a mel filterbank kernel based on the formula same with the [wikipedia entry](https://en.wikipedia.org/wiki/Mel_scale). While librosa seems to offer [2 implementations](https

[2021-01-31 21:31] PetrochukM commented on #1205
Thanks for the questions:

1. "csteinmetz1" includes multiple loudness implementations, including "BrechtDeMan". They have a `filter_class` called "DeMan".
2. They both expect floating `dtype` for the audio.
3. a. In DDSP, they implemented loudness here: https://github.com/magenta/ddsp/blob/5a06bced8e4b2f77aabe418d07f7279fe237daff/ddsp/spectral_ops.py#L184
    Their loudness implementation is A-we

[2021-02-01 20:22] mthrok opened #1219 "[Refactor] Simplify C++ interface for sox_io's `info` func"
Currently, `torchaudio.info` function for `"sox_io"` backend gets the information via `SignalInfo` structure in C++.

https://github.com/pytorch/audio/blob/828df46a95310453dda13599a29fa22a1cc049da/torchaudio/csrc/sox/io.h#L14-L32

The signature of the actual function that performs querying looks like following;

https://github.com/pytorch/audio/blob/828df46a95310453dda13599a29fa22a1cc049da/torchau

[2021-02-01 21:08] mthrok commented on #1058
Hi @eldrin

Thanks for the detailed report. This is very comprehensive.
Not having test against reference implementation is one of my concern so this will help improve the situation.
Now we understand that where the inconsistency is coming, do you think it worth adding `auditory_toolbox` implementation?

[2021-02-01 21:20] cassieview opened #1220 "Add torchaudio.datasets.AudioFolder to load audio files from a local directory"
## 🚀 Feature
This feature would allow you to pass in a path and other optional parameters to load data from a local file path when working with audio data. Currently you have to build your own method to do this. It was inspired by the `torchvision.datasets.ImageFolder` convention.

## Motivation

When I was working with `torchaudio` I looked for similar functionality that the `torchvision` library

[2021-02-01 22:12] mthrok commented on #1220
Hi @cassieview

 - Can you describe the goal that the proposed data set is trying to solve? The PR doesn't explain the design behind it.
 - What data directory structure is this data set expected to handle and what not?
 - What is the expected task? The problem I see is that the current implementation only works on audio classification task, and giving such a generic name as `AudioFolder` feels mi

[2021-02-02 11:30] prabhat00155 commented on #1219
I can work on this.

[2021-02-02 15:28] mthrok commented on #1219
@prabhat00155

Thanks. Let me know if you need help.

[2021-02-02 20:14] prabhat00155 opened #1223 "Segmentation fault when calling torchaudio.sox_effects.apply_effects_tensor with random effect"
## 🐛 Bug

Call to torchaudio.sox_effects.apply_effects_tensor() with random effect throws segmentation fault.

## To Reproduce

Steps to reproduce the behavior:

Python 3.9 with `pip install torchaudio`
[code]

Python 3.7 with latest master
[code]

## Expected behavior

Should throw an error saying "unknown or unsupported effect passed" and shouldn't crash.

## Environment

 - What commands did yo

[2021-02-02 20:30] eldrin commented on #1058
Hi @mthrok

No problem! And Yes. I think it worth several points: 1) (Although I am not 100% sure for this matter) a specific mel scale setup would benefit a particular application more. 2) many existing and new research papers and their implementations use the Slaney mel-scale setup (by choosing librosa) often, not explicitly mentioning it in their technical report or paper sometimes. 3) transiti

[2021-02-02 20:56] #1223 closed

[2021-02-02 23:33] #1207 closed

[2021-02-03 00:37] mthrok commented on #1058
@eldrin @SolomidHero

I have merged #1212 so we can pass `slaney` normalization as a parameter to `MelSpectrogram` transform. I will keep looking at a way to add other filter bank option and numerical parity to `librosa`.

[2021-02-03 04:39] mthrok opened #1229 "Tracking Issue for Flaky File-like obj CI failure"
Some tests for file-like object support for `load` function are failing sporadicly. Retrying the job makes the failure go away, but we need to understand what is causing the flaky failure.

[2021-02-03 04:40] mthrok commented on #1229
[Example job failing](https://app.circleci.com/pipelines/github/pytorch/audio/4801/workflows/1d1894d9-fcf8-4ce3-8530-cba2d519a053/jobs/154578) for PR #1281

Observations:
 - All the tests are `flac`.
   - `test_bytesio_3_flac`
   - `test_bytesio_4_flac`
   - `test_bytesio_5_flac`
   - `test_fileobj_3_flac`
   - `test_fileobj_4_flac`
   - `test_fileobj_5_flac`

CPU Info:
[code]

[2021-02-03 05:05] mthrok opened #1230 "[Refactor] tests for backend"
The number of unit tests we have in torchaudio has grown a lot. It is critical to keep tests organized so as to make it easy for contributors to write tests for the feature they are working on.

There are currently following tests for backend. We would like to consolidate them.
 - [test/torchaudio_unittest/backend_test.py](https://github.com/pytorch/audio/blob/3651412bbcb0c4faf56bc7be7fe5e5ae2a7a6

[2021-02-03 05:22] mthrok opened #1231 "[Refactor] Move TorchScript tests for functional to dedicated directory."
The number of unit tests we have in torchaudio has grown a lot. It is critical to keep tests organized so as to make it easy for contributors to write tests for the feature they are working on.

TorchScript consistency tests are for validating that the execution results are same between Python eager mode and TorchScript runtime. We put all the tests in [test/torchaudio_unittest/torchscript_consist

[2021-02-03 05:29] mthrok commented on #1197
Closing as I need to reconsider the approach for clean interface and proper mapping to encodings and bits.

[2021-02-03 05:29] #1197 closed

[2021-02-03 15:11] mthrok commented on #1229
Job failing on [nightly unittest](https://app.circleci.com/pipelines/github/pytorch/audio/4806/workflows/a673db64-0412-48ff-a38e-44120c9b5fe9/jobs/154790)

Failed tests:
- `test_bytesio_3_flac`
- `test_bytesio_4_flac`
- `test_bytesio_5_flac`
- `test_fileobj_3_flac`
- `test_fileobj_4_flac`
- `test_fileobj_5_flac`

Configuration
- `gpu_py3.6`
- CPU Info
[code]

CPU Info for [successful job: `gpu_py3

[2021-02-03 16:33] jieruan02 commented on #1231
I will give it a try

[2021-02-03 16:39] mthrok commented on #1231
@jieruan02

Thanks. Let me know if you need help.

[2021-02-03 16:45] mthrok commented on #1229
Maybe this might be the cause;

[code]

[2021-02-03 18:14] jieruan02 commented on #53
I had the same issue and solved it by manually creating symlinks in the search directory linking to the libsox.a and libsox.dylib for the clang++ linker.

[2021-02-03 19:24] jieruan02 commented on #1231
The flakey test you mentioned seems appear again. How should I rerun the test? the rerun botton is disable as I don't have write permission, so I always close the PR and make a new PR from my fork to rerun...

[2021-02-03 20:29] mthrok commented on #1231
Rerunning test does not require write permission. You need to wait until all the jobs finish.

[2021-02-03 21:01] jieruan02 commented on #1231
oh, I found I can rerun by git commit --amend and then push again the branch, not sure if this is the way you meant.

previously I was trying to use the rerun button on [test_result] (https://app.circleci.com/pipelines/github/pytorch/audio/4823/workflows/ca91bee1-f064-4490-af88-9f1159f9c4ee/jobs/155395), that's where I got the disabled...

[2021-02-03 22:47] mthrok commented on #1229
The issue also happened on my dev env with the following command

[code]

[2021-02-04 01:59] cpuhrsch opened #1238 "Provide more efficient implementation of lfilter on CPU"
[lfilter](https://github.com/pytorch/audio/blob/135e966dfd3520db4859854a6f109bfbec0970d6/torchaudio/functional/filtering.py#L811) is at the heart of [biquad](https://github.com/pytorch/audio/blob/135e966dfd3520db4859854a6f109bfbec0970d6/torchaudio/functional/filtering.py#L272), which is called by 11 other biquad variants such as [band_biquad](https://github.com/pytorch/audio/blob/135e966dfd3520db4

[2021-02-04 10:25] prabhat00155 commented on #1230
I can work on this.

[2021-02-04 16:20] mthrok commented on #1230
closed via #1239

[2021-02-04 16:20] #1230 closed

[2021-02-04 16:20] mthrok commented on #1230
Thanks!

[2021-02-04 16:38] #994 closed

[2021-02-04 17:09] prabhat00155 commented on #1219
@mthrok The PR has been merged and this issue can be closed now, thanks!

[2021-02-04 17:53] mthrok commented on #1219
Thanks for the contribution!

[2021-02-04 17:53] #1219 closed

[2021-02-04 18:13] parmeet commented on #1238
I would like to work on this!

[2021-02-04 22:27] vincentqb opened #1240 "RNN Transducer Loss"
This issue is to track the follow-up work to #1171, which introduced `rnnt_loss` and `RNNTLoss` as a [prototype](https://pytorch.org/audio/stable/index.html) in `torchaudio.prototype.transducer` using [HawkAaron's warp-transducer](https://github.com/HawkAaron/warp-transducer).

- Update documentation
  - [ ] Guard documentation (e.g. with [conditional doc build](https://sublime-and-sphinx-guide.re

[2021-02-04 22:49] mthrok commented on #1229
[Job failing](https://app.circleci.com/pipelines/github/pytorch/audio/4844/workflows/ce32c74e-50e4-4573-b79a-9ddf42009598/jobs/156197) on #1187

Failed tests;
 - test_bytesio_4_mp3
 - test_bytesio_tiny_4_mp3
 - test_bytesio_tiny_6_vorbis
 - test_fileobj_4_mp3
 - test_tarfile_4_mp3
 - test_requests_4_mp3
 - test_bytesio_1_mp3
 - test_bytesio_2_mp3
 - test_bytesio_clogged_1_mp3
 - test_bytesio_clogg

[2021-02-05 20:14] #1231 closed

[2021-02-05 20:18] mthrok commented on #1229
So far, the failing tests are container formats and the reason is shape mismatch.
One hypothesis is that the when refiling the internal byte buffer, the end of the buffer align with the end of packet so that the decoding ends early on.

[2021-02-06 13:08] moih commented on #606
Hi @ark626 , I recently saw you are trying to run MelGAN-VC on a aarm64 device (Jetson Nano). I am trying as well, successfully compiled torchaudio but still can't manage to perform inference with said model. I'm wondering if you had any success with this and if you are willing to share your experience. Thanks in advance.

[2021-02-06 13:26] ark626 commented on #606
Yes i fit ist running. I will answere later in more Detail.
In the meantime you Coupe Check the Guide in this ive written

JetsonXavierAGX

[2021-02-06 13:34] ark626 commented on #606
Okay so in general the guide here referes to some of the usefull things ive used:
https://github.com/ark626/JetsonXavierAGX

If i recall it properly to run MelGAN-VC you needed to install torch and a specific version of tensorflow (https://drive.google.com/drive/folders/1Ee9S9Ab892n_rONX4zqQdbjjt5rTnHwV?usp=sharing)
Afterwards i needed to respect the following things:

Sometimes if Tensorflow is u

[2021-02-06 13:53] ark626 commented on #606
I used:

torch @ file:///media/ext/dataSets/MelGANVC/torch-1.6.0rc2-cp36-cp36m-linux_aarch64.whl
# Editable install with no version control (torchaudio==0.7.0a0+102174e)
-e /usr/local/lib/python3.6/dist-packages/torchaudio-0.7.0a0+102174e-py3.6-linux-aarch64.egg

The torch is linked in my guide.(https://drive.google.com/drive/folders/1Ee9S9Ab892n_rONX4zqQdbjjt5rTnHwV?usp=sharing)

For the torchaud

[2021-02-06 15:37] moih commented on #606
Hi @ark626 ,

I've managed to get the generator part of MelGAN-VC working, thanks to your help.
I'm running on a Jetson Nano Developer Kit 2GB, and I'm limiting my `memory_limit=256`

But now I am receiving this error, which is to do with Tensorflow it seems...Here is my log:

`Built networks
(196096,)
(7, 512, 64, 1)
Generating...
2021-02-06 16:32:03.058473: W tensorflow/stream_executor/gpu/redzo

[2021-02-06 15:54] ark626 commented on #606
I think the issue here was the tf version. Try installing tensorflow==1.15.4+nv20.11
Also it seems that that the memory is a little bit to small and ran out of memory trying to allocate 2,14GiB.

You can try to make a smaller model by decreasing it somehow. (You can also try decrease the samples to make the allocation smaller.) You can do serveral runs with different models if you want to split it

[2021-02-06 16:53] moih commented on #606
Thanks @ark626 , I will try that TF installation.
One last thing is that I'm running the MelGAN-VC model with these hyperparams:
[code]
At which sample rate and with what batch size did you manage to perform inference? Do you think running the model at 16khz sample rate help in fitting it into memory?

Thanks again for your help!

[2021-02-06 17:02] ark626 commented on #606
to reduce the ram usage you can reduce the vec_len i.E. 64 or 32.
The sampling rate sr should match the ones of your samples you use to train.
Also i extracted the shape as parameter which can be reduced to 32 or 16.
See the code below.

The sample rate will not help you in terms of ram.
IT should fit your samples so verify that all your samples have the same sr

[code]

For the sample rate you ca

[2021-02-07 03:42] qmpzzpmq opened #1245 "torchaudio.compliance.kaldi.fbank"
please support batch kaldi fbank computation/
 "waveform (Tensor) – Tensor of audio of size (c, n) where c is in the range [0,2)"
 right now only single utt compute is support

[2021-02-08 16:07] mthrok commented on #1245
Thanks for the feedback. Surely, this is very important and will try to address this.
We are thinking to apply tweak on `torchaudio.compliance.kaldi`.
We do not have an immediate action plan at the moment, but we will try to come back to this as soon as possible.

[2021-02-08 21:35] mthrok opened #1251 "Fix transducer test"
RNN-Transducer is a recently added prototype module and users can opt-in/out when building torchaudio.

The unit test for RNNT is supposed to be skipped when RNNT is not available, but instead it skips only when C++ extension is not available. It still runs test when C++ extension is available but not compiled with RNNT.

https://github.com/pytorch/audio/blob/77de2b9616c47c114124a8e002447ad927799d

[2021-02-08 21:45] mthrok opened #1252 "[Refactor] Move batch tests for functional to dedicated directory"
The number of unit tests we have in torchaudio has grown. It is critical to keep tests organized so as to make it easy for contributors to write tests for the feature they are working on.

Batch consistency tests are for validating that ops return the same result regardless of the number of dimensions/batches/channels. Currently We put all the tests in [test/torchaudio_unittest/batch_consistency_t

[2021-02-08 22:19] jieruan02 commented on #1251
can I try this?

[2021-02-08 23:10] kychow commented on #1252
Hey, I'm starting work on this task

[2021-02-09 09:52] #926 closed

[2021-02-09 10:35] prabhat00155 commented on #1252
I can work on this. Is there a bootcamp task for this?

[2021-02-09 15:24] yoyololicon commented on #704
@FBMachine  does it meet your requirement?

[2021-02-09 17:15] vincentqb commented on #704
Thanks for writing this and sharing it with the community! If torchscriptabilitiy is not a concern, then this is a great way to bind the forward and the backward pass :) This is in fact how we (temporarily) bind the prototype RNN transducer [here](https://github.com/pytorch/audio/blob/master/torchaudio/prototype/transducer.py#L14) in torchaudio.

Such custom autograd functions (both in python and

[2021-02-09 19:39] mthrok opened #1255 "Refactor librosa compatibility test"
The number of unit tests we have in torchaudio has grown a lot. It is critical to keep tests organized so as to make it easy for contributors to write tests for the feature they are working on.

[librosa consistency tests](https://github.com/pytorch/audio/blob/9e58e75cfd8eae48b36165da1fd9812f3f595197/test/torchaudio_unittest/librosa_compatibility_test.py) are for checking that torchaudio's impleme

[2021-02-09 19:40] mthrok commented on #1255
Temporarily assigning @kychow

[2021-02-10 01:37] yoyololicon commented on #704
@vincentqb thanks, I'll take a look.

[2021-02-10 14:19] ROBOTICSENGINEER opened #1257 "torchaudio wheel for Python3.9, torch 1.8.0, and cuda 11."
There is not any compatible torchaudio wheel for torch 1.8.0, python 3.9, and cuda 11.0 in the following page.

https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html

please upload `torchaudio-0.8.0.dev2021mmdd-cp39-cp39-linux_x86_64.whl`

[2021-02-10 14:29] prabhat00155 commented on #1252
@mthrok This could be closed as PR has been merged, thanks!

[2021-02-10 14:57] mthrok commented on #1257
Hi

3.9 wheel is being added in #1242. It should be resolved soon.

[2021-02-10 15:01] #1257 closed

[2021-02-10 15:29] #1252 closed

[2021-02-10 16:57] vincentqb commented on #770
Closed by #892. If this is not the case, please feel free to re-open :)

[2021-02-10 16:57] #770 closed

[2021-02-11 05:50] #1251 closed

[2021-02-11 05:52] mthrok commented on #1202
This proposal was approved in https://github.com/pytorch/pytorch/issues/51197, so we can start working on / accepting PRs for this.

[2021-02-11 17:28] mthrok opened #1258 "Adding `encoding` and `bits_per_sample` options to `save`"
The current release version's "soundfile" backend's `save` function changes the encoding of the audio file based on the dtype of the provided Tensor. For example, if the dtype is "float32", then it will be saved as 32bit floating point PCM. This behavior was taken from [SciPy's `scipy.io.wavefile.write` function](https://docs.scipy.org/doc/scipy/reference/generated/scipy.io.wavfile.write.html#scip

[2021-02-11 17:28] mthrok commented on #1258
Assigning @prabhat00155 temporarily

[2021-02-11 17:37] prabhat00155 commented on #1258
Thanks @mthrok, I can work on this.

[2021-02-11 22:50] AzizCode92 commented on #1255
Hi @mthrok, @kychow,  I have created a PR for this issue.

[2021-02-12 04:36] mthrok commented on #1258
@prabhat00155 Thanks.

Following the feedback in #1226, we drop the requirement 2 (defaulting to 16 bit signed PCM).
Keep [the original logic](https://github.com/pytorch/audio/blob/5efb13e36b434a7d432dcc8486d8e8a2712288a7/torchaudio/backend/_soundfile_backend.py#L267-L280) for the case neither `encoding` or `bits_per_sample` are provided. Let me know if you need help.

[2021-02-12 17:04] mthrok commented on #1094
@RimaOlson Did you have time to try it out? Let me know if it is not working as you expected.

[2021-02-12 18:51] mthrok commented on #1058
To summarize:

1. `torchaudio.functional.create_fb_matrix(..., norm='slaney')` is numerically compatible with `librosa.filters.mel(..., htk=True, norm="slaney")`
    * Subtask is to make `htk` option available to `create_fb_matrix` and Transforms that use this funciton.
2. `torchaudio.transforms.Spectrogram` is numerically compatible with `librosa.core.spectrum._spectrogram`. [gist](https://gist.g

[2021-02-12 20:03] RimaOlson commented on #1094
Thank you @mthrok , I checked out the nightly build. Tested the `pcm` and `mulaw`, they look good. Still trying to test OPUS and MP3. The issue might that it's more of a `sox` issue than `torchaidio`.

[2021-02-12 21:30] RimaOlson commented on #1094
Actually I looked at the headers with ffmpeg, it looks the same as in `AudioMetaData.encoding`. When can it be merged into master?

[2021-02-12 21:54] mthrok commented on #1058
Okay, I did further research and could reproduce librosa's melspectrogram with torchaudio. The parameters added in #1212 helped.

### Numerical compatibility

* Spectrogram
Confirmed that [torchaudio.transforms.Spectrogram](https://github.com/pytorch/audio/blob/4f9b55201dea6d0dd5165a4f684d1160ee9ca94a/torchaudio/transforms.py#L34-L108) and [librosa.core.spectrum._spectrogram](https://github.com/li

[2021-02-12 22:19] mthrok opened #1262 "Improve MelSpectrogram librosa compatibility test"
Currently the unit test for MelSpectrogram is varied amongst other tests.

https://github.com/pytorch/audio/blob/4f9b55201dea6d0dd5165a4f684d1160ee9ca94a/test/torchaudio_unittest/librosa_compatibility_test.py#L168-L234

This is very inconvenient from the viewpoint of maintainability because adding a new test for different argument is hard. Also it makes it hard to look into the property of test. (

[2021-02-12 22:24] mthrok commented on #1255
@AzizCode92

Thanks for the contribution. The PR looks good but let me wait for @kychow 's response a bit. I would like to stick to first-come first-served principle for fairness.

[2021-02-12 22:29] mthrok commented on #903
Hi @faroit

Regarding the `save` function. I added `bits_per_sample` and `encoding` option in #1226. Unfortunately, I could not make it default to 16-bit for the feat of BC breaking behavior, but with the new parameters, you can just do `encoding="PCM_S", bits_per_sample=16` to save tensor data to 16-bit signed integer PCM. You do not need to perform conversion by yourself. Let me know what you th

[2021-02-12 22:42] mthrok commented on #903
Hi @f0k

Turned out that `libsox` had the capability of converting numerical types (among float, uint8, int16, int32 etc) so now the `save` function can handle Tensors of dtype float, uint8, int16, int32 natively. You can do `torchaudio.save(path, tensor, format="wav", encoding="PCM_S"|"PCM_U"|"PCM_F", bits_per_sample=8|16|32)` without manually converting the Tensor.

[2021-02-12 23:47] mthrok opened #1264 "Add GSM format support to save function"
We would like to add more format support to "sox_io"'s `save` function. [`Full Rate`](https://en.wikipedia.org/wiki/Full_Rate) is the codec used in mobile phone system and the `libsox` torchaudio binds have capability to handle this format.

## Steps
### Implementation
1. Add `GSM` to [`Format` enum](https://github.com/pytorch/audio/blob/05bff83fdec3e8f70f80bf7a1b89951bf7050114/torchaudio/csrc/sox

[2021-02-13 06:08] mthrok opened #1265 "Use switch statements"
In torchaudio's `libsox` bindings (I/O and sox effects), there are couple of locations where different operation is applied based on Tensor's dtype.

Currently the code uses `caffe2::TypeMeta` type to check the dtype, such as the following example;

https://github.com/pytorch/audio/blob/05bff83fdec3e8f70f80bf7a1b89951bf7050114/torchaudio/csrc/sox/effects_chain.cpp#L83-L107

For this kind of execut

[2021-02-13 09:52] AzizCode92 opened #1266 "Can not build torchaudio from source"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Steps inside the documentation as described in the [README.md](https://github.com/pytorch/audio#from-source)

**Error Message:**
[code]

## Expected behavior
Successful build from source

## Environment

 - What commands did you used to install torchaudio (conda/pip/build from source)? from source
 - If you are building from source, whic

[2021-02-13 14:59] mthrok commented on #1266
Hi @AzizCode92

Please do `git submodule update --init --recursive`. Sorry README.md is obsolete. CONTRIBUTING.md has more accurate instructions.

[2021-02-13 15:53] mthrok commented on #1094
Hi @RimaOlson

It's been merged to master and it will be released as part of 0.8 soon. We expect the release to happen early March.

[2021-02-13 15:53] mthrok commented on #1094
Closing the issue. If you find something, please open a a new one. Thanks for the feedback!

[2021-02-13 15:53] #1094 closed

[2021-02-13 15:59] worc3131 commented on #1262
I will work on this :) 🐍

[2021-02-13 16:10] prabhat00155 commented on #1264
I can work on this.

[2021-02-13 16:11] prabhat00155 commented on #1265
I can work on this.

[2021-02-13 18:07] RimaOlson commented on #1094
Thanks a lot @mthrok !

[2021-02-13 18:21] AzizCode92 commented on #1266
Thanks @mthrok.
Problem solved

[2021-02-13 18:21] #1266 closed

[2021-02-13 18:55] mthrok commented on #1265
@prabhat00155

Thanks, let me know if you need help.

[2021-02-13 18:56] mthrok commented on #1264
@prabhat00155

Thanks, let me know if you need help.

[2021-02-13 19:49] mthrok commented on #1262
@worc3131 Thanks, let me know if you need help.

[2021-02-13 22:32] AzizCode92 commented on #1255
Sure.
thanks

[2021-02-14 09:08] faroit commented on #903
@mthrok sounds good. What happens if you specify non-standard combinations such as `encoding="PCM_F", bits_per_sample=8`?

[2021-02-15 08:23] HAMZA310 opened #1268 "Add "Crowd-sourced Emotional Multimodal Actors CREMA-D" Dataset"
## 🚀 Feature

- CREMA-D is an audio-visual data set for emotion recognition coming from a variety of races and ethnicities.
- The data set consists of facial and vocal emotional expressions in sentences spoken in a range of basic emotional states (happy, sad, anger, fear, disgust, and neutral).
- The dataset consists of 7,442 clips of 91 actors (48 male and 43 male).

- torchaudio should contain t

[2021-02-15 15:24] mthrok commented on #1268
Hi @HAMZA310

Thanks for the suggestion. The proposal sounds good to me. One question regarding the multimodal part; how do you propose to handle video in torchaudio? `torchvision` has `ffmpeg` binding that, I believe, can handle both audio and video. But `torchaudio` does not have such capability at the moment. So I am wondering this could better fit in `torchvision`.

cc @fmassa @datumbox @Nicol

[2021-02-15 15:31] #1262 closed

[2021-02-15 16:27] mthrok commented on #903
@faroit If the combination is allowed, it will be succeed, but if the combination is not supported, then it will cause an error. This was typical hard error vs fallback design decision, and we decided to start from hard error. If users find this behavior too inconvenient, then we can change that.

[2021-02-15 17:37] prabhat00155 commented on #1265
Is there any point in modifying this: https://github.com/pytorch/audio/blob/05bff83fdec3e8f70f80bf7a1b89951bf7050114/torchaudio/csrc/sox/utils.cpp#L105-L110

[2021-02-15 18:08] mthrok opened #1269 "RFC: The future of Kaldi compliance module"
# Request For Comment: The future of Kaldi-compatible features

## Problems
`torchaudio.compliance.kaldi` implements functionalities that tries to reproduce Kaldi's feature extractions, and this module has many issues, and causing headache for maintainers.
1. Inconsistent design
While the rest of the `torchaudio` library is standardized to work with floating-point Tensor with value range `[-1.0, 1

[2021-02-15 18:11] mthrok commented on #1269
cc Kaldi experts @danpovey @csukuangfj @pzelasko @mravanelli @sw005320

Since I have very limited experience in Kaldi and do not know how Kaldi project thinks of PyTorch/torchaudio, it is nice if you can your feedback. Thanks!

[2021-02-15 18:22] pzelasko commented on #1269
The binding of libkaldi-feat looks like a good solution. We are already following this approach for some components in K2/Snowfall (e.g. [kaldialign for WER/alignment computation](https://pypi.org/project/kaldialign/) and [kaldilm for LM compilation into FSA](https://github.com/csukuangfj/kaldilm)).
However my concerns are:
- will it run on GPU?
- will it be compatible with autograd?
- will you be

[2021-02-15 18:33] mthrok commented on #1265
Not much from practical view point. It's more cosmetic.

[2021-02-15 18:35] mthrok commented on #1265
Well, there should be a tiny performance improvement because `ScalarType` is backed by integral type. But that will be negligible improvement.

[2021-02-16 01:32] #1265 closed

[2021-02-16 05:04] HAMZA310 commented on #1268
Hi @mthrok

Thanks for your response. About the multimodal part, I'm proposing to add only the [audio stream](https://github.com/CheyneyComputerScience/CREMA-D/tree/master/AudioWAV) in `torchaudio` similar to [this release](https://www.tensorflow.org/datasets/catalog/crema_d).
The audio stream in CREMA-D is not dependent on the [visual recordings](https://github.com/CheyneyComputerScience/CREMA-D/

[2021-02-16 07:05] expectopatronum commented on #1058
Hi @mthrok,
I also recently had the issue that my `librosa` and `torchaudio` spectrograms were not compatible. Will it be possible only if the `librosa` spectrogram is created in the same way that you showed, e.g. setting `htk=True', ...?

I am currently creating my spectrograms with very few settings:
[code]
and would (as a new user) expect
[code]
in the same way. Will this be possible?
(This is

[2021-02-16 07:49] danpovey commented on #1269
Some comments:
  - The existing Kaldi project is kind of in maintenance mode right now, as I am working on new projects (k2/lhotse/snowfall) that are intended to replace it.
  - I suspect many of the uses of the kaldi compliance module right now are some kind of legacy support, e.g. people who have converted Kaldi models to PyTorch for inference.
  - There is probably a quite limited set of  confi

[2021-02-16 18:24] imaginary-person commented on #1264
Hello @prabhat00155, you seem to work at Facebook, so if you haven't started working on it yet, can I please request @mthrok to assign this issue to me, as it has a `good first issue` label? Thanks!

Hello @mthrok, there don't seem to be any useful details regarding GSM (default bit-depth, etc) at the [link you provided](http://sox.sourceforge.net/soxformat.html). Even if I won't be assigned this

[2021-02-16 18:30] imaginary-person commented on #1264
Hello @mthrok, there don't seem to be any useful details regarding GSM (default bit-depth, etc) at the [link you provided](http://sox.sourceforge.net/soxformat.html). Even if I won't be assigned this issue, this information might be helpful to Prabhat. Thanks!

[2021-02-17 04:27] mthrok commented on #1264
@imaginary-person

If you would like to work on something complementary to this issue, you can make `info` function work for `gsm` format.
The [`encoding`](https://github.com/pytorch/audio/blob/e5c4de87a0b530a4fed51aad33578ca4e642f5cb/torchaudio/backend/common.py#L16) attribute does not resolve `gsm`. You can add `gsm` case [here](https://github.com/pytorch/audio/blob/e5c4de87a0b530a4fed51aad33578

[2021-02-17 11:39] Oktai15 commented on #1245
@qmpzzpmq you can use `torchaudio.transforms.MelSpectrogram` as alternative

[2021-02-17 21:11] imaginary-person commented on #1264
Thank you, @mthrok. I'll get started right away.

[2021-02-18 00:07] qmpzzpmq commented on #1245
@Oktai15
hi, I just wondering if the result of theme are same?
From description, these result looks difference.

[2021-02-18 07:01] yoyololicon opened #1278 ""Could NOT find CUDA" error appeared when building from source"
## 🐛 Bug

I'm trying to do development installation following the instructions in [CONTRIBUTING.md](https://github.com/pytorch/audio/blob/master/CONTRIBUTING.md), but the building process cannot find CUDA and failed.

It seems like anaconda has its own way to handle cuda installation, and doesn't put the installation under `/usr/local/cuda` or something similar.

## To Reproduce

Steps to reproduc

[2021-02-18 07:14] imaginary-person commented on #1278
Setting these environmental variables would probably help:

https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#post-installation-actions

[2021-02-18 07:30] yoyololicon commented on #1278
@imaginary-person
Thanks, but the problem is I cannot even find the location where the cuda has installed... I installed it by conda, and cannot find similar folder structure like in the officail nvidia installation.

[2021-02-18 11:52] Oktai15 commented on #1245
@qmpzzpmq for example, check this issue: https://github.com/pytorch/audio/issues/157#issuecomment-513872666

[2021-02-18 13:26] mthrok commented on #1278
I encountered this when I had PyTorch installation with CUDA capability but not having CUDA. Since torchaudio does not need CUDA, you can either try building it with CPU only PyTorch or fix your CUDA installation.

[2021-02-18 19:50] vincentqb opened #1282 "[CircleCI] error: cannot bind non-const lvalue reference"
Issue to keep track of error appearing on pull requests in CircleCI, e.g. [here](https://app.circleci.com/pipelines/github/pytorch/audio/5072/workflows/900ec7cf-0b38-4691-9e98-6e715f406053/jobs/164968) from #1281.

[code]

[2021-02-18 22:59] vincentqb commented on #1282
Another [error](https://app.circleci.com/pipelines/github/pytorch/audio/5072/workflows/900ec7cf-0b38-4691-9e98-6e715f406053/jobs/164963)
[code]

[2021-02-18 23:48] mthrok commented on #1229
On e5c4de8, reproduced the error on my dev env.

<details><summary>script</summary>

[code]
</details> It takes a while to get the failing result.

Observed two failure modes.
1. `load_test` and `info_test` failing. [[log](https://gist.github.com/mthrok/6b997dd6681a8e525834c7d955e33adc)]
2. `save_test` failing. [[log](https://gist.github.com/mthrok/28ef1b0c022d752fb0b7273189bb97cf)]

For the failu

[2021-02-19 00:32] #1282 closed

[2021-02-19 02:00] mthrok commented on #1229
Checking at the data from the failure mode 2;

[torchaudio_unittest.backend.sox_io.save_test.SaveTest.test_save_flac_bytesio_16_0.tar.gz](https://github.com/pytorch/audio/files/6007083/torchaudio_unittest.backend.sox_io.save_test.SaveTest.test_save_flac_bytesio_16_0.tar.gz)

looks like ~the conversion from flac to wav is altering the data.~ flac data has something wrong.

[code]

Audacity also rep

[2021-02-19 02:55] yoyololicon opened #1286 "Failed to build using cpu only version of PyTorch"
## 🐛 Bug

Follow issue #1278, I want to do development installation without cuda dependency, then encountered new errors.

## To Reproduce

Steps to reproduce the behavior:

[code]

Output:
[code]

## Expected behavior

## Environment

[code]

## Additional context

[2021-02-19 03:09] yoyololicon commented on #1286
Fixed by #1285

[2021-02-19 03:09] #1286 closed

[2021-02-19 03:10] yoyololicon commented on #1278
Temporary solved by using CPU only PyTorch.

[2021-02-19 03:43] imaginary-person commented on #1278
I'm also running Ubuntu 20.04.

If you want to leverage the GPU, install CUDA toolkit from the Nvidia website, and then install PyTorch again, and then try building torchaudio. There are many posts on Stackoverflow about conda not installing all packages of the CUDA toolkit, but only the packages it needs.

[2021-02-19 09:44] qmpzzpmq commented on #1245
@Oktai15 thanks for your example, I will test them for same result. but it looks, still some parames to be check.

[2021-02-19 14:57] mthrok commented on #1278
Closing as this is not an issue on torchaudio.

[2021-02-19 14:57] #1278 closed

[2021-02-19 16:03] mthrok commented on #1229
Checking the data from failure mode 2; the source audio file and audio files processed with `sox` have the same checksum. This indicates that there is some un-deterministic behavior in torchaudio's implementation.

## successful case
[code]

## Failure case
[code]

[2021-02-20 00:08] #1264 closed

[2021-02-20 04:46] #1238 closed

[2021-02-20 06:08] Huangsh17 opened #1292 "Can torchaudio synthesize audio?"
Can torchaudio synthesize audio?

[2021-02-22 15:23] vincentqb commented on #1292
Are you looking you looking for specific techniques? Along the line of Text-To-Speech, we have an [example](https://github.com/pytorch/audio/tree/master/examples/pipeline_wavernn) of a vocoder based on WaveRNN.

More generally, there's also a [forum](https://discuss.pytorch.org/) were users of pytorch and torchaudio can discuss different applications. Would that help?

[2021-02-22 17:45] mthrok commented on #1229
I updated the debug wrapper to check the content of data flowing in/out of Python/C++. [code](https://github.com/mthrok/audio/blob/0e4f38af3ebdaa21e49d559ab39da5d1f24042ab/torchaudio/backend/sox_io_backend.py#L19-L36)

Using this, I checked what is happening to `info` function test. Currently the following tests can fail. ([full log](https://gist.github.com/mthrok/9946c413b5106cedc63d6e59b15dfdb2)

[2021-02-22 19:17] jcaw opened #1294 "Should batch consistency be tested with a batch of non-identical items?"
The `batch_consistency_test.py` files check that behaviour is consistent on batches vs. items, but the current infrastructure does this with batches of identical items. This approach may miss bugs related to data leakage between items within a batch, for example #994. I suggest items should be different to ensure those kinds of issues are flagged.

I have an alternate implementation [here](https:/

[2021-02-22 20:44] mthrok commented on #1294
Hi @jcaw

Thanks for the suggestion. I although thought a similar thing when reviewing #994. I briefly looked at your code and basically, your approach is to pass a batch to the helper method and run it separately and individually, correct? This looks like a good improvement. Please open a PR.

[2021-02-22 21:12] #1255 closed

[2021-02-22 22:26] mthrok commented on #1229
Looking further into the behavior of sox in info test case, it seems that when `mp3` file is opened, the length information is already un-deterministic [here](https://github.com/dmkrepo/libsox/blob/b9dd1a86e71bbd62221904e3e59dfaa9e5e72046/src/formats.c#L578).

log from failure case (`length` is filled properly)
[code]

log from success case (`length` is not filled as expected)
[code]

[2021-02-22 22:27] mthrok commented on #1229
For mp3, looks like it is happening somewhere in

https://github.com/dmkrepo/libsox/blob/b9dd1a86e71bbd62221904e3e59dfaa9e5e72046/src/mp3.c#L381-L394

[2021-02-22 22:40] mthrok commented on #1229
Looks like when info test fails `ft->seekable=1` while, most of the time, `ft->seekable=0`

[2021-02-22 23:04] mthrok commented on #1229
`is_seekable` function sometimes returns 1.

https://github.com/dmkrepo/libsox/blob/b9dd1a86e71bbd62221904e3e59dfaa9e5e72046/src/formats.c#L329-L338

[2021-02-23 01:22] mthrok commented on #1229
Okay, I think I figured. The `is_seekable` function is checking the `stat.st_mode` of an opened file, which is invalid in case of memory object.

https://github.com/dmkrepo/libsox/blob/b9dd1a86e71bbd62221904e3e59dfaa9e5e72046/src/formats.c#L336

[2021-02-23 10:20] trangtv57 opened #1298 "how to compute log filter bank energy in torch audio compare with python_speech_feature?"
## ❓ I want re-procedure result like when i use compute log-filterbank energy of lib: python_speech_feature by using torchaudio.

this is my code, and I'm see the result is difference:

[code]
How can i make result return by torchaudio is the same with python speech feature. I'm not have deep understand more about speech feature, so question can so weird, sorry.
Thankyou

[2021-02-23 13:58] jcaw commented on #1294
Awesome. Yes, that's correct. I'll open a PR.

[2021-02-23 16:34] mthrok commented on #1298
Hi @trangtv57

Thanks for using `torchaudio`. I do not have experience with the package.
The question better falls into user support, so can you post it in https://discuss.pytorch.org/ ?

[2021-02-23 16:34] #1298 closed

[2021-02-23 18:33] mthrok commented on #1229
Resolved by #1297

[2021-02-23 18:33] #1229 closed

[2021-02-24 22:04] prabhat00155 commented on #1258
This issue could be closed now; PR merged.

[2021-02-24 23:04] #1258 closed

[2021-02-25 00:52] mthrok opened #1314 "New features missing from documentation"
## 📚 Documentation

The following newly added functions are missing from the documentation. Anyone who can help adding these to documentation, please open a PR. I am swamped by the last-minute release work, so contributions from anyone is welcomed.

[code]

Please make two PR, one for `release/0.8` and `master`.

[2021-02-25 02:38] mthrok commented on #1183
The new function is added in #1200. Thank you!

[2021-02-25 02:38] #1183 closed

[2021-02-26 08:43] 1enn0 opened #1320 "Windows build missing on PyPI?"
## 🐛 Bug

Is there a reason `torchaudio` is not pushed to PyPI?

## To Reproduce

Steps to reproduce the behavior:

1. `pip install torch==1.7.1 torchaudio==0.7.2`

Output:
[code]

## Expected behavior

`torch` (CPU build) and `torchaudio` are installed.

## Environment

 - OS: Windows
 - Python version: 3.8.6

## Additional context

I'm wondering why the `torchaudio` and `torchvision` wheels for

[2021-02-26 11:49] mthrok commented on #1320
Hi @1enn0

Thanks for reporting. I believe Windows build should be available and if it's not, there is an issue.

@seemethere could you take a look into this?

[2021-02-26 15:28] #1314 closed

[2021-02-26 17:02] csukuangfj commented on #1269
I would propose another alternative: reimplement, instead of binding, libkaldi-feat using `torch::Tensor` in C++
and provide a Python interface for it.

I've got a preliminary working version that produces the same output as kaldi's `compute-fbank-feats` using
default parameters with `--dither=0`.

The following sample wave `abc.wav`
[code]
is used to benchmark the implementation.

I've modified `

[2021-02-26 17:03] csukuangfj commented on #1269
@pzelasko

As there are no learnable parameters in the feature extraction, could you explain what's the use of autograd
in the context of feature extraction?

[2021-02-26 17:04] pzelasko commented on #1269
@csukuangfj Adversarial attacks and defense research

[2021-02-26 23:31] mthrok opened #1323 "Making `AudioMetaData` print friendly"
`AudioMetaData` class reports meta-data of audio source. It is however not print friendly.

[code]

It is nice if we can simply print the attributes like `dataclass` objects do.

[code]

## Steps

There are two approaches I can think of
1. Add `__str__` method.
2. Use `dataclasses.dataclass`

For 2, the `info` function has to be TorchScript-compatible. This means that its return type `AudioMetaDat

[2021-02-27 15:42] csukuangfj commented on #1269
It's even faster when CUDA is available:
[code]

[2021-02-27 20:51] majabojarska commented on #1323
Hi. I want to work on this issue.

[2021-02-28 03:52] danpovey commented on #1269
@csukuangfj let's wait to see whether that's the direction they want to go in before spending lots of time on this.
Since your repo is public, if they want to use that as a starting point they can easily do that, but right now I think getting our new model working is more urgent.

[2021-02-28 07:37] csukuangfj commented on #1269
Will focus on our snowfall training.

[2021-02-28 13:45] discort commented on #611
@mthrok
Is still relevant issue? If so, could you please update the description. It seems there are no mentioned tests

[2021-02-28 16:18] mthrok commented on #1323
Hi @majabojarska

thanks. Let me know if you need help.

[2021-02-28 16:27] #1294 closed

[2021-03-01 15:31] mthrok commented on #1269
Hi @pzelasko @danpovey @csukuangfj

Thanks for sharing your thoughts.

So torchaudio team wants to resolve the issue with the current module. That is inconsistent design / bad performance / high maintenance cost. But to do that we need a direction and that's where we would like to hear from the users.

I was pushing for binding libkaldi only because this easily solves performance and maintenance c

[2021-03-01 15:37] danpovey commented on #1269
For the time being our plan was to rely on torchaudio for feature extraction, I'm afraid.
That's what we are currently doing.

[2021-03-01 15:52] mthrok commented on #1146
Thanks for the input.

In the upcoming release, we are releasing [`apply_codec` function](https://pytorch.org/audio/master/functional.html#torchaudio.functional.apply_codec) as a beta feature.

Opus is not supported yet as the underlying libsox does not support writing opus format. Together with the packet loss simulation mentioned above, I will think what I can do about it.

[2021-03-01 20:18] mthrok commented on #1058
Hi @expectopatronum

Sorry for the late reply. We are revisiting #593, which adds HTK compatibility to base frequency bin generation. Once this is done, we can expose the parameter to `MelSpectrogram` and we should get the support for `htk`.

[2021-03-01 22:24] eldrin commented on #1058
Hi @mthrok

I have double checked and from a few sources including [librosa documentation](https://librosa.org/doc/main/generated/librosa.mel_frequencies.html) and [an old email thread from auditory list](http://www.auditory.org/mhonarc/2008/msg00189.html), it looks like the one that is implemented in torchaudio is actually `htk` and the other one that is not implemented is `Slaney`.

Also I found

[2021-03-02 11:51] Aditya3107 commented on #1146
Please check.

N. Hailu, I. Siegert and A. Nürnberger, "Improving Automatic Speech Recognition Utilizing Audio-codecs for Data Augmentation," 2020 IEEE 22nd International Workshop on Multimedia Signal Processing (MMSP), Tampere, Finland, 2020, pp. 1-5, doi: 10.1109/MMSP48831.2020.9287127.

@danpovey

[2021-03-02 11:59] danpovey commented on #1146
MM, you don't have a pdf link do you?

On Tue, Mar 2, 2021 at 7:51 PM Aditya <notifications@github.com> wrote:

[2021-03-02 12:06] Aditya3107 commented on #1146
Hmm..it's published on IEEE.
https://ieeexplore.ieee.org/abstract/document/9287127
Here is the link. I have university access of IEEE.

[2021-03-02 16:38] mthrok opened #1337 "[Migration] Torchaudio Complex Tensor Support and Migration"
# Torchaudio Complex Tensor Support and Migration

## Overview

`torchaudio` has been expressing complex numbers by having an extra dimension for real-part and imaginary-part. (We will refer this format as `"pseudo complex type"`)

[code]

PyTorch 1.6 introduced complex Tensor type, such as `torch.complex64` (`torch.cfloat`) and `torch.complex128` (`torch.cdouble`). (Will be refered as `"native co

[2021-03-02 19:36] vincentqb commented on #680
No more references to `pytest` :) but we still use `assert_allclose` in `compliance_kaldi_test`.

[code]

[2021-03-02 21:29] #1323 closed

[2021-03-03 03:24] mthrok commented on #1058
We have merged #593, which adds the equivalent of `htk=False` option of librosa.

@eldrin The change includes roughly what you quoted, you should be able to do the comparison. Try the nightly build tomorrow and let us know if that meets your requirement.

[2021-03-03 04:10] zion-h opened #1343 "Get difference result from server and local ( mel spectrogram)"
## 🐛 Bug

![image](https://user-images.githubusercontent.com/79956493/109750604-16e77f80-7c20-11eb-8cd8-29195c8177e6.png)

I'm used this code to mp3->mel spectrogram data.(not using gpu, only cpu)
But I got a problem that is server and local make different result.
Server and local running same code.

python : 3.7.0
torch : 1.7.1
torchaudio : 0.7.2

server : centos7.4
local : mac os

How to solve t

[2021-03-03 04:20] mthrok commented on #1343
Hi @zion-h

Please run the environment collection script in each of your environment and report them as instructed in the issue template.

[2021-03-03 05:07] zion-h commented on #1343
Hi, @mthrok
modified!

[2021-03-03 14:44] mthrok commented on #686
Kaldi pitch feature was added in #1243, and will be released as a beta feature in upcoming 0.8.0. We welcome feedback on the feature.

[2021-03-03 14:44] #686 closed

[2021-03-03 19:28] vincentqb opened #1346 "parameterized for functional librosa compatibility test"
We'd like to use parameterized for the functional librosa compatibility test [here](https://github.com/pytorch/audio/blob/master/test/torchaudio_unittest/functional/librosa_compatibility_test.py#L77). This will make it easier to know which option is failing.

cc [comment](https://github.com/pytorch/audio/pull/593/files#r585724895)

[2021-03-03 20:35] vincentqb commented on #1346
Feel free to point out if there's already an issue covering this :)

[2021-03-03 23:11] jcaw opened #1348 "`F.vad` batch consistency behaviour"
I isolated a potential issue with batch consistency and F.vad in #1341:

@mthrok replied:

Opening a dedicated issue so the discussion can continue here.

[2021-03-04 14:27] NoCodeAvaible opened #1352 "AttributeError"
Hey guys,
when I try to setup the soundfile backend I get this error:

`AttributeError: partially initialized module 'torchaudio' has no attribute 'set_audio_backend' (most likely due to a circular import)`

This is how I try to setup the soundfile backend:
![backend](https://user-images.githubusercontent.com/77166330/109978211-f1c93e80-7cfd-11eb-8e20-6cb5b1d14b3c.JPG)

PS: I try to setup the back

[2021-03-04 16:02] #1346 closed

[2021-03-04 16:37] mthrok commented on #1352
Hi @NoCodeAvaible

Looks like you are editing the installed package. That's not a standard way to do but I understand why one wants to do so.

Can you do it at the very end of `torchaudio/__init__.py` (the top level `__init__.py`) ? Then it should work.

[2021-03-04 19:23] NoCodeAvaible commented on #1352
ok thank you very much for your help

[2021-03-04 19:26] NoCodeAvaible commented on #1352
in the folder backend?

[2021-03-04 19:50] mthrok commented on #1352
just at the top level, that's it. that will be almost equivalent setting the backend in user-side script.

[2021-03-04 20:30] NoCodeAvaible commented on #1352
ok

[2021-03-04 21:04] vincentqb commented on #1320
FYI the new release 0.8 has been uploaded to [pypi](https://pypi.org/project/torchaudio/#files) :)

[2021-03-04 21:52] mthrok commented on #1352
Closing as this is not an issue in torchaudio.

[2021-03-04 21:52] #1352 closed

[2021-03-05 04:05] ankitdobhal opened #1358 "Potential Bug Risks and Anti-Patterns"
## Description

Hi 👋 I ran the [DeepSource](https://deepsource.io/) static analyzer on the forked copy of this repo and found some interesting code quality issues which are available [here](https://deepsource.io/gh/ankitdobhal/audio/issues).

The Static Code Analysis Tool found potential bugs and anti-patterns in the Code, that can be detrimental at a later point in time with respect to the Projec

[2021-03-05 04:17] mthrok commented on #1358
@ankitdobhal Please open it in pytorch/pytorch. not in pytorch/audio.

[2021-03-05 04:17] #1358 closed

[2021-03-05 04:24] ankitdobhal opened #1363 "Potential Bug Risks and Anti-Patterns"
## Description

Hi Pytorch community .
Hi 👋 I ran the [DeepSource](https://deepsource.io/) static analyzer on the forked copy of [torchaudio: an audio library for PyTorch Repo](https://github.com/pytorch/audio) and found some interesting code quality issues which are available [here](https://deepsource.io/gh/ankitdobhal/audio/issues).

The Static Code Analysis Tool found potential bugs and anti-pa

[2021-03-05 09:18] 1enn0 commented on #1320
@vincentqb thanks, that's great news! 👍

Just out of curiosity: How does this upload actually happen? Is it automatically done by the CI or is it a manual script someone with access to the PyPI repo has to run? I had a look around the repo but could not really figure this out. :)

[2021-03-05 20:23] mthrok commented on #1363
@ankitdobhal

As I suggested in the original PR, please propose the adaptation of DeepSource in PyTorch core repository by filing an issue there. Not the copy of PR description. Please describe why you think the whole community benefits from using DeepSource.

[2021-03-05 20:23] #1363 closed

[2021-03-05 20:46] mthrok opened #1364 "RFC: Iterable Dataset"
## **tl;dr** RFC: Do you need to access dataset by index?

Currently `torchaudio` provides map-style datasets, which you can get a sample data with indexing.

[code]

There is an ongoing efforts to improve data loading mechanism on PyTorch (see https://github.com/pytorch/pytorch/issues/41292), and the proposal along with it is [DataPipe](https://github.com/pytorch/pytorch/issues/49440) which will

[2021-03-05 21:32] vincentqb commented on #1320
Most of it is automated, see #682, but there is a little more "human supervision" for releases to make sure there are no surprises there :)

[2021-03-06 05:08] mthrok opened #1367 "Remove deprecated function argument"
In #1036, we have deprecated the argument which was introduced by an accident in the first place. Now we have finished with 0.8.0 release and master branch points to 0.9.0. We can remove the argument itself.

## Steps
1. Remove `normalized` from [the function signature](https://github.com/pytorch/audio/blob/7b85f1c3751799eaf734443e773376b9a0873996/torchaudio/functional/functional.py#L121), [docstr

[2021-03-06 05:43] mthrok commented on #1023
We have updated the tutorial with how to generate a MelSpectrogram which is numerically comparable with librosa.
Please checkout the new tutorial. https://pytorch.org/tutorials/beginner/audio_preprocessing_tutorial.html#id1

Up to release version 0.8, torchaudio could only generate the equivalent of librosa's `htk=True` spectrograms, but recently we also added the support for `htk=False` too. We w

[2021-03-06 05:43] #1023 closed

[2021-03-06 06:00] mthrok commented on #823
I have added a tutorial on how one can use `torchaudio` for augmentation.
https://pytorch.org/tutorials/beginner/audio_preprocessing_tutorial.html#adding-background-noise

I think the next step will be to define interface for noise mixture function.

[2021-03-07 04:38] ketanhdoshi commented on #903
With `torchaudio.load()` in v0.8, the sox_io backend does not support 24-bit signed PCM audio files. Right now the only workaround is to switch back to the sox backend using `torchaudio.set_audio_backend("sox")`.

Is 24-bit signed going to be supported in 0.9 before removing sox? Thanks!

It is not possible to convert the dataset I'm using to 16-bit or 32-bit.

[2021-03-07 14:14] mthrok commented on #903
Hi @ketanhdoshi

Thanks for the report. If it's causing you the trouble, we will definitely support it.
Since PyTorch does not have 24-bit int type. I need to think of a behavior when `normalize=False`.
In your use case, are you loading data in `float32` type?
Also if you can tell us a command to generate the same type you are dealing with (with tools like `ffmpeg` or `sox`), that will be helpful.

[2021-03-08 16:25] #1367 closed

[2021-03-08 18:24] seemethere commented on #1320
Windows builds started to be uploaded to PyPI as of torchaudio 0.8.0, please use those binaries moving forward.

We will most likely not upload windows binaries for 0.7.2

[2021-03-08 18:37] vincentqb commented on #1320
Closing issue following comment from @seemethere. @1enn0, please feel free to re-open the issue if this does not address it.

[2021-03-08 18:37] #1320 closed

[2021-03-09 03:39] ketanhdoshi commented on #903
Thanks @mthrok. Yes, data is being loaded as float32. Here's an [example ](https://urbansounddataset.weebly.com/urbansound8k.html )of a dataset that has many sound files that I'm using that are in 24-bit signed format.

[2021-03-09 04:52] yoyololicon opened #1375 "🚀 Enable gradient pass through all biquad filter function"
## 🚀 Feature

I propose make all `*_biquad` filter function become differentiable respect to their parameters (`Q`, `gain`, `central_freq`... etc.)

## Motivation

Recently there is a trend on using differentiable IIR filters to learn frequency responses efficiently.
In the last year DAFX2020 already about 3 papers described similar idea. Some are produced by well known companies (Native Instrumen

[2021-03-09 15:30] mthrok commented on #1375
Hi @yoyololicon

Thanks for the proposal. We are also interested in differential DSP (like in (magenta)[https://magenta.tensorflow.org/ddsp]), but we did not get to work on it due to the lack of the engineering resource. I second your proposal, it sounds like a natural extension of the current `lfilter` update, it does not sound like involve BC-breaking change.

We will be needing tests for ensuri

[2021-03-09 22:22] mthrok opened #1376 "Support 24bit wave in sox_io `load` function."
Currently the `save` and `info` functions of "sox_io" backend support 24-bit signed integer liner PCM, but `load` function does not support it.

[code]

[code]

We can support add support for 24-bit signed integer linear PCM. It is straightforward for the case `normalize=True` as the returned Tensor will be `float` type with value range [-1.0, 1.0] but there is an open question of what to do when

[2021-03-09 23:03] mthrok opened #1377 "Adding TorchScript test for `F.phase_vocoder`"
[`torchaudio.functional.phase_vocoder`](https://github.com/pytorch/audio/blob/ea857940de9e3738166989ad3bf1726741a13f04/torchaudio/functional/functional.py#L558) does not have TorchScript-compatibility test. We need this before adding native complex dtype support.

## Steps
1. Add `test_phase_vocoder` method in [`torchscript_consistency_impl.py`](https://github.com/pytorch/audio/blob/ea857940de9e37

[2021-03-10 00:05] mthrok opened #1378 "Linting doc config"
Currently, `doc/source/conf.py` is not checked with `flake8` in our CI and it contains errors. We need to fix this and make CI check it.

[code]

## Steps
1. Fix the above error.
2. Add `docs/source/conf.py` [here](https://github.com/pytorch/audio/blob/ea857940de9e3738166989ad3bf1726741a13f04/.circleci/unittest/linux/scripts/run_style_checks.sh#L32)

## Build and testing

For setting up dev env, p

[2021-03-10 05:07] NumesSanguis commented on #62
This issue occurred to me with `pytorch=1.8.0`, `torchaudio=0.8.0` and `cudatoolkit=11.1.1` through a conda environment.yaml install on Ubuntu 18.04:

[code]

<details><summary>Full Traceback (CLICK ME)</summary>
<p>

[code]

</p>
</details>

[2021-03-10 05:17] mthrok commented on #62
@NumesSanguis The error means that your PyTorch C++ binary does not contain the function that torchaudio needs. It is likely version mismatch between torchaudio and pytorch.

[2021-03-10 05:43] NumesSanguis commented on #62
@mthrok Thank you, this was indeed the issue. It was not the versions, but the channel of the conda package.

The release of PyTorch 1.8.0 was released together with the announcement of TorchAudio 0.8.0, so I would assume that these 2 versions would work together:
- PyTorch 1.8.0: https://pytorch.org/blog/pytorch-1.8-released/
- TorchAudio 0.8.0: https://pytorch.org/blog/pytorch-1.8-new-library-re

[2021-03-10 12:55] mthrok commented on #1377
#1379

[2021-03-10 13:18] mthrok commented on #62
@NumesSanguis PyTorch 1.8.0 and torchaudio 0.8.0 work together. In fact PyTorch 1.8.0 is a strict requirement for torchaudio 0.8.0. For `conda`, `pytorch` channel is the official distribution channel, but `conda-forge` is not and we do not know how the packages in `conda-forge` are maintained. I guess in your case, things got mixed up. Glad to hear that it's working.

[2021-03-10 14:16] jackyguo624 opened #1380 "Fix docstring of `sliding_window_cmn`"
https://github.com/pytorch/audio/blob/ea857940de9e3738166989ad3bf1726741a13f04/torchaudio/functional/functional.py#L947

the input `specgram `shoud be in shape (channel, ..., time, freq), instead of `(..., freq, time)` as doc says.

Right?

[2021-03-10 14:40] mthrok commented on #1380
Hi @jackyguo624

Thanks for the report. I think you are right about it and we should fix it.

[2021-03-10 14:41] mthrok commented on #1380
CC @jcaw Sorry we missed it in the review process.

[2021-03-10 15:05] mthrok opened #1381 "Save should raise an error when saving invalid GSM config."
GSM format only supports 8kHz single-channel waveform. The current `save` function always assumes this is the case, and interpret the input Tensor to be 8kHz single-channel even when it's not. The following script demonstrates it.

[code]

prints

[code]

Instead the `save` function should reject `save` operation when it's not 8kHz single-channel waveform.

## Steps
1. Add check for sample rate an

[2021-03-10 15:28] amaramrahul commented on #1378
will look into this

[2021-03-10 15:37] yoyololicon commented on #1380
@jackyguo624
Hmm, I think the docstring is right, `(..., freq, time)` means you can drop the batch dimension, directly feed a matrix into it.

https://github.com/pytorch/audio/blob/ea857940de9e3738166989ad3bf1726741a13f04/torchaudio/functional/functional.py#L1022

This line handle when input is a 2-dimensional matrix.

[2021-03-10 15:55] mthrok commented on #1380
@yoyololicon

Well, the batch/channel dimension is fine. I think the issue is about the order of the last two dimensions. The expected order is `(..., time, freq)` whereas the docstring is `(..., freq, time)`

[2021-03-10 16:01] yoyololicon commented on #1380
Oh, I see it, nevermind.😅

[2021-03-10 16:04] jcaw commented on #1380
Spectrograms returned by torchaudio do have the [order](https://github.com/pytorch/audio/blob/ea857940de9e3738166989ad3bf1726741a13f04/torchaudio/functional/functional.py#L75), `(..., freq, time)` though. Should `sliding_window_cmn` be operating on a different order? That seems like a bug.

[2021-03-10 17:36] mthrok commented on #1380
This is the inconsistent design principles between the libraries `torchaudio` followed. `sliding_window_cmn` is from Kaldi while `spectrogram` is from another different source. We could think of changing it but it will be a bc-breaking change, so it needs a separate discussion. For now, let's make the docstring of `sliding_window_cmn` accurately reflect the operation.

[2021-03-10 17:43] mthrok commented on #1377
resolved by #1379

[2021-03-10 17:43] #1377 closed

[2021-03-10 18:07] mohamedirfansh commented on #1380
Hello, can I work on this and fix this issue?

[2021-03-10 20:34] mthrok commented on #1380
Thanks. The docstring itself has changed. I'll think of what we can do about the inconsistent design. There are bunch of inconsistent interface design around Kaldi-originated functions.

[2021-03-10 20:34] #1380 closed

[2021-03-10 20:35] mthrok commented on #1380
and if you have any suggestion, we are happy to hear.

[2021-03-10 22:18] jhurt commented on #1381
@mthrok I'll take a look at this

[2021-03-10 22:31] mthrok commented on #1381
@jhurt

Thanks. Let me know if you need help.

[2021-03-11 02:44] cpuhrsch commented on #676
I'd like to quote @yoyololicon's [comment](https://github.com/pytorch/audio/pull/1310#issuecomment-790408467) here as reference for potential future work.

"""

Currently, the custom backward function is actually just filter the gradients in reversed direction with the same parameters. If there is numerical problems in forward pass, it's very likely to happen in backward.

The instability of lfilt

[2021-03-11 18:50] iseessel commented on #1376
Hi I'll be working on this :)!

[2021-03-11 23:21] amaramrahul commented on #1378
Raised PR - https://github.com/pytorch/audio/pull/1385

[2021-03-12 04:26] #1378 closed

[2021-03-12 05:13] #1381 closed

[2021-03-12 05:14] mthrok commented on #1376
@iseessel Thanks, let me know if you need help.

[2021-03-12 12:17] mthrok opened #1388 "Removing `skipIfNoSoxBackend` in test"
In #1311 we have removed legacy backends but some tests were not properly updated. We should fix them.

## Steps
1. Remove the definition of [`skipIfNoSoxBackend` decorator](https://github.com/pytorch/audio/blob/720323c67dcbee798d9055091ad81b0b23512a88/test/torchaudio_unittest/common_utils/case_utils.py#L99-L100)
2. Replace [the use of `skipIfNoSoxBackend`](https://github.com/pytorch/audio/search?

[2021-03-13 23:36] aelimame commented on #903
I'm running into the same issue. I'm loading some 24bit audio files and sox_io fails to load them. I can use sox backend for now but would appreciate if 24bit format can be supported too in sox_io.

A good way to handle the normalize=False is to make it unsupported for this specific format given most of the time people would use normalize=True (at least that's what I do almost always). Another ide

[2021-03-15 16:22] #1376 closed

[2021-03-17 01:26] aelimame commented on #903
@ketanhdoshi 24-bit support seems to have been added a couple days ago to the master branch https://github.com/pytorch/audio/pull/1389
I test it (Nightly build) and seems to work for me!

[2021-03-17 02:07] kdonbekci opened #1395 "Expose function for manually framing a signal"
## 🚀 Feature
Expose function for manually framing a signal/waveform in a consistent manner with existing transforms.

## Motivation
Transforms such as `ta.transforms.Spectrogram` handle windowing with overlap under the hood. Sometimes, it is necessary to achieve the same windowing behavior for other input types that will not undergo a FFT. Currently, there seems to be no API exposed for manually w

[2021-03-17 02:14] kdonbekci commented on #1395
Looks like `F.unfold` alone can match the current behavior of Torch Audio transforms besides the `"reflect"` padding option.

[2021-03-17 15:13] mthrok commented on #903
@aelimame @ketanhdoshi Sorry I forgot to let you know but we added 24-bit support.

It's nice to learn that it is working for you @aelimame.
@ketanhdoshi , please try the nightly build and see if it works. If not let us know.

[2021-03-17 16:01] mthrok commented on #1395
Hi @kdonbekci

Thanks for the idea. I think this is a helpful addition as I often see the need to align processed signal and the original signal. (cc @faroit I think this is your interest too)

I looked at the documentation of `tf.signal.frame` and my understanding is that the proposed feature is folding the original signal accommodating the overlaps caused by the hop length. (correct me if I am w

[2021-03-17 20:14] cpuhrsch commented on #1375
This sounds great! I'm all for this.

[2021-03-18 06:05] yoyololicon commented on #1375
@cpuhrsch @mthrok
I was prototyping the feature, and found that torch jit doesn't support union type like `Union[float, Tensor]`, leading to fail on torch script consistency tests.
Can we force users to pass tensor type on these parameters, or do you guys have other work around ideas that would not break backward supportability?

[2021-03-18 16:01] discort commented on #446
@vincentqb

I'd like to add vanilla deepspeech model

[2021-03-18 16:11] mthrok commented on #1375
Hi @yoyololicon

One workaround we have is to only use the annotation that is compatible with TorchScript. For example, I/O functions support file-like objects and path-like objects but we only annotate them as `str` and added note in docstring why we do so. https://pytorch.org/audio/stable/backend.html#info

However I am afraid this approach will not work completely for the case here. If we restr

[2021-03-19 01:41] yoyololicon commented on #1375
@mthrok Great, let's go for (2).

[2021-03-20 13:28] ktatar opened #1403 "librosa.cqt for torchaudio"
## 🚀 Feature

torchaudio.transforms.CQT ported from librosa.cqt

## Motivation

CQT has been found beneficial to audio synthesis applications. In some cases, CQT outperforms other audio features. It would be beneficial for audio researchers to have a torchaudio.transforms.CQT function in torchaudio library.

## Additional context

refs:

Esling P, Chemla-Romeu-Santos A, Bitton A (2018) Generative

[2021-03-22 15:08] vincentqb commented on #1403
see also #588 :)

[2021-03-23 06:32] ktatar commented on #588
Hi all,
It seems like there is an implementation provided by @KinWaiCheuk. Do you plan to add this to the library?

[2021-03-23 07:41] tyoc213 opened #1406 "Cant build from source?"
## 🐛 Bug

I just cloned the repo and tried to build from source. Im geting this error after solving a problem about not cuda home not setup `export CUDA_HOME=/usr/local/cuda-11.2/` (not been able to calculate hash for nvrtc)

[code]

## Environment

[code]

And the log file

[vorbis-build.log](https://github.com/pytorch/audio/files/6187730/vorbis-build.log)

[2021-03-23 08:10] tyoc213 commented on #1047
I think not in pip or conda, but taking above command and changing to latest driver worked (which was a pain for me and Ubuntu latest driver)

`!pip install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu112/torch_nightly.html`

![image](https://user-images.githubusercontent.com/506234/112112323-ffdee200-8b7a-11eb-9159-2f2ab16a8920.png)

But don't know why it down

[2021-03-23 14:11] vincentqb commented on #1406
The instructions to build from source are given [here](https://github.com/pytorch/audio/blob/master/CONTRIBUTING.md). In particular, are you providing `BUILD_SOX=1` option?

[2021-03-23 18:41] tyoc213 commented on #1406
@vincentqb I think I was able to compile locally torchaudio, but Im getting this

`RuntimeError: Error opening '/home/tyoc213/.cache/huggingface/datasets/downloads/extracted/__hash__/cv-corpus-6.1-2020-12-11/tr/clips/common_voice_tr_21921195.mp3': File contains data in an unknown format.`

While executing

`common_voice_train = common_voice_train.map(speech_file_to_array_fn, remove_columns=common_

[2021-03-23 19:12] cpuhrsch commented on #1406
There are currently issues with CUDA 11.x. Please see https://github.com/pytorch/pytorch/issues/51080

[2021-03-23 19:23] tyoc213 commented on #1406
yep, I also tried to install from nightly, but it is only possible for torch1.9-cu112, if you add the audio or vision packages, they make it uninstall 1.9 and install a cpu 1.8 version with this `!pip install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu112/torch_nightly.html`, it install 1.9-cu112 if you only do `!pip install --pre torch  -f https://download.py

[2021-03-23 19:33] cpuhrsch commented on #1406
cc @malfet @seemethere

[2021-03-23 19:45] seemethere commented on #1406
We are not currently building for CUDA 11.2 due to performance issues. Would you mind retrying this with the CUDA 11.1 binaries?

[2021-03-23 20:08] tyoc213 commented on #1406
@seemethere do I need to install 11.1 drivers isn't? IIRC because I have a 3090 so compiled versions complains about sm85 not supported IIRC.

[2021-03-23 21:16] tyoc213 commented on #1406
Well it seems that I don't need to uninstall drivers and install 11.1, seems to be working with `pip install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu111/torch_nightly.html`. So now I have an env to work.

But still if I want to compile correctly for the 11.2 driver without runtime errors https://github.com/pytorch/audio/issues/1406#issuecomment-805142263

W

[2021-03-23 21:36] vincentqb commented on #588
I'd welcome a pull request that implements CQT and its inverse. The pull request does need to test against librosa as a reference. If you are interested in working on such a pull request, please feel free to do so :)

[2021-03-23 22:22] vincentqb commented on #588
There is no plan currently, but I'd welcome a pull request from the community that implements CQT and its inverse. If you are interested in working on such a pull request, please feel free to do so :)
- The pull request does need to test against librosa as a reference.
- For performance, we should compare the implementation between librosa and torchaudio using timeit and see what is the speed diff

[2021-03-26 07:22] hjlee9182 opened #1407 "I have a question about mel spectrogram."
## ❓ Questions and Help

Hi guys I have a question
1. First picture. I'm using torchaudio.Melspectrogram and that result size (2,128,16846).
       So I don't understand because I think mel spectrogram x-axis is time.
       How to calculate that's x-axis? ( 16846) , this audio length is 196s. and what ms per frame?
![image](https://user-images.githubusercontent.com/46337218/112596504-42404180-8e4

[2021-03-26 14:48] ChenPaulYu opened #1408 "run lowpass_biquad in gpu is much slower that run in cpu"
## 🐛 Bug

Hi everyone, I am doing some experiments via lowpass_biquad filter in torchaudio, but I was trying to use GPU to speed up by code. I found that running the lowpass_biquad filter in GPU is much slower than running in CPU (x 200 slower). I am not sure whether it is a bug, but I am curious about whether anyone has the same situation as me?

## To Reproduce

[code]

[code]

## Expected behav

[2021-03-26 22:37] vincentqb commented on #1278
If the goal is to experiment with the latest features, one can also use the nightly versions, e.g. [here](https://pytorch.org/get-started/previous-versions/).

[2021-03-28 08:32] yoyololicon commented on #1408
In torchaudio, a highly optimized  implementation of lfilter is used when input tensor is on cpu.

The lowpass_biquad function use lfilter internally, so I think it's possible to have performance degradation when running on gpu, depends on what type of gpu you are using.

Also, cuda needs some warm up time, try a second run on gpu and you should get a better and more accurate result.

[2021-03-28 08:49] yoyololicon commented on #1407
@hjlee9182

I would recommend you checking the value of `sr`, it might not be 16000.

Use `librosa.load('test.mp3', sr=None, mono=False)` should give the accurate result.
Again, please check whether `sr` is indeed 16000.

#

[2021-03-28 17:41] HuangZiliAndy opened #1409 "length mismatch for istft"
## 🐛 Bug

Hi I am having some trouble with torch.istft. It seems that the length doesn't match even when I specify the length (this issue seems to happen with very small probability).

## To Reproduce

Steps to reproduce the behavior:

1. download stft.pt from [link](https://drive.google.com/file/d/1TjwwGFEotsjAay0osCqw1IlcuANX675R/view?usp=sharing)
1. run the following code

import torch

fname =

[2021-03-29 06:24] hjlee9182 commented on #1407
@yoyololicon

Yes , sr is 44100. and I did re-run mel spectrogram(sr =44100), but size is not change(2,128,16846).

I try to this code. mono option occured error. so I try `librosa.load('test.mp3',sr=None)`
It's result (128,16842)!

[2021-03-29 06:37] yoyololicon commented on #1407
@hjlee9182
What version of librosa are you using? Old version of librosa always mix down the signal to mono and didn't have `mono` keywords.

The number of frames can be calculated by 192 * 44100 / 512 ~= 16882. I think it's pretty close to your result. ms per frame is 512 / 44100 * 1000 ~= 11.6 ms.

[2021-03-29 06:46] hjlee9182 commented on #1407
@yoyololicon

Thank you for your answer.
So I have one another question.
What is difference between  sr =16000's result and sr=44100's result ?
That's size is same.

[2021-03-29 06:58] yoyololicon commented on #1407
The output shape of mel is determined by `n_fft`, `hop_length` and some other keywords, but not the sampling rate.
The sampling rate affects the calculation of mel frequenceis, so different sr will have different mel filters.

[2021-03-29 07:10] hjlee9182 commented on #1407
@yoyololicon

Really thanks your answer!!

[2021-03-29 15:08] vincentqb commented on #1409
Since I don't have visibility over `stft_feat`, I cannot comment on that part. However, have you tried with another library? In particular `torch.istft` is meant to match with [librosa](https://librosa.org/doc/main/generated/librosa.istft.html)'s. Have you tried with the latter?

[2021-03-29 15:25] #1388 closed

[2021-03-29 15:34] HuangZiliAndy commented on #1409
Hi I think I already attach a link for the stft_feat (https://drive.google.com/file/d/1TjwwGFEotsjAay0osCqw1IlcuANX675R/view?usp=sharing) Would you mind downloading it and have a try? I will also try the librosa and give you feedback. Thanks!